backup/03---subworflow-api-5Wk0LQd6R3jlACQ2.json
{
  "updatedAt": "2026-05-06T18:18:51.065Z",
  "createdAt": "2026-04-15T13:14:36.764Z",
  "id": "5Wk0LQd6R3jlACQ2",
  "name": "03 - Subworflow API",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "base_url",
              "value": "https://server-qa.agronegociar.com.br/cbc-dev",
              "type": "string"
            },
            {
              "id": "c2",
              "name": "email",
              "value": "dev_test_2@getmia.com.br",
              "type": "string"
            },
            {
              "id": "410784b4-c54b-492f-94e2-c5ceb3cc76d4",
              "name": "phone_number",
              "value": "11969433278",
              "type": "string"
            },
            {
              "id": "a8bff31f-c614-42fb-8337-ef16ab4f0465",
              "name": "authKey",
              "value": "QA-5IdNpvXkIM9wKKqzpp3f",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88a64e35-2eb1-4ae9-8e3f-f6aa3afc2e86",
      "name": "Configuracao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2768,
        5264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.base_url }}/public/resources/auth/phone-token",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phoneNumber\": \"{{ $json.phone_number }}\",\n  \"authKey\": \"{{ $json.authKey }}\",\n  \"email\": \"{{ $json.email }}\"\n}",
        "options": {}
      },
      "id": "ea4bf3fa-751a-4a5e-ad81-fbeae9d49c62",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2992,
        5264
      ],
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao').item.json.base_url }}/public/resources/products/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('config_agg22').item.json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"translation\": true, \"property\": \"name\", \"operator\": \"ilike\", \"data\": \"{{ $json.product_text }}\" }]",
        "options": {}
      },
      "id": "f268162c-7d2b-4914-9eeb-12cf63118abf",
      "name": "Buscar Produtos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4464,
        5264
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('Configuracao').item.json.base_url }}/private/resources/currency/get-all",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "4b87a049-0eb2-4d0f-8d20-4592c0c9cd88",
      "name": "Listar Moedas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4736,
        5264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/private/resources/products/logistics/{{ $json.product_object.id }}?data=",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "98c9b875-94e9-43e7-b7b3-04d34ba18b62",
      "name": "Listar Logistica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6096,
        5264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg22').item.json.base_url }}/public/resources/cities/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    { \"property\": \"name\",    \"operator\": \"ilike\", \"data\": \"{{ $json.city }}\" },     { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } ]",
        "options": {}
      },
      "id": "c7b42bb0-1e5a-4e7d-9e1d-ce936fd445ae",
      "name": "Listar Cidade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6944,
        5264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54637e15-f826-448c-b924-370ca6ad1394",
              "name": "operation",
              "value": "={{ $('When Executed by Another Workflow').item.json.tipo.toLowerCase() === 'compra' ? '1' : '2' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3648,
        5264
      ],
      "id": "5459763c-e050-46cd-9a90-ed231215cb7a",
      "name": "Gostaria de comprar ou de vender?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fb1b629-dda6-4ec0-8624-6f563a51b79f",
              "name": "period",
              "value": "={{ $('When Executed by Another Workflow').item.json.validade }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        5264
      ],
      "id": "ab65cf74-7a9e-475d-a87a-d0c9d733edbd",
      "name": "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e4bc47-e1f8-45c6-9996-9c3aefcabfb5",
              "name": "product_text",
              "value": "={{ $('When Executed by Another Workflow').item.json.produto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        5264
      ],
      "id": "aaebcac8-07d1-4227-9821-4dff2a18cda3",
      "name": "Qual produto gostaria de comprar/vender?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "062409c7-f0ae-48bd-bb07-f73df6b003e7",
              "name": "currency",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        5264
      ],
      "id": "422711fa-d475-48a4-80e7-4ae9abf12133",
      "name": "qual moeda quer anunciar seu produto",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1d7bcf9-6cdb-4b3d-a992-bfd5c3ea66d3",
              "name": "weight_unit",
              "value": "={{ \n(() => {\n  const lista = $( \"Listar Unidade Medida\" ).all().map(i => i.json);\n  const unidadeDaIA = $('When Executed by Another Workflow').first().json.unidade;\n  const buscaIA = ( unidadeDaIA || \"\" ).toLowerCase().trim();\n  \n  // 1. Tenta encontrar uma correspondência exata (ex: \"saca\" === \"saca\")\n  let encontrado = lista.find(item => \n    (item.translations?.pt || \"\").toLowerCase() === buscaIA\n  );\n\n  // 2. Se não achar exato, tenta o que começa com a palavra (ex: \"saca\" em \"saca 60kg\")\n  if (!encontrado) {\n    encontrado = lista.find(item => \n      (item.translations?.pt || \"\").toLowerCase().includes(buscaIA)\n    );\n  }\n\n  if (!encontrado) {\n    throw new Error(`Unidade '${unidadeDaIA}' não encontrada.`);\n  }\n\n  return encontrado.id; \n})()\n}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5392,
        5264
      ],
      "id": "5b229aba-4418-4479-8225-8fb8dcd71a9e",
      "name": "qual unidade de medida?",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "711c9ef9-30e5-4657-ab5d-46046d6c3b0a",
              "name": "currency_value",
              "value": "={{ $('When Executed by Another Workflow').item.json.preco }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5632,
        5264
      ],
      "id": "149ad608-6f72-4241-99dc-a67c80488055",
      "name": "qual o valor por unidade de medida?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff01496-bd5d-4a12-85c0-88634788e26e",
              "name": "quantity",
              "value": "={{ $('When Executed by Another Workflow').item.json.quantidade }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5856,
        5264
      ],
      "id": "5d4ab50d-ae33-4d5e-a346-6efc0f8b36ac",
      "name": "qual a quantidade em [unidade escolhida] quer anunciar?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8a0ab77-5fa2-475a-9e5d-670805f0b3df",
              "name": "logistic",
              "value": "={{ $('When Executed by Another Workflow').item.json.logistica.toUpperCase() === 'CIF' ? 4 : 6 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6368,
        5264
      ],
      "id": "1461e3af-13ad-45d5-bfff-a43ad428d337",
      "name": "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905ef75d-3888-494d-b357-1741bbeea903",
              "name": "city",
              "value": "={{ $('When Executed by Another Workflow').item.json.cidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6640,
        5264
      ],
      "id": "f213742e-ebb4-4e74-bd93-0e542e76dc21",
      "name": "Qual a cidade?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1d118cd-e291-4f98-8076-f843bbc6b3e1",
              "name": "=enuns",
              "value": "={\n  \"BidOperations\": {\n    \"BUY\": 1,\n    \"SELL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BidMarkets\": {\n    \"INTERNAL_MARKET\": 1,\n    \"PORT\": 2,\n    \"EXTERNAL_MARKET\": 3\n  },\n  \"BidStatuses\": {\n    \"IN_PROGRESS\": 1,\n    \"WITHDRAWN\": 2,\n    \"EXPIRED\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"BidTypes\": {\n    \"INDICACAO\": 1,\n    \"OFERTA\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BidVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"AddressTypes\": {\n    \"HOME\": 1,\n    \"BUSINESS\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessAreas\": {\n    \"ALL\": 0,\n    \"GRAINS\": 1,\n    \"BYPRODUCT\": 2,\n    \"CHEMICALS\": 3,\n    \"OTHERS\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessStatuses\": {\n    \"ACTIVE\": 1,\n    \"INACTIVE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessTypes\": {\n    \"COMPANY\": 1,\n    \"STOCKBROKER\": 2,\n    \"STOCKHOLDER\": 2,\n    \"SHAREHOLDER\": 2,\n    \"SMALL_PRODUCER\": 5,\n    \"FOREIGN_COMPANY\": 6,\n    \"UNKNOWN\": -1\n  },\n  \"Countries\": {\n    \"BRASIL\": 1,\n    \"USA\": 2,\n    \"ESPANHA\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"Currencies\": {\n    \"EU\": 1,\n    \"BRL\": 2,\n    \"USD\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"DealProposalVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"DealStatuses\": {\n    \"CONTRAINDICACAO\": 1,\n    \"OFERTA_FIRME\": 2,\n    \"NAO_ATENDIDO\": 3,\n    \"AGUARDANDO_APROVACAO\": 4,\n    \"NEGOCIO_FECHADO\": 5,\n    \"RETIRADO\": 6,\n    \"EXPIRADO\": 7,\n    \"UNKNOWN\": -1\n  },\n  \"FileTypes\": {\n    \"PHOTO\": 1,\n    \"CONTRACT\": 2,\n    \"LOGO\": 3,\n    \"PRODUCT_IMAGE\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceAcesses\": {\n    \"OPEN\": 1,\n    \"PRIVATE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceInviteStatuses\": {\n    \"SENT\": 1,\n    \"ACCEPT\": 2,\n    \"REFUSE\": 3,\n    \"REQUESTED\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceStatuses\": {\n    \"ACTIVE\": 1,\n    \"INACTIVE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceTypes\": {\n    \"EXCLUSIVE_ROOM\": 1,\n    \"STOCKBROKER_ROOM\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"PaymentMethods\": {\n    \"PIX\": 1,\n    \"CREDIT_CARD\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"PhoneTypes\": {\n    \"HOME\": 1,\n    \"CELLPHONE\": 2,\n    \"BUSINESS\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"RoleTypes\": {\n    \"MASTER\": 1,\n    \"USER\": 2,\n    \"ADMINISTRATIVE\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"UserStatuses\": {\n    \"ACTIVE\": 1,\n    \"APPROVAL\": 2,\n    \"INACTIVE\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"UserTypes\": {\n    \"COMPANY\": 1,\n    \"STOCKBROKER\": 2,\n    \"STOCKHOLDER\": 2,\n    \"SHAREHOLDER\": 2,\n    \"SMALL_PRODUCER\": 5,\n    \"FOREIGN_COMPANY\": 6,\n    \"ADMIN\": 7,\n    \"UNKNOWN\": -1\n  },\n  \"SearchTypes\": {\n    \"NE\": \"ne\",\n    \"EQUAL\": \"equal\",\n    \"IN_ARRAY\": \"in_array\",\n    \"IN\": \"in\",\n    \"IN_MARKET\": \"in_market\",\n    \"NOT_IN_MARKET\": \"not_in_market\",\n    \"NOT_IN\": \"not_in\",\n    \"IN_ID\": \"in_id\",\n    \"IN_ROLES\": \"in_roles\",\n    \"NOT_IN_ROLES\": \"not_in_roles\",\n    \"LIKE\": \"like\",\n    \"ILIKE\": \"ilike\",\n    \"IEQUAL\": \"iequal\",\n    \"FULL_TEXT_SEARCH\": \"full_text_search\",\n    \"GT\": \"gt\",\n    \"GE\": \"ge\",\n    \"LT\": \"lt\",\n    \"LE\": \"le\",\n    \"GT_NULL\": \"gt_null\",\n    \"GE_NULL\": \"ge_null\",\n    \"LT_NULL\": \"lt_null\",\n    \"LE_NULL\": \"le_null\",\n    \"NULL\": \"null\",\n    \"UNKNOWN\": \"UNKNOWN\"\n  }\n}\n",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3424,
        5264
      ],
      "id": "f69cfad4-6cd5-4556-b2a4-204f7e413324",
      "name": "Enumeradores",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22ba1fa5-e803-467e-8c13-054e979bdae9",
              "leftValue": "={{ $(\"Nomes parecidos\").all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4528,
        5520
      ],
      "id": "9ad50516-1068-4223-b37a-c80ea7b02361",
      "name": "Se encontra produto único direto",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6876cd4c-d284-4aec-8828-1b825d1ff43c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4384,
        5520
      ],
      "id": "206a9f30-17db-4b40-9378-f84c8636627f",
      "name": "Nomes parecidos",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26c381fe-efb6-4098-8a6a-36c823b7d452",
              "name": "product_especific_text",
              "value": "={{ $('When Executed by Another Workflow').item.json.produto }}",
              "type": "string"
            },
            {
              "id": "f004208f-e560-4113-b930-219d6b65a7f0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        5776
      ],
      "id": "a9782da0-268a-4653-8066-9d04a801baa6",
      "name": "Nome Produto Específico",
      "alwaysOutputData": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao').item.json.base_url }}/public/resources/products/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('config_agg22').item.json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"translation\": true, \"property\": \"name\", \"operator\": \"iequal\", \"data\": \"{{ $json.product_especific_text }}\" }]",
        "options": {}
      },
      "id": "082a58bd-5171-4a4a-a987-f0f37f6ae8de",
      "name": "Buscar Produtos Especifico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4464,
        6016
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Configuracao').item.json.base_url }}/private/resources/products/price-units/{{ $json.product_object.id }}?data=&orderBy=name",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "910b24e4-7807-4b42-8a22-fad4b0d2eed6",
      "name": "Listar Unidade Medida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5184,
        5264
      ],
      "retryOnFail": false,
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n  $(\"config_agg22\").first().json,\n//resposta do usuário  \n  {operation: $json.operation }\n)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3648,
        5536
      ],
      "id": "e54ae8d8-3eb2-40a7-b4b3-34d92aa00eca",
      "name": "config_agg",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( $(\"Configuracao\").first().json,$(\"Login\").first().json ) }}",
        "options": {}
      },
      "id": "8c631479-f3f4-49fc-8043-cb773a88ba45",
      "name": "config_agg22",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3216,
        5264
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n  $(\"config_agg\").first().json,\n//resposta do usuário  \n  {\n    period_day: $json.period ,\n    period_hour: $json.period * 24\n  }\n)}}\n",
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3968,
        5536
      ],
      "id": "74a35d75-79bb-46df-b7fd-3efd9c445c3e",
      "name": "config_agg23",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nObject.assign(\n  $('config_agg23').first()?.json || {},\n  { \n    product_object: $(\"Buscar Produtos Especifico\").first()?.json || $(\"Buscar Produtos\").first()?.json || {}\n  }\n)\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        5504
      ],
      "id": "6700bdb0-14a6-4e36-9990-a45e2ae60c45",
      "name": "config_agg24",
      "alwaysOutputData": false,
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg24').first().json,\n//resposta do usuário  \n  {\n    currency_code: $json.currency\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4960,
        5504
      ],
      "id": "bfd4a4ac-8759-4046-bdcd-34c7916e24e1",
      "name": "config_agg25",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nObject.assign(\n  $('config_agg25').first()?.json || {},\n  { \n    weight_unit_object: $('Listar Unidade Medida').all().map(i => i.json).find(item => item.id == $('qual unidade de medida?').item.json.weight_unit) || $('Listar Unidade Medida').first()?.json || {}\n  }\n)\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5392,
        5504
      ],
      "id": "434da5f2-d252-488f-add9-b931a0863d77",
      "name": "config_agg26",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg26').first().json,\n//resposta do usuário \n  {\n    currency_value: $json.currency_value\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5632,
        5504
      ],
      "id": "24f5e713-6689-4a7f-bb8a-111248448070",
      "name": "config_agg27",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg27').first().json,\n//resposta do usuário \n  {\n    quantity: $json.quantity\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5856,
        5504
      ],
      "id": "36b0a47f-a3f7-4b5a-8144-697804ab5f9d",
      "name": "config_agg28",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg28').first().json,\n//unidade de medida selecionada \n  {\n   logistic_object : $('Listar Logistica').all().filter(item => item.json.id == $json.logistic).first().json\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6384,
        5520
      ],
      "id": "cd34dfe7-d43b-409a-bf58-cd14d6c680f4",
      "name": "config_agg29",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d1da97b-3eb0-4abc-a813-e91a2592299c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6896,
        5488
      ],
      "id": "3b4a764a-65c2-4503-8aa0-b763ec275ee4",
      "name": "nomes parecidos cidades",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4181c7ab-5dd1-4c7b-93db-5279b239212a",
              "leftValue": "={{ $(\"nomes parecidos cidades\").all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7056,
        5488
      ],
      "id": "6774c77f-7d90-4a26-b0ab-61a52b363bdf",
      "name": "If",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  Object.assign( \n    $('config_agg29').first().json,\n    {\n      city_object: (function() {\n        try {\n          // Tenta pegar do \"Especifico\" primeiro\n          return $('Listar Cidade Especifico').first().json;\n        } catch (e) {\n          // Se não foi executado, pega do \"Listar Cidade\" original\n          return $('Listar Cidade').first().json;\n        }\n      })()\n    }\n  )\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7296,
        5472
      ],
      "id": "6b3b13d9-0ab6-4bbf-ad2d-99bca36f0ab3",
      "name": "config_agg30",
      "executeOnce": true,
      "retryOnFail": true,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg22').item.json.base_url }}/public/resources/cities/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    \n  { \"property\": \"name\", \"operator\": \"ilike\", \"data\": \"{{ $(\"Qual a cidade?\").first().json.city }}\" },\n  { \"property\": \"stateId\", \"operator\": \"equal\", \"data\":  \"{{ $json.id }}\" },\n  { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } \n]",
        "options": {}
      },
      "id": "9e979cec-8901-4149-856c-6b99896fec58",
      "name": "Listar Cidade Especifico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7072,
        5952
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905ef75d-3888-494d-b357-1741bbeea903",
              "name": "state",
              "value": "={{ $('When Executed by Another Workflow').item.json.estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6976,
        5712
      ],
      "id": "5586f891-147e-4776-a5dd-f0c25e07451b",
      "name": "Qual estado?",
      "executeOnce": true,
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg22').item.json.base_url }}/public/resources/states/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    \n  { \"property\": \"uf\", \"operator\": \"iequal\", \"data\":  \"{{ $(\"Qual estado?\").first().json.state }}\" },\n  { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } \n]",
        "options": {}
      },
      "id": "13e4f721-d121-42d5-a649-2449cca2ee99",
      "name": "Listar Estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6912,
        5952
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg30').first().json,\n//unidade de medida selecionada \n  {\n   comments : $json.comments\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7520,
        5472
      ],
      "id": "e8a78047-c98a-4440-b062-ce6d526ca782",
      "name": "config_agg31",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee4504b-df86-4f85-acb4-5027e52a9693",
              "name": "comments",
              "value": "Algum texto de comentário",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7520,
        5264
      ],
      "id": "cd2fa5ce-9438-4cdb-8b50-fb70828c4803",
      "name": "Inclua um comentario",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n  {\n    \"marketId\": 1,\n    \"operationId\": $('config_agg31').item.json.operation,\n    \"typeId\": 2,\n    \"product\": $('config_agg31').item.json.product_object,\n    \"visibilityId\": 2,\n    \"currencyId\": $('config_agg31').item.json.currency_code,\n    \"price\": $('config_agg31').item.json.currency_value,\n    \"priceUnit\": $('config_agg31').item.json.weight_unit_object,\n    \"quantity\": $('config_agg31').item.json.quantity,\n    \"quantityUnit\": $('config_agg31').item.json.weight_unit_object,\n    \"pickUp\": $('config_agg31').item.json.city_object,\n    \"pickUpDescription\": null,\n    \"logistics\": $('config_agg31').item.json.logistic_object,\n    \"note\": $('config_agg31').item.json.comments,\n    \"urlYouTube\": null,\n    \"areaId\": 1,\n    \"duration\": $('config_agg31').item.json.period_hour + \":00\",\n    \"files\": []\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7984,
        5264
      ],
      "id": "efd9a248-a2bf-4e78-bc73-b08b1b1232fb",
      "name": "payload",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9cc7734-abf9-49f1-940f-f04458644582",
              "name": "Resumo",
              "value": "=Operação : {{ $json.operation == 1 ? 'Compra' : $json.operation == 2 ? 'Venda' : ''   }}\nProduto : {{ $json.product_object.name }}\nPreço : R${{ $json.currency_value }} / {{ $json.weight_unit_object.translations.pt }}\nQuantidade : {{ $json.quantity }} {{ $json.weight_unit_object.translations.pt }}\nLocal : {{ $json.city_object.name }} / {{ $json.city_object.state.uf }}\nFrete : {{ $json.logistic_object.translations.pt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7792,
        5264
      ],
      "id": "4154c02e-5830-4451-a4be-863940d6e037",
      "name": "Resumo",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao').item.json.base_url }}/private/resources/bid/id",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('config_agg22').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Lang",
              "value": "pt"
            },
            {
              "name": "X-Tenant"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('payload').first().json }}",
        "options": {}
      },
      "id": "e493ffa1-5af3-41b9-ab48-aa336856f289",
      "name": "Criar Lote (Mercado Brasil)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8240,
        5264
      ],
      "retryOnFail": true,
      "notesInFlow": false,
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tipo"
            },
            {
              "name": "produto"
            },
            {
              "name": "preco",
              "type": "number"
            },
            {
              "name": "quantidade",
              "type": "number"
            },
            {
              "name": "unidade"
            },
            {
              "name": "logistica"
            },
            {
              "name": "cidade"
            },
            {
              "name": "estado"
            },
            {
              "name": "validade",
              "type": "number"
            },
            {
              "name": "token"
            },
            {
              "name": "phone_number"
            },
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3008,
        6912
      ],
      "id": "9cd599c5-34e8-422c-86c0-93d10793d5cf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a8bff31f-c614-42fb-8337-ef16ab4f0465",
              "name": "authKey",
              "value": "QA-5IdNpvXkIM9wKKqzpp3f",
              "type": "string"
            },
            {
              "id": "6a414c5d-a2bf-41f2-ac4a-5342731bba67",
              "name": "base_url",
              "value": "https://server-qa.agronegociar.com.br/cbc-dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b6e8468-472e-49ff-8d60-38e09158ad66",
      "name": "Configuracao1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        6912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao1').item.json.base_url }}/public/resources/products/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('config_agg32').item.json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"translation\": true, \"property\": \"name\", \"operator\": \"ilike\", \"data\": \"{{ $json.product_text }}\" }]",
        "options": {}
      },
      "id": "32deca2c-bd4f-4506-8086-9eb1cba2df77",
      "name": "Buscar Produtos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4768,
        6912
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $('Configuracao1').item.json.base_url }}/private/resources/currency/get-all",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "a3a95876-f78d-43d3-b4d9-d22bbd3ff3a1",
      "name": "Listar Moedas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5040,
        6912
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.base_url }}/private/resources/products/logistics/{{ $json.product_object.id }}?data=",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "9da4e525-ff57-44a3-b87c-7e483253535e",
      "name": "Listar Logistica1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        6400,
        6912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg32').item.json.base_url }}/public/resources/cities/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    { \"property\": \"name\",    \"operator\": \"ilike\", \"data\": \"{{ $json.city }}\" },     { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } ]",
        "options": {}
      },
      "id": "ffaef164-d722-46d2-aaa5-9c55ee3b933c",
      "name": "Listar Cidade1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7248,
        6912
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54637e15-f826-448c-b924-370ca6ad1394",
              "name": "operation",
              "value": "={{ $('When Executed by Another Workflow').item.json.tipo.toLowerCase() === 'compra' ? '1' : '2' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        6912
      ],
      "id": "66ba70e9-6031-4c0d-b37c-e044d446eb87",
      "name": "Gostaria de comprar ou de vender?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9fb1b629-dda6-4ec0-8624-6f563a51b79f",
              "name": "period",
              "value": "={{ $('When Executed by Another Workflow').item.json.validade }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        6912
      ],
      "id": "44a2498c-e1b1-4091-98e4-c4f3fa7ffcec",
      "name": "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0e4bc47-e1f8-45c6-9996-9c3aefcabfb5",
              "name": "product_text",
              "value": "={{ $('When Executed by Another Workflow').item.json.produto }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        6912
      ],
      "id": "61960304-74fc-485d-8d13-7370543487d7",
      "name": "Qual produto gostaria de comprar/vender?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "062409c7-f0ae-48bd-bb07-f73df6b003e7",
              "name": "currency",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5264,
        6912
      ],
      "id": "c468a30e-8f97-4f71-a176-787e3ca04615",
      "name": "qual moeda quer anunciar seu produto1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1d7bcf9-6cdb-4b3d-a992-bfd5c3ea66d3",
              "name": "weight_unit",
              "value": "={{ \n(() => {\n  const lista = $( \"Listar Unidade Medida\" ).all().map(i => i.json);\n  const unidadeDaIA = $('When Executed by Another Workflow').first().json.unidade;\n  const buscaIA = ( unidadeDaIA || \"\" ).toLowerCase().trim();\n  \n  // 1. Tenta encontrar uma correspondência exata (ex: \"saca\" === \"saca\")\n  let encontrado = lista.find(item => \n    (item.translations?.pt || \"\").toLowerCase() === buscaIA\n  );\n\n  // 2. Se não achar exato, tenta o que começa com a palavra (ex: \"saca\" em \"saca 60kg\")\n  if (!encontrado) {\n    encontrado = lista.find(item => \n      (item.translations?.pt || \"\").toLowerCase().includes(buscaIA)\n    );\n  }\n\n  if (!encontrado) {\n    throw new Error(`Unidade '${unidadeDaIA}' não encontrada.`);\n  }\n\n  return encontrado.id; \n})()\n}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        6912
      ],
      "id": "0a6ce95d-0925-4fe8-ac2e-91a98548611a",
      "name": "qual unidade de medida?1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "711c9ef9-30e5-4657-ab5d-46046d6c3b0a",
              "name": "currency_value",
              "value": "={{ $('When Executed by Another Workflow').item.json.preco }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5936,
        6912
      ],
      "id": "a6967ac2-92bb-465c-8b05-8314007854fd",
      "name": "qual o valor por unidade de medida?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ff01496-bd5d-4a12-85c0-88634788e26e",
              "name": "quantity",
              "value": "={{ $('When Executed by Another Workflow').item.json.quantidade }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        6912
      ],
      "id": "d173be2d-be25-4416-a9b6-a1dfc3df779d",
      "name": "qual a quantidade em [unidade escolhida] quer anunciar?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8a0ab77-5fa2-475a-9e5d-670805f0b3df",
              "name": "logistic",
              "value": "={{ $('When Executed by Another Workflow').item.json.logistica.toUpperCase() === 'CIF' ? 4 : 6 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6672,
        6912
      ],
      "id": "0d67abb4-0193-46af-993c-076e63108e11",
      "name": "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905ef75d-3888-494d-b357-1741bbeea903",
              "name": "city",
              "value": "={{ $('When Executed by Another Workflow').item.json.cidade }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6944,
        6912
      ],
      "id": "875027f8-e975-46bd-b486-1a5a64d8a67e",
      "name": "Qual a cidade?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1d118cd-e291-4f98-8076-f843bbc6b3e1",
              "name": "=enuns",
              "value": "={\n  \"BidOperations\": {\n    \"BUY\": 1,\n    \"SELL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BidMarkets\": {\n    \"INTERNAL_MARKET\": 1,\n    \"PORT\": 2,\n    \"EXTERNAL_MARKET\": 3\n  },\n  \"BidStatuses\": {\n    \"IN_PROGRESS\": 1,\n    \"WITHDRAWN\": 2,\n    \"EXPIRED\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"BidTypes\": {\n    \"INDICACAO\": 1,\n    \"OFERTA\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BidVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"AddressTypes\": {\n    \"HOME\": 1,\n    \"BUSINESS\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessAreas\": {\n    \"ALL\": 0,\n    \"GRAINS\": 1,\n    \"BYPRODUCT\": 2,\n    \"CHEMICALS\": 3,\n    \"OTHERS\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessStatuses\": {\n    \"ACTIVE\": 1,\n    \"INACTIVE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"BusinessTypes\": {\n    \"COMPANY\": 1,\n    \"STOCKBROKER\": 2,\n    \"STOCKHOLDER\": 2,\n    \"SHAREHOLDER\": 2,\n    \"SMALL_PRODUCER\": 5,\n    \"FOREIGN_COMPANY\": 6,\n    \"UNKNOWN\": -1\n  },\n  \"Countries\": {\n    \"BRASIL\": 1,\n    \"USA\": 2,\n    \"ESPANHA\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"Currencies\": {\n    \"EU\": 1,\n    \"BRL\": 2,\n    \"USD\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"DealProposalVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"DealStatuses\": {\n    \"CONTRAINDICACAO\": 1,\n    \"OFERTA_FIRME\": 2,\n    \"NAO_ATENDIDO\": 3,\n    \"AGUARDANDO_APROVACAO\": 4,\n    \"NEGOCIO_FECHADO\": 5,\n    \"RETIRADO\": 6,\n    \"EXPIRADO\": 7,\n    \"UNKNOWN\": -1\n  },\n  \"FileTypes\": {\n    \"PHOTO\": 1,\n    \"CONTRACT\": 2,\n    \"LOGO\": 3,\n    \"PRODUCT_IMAGE\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceAcesses\": {\n    \"OPEN\": 1,\n    \"PRIVATE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceInviteStatuses\": {\n    \"SENT\": 1,\n    \"ACCEPT\": 2,\n    \"REFUSE\": 3,\n    \"REQUESTED\": 4,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceStatuses\": {\n    \"ACTIVE\": 1,\n    \"INACTIVE\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceTypes\": {\n    \"EXCLUSIVE_ROOM\": 1,\n    \"STOCKBROKER_ROOM\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"MarketplaceVisibilities\": {\n    \"OPEN\": 1,\n    \"CONFIDENCIAL\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"PaymentMethods\": {\n    \"PIX\": 1,\n    \"CREDIT_CARD\": 2,\n    \"UNKNOWN\": -1\n  },\n  \"PhoneTypes\": {\n    \"HOME\": 1,\n    \"CELLPHONE\": 2,\n    \"BUSINESS\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"RoleTypes\": {\n    \"MASTER\": 1,\n    \"USER\": 2,\n    \"ADMINISTRATIVE\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"UserStatuses\": {\n    \"ACTIVE\": 1,\n    \"APPROVAL\": 2,\n    \"INACTIVE\": 3,\n    \"UNKNOWN\": -1\n  },\n  \"UserTypes\": {\n    \"COMPANY\": 1,\n    \"STOCKBROKER\": 2,\n    \"STOCKHOLDER\": 2,\n    \"SHAREHOLDER\": 2,\n    \"SMALL_PRODUCER\": 5,\n    \"FOREIGN_COMPANY\": 6,\n    \"ADMIN\": 7,\n    \"UNKNOWN\": -1\n  },\n  \"SearchTypes\": {\n    \"NE\": \"ne\",\n    \"EQUAL\": \"equal\",\n    \"IN_ARRAY\": \"in_array\",\n    \"IN\": \"in\",\n    \"IN_MARKET\": \"in_market\",\n    \"NOT_IN_MARKET\": \"not_in_market\",\n    \"NOT_IN\": \"not_in\",\n    \"IN_ID\": \"in_id\",\n    \"IN_ROLES\": \"in_roles\",\n    \"NOT_IN_ROLES\": \"not_in_roles\",\n    \"LIKE\": \"like\",\n    \"ILIKE\": \"ilike\",\n    \"IEQUAL\": \"iequal\",\n    \"FULL_TEXT_SEARCH\": \"full_text_search\",\n    \"GT\": \"gt\",\n    \"GE\": \"ge\",\n    \"LT\": \"lt\",\n    \"LE\": \"le\",\n    \"GT_NULL\": \"gt_null\",\n    \"GE_NULL\": \"ge_null\",\n    \"LT_NULL\": \"lt_null\",\n    \"LE_NULL\": \"le_null\",\n    \"NULL\": \"null\",\n    \"UNKNOWN\": \"UNKNOWN\"\n  }\n}\n",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3728,
        6912
      ],
      "id": "612c8b16-d2d8-4a58-8c90-6e23f459e24b",
      "name": "Enumeradores1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "22ba1fa5-e803-467e-8c13-054e979bdae9",
              "leftValue": "={{ $(\"Nomes parecidos1\").all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4832,
        7168
      ],
      "id": "a73dc61f-e2dd-47be-9376-312d9ddd11f6",
      "name": "Se encontra produto único direto1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6876cd4c-d284-4aec-8828-1b825d1ff43c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4688,
        7168
      ],
      "id": "a16ff2f8-4c05-4b4e-9566-9a662a597338",
      "name": "Nomes parecidos1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26c381fe-efb6-4098-8a6a-36c823b7d452",
              "name": "product_especific_text",
              "value": "={{ $('When Executed by Another Workflow').item.json.produto }}",
              "type": "string"
            },
            {
              "id": "f004208f-e560-4113-b930-219d6b65a7f0",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        7424
      ],
      "id": "d4b9f17e-008d-4321-9957-f55e812a65fa",
      "name": "Nome Produto Específico1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao1').item.json.base_url }}/public/resources/products/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('config_agg32').item.json.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \"translation\": true, \"property\": \"name\", \"operator\": \"iequal\", \"data\": \"{{ $json.product_especific_text }}\" }]",
        "options": {}
      },
      "id": "47cc8945-935d-4d40-b2e0-fc33974f2d82",
      "name": "Buscar Produtos Especifico1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4768,
        7664
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Configuracao1').item.json.base_url }}/private/resources/products/price-units/{{ $json.product_object.id }}?data=&orderBy=name",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "c70089b2-1a8f-4972-999b-dbf59a3fda3d",
      "name": "Listar Unidade Medida1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5488,
        6912
      ],
      "retryOnFail": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n  $(\"config_agg32\").first().json,\n//resposta do usuário  \n  {operation: $json.operation }\n)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        7184
      ],
      "id": "7eeece04-31f1-4c87-a051-74a49855918c",
      "name": "config_agg1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ \n {\n  \"base_url\": $(\"Configuracao1\").first().json.base_url,\n  \"email\": $(\"When Executed by Another Workflow\").first().json.email,\n  \"phone_number\": $(\"When Executed by Another Workflow\").first().json.phoneNumber,\n  \"authKey\": $(\"Configuracao1\").first().json.authKey,\n  \"token\": $(\"When Executed by Another Workflow\").first().json.token,\n  \"operation\": $(\"When Executed by Another Workflow\").first().json.tipo.toLowerCase() === 'compra' ? '1' : '2'\n }\n}}",
        "options": {}
      },
      "id": "67963f16-c427-4ca1-aad8-ced230bd91c9",
      "name": "config_agg32",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3520,
        6912
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n  $(\"config_agg1\").first().json,\n//resposta do usuário  \n  {\n    period_day: $json.period ,\n    period_hour: $json.period * 24\n  }\n)}}\n",
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        7184
      ],
      "id": "2b12c095-a066-4330-ae4d-3f8cd66bb4da",
      "name": "config_agg33"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nObject.assign(\n  $('config_agg33').first()?.json || {},\n  { \n    product_object: $(\"Buscar Produtos Especifico1\").first()?.json || $(\"Buscar Produtos1\").first()?.json || {}\n  }\n)\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5056,
        7152
      ],
      "id": "3edac132-d3e0-4b96-8e2c-19039c4e6829",
      "name": "config_agg34",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg34').first().json,\n//resposta do usuário  \n  {\n    currency_code: $json.currency\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5264,
        7152
      ],
      "id": "99a9204e-218a-4395-b945-696f0293fd89",
      "name": "config_agg35",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \nObject.assign(\n  $('config_agg35').first()?.json || {},\n  { \n    weight_unit_object: $('Listar Unidade Medida1').all().map(i => i.json).find(item => item.id == $('qual unidade de medida?1').item.json.weight_unit) || $('Listar Unidade Medida1').first()?.json || {}\n  }\n)\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5696,
        7152
      ],
      "id": "a726939d-3b21-4352-a3aa-f54157b60d47",
      "name": "config_agg36"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg36').first().json,\n//resposta do usuário \n  {\n    currency_value: $json.currency_value\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5936,
        7152
      ],
      "id": "672792ae-2d5a-47f8-b952-33e487f97459",
      "name": "config_agg37"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg37').first().json,\n//resposta do usuário \n  {\n    quantity: $json.quantity\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6160,
        7152
      ],
      "id": "a67d151c-ef08-49f2-acb1-ca01d6b10309",
      "name": "config_agg38"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg38').first().json,\n//unidade de medida selecionada \n  {\n   logistic_object : $('Listar Logistica1').all().filter(item => item.json.id == $json.logistic).first().json\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6688,
        7168
      ],
      "id": "3939b979-e028-4d5e-97fe-e90844bfa269",
      "name": "config_agg39"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d1da97b-3eb0-4abc-a813-e91a2592299c",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7200,
        7136
      ],
      "id": "34b7542c-5fda-4549-bce4-49ef56fe29a2",
      "name": "nomes parecidos cidades1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4181c7ab-5dd1-4c7b-93db-5279b239212a",
              "leftValue": "={{ $(\"nomes parecidos cidades1\").all().length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        7360,
        7136
      ],
      "id": "61996911-79df-4fd6-8647-231bff74bbe0",
      "name": "If1",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n  Object.assign( \n    $('config_agg39').first().json,\n    {\n      city_object: (function() {\n        try {\n          // Tenta pegar do \"Especifico\" primeiro\n          return $('Listar Cidade Especifico1').first().json;\n        } catch (e) {\n          // Se não foi executado, pega do \"Listar Cidade\" original\n          return $('Listar Cidade1').first().json;\n        }\n      })()\n    }\n  )\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7600,
        7120
      ],
      "id": "bff21840-c5ee-4045-a48a-122d5bd0fdf1",
      "name": "config_agg40",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg32').item.json.base_url }}/public/resources/cities/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    \n  { \"property\": \"name\", \"operator\": \"ilike\", \"data\": \"{{ $(\"Qual a cidade?1\").first().json.city }}\" },\n  { \"property\": \"stateId\", \"operator\": \"equal\", \"data\":  \"{{ $json.id }}\" },\n  { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } \n]",
        "options": {}
      },
      "id": "29885c3b-3a0c-4edc-b640-ad1f9d54878a",
      "name": "Listar Cidade Especifico1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7376,
        7600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "905ef75d-3888-494d-b357-1741bbeea903",
              "name": "state",
              "value": "={{ $('When Executed by Another Workflow').item.json.estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7280,
        7360
      ],
      "id": "028d0946-483a-4192-94e8-d88c0899a784",
      "name": "Qual estado?1",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('config_agg32').item.json.base_url }}/public/resources/states/list-limit",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Lang",
              "value": "pt"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": " application/json;charset=UTF-8",
        "body": "=[    \n  { \"property\": \"uf\", \"operator\": \"iequal\", \"data\":  \"{{ $(\"Qual estado?1\").first().json.state }}\" },\n  { \"property\": \"active\",  \"operator\": \"equal\", \"data\": true } \n]",
        "options": {}
      },
      "id": "142364bb-3c06-48f3-9b95-770c43b120e7",
      "name": "Listar Estado1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7216,
        7600
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ Object.assign( \n    $('config_agg40').first().json,\n//unidade de medida selecionada \n  {\n   comments : $json.comments\n  }\n)}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7824,
        7120
      ],
      "id": "d284f92d-0105-4792-9730-a00206a4f46e",
      "name": "config_agg41"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee4504b-df86-4f85-acb4-5027e52a9693",
              "name": "comments",
              "value": "Algum texto de comentário",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7824,
        6912
      ],
      "id": "0eea5923-87c9-4589-8c6f-03d2a10b4548",
      "name": "Inclua um comentario1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n  {\n    \"marketId\": 1,\n    \"operationId\": $('config_agg41').item.json.operation,\n    \"typeId\": 2,\n    \"product\": $('config_agg41').item.json.product_object,\n    \"visibilityId\": 2,\n    \"currencyId\": $('config_agg41').item.json.currency_code,\n    \"price\": $('config_agg41').item.json.currency_value,\n    \"priceUnit\": $('config_agg41').item.json.weight_unit_object,\n    \"quantity\": $('config_agg41').item.json.quantity,\n    \"quantityUnit\": $('config_agg41').item.json.weight_unit_object,\n    \"pickUp\": $('config_agg41').item.json.city_object,\n    \"pickUpDescription\": null,\n    \"logistics\": $('config_agg41').item.json.logistic_object,\n    \"note\": $('config_agg41').item.json.comments,\n    \"urlYouTube\": null,\n    \"areaId\": 1,\n    \"duration\": $('config_agg41').item.json.period_hour + \":00\",\n    \"files\": []\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8288,
        6912
      ],
      "id": "73f317a8-78f2-4e5e-8cdf-e013021e3085",
      "name": "payload1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9cc7734-abf9-49f1-940f-f04458644582",
              "name": "Resumo",
              "value": "=Operação : {{ $json.operation == 1 ? 'Compra' : $json.operation == 2 ? 'Venda' : ''   }}\nProduto : {{ $json.product_object.name }}\nPreço : R${{ $json.currency_value }} / {{ $json.weight_unit_object.translations.pt }}\nQuantidade : {{ $json.quantity }} {{ $json.weight_unit_object.translations.pt }}\nLocal : {{ $json.city_object.name }} / {{ $json.city_object.state.uf }}\nFrete : {{ $json.logistic_object.translations.pt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8096,
        6912
      ],
      "id": "a10c9089-4998-4c48-a61c-628c41340d2d",
      "name": "Resumo1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Configuracao1').item.json.base_url }}/private/resources/bid/id",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $('config_agg32').item.json.token.replace('Bearer','') }}"
            },
            {
              "name": "Lang",
              "value": "pt"
            },
            {
              "name": "X-Tenant"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('payload1').first().json }}",
        "options": {}
      },
      "id": "060b09e8-0c91-4d9f-8a59-1a0d52f2035e",
      "name": "Criar Lote (Mercado Brasil)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8544,
        6912
      ],
      "retryOnFail": true,
      "notesInFlow": false
    }
  ],
  "connections": {
    "Configuracao": {
      "main": [
        [
          {
            "node": "Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "config_agg22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos": {
      "main": [
        [
          {
            "node": "Nomes parecidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Moedas": {
      "main": [
        [
          {
            "node": "qual moeda quer anunciar seu produto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Logistica": {
      "main": [
        [
          {
            "node": "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Cidade": {
      "main": [
        [
          {
            "node": "nomes parecidos cidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gostaria de comprar ou de vender?": {
      "main": [
        [
          {
            "node": "config_agg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?": {
      "main": [
        [
          {
            "node": "config_agg23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual produto gostaria de comprar/vender?": {
      "main": [
        [
          {
            "node": "Buscar Produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual moeda quer anunciar seu produto": {
      "main": [
        [
          {
            "node": "config_agg25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual unidade de medida?": {
      "main": [
        [
          {
            "node": "config_agg26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual o valor por unidade de medida?": {
      "main": [
        [
          {
            "node": "config_agg27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual a quantidade em [unidade escolhida] quer anunciar?": {
      "main": [
        [
          {
            "node": "config_agg28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))": {
      "main": [
        [
          {
            "node": "config_agg29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual a cidade?": {
      "main": [
        [
          {
            "node": "Listar Cidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enumeradores": {
      "main": [
        [
          {
            "node": "Gostaria de comprar ou de vender?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se encontra produto único direto": {
      "main": [
        [
          {
            "node": "config_agg24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nome Produto Específico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomes parecidos": {
      "main": [
        [
          {
            "node": "Se encontra produto único direto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome Produto Específico": {
      "main": [
        [
          {
            "node": "Buscar Produtos Especifico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos Especifico": {
      "main": [
        [
          {
            "node": "config_agg24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Unidade Medida": {
      "main": [
        [
          {
            "node": "qual unidade de medida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg": {
      "main": [
        [
          {
            "node": "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg22": {
      "main": [
        [
          {
            "node": "Enumeradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg23": {
      "main": [
        [
          {
            "node": "Qual produto gostaria de comprar/vender?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg24": {
      "main": [
        [
          {
            "node": "Listar Moedas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg25": {
      "main": [
        [
          {
            "node": "Listar Unidade Medida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg26": {
      "main": [
        [
          {
            "node": "qual o valor por unidade de medida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg27": {
      "main": [
        [
          {
            "node": "qual a quantidade em [unidade escolhida] quer anunciar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg28": {
      "main": [
        [
          {
            "node": "Listar Logistica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg29": {
      "main": [
        [
          {
            "node": "Qual a cidade?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nomes parecidos cidades": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "config_agg30",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qual estado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg30": {
      "main": [
        [
          {
            "node": "Inclua um comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Cidade Especifico": {
      "main": [
        [
          {
            "node": "config_agg30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual estado?": {
      "main": [
        [
          {
            "node": "Listar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Estado": {
      "main": [
        [
          {
            "node": "Listar Cidade Especifico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg31": {
      "main": [
        [
          {
            "node": "Resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inclua um comentario": {
      "main": [
        [
          {
            "node": "config_agg31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload": {
      "main": [
        [
          {
            "node": "Criar Lote (Mercado Brasil)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo": {
      "main": [
        [
          {
            "node": "payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Configuracao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuracao1": {
      "main": [
        [
          {
            "node": "config_agg32",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos1": {
      "main": [
        [
          {
            "node": "Nomes parecidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Moedas1": {
      "main": [
        [
          {
            "node": "qual moeda quer anunciar seu produto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Logistica1": {
      "main": [
        [
          {
            "node": "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Cidade1": {
      "main": [
        [
          {
            "node": "nomes parecidos cidades1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gostaria de comprar ou de vender?1": {
      "main": [
        [
          {
            "node": "config_agg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?1": {
      "main": [
        [
          {
            "node": "config_agg33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual produto gostaria de comprar/vender?1": {
      "main": [
        [
          {
            "node": "Buscar Produtos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual moeda quer anunciar seu produto1": {
      "main": [
        [
          {
            "node": "config_agg35",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual unidade de medida?1": {
      "main": [
        [
          {
            "node": "config_agg36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual o valor por unidade de medida?1": {
      "main": [
        [
          {
            "node": "config_agg37",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual a quantidade em [unidade escolhida] quer anunciar?1": {
      "main": [
        [
          {
            "node": "config_agg38",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "qual modelo de frete? [api modelo de frete] (FOB(6), CIF(4))1": {
      "main": [
        [
          {
            "node": "config_agg39",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual a cidade?1": {
      "main": [
        [
          {
            "node": "Listar Cidade1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enumeradores1": {
      "main": [
        [
          {
            "node": "Gostaria de comprar ou de vender?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se encontra produto único direto1": {
      "main": [
        [
          {
            "node": "config_agg34",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nome Produto Específico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nomes parecidos1": {
      "main": [
        [
          {
            "node": "Se encontra produto único direto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome Produto Específico1": {
      "main": [
        [
          {
            "node": "Buscar Produtos Especifico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Produtos Especifico1": {
      "main": [
        [
          {
            "node": "config_agg34",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Unidade Medida1": {
      "main": [
        [
          {
            "node": "qual unidade de medida?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg1": {
      "main": [
        [
          {
            "node": "Qual o período quer deixar o anuncio ativo? 7 dias, 15 dias ou 30 dias?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg32": {
      "main": [
        [
          {
            "node": "Enumeradores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg33": {
      "main": [
        [
          {
            "node": "Qual produto gostaria de comprar/vender?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg34": {
      "main": [
        [
          {
            "node": "Listar Moedas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg35": {
      "main": [
        [
          {
            "node": "Listar Unidade Medida1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg36": {
      "main": [
        [
          {
            "node": "qual o valor por unidade de medida?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg37": {
      "main": [
        [
          {
            "node": "qual a quantidade em [unidade escolhida] quer anunciar?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg38": {
      "main": [
        [
          {
            "node": "Listar Logistica1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg39": {
      "main": [
        [
          {
            "node": "Qual a cidade?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nomes parecidos cidades1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "config_agg40",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Qual estado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg40": {
      "main": [
        [
          {
            "node": "Inclua um comentario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Cidade Especifico1": {
      "main": [
        [
          {
            "node": "config_agg40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual estado?1": {
      "main": [
        [
          {
            "node": "Listar Estado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Estado1": {
      "main": [
        [
          {
            "node": "Listar Cidade Especifico1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config_agg41": {
      "main": [
        [
          {
            "node": "Resumo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inclua um comentario1": {
      "main": [
        [
          {
            "node": "config_agg41",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payload1": {
      "main": [
        [
          {
            "node": "Criar Lote (Mercado Brasil)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumo1": {
      "main": [
        [
          {
            "node": "payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "e6e195f6-20e3-413d-a05e-6414406dc3a2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-15T13:14:36.764Z",
      "createdAt": "2026-04-15T13:14:36.764Z",
      "role": "workflow:owner",
      "workflowId": "5Wk0LQd6R3jlACQ2",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}