backup/agronegociar-2---master-postgres-para-supabase-3rufX5gqsKggdjso.json
{
  "updatedAt": "2026-04-22T19:53:47.229Z",
  "createdAt": "2026-03-26T18:59:32.752Z",
  "id": "3rufX5gqsKggdjso",
  "name": "Agronegociar 2 - [MASTER] Postgres para Supabase",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 34
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "id": "f7c6bfe6-4233-4f2e-8f71-b0aa830bdca5",
      "name": "1. Início Diário",
      "position": [
        688,
        4528
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "interessados",
        "filters": {
          "conditions": [
            {
              "keyName": "release_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "id": "3c4a3205-2c4c-4813-8382-f93b49a687ce",
      "name": "Limpar Interessados",
      "position": [
        1648,
        4544
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "qF5T2ej3TiWXL4jk",
          "name": "Agronegociar - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "indicadores_usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "profile_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "id": "d7c44e55-ba19-42ca-b52e-e822e4054215",
      "name": "Limpar Usuários",
      "position": [
        1872,
        4544
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "qF5T2ej3TiWXL4jk",
          "name": "Agronegociar - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "dash_anuncios",
        "filters": {
          "conditions": [
            {
              "keyName": "bid_id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "id": "937b657f-c1d6-486e-93c7-fea408ffcb58",
      "name": "Limpar Bids",
      "position": [
        2096,
        4544
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "qF5T2ej3TiWXL4jk",
          "name": "Agronegociar - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return { view: 'vw_bids_consolidado' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "b571ec7e-0fef-4a58-a1e8-7f2f542997bd",
      "name": "Reset Bids",
      "position": [
        2304,
        4544
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "id": "fe0e0ce7-eb8e-4e64-ba18-0e263cffc060",
      "name": "Wait",
      "position": [
        2528,
        4544
      ],
      "webhookId": "5adc59a5-b7cc-4c95-874c-ed1ab7eecd2a"
    },
    {
      "parameters": {
        "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_bids_consolidado' \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "09b8e7e5-3426-48ab-b324-6562f2c64f5b",
      "name": "Inc Bids",
      "position": [
        2752,
        4544
      ]
    },
    {
      "parameters": {
        "workflowId": "8EMK9K62blSNKagJ",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "id": "44a9c33b-d489-492f-a77b-23c392bac670",
      "name": "Sync Anuncios",
      "position": [
        2976,
        4544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "2f3b41bc-1882-4889-b99b-b745ca0b1b98"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "id": "3acbd890-152e-4cd9-b75d-fa1764269f96",
      "name": "Mais Bids?",
      "position": [
        3184,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "return { view: 'vw_ofertas_interessados' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "a18362c4-d57f-4efb-a8a9-95604482ccfe",
      "name": "Reset Interessados",
      "position": [
        3184,
        4752
      ]
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "id": "b0c019b8-d92b-4ac9-a1ac-afa47b401464",
      "name": "Wait13",
      "position": [
        3408,
        4752
      ],
      "webhookId": "cf079f90-f1e2-4ad4-81dc-3fc69fd14577"
    },
    {
      "parameters": {
        "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_ofertas_interessados' \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "3787c4bf-27cb-495a-b6c5-482e13c8f0da",
      "name": "Inc Ofertas",
      "position": [
        3632,
        4752
      ]
    },
    {
      "parameters": {
        "workflowId": "WEibORmJLsY7fHSY",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "id": "15a8faf3-b1f7-44ac-94a4-503b0b223e70",
      "name": "Sync Ofertas",
      "position": [
        3856,
        4752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "c9c04292-bda9-4c99-aa25-e3db55bc0688"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "id": "d34a2595-1b89-4f03-8aa1-7f6661fbca5b",
      "name": "Mais Ofertas?",
      "position": [
        4064,
        4752
      ]
    },
    {
      "parameters": {
        "jsCode": "return { view: 'vw_dashboard_indicadores' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "52702290-8e59-45e4-bcbe-15bab083c583",
      "name": "Reset Usuários",
      "position": [
        4064,
        4944
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "id": "99016518-0491-498b-96a1-1ff7e2d7b40b",
      "name": "Wait14",
      "position": [
        4288,
        4944
      ],
      "webhookId": "f254fa70-dbe5-40f0-a2e8-e4f5260a15b8"
    },
    {
      "parameters": {
        "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_dashboard_indicadores' \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "id": "880f1cb7-ab34-402b-9423-1b9eafdb3cc3",
      "name": "Inc Ind",
      "position": [
        4720,
        4944
      ]
    },
    {
      "parameters": {
        "workflowId": "KxIcCeve0R1oUoD7",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "id": "2cefe0bf-6463-4387-ae38-ec8d5948ad50",
      "name": "Sync Usuários",
      "position": [
        4944,
        4944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.count }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "c7f9c97a-d673-4854-8b37-3d3dc20e1748"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "id": "ba9ad325-bfdb-413c-8666-891e8cfbb5cc",
      "name": "Mais Ind?",
      "position": [
        5152,
        4944
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_ofertas_interessados AS\nSELECT \n    br.id AS release_id,\n    br.bid_id AS anuncio_id,\n    br.created AS data_interesse,\n    br.came_by AS canal_origem,\n    p.name AS produto_nome,\n    NULLIF(b.price::text, '')::numeric AS preco_anunciado,\n    up.name AS nome_interessado,\n    u.email AS email_interessado,\n    (SELECT string_agg(ph.number, ' | ') \n     FROM \"cbc\".profile_phones pp \n     JOIN \"cbc\".phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones_interessado\nFROM \"cbc\".bid_releases br\nLEFT JOIN \"cbc\".bids b ON br.bid_id = b.id\nLEFT JOIN \"types\".products p ON b.product_id = p.id\nLEFT JOIN \"cbc\".users u ON br.user_id = u.id \nLEFT JOIN \"cbc\".user_profiles up ON up.user_id = u.id\n-- Filtro direto pelo e-mail:\nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        4528
      ],
      "id": "a2db582e-00a6-448f-ad73-a032fa9ce8bd",
      "name": "Execute a SQL query6",
      "credentials": {
        "postgres": {
          "id": "htyT6TWxXxRh5mZQ",
          "name": "Postgres N8N workflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP VIEW IF EXISTS \"Agronegociar_Analytics\".vw_dashboard_indicadores;\nCREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_dashboard_indicadores AS \nSELECT \n    u.id AS user_id,\n    up.id AS profile_id,\n    up.name AS nome_usuario,\n    bp.company_name,\n    bp.nrle,\n    u.email,\n    u.cell_phone_verified,\n    u.created AS data_cadastro,\n    u.last_access,\n    u.deleted AS data_exclusao_usuario,\n    (SELECT string_agg(ph.number::text, ' | ') \n     FROM cbc.profile_phones pp\n     JOIN cbc.phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones\nFROM cbc.user_profiles up\nLEFT JOIN cbc.users u ON up.user_id = u.id\nLEFT JOIN cbc.business_profiles bp ON bp.creator_id = u.id \nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        4528
      ],
      "id": "9546c3ad-3593-47d9-9d03-d97dd21a755e",
      "name": "Execute a SQL query7",
      "credentials": {
        "postgres": {
          "id": "htyT6TWxXxRh5mZQ",
          "name": "Postgres N8N workflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP VIEW IF EXISTS \"Agronegociar_Analytics\".vw_bids_consolidado;\nCREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_bids_consolidado AS \nSELECT \n    b.id AS bid_id,\n    b.creator_id,\n    b.status_id AS bid_status,\n    b.created AS data_bid,\n    b.deleted AS data_exclusao,\n    p.name AS produto_nome,\n    p.description AS produto_descricao_geral,\n    b.quantity AS quantidade,\n    b.price AS preco,\n    CASE \n        WHEN EXISTS (\n            SELECT 1 FROM \"cbc\".deals d \n            WHERE d.bid_id = b.id\n        ) OR EXISTS (\n            SELECT 1 FROM \"cbc\".bid_releases br \n            WHERE br.bid_id = b.id AND br.came_by IS NOT NULL AND br.came_by <> ''\n        ) THEN 'Com Engajamento'\n        ELSE 'Sem Engajamento'\n    END AS status_engajamento,\n    up.name AS nome_criador,\n    u.email AS email_criador,\n    (SELECT string_agg(ph.number::text, ' | ') \n     FROM cbc.profile_phones pp\n     JOIN cbc.phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones_criador\nFROM cbc.bids b\nLEFT JOIN types.products p ON b.product_id = p.id\n--- ALTERAÇÃO AQUI: Liga o anúncio primeiro no USUÁRIO ---\nLEFT JOIN cbc.users u ON b.creator_id = u.id\n--- ALTERAÇÃO AQUI: Liga o USUÁRIO no PERFIL ---\nLEFT JOIN cbc.user_profiles up ON u.id = up.user_id\nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1360,
        4528
      ],
      "id": "87771241-4fa0-421e-a634-a5cf298c5080",
      "name": "Execute a SQL query8",
      "credentials": {
        "postgres": {
          "id": "htyT6TWxXxRh5mZQ",
          "name": "Postgres N8N workflow"
        }
      }
    }
  ],
  "connections": {
    "1. Início Diário": {
      "main": [
        [
          {
            "node": "Execute a SQL query6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Interessados": {
      "main": [
        [
          {
            "node": "Limpar Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Usuários": {
      "main": [
        [
          {
            "node": "Limpar Bids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar Bids": {
      "main": [
        [
          {
            "node": "Reset Bids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Bids": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Inc Bids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inc Bids": {
      "main": [
        [
          {
            "node": "Sync Anuncios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Anuncios": {
      "main": [
        [
          {
            "node": "Mais Bids?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mais Bids?": {
      "main": [
        [
          {
            "node": "Inc Bids",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Interessados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Interessados": {
      "main": [
        [
          {
            "node": "Wait13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait13": {
      "main": [
        [
          {
            "node": "Inc Ofertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inc Ofertas": {
      "main": [
        [
          {
            "node": "Sync Ofertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Ofertas": {
      "main": [
        [
          {
            "node": "Mais Ofertas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mais Ofertas?": {
      "main": [
        [
          {
            "node": "Inc Ofertas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Usuários": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "Inc Ind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inc Ind": {
      "main": [
        [
          {
            "node": "Sync Usuários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Usuários": {
      "main": [
        [
          {
            "node": "Mais Ind?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mais Ind?": {
      "main": [
        [
          {
            "node": "Inc Ind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query6": {
      "main": [
        [
          {
            "node": "Execute a SQL query7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query7": {
      "main": [
        [
          {
            "node": "Execute a SQL query8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query8": {
      "main": [
        [
          {
            "node": "Limpar Interessados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 900
  },
  "staticData": {
    "node:1. Início Diário": {
      "recurrenceRules": []
    },
    "node:1. Início Diário1": {
      "recurrenceRules": []
    },
    "node:1. Início Diário2": {
      "recurrenceRules": []
    },
    "node:1. Início Diário3": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "1ec66e30-ed1a-43dd-9ee6-d2d53d3a71fe",
  "activeVersionId": "1ec66e30-ed1a-43dd-9ee6-d2d53d3a71fe",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-26T18:59:32.752Z",
      "createdAt": "2026-03-26T18:59:32.752Z",
      "role": "workflow:owner",
      "workflowId": "3rufX5gqsKggdjso",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-22T19:53:47.231Z",
    "createdAt": "2026-04-22T19:53:47.231Z",
    "versionId": "1ec66e30-ed1a-43dd-9ee6-d2d53d3a71fe",
    "workflowId": "3rufX5gqsKggdjso",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 16,
                "triggerAtMinute": 34
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "id": "f7c6bfe6-4233-4f2e-8f71-b0aa830bdca5",
        "name": "1. Início Diário",
        "position": [
          688,
          4528
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "interessados",
          "filters": {
            "conditions": [
              {
                "keyName": "release_id",
                "condition": "gt",
                "keyValue": "0"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "id": "3c4a3205-2c4c-4813-8382-f93b49a687ce",
        "name": "Limpar Interessados",
        "position": [
          1648,
          4544
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "credentials": {
          "supabaseApi": {
            "id": "qF5T2ej3TiWXL4jk",
            "name": "Agronegociar - Supabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "indicadores_usuarios",
          "filters": {
            "conditions": [
              {
                "keyName": "profile_id",
                "condition": "gt",
                "keyValue": "0"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "id": "d7c44e55-ba19-42ca-b52e-e822e4054215",
        "name": "Limpar Usuários",
        "position": [
          1872,
          4544
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "qF5T2ej3TiWXL4jk",
            "name": "Agronegociar - Supabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "dash_anuncios",
          "filters": {
            "conditions": [
              {
                "keyName": "bid_id",
                "condition": "gt",
                "keyValue": "0"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "id": "937b657f-c1d6-486e-93c7-fea408ffcb58",
        "name": "Limpar Bids",
        "position": [
          2096,
          4544
        ],
        "alwaysOutputData": true,
        "retryOnFail": true,
        "executeOnce": true,
        "credentials": {
          "supabaseApi": {
            "id": "qF5T2ej3TiWXL4jk",
            "name": "Agronegociar - Supabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return { view: 'vw_bids_consolidado' };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "b571ec7e-0fef-4a58-a1e8-7f2f542997bd",
        "name": "Reset Bids",
        "position": [
          2304,
          4544
        ]
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "id": "fe0e0ce7-eb8e-4e64-ba18-0e263cffc060",
        "name": "Wait",
        "position": [
          2528,
          4544
        ],
        "webhookId": "5adc59a5-b7cc-4c95-874c-ed1ab7eecd2a"
      },
      {
        "parameters": {
          "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_bids_consolidado' \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "09b8e7e5-3426-48ab-b324-6562f2c64f5b",
        "name": "Inc Bids",
        "position": [
          2752,
          4544
        ]
      },
      {
        "parameters": {
          "workflowId": "8EMK9K62blSNKagJ",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "id": "44a9c33b-d489-492f-a77b-23c392bac670",
        "name": "Sync Anuncios",
        "position": [
          2976,
          4544
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.count }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                },
                "id": "2f3b41bc-1882-4889-b99b-b745ca0b1b98"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "id": "3acbd890-152e-4cd9-b75d-fa1764269f96",
        "name": "Mais Bids?",
        "position": [
          3184,
          4544
        ]
      },
      {
        "parameters": {
          "jsCode": "return { view: 'vw_ofertas_interessados' };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "a18362c4-d57f-4efb-a8a9-95604482ccfe",
        "name": "Reset Interessados",
        "position": [
          3184,
          4752
        ]
      },
      {
        "parameters": {
          "amount": 60
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "id": "b0c019b8-d92b-4ac9-a1ac-afa47b401464",
        "name": "Wait13",
        "position": [
          3408,
          4752
        ],
        "webhookId": "cf079f90-f1e2-4ad4-81dc-3fc69fd14577"
      },
      {
        "parameters": {
          "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_ofertas_interessados' \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "3787c4bf-27cb-495a-b6c5-482e13c8f0da",
        "name": "Inc Ofertas",
        "position": [
          3632,
          4752
        ]
      },
      {
        "parameters": {
          "workflowId": "WEibORmJLsY7fHSY",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "id": "15a8faf3-b1f7-44ac-94a4-503b0b223e70",
        "name": "Sync Ofertas",
        "position": [
          3856,
          4752
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.count }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                },
                "id": "c9c04292-bda9-4c99-aa25-e3db55bc0688"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "id": "d34a2595-1b89-4f03-8aa1-7f6661fbca5b",
        "name": "Mais Ofertas?",
        "position": [
          4064,
          4752
        ]
      },
      {
        "parameters": {
          "jsCode": "return { view: 'vw_dashboard_indicadores' };"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "52702290-8e59-45e4-bcbe-15bab083c583",
        "name": "Reset Usuários",
        "position": [
          4064,
          4944
        ]
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "id": "99016518-0491-498b-96a1-1ff7e2d7b40b",
        "name": "Wait14",
        "position": [
          4288,
          4944
        ],
        "webhookId": "f254fa70-dbe5-40f0-a2e8-e4f5260a15b8"
      },
      {
        "parameters": {
          "jsCode": "const novoOffset = $runIndex * 500;\nreturn { \n  offset: novoOffset, \n  view: 'vw_dashboard_indicadores' \n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "id": "880f1cb7-ab34-402b-9423-1b9eafdb3cc3",
        "name": "Inc Ind",
        "position": [
          4720,
          4944
        ]
      },
      {
        "parameters": {
          "workflowId": "KxIcCeve0R1oUoD7",
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "id": "2cefe0bf-6463-4387-ae38-ec8d5948ad50",
        "name": "Sync Usuários",
        "position": [
          4944,
          4944
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "leftValue": "={{ $json.count }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "gte"
                },
                "id": "c7f9c97a-d673-4854-8b37-3d3dc20e1748"
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "id": "ba9ad325-bfdb-413c-8666-891e8cfbb5cc",
        "name": "Mais Ind?",
        "position": [
          5152,
          4944
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_ofertas_interessados AS\nSELECT \n    br.id AS release_id,\n    br.bid_id AS anuncio_id,\n    br.created AS data_interesse,\n    br.came_by AS canal_origem,\n    p.name AS produto_nome,\n    NULLIF(b.price::text, '')::numeric AS preco_anunciado,\n    up.name AS nome_interessado,\n    u.email AS email_interessado,\n    (SELECT string_agg(ph.number, ' | ') \n     FROM \"cbc\".profile_phones pp \n     JOIN \"cbc\".phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones_interessado\nFROM \"cbc\".bid_releases br\nLEFT JOIN \"cbc\".bids b ON br.bid_id = b.id\nLEFT JOIN \"types\".products p ON b.product_id = p.id\nLEFT JOIN \"cbc\".users u ON br.user_id = u.id \nLEFT JOIN \"cbc\".user_profiles up ON up.user_id = u.id\n-- Filtro direto pelo e-mail:\nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          928,
          4528
        ],
        "id": "a2db582e-00a6-448f-ad73-a032fa9ce8bd",
        "name": "Execute a SQL query6",
        "credentials": {
          "postgres": {
            "id": "htyT6TWxXxRh5mZQ",
            "name": "Postgres N8N workflow"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DROP VIEW IF EXISTS \"Agronegociar_Analytics\".vw_dashboard_indicadores;\nCREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_dashboard_indicadores AS \nSELECT \n    u.id AS user_id,\n    up.id AS profile_id,\n    up.name AS nome_usuario,\n    bp.company_name,\n    bp.nrle,\n    u.email,\n    u.cell_phone_verified,\n    u.created AS data_cadastro,\n    u.last_access,\n    u.deleted AS data_exclusao_usuario,\n    (SELECT string_agg(ph.number::text, ' | ') \n     FROM cbc.profile_phones pp\n     JOIN cbc.phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones\nFROM cbc.user_profiles up\nLEFT JOIN cbc.users u ON up.user_id = u.id\nLEFT JOIN cbc.business_profiles bp ON bp.creator_id = u.id \nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1136,
          4528
        ],
        "id": "9546c3ad-3593-47d9-9d03-d97dd21a755e",
        "name": "Execute a SQL query7",
        "credentials": {
          "postgres": {
            "id": "htyT6TWxXxRh5mZQ",
            "name": "Postgres N8N workflow"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DROP VIEW IF EXISTS \"Agronegociar_Analytics\".vw_bids_consolidado;\nCREATE OR REPLACE VIEW \"Agronegociar_Analytics\".vw_bids_consolidado AS \nSELECT \n    b.id AS bid_id,\n    b.creator_id,\n    b.status_id AS bid_status,\n    b.created AS data_bid,\n    b.deleted AS data_exclusao,\n    p.name AS produto_nome,\n    p.description AS produto_descricao_geral,\n    b.quantity AS quantidade,\n    b.price AS preco,\n    CASE \n        WHEN EXISTS (\n            SELECT 1 FROM \"cbc\".deals d \n            WHERE d.bid_id = b.id\n        ) OR EXISTS (\n            SELECT 1 FROM \"cbc\".bid_releases br \n            WHERE br.bid_id = b.id AND br.came_by IS NOT NULL AND br.came_by <> ''\n        ) THEN 'Com Engajamento'\n        ELSE 'Sem Engajamento'\n    END AS status_engajamento,\n    up.name AS nome_criador,\n    u.email AS email_criador,\n    (SELECT string_agg(ph.number::text, ' | ') \n     FROM cbc.profile_phones pp\n     JOIN cbc.phones ph ON pp.phone_id = ph.id \n     WHERE pp.profile_id = up.id) AS telefones_criador\nFROM cbc.bids b\nLEFT JOIN types.products p ON b.product_id = p.id\n--- ALTERAÇÃO AQUI: Liga o anúncio primeiro no USUÁRIO ---\nLEFT JOIN cbc.users u ON b.creator_id = u.id\n--- ALTERAÇÃO AQUI: Liga o USUÁRIO no PERFIL ---\nLEFT JOIN cbc.user_profiles up ON u.id = up.user_id\nWHERE u.email NOT IN ('junioreternum@hotmail.com', 'junioreternum@gmail.comxxx', 'lucas@getmia.com.br', 'lucas95_souza@hotmail.com','dev_test_1@getmia.com.br', 'dev_test_2@getmia.com.br','dev_test_3@getmia.com.br','nicoleandradedesouza@hotmail.com', 'guilherme.turra@gmail.com', 'guiturra@yahoo.com.br')\n   OR u.email IS NULL",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1360,
          4528
        ],
        "id": "87771241-4fa0-421e-a634-a5cf298c5080",
        "name": "Execute a SQL query8",
        "credentials": {
          "postgres": {
            "id": "htyT6TWxXxRh5mZQ",
            "name": "Postgres N8N workflow"
          }
        }
      }
    ],
    "connections": {
      "1. Início Diário": {
        "main": [
          [
            {
              "node": "Execute a SQL query6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Interessados": {
        "main": [
          [
            {
              "node": "Limpar Usuários",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Usuários": {
        "main": [
          [
            {
              "node": "Limpar Bids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpar Bids": {
        "main": [
          [
            {
              "node": "Reset Bids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reset Bids": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Inc Bids",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inc Bids": {
        "main": [
          [
            {
              "node": "Sync Anuncios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync Anuncios": {
        "main": [
          [
            {
              "node": "Mais Bids?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mais Bids?": {
        "main": [
          [
            {
              "node": "Inc Bids",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reset Interessados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reset Interessados": {
        "main": [
          [
            {
              "node": "Wait13",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait13": {
        "main": [
          [
            {
              "node": "Inc Ofertas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inc Ofertas": {
        "main": [
          [
            {
              "node": "Sync Ofertas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync Ofertas": {
        "main": [
          [
            {
              "node": "Mais Ofertas?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mais Ofertas?": {
        "main": [
          [
            {
              "node": "Inc Ofertas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reset Usuários",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reset Usuários": {
        "main": [
          [
            {
              "node": "Wait14",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait14": {
        "main": [
          [
            {
              "node": "Inc Ind",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inc Ind": {
        "main": [
          [
            {
              "node": "Sync Usuários",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sync Usuários": {
        "main": [
          [
            {
              "node": "Mais Ind?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mais Ind?": {
        "main": [
          [
            {
              "node": "Inc Ind",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query6": {
        "main": [
          [
            {
              "node": "Execute a SQL query7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query7": {
        "main": [
          [
            {
              "node": "Execute a SQL query8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query8": {
        "main": [
          [
            {
              "node": "Limpar Interessados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}