backup/agronegociar-2.4---operador-offset---renovacao-anuncios-22vhyvMInl2RxmkJ.json
{
  "updatedAt": "2026-04-09T17:46:33.703Z",
  "createdAt": "2026-04-09T17:44:58.355Z",
  "id": "22vhyvMInl2RxmkJ",
  "name": "Agronegociar 2.4 - Operador Offset - Renovacao Anuncios",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -64
      ],
      "id": "dd262a93-7eb9-4a6d-86d7-96bb4bf99736",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `SELECT * FROM \"Agronegociar_Analytics\".\"${$json.view}\" ORDER BY bid_id ASC LIMIT 500 OFFSET ${$json.offset};` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -64
      ],
      "id": "8c92ddb5-d576-4f8e-b315-31668ecf9877",
      "name": "Postgres (Lote)",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "htyT6TWxXxRh5mZQ",
          "name": "Postgres N8N workflow"
        }
      }
    },
    {
      "parameters": {
        "tableId": "renovacao_anuncios",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -64
      ],
      "id": "f633d9ad-fdb6-41da-aed4-d6d271094f81",
      "name": "Supabase Upsert",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "qF5T2ej3TiWXL4jk",
          "name": "Agronegociar - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  count: $input.all().length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -64
      ],
      "id": "156642c5-c676-4d48-8b41-f7ffb1f50a33",
      "name": "Retornar Contagem"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Postgres (Lote)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (Lote)": {
      "main": [
        [
          {
            "node": "Supabase Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Upsert": {
      "main": [
        [
          {
            "node": "Retornar Contagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "versionId": "a1d687df-bac9-4a81-a670-914971689d24",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-09T17:44:58.355Z",
      "createdAt": "2026-04-09T17:44:58.355Z",
      "role": "workflow:owner",
      "workflowId": "22vhyvMInl2RxmkJ",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}