backup/api---1---pdf-converter-BW3yqubgSNyxSfNp.json
{
  "updatedAt": "2026-04-18T00:42:08.018Z",
  "createdAt": "2026-02-02T12:35:39.405Z",
  "id": "BW3yqubgSNyxSfNp",
  "name": "API - 1 - PDF Converter",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "executeOnce": false,
        "command": "=# =================================================\n# INPUTS (n8n variables / parâmetros simples)\n# =================================================\n\n# --- PDF ---\nPDF_URL=\"{{ $json.PDF_URL }}\"\n\n# --- Render ---\nDPI={{ $json.DPI }}              # 150 | 300 | 400\nIMAGE_FORMAT=\"{{ $json.IMAGE_FORMAT }}\"      # png | jpg\nQUALITY={{ $json.QUALITY }}             # usado apenas para jpg\n\n# --- Pages ---\nPAGE_MODE=\"{{ $json.PAGE_MODE }}\"         # all | single | range\nPAGE_FROM=\"{{ $json.PAGE_FROM }}\"            # ex: 1\nPAGE_TO=\"{{ $json.PAGE_TO }}\"              # ex: 2\n\n# --- Output ---\nOUTPUT_TYPE=\"{{ $json.OUTPUT_TYPE }}\"     # local | base64\nOUT_DIR=\"{{ $json.OUT_DIR }}\"\nBASE64_PREFIX={{ $json.BASE64_PREFIX }}     # true | false\nFILE_PREFIX=\"{{ $json.FILE_PREFIX }}\"\n\n# --- Limits ---\nMAX_PAGES={{ $json.MAX_PAGES }}\n\n# --- Merge ---\nMERGE_PAGES={{ $json.MERGE_PAGES }}     # true | false\n\n# =================================================\n# Paths\n# =================================================\nPDF=\"{{ $json.PDF_DOWNLOAD_PATH }}\"\nPY=\"/tmp/pdf_to_images.py\"\n\nmkdir -p \"$OUT_DIR\"\n\n# =================================================\n# Download PDF (mantido como no script funcional)\n# =================================================\nwget -q -O \"$PDF\" \"$PDF_URL\" || exit 1\n\n# =================================================\n# Python script (embedded)\n# =================================================\ncat > \"$PY\" << 'EOF'\nimport subprocess\nimport sys\nimport os\nimport json\nimport base64\n\nPDF_PATH      = sys.argv[1]\nOUT_DIR       = sys.argv[2]\nDPI           = int(sys.argv[3])\nFORMAT        = sys.argv[4]\nQUALITY       = int(sys.argv[5])\nPAGE_MODE     = sys.argv[6]\nPAGE_FROM     = sys.argv[7] or None\nPAGE_TO       = sys.argv[8] or None\nOUTPUT_TYPE   = sys.argv[9]\nBASE64_PREFIX = sys.argv[10].lower() == \"true\"\nMAX_PAGES     = int(sys.argv[11])\nFILE_PREFIX   = sys.argv[12]\nMERGE_PAGES   = sys.argv[13].lower() == \"true\"\n\nPREFIX = os.path.join(OUT_DIR, f\"{FILE_PREFIX}-page\")\n\n# -------------------------------\n# Build pdftoppm command\n# -------------------------------\ncmd = [\"pdftoppm\", \"-r\", str(DPI)]\n\nif FORMAT == \"png\":\n    cmd.append(\"-png\")\nelif FORMAT in (\"jpg\", \"jpeg\"):\n    cmd.append(\"-jpeg\")\n    cmd += [\"-jpegopt\", f\"quality={QUALITY}\"]\nelse:\n    raise Exception(\"Invalid image format\")\n\nif PAGE_MODE == \"single\" and PAGE_FROM:\n    cmd += [\"-f\", PAGE_FROM, \"-l\", PAGE_FROM]\nelif PAGE_MODE == \"range\" and PAGE_FROM and PAGE_TO:\n    cmd += [\"-f\", PAGE_FROM, \"-l\", PAGE_TO]\n# PAGE_MODE == all → nada\n\ncmd += [PDF_PATH, PREFIX]\n\nsubprocess.check_call(cmd)\n\n# -------------------------------\n# Collect files\n# -------------------------------\next = \"png\" if FORMAT == \"png\" else \"jpg\"\n\nfiles = sorted(\n    f for f in os.listdir(OUT_DIR)\n    if f.startswith(f\"{FILE_PREFIX}-page-\") and f.endswith(\".\" + ext)\n)\n\nif len(files) == 0:\n    raise Exception(\"No pages generated\")\n\nif len(files) > MAX_PAGES:\n    raise Exception(\"Max pages limit exceeded\")\n\nresult_files = []\n\n# -------------------------------\n# Merge pages into single image (optional)\n# -------------------------------\nif MERGE_PAGES:\n    merged_output = os.path.join(OUT_DIR, f\"{FILE_PREFIX}-merged.{ext}\")\n\n    # Use ImageMagick if available\n    merge_cmd = [\"convert\"]\n\n    for f in files:\n        merge_cmd.append(os.path.join(OUT_DIR, f))\n\n    merge_cmd += [\"-append\", merged_output]\n\n    subprocess.check_call(merge_cmd)\n\n    entry = {\"path\": merged_output}\n\n    if OUTPUT_TYPE == \"base64\":\n        with open(merged_output, \"rb\") as img:\n            b64 = base64.b64encode(img.read()).decode()\n            if BASE64_PREFIX:\n                mime = \"image/png\" if FORMAT == \"png\" else \"image/jpeg\"\n                b64 = f\"data:{mime};base64,\" + b64\n            entry[\"base64\"] = b64\n\n    result_files = [entry]\n\nelse:\n    for f in files:\n        fpath = os.path.join(OUT_DIR, f)\n        entry = {\"path\": fpath}\n\n        if OUTPUT_TYPE == \"base64\":\n            with open(fpath, \"rb\") as img:\n                b64 = base64.b64encode(img.read()).decode()\n                if BASE64_PREFIX:\n                    mime = \"image/png\" if FORMAT == \"png\" else \"image/jpeg\"\n                    b64 = f\"data:{mime};base64,\" + b64\n                entry[\"base64\"] = b64\n\n        result_files.append(entry)\n\n# -------------------------------\n# Output JSON\n# -------------------------------\nresult = {\n    \"status\": \"success\",\n    \"url\": PDF_PATH,\n    \"dpi\": DPI,\n    \"format\": FORMAT,\n    \"page_mode\": PAGE_MODE,\n    \"merge_pages\": MERGE_PAGES,\n    \"pages\": len(result_files),\n    \"files\": result_files\n}\n\nprint(json.dumps(result))\nEOF\n\n# =================================================\n# Execute\n# =================================================\npython3 \"$PY\" \\\n  \"$PDF\" \\\n  \"$OUT_DIR\" \\\n  \"$DPI\" \\\n  \"$IMAGE_FORMAT\" \\\n  \"$QUALITY\" \\\n  \"$PAGE_MODE\" \\\n  \"$PAGE_FROM\" \\\n  \"$PAGE_TO\" \\\n  \"$OUTPUT_TYPE\" \\\n  \"$BASE64_PREFIX\" \\\n  \"$MAX_PAGES\" \\\n  \"$FILE_PREFIX\" \\\n  \"$MERGE_PAGES\" \\\n  2>/dev/null"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        96,
        -96
      ],
      "id": "999b38af-0424-40c7-9219-8f2d35af0faa",
      "name": "Execute Command",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "b41af9be-5657-47f9-8551-3b79dc1b78cd",
      "name": "Read/Write Files from Disk",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-converter",
        "authentication": "***REMOVIDO***",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -80
      ],
      "id": "cb74c7bf-9727-4d19-95b0-ade5841e72ac",
      "name": "Webhook",
      "webhookId": "dde5f543-0d38-408a-8f0c-db93e4647ef7",
      "credentials": {
        "jwtAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "cdn.miabuilder.com",
        "fileName": "=SADM/{{ $json.fileName }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "ceaf262d-2fc3-48e0-927e-99f898e1a224",
      "name": "Sobe as imagens no S3 da AWS",
      "credentials": {
        "aws": {
          "id": "NL1DGPqJZ3XHyml8",
          "name": "MIA CDN AWS S3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## 01 - INTERFACE DE ENTRADA & PARAMS Comentário:\n-> Ponto de entrada da API. Pode ser acionado via Webhook (JWT Auth).\n-> O nó Normaliza dados (Code) é o cérebro da preparação: ele gera o FILE_PREFIX único via timestamp para evitar colisão de arquivos no servidor.\n-> Define os caminhos dinâmicos de diretório (OUT_DIR) e o local temporário do PDF (PDF_DOWNLOAD_PATH).\"",
        "height": 608,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -384
      ],
      "id": "7b4b7fc9-f3bd-4177-9513-c99fee5216d9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 02 - MOTOR DE RENDERIZAÇÃO (LINUX/PYTHON)\n-> Execução de baixo nível no servidor (Self-Hosted).\n-> Download: O comando wget busca o PDF da URL fornecida e salva no caminho temporário.\n-> Conversão: Um script Python embarcado orquestra o utilitário pdftoppm.\n-> Parâmetros: Suporta controle de DPI (qualidade), formato (PNG/JPG) e seleção de páginas (all/single/range).\"",
        "height": 608,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -384
      ],
      "id": "15c5e29d-d2cc-46ac-bfdb-2d6431941ad5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 03 - GESTÃO DE BINÁRIOS & ARMAZENAMENTO \nTransforma o processamento local em recursos acessíveis:\n-> Read/Write Files: Lê as imagens geradas pelo script Python do sistema de arquivos (/n8n_data) e as carrega como objetos binários no n8n.\n-> AWS S3: Faz o upload automático das imagens convertidas para o bucket da MIA (CDN), gerando os links públicos para uso.",
        "height": 608,
        "width": 1344
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -384
      ],
      "id": "c7b75e8c-7b3f-493b-b23d-8db5dae6fb3d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"PDF convertido com sucesso\",\n  \"status\": \"processed\",\n  \"conversionUrl\": \"{{ $json.paths }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1888,
        -272
      ],
      "id": "759fb1bd-7b24-46ac-ad75-b9f8a72c020a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"erro\",\n  \"message\": \"Erro interno no processamento do documento.\",\n  \"status\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        96,
        320
      ],
      "id": "dc0e669a-379c-4c6a-a0af-799a2e738d84",
      "name": "Respond to Webhook (500)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"Bad Request\",\n  \"message\": \"{{ $json.error }}\",\n  \"status\": 400\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -320,
        320
      ],
      "id": "cb8f7609-e740-48b6-9240-330ed1fd0760",
      "name": "Respond to Webhook (400)"
    },
    {
      "parameters": {
        "content": "## Tratamento de erros\n",
        "height": 256,
        "width": 2688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        240
      ],
      "id": "2ffb406d-c8ac-4cf7-be1d-38fdbc002949",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 04 - OUTPUT",
        "height": 608,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -384
      ],
      "id": "a2b3ace9-3d8f-4dbd-8d16-a0147f332f7a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -864
      ],
      "id": "9baa3d5a-25dc-4719-967d-dacdeb9c5419",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad4dfe94-a828-4cbb-863f-5675f913b67e",
              "name": "pdf_url",
              "value": "https://raw.githubusercontent.com/TaysaGuiral/BackupTesteMia/main/HorA%CC%83%C2%A1rio_BCC%202026_sem1.pdf",
              "type": "string"
            },
            {
              "id": "c92e8021-7d1b-495a-849c-46b4af45671f",
              "name": "page_from",
              "value": "1",
              "type": "string"
            },
            {
              "id": "df970b3a-135b-41b6-8eed-238cd46861fc",
              "name": "page_to",
              "value": "3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -864
      ],
      "id": "00d8ffc5-d839-4e98-a37a-bc1b4f6ce258",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        -256
      ],
      "id": "647dc4f0-0081-42d2-987c-a38f617d42c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdf3d940-c572-4968-8b78-18e5d670d323",
              "leftValue": "={{ $('Normaliza dados e verifica Payload').item.json.MERGE_PAGES }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -112
      ],
      "id": "666962a5-08c9-454d-b34e-6e5707656f90",
      "name": "Verifica se faz o merge das pgs"
    },
    {
      "parameters": {
        "jsCode": "// Transforma a string 'stdout' em campos reais do n8n\nconst output = JSON.parse($input.item.json.stdout);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -112
      ],
      "id": "661164e1-56d9-4e2c-afa1-103258821592",
      "name": "Ajusta output"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        -112
      ],
      "id": "17e843e1-502b-458c-a22d-5cba8314edca",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Location",
              "renameField": true,
              "outputFieldName": "paths"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1552,
        -272
      ],
      "id": "541771dc-53f7-4ae9-a84a-85f855c3e383",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdf3d940-c572-4968-8b78-18e5d670d323",
              "leftValue": "={{ $('Normaliza dados e verifica Payload').item.json.MERGE_PAGES }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        -16
      ],
      "id": "654f2dbc-b8e2-4833-beb6-35dfbb1f86c1",
      "name": "Verifica se faz o merge das pgs1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Gera o timestamp para prefixo de arquivos\nconst agora = new Date();\nconst pad = (n, size) => String(n).padStart(size, \"0\");\n\nconst timestamp = \n  agora.getFullYear() +\n  pad(agora.getMonth() + 1, 2) +\n  pad(agora.getDate(), 2) +\n  pad(agora.getHours(), 2) +\n  pad(agora.getMinutes(), 2) +\n  pad(agora.getSeconds(), 2) +\n  pad(agora.getMilliseconds(), 3);\n\n// 2. Define as regras de validação do Payload\nconst CAMPOS_PERMITIDOS = [\n  'pdf_url', 'PDF_URL', \n  'page_from', 'page_to', \n  'dpi', 'image_format', \n  'quality', 'page_mode', \n  'merge_pages'\n];\n\nreturn $input.all().map(item => {\n  // Suporta entrada via Webhook Body ou direta\n  const body = item.json.body || item.json; \n  const camposEnviados = Object.keys(body);\n\n  // --- VALIDAÇÃO 01: Campos Desconhecidos ---\n  // Verifica se o usuário enviou algo que não está na lista permitida (ex: erro de digitação)\n  const camposInvalidos = camposEnviados.filter(campo => !CAMPOS_PERMITIDOS.includes(campo));\n  \n  if (camposInvalidos.length > 0) {\n    throw new Error(`Erro de Payload: O(s) campo(s) [${camposInvalidos.join(', ')}] não são reconhecidos por esta API.`);\n  }\n\n  // --- VALIDAÇÃO 02: Campos Obrigatórios ---\n  const pdfUrl = body.pdf_url || body.PDF_URL;\n  if (!pdfUrl) {\n    throw new Error(\"Erro de Payload: O campo 'pdf_url' é obrigatório.\");\n  }\n\n  // --- VALIDAÇÃO 03: Tipagem básica (Opcional, mas recomendada) ---\n  if (body.page_from && isNaN(body.page_from)) throw new Error(\"O campo 'page_from' deve ser um número ou string numérica.\");\n  \n  // --- NORMALIZAÇÃO ---\n  const filePrefix = timestamp;\n\n  return {\n    json: {\n      // Inputs Normalizados (Garante que o Python receba sempre o mesmo nome de chave)\n      PDF_URL: pdfUrl,\n      PAGE_FROM: String(body.page_from || \"1\"),\n      PAGE_TO: String(body.page_to || \"1\"),\n      \n      // Campos Gerados Dinamicamente\n      FILE_PREFIX: filePrefix,\n      DPI: String(body.dpi || \"300\"),\n      IMAGE_FORMAT: (body.image_format || \"png\").toLowerCase(),\n      QUALITY: String(body.quality || \"95\"),\n      PAGE_MODE: (body.page_mode || \"all\").toLowerCase(),\n      \n      // Caminhos de Sistema\n      OUT_DIR: `/n8n_data/pdf/pdf_pages/${filePrefix}`,\n      PDF_DOWNLOAD_PATH: `/n8n_data/pdf/${filePrefix}.pdf`,\n      \n      // Configurações Fixas de Segurança/Saída\n      OUTPUT_TYPE: \"local\",\n      BASE64_PREFIX: false,\n      MAX_PAGES: 10,\n      MERGE_PAGES: !!body.merge_pages // Converte para booleano real\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -80
      ],
      "id": "82552ef2-dbb3-44b6-904b-a3780496419a",
      "name": "Normaliza dados e verifica Payload",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Ajusta output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (500)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normaliza dados e verifica Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Sobe as imagens no S3 da AWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (500)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobe as imagens no S3 da AWS": {
      "main": [
        [
          {
            "node": "Verifica se faz o merge das pgs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (500)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Normaliza dados e verifica Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se faz o merge das pgs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta output": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Verifica se faz o merge das pgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se faz o merge das pgs1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza dados e verifica Payload": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (400)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "executionTimeout": 120
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "2087a9d2-ed50-4bfb-b664-5a4c7dd637cd",
  "activeVersionId": "2087a9d2-ed50-4bfb-b664-5a4c7dd637cd",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-02T12:35:39.405Z",
      "createdAt": "2026-02-02T12:35:39.405Z",
      "role": "workflow:owner",
      "workflowId": "BW3yqubgSNyxSfNp",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-18T00:42:08.020Z",
    "createdAt": "2026-04-18T00:42:08.020Z",
    "versionId": "2087a9d2-ed50-4bfb-b664-5a4c7dd637cd",
    "workflowId": "BW3yqubgSNyxSfNp",
    "nodes": [
      {
        "parameters": {
          "executeOnce": false,
          "command": "=# =================================================\n# INPUTS (n8n variables / parâmetros simples)\n# =================================================\n\n# --- PDF ---\nPDF_URL=\"{{ $json.PDF_URL }}\"\n\n# --- Render ---\nDPI={{ $json.DPI }}              # 150 | 300 | 400\nIMAGE_FORMAT=\"{{ $json.IMAGE_FORMAT }}\"      # png | jpg\nQUALITY={{ $json.QUALITY }}             # usado apenas para jpg\n\n# --- Pages ---\nPAGE_MODE=\"{{ $json.PAGE_MODE }}\"         # all | single | range\nPAGE_FROM=\"{{ $json.PAGE_FROM }}\"            # ex: 1\nPAGE_TO=\"{{ $json.PAGE_TO }}\"              # ex: 2\n\n# --- Output ---\nOUTPUT_TYPE=\"{{ $json.OUTPUT_TYPE }}\"     # local | base64\nOUT_DIR=\"{{ $json.OUT_DIR }}\"\nBASE64_PREFIX={{ $json.BASE64_PREFIX }}     # true | false\nFILE_PREFIX=\"{{ $json.FILE_PREFIX }}\"\n\n# --- Limits ---\nMAX_PAGES={{ $json.MAX_PAGES }}\n\n# --- Merge ---\nMERGE_PAGES={{ $json.MERGE_PAGES }}     # true | false\n\n# =================================================\n# Paths\n# =================================================\nPDF=\"{{ $json.PDF_DOWNLOAD_PATH }}\"\nPY=\"/tmp/pdf_to_images.py\"\n\nmkdir -p \"$OUT_DIR\"\n\n# =================================================\n# Download PDF (mantido como no script funcional)\n# =================================================\nwget -q -O \"$PDF\" \"$PDF_URL\" || exit 1\n\n# =================================================\n# Python script (embedded)\n# =================================================\ncat > \"$PY\" << 'EOF'\nimport subprocess\nimport sys\nimport os\nimport json\nimport base64\n\nPDF_PATH      = sys.argv[1]\nOUT_DIR       = sys.argv[2]\nDPI           = int(sys.argv[3])\nFORMAT        = sys.argv[4]\nQUALITY       = int(sys.argv[5])\nPAGE_MODE     = sys.argv[6]\nPAGE_FROM     = sys.argv[7] or None\nPAGE_TO       = sys.argv[8] or None\nOUTPUT_TYPE   = sys.argv[9]\nBASE64_PREFIX = sys.argv[10].lower() == \"true\"\nMAX_PAGES     = int(sys.argv[11])\nFILE_PREFIX   = sys.argv[12]\nMERGE_PAGES   = sys.argv[13].lower() == \"true\"\n\nPREFIX = os.path.join(OUT_DIR, f\"{FILE_PREFIX}-page\")\n\n# -------------------------------\n# Build pdftoppm command\n# -------------------------------\ncmd = [\"pdftoppm\", \"-r\", str(DPI)]\n\nif FORMAT == \"png\":\n    cmd.append(\"-png\")\nelif FORMAT in (\"jpg\", \"jpeg\"):\n    cmd.append(\"-jpeg\")\n    cmd += [\"-jpegopt\", f\"quality={QUALITY}\"]\nelse:\n    raise Exception(\"Invalid image format\")\n\nif PAGE_MODE == \"single\" and PAGE_FROM:\n    cmd += [\"-f\", PAGE_FROM, \"-l\", PAGE_FROM]\nelif PAGE_MODE == \"range\" and PAGE_FROM and PAGE_TO:\n    cmd += [\"-f\", PAGE_FROM, \"-l\", PAGE_TO]\n# PAGE_MODE == all → nada\n\ncmd += [PDF_PATH, PREFIX]\n\nsubprocess.check_call(cmd)\n\n# -------------------------------\n# Collect files\n# -------------------------------\next = \"png\" if FORMAT == \"png\" else \"jpg\"\n\nfiles = sorted(\n    f for f in os.listdir(OUT_DIR)\n    if f.startswith(f\"{FILE_PREFIX}-page-\") and f.endswith(\".\" + ext)\n)\n\nif len(files) == 0:\n    raise Exception(\"No pages generated\")\n\nif len(files) > MAX_PAGES:\n    raise Exception(\"Max pages limit exceeded\")\n\nresult_files = []\n\n# -------------------------------\n# Merge pages into single image (optional)\n# -------------------------------\nif MERGE_PAGES:\n    merged_output = os.path.join(OUT_DIR, f\"{FILE_PREFIX}-merged.{ext}\")\n\n    # Use ImageMagick if available\n    merge_cmd = [\"convert\"]\n\n    for f in files:\n        merge_cmd.append(os.path.join(OUT_DIR, f))\n\n    merge_cmd += [\"-append\", merged_output]\n\n    subprocess.check_call(merge_cmd)\n\n    entry = {\"path\": merged_output}\n\n    if OUTPUT_TYPE == \"base64\":\n        with open(merged_output, \"rb\") as img:\n            b64 = base64.b64encode(img.read()).decode()\n            if BASE64_PREFIX:\n                mime = \"image/png\" if FORMAT == \"png\" else \"image/jpeg\"\n                b64 = f\"data:{mime};base64,\" + b64\n            entry[\"base64\"] = b64\n\n    result_files = [entry]\n\nelse:\n    for f in files:\n        fpath = os.path.join(OUT_DIR, f)\n        entry = {\"path\": fpath}\n\n        if OUTPUT_TYPE == \"base64\":\n            with open(fpath, \"rb\") as img:\n                b64 = base64.b64encode(img.read()).decode()\n                if BASE64_PREFIX:\n                    mime = \"image/png\" if FORMAT == \"png\" else \"image/jpeg\"\n                    b64 = f\"data:{mime};base64,\" + b64\n                entry[\"base64\"] = b64\n\n        result_files.append(entry)\n\n# -------------------------------\n# Output JSON\n# -------------------------------\nresult = {\n    \"status\": \"success\",\n    \"url\": PDF_PATH,\n    \"dpi\": DPI,\n    \"format\": FORMAT,\n    \"page_mode\": PAGE_MODE,\n    \"merge_pages\": MERGE_PAGES,\n    \"pages\": len(result_files),\n    \"files\": result_files\n}\n\nprint(json.dumps(result))\nEOF\n\n# =================================================\n# Execute\n# =================================================\npython3 \"$PY\" \\\n  \"$PDF\" \\\n  \"$OUT_DIR\" \\\n  \"$DPI\" \\\n  \"$IMAGE_FORMAT\" \\\n  \"$QUALITY\" \\\n  \"$PAGE_MODE\" \\\n  \"$PAGE_FROM\" \\\n  \"$PAGE_TO\" \\\n  \"$OUTPUT_TYPE\" \\\n  \"$BASE64_PREFIX\" \\\n  \"$MAX_PAGES\" \\\n  \"$FILE_PREFIX\" \\\n  \"$MERGE_PAGES\" \\\n  2>/dev/null"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          96,
          -96
        ],
        "id": "999b38af-0424-40c7-9219-8f2d35af0faa",
        "name": "Execute Command",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "fileSelector": "={{ $json.path }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1008,
          16
        ],
        "id": "b41af9be-5657-47f9-8551-3b79dc1b78cd",
        "name": "Read/Write Files from Disk",
        "retryOnFail": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "pdf-converter",
          "authentication": "***REMOVIDO***",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -528,
          -80
        ],
        "id": "cb74c7bf-9727-4d19-95b0-ade5841e72ac",
        "name": "Webhook",
        "webhookId": "dde5f543-0d38-408a-8f0c-db93e4647ef7",
        "credentials": {
          "jwtAuth": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "upload",
          "bucketName": "cdn.miabuilder.com",
          "fileName": "=SADM/{{ $json.fileName }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          1312,
          0
        ],
        "id": "ceaf262d-2fc3-48e0-927e-99f898e1a224",
        "name": "Sobe as imagens no S3 da AWS",
        "credentials": {
          "aws": {
            "id": "NL1DGPqJZ3XHyml8",
            "name": "MIA CDN AWS S3"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## 01 - INTERFACE DE ENTRADA & PARAMS Comentário:\n-> Ponto de entrada da API. Pode ser acionado via Webhook (JWT Auth).\n-> O nó Normaliza dados (Code) é o cérebro da preparação: ele gera o FILE_PREFIX único via timestamp para evitar colisão de arquivos no servidor.\n-> Define os caminhos dinâmicos de diretório (OUT_DIR) e o local temporário do PDF (PDF_DOWNLOAD_PATH).\"",
          "height": 608,
          "width": 528,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -624,
          -384
        ],
        "id": "7b4b7fc9-f3bd-4177-9513-c99fee5216d9",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 02 - MOTOR DE RENDERIZAÇÃO (LINUX/PYTHON)\n-> Execução de baixo nível no servidor (Self-Hosted).\n-> Download: O comando wget busca o PDF da URL fornecida e salva no caminho temporário.\n-> Conversão: Um script Python embarcado orquestra o utilitário pdftoppm.\n-> Parâmetros: Suporta controle de DPI (qualidade), formato (PNG/JPG) e seleção de páginas (all/single/range).\"",
          "height": 608,
          "width": 528
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -80,
          -384
        ],
        "id": "15c5e29d-d2cc-46ac-bfdb-2d6431941ad5",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 03 - GESTÃO DE BINÁRIOS & ARMAZENAMENTO \nTransforma o processamento local em recursos acessíveis:\n-> Read/Write Files: Lê as imagens geradas pelo script Python do sistema de arquivos (/n8n_data) e as carrega como objetos binários no n8n.\n-> AWS S3: Faz o upload automático das imagens convertidas para o bucket da MIA (CDN), gerando os links públicos para uso.",
          "height": 608,
          "width": 1344
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          464,
          -384
        ],
        "id": "c7b75e8c-7b3f-493b-b23d-8db5dae6fb3d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"message\": \"PDF convertido com sucesso\",\n  \"status\": \"processed\",\n  \"conversionUrl\": \"{{ $json.paths }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1888,
          -272
        ],
        "id": "759fb1bd-7b24-46ac-ad75-b9f8a72c020a",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"error\": \"erro\",\n  \"message\": \"Erro interno no processamento do documento.\",\n  \"status\": 500\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          96,
          320
        ],
        "id": "dc0e669a-379c-4c6a-a0af-799a2e738d84",
        "name": "Respond to Webhook (500)"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"error\": \"Bad Request\",\n  \"message\": \"{{ $json.error }}\",\n  \"status\": 400\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -320,
          320
        ],
        "id": "cb8f7609-e740-48b6-9240-330ed1fd0760",
        "name": "Respond to Webhook (400)"
      },
      {
        "parameters": {
          "content": "## Tratamento de erros\n",
          "height": 256,
          "width": 2688,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -624,
          240
        ],
        "id": "2ffb406d-c8ac-4cf7-be1d-38fdbc002949",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## 04 - OUTPUT",
          "height": 608,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1824,
          -384
        ],
        "id": "a2b3ace9-3d8f-4dbd-8d16-a0147f332f7a",
        "name": "Sticky Note3"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -512,
          -864
        ],
        "id": "9baa3d5a-25dc-4719-967d-dacdeb9c5419",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ad4dfe94-a828-4cbb-863f-5675f913b67e",
                "name": "pdf_url",
                "value": "https://raw.githubusercontent.com/TaysaGuiral/BackupTesteMia/main/HorA%CC%83%C2%A1rio_BCC%202026_sem1.pdf",
                "type": "string"
              },
              {
                "id": "c92e8021-7d1b-495a-849c-46b4af45671f",
                "name": "page_from",
                "value": "1",
                "type": "string"
              },
              {
                "id": "df970b3a-135b-41b6-8eed-238cd46861fc",
                "name": "page_to",
                "value": "3",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -320,
          -864
        ],
        "id": "00d8ffc5-d839-4e98-a37a-bc1b4f6ce258",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          992,
          -256
        ],
        "id": "647dc4f0-0081-42d2-987c-a38f617d42c8",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cdf3d940-c572-4968-8b78-18e5d670d323",
                "leftValue": "={{ $('Normaliza dados e verifica Payload').item.json.MERGE_PAGES }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          -112
        ],
        "id": "666962a5-08c9-454d-b34e-6e5707656f90",
        "name": "Verifica se faz o merge das pgs"
      },
      {
        "parameters": {
          "jsCode": "// Transforma a string 'stdout' em campos reais do n8n\nconst output = JSON.parse($input.item.json.stdout);\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          304,
          -112
        ],
        "id": "661164e1-56d9-4e2c-afa1-103258821592",
        "name": "Ajusta output"
      },
      {
        "parameters": {
          "fieldToSplitOut": "files",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          512,
          -112
        ],
        "id": "17e843e1-502b-458c-a22d-5cba8314edca",
        "name": "Split Out"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Location",
                "renameField": true,
                "outputFieldName": "paths"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1552,
          -272
        ],
        "id": "541771dc-53f7-4ae9-a84a-85f855c3e383",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "cdf3d940-c572-4968-8b78-18e5d670d323",
                "leftValue": "={{ $('Normaliza dados e verifica Payload').item.json.MERGE_PAGES }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1584,
          -16
        ],
        "id": "654f2dbc-b8e2-4833-beb6-35dfbb1f86c1",
        "name": "Verifica se faz o merge das pgs1"
      },
      {
        "parameters": {
          "jsCode": "// 1. Gera o timestamp para prefixo de arquivos\nconst agora = new Date();\nconst pad = (n, size) => String(n).padStart(size, \"0\");\n\nconst timestamp = \n  agora.getFullYear() +\n  pad(agora.getMonth() + 1, 2) +\n  pad(agora.getDate(), 2) +\n  pad(agora.getHours(), 2) +\n  pad(agora.getMinutes(), 2) +\n  pad(agora.getSeconds(), 2) +\n  pad(agora.getMilliseconds(), 3);\n\n// 2. Define as regras de validação do Payload\nconst CAMPOS_PERMITIDOS = [\n  'pdf_url', 'PDF_URL', \n  'page_from', 'page_to', \n  'dpi', 'image_format', \n  'quality', 'page_mode', \n  'merge_pages'\n];\n\nreturn $input.all().map(item => {\n  // Suporta entrada via Webhook Body ou direta\n  const body = item.json.body || item.json; \n  const camposEnviados = Object.keys(body);\n\n  // --- VALIDAÇÃO 01: Campos Desconhecidos ---\n  // Verifica se o usuário enviou algo que não está na lista permitida (ex: erro de digitação)\n  const camposInvalidos = camposEnviados.filter(campo => !CAMPOS_PERMITIDOS.includes(campo));\n  \n  if (camposInvalidos.length > 0) {\n    throw new Error(`Erro de Payload: O(s) campo(s) [${camposInvalidos.join(', ')}] não são reconhecidos por esta API.`);\n  }\n\n  // --- VALIDAÇÃO 02: Campos Obrigatórios ---\n  const pdfUrl = body.pdf_url || body.PDF_URL;\n  if (!pdfUrl) {\n    throw new Error(\"Erro de Payload: O campo 'pdf_url' é obrigatório.\");\n  }\n\n  // --- VALIDAÇÃO 03: Tipagem básica (Opcional, mas recomendada) ---\n  if (body.page_from && isNaN(body.page_from)) throw new Error(\"O campo 'page_from' deve ser um número ou string numérica.\");\n  \n  // --- NORMALIZAÇÃO ---\n  const filePrefix = timestamp;\n\n  return {\n    json: {\n      // Inputs Normalizados (Garante que o Python receba sempre o mesmo nome de chave)\n      PDF_URL: pdfUrl,\n      PAGE_FROM: String(body.page_from || \"1\"),\n      PAGE_TO: String(body.page_to || \"1\"),\n      \n      // Campos Gerados Dinamicamente\n      FILE_PREFIX: filePrefix,\n      DPI: String(body.dpi || \"300\"),\n      IMAGE_FORMAT: (body.image_format || \"png\").toLowerCase(),\n      QUALITY: String(body.quality || \"95\"),\n      PAGE_MODE: (body.page_mode || \"all\").toLowerCase(),\n      \n      // Caminhos de Sistema\n      OUT_DIR: `/n8n_data/pdf/pdf_pages/${filePrefix}`,\n      PDF_DOWNLOAD_PATH: `/n8n_data/pdf/${filePrefix}.pdf`,\n      \n      // Configurações Fixas de Segurança/Saída\n      OUTPUT_TYPE: \"local\",\n      BASE64_PREFIX: false,\n      MAX_PAGES: 10,\n      MERGE_PAGES: !!body.merge_pages // Converte para booleano real\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          -80
        ],
        "id": "82552ef2-dbb3-44b6-904b-a3780496419a",
        "name": "Normaliza dados e verifica Payload",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "Execute Command": {
        "main": [
          [
            {
              "node": "Ajusta output",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook (500)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Normaliza dados e verifica Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Sobe as imagens no S3 da AWS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook (500)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sobe as imagens no S3 da AWS": {
        "main": [
          [
            {
              "node": "Verifica se faz o merge das pgs1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook (500)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Normaliza dados e verifica Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se faz o merge das pgs": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ajusta output": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Verifica se faz o merge das pgs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se faz o merge das pgs1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza dados e verifica Payload": {
        "main": [
          [
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond to Webhook (400)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}