backup/atlas---incluir-movimentacao-VWYBVCOEKEHdip9c.json
{"createdAt":"2025-08-15T17:34:29.915Z","updatedAt":"2025-09-01T15:26:56.656Z","id":"VWYBVCOEKEHdip9c","name":"Atlas - Incluir Movimentacao","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## Chama IA  para analisar os dados de entrada","height":300,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[592,288],"typeVersion":1,"id":"9074664d-1082-41d9-81ed-98498ce0e8e6","name":"Sticky Note13"},{"parameters":{"content":"## Retorna Sucesso para o Agente Chamador","height":300,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1344,288],"typeVersion":1,"id":"58ae59bc-ede6-4d4f-b912-bc728b148369","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"f22526d4-6e92-4e82-b95e-ac6725508c6d","name":"response","value":"Sucesso","type":"string"}]},"options":{}},"id":"a28652d7-df92-4cba-80f7-5d1841a4f5fb","name":"Retorna Sucesso","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,384]},{"parameters":{},"id":"5af17fc8-2243-4f8c-9465-5535dc379bb8","name":"Executa o Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[384,384]},{"parameters":{"content":"## Insere o retorno como uma Movimentação na Planilha","height":300,"width":360,"color":2},"type":"n8n-nodes-base.stickyNote","position":[960,288],"typeVersion":1,"id":"3f6fac93-2795-4464-9731-7e9f5112f9ee","name":"Sticky Note14"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1C1DFqk6wSPEEwIh8UyA6ell7VQROCaVvWBwfuUSDFNI","mode":"list","cachedResultName":"Gastos de Casa - Lucas e Isabella","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C1DFqk6wSPEEwIh8UyA6ell7VQROCaVvWBwfuUSDFNI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1843257040,"mode":"list","cachedResultName":"atlas_movimentacoes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1C1DFqk6wSPEEwIh8UyA6ell7VQROCaVvWBwfuUSDFNI/edit#gid=1843257040"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $json.message.content.data_transacao }}","Transação":"={{ $json.message.content.transacao }}","Categoria":"={{ $json.message.content.categoria }}","Entrada":"={{ $json.message.content.entrada }}","Saída":"={{ $json.message.content.saida }}","Mês":"={{ \n  [\"Janeiro\", \"Fevereiro\", \"Março\", \"Abril\", \"Maio\", \"Junho\", \"Julho\", \"Agosto\", \"Setembro\", \"Outubro\", \"Novembro\", \"Dezembro\"][\n    ($json.message.content.data_transacao.includes(\"/\") ? \n      $json.message.content.data_transacao.split(\"/\")[1] : \n      $json.message.content.data_transacao.split(\"-\")[1]\n    ) - 1\n  ] \n}}"},"matchingColumns":["Date"],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mês","displayName":"Mês","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transação","displayName":"Transação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Categoria","displayName":"Categoria","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Entrada","displayName":"Entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Saída","displayName":"Saída","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"id":"5e37655e-5173-440f-a984-62b007143e77","name":"Insere Movimentação","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1088,384],"credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"content":"","height":600,"width":1480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,80],"id":"e4c7850c-0ed7-42ab-974d-5f860d149faa","name":"Sticky Note1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Analise os dados e forneça os parâmetros separadamente.","role":"system"},{"content":"={{ JSON.stringify($json.query) }}"}]},"jsonOutput":true,"options":{}},"id":"f247efd4-4e39-4485-a56f-e544fd510328","name":"🕵️‍♂️Análise os Dados 📊","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[640,384],"credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}}}],"connections":{"Executa o Workflow":{"main":[[{"node":"🕵️‍♂️Análise os Dados 📊","type":"main","index":0}]]},"Insere Movimentação":{"main":[[{"node":"Retorna Sucesso","type":"main","index":0}]]},"🕵️‍♂️Análise os Dados 📊":{"main":[[{"node":"Insere Movimentação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9cc3a74-b6b8-4fec-84b9-bf2d329c669a","triggerCount":0,"tags":[{"createdAt":"2025-07-20T15:45:29.310Z","updatedAt":"2025-07-20T15:45:29.310Z","id":"wRUSTJ6mfrXjoMjo","name":"formacao-agentes-n8n"},{"createdAt":"2025-08-01T17:57:59.772Z","updatedAt":"2025-08-01T17:57:59.772Z","id":"DSDfqcFyPwY1Vy7F","name":"google-sheets"},{"createdAt":"2025-08-15T17:34:00.496Z","updatedAt":"2025-08-15T17:34:00.496Z","id":"EDmxLCNqtgvn9jdw","name":"finthrix"}]}