backup/avlog---1.2---calcular-km-pedagio-7CLKOCxRhJ2mv38o.json
{
  "updatedAt": "2026-04-10T12:09:51.069Z",
  "createdAt": "2026-03-25T13:46:06.476Z",
  "id": "7CLKOCxRhJ2mv38o",
  "name": "AVLog - 1.2 - Calcular km + Pedágio",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": " {\n    \"origem\": \"Belo Horizonte, MG\",\n    \"destino\": \"Montes Claros, MG\",\n    \"peso\": \"30\",\n    \"dimensoes\": [\n      {\n        \"qtd\": 1,\n        \"dim\": \"26x21x35\"\n      },\n      {\n        \"qtd\": 5,\n        \"dim\": \"26x21x35\"\n      },\n      {\n        \"qtd\": 1,\n        \"dim\": \"22x24x32\"\n      },\n      {\n        \"qtd\": 5,\n        \"dim\": \"15x21x35\"\n      },\n      {\n        \"qtd\": 5,\n        \"dim\": \"27x16x36\"\n      },\n      {\n        \"qtd\": 1,\n        \"dim\": \"36x31x36\"\n      },\n      {\n        \"qtd\": 2,\n        \"dim\": \"56x28x42\"\n      },\n      {\n        \"qtd\": 12,\n        \"dim\": \"22x30x43\"\n      },\n      {\n        \"qtd\": 1,\n        \"dim\": \"13x30x34\"\n      },\n      {\n        \"qtd\": 2,\n        \"dim\": \"15x33x45\"\n      }\n    ],\n    \"volume\": \"35 volumes\",\n    \"cliente\": \"ABIV\",\n    \"tipo_tabela\": \"INTERIOR\",\n    \"valor_mercadoria\": \"2500.00\",\n    \"dedicado\": \"sim\"\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        864
      ],
      "id": "25cf0e80-24ee-472e-ba25-616a60908fc8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const origem = $node[\"Lat e Long da Origem1\"].json.results?.[0]?.geometry?.location;\nconst destino = $node[\"Lat e Long do Destino1\"].json.results?.[0]?.geometry?.location;\n\nif (!origem || !destino) {\n  throw new Error('Erro ao obter coordenadas');\n}\n\nreturn [{\n  json: {\n    origem_lat: origem.lat,\n    origem_lng: origem.lng,\n    destino_lat: destino.lat,\n    destino_lng: destino.lng\n  }\n}];"
      },
      "id": "28737ba3-cd78-471d-a0d1-204ecb540fd0",
      "name": "Extrai Coordenadas1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        864
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        864
      ],
      "id": "e9064161-184e-49e0-b222-78aa3d0d5516",
      "name": "Merge1"
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $('Organiza dados1').first().json.origem }}"
            },
            {
              "name": "key",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "options": {}
      },
      "id": "c263a81e-a139-4c2a-a80f-18a9bc6acdae",
      "name": "Lat e Long da Origem1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        816,
        720
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $('Organiza dados1').first().json.destino }}"
            },
            {
              "name": "key",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "options": {}
      },
      "id": "8b3e7b06-b376-43e1-8a46-86eef9f9289f",
      "name": "Lat e Long do Destino1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        816,
        1040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://routes.googleapis.com/directions/v2:computeRoutes",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "***REMOVIDO***"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "routes.distanceMeters,routes.duration,routes.travelAdvisory.tollInfo"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "origin",
              "value": "={{ { location: { latLng: { latitude: $json.origem_lat, longitude: $json.origem_lng } } } }}"
            },
            {
              "name": "destination",
              "value": "={{ { location: { latLng: { latitude: $json.destino_lat, longitude: $json.destino_lng } } } }}"
            },
            {
              "name": "travelMode",
              "value": "DRIVE"
            },
            {
              "name": "extraComputations",
              "value": "={{ [\"TOLLS\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6fbb83a7-cf3b-4250-bb83-529d3fa6d99a",
      "name": "Calcula km e pedágio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1424,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "const route = items[0].json.routes?.[0];\n\nif (!route) {\n  return [{\n    json: {\n      distancia_km: 0,\n      pedagios: 0,\n      erro: true\n    }\n  }];\n}\n\nconst distancia_km = (route.distanceMeters / 1000) * 1.073;\n\nlet pedagio = 0;\n\nconst toll = route.travelAdvisory?.tollInfo?.estimatedPrice?.[0];\n\nif (toll) {\n  const units = Number(toll.units || 0);\n  const nanos = Number(toll.nanos || 0) / 1e9;\n\n  pedagio = units + nanos;\n}\n\nreturn [{\n  json: {\n    distancia_km: Number(distancia_km.toFixed(2)),\n    pedagios: Number(pedagio.toFixed(2))\n  }\n}];"
      },
      "id": "354f4171-72cd-4263-96fb-0c62a6096a85",
      "name": "Resultado km e pedágio1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        704
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst custo_combustivel = Number(data.custo_combustivel || 0);\nconst pedagio_total = Number(data.pedagio_total || 0);\n\nconst custo_total_base = custo_combustivel + pedagio_total;\nconst custo_total_com_imposto = custo_total_base / 0.60;\n\nreturn [\n  {\n    json: {\n      ...data,\n      custo_total_base: Number(custo_total_base.toFixed(2)),\n      custo_total_com_imposto: Number(custo_total_com_imposto.toFixed(2))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        880
      ],
      "id": "aa2df84b-410a-461e-9128-fb9b4d9a8797",
      "name": "Cálculo final (imposto)1"
    },
    {
      "parameters": {
        "jsCode": "const data = $node[\"Organiza dados1\"].json;\n\n// ===============================\n// 🔹 Peso real (sempre obrigatório)\n// ===============================\nconst peso_real = Number(\n  String(data.peso || '0')\n    .replace(/[^\\d.,]/g, '')\n    .replace(',', '.')\n) || 0;\n\n// ===============================\n// 🔹 Parser de dimensão (seguro)\n// ===============================\nconst parseDim = (dimStr) => {\n  if (!dimStr || typeof dimStr !== 'string') return null;\n\n  const limpo = dimStr\n    .toLowerCase()\n    .replace(/cm/g, '')\n    .replace(/\\s/g, '')\n    .replace(/,/g, '.');\n\n  if (limpo.includes('indisponivel') || limpo.includes('indisponível')) {\n    return null;\n  }\n\n  const partes = limpo.split('x').map(v => Number(v));\n\n  if (partes.length !== 3 || partes.some(n => isNaN(n) || n <= 0)) {\n    return null;\n  }\n\n  return partes;\n};\n\n// ===============================\n// 🔹 Cálculo do volume\n// ===============================\nlet volume_m3 = 0;\nlet quantidade_volumes_total = 0;\nlet temDimensaoValida = false;\n\nif (Array.isArray(data.dimensoes)) {\n  for (const item of data.dimensoes) {\n    const qtd = Number(item.qtd) || 1;\n    const parsed = parseDim(item.dim);\n\n    if (parsed) {\n      const [c, l, a] = parsed;\n      volume_m3 += (c * l * a / 1_000_000) * qtd;\n      quantidade_volumes_total += qtd;\n      temDimensaoValida = true;\n    }\n  }\n}\n\n// ===============================\n// 🔹 Peso cúbico (só se tiver dimensão válida)\n// ===============================\nlet peso_cubico = 0;\n\nif (temDimensaoValida) {\n  peso_cubico = volume_m3 * 300;\n}\n\n// ===============================\n// 🔹 Peso considerado\n// ===============================\nconst peso_considerado = Math.max(peso_real, peso_cubico);\n\n// ===============================\n// 🔹 Escolha do veículo\n// ===============================\nlet veiculo = \"Indefinido\";\n\nif (peso_considerado <= 650)        veiculo = \"Fiorino\";\nelse if (peso_considerado <= 1500)  veiculo = \"Van\";\nelse if (peso_considerado <= 3000)  veiculo = \"HR / VUC\";\nelse if (peso_considerado <= 4000)  veiculo = \"3/4\";\nelse if (peso_considerado <= 6000)  veiculo = \"Toco\";\nelse                                 veiculo = \"Truck\";\n\nreturn [{\n  json: {\n    volume_total_m3:    Number(volume_m3.toFixed(3)),\n    quantidade_volumes: quantidade_volumes_total,\n    peso_real:          Number(peso_real.toFixed(2)),\n    peso_cubico:        Number(peso_cubico.toFixed(2)),\n    peso_considerado:   Number(peso_considerado.toFixed(2)),\n    veiculo_sugerido:   veiculo,\n    observacao: temDimensaoValida \n      ? \"Cálculo com dimensões\"\n      : \"Cálculo apenas com peso real (dimensões ausentes ou inválidas)\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        1040
      ],
      "id": "275884e4-aa10-4a02-adb8-e8c1c4230a57",
      "name": "Sugestão de veículo1"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst veiculo = data.veiculo_sugerido || \"Indefinido\";\nconst pedagio_ida_2_eixos = Number(data.pedagios || 0);\n\n// ===============================\n// 🔹 Mapeamento de eixos por veículo\n// ATUALIZADO: Fiorino e Van = 2 eixos,\n// HR/VUC e 3/4 = 2 eixos, Toco = 2 eixos, Truck = 3 eixos\n// ===============================\nconst eixos_por_veiculo = {\n  \"Fiorino\": 2,\n  \"Van\": 2,\n  \"HR / VUC\": 2,\n  \"3/4\": 2,\n  \"Toco\": 2,\n  \"Truck\": 3\n};\n\nconst eixos = eixos_por_veiculo[veiculo] || 2;\n\nconst pedagio_por_eixo = pedagio_ida_2_eixos / 2;\nconst pedagio_ida_ajustado = pedagio_por_eixo * eixos;\n\nreturn [\n  {\n    json: {\n      ...data,\n      eixos_veiculo: eixos,\n      pedagio_ida_ajustado: Number(pedagio_ida_ajustado.toFixed(2))\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        880
      ],
      "id": "63e4b1b2-3c1e-473c-8868-dabda4df2e74",
      "name": "Cálculo de pedágio por eixo1"
    },
    {
      "parameters": {
        "jsCode": "const distancia_km = Number($json.distancia_km || 0);\nconst pedagios_ida = Number($json.pedagio_ida_ajustado || 0);\nconst veiculo = $json.veiculo_sugerido || \"Indefinido\";\n\nconst km_total = distancia_km * 2;\nconst pedagio_total = pedagios_ida * 2;\n\n// ===============================\n// 🔹 Custo operacional fixo por km (por veículo)\n// Inclui: combustível + manutenção + depreciação + motorista + seguro + outros\n// Fiorino e Van: valores definidos pela operação AVLOG\n// HR/VUC em diante: calculados com acréscimo progressivo sobre combustível\n// ===============================\nconst custo_por_km = {\n  \"Fiorino\":  1.50,\n  \"Van\":      2.50,\n  \"HR / VUC\": 3.43,\n  \"3/4\":      4.28,\n  \"Toco\":     5.40,\n  \"Truck\":    7.47\n};\n\nconst custo_km = custo_por_km[veiculo] || 2.60; // fallback para Van se veículo indefinido\nconst custo_operacional = Number((km_total * custo_km).toFixed(2));\n\nreturn [{\n  json: {\n    distancia_km:       Number(distancia_km.toFixed(2)),\n    km_total:           Number(km_total.toFixed(2)),\n    pedagios_ida:       Number(pedagios_ida.toFixed(2)),\n    pedagio_total:      Number(pedagio_total.toFixed(2)),\n    custo_km_veiculo:   custo_km,\n    custo_combustivel:  custo_operacional, // mantém o nome para compatibilidade com nós seguintes\n    litros_consumidos:  0                  // zerado pois não se aplica mais ao novo modelo\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        880
      ],
      "id": "20208d3f-adcb-40cc-b760-d119a8462149",
      "name": "Cálculo de combustível e pedágio total1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1904,
        880
      ],
      "id": "b3ad4cac-f9c3-421c-bb93-a130b66d3bc8",
      "name": "Combina dados: km e pedágio e veículo1"
    },
    {
      "parameters": {
        "jsCode": "// Mapeamento de abreviações e variações comuns para nomes completos\nconst CIDADES = {\n  // Belo Horizonte\n  \"bh\": \"Belo Horizonte, MG\",\n  \"b.h.\": \"Belo Horizonte, MG\",\n  \"belo horizonte\": \"Belo Horizonte, MG\",\n\n  // São Paulo\n  \"sp\": \"São Paulo, SP\",\n  \"s.p.\": \"São Paulo, SP\",\n  \"sao paulo\": \"São Paulo, SP\",\n  \"são paulo\": \"São Paulo, SP\",\n\n  // Rio de Janeiro\n  \"rj\": \"Rio de Janeiro, RJ\",\n  \"r.j.\": \"Rio de Janeiro, RJ\",\n  \"rio\": \"Rio de Janeiro, RJ\",\n  \"rio de janeiro\": \"Rio de Janeiro, RJ\",\n\n  // Outras capitais e cidades comuns\n  \"cwb\": \"Curitiba, PR\",\n  \"curitiba\": \"Curitiba, PR\",\n  \"poa\": \"Porto Alegre, RS\",\n  \"porto alegre\": \"Porto Alegre, RS\",\n  \"ssv\": \"Salvador, BA\",\n  \"salvador\": \"Salvador, BA\",\n  \"for\": \"Fortaleza, CE\",\n  \"fortaleza\": \"Fortaleza, CE\",\n  \"rec\": \"Recife, PE\",\n  \"recife\": \"Recife, PE\",\n  \"bsb\": \"Brasília, DF\",\n  \"brasilia\": \"Brasília, DF\",\n  \"brasília\": \"Brasília, DF\",\n  \"goiania\": \"Goiânia, GO\",\n  \"goiânia\": \"Goiânia, GO\",\n  \"manaus\": \"Manaus, AM\",\n  \"belem\": \"Belém, PA\",\n  \"belém\": \"Belém, PA\",\n  \"natal\": \"Natal, RN\",\n  \"maceio\": \"Maceió, AL\",\n  \"maceió\": \"Maceió, AL\",\n  \"teresina\": \"Teresina, PI\",\n  \"campo grande\": \"Campo Grande, MS\",\n  \"cuiaba\": \"Cuiabá, MT\",\n  \"cuiabá\": \"Cuiabá, MT\",\n  \"porto velho\": \"Porto Velho, RO\",\n  \"macapa\": \"Macapá, AP\",\n  \"macapá\": \"Macapá, AP\",\n  \"boa vista\": \"Boa Vista, RR\",\n  \"palmas\": \"Palmas, TO\",\n  \"rio branco\": \"Rio Branco, AC\",\n  \"sao luis\": \"São Luís, MA\",\n  \"são luís\": \"São Luís, MA\",\n  \"aracaju\": \"Aracaju, SE\",\n  \"joao pessoa\": \"João Pessoa, PB\",\n  \"joão pessoa\": \"João Pessoa, PB\",\n  \"vitoria\": \"Vitória, ES\",\n  \"vitória\": \"Vitória, ES\",\n  \"florianopolis\": \"Florianópolis, SC\",\n  \"florianópolis\": \"Florianópolis, SC\",\n};\n\nconst normalizaCidade = (valor) => {\n  if (!valor) return valor;\n\n  // Remove barra e normaliza separadores (ex: \"Coronel Pacheco/MG\" → \"Coronel Pacheco, MG\")\n  let normalizado = String(valor)\n    .trim()\n    .replace(/\\s*\\/\\s*/g, ', ')   // \"Cidade/MG\" → \"Cidade, MG\"\n    .replace(/\\s*-\\s*([A-Z]{2})$/, ', $1');  // \"Cidade - MG\" → \"Cidade, MG\"\n\n  // Verifica se a versão em lowercase bate com o mapeamento\n  const chave = normalizado.toLowerCase().trim();\n  if (CIDADES[chave]) {\n    return CIDADES[chave];\n  }\n\n  return normalizado;\n};\n\nconst origem  = normalizaCidade($input.first().json.origem);\nconst destino = normalizaCidade($input.first().json.destino);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    origem,\n    destino\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        864
      ],
      "id": "2ccf7402-5ad2-443a-95e7-46b3a0a5cd8a",
      "name": "Organiza dados1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Xf0wZ2YcwZ8md_tiAypNp4d7BL24ZJkaL_1rcIaalsQ/edit?gid=1035292435#gid=1035292435",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1035292435,
          "mode": "list",
          "cachedResultName": "TABELA_FRETE_AVLOG_06-05-2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xf0wZ2YcwZ8md_tiAypNp4d7BL24ZJkaL_1rcIaalsQ/edit#gid=1035292435"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        880
      ],
      "id": "050dee6e-1b45-427d-ad1b-86f5b06ae2d6",
      "name": "Pega tabela de interior e capital",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// Nó: Code (JavaScript) — n8n\n// Lê dinamicamente todas as linhas da planilha\n// Novos clientes adicionados na tabela entram automaticamente, sem alterar o código\n\nconst rows = $input.all().map(item => item.json);\n\nconst tabela = { INTERIOR: [], CAPITAL: [] };\n\nfunction parsearCliente(nome, taxa, acima_de, kg_limite, kg_excedente, frete_minimo) {\n  // Ignora linhas vazias ou de cabeçalho\n  if (!nome || nome === \"CLIENTE\" || nome.toString().trim() === \"\") return null;\n\n  // Normaliza a taxa (aceita 0.013, \"1.3%\", \"2.0%\", etc.)\n  let taxaNormalizada;\n  if (typeof taxa === \"string\" && taxa.includes(\"%\")) {\n    taxaNormalizada = parseFloat(taxa.replace(\"%\", \"\").trim()) / 100;\n  } else {\n    taxaNormalizada = parseFloat(taxa);\n  }\n\n  // Normaliza o acima_de (aceita número ou \"TODAS NOTAS\" / \"TODAS\")\n  let acimaNormalizado;\n  if (typeof acima_de === \"string\" && acima_de.toUpperCase().includes(\"TODAS\")) {\n    acimaNormalizado = \"TODAS\";\n  } else {\n    acimaNormalizado = parseFloat(acima_de);\n  }\n\n  // Normaliza o kg_limite (aceita \"50 Kg\", \"70 kg\", \"100KG\", 0, etc.)\n  let kgLimiteNormalizado;\n  if (typeof kg_limite === \"string\") {\n    kgLimiteNormalizado = parseFloat(kg_limite.replace(/[^0-9.]/g, \"\")) || 0;\n  } else {\n    kgLimiteNormalizado = parseFloat(kg_limite) || 0;\n  }\n\n  return {\n    cliente:       nome.toString().trim(),\n    taxa:          taxaNormalizada,\n    acima_de:      acimaNormalizado,\n    kg_limite:     kgLimiteNormalizado,\n    kg_excedente:  parseFloat(kg_excedente) || 0,\n    frete_minimo:  parseFloat(frete_minimo) || 0\n  };\n}\n\nfor (const row of rows) {\n  // Processa coluna INTERIOR\n  const interior = parsearCliente(\n    row[\"INTERIOR\"],\n    row[\"col_2\"],\n    row[\"col_3\"],\n    row[\"col_4\"],\n    row[\"col_5\"],\n    row[\"col_6\"]\n  );\n  if (interior) tabela.INTERIOR.push(interior);\n\n  // Processa coluna CAPITAL\n  const capital = parsearCliente(\n    row[\"CAPITAL\"],\n    row[\"col_8\"],\n    row[\"col_9\"],\n    row[\"col_10\"],\n    row[\"col_11\"],\n    row[\"col_12\"]\n  );\n  if (capital) tabela.CAPITAL.push(capital);\n}\n\nreturn [{ json: { tabela_clientes: tabela } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        880
      ],
      "id": "17883b00-5541-4e68-8c99-9f32fd2f1376",
      "name": "Organiza a saída da tabela"
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// 🔹 Entrada\n// ===============================\nconst entrada = $('Organiza dados1').first().json;\nconst tabela_clientes = $('Organiza a saída da tabela').first().json.tabela_clientes;\n\nconst cliente_nome_raw = String(entrada.cliente || '').trim();\nconst cliente_nome     = cliente_nome_raw.toUpperCase();\n\nconst tipo_tabela      = String(entrada.tipo_tabela || 'INTERIOR').toUpperCase();\nconst valor_mercadoria = Number(\n  String(entrada.valor_mercadoria || '0')\n    .replace(/[^\\d.,]/g, '')\n    .replace(',', '.')\n);\nconst peso_informado = Number(\n  String(entrada.peso || '0')\n    .replace(/[^\\d.,]/g, '')\n    .replace(',', '.')\n);\nconst dedicado = String(entrada.dedicado || 'nao').toLowerCase().trim();\n\nconst lista = tabela_clientes?.[tipo_tabela] || [];\n\n// ===============================\n// 🔴 REGRA: CLIENTE AVULSO\n// ===============================\nif (cliente_nome === \"AVULSO\") {\n\n  // ✅ permitido → dedicado\n  if (dedicado === \"sim\") {\n    return [{\n      json: {\n        cliente: \"AVULSO\",\n        tipo_tabela: tipo_tabela,\n\n        peso_informado: 0,\n        peso_considerado: 0,\n\n        valor_mercadoria: Number(valor_mercadoria.toFixed(2)),\n\n        frete_ad_valorem: 0,\n        frete_base: 0,\n        tem_excedente: false,\n        excedente: 0,\n        frete_final: 0,\n\n        dedicado: \"sim\",\n        observacao: \"Cliente avulso - frete dedicado tratado fora\"\n      }\n    }];\n  }\n\n  // ❌ inválido\n  return [{\n    json: {\n      erro_frete: \"Cliente AVULSO sem frete dedicado.\"\n    }\n  }];\n}\n\n// ===============================\n// 🔹 Normalização\n// ===============================\nconst normalizar = (str) => {\n  return String(str || '')\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\b(ltda|me|epp|sa|s\\/a)\\b/g, '')\n    .replace(/[^a-z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst nomeEntrada = normalizar(cliente_nome_raw);\n\n// ===============================\n// 🔹 Similaridade\n// ===============================\nconst scoreSimilaridade = (a, b) => {\n  const palavrasA = a.split(' ');\n  const palavrasB = b.split(' ');\n\n  let match = 0;\n\n  for (const p of palavrasA) {\n    if (palavrasB.includes(p)) match++;\n  }\n\n  return match / Math.max(palavrasA.length, palavrasB.length);\n};\n\n// ===============================\n// 🔹 MATCH POR REDUÇÃO\n// ===============================\nlet cliente = null;\nlet partes = nomeEntrada.split(' ');\n\nfor (let i = partes.length; i > 0; i--) {\n  const tentativa = partes.slice(0, i).join(' ');\n\n  cliente = lista.find(c => normalizar(c.cliente) === tentativa);\n\n  if (cliente) break;\n}\n\n// ===============================\n// 🔹 MATCH POR INCLUSÃO\n// ===============================\nif (!cliente) {\n  cliente = lista.find(c => {\n    const nomeTabela = normalizar(c.cliente);\n    return nomeEntrada.includes(nomeTabela);\n  });\n}\n\n// ===============================\n// 🔹 FALLBACK SCORE\n// ===============================\nlet melhorScore = 0;\n\nif (!cliente) {\n  for (const c of lista) {\n    const nomeTabela = normalizar(c.cliente);\n    const score = scoreSimilaridade(nomeEntrada, nomeTabela);\n\n    if (score > melhorScore) {\n      melhorScore = score;\n      cliente = c;\n    }\n  }\n}\n\n// ===============================\n// 🔹 FALLBACK FINAL\n// ===============================\nif (!cliente) {\n  cliente = lista[0];\n}\n\n// ===============================\n// 🔹 Peso considerado\n// ===============================\nconst peso_taxado_final = Number($('Sugestão de veículo1').first().json.peso_considerado || 0);\nconst peso_considerado  = Math.max(peso_informado, peso_taxado_final);\n\n// ===============================\n// 🔹 Frete\n// ===============================\nconst frete_ad_valorem = valor_mercadoria * cliente.taxa;\nconst frete_base = Math.max(frete_ad_valorem, cliente.frete_minimo);\n\nlet excedente = 0;\nlet tem_excedente = false;\n\nif (cliente.kg_limite > 0 && cliente.acima_de !== 'TODAS') {\n  if (peso_considerado > cliente.kg_limite) {\n    excedente = (peso_considerado - cliente.kg_limite) * cliente.kg_excedente;\n    tem_excedente = true;\n  }\n}\n\nconst frete_final = frete_base + excedente;\n\n// ===============================\n// 🔹 Retorno\n// ===============================\nreturn [{\n  json: {\n    cliente:            cliente.cliente,\n    cliente_original:   cliente_nome_raw,\n    tipo_tabela:        tipo_tabela,\n\n    taxa_aplicada:      cliente.taxa,\n    frete_minimo:       cliente.frete_minimo,\n    kg_limite:          cliente.kg_limite,\n    kg_excedente_valor: cliente.kg_excedente,\n    acima_de:           String(cliente.acima_de),\n\n    peso_informado:     Number(peso_informado.toFixed(2)),\n    peso_considerado:   Number(peso_considerado.toFixed(2)),\n\n    valor_mercadoria:   Number(valor_mercadoria.toFixed(2)),\n    frete_ad_valorem:   Number(frete_ad_valorem.toFixed(2)),\n    frete_base:         Number(frete_base.toFixed(2)),\n    tem_excedente:      tem_excedente,\n    excedente:          Number(excedente.toFixed(2)),\n    frete_final:        Number(frete_final.toFixed(2)),\n\n    dedicado:           dedicado,\n    score_match:        Number(melhorScore.toFixed(2))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        880
      ],
      "id": "7a6f85d4-4d41-46d1-a6c6-c80729bfbe68",
      "name": "Cálculo de frete (ad valorem + excedente)"
    },
    {
      "parameters": {
        "jsCode": "// Nó tipo: Code (substitui o Set atual para poder calcular valor_total dinamicamente)\n\nconst rota   = $('Cálculo final (imposto)1').first().json;\nconst frete  = $('Cálculo de frete (ad valorem + excedente)').first().json;\n\n// Se houve erro na busca do cliente, devolve o erro direto\nif (frete.erro_frete) {\n  return [{ json: { erro_frete: frete.erro_frete } }];\n}\n\nconst eh_dedicado            = frete.dedicado === 'sim';\nconst custo_total_com_imposto = Number(rota.custo_total_com_imposto || 0);\nconst valor_total             = eh_dedicado\n  ? frete.frete_final + custo_total_com_imposto\n  : frete.frete_final;\n\nreturn [{\n  json: {\n    // ── rota ──────────────────────────────────────\n    distancia_km_ida_e_volta:  rota.km_total,\n    pedagios_ida_e_volta:      rota.pedagio_total,\n    veiculo_sugerido:          $('Sugestão de veículo1').first().json.veiculo_sugerido,\n    custo_combustivel:         rota.custo_combustivel,\n    custo_total_base:          rota.custo_total_base,\n    custo_total_com_imposto:   rota.custo_total_com_imposto,\n\n    // ── peso ──────────────────────────────────────\n    peso_informado:            frete.peso_informado,\n    peso_taxado_final:         $('Sugestão de veículo1').first().json.peso_considerado,\n    peso_considerado:          frete.peso_considerado,\n\n    // ── tabela do cliente ─────────────────────────\n    cliente:                   frete.cliente,\n    tipo_tabela:               frete.tipo_tabela,\n    taxa_aplicada:             frete.taxa_aplicada,\n    frete_minimo:              frete.frete_minimo,\n    kg_limite:                 frete.kg_limite,\n    kg_excedente_valor:        frete.kg_excedente_valor,\n    acima_de:                  frete.acima_de,\n\n    // ── memória de cálculo ────────────────────────\n    valor_mercadoria:          frete.valor_mercadoria,\n    frete_ad_valorem:          frete.frete_ad_valorem,\n    frete_base:                frete.frete_base,\n    tem_excedente:             frete.tem_excedente,\n    excedente:                 frete.excedente,\n    frete_final:               frete.frete_final,\n    eh_dedicado:               eh_dedicado,\n    valor_total:               Number(valor_total.toFixed(2))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        880
      ],
      "id": "1acf9c51-1c75-4e28-858a-c72bc2bee5bb",
      "name": "Resul: km e pedágio e veículo e combustível"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Organiza dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Coordenadas1": {
      "main": [
        [
          {
            "node": "Calcula km e pedágio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Extrai Coordenadas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lat e Long da Origem1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lat e Long do Destino1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcula km e pedágio1": {
      "main": [
        [
          {
            "node": "Resultado km e pedágio1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sugestão de veículo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resultado km e pedágio1": {
      "main": [
        [
          {
            "node": "Combina dados: km e pedágio e veículo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo final (imposto)1": {
      "main": [
        [
          {
            "node": "Pega tabela de interior e capital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sugestão de veículo1": {
      "main": [
        [
          {
            "node": "Combina dados: km e pedágio e veículo1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cálculo de pedágio por eixo1": {
      "main": [
        [
          {
            "node": "Cálculo de combustível e pedágio total1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo de combustível e pedágio total1": {
      "main": [
        [
          {
            "node": "Cálculo final (imposto)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combina dados: km e pedágio e veículo1": {
      "main": [
        [
          {
            "node": "Cálculo de pedágio por eixo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza dados1": {
      "main": [
        [
          {
            "node": "Lat e Long da Origem1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lat e Long do Destino1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega tabela de interior e capital": {
      "main": [
        [
          {
            "node": "Organiza a saída da tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza a saída da tabela": {
      "main": [
        [
          {
            "node": "Cálculo de frete (ad valorem + excedente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo de frete (ad valorem + excedente)": {
      "main": [
        [
          {
            "node": "Resul: km e pedágio e veículo e combustível",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "f4a5c0a9-283a-4eb3-ad53-08190844d8de",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T13:46:06.476Z",
      "createdAt": "2026-03-25T13:46:06.476Z",
      "role": "workflow:owner",
      "workflowId": "7CLKOCxRhJ2mv38o",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}