backup/bms---5.6---contestacao-ntap-hb7oOF29XUp2lS2v.json
{
  "updatedAt": "2026-04-27T18:25:06.319Z",
  "createdAt": "2026-04-24T16:53:22.853Z",
  "id": "hb7oOF29XUp2lS2v",
  "name": "BMS - 5.6 - Contestação NTAP",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contestacao-NTAP",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -96
      ],
      "id": "287d3ea4-63f5-40b4-a294-802226740301",
      "name": "Webhook",
      "webhookId": "52fabd00-a0f5-4ebd-b901-b2159b6dec58"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1c75e3e-00d1-406e-8d8c-867ae8c580da"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b9f9323-7cd9-46c5-9211-60bf6b93fe15",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "img"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        80,
        -96
      ],
      "id": "11cd0adb-86cd-40aa-b920-e49a3ad3d9f1",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -96
      ],
      "id": "094cf2d9-3047-44de-9b9c-2acc84fd6f37",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        576,
        -288
      ],
      "id": "805be90f-fd0b-433f-9964-bbf36f144581",
      "name": "Extrai os dados do pdf separando por página",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.body.pdfUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -272
      ],
      "id": "a00a2632-b3b2-4a25-84d0-e49cc3a54aca",
      "name": "Baixar PDF",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Baixar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar PDF": {
      "main": [
        [
          {
            "node": "Extrai os dados do pdf separando por página",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "versionId": "bc2cb710-9bb0-4790-ba2b-ea7772827eeb",
  "activeVersionId": "bc2cb710-9bb0-4790-ba2b-ea7772827eeb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-24T16:53:22.853Z",
      "createdAt": "2026-04-24T16:53:22.853Z",
      "role": "workflow:owner",
      "workflowId": "hb7oOF29XUp2lS2v",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-27T18:25:06.322Z",
    "createdAt": "2026-04-27T18:25:06.322Z",
    "versionId": "bc2cb710-9bb0-4790-ba2b-ea7772827eeb",
    "workflowId": "hb7oOF29XUp2lS2v",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "contestacao-NTAP",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -320,
          -96
        ],
        "id": "287d3ea4-63f5-40b4-a294-802226740301",
        "name": "Webhook",
        "webhookId": "52fabd00-a0f5-4ebd-b901-b2159b6dec58"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c1c75e3e-00d1-406e-8d8c-867ae8c580da"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "pdf"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "2b9f9323-7cd9-46c5-9211-60bf6b93fe15",
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "img"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          80,
          -96
        ],
        "id": "11cd0adb-86cd-40aa-b920-e49a3ad3d9f1",
        "name": "Switch"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -112,
          -96
        ],
        "id": "094cf2d9-3047-44de-9b9c-2acc84fd6f37",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {
            "joinPages": false
          }
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          576,
          -288
        ],
        "id": "805be90f-fd0b-433f-9964-bbf36f144581",
        "name": "Extrai os dados do pdf separando por página",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.body.pdfUrl }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          336,
          -272
        ],
        "id": "a00a2632-b3b2-4a25-84d0-e49cc3a54aca",
        "name": "Baixar PDF",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Baixar PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar PDF": {
        "main": [
          [
            {
              "node": "Extrai os dados do pdf separando por página",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}