backup/bms---6.2.6---disparador-whatsapp-eventos-xsPnohqZxRZXU7Dd.json
{
  "updatedAt": "2026-04-06T16:21:23.896Z",
  "createdAt": "2026-01-08T13:44:30.164Z",
  "id": "xsPnohqZxRZXU7Dd",
  "name": "BMS - 6.2.6 - Disparador WhatsApp Eventos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "disparo-manual-evento",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        -112
      ],
      "id": "bb836550-59ea-4cd9-96c1-3ab97bfa3344",
      "name": "Webhook",
      "webhookId": "32f1e096-51ac-4134-8a05-40623d1e669e"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2112,
        -96
      ],
      "id": "ee840613-2a12-480d-928b-fbb8c98dfe40",
      "name": "Iterar envio por lead"
    },
    {
      "parameters": {
        "amount": "={{ 4 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        -80
      ],
      "id": "d322b5b1-c75f-4c0c-8a68-88ec6692ec9e",
      "name": "Intervalo entre mensagens",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n             { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -400
      ],
      "id": "4aa7edb0-41fd-42f4-a2c2-6422a88a0b73",
      "name": "Enviar mensagem de texto",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": { \"link\": \"{{ $json.media_url }}\" }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n              { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -80
      ],
      "id": "e7ac4bc3-2c4b-4376-b784-930fed47bb89",
      "name": "Enviar imagem",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Envio de Mensagens de Acordo com o template criado",
        "height": 1120,
        "width": 2064
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -512
      ],
      "typeVersion": 1,
      "id": "c0123468-d346-4995-9c85-d8f7b82506b6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "174590f8-2032-4a75-a4e7-ce27a8be9a58",
              "name": "template_name",
              "value": "={{ $('Busca a mensagem de disparo').first().json.meta_template_name }}",
              "type": "string"
            },
            {
              "id": "59ff38c0-5bb5-41fb-9e42-bc90aa134824",
              "name": "mensagem",
              "value": "={{ $json.message_template }}",
              "type": "string"
            },
            {
              "id": "662fdd3a-8574-496b-bcc2-a65311f1ec9b",
              "name": "midia_url",
              "value": "={{ $json.media_url }}",
              "type": "string"
            },
            {
              "id": "d5de298f-2320-448c-a83e-d23b3298260c",
              "name": "nome",
              "value": "={{ $json.parameters[0] }}",
              "type": "string"
            },
            {
              "id": "7bc1856e-87c7-485d-9a8b-b411e46cc501",
              "name": "telefone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "d00fb8f0-2924-4cec-8fd6-c1cf5be44e6c",
              "name": "param_0",
              "value": "={{ $json.parameters[0] }}",
              "type": "string"
            },
            {
              "id": "f94dc699-b921-4ff0-91ba-61cb2c1e3dfa",
              "name": "param_1",
              "value": "={{ $json.parameters[1] }}",
              "type": "string"
            },
            {
              "id": "c97bf8e1-1fdb-4b6b-9827-a0ddac1dee22",
              "name": "param_2",
              "value": "={{ $json.parameters[2] }}",
              "type": "string"
            },
            {
              "id": "ffa48eb6-0344-4bff-8eae-c908565a1f83",
              "name": "param_3",
              "value": "={{ $json.parameters[3] }}",
              "type": "string"
            },
            {
              "id": "6525d75d-92cc-469b-954d-a2b7f179141d",
              "name": "param_4",
              "value": "={{ $json.parameters[4] }}",
              "type": "string"
            },
            {
              "id": "610ba4a8-7a76-4f5f-a55a-83955d8a9e27",
              "name": "param_5",
              "value": "={{ $json.parameters[5] }}",
              "type": "string"
            },
            {
              "id": "f46ed549-22aa-4946-90ad-8c79d5b3c227",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "798fd31f-c41c-4352-9c15-253980d50f5b",
              "name": "media_type",
              "value": "={{ $('Busca a mensagem de disparo').first().json.media_type }}",
              "type": "string"
            },
            {
              "id": "c85f30b0-9f44-4e99-957c-c8f7a15b901e",
              "name": "event_id",
              "value": "={{ $json.event_id }}",
              "type": "string"
            },
            {
              "id": "3c1bb3bd-a12d-464a-91d1-8b590a6ad848",
              "name": "participant_id",
              "value": "={{ $json.participant_id }}",
              "type": "string"
            },
            {
              "id": "e69f57ab-cd16-48e5-b9fe-baebdf10f514",
              "name": "dispatch_id",
              "value": "={{ $('Webhook').first().json.body.dispatch_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -96
      ],
      "id": "525486a3-2a90-4137-98a0-4f554b6ea4bc",
      "name": "Preparar campos de envio"
    },
    {
      "parameters": {
        "jsCode": "// ========================\n// Utilitários\n// ========================\n\nfunction montarMensagem(template, params) {\n  if (!template) return \"\";\n\n  let msg = template;\n\n  // Garante que params seja um array, mesmo que venha nulo\n  const safeParams = Array.isArray(params) ? params : [];\n\n  safeParams.forEach((valor, index) => {\n    // Substitui {{1}}, {{2}}, etc.\n    const placeholder = new RegExp(`{{\\\\s*${index + 1}\\\\s*}}`, \"g\");\n    msg = msg.replace(placeholder, valor ?? \"\");\n  });\n\n  return msg;\n}\n\nfunction normalizeTelefone(raw) {\n  if (raw == null) return \"\";\n  let d = String(raw).replace(/\\D/g, \"\").replace(/^0+/, \"\");\n  return d ? (d.startsWith(\"55\") ? d : \"55\" + d) : \"\";\n}\n\n// ========================\n// Execução principal\n// ========================\n\nreturn items.map((item) => {\n  const json = item.json;\n\n  // 1. Mapeamento de Campos (Compatível com o output do passo anterior)\n  // Tenta pegar 'message_template' (passo anterior) ou 'mensagem'\n  const mensagemTemplate = json.message_template || json.mensagem || \"\";\n  \n  const nome = json.nome_participante || json.nome || \"\";\n  const telefone = normalizeTelefone(json.phone || json.telefone);\n  const template_name = json.meta_template_name || json.template_name || \"\";\n  const participant_id = json.participant_id;\n  const status = json.status || \"pending\";\n  \n  // 2. Tratamento de Parâmetros\n  // Aceita tanto o Array 'parameters' (do código anterior) quanto chaves soltas 'param_x'\n  let params = [];\n  \n  if (Array.isArray(json.parameters)) {\n    params = json.parameters;\n  } else {\n    // Fallback para buscar param_0, param_1, etc.\n    Object.keys(json).forEach((key) => {\n      if (key.startsWith(\"param_\")) {\n        const index = Number(key.replace(\"param_\", \"\"));\n        params[index] = json[key];\n      }\n    });\n  }\n\n  // 3. Tratamento de Mídia (Sem download/Base64)\n  // Pega 'image_url' (do código anterior) ou 'midia_url'\n  const media_url = (json.image_url || json.midia_url || \"\").toString().trim();\n\nlet media_type = (json.media_type || \"\").toLowerCase();\n\n// Normaliza pdf\nif (media_type === 'pdf') {\n  media_type = 'document';\n}\n\n// Detecção automática\nif (media_url && !media_type) {\n  const lower = media_url.toLowerCase();\n\n  if (lower.endsWith('.mp4')) {\n    media_type = 'video';\n  } else if (lower.endsWith('.pdf')) {\n    media_type = 'document';\n  } else if (lower.match(/\\.(jpg|jpeg|png|webp)$/)) {\n    media_type = 'image';\n  }\n}\n\nconst hasMedia = !!media_url &&\n  (media_type === 'image' ||\n   media_type === 'video' ||\n   media_type === 'document');\n\nconst isTextOnly = !hasMedia;\n\n  // 4. Montagem da Mensagem Final (Preview para log/debug)\n  const mensagem_completa = montarMensagem(mensagemTemplate, params);\n\n  // ========================\n  // Retorno\n  // ========================\n  return {\n    json: {\n      participant_id,\n      telefone,\n      nome,\n      status,\n      template_name,\n      \n      // Mensagem montada (texto com variáveis substituídas)\n      mensagem_completa,\n      \n      // Parâmetros originais (importante para o nó do WhatsApp Cloud API)\n      parameters: params,\n\n      // Flags e Mídia\n      hasMedia,\n      isTextOnly,\n      media_type: hasMedia ? media_type : null,\n      media_url:  hasMedia ? media_url  : null,\n      \n      // Mantém compatibilidade caso precise de requires_image\n      requires_image: json.requires_image || false\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -96
      ],
      "id": "6b4da09e-f596-45cd-b151-8734985471b2",
      "name": "Montar corpo da mensagem"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\n// 1. Identifica os objetos corretamente baseados no JSON de Input\nconst template = items.find(i => i.message_template && Array.isArray(i.variables));\n// CORREÇÃO: O JSON do evento usa 'nome_evento', não 'title'\nconst event = items.find(i => i.nome_evento && i.data_hora_inicio); \n\n// 2. Filtra APENAS os participantes reais\nconst participants = items.filter(i => \n  i.phone && \n  !i.message_template && \n  !i.nome_evento // Garante que não é o objeto do evento\n);\n\nconst dispatch = items.find(i => i.header_media_url);\n\n// Resolve URL da mídia com prioridade correta\nconst media_url =\n  dispatch?.header_media_url ||\n  template.header_document_url ||\n  template.header_video_url ||\n  template.header_image_url ||\n  event?.imagem_url_convite ||\n  null;\n\n// Resolve tipo da mídia\nlet media_type = null;\n\nif (template.media_type) {\n  media_type = template.media_type.toLowerCase();\n} else if (media_url) {\n  const lower = media_url.toLowerCase();\n  if (lower.endsWith('.pdf')) media_type = 'document';\n  else if (lower.endsWith('.mp4')) media_type = 'video';\n  else media_type = 'image';\n}\n// --- Helpers ---\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  let digits = phone.replace(/\\D/g, '');\n  if (digits.length >= 10 && digits.length <= 11) {\n    digits = '55' + digits;\n  }\n  return digits;\n}\n\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction formatDate(isoDate) {\n  if (!isoDate) return '';\n  // Formato DD/MM/YYYY\n  return new Date(isoDate).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n}\n\nfunction formatTime(isoDate) {\n  if (!isoDate) return '';\n  // Formato HH:MM\n  return new Date(isoDate).toLocaleTimeString('pt-BR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'America/Sao_Paulo'\n  });\n}\n\nfunction getAddress(event) {\n    // Lógica para decidir entre endereço físico ou link online\n    if (event.tipo_local === 'online' && event.link_online) {\n        return event.link_online;\n    }\n    // Retorna endereço completo, ou local, ou cidade/estado\n    return event.endereco_completo || event.local_evento || (event.cidade ? `${event.cidade}-${event.estado}` : '');\n}\n\nfunction resolveVariable(variableName, participant, event) {\n  const name = normalizeText(variableName);\n\n  // Mapeamento Exato conforme sua tabela SQL vs JSON\n  const systemMap = {\n    // --- EVENTO ---\n    'nome_evento': event?.nome_evento,\n    'evento': event?.nome_evento, // Alias\n    \n    'data_evento': formatDate(event?.data_hora_inicio),\n    'data': formatDate(event?.data_hora_inicio), // Alias\n    \n    'hora_evento': formatTime(event?.data_hora_inicio),\n    'hora': formatTime(event?.data_hora_inicio), // Alias\n    \n    'data_final': formatDate(event?.data_hora_fim),\n    'data_fim': formatDate(event?.data_hora_fim), // Alias\n    \n    'hora_final': formatTime(event?.data_hora_fim),\n    'hora_fim': formatTime(event?.data_hora_fim), // Alias\n    \n    'local_evento': event?.local_evento,\n    'endereco': getAddress(event), // Usa helper inteligente\n    'link_online': event?.link_online,\n    \n    'organizador': event?.organizador,\n    'categoria': event?.categoria,\n    'descricao': event?.descricao,\n\n    // --- PARTICIPANTE ---\n    'nome_participante': participant.name,\n    'nome': participant.name, // Alias comum\n    'telefone_participante': participant.phone,\n    'telefone': participant.phone // Alias comum\n  };\n\n  // 1. Tenta busca exata no mapa\n  if (systemMap[name] !== undefined) return systemMap[name];\n\n  // 2. Busca semântica (Fallback para casos não mapeados)\n  if (name.includes('nome') && name.includes('participante')) return participant.name;\n  if (name.includes('nome') && name.includes('evento')) return event?.nome_evento;\n  if (name.includes('data')) return formatDate(event?.data_hora_inicio);\n  if (name.includes('hora')) return formatTime(event?.data_hora_inicio);\n  if (name.includes('organizador')) return event?.organizador;\n\n  return ''; // Retorna vazio se não encontrar para não quebrar o template\n}\n\n// --- Montagem Final ---\n\nreturn participants.map(participant => {\n  // CORREÇÃO: template.variables no seu JSON é um array de strings [\"nome\", \"data\"], não objetos.\n  const parameters = (template.variables || []).map(variableName => \n    resolveVariable(variableName, participant, event)\n  );\n\n  return {\n    json: {\n      participant_id: participant.id,\n      event_id: participant.event_id || event?.id,\n      \n      phone: normalizePhone(participant.phone),\n      \n      message_template: template.message_template,\n      meta_template_name: template.meta_template_name,\n      \n      parameters: parameters, \n      \n      requires_image: template.requires_image || false,\n      // Se tiver imagem no evento ou template\n      media_url,\n\n      \n      status: participant.status\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -96
      ],
      "id": "ec34c709-51cc-4fe6-aa1b-d41938fd16ea",
      "name": "Normaliza o telefone e prepara os paramtros da msg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5296455-2292-4b5d-8e75-0b156471af30",
              "leftValue": "={{ $json.messages[0].message_status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3392,
        -96
      ],
      "id": "981a86d5-9b54-4949-9f88-b0a8d7a6c513",
      "name": "Verifica Sucesso do Envio"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "=5534992150692",
        "messageText": "=Erro ao disparar primeira mensagem do RSVP da BMS para {{ $('Intervalo entre mensagens').item.json.nome }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3424,
        368
      ],
      "id": "a84f5ad4-daed-41c0-8b7d-62bcbf8cc011",
      "name": "Aviso de erro ao disparar mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "eventos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.evento_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        192
      ],
      "id": "0d1f4227-3254-4e57-b342-597ce91a2f63",
      "name": "Busca dados do evento",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        -128
      ],
      "id": "df9a0c64-8c55-42cc-b267-0f937bd21be8",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Preparação dos dados para o Disparo ",
        "height": 1120,
        "width": 1616,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -512
      ],
      "typeVersion": 1,
      "id": "e0f3e550-8bcf-480a-b4e2-3022b478836c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "tableId": "bms-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "={{ $('Intervalo entre mensagens').item.json.mensagem_completa }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Intervalo entre mensagens').item.json.telefone }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Intervalo entre mensagens').item.json.nome }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "={{ $('Webhook').first().json.body.chatwoot_inbox_name }}"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
            },
            {
              "fieldId": "midia_url",
              "fieldValue": "={{ $('Intervalo entre mensagens').first().json.media_url ?? null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3792,
        128
      ],
      "id": "f4cc39b9-92b4-4231-b956-b16eedb1ac42",
      "name": "Cria Mensagem no Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "event_whatsapp_dispatch_recipients",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "dispatch_id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar campos de envio').first().json.dispatch_id }}"
            },
            {
              "keyName": "guest_id",
              "condition": "eq",
              "keyValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "sent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3792,
        -112
      ],
      "id": "5bcf2f4a-e90f-446c-ae7e-b8c508b61b8f",
      "name": "Atualizar status do convidado",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isTextOnly }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b2d4fda9-7818-45b8-8836-53f3a12e8943"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3e187bf4-fadc-4a0a-98b9-2658a11b7bfe",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "044420d8-760d-4aaa-b5ab-717b58997aef",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fa054651-868a-4e8c-99e1-b15eee599af7",
                    "leftValue": "={{ $json.media_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2544,
        -96
      ],
      "id": "2e0b8506-d214-44fb-916e-01cc6fbd561a",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"video\",\n            \"video\": {\n              \"link\": \"{{ $json.media_url }}\"\n            }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n             { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        208
      ],
      "id": "663f7157-6f98-456a-aa82-d12e282ecf40",
      "name": "Enviar video",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "event_whatsapp_dispatches",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.dispatch_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        -192
      ],
      "id": "fedf7fb1-dd53-40bc-86e3-66442b3039d1",
      "name": "Busca os dados do disparo",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM event_guests\nWHERE id IN ({{ $json.body.guest_ids.map(id => `'${id}'`).join(',') }})",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -400
      ],
      "id": "8ddf5c99-b85b-441f-80a1-5373eb5d517b",
      "name": "Seleciona os convidados",
      "credentials": {
        "postgres": {
          "id": "F5GuYkVQ5eWZE44i",
          "name": "BMS-Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "event_messages",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.template_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        0
      ],
      "id": "f9687234-7efc-494f-9339-280656b9a73d",
      "name": "Busca a mensagem de disparo",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "event_whatsapp_dispatch_recipients",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "dispatch_id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar campos de envio').first().json.dispatch_id }}"
            },
            {
              "keyName": "guest_id",
              "condition": "eq",
              "keyValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "failed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        112
      ],
      "id": "369a9f5b-18fb-48c1-92dc-7995f5ec7ccd",
      "name": "Atualizar status do convidado se falhou",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"document\",\n            \"document\": {\n              \"link\": \"{{ $json.media_url }}\",\n              \"filename\": \"cronograma.pdf\"\n            }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n              { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        400
      ],
      "id": "2cff30e0-7d27-4637-b7a1-bea8be68bb3f",
      "name": "Enviar pdf",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Iterar envio por lead": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem de texto": {
      "main": [
        [
          {
            "node": "Verifica Sucesso do Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Verifica Sucesso do Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar campos de envio": {
      "main": [
        [
          {
            "node": "Montar corpo da mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar corpo da mensagem": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza o telefone e prepara os paramtros da msg": {
      "main": [
        [
          {
            "node": "Preparar campos de envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica Sucesso do Envio": {
      "main": [
        [
          {
            "node": "Atualizar status do convidado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualizar status do convidado se falhou",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso de erro ao disparar mensagem": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados do evento": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normaliza o telefone e prepara os paramtros da msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase1": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar status do convidado": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar mensagem de texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar video": {
      "main": [
        [
          {
            "node": "Verifica Sucesso do Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca dados do evento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seleciona os convidados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca os dados do disparo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca a mensagem de disparo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os dados do disparo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Seleciona os convidados": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca a mensagem de disparo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Atualizar status do convidado se falhou": {
      "main": [
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar pdf": {
      "main": [
        [
          {
            "node": "Verifica Sucesso do Envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "810dfd19-fa02-418b-912f-0bd966ea2bb8",
  "activeVersionId": "810dfd19-fa02-418b-912f-0bd966ea2bb8",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-08T13:44:30.164Z",
      "createdAt": "2026-01-08T13:44:30.164Z",
      "role": "workflow:owner",
      "workflowId": "xsPnohqZxRZXU7Dd",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-06T16:21:23.898Z",
    "createdAt": "2026-04-06T16:21:23.898Z",
    "versionId": "810dfd19-fa02-418b-912f-0bd966ea2bb8",
    "workflowId": "xsPnohqZxRZXU7Dd",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "disparo-manual-evento",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          352,
          -112
        ],
        "id": "bb836550-59ea-4cd9-96c1-3ab97bfa3344",
        "name": "Webhook",
        "webhookId": "32f1e096-51ac-4134-8a05-40623d1e669e"
      },
      {
        "parameters": {
          "batchSize": "=1",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          2112,
          -96
        ],
        "id": "ee840613-2a12-480d-928b-fbb8c98dfe40",
        "name": "Iterar envio por lead"
      },
      {
        "parameters": {
          "amount": "={{ 4 + Math.floor(Math.random() * 5) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2352,
          -80
        ],
        "id": "d322b5b1-c75f-4c0c-8a68-88ec6692ec9e",
        "name": "Intervalo entre mensagens",
        "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n             { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2992,
          -400
        ],
        "id": "4aa7edb0-41fd-42f4-a2c2-6422a88a0b73",
        "name": "Enviar mensagem de texto",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"image\",\n            \"image\": { \"link\": \"{{ $json.media_url }}\" }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n              { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2992,
          -80
        ],
        "id": "e7ac4bc3-2c4b-4376-b784-930fed47bb89",
        "name": "Enviar imagem",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Envio de Mensagens de Acordo com o template criado",
          "height": 1120,
          "width": 2064
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1952,
          -512
        ],
        "typeVersion": 1,
        "id": "c0123468-d346-4995-9c85-d8f7b82506b6",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "174590f8-2032-4a75-a4e7-ce27a8be9a58",
                "name": "template_name",
                "value": "={{ $('Busca a mensagem de disparo').first().json.meta_template_name }}",
                "type": "string"
              },
              {
                "id": "59ff38c0-5bb5-41fb-9e42-bc90aa134824",
                "name": "mensagem",
                "value": "={{ $json.message_template }}",
                "type": "string"
              },
              {
                "id": "662fdd3a-8574-496b-bcc2-a65311f1ec9b",
                "name": "midia_url",
                "value": "={{ $json.media_url }}",
                "type": "string"
              },
              {
                "id": "d5de298f-2320-448c-a83e-d23b3298260c",
                "name": "nome",
                "value": "={{ $json.parameters[0] }}",
                "type": "string"
              },
              {
                "id": "7bc1856e-87c7-485d-9a8b-b411e46cc501",
                "name": "telefone",
                "value": "={{ $json.phone }}",
                "type": "string"
              },
              {
                "id": "d00fb8f0-2924-4cec-8fd6-c1cf5be44e6c",
                "name": "param_0",
                "value": "={{ $json.parameters[0] }}",
                "type": "string"
              },
              {
                "id": "f94dc699-b921-4ff0-91ba-61cb2c1e3dfa",
                "name": "param_1",
                "value": "={{ $json.parameters[1] }}",
                "type": "string"
              },
              {
                "id": "c97bf8e1-1fdb-4b6b-9827-a0ddac1dee22",
                "name": "param_2",
                "value": "={{ $json.parameters[2] }}",
                "type": "string"
              },
              {
                "id": "ffa48eb6-0344-4bff-8eae-c908565a1f83",
                "name": "param_3",
                "value": "={{ $json.parameters[3] }}",
                "type": "string"
              },
              {
                "id": "6525d75d-92cc-469b-954d-a2b7f179141d",
                "name": "param_4",
                "value": "={{ $json.parameters[4] }}",
                "type": "string"
              },
              {
                "id": "610ba4a8-7a76-4f5f-a55a-83955d8a9e27",
                "name": "param_5",
                "value": "={{ $json.parameters[5] }}",
                "type": "string"
              },
              {
                "id": "f46ed549-22aa-4946-90ad-8c79d5b3c227",
                "name": "status",
                "value": "={{ $json.status }}",
                "type": "string"
              },
              {
                "id": "798fd31f-c41c-4352-9c15-253980d50f5b",
                "name": "media_type",
                "value": "={{ $('Busca a mensagem de disparo').first().json.media_type }}",
                "type": "string"
              },
              {
                "id": "c85f30b0-9f44-4e99-957c-c8f7a15b901e",
                "name": "event_id",
                "value": "={{ $json.event_id }}",
                "type": "string"
              },
              {
                "id": "3c1bb3bd-a12d-464a-91d1-8b590a6ad848",
                "name": "participant_id",
                "value": "={{ $json.participant_id }}",
                "type": "string"
              },
              {
                "id": "e69f57ab-cd16-48e5-b9fe-baebdf10f514",
                "name": "dispatch_id",
                "value": "={{ $('Webhook').first().json.body.dispatch_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1568,
          -96
        ],
        "id": "525486a3-2a90-4137-98a0-4f554b6ea4bc",
        "name": "Preparar campos de envio"
      },
      {
        "parameters": {
          "jsCode": "// ========================\n// Utilitários\n// ========================\n\nfunction montarMensagem(template, params) {\n  if (!template) return \"\";\n\n  let msg = template;\n\n  // Garante que params seja um array, mesmo que venha nulo\n  const safeParams = Array.isArray(params) ? params : [];\n\n  safeParams.forEach((valor, index) => {\n    // Substitui {{1}}, {{2}}, etc.\n    const placeholder = new RegExp(`{{\\\\s*${index + 1}\\\\s*}}`, \"g\");\n    msg = msg.replace(placeholder, valor ?? \"\");\n  });\n\n  return msg;\n}\n\nfunction normalizeTelefone(raw) {\n  if (raw == null) return \"\";\n  let d = String(raw).replace(/\\D/g, \"\").replace(/^0+/, \"\");\n  return d ? (d.startsWith(\"55\") ? d : \"55\" + d) : \"\";\n}\n\n// ========================\n// Execução principal\n// ========================\n\nreturn items.map((item) => {\n  const json = item.json;\n\n  // 1. Mapeamento de Campos (Compatível com o output do passo anterior)\n  // Tenta pegar 'message_template' (passo anterior) ou 'mensagem'\n  const mensagemTemplate = json.message_template || json.mensagem || \"\";\n  \n  const nome = json.nome_participante || json.nome || \"\";\n  const telefone = normalizeTelefone(json.phone || json.telefone);\n  const template_name = json.meta_template_name || json.template_name || \"\";\n  const participant_id = json.participant_id;\n  const status = json.status || \"pending\";\n  \n  // 2. Tratamento de Parâmetros\n  // Aceita tanto o Array 'parameters' (do código anterior) quanto chaves soltas 'param_x'\n  let params = [];\n  \n  if (Array.isArray(json.parameters)) {\n    params = json.parameters;\n  } else {\n    // Fallback para buscar param_0, param_1, etc.\n    Object.keys(json).forEach((key) => {\n      if (key.startsWith(\"param_\")) {\n        const index = Number(key.replace(\"param_\", \"\"));\n        params[index] = json[key];\n      }\n    });\n  }\n\n  // 3. Tratamento de Mídia (Sem download/Base64)\n  // Pega 'image_url' (do código anterior) ou 'midia_url'\n  const media_url = (json.image_url || json.midia_url || \"\").toString().trim();\n\nlet media_type = (json.media_type || \"\").toLowerCase();\n\n// Normaliza pdf\nif (media_type === 'pdf') {\n  media_type = 'document';\n}\n\n// Detecção automática\nif (media_url && !media_type) {\n  const lower = media_url.toLowerCase();\n\n  if (lower.endsWith('.mp4')) {\n    media_type = 'video';\n  } else if (lower.endsWith('.pdf')) {\n    media_type = 'document';\n  } else if (lower.match(/\\.(jpg|jpeg|png|webp)$/)) {\n    media_type = 'image';\n  }\n}\n\nconst hasMedia = !!media_url &&\n  (media_type === 'image' ||\n   media_type === 'video' ||\n   media_type === 'document');\n\nconst isTextOnly = !hasMedia;\n\n  // 4. Montagem da Mensagem Final (Preview para log/debug)\n  const mensagem_completa = montarMensagem(mensagemTemplate, params);\n\n  // ========================\n  // Retorno\n  // ========================\n  return {\n    json: {\n      participant_id,\n      telefone,\n      nome,\n      status,\n      template_name,\n      \n      // Mensagem montada (texto com variáveis substituídas)\n      mensagem_completa,\n      \n      // Parâmetros originais (importante para o nó do WhatsApp Cloud API)\n      parameters: params,\n\n      // Flags e Mídia\n      hasMedia,\n      isTextOnly,\n      media_type: hasMedia ? media_type : null,\n      media_url:  hasMedia ? media_url  : null,\n      \n      // Mantém compatibilidade caso precise de requires_image\n      requires_image: json.requires_image || false\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1776,
          -96
        ],
        "id": "6b4da09e-f596-45cd-b151-8734985471b2",
        "name": "Montar corpo da mensagem"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\n\n// 1. Identifica os objetos corretamente baseados no JSON de Input\nconst template = items.find(i => i.message_template && Array.isArray(i.variables));\n// CORREÇÃO: O JSON do evento usa 'nome_evento', não 'title'\nconst event = items.find(i => i.nome_evento && i.data_hora_inicio); \n\n// 2. Filtra APENAS os participantes reais\nconst participants = items.filter(i => \n  i.phone && \n  !i.message_template && \n  !i.nome_evento // Garante que não é o objeto do evento\n);\n\nconst dispatch = items.find(i => i.header_media_url);\n\n// Resolve URL da mídia com prioridade correta\nconst media_url =\n  dispatch?.header_media_url ||\n  template.header_document_url ||\n  template.header_video_url ||\n  template.header_image_url ||\n  event?.imagem_url_convite ||\n  null;\n\n// Resolve tipo da mídia\nlet media_type = null;\n\nif (template.media_type) {\n  media_type = template.media_type.toLowerCase();\n} else if (media_url) {\n  const lower = media_url.toLowerCase();\n  if (lower.endsWith('.pdf')) media_type = 'document';\n  else if (lower.endsWith('.mp4')) media_type = 'video';\n  else media_type = 'image';\n}\n// --- Helpers ---\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  let digits = phone.replace(/\\D/g, '');\n  if (digits.length >= 10 && digits.length <= 11) {\n    digits = '55' + digits;\n  }\n  return digits;\n}\n\nfunction normalizeText(text) {\n  if (!text) return '';\n  return text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction formatDate(isoDate) {\n  if (!isoDate) return '';\n  // Formato DD/MM/YYYY\n  return new Date(isoDate).toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n}\n\nfunction formatTime(isoDate) {\n  if (!isoDate) return '';\n  // Formato HH:MM\n  return new Date(isoDate).toLocaleTimeString('pt-BR', {\n    hour: '2-digit',\n    minute: '2-digit',\n    timeZone: 'America/Sao_Paulo'\n  });\n}\n\nfunction getAddress(event) {\n    // Lógica para decidir entre endereço físico ou link online\n    if (event.tipo_local === 'online' && event.link_online) {\n        return event.link_online;\n    }\n    // Retorna endereço completo, ou local, ou cidade/estado\n    return event.endereco_completo || event.local_evento || (event.cidade ? `${event.cidade}-${event.estado}` : '');\n}\n\nfunction resolveVariable(variableName, participant, event) {\n  const name = normalizeText(variableName);\n\n  // Mapeamento Exato conforme sua tabela SQL vs JSON\n  const systemMap = {\n    // --- EVENTO ---\n    'nome_evento': event?.nome_evento,\n    'evento': event?.nome_evento, // Alias\n    \n    'data_evento': formatDate(event?.data_hora_inicio),\n    'data': formatDate(event?.data_hora_inicio), // Alias\n    \n    'hora_evento': formatTime(event?.data_hora_inicio),\n    'hora': formatTime(event?.data_hora_inicio), // Alias\n    \n    'data_final': formatDate(event?.data_hora_fim),\n    'data_fim': formatDate(event?.data_hora_fim), // Alias\n    \n    'hora_final': formatTime(event?.data_hora_fim),\n    'hora_fim': formatTime(event?.data_hora_fim), // Alias\n    \n    'local_evento': event?.local_evento,\n    'endereco': getAddress(event), // Usa helper inteligente\n    'link_online': event?.link_online,\n    \n    'organizador': event?.organizador,\n    'categoria': event?.categoria,\n    'descricao': event?.descricao,\n\n    // --- PARTICIPANTE ---\n    'nome_participante': participant.name,\n    'nome': participant.name, // Alias comum\n    'telefone_participante': participant.phone,\n    'telefone': participant.phone // Alias comum\n  };\n\n  // 1. Tenta busca exata no mapa\n  if (systemMap[name] !== undefined) return systemMap[name];\n\n  // 2. Busca semântica (Fallback para casos não mapeados)\n  if (name.includes('nome') && name.includes('participante')) return participant.name;\n  if (name.includes('nome') && name.includes('evento')) return event?.nome_evento;\n  if (name.includes('data')) return formatDate(event?.data_hora_inicio);\n  if (name.includes('hora')) return formatTime(event?.data_hora_inicio);\n  if (name.includes('organizador')) return event?.organizador;\n\n  return ''; // Retorna vazio se não encontrar para não quebrar o template\n}\n\n// --- Montagem Final ---\n\nreturn participants.map(participant => {\n  // CORREÇÃO: template.variables no seu JSON é um array de strings [\"nome\", \"data\"], não objetos.\n  const parameters = (template.variables || []).map(variableName => \n    resolveVariable(variableName, participant, event)\n  );\n\n  return {\n    json: {\n      participant_id: participant.id,\n      event_id: participant.event_id || event?.id,\n      \n      phone: normalizePhone(participant.phone),\n      \n      message_template: template.message_template,\n      meta_template_name: template.meta_template_name,\n      \n      parameters: parameters, \n      \n      requires_image: template.requires_image || false,\n      // Se tiver imagem no evento ou template\n      media_url,\n\n      \n      status: participant.status\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          -96
        ],
        "id": "ec34c709-51cc-4fe6-aa1b-d41938fd16ea",
        "name": "Normaliza o telefone e prepara os paramtros da msg"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b5296455-2292-4b5d-8e75-0b156471af30",
                "leftValue": "={{ $json.messages[0].message_status }}",
                "rightValue": "accepted",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3392,
          -96
        ],
        "id": "981a86d5-9b54-4949-9f88-b0a8d7a6c513",
        "name": "Verifica Sucesso do Envio"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MIA-LOGS",
          "remoteJid": "=5534992150692",
          "messageText": "=Erro ao disparar primeira mensagem do RSVP da BMS para {{ $('Intervalo entre mensagens').item.json.nome }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          3424,
          368
        ],
        "id": "a84f5ad4-daed-41c0-8b7d-62bcbf8cc011",
        "name": "Aviso de erro ao disparar mensagem",
        "credentials": {
          "evolutionApi": {
            "id": "jhxyikodw5k2TTr1",
            "name": "MIA-LOGS"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "eventos",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.body.evento_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          736,
          192
        ],
        "id": "0d1f4227-3254-4e57-b342-597ce91a2f63",
        "name": "Busca dados do evento",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1168,
          -128
        ],
        "id": "df9a0c64-8c55-42cc-b267-0f937bd21be8",
        "name": "Merge"
      },
      {
        "parameters": {
          "content": "## Preparação dos dados para o Disparo ",
          "height": 1120,
          "width": 1616,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          304,
          -512
        ],
        "typeVersion": 1,
        "id": "e0f3e550-8bcf-480a-b4e2-3022b478836c",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "tableId": "bms-historico_mensagens",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "mensagem_agente",
                "fieldValue": "={{ $('Intervalo entre mensagens').item.json.mensagem_completa }}"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Intervalo entre mensagens').item.json.telefone }}"
              },
              {
                "fieldId": "nome_usuario",
                "fieldValue": "={{ $('Intervalo entre mensagens').item.json.nome }}"
              },
              {
                "fieldId": "message_type",
                "fieldValue": "text"
              },
              {
                "fieldId": "nome_app",
                "fieldValue": "={{ $('Webhook').first().json.body.chatwoot_inbox_name }}"
              },
              {
                "fieldId": "id_usuario",
                "fieldValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
              },
              {
                "fieldId": "midia_url",
                "fieldValue": "={{ $('Intervalo entre mensagens').first().json.media_url ?? null }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3792,
          128
        ],
        "id": "f4cc39b9-92b4-4231-b956-b16eedb1ac42",
        "name": "Cria Mensagem no Supabase1",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "event_whatsapp_dispatch_recipients",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "dispatch_id",
                "condition": "eq",
                "keyValue": "={{ $('Preparar campos de envio').first().json.dispatch_id }}"
              },
              {
                "keyName": "guest_id",
                "condition": "eq",
                "keyValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3792,
          -112
        ],
        "id": "5bcf2f4a-e90f-446c-ae7e-b8c508b61b8f",
        "name": "Atualizar status do convidado",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.isTextOnly }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "b2d4fda9-7818-45b8-8836-53f3a12e8943"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "3e187bf4-fadc-4a0a-98b9-2658a11b7bfe",
                      "leftValue": "={{ $json.media_type }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "044420d8-760d-4aaa-b5ab-717b58997aef",
                      "leftValue": "={{ $json.media_type }}",
                      "rightValue": "video",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "video"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "fa054651-868a-4e8c-99e1-b15eee599af7",
                      "leftValue": "={{ $json.media_type }}",
                      "rightValue": "document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "document"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          2544,
          -96
        ],
        "id": "2e0b8506-d214-44fb-916e-01cc6fbd561a",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"video\",\n            \"video\": {\n              \"link\": \"{{ $json.media_url }}\"\n            }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n             { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2992,
          208
        ],
        "id": "663f7157-6f98-456a-aa82-d12e282ecf40",
        "name": "Enviar video",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "event_whatsapp_dispatches",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.dispatch_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          736,
          -192
        ],
        "id": "fedf7fb1-dd53-40bc-86e3-66442b3039d1",
        "name": "Busca os dados do disparo",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM event_guests\nWHERE id IN ({{ $json.body.guest_ids.map(id => `'${id}'`).join(',') }})",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          736,
          -400
        ],
        "id": "8ddf5c99-b85b-441f-80a1-5373eb5d517b",
        "name": "Seleciona os convidados",
        "credentials": {
          "postgres": {
            "id": "F5GuYkVQ5eWZE44i",
            "name": "BMS-Postgres"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "event_messages",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.body.template_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          736,
          0
        ],
        "id": "f9687234-7efc-494f-9339-280656b9a73d",
        "name": "Busca a mensagem de disparo",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "event_whatsapp_dispatch_recipients",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "dispatch_id",
                "condition": "eq",
                "keyValue": "={{ $('Preparar campos de envio').first().json.dispatch_id }}"
              },
              {
                "keyName": "guest_id",
                "condition": "eq",
                "keyValue": "={{ $('Intervalo entre mensagens').first().json.participant_id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "failed"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3408,
          112
        ],
        "id": "369a9f5b-18fb-48c1-92dc-7995f5ec7ccd",
        "name": "Atualizar status do convidado se falhou",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://graph.facebook.com/v22.0/{{ $('Webhook').first().json.body.phone_number_id }}/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.telefone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"header\",\n        \"parameters\": [\n          {\n            \"type\": \"document\",\n            \"document\": {\n              \"link\": \"{{ $json.media_url }}\",\n              \"filename\": \"cronograma.pdf\"\n            }\n          }\n        ]\n      },\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ \n          JSON.stringify(\n            [\n              { \"type\": \"text\", \"text\": $json.parameters[0]},\n              { \"type\": \"text\", \"text\": $json.parameters[1]},\n              { \"type\": \"text\", \"text\": $json.parameters[2]},\n              { \"type\": \"text\", \"text\": $json.parameters[3]},\n              { \"type\": \"text\", \"text\": $json.parameters[4]},\n              { \"type\": \"text\", \"text\": $json.parameters[5]}\n            ].filter(p => p.text && p.text.trim() !== \"\")\n          )\n        }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2992,
          400
        ],
        "id": "2cff30e0-7d27-4637-b7a1-bea8be68bb3f",
        "name": "Enviar pdf",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "Iterar envio por lead": {
        "main": [
          [],
          [
            {
              "node": "Intervalo entre mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intervalo entre mensagens": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar mensagem de texto": {
        "main": [
          [
            {
              "node": "Verifica Sucesso do Envio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aviso de erro ao disparar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar imagem": {
        "main": [
          [
            {
              "node": "Verifica Sucesso do Envio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aviso de erro ao disparar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar campos de envio": {
        "main": [
          [
            {
              "node": "Montar corpo da mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar corpo da mensagem": {
        "main": [
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza o telefone e prepara os paramtros da msg": {
        "main": [
          [
            {
              "node": "Preparar campos de envio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica Sucesso do Envio": {
        "main": [
          [
            {
              "node": "Atualizar status do convidado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Atualizar status do convidado se falhou",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aviso de erro ao disparar mensagem": {
        "main": [
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca dados do evento": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Normaliza o telefone e prepara os paramtros da msg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Mensagem no Supabase1": {
        "main": [
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar status do convidado": {
        "main": [
          [
            {
              "node": "Cria Mensagem no Supabase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Enviar mensagem de texto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar imagem",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar video",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar pdf",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar video": {
        "main": [
          [
            {
              "node": "Verifica Sucesso do Envio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aviso de erro ao disparar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Busca dados do evento",
              "type": "main",
              "index": 0
            },
            {
              "node": "Seleciona os convidados",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca os dados do disparo",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca a mensagem de disparo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca os dados do disparo": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Seleciona os convidados": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca a mensagem de disparo": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Atualizar status do convidado se falhou": {
        "main": [
          [
            {
              "node": "Aviso de erro ao disparar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar pdf": {
        "main": [
          [
            {
              "node": "Verifica Sucesso do Envio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aviso de erro ao disparar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}