backup/bms---1.2---social-media-ia---ideais-da-ia-3YvE9u1uSGQPKQ2X.json
{
  "updatedAt": "2026-03-09T17:20:00.798Z",
  "createdAt": "2026-01-11T23:14:07.592Z",
  "id": "3YvE9u1uSGQPKQ2X",
  "name": "BMS - 1.2 - Social Media IA - Ideais da IA",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "e9f68ad7-302f-440e-97c6-bb10556a0e96",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "BMS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        16
      ],
      "id": "e1cbc862-08aa-48ab-b642-568133932522",
      "name": "Busca Todos os Posts (Histórico)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens do Google Sheets\nconst items = $input.all();\n\n// Filtra e extrai apenas Titulo que não está vazio\nconst ideiasAnteriores = items\n  .filter(item => item.json.titulo) // filtra apenas se tiver Titulo\n  .map(item => ({\n    titulo: item.json.titulo // pega apenas o titulo\n  }));\n\n// Retorna apenas total de ideias anteriores e ideias completas (somente títulos)\nreturn [{\n  json: {\n    total_ideias_anteriores: ideiasAnteriores.length,\n    ideias_completas: ideiasAnteriores\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        16
      ],
      "id": "15c8cc3b-b676-4324-bda4-b217effb566a",
      "name": "Prepara Contexto Anti-Repetição"
    },
    {
      "parameters": {
        "content": "# Cria ideias de post sobre mercado tributário.",
        "height": 704,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -96
      ],
      "typeVersion": 1,
      "id": "affbd9bb-217e-4842-96e8-9da730addd41",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        -208
      ],
      "typeVersion": 1,
      "id": "3ac0c0d2-cd68-413e-9269-659d396b4360",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3GNG4rQe7hv7W5AE",
          "mode": "list",
          "cachedResultUrl": "/workflow/3GNG4rQe7hv7W5AE",
          "cachedResultName": "Tools - 03 - Criador de Briefing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto": "=Título: {{ $('Variáveis do fluxo').first().json[\"Título\"] }} ,\n\nResumo: {{ $('Variáveis do fluxo').first().json.Resumo }}",
            "target_audience": "={{ $('Pega dados fixos do cliente').first().json.target_audience }}",
            "keywords_context": "={{ $('Pega dados fixos do cliente').first().json.keywords_context }}",
            "criterios_relevancia": "={{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "ramo": "={{ $('Pega dados fixos do cliente').first().json.ramo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ramo",
              "displayName": "ramo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords_context",
              "displayName": "keywords_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "criterios_relevancia",
              "displayName": "criterios_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2608,
        -128
      ],
      "id": "77c02b03-fecf-464c-a960-8fe6565254cf",
      "name": "Call 'Tools - 03 - Criador de Briefing'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto Temporal\n\nDia Atual: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\nAno de Referência: 2026\n\n# GERADOR DE IDEIAS EDITORIAL — MERCADO TRIBUTÁRIO\n\n## IDENTIDADE\nVocê é um estrategista editorial sênior com 15 anos de experiência em conteúdo B2B sobre tributação, planejamento fiscal e compliance. Já trabalhou com as maiores publicações do setor (nível Rock Content, RD Station, Neil Patel Brasil). Seu padrão é alto — você rejeita o óbvio por princípio e só aprova ideias que genuinamente surpreendem ou provocam reflexão.\n\n## MISSÃO\nExecutar em sequência, sem pular etapas:\n\nETAPA 1 — Análise do histórico para garantir originalidade absoluta\nETAPA 2 — Geração de 10 ideias únicas e diversificadas\nETAPA 3 — Seleção da melhor ideia para o público do mercado tributário\n\n## ETAPA 1 — HISTÓRICO (LEITURA OBRIGATÓRIA)\nAnalise cada título abaixo antes de gerar qualquer ideia. Nenhuma das 10 ideias pode repetir tema, ângulo ou abordagem já explorada:\n\n{{ JSON.stringify($items().map(i => i.json.ideias_completas), null, 2) }}\n\n## ETAPA 2 — GERAÇÃO DAS 10 IDEIAS\nGere 10 ideias completamente distintas entre si — sem repetir setor, ângulo ou formato entre elas.\n\nÂNGULOS QUE FUNCIONAM:\n- Contraintuitivos ou controversos sobre planejamento tributário\n- Tensões reais entre fisco, empresas e contadores\n- Regimes específicos (Simples, Lucro Real, Lucro Presumido)\n- Paradoxos da legislação tributária brasileira\n- Insights surpreendentes sobre economia fiscal legal\n- Análises setoriais de carga tributária\n- Impactos de reformas, mudanças legislativas ou jurisprudência\n- Estratégias de recuperação de créditos\n- ROI real de planejamento tributário, números que chocam\n\nPROIBIDO:\n- \"Como reduzir impostos legalmente\"\n- \"X mudanças na reforma tributária\"\n- Títulos genéricos sobre elisão fiscal\n- Repetir ângulo ou setor entre as 10 ideias\n\n## ETAPA 3 — SELEÇÃO\nAnalise as 10 ideias geradas e escolha a que melhor combina:\n- Originalidade genuína — foge do óbvio, surpreende quem lê sobre tributação todo dia\n- Relevância prática — gera valor real para contadores, CFOs, empresários e gestores fiscais\n- Potencial de engajamento — o título prende, provoca curiosidade ou debate imediato\n- Especificidade — tema delimitado, não genérico\n\nSempre escolha a melhor entre as 10 e marque como \"aprovada\". Mesmo que nenhuma seja perfeita, a mais forte do grupo sempre deve ser aprovada.\n\n## SAÍDA OBRIGATÓRIA\nRetorne APENAS o JSON abaixo, válido, sem nenhum texto antes ou depois, sem markdown:\n\n{\n  \"Título\": \"título da melhor ideia\",\n  \"Resumo\": \"resumo da melhor ideia em 2-4 frases\",\n  \"Status\": \"aprovada\",\n  \"todas_as_ideias\": [\n    {\n      \"posicao\": 1,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": true\n    },\n    {\n      \"posicao\": 2,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": false\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        16
      ],
      "id": "7da77116-abed-450d-b125-ba72af1ccd42",
      "name": "IA - Gera 1 Ideia para briefing"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        112
      ],
      "typeVersion": 1,
      "id": "6ec3e712-e0ec-4e18-a7ba-4e642382963b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        432
      ],
      "typeVersion": 1,
      "id": "aecdb2e3-ae62-4f0d-a7c5-098638981fb8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        -208
      ],
      "typeVersion": 1,
      "id": "4d0dc772-3fb3-41fe-b07f-c74414813fd9",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        112
      ],
      "typeVersion": 1,
      "id": "197aa384-aea6-447f-968a-4ec93d6b3267",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yx9XT5wkzSw2oBtD",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yx9XT5wkzSw2oBtD",
          "cachedResultName": "Tools - 04 - Escritor artigo blog"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "briefing": "={{ $json.briefing }}",
            "titulo": "={{ $json.titulo }}",
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2608,
        192
      ],
      "id": "226c5e6a-9c8e-4505-8d24-00f99c76f043",
      "name": "Call 'Tools - 4 - Escritor artigo blog'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LBOIqjET0jkwGgeX",
          "mode": "list",
          "cachedResultUrl": "/workflow/LBOIqjET0jkwGgeX",
          "cachedResultName": "Tools - 05 - Criador de legenda - Instagram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $json.artigo_completo }}",
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [
            "artigo"
          ],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2608,
        512
      ],
      "id": "e5e10851-816a-4089-af65-58f91768f0ba",
      "name": "Call 'Tools - 5 - Criador de legenda - Instagram'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oHicWXWOlTUM1fzj",
          "mode": "list",
          "cachedResultUrl": "/workflow/oHicWXWOlTUM1fzj",
          "cachedResultName": "Tools - 06 - Criador de legenda - Linkedin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        -128
      ],
      "id": "cfe16e72-0693-4c5b-a266-627ac9d998de",
      "name": "Call 'Tools - 6 - Criador de legenda - Linkedin'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RywjAC1k0dLdH44a",
          "mode": "list",
          "cachedResultUrl": "/workflow/RywjAC1k0dLdH44a",
          "cachedResultName": "Tools - 07 - Criador de legenda - X"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }} \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}  \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}  \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        192
      ],
      "id": "5057fd3b-e6ca-4643-9d31-38067c9ad998",
      "name": "Call 'Tools - 7 - Criador de legenda - X'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EC0p1VUlLsTeIg3h",
          "mode": "list",
          "cachedResultUrl": "/workflow/EC0p1VUlLsTeIg3h",
          "cachedResultName": "Tools - 08 - Criador de imagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "template": "template2",
            "imagens": "={{ $json.imagens }}",
            "logo_empresa": "={{ $('Pega dados fixos do cliente').first().json.logo_empresa }}",
            "empresa": "={{ $('Pega dados fixos do cliente').first().json.cliente }}",
            "usa_blog": "não"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "logo_empresa",
              "displayName": "logo_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imagens",
              "displayName": "imagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usa_blog",
              "displayName": "usa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3472,
        192
      ],
      "id": "61b1ec64-0c76-451a-8d21-03eb6035514e",
      "name": "Call 'Tools - 8 - Criador de imagens'"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3376,
        112
      ],
      "typeVersion": 1,
      "id": "290ba200-975d-403b-9a49-435eec5a9f3e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "BMS"
            },
            {
              "lookupColumn": "status_blog",
              "lookupValue": "aguardando"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3920,
        192
      ],
      "id": "747e7995-f697-4c06-9c1c-7b3adca6df1f",
      "name": "Pega status do cliente",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Processa cada item do array de entrada\nreturn $input.all().map(item => {\n  // Cria array para armazenar as imagens\n  const imagens = [];\n  \n  // Itera enquanto encontrar imagens (não limita a quantidade)\n  let i = 1;\n  while (item.json[`imagem${i}_url`]) {\n    const imagemUrl = item.json[`imagem${i}_url`];\n    \n    // Adiciona a URL no array se existir\n    if (imagemUrl) {\n      imagens.push(imagemUrl);\n    }\n    \n    i++;\n  }\n  \n  // Retorna o array de URLs\n  return {\n    json: {\n      imagens: imagens\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4112,
        192
      ],
      "id": "13573573-e849-484f-aec0-52a951926a96",
      "name": "Consolida imagens"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "87SrvvuSwYMQx795",
          "mode": "list",
          "cachedResultUrl": "/workflow/87SrvvuSwYMQx795",
          "cachedResultName": "Tools - 10 - Aprovador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "posts": "={{\n  {\n    \"blog\": {\n      \"texto\": $('Call \\'Tools - 4 - Escritor artigo blog\\'').item.json.artigo_completo,\n      \"imagem_blog\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"instagram\": {\n      \"legenda_instagram\": $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').item.json.legenda_instagram,\n      \"imagem_instagram\": $('Consolida imagens').item.json.imagens\n    },\n    \"linkedin\": {\n      \"legenda_linkedin\": $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').item.json.legenda_linkedin,\n      \"imagem_linkedin\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"x\": {\n      \"legenda_x\": $('Call \\'Tools - 7 - Criador de legenda - X\\'').item.json.legenda_x,\n      \"imagem_x\": $('Consolida imagens').item.json.imagens[0]\n    },\n      \"whatsapp\": {\n        \"legenda_whatsapp\": $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').item.json.legenda_whatsapp,\n        \"imagem_whatsapp\": $('Consolida imagens').item.json.imagens[0]\n      }\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posts",
              "displayName": "posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4400,
        192
      ],
      "id": "cb280c11-05e1-4a30-a555-08c2fa9ab067",
      "name": "Call 'Tools - 9 - Aprovador'"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4304,
        112
      ],
      "typeVersion": 1,
      "id": "7da2fd64-805f-444d-8cc6-aaef70b009c5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.id_post }}",
            "data_criacao": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.data_criacao }}",
            "titulo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.titulo }}",
            "briefing": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.briefing }}",
            "status_blog": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.status }}",
            "artigo_blog": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "legenda_instagram": "={{ $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').first().json.legenda_instagram }}",
            "legenda_linkedin": "={{ $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').first().json.legenda_linkedin }}",
            "legenda_x": "={{ $('Call \\'Tools - 7 - Criador de legenda - X\\'').first().json.legenda_x }}",
            "status_instagram": "aguardando",
            "status_linkedin": "aguardando",
            "status_x": "aguardando",
            "imagem1_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem1_url }}",
            "imagem2_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem2_url }}",
            "imagem3_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem3_url }}",
            "imagem4_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem4_url }}",
            "imagem5_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem5_url }}",
            "imagem6_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem6_url }}",
            "cliente": "BMS",
            "status_whatsapp": "aguardando",
            "legenda_whatsapp": "={{ $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').first().json.legenda_whatsapp }}",
            "horario_post_whatsapp": "=",
            "horario_post_x": "=",
            "template_whatsapp": "atualizacao_cliente",
            "imagem_blog_url": "-",
            "fonte": "={{ $('Variáveis do fluxo').first().json['Fonte'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3712,
        192
      ],
      "id": "fc65e142-8757-4b8c-90ad-4948185136dd",
      "name": "Salva dados na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $('Pega status do cliente').first().json.id_post }}",
            "status_blog": "-",
            "status_instagram": "-",
            "status_linkedin": "-",
            "status_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.status }}",
            "justificativa_blog": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.blog.justificativa_curta }}",
            "justificativa_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.justificativa_curta }}",
            "justificativa_linkedin": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.linkedin.justificativa_curta }}",
            "justificativa_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.justificativa_curta }}",
            "status_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.status }}",
            "justificativa_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.justificativa_curta }}",
            "horario_post_blog": "={{ $json.horario_post_blog }}",
            "horario_post_instagram": "={{ $json.horario_post_instagram }}",
            "horario_post_linkedin": "={{ $json.horario_post_linkedin }}",
            "horario_post_x": "={{ $json.horario_post_x }}",
            "horario_post_whatsapp": "={{ $json.horario_post_whatsapp }}",
            "nota_relevancia": "={{ $('Variáveis do fluxo').first().json.nota_relevancia || $('Call \\'Tools - 01 - Avaliação de contexto\\'').first().json.nota }}",
            "nota_aprovador": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.nota_final_geral }}",
            "nota_criterio": "={{ $('Calcula critério de relevância dinâmico').first().json.criterio_relevancia_dinamico }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5072,
        192
      ],
      "id": "af2fb9f4-d5b7-49f4-8fc2-16da0ced05a5",
      "name": "Atualiza status e atribui nota",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      imagens: [\n        {\n          imagens: [\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" }\n          ]\n        }\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        192
      ],
      "id": "e18ff859-7905-490c-b690-89251f8a6748",
      "name": "Cria array de imagens vazias"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        16
      ],
      "id": "66f29755-556c-48f4-9008-990813bca88b",
      "name": "Toda dia 6h"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vfwBhgm7Qf17IHVn",
          "mode": "list",
          "cachedResultUrl": "/workflow/vfwBhgm7Qf17IHVn",
          "cachedResultName": "Tools - 09 - Criador de legenda - Whatsapp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}  \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }} \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }} \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        512
      ],
      "id": "6757d41f-100e-4d54-bdc1-394ce431aac4",
      "name": "Call 'Tools - 09 - Criador de legenda - Whatsapp'"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2816,
        432
      ],
      "typeVersion": 1,
      "id": "a9be4ce7-d058-4407-b89c-b8ef8c3f0a91",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4eca5dd-a88a-4414-bac8-63ff6639267d",
              "name": "Título",
              "value": "={{ $json[\"Título\"] || $json.ideia_post }}",
              "type": "string"
            },
            {
              "id": "cdbb3e6a-a96b-4074-9e40-2cedc760c403",
              "name": "Resumo",
              "value": "={{ $json.Resumo || $json.ideia_post }}",
              "type": "string"
            },
            {
              "id": "4d6e14ee-9756-419b-9d30-6e20321d9be0",
              "name": "Origem do fluxo",
              "value": "={{ $json.Origem || $json.origem }}",
              "type": "string"
            },
            {
              "id": "a9edde7c-2039-4126-a664-5ffb0b405de9",
              "name": "horario_post",
              "value": "={{ $json.horario_post }}",
              "type": "string"
            },
            {
              "id": "a4473ee5-6dfd-41e1-8b88-a6114bb966e7",
              "name": "Fonte",
              "value": "={{ $json.Fonte || $json.fonte }}",
              "type": "string"
            },
            {
              "id": "f445f513-d5b3-495a-849b-be6f1b40c986",
              "name": "nota_relevancia",
              "value": "={{ $json.nota_escolhida }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        192
      ],
      "id": "d34de406-5ffc-47c2-9f5d-304cb20d88b5",
      "name": "Variáveis do fluxo"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-post-manualmente",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        400
      ],
      "id": "9b0930a2-67fd-4819-a4e6-a50bdba6213e",
      "name": "Webhook",
      "webhookId": "6b497c50-7c99-4cf3-b630-2d7bb51bfc7a"
    },
    {
      "parameters": {
        "content": "# Legendas",
        "height": 1104,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        -320
      ],
      "typeVersion": 1,
      "id": "0f1e85c1-6622-435d-8b7d-11ebacf71cd6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// ======================================\n// AGENDADOR INTELIGENTE (COM ORIGEM)\n// BMS — Mercado Tributário\n// ======================================\n// Webhook → só whatsapp, horário fixo de Variáveis do fluxo\n// Schedule → próximo slot livre, sem limite de semana, até 90 dias\n// Timezone São Paulo (UTC-3)\n// ======================================\n\nconst mapa = $input.first().json.mapa_ocupados || {};\nconst fixo = $items(\"Pega dados fixos do cliente\")[0].json;\nconst origem = $items(\"Variáveis do fluxo\")?.[0]?.json?.[\"Origem do fluxo\"] || \"schedule\";\nconst isWebhook = origem === \"webhook\";\nconst aprovador = $items(\"Call 'Tools - 9 - Aprovador'\")[0].json;\n\nfunction parseCfg(str) {\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction hojeBaseSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  return new Date(Date.UTC(\n    agoraSP.getUTCFullYear(),\n    agoraSP.getUTCMonth(),\n    agoraSP.getUTCDate(),\n    0, 0, 0, 0\n  ));\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction formatar(dt, hora) {\n  const d = new Date(dt);\n  const [hh, mm] = hora.split(\":\");\n  const comHora = new Date(Date.UTC(\n    d.getUTCFullYear(),\n    d.getUTCMonth(),\n    d.getUTCDate(),\n    +hh, +mm, 0, 0\n  ));\n  const dd = String(comHora.getUTCDate()).padStart(2, \"0\");\n  const MM = String(comHora.getUTCMonth() + 1).padStart(2, \"0\");\n  const yy = comHora.getUTCFullYear();\n  const HH = String(comHora.getUTCHours()).padStart(2, \"0\");\n  const mm2 = String(comHora.getUTCMinutes()).padStart(2, \"0\");\n  return `${dd}/${MM}/${yy} ${HH}:${mm2}`;\n}\n\nfunction proximoDia(dt) {\n  return new Date(dt.getTime() + 24 * 60 * 60 * 1000);\n}\n\nconst dias = [\"dom\", \"seg\", \"ter\", \"qua\", \"qui\", \"sex\", \"sab\"];\n\nconst plataformas = Object.keys(fixo)\n  .filter(k => k.startsWith(\"config_postagem_\"))\n  .map(k => k.replace(\"config_postagem_\", \"\"));\n\nconst retorno = { origem };\nfor (const p of plataformas) {\n  retorno[`horario_post_${p}`] = \"-\";\n}\n\nfor (const p of plataformas) {\n\n  // =====================\n  // WEBHOOK → só whatsapp, horário fixo\n  // =====================\n  if (isWebhook) {\n    if (p === \"whatsapp\") {\n      const statusPlataforma = aprovador?.[p]?.status;\n      if (statusPlataforma !== \"aprovado\") continue;\n      const horarioWebhook = $items(\"Variáveis do fluxo\")?.[0]?.json?.horario_post;\n      if (horarioWebhook) {\n        retorno[`horario_post_${p}`] = horarioWebhook;\n      }\n    }\n    continue;\n  }\n\n  // =====================\n  // SCHEDULE → próximo slot livre, até 90 dias\n  // =====================\n  const statusPlataforma = aprovador?.[p]?.status;\n  if (statusPlataforma !== \"aprovado\") continue;\n\n  const cfg = parseCfg(fixo[`config_postagem_${p}`]);\n  if (!cfg || !cfg.ativo) continue;\n  if (!Array.isArray(cfg.horarios)) continue;\n  if (!Array.isArray(cfg.dias_semana)) continue;\n  if (!cfg.posts_por_dia || cfg.posts_por_dia < 1) continue;\n\n  let d = hojeBaseSP();\n  let agendado = false;\n\n  for (let tentativa = 0; tentativa < 90 && !agendado; tentativa++) {\n    const dia = dias[d.getUTCDay()];\n    const dataStr = data4(d);\n\n    if (cfg.dias_semana.includes(dia)) {\n      const ocupados = mapa[p]?.[dataStr] || [];\n\n      if (ocupados.length < cfg.posts_por_dia) {\n        for (const hora of cfg.horarios) {\n          if (!ocupados.includes(hora)) {\n            retorno[`horario_post_${p}`] = formatar(d, hora);\n            agendado = true;\n            break;\n          }\n        }\n      }\n    }\n\n    if (!agendado) {\n      d = proximoDia(d);\n    }\n  }\n}\n\nreturn [{ json: retorno }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        192
      ],
      "id": "d1a04654-eff3-47ec-a88f-ad9531ba312b",
      "name": "Agendador",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// ========================\n// MAPA GLOBAL DE HORÁRIOS OCUPADOS\n// (a partir de hoje em diante)\n// ========================\n// Une os dois históricos (schedule + webhook)\nlet historico = [];\ntry {\n  historico = historico.concat(\n    $items(\"Busca Todos os Posts (Histórico)\").map(i => i.json)\n  );\n} catch(e) {}\ntry {\n  historico = historico.concat(\n    $items(\"Busca Todos os Posts (Histórico)1\").map(i => i.json)\n  );\n} catch(e) {}\n\nconst mapa = {};\n\nfunction isDataValida(d) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(d);\n}\n\nfunction isHoraValida(h) {\n  return /^\\d{2}:\\d{2}$/.test(h);\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction hojeStrSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nconst hojeNum = dataParaNum(hojeStrSP());\n\nfor (const r of historico) {\n  for (const k of Object.keys(r)) {\n    if (!k.startsWith(\"horario_post_\")) continue;\n    if (!r[k]) continue;\n\n    const plataforma = k.replace(\"horario_post_\", \"\");\n    const partes = String(r[k]).split(\" \");\n    if (partes.length !== 2) continue;\n\n    const data = partes[0];\n    const hora = partes[1];\n\n    if (!isDataValida(data)) continue;\n    if (!isHoraValida(hora)) continue;\n    if (dataParaNum(data) < hojeNum) continue;\n\n    if (!mapa[plataforma]) mapa[plataforma] = {};\n    if (!mapa[plataforma][data]) mapa[plataforma][data] = [];\n    if (!mapa[plataforma][data].includes(hora)) {\n      mapa[plataforma][data].push(hora);\n    }\n  }\n}\n\nreturn [{ json: { mapa_ocupados: mapa } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4656,
        192
      ],
      "id": "7e543d2e-943f-41f9-a31f-c79447f4cefa",
      "name": "Verifica os horários agendados a partir de hoje",
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "BMS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        400
      ],
      "id": "248fe63c-89c8-4dee-8c99-57885d8b4f44",
      "name": "Busca Todos os Posts (Histórico)1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all();\nconst primeiroItem = dados[0].json;\nlet jsonParsed;\n\nif (primeiroItem.output) {\n  let textoLimpo = primeiroItem.output\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n  try {\n    jsonParsed = JSON.parse(textoLimpo);\n  } catch (error) {\n    throw new Error('Erro ao fazer JSON.parse. Conteúdo inválido: ' + error.message);\n  }\n} else {\n  jsonParsed = primeiroItem;\n}\n\nreturn [\n  {\n    json: {\n      Título: jsonParsed.Título ? jsonParsed.Título.trim() : '',\n      Resumo: jsonParsed.Resumo ? jsonParsed.Resumo.trim() : '',\n      todas_as_ideias: jsonParsed.todas_as_ideias || [],\n      Origem: \"schedule\",\n      Fonte: \"IDEIAS\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        16
      ],
      "id": "5deeaeea-34e0-45c7-9fbf-82cb2831f565",
      "name": "Organiza a saída da IA + Origem(schedule)"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ideia_post: $('Webhook').first().json.body.ideia_post,\n      horario_post: $('Webhook').first().json.body.horario_post,\n      origem: \"webhook\",\n      fonte: \"IDEIAS BMS\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        400
      ],
      "id": "91ee76ff-757a-483d-b76b-2ff67081a761",
      "name": "Traz a ideia e horário + Origem(webhook)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cadastro_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "BMS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        192
      ],
      "id": "bd70dbad-664c-4917-9e1a-d5eaf3df4852",
      "name": "Pega dados fixos do cliente",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CALCULA CRITÉRIO DE RELEVÂNCIA DINÂMICO (BASEADO EM DELTA)\n// Fluxo: BMS (Mercado Tributário)\n// ============================================================\n\nfunction parseDataHora(str) {\n  if (!str || str === \"-\") return null;\n  const parts = str.trim().split(\" \");\n  if (parts.length < 1) return null;\n  const datePart = parts[0];\n  const [d, m, y] = datePart.split(\"/\");\n  if (!d || !m || !y) return null;\n  const ms = Date.UTC(+y, +m - 1, +d, 0, 0, 0, 0);\n  return isNaN(ms) ? null : new Date(ms);\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction hojeStrSaoPaulo() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction deltaDias(dataFuturaStr) {\n  const hojeStr = hojeStrSaoPaulo();\n  if (dataParaNum(dataFuturaStr) <= dataParaNum(hojeStr)) return 0;\n  const [dH, mH, yH] = hojeStr.split(\"/\");\n  const [dF, mF, yF] = dataFuturaStr.split(\"/\");\n  const msHoje = Date.UTC(+yH, +mH - 1, +dH);\n  const msFut  = Date.UTC(+yF, +mF - 1, +dF);\n  return Math.round((msFut - msHoje) / (1000 * 60 * 60 * 24));\n}\n\nfunction deltaToCriterio(delta) {\n  if (delta <= 0) return 5;\n  if (delta <= 1) return 6;\n  if (delta <= 3) return 7;\n  if (delta <= 5) return 8;\n  if (delta <= 7) return 9;\n  return 10;\n}\n\n// --- Dados do cliente ---\nconst configCliente = $('Pega dados fixos do cliente').first().json;\n\n// --- Detecta plataformas ativas ---\nconst plataformasAtivas = [];\nconst configsPorPlataforma = {};\n\nfor (const chave of Object.keys(configCliente)) {\n  if (!chave.startsWith(\"config_postagem_\")) continue;\n  try {\n    const nomePlat = chave.replace(\"config_postagem_\", \"\");\n    const cfg = JSON.parse(configCliente[chave]);\n    if (!cfg.ativo) continue;\n    plataformasAtivas.push(nomePlat);\n    configsPorPlataforma[nomePlat] = cfg;\n  } catch (e) {}\n}\n\n// --- Carrega posts — tenta schedule, fallback para webhook ---\nlet todosOsPosts;\ntry {\n  todosOsPosts = $('Busca Todos os Posts (Histórico)').all().map(i => i.json);\n} catch (e) {\n  todosOsPosts = $('Busca Todos os Posts (Histórico)1').all().map(i => i.json);\n}\n\nconst fontesFiltradas = [\"IDEIAS\", \"RSS\"];\nconst postsFiltrados = todosOsPosts.filter(post =>\n  fontesFiltradas.includes((post.fonte || \"\").trim().toUpperCase())\n);\n\nconst hojeStr = hojeStrSaoPaulo();\nconst hojeNum = dataParaNum(hojeStr);\n\n// --- Para cada plataforma, encontra o último dia agendado ---\nconst deltas = [];\nconst detalhePorPlataforma = {};\n\nfor (const plat of plataformasAtivas) {\n  const cfg = configsPorPlataforma[plat];\n  let ultimaDataStr = null;\n  let ultimaDataNum = 0;\n\n  for (const post of postsFiltrados) {\n    const horario = parseDataHora(post[`horario_post_${plat}`]);\n    if (!horario) continue;\n\n    const dataStr = data4(horario);\n    const dataNum = dataParaNum(dataStr);\n\n    if (dataNum < hojeNum) continue;\n\n    if (dataNum > ultimaDataNum) {\n      ultimaDataStr = dataStr;\n      ultimaDataNum = dataNum;\n    }\n  }\n\n  const delta = ultimaDataStr ? deltaDias(ultimaDataStr) : 0;\n  deltas.push(delta);\n\n  detalhePorPlataforma[plat] = {\n    ultimo_dia_agendado: ultimaDataStr || \"-\",\n    delta_dias: delta,\n    posts_por_dia: cfg.posts_por_dia,\n    dias_ativos: cfg.dias_semana\n  };\n}\n\n// --- Pega o maior delta ---\nconst maiorDelta = deltas.length > 0 ? Math.max(...deltas) : 0;\nconst criterioDinamico = deltaToCriterio(maiorDelta);\n\nreturn [{\n  json: {\n    criterio_relevancia_dinamico: criterioDinamico,\n    maior_delta_dias: maiorDelta,\n    hoje: hojeStr,\n    plataformas_ativas: plataformasAtivas,\n    detalhe_por_plataforma: detalhePorPlataforma\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        208
      ],
      "id": "5d9da229-fd78-4afb-93d8-bd52512d8949",
      "name": "Calcula critério de relevância dinâmico"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c9a2cce-1e4b-4f37-9c24-91e5375e8efe",
              "leftValue": "={{ ($(\"Call 'Tools - 01 - Avaliação de contexto'\").isExecuted && $(\"Call 'Tools - 01 - Avaliação de contexto'\").first().json.nota_escolhida >= $json.criterio_relevancia_dinamico && $(\"Call 'Tools - 01 - Avaliação de contexto'\").first().json.Status === 'aprovada') || $('Variáveis do fluxo').first().json['Origem do fluxo'] === 'webhook' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        208
      ],
      "id": "8c34a788-8fc5-48d1-a0ac-52cc4e75dff6",
      "name": "Filtro  de relevância1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v2jA4E958uZQhm0p",
          "mode": "list",
          "cachedResultUrl": "/workflow/v2jA4E958uZQhm0p",
          "cachedResultName": "Tools - 01 - Avaliação de contexto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto": "=Titulo: {{ $('Organiza a saída da IA + Origem(schedule)').first().json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA + Origem(schedule)').first().json.Resumo }}",
            "ramo": "={{ $json.ramo }}",
            "target_audience": "={{ $json.target_audience }}",
            "keywords_context": "={{ $json.keywords_context }}",
            "criterios_relevancia": "={{ $json.criterios_relevancia }}",
            "contexto_anti_repeticao": "={{ $('Prepara Contexto Anti-Repetição').item.json.ideias_completas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ramo",
              "displayName": "ramo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords_context",
              "displayName": "keywords_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "criterios_relevancia",
              "displayName": "criterios_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contexto_anti_repeticao",
              "displayName": "contexto_anti_repeticao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1712,
        32
      ],
      "id": "2b3602be-e6a6-48a8-a4c5-cc9822467ac5",
      "name": "Call 'Tools - 01 - Avaliação de contexto'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0c2facb-48f9-44d8-8404-0368c6f6b13d",
              "leftValue": "={{ $('Variáveis do fluxo').first().json['Origem do fluxo'] }}",
              "rightValue": "schedule",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        192
      ],
      "id": "efb554f4-e60d-4d2f-92cd-bc6d1facc6dd",
      "name": "Se origem é schedule avalia o contexto"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA - Gera 1 Ideia para briefing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Busca Todos os Posts (Histórico)": {
      "main": [
        [
          {
            "node": "Prepara Contexto Anti-Repetição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Contexto Anti-Repetição": {
      "main": [
        [
          {
            "node": "IA - Gera 1 Ideia para briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 03 - Criador de Briefing'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 4 - Escritor artigo blog'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Gera 1 Ideia para briefing": {
      "main": [
        [
          {
            "node": "Organiza a saída da IA + Origem(schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 4 - Escritor artigo blog'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 5 - Criador de legenda - Instagram'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 5 - Criador de legenda - Instagram'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 6 - Criador de legenda - Linkedin'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 6 - Criador de legenda - Linkedin'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 7 - Criador de legenda - X'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 7 - Criador de legenda - X'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 09 - Criador de legenda - Whatsapp'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 8 - Criador de imagens'": {
      "main": [
        [
          {
            "node": "Salva dados na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega status do cliente": {
      "main": [
        [
          {
            "node": "Consolida imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolida imagens": {
      "main": [
        [
          {
            "node": "Call 'Tools - 9 - Aprovador'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 9 - Aprovador'": {
      "main": [
        [
          {
            "node": "Verifica os horários agendados a partir de hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva dados na planilha": {
      "main": [
        [
          {
            "node": "Pega status do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria array de imagens vazias": {
      "main": [
        [
          {
            "node": "Call 'Tools - 8 - Criador de imagens'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toda dia 6h": {
      "main": [
        [
          {
            "node": "Busca Todos os Posts (Histórico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 09 - Criador de legenda - Whatsapp'": {
      "main": [
        [
          {
            "node": "Cria array de imagens vazias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status e atribui nota": {
      "main": [
        []
      ]
    },
    "Variáveis do fluxo": {
      "main": [
        [
          {
            "node": "Pega dados fixos do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca Todos os Posts (Histórico)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendador": {
      "main": [
        [
          {
            "node": "Atualiza status e atribui nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica os horários agendados a partir de hoje": {
      "main": [
        [
          {
            "node": "Agendador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Todos os Posts (Histórico)1": {
      "main": [
        [
          {
            "node": "Traz a ideia e horário + Origem(webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza a saída da IA + Origem(schedule)": {
      "main": [
        [
          {
            "node": "Variáveis do fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traz a ideia e horário + Origem(webhook)": {
      "main": [
        [
          {
            "node": "Variáveis do fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega dados fixos do cliente": {
      "main": [
        [
          {
            "node": "Se origem é schedule avalia o contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula critério de relevância dinâmico": {
      "main": [
        [
          {
            "node": "Filtro  de relevância1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro  de relevância1": {
      "main": [
        [
          {
            "node": "Call 'Tools - 03 - Criador de Briefing'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 01 - Avaliação de contexto'": {
      "main": [
        [
          {
            "node": "Calcula critério de relevância dinâmico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se origem é schedule avalia o contexto": {
      "main": [
        [
          {
            "node": "Call 'Tools - 01 - Avaliação de contexto'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calcula critério de relevância dinâmico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Toda dia 6h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "770e1d57-d554-49e2-9561-c6955c5ad37e",
  "activeVersionId": "770e1d57-d554-49e2-9561-c6955c5ad37e",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-01-11T23:14:07.592Z",
      "createdAt": "2026-01-11T23:14:07.592Z",
      "role": "workflow:owner",
      "workflowId": "3YvE9u1uSGQPKQ2X",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T17:20:00.802Z",
    "createdAt": "2026-03-09T17:20:00.802Z",
    "versionId": "770e1d57-d554-49e2-9561-c6955c5ad37e",
    "workflowId": "3YvE9u1uSGQPKQ2X",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          320,
          208
        ],
        "id": "e9f68ad7-302f-440e-97c6-bb10556a0e96",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "UwoliaFEOcW8kEZD",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "BMS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -112,
          16
        ],
        "id": "e1cbc862-08aa-48ab-b642-568133932522",
        "name": "Busca Todos os Posts (Histórico)",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "// Pega todos os itens do Google Sheets\nconst items = $input.all();\n\n// Filtra e extrai apenas Titulo que não está vazio\nconst ideiasAnteriores = items\n  .filter(item => item.json.titulo) // filtra apenas se tiver Titulo\n  .map(item => ({\n    titulo: item.json.titulo // pega apenas o titulo\n  }));\n\n// Retorna apenas total de ideias anteriores e ideias completas (somente títulos)\nreturn [{\n  json: {\n    total_ideias_anteriores: ideiasAnteriores.length,\n    ideias_completas: ideiasAnteriores\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          16
        ],
        "id": "15c8cc3b-b676-4324-bda4-b217effb566a",
        "name": "Prepara Contexto Anti-Repetição"
      },
      {
        "parameters": {
          "content": "# Cria ideias de post sobre mercado tributário.",
          "height": 704,
          "width": 1312
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -432,
          -96
        ],
        "typeVersion": 1,
        "id": "affbd9bb-217e-4842-96e8-9da730addd41",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2512,
          -208
        ],
        "typeVersion": 1,
        "id": "3ac0c0d2-cd68-413e-9269-659d396b4360",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "3GNG4rQe7hv7W5AE",
            "mode": "list",
            "cachedResultUrl": "/workflow/3GNG4rQe7hv7W5AE",
            "cachedResultName": "Tools - 03 - Criador de Briefing"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "contexto": "=Título: {{ $('Variáveis do fluxo').first().json[\"Título\"] }} ,\n\nResumo: {{ $('Variáveis do fluxo').first().json.Resumo }}",
              "target_audience": "={{ $('Pega dados fixos do cliente').first().json.target_audience }}",
              "keywords_context": "={{ $('Pega dados fixos do cliente').first().json.keywords_context }}",
              "criterios_relevancia": "={{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "ramo": "={{ $('Pega dados fixos do cliente').first().json.ramo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ramo",
                "displayName": "ramo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "target_audience",
                "displayName": "target_audience",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keywords_context",
                "displayName": "keywords_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "criterios_relevancia",
                "displayName": "criterios_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2608,
          -128
        ],
        "id": "77c02b03-fecf-464c-a960-8fe6565254cf",
        "name": "Call 'Tools - 03 - Criador de Briefing'"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Contexto Temporal\n\nDia Atual: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\nAno de Referência: 2026\n\n# GERADOR DE IDEIAS EDITORIAL — MERCADO TRIBUTÁRIO\n\n## IDENTIDADE\nVocê é um estrategista editorial sênior com 15 anos de experiência em conteúdo B2B sobre tributação, planejamento fiscal e compliance. Já trabalhou com as maiores publicações do setor (nível Rock Content, RD Station, Neil Patel Brasil). Seu padrão é alto — você rejeita o óbvio por princípio e só aprova ideias que genuinamente surpreendem ou provocam reflexão.\n\n## MISSÃO\nExecutar em sequência, sem pular etapas:\n\nETAPA 1 — Análise do histórico para garantir originalidade absoluta\nETAPA 2 — Geração de 10 ideias únicas e diversificadas\nETAPA 3 — Seleção da melhor ideia para o público do mercado tributário\n\n## ETAPA 1 — HISTÓRICO (LEITURA OBRIGATÓRIA)\nAnalise cada título abaixo antes de gerar qualquer ideia. Nenhuma das 10 ideias pode repetir tema, ângulo ou abordagem já explorada:\n\n{{ JSON.stringify($items().map(i => i.json.ideias_completas), null, 2) }}\n\n## ETAPA 2 — GERAÇÃO DAS 10 IDEIAS\nGere 10 ideias completamente distintas entre si — sem repetir setor, ângulo ou formato entre elas.\n\nÂNGULOS QUE FUNCIONAM:\n- Contraintuitivos ou controversos sobre planejamento tributário\n- Tensões reais entre fisco, empresas e contadores\n- Regimes específicos (Simples, Lucro Real, Lucro Presumido)\n- Paradoxos da legislação tributária brasileira\n- Insights surpreendentes sobre economia fiscal legal\n- Análises setoriais de carga tributária\n- Impactos de reformas, mudanças legislativas ou jurisprudência\n- Estratégias de recuperação de créditos\n- ROI real de planejamento tributário, números que chocam\n\nPROIBIDO:\n- \"Como reduzir impostos legalmente\"\n- \"X mudanças na reforma tributária\"\n- Títulos genéricos sobre elisão fiscal\n- Repetir ângulo ou setor entre as 10 ideias\n\n## ETAPA 3 — SELEÇÃO\nAnalise as 10 ideias geradas e escolha a que melhor combina:\n- Originalidade genuína — foge do óbvio, surpreende quem lê sobre tributação todo dia\n- Relevância prática — gera valor real para contadores, CFOs, empresários e gestores fiscais\n- Potencial de engajamento — o título prende, provoca curiosidade ou debate imediato\n- Especificidade — tema delimitado, não genérico\n\nSempre escolha a melhor entre as 10 e marque como \"aprovada\". Mesmo que nenhuma seja perfeita, a mais forte do grupo sempre deve ser aprovada.\n\n## SAÍDA OBRIGATÓRIA\nRetorne APENAS o JSON abaixo, válido, sem nenhum texto antes ou depois, sem markdown:\n\n{\n  \"Título\": \"título da melhor ideia\",\n  \"Resumo\": \"resumo da melhor ideia em 2-4 frases\",\n  \"Status\": \"aprovada\",\n  \"todas_as_ideias\": [\n    {\n      \"posicao\": 1,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": true\n    },\n    {\n      \"posicao\": 2,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": false\n    }\n  ]\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          352,
          16
        ],
        "id": "7da77116-abed-450d-b125-ba72af1ccd42",
        "name": "IA - Gera 1 Ideia para briefing"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2512,
          112
        ],
        "typeVersion": 1,
        "id": "6ec3e712-e0ec-4e18-a7ba-4e642382963b",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2512,
          432
        ],
        "typeVersion": 1,
        "id": "aecdb2e3-ae62-4f0d-a7c5-098638981fb8",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2816,
          -208
        ],
        "typeVersion": 1,
        "id": "4d0dc772-3fb3-41fe-b07f-c74414813fd9",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2816,
          112
        ],
        "typeVersion": 1,
        "id": "197aa384-aea6-447f-968a-4ec93d6b3267",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Yx9XT5wkzSw2oBtD",
            "mode": "list",
            "cachedResultUrl": "/workflow/Yx9XT5wkzSw2oBtD",
            "cachedResultName": "Tools - 04 - Escritor artigo blog"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "briefing": "={{ $json.briefing }}",
              "titulo": "={{ $json.titulo }}",
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2608,
          192
        ],
        "id": "226c5e6a-9c8e-4505-8d24-00f99c76f043",
        "name": "Call 'Tools - 4 - Escritor artigo blog'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "LBOIqjET0jkwGgeX",
            "mode": "list",
            "cachedResultUrl": "/workflow/LBOIqjET0jkwGgeX",
            "cachedResultName": "Tools - 05 - Criador de legenda - Instagram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $json.artigo_completo }}",
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [
              "artigo"
            ],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2608,
          512
        ],
        "id": "e5e10851-816a-4089-af65-58f91768f0ba",
        "name": "Call 'Tools - 5 - Criador de legenda - Instagram'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "oHicWXWOlTUM1fzj",
            "mode": "list",
            "cachedResultUrl": "/workflow/oHicWXWOlTUM1fzj",
            "cachedResultName": "Tools - 06 - Criador de legenda - Linkedin"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2912,
          -128
        ],
        "id": "cfe16e72-0693-4c5b-a266-627ac9d998de",
        "name": "Call 'Tools - 6 - Criador de legenda - Linkedin'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RywjAC1k0dLdH44a",
            "mode": "list",
            "cachedResultUrl": "/workflow/RywjAC1k0dLdH44a",
            "cachedResultName": "Tools - 07 - Criador de legenda - X"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }} \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}  \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}  \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2912,
          192
        ],
        "id": "5057fd3b-e6ca-4643-9d31-38067c9ad998",
        "name": "Call 'Tools - 7 - Criador de legenda - X'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "EC0p1VUlLsTeIg3h",
            "mode": "list",
            "cachedResultUrl": "/workflow/EC0p1VUlLsTeIg3h",
            "cachedResultName": "Tools - 08 - Criador de imagens"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "template": "template2",
              "imagens": "={{ $json.imagens }}",
              "logo_empresa": "={{ $('Pega dados fixos do cliente').first().json.logo_empresa }}",
              "empresa": "={{ $('Pega dados fixos do cliente').first().json.cliente }}",
              "usa_blog": "não"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "logo_empresa",
                "displayName": "logo_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "empresa",
                "displayName": "empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "imagens",
                "displayName": "imagens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "template",
                "displayName": "template",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "usa_blog",
                "displayName": "usa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3472,
          192
        ],
        "id": "61b1ec64-0c76-451a-8d21-03eb6035514e",
        "name": "Call 'Tools - 8 - Criador de imagens'"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3376,
          112
        ],
        "typeVersion": 1,
        "id": "290ba200-975d-403b-9a49-435eec5a9f3e",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "BMS"
              },
              {
                "lookupColumn": "status_blog",
                "lookupValue": "aguardando"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3920,
          192
        ],
        "id": "747e7995-f697-4c06-9c1c-7b3adca6df1f",
        "name": "Pega status do cliente",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Processa cada item do array de entrada\nreturn $input.all().map(item => {\n  // Cria array para armazenar as imagens\n  const imagens = [];\n  \n  // Itera enquanto encontrar imagens (não limita a quantidade)\n  let i = 1;\n  while (item.json[`imagem${i}_url`]) {\n    const imagemUrl = item.json[`imagem${i}_url`];\n    \n    // Adiciona a URL no array se existir\n    if (imagemUrl) {\n      imagens.push(imagemUrl);\n    }\n    \n    i++;\n  }\n  \n  // Retorna o array de URLs\n  return {\n    json: {\n      imagens: imagens\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4112,
          192
        ],
        "id": "13573573-e849-484f-aec0-52a951926a96",
        "name": "Consolida imagens"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "87SrvvuSwYMQx795",
            "mode": "list",
            "cachedResultUrl": "/workflow/87SrvvuSwYMQx795",
            "cachedResultName": "Tools - 10 - Aprovador"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "posts": "={{\n  {\n    \"blog\": {\n      \"texto\": $('Call \\'Tools - 4 - Escritor artigo blog\\'').item.json.artigo_completo,\n      \"imagem_blog\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"instagram\": {\n      \"legenda_instagram\": $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').item.json.legenda_instagram,\n      \"imagem_instagram\": $('Consolida imagens').item.json.imagens\n    },\n    \"linkedin\": {\n      \"legenda_linkedin\": $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').item.json.legenda_linkedin,\n      \"imagem_linkedin\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"x\": {\n      \"legenda_x\": $('Call \\'Tools - 7 - Criador de legenda - X\\'').item.json.legenda_x,\n      \"imagem_x\": $('Consolida imagens').item.json.imagens[0]\n    },\n      \"whatsapp\": {\n        \"legenda_whatsapp\": $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').item.json.legenda_whatsapp,\n        \"imagem_whatsapp\": $('Consolida imagens').item.json.imagens[0]\n      }\n  }\n}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "posts",
                "displayName": "posts",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4400,
          192
        ],
        "id": "cb280c11-05e1-4a30-a555-08c2fa9ab067",
        "name": "Call 'Tools - 9 - Aprovador'"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4304,
          112
        ],
        "typeVersion": 1,
        "id": "7da2fd64-805f-444d-8cc6-aaef70b009c5",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_post": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.id_post }}",
              "data_criacao": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.data_criacao }}",
              "titulo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.titulo }}",
              "briefing": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.briefing }}",
              "status_blog": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.status }}",
              "artigo_blog": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "legenda_instagram": "={{ $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').first().json.legenda_instagram }}",
              "legenda_linkedin": "={{ $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').first().json.legenda_linkedin }}",
              "legenda_x": "={{ $('Call \\'Tools - 7 - Criador de legenda - X\\'').first().json.legenda_x }}",
              "status_instagram": "aguardando",
              "status_linkedin": "aguardando",
              "status_x": "aguardando",
              "imagem1_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem1_url }}",
              "imagem2_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem2_url }}",
              "imagem3_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem3_url }}",
              "imagem4_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem4_url }}",
              "imagem5_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem5_url }}",
              "imagem6_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem6_url }}",
              "cliente": "BMS",
              "status_whatsapp": "aguardando",
              "legenda_whatsapp": "={{ $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').first().json.legenda_whatsapp }}",
              "horario_post_whatsapp": "=",
              "horario_post_x": "=",
              "template_whatsapp": "atualizacao_cliente",
              "imagem_blog_url": "-",
              "fonte": "={{ $('Variáveis do fluxo').first().json['Fonte'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_criterio",
                "displayName": "nota_criterio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_relevancia",
                "displayName": "nota_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_aprovador",
                "displayName": "nota_aprovador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem_blog_url",
                "displayName": "imagem_blog_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3712,
          192
        ],
        "id": "fc65e142-8757-4b8c-90ad-4948185136dd",
        "name": "Salva dados na planilha",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_post": "={{ $('Pega status do cliente').first().json.id_post }}",
              "status_blog": "-",
              "status_instagram": "-",
              "status_linkedin": "-",
              "status_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.status }}",
              "justificativa_blog": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.blog.justificativa_curta }}",
              "justificativa_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.justificativa_curta }}",
              "justificativa_linkedin": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.linkedin.justificativa_curta }}",
              "justificativa_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.justificativa_curta }}",
              "status_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.status }}",
              "justificativa_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.justificativa_curta }}",
              "horario_post_blog": "={{ $json.horario_post_blog }}",
              "horario_post_instagram": "={{ $json.horario_post_instagram }}",
              "horario_post_linkedin": "={{ $json.horario_post_linkedin }}",
              "horario_post_x": "={{ $json.horario_post_x }}",
              "horario_post_whatsapp": "={{ $json.horario_post_whatsapp }}",
              "nota_relevancia": "={{ $('Variáveis do fluxo').first().json.nota_relevancia || $('Call \\'Tools - 01 - Avaliação de contexto\\'').first().json.nota }}",
              "nota_aprovador": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.nota_final_geral }}",
              "nota_criterio": "={{ $('Calcula critério de relevância dinâmico').first().json.criterio_relevancia_dinamico }}"
            },
            "matchingColumns": [
              "id_post"
            ],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_criterio",
                "displayName": "nota_criterio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_relevancia",
                "displayName": "nota_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_aprovador",
                "displayName": "nota_aprovador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem_blog_url",
                "displayName": "imagem_blog_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          5072,
          192
        ],
        "id": "af2fb9f4-d5b7-49f4-8fc2-16da0ced05a5",
        "name": "Atualiza status e atribui nota",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      imagens: [\n        {\n          imagens: [\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" }\n          ]\n        }\n      ]\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          192
        ],
        "id": "e18ff859-7905-490c-b690-89251f8a6748",
        "name": "Cria array de imagens vazias"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -336,
          16
        ],
        "id": "66f29755-556c-48f4-9008-990813bca88b",
        "name": "Toda dia 6h"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vfwBhgm7Qf17IHVn",
            "mode": "list",
            "cachedResultUrl": "/workflow/vfwBhgm7Qf17IHVn",
            "cachedResultName": "Tools - 09 - Criador de legenda - Whatsapp"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}  \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }} \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }} \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2912,
          512
        ],
        "id": "6757d41f-100e-4d54-bdc1-394ce431aac4",
        "name": "Call 'Tools - 09 - Criador de legenda - Whatsapp'"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2816,
          432
        ],
        "typeVersion": 1,
        "id": "a9be4ce7-d058-4407-b89c-b8ef8c3f0a91",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e4eca5dd-a88a-4414-bac8-63ff6639267d",
                "name": "Título",
                "value": "={{ $json[\"Título\"] || $json.ideia_post }}",
                "type": "string"
              },
              {
                "id": "cdbb3e6a-a96b-4074-9e40-2cedc760c403",
                "name": "Resumo",
                "value": "={{ $json.Resumo || $json.ideia_post }}",
                "type": "string"
              },
              {
                "id": "4d6e14ee-9756-419b-9d30-6e20321d9be0",
                "name": "Origem do fluxo",
                "value": "={{ $json.Origem || $json.origem }}",
                "type": "string"
              },
              {
                "id": "a9edde7c-2039-4126-a664-5ffb0b405de9",
                "name": "horario_post",
                "value": "={{ $json.horario_post }}",
                "type": "string"
              },
              {
                "id": "a4473ee5-6dfd-41e1-8b88-a6114bb966e7",
                "name": "Fonte",
                "value": "={{ $json.Fonte || $json.fonte }}",
                "type": "string"
              },
              {
                "id": "f445f513-d5b3-495a-849b-be6f1b40c986",
                "name": "nota_relevancia",
                "value": "={{ $json.nota_escolhida }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          192
        ],
        "id": "d34de406-5ffc-47c2-9f5d-304cb20d88b5",
        "name": "Variáveis do fluxo"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "enviar-post-manualmente",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          288,
          400
        ],
        "id": "9b0930a2-67fd-4819-a4e6-a50bdba6213e",
        "name": "Webhook",
        "webhookId": "6b497c50-7c99-4cf3-b630-2d7bb51bfc7a"
      },
      {
        "parameters": {
          "content": "# Legendas",
          "height": 1104,
          "width": 688,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2464,
          -320
        ],
        "typeVersion": 1,
        "id": "0f1e85c1-6622-435d-8b7d-11ebacf71cd6",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "jsCode": "// ======================================\n// AGENDADOR INTELIGENTE (COM ORIGEM)\n// BMS — Mercado Tributário\n// ======================================\n// Webhook → só whatsapp, horário fixo de Variáveis do fluxo\n// Schedule → próximo slot livre, sem limite de semana, até 90 dias\n// Timezone São Paulo (UTC-3)\n// ======================================\n\nconst mapa = $input.first().json.mapa_ocupados || {};\nconst fixo = $items(\"Pega dados fixos do cliente\")[0].json;\nconst origem = $items(\"Variáveis do fluxo\")?.[0]?.json?.[\"Origem do fluxo\"] || \"schedule\";\nconst isWebhook = origem === \"webhook\";\nconst aprovador = $items(\"Call 'Tools - 9 - Aprovador'\")[0].json;\n\nfunction parseCfg(str) {\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction hojeBaseSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  return new Date(Date.UTC(\n    agoraSP.getUTCFullYear(),\n    agoraSP.getUTCMonth(),\n    agoraSP.getUTCDate(),\n    0, 0, 0, 0\n  ));\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction formatar(dt, hora) {\n  const d = new Date(dt);\n  const [hh, mm] = hora.split(\":\");\n  const comHora = new Date(Date.UTC(\n    d.getUTCFullYear(),\n    d.getUTCMonth(),\n    d.getUTCDate(),\n    +hh, +mm, 0, 0\n  ));\n  const dd = String(comHora.getUTCDate()).padStart(2, \"0\");\n  const MM = String(comHora.getUTCMonth() + 1).padStart(2, \"0\");\n  const yy = comHora.getUTCFullYear();\n  const HH = String(comHora.getUTCHours()).padStart(2, \"0\");\n  const mm2 = String(comHora.getUTCMinutes()).padStart(2, \"0\");\n  return `${dd}/${MM}/${yy} ${HH}:${mm2}`;\n}\n\nfunction proximoDia(dt) {\n  return new Date(dt.getTime() + 24 * 60 * 60 * 1000);\n}\n\nconst dias = [\"dom\", \"seg\", \"ter\", \"qua\", \"qui\", \"sex\", \"sab\"];\n\nconst plataformas = Object.keys(fixo)\n  .filter(k => k.startsWith(\"config_postagem_\"))\n  .map(k => k.replace(\"config_postagem_\", \"\"));\n\nconst retorno = { origem };\nfor (const p of plataformas) {\n  retorno[`horario_post_${p}`] = \"-\";\n}\n\nfor (const p of plataformas) {\n\n  // =====================\n  // WEBHOOK → só whatsapp, horário fixo\n  // =====================\n  if (isWebhook) {\n    if (p === \"whatsapp\") {\n      const statusPlataforma = aprovador?.[p]?.status;\n      if (statusPlataforma !== \"aprovado\") continue;\n      const horarioWebhook = $items(\"Variáveis do fluxo\")?.[0]?.json?.horario_post;\n      if (horarioWebhook) {\n        retorno[`horario_post_${p}`] = horarioWebhook;\n      }\n    }\n    continue;\n  }\n\n  // =====================\n  // SCHEDULE → próximo slot livre, até 90 dias\n  // =====================\n  const statusPlataforma = aprovador?.[p]?.status;\n  if (statusPlataforma !== \"aprovado\") continue;\n\n  const cfg = parseCfg(fixo[`config_postagem_${p}`]);\n  if (!cfg || !cfg.ativo) continue;\n  if (!Array.isArray(cfg.horarios)) continue;\n  if (!Array.isArray(cfg.dias_semana)) continue;\n  if (!cfg.posts_por_dia || cfg.posts_por_dia < 1) continue;\n\n  let d = hojeBaseSP();\n  let agendado = false;\n\n  for (let tentativa = 0; tentativa < 90 && !agendado; tentativa++) {\n    const dia = dias[d.getUTCDay()];\n    const dataStr = data4(d);\n\n    if (cfg.dias_semana.includes(dia)) {\n      const ocupados = mapa[p]?.[dataStr] || [];\n\n      if (ocupados.length < cfg.posts_por_dia) {\n        for (const hora of cfg.horarios) {\n          if (!ocupados.includes(hora)) {\n            retorno[`horario_post_${p}`] = formatar(d, hora);\n            agendado = true;\n            break;\n          }\n        }\n      }\n    }\n\n    if (!agendado) {\n      d = proximoDia(d);\n    }\n  }\n}\n\nreturn [{ json: retorno }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4864,
          192
        ],
        "id": "d1a04654-eff3-47ec-a88f-ad9531ba312b",
        "name": "Agendador",
        "retryOnFail": true,
        "executeOnce": false,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "jsCode": "// ========================\n// MAPA GLOBAL DE HORÁRIOS OCUPADOS\n// (a partir de hoje em diante)\n// ========================\n// Une os dois históricos (schedule + webhook)\nlet historico = [];\ntry {\n  historico = historico.concat(\n    $items(\"Busca Todos os Posts (Histórico)\").map(i => i.json)\n  );\n} catch(e) {}\ntry {\n  historico = historico.concat(\n    $items(\"Busca Todos os Posts (Histórico)1\").map(i => i.json)\n  );\n} catch(e) {}\n\nconst mapa = {};\n\nfunction isDataValida(d) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(d);\n}\n\nfunction isHoraValida(h) {\n  return /^\\d{2}:\\d{2}$/.test(h);\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction hojeStrSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nconst hojeNum = dataParaNum(hojeStrSP());\n\nfor (const r of historico) {\n  for (const k of Object.keys(r)) {\n    if (!k.startsWith(\"horario_post_\")) continue;\n    if (!r[k]) continue;\n\n    const plataforma = k.replace(\"horario_post_\", \"\");\n    const partes = String(r[k]).split(\" \");\n    if (partes.length !== 2) continue;\n\n    const data = partes[0];\n    const hora = partes[1];\n\n    if (!isDataValida(data)) continue;\n    if (!isHoraValida(hora)) continue;\n    if (dataParaNum(data) < hojeNum) continue;\n\n    if (!mapa[plataforma]) mapa[plataforma] = {};\n    if (!mapa[plataforma][data]) mapa[plataforma][data] = [];\n    if (!mapa[plataforma][data].includes(hora)) {\n      mapa[plataforma][data].push(hora);\n    }\n  }\n}\n\nreturn [{ json: { mapa_ocupados: mapa } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4656,
          192
        ],
        "id": "7e543d2e-943f-41f9-a31f-c79447f4cefa",
        "name": "Verifica os horários agendados a partir de hoje",
        "retryOnFail": true
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "BMS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          512,
          400
        ],
        "id": "248fe63c-89c8-4dee-8c99-57885d8b4f44",
        "name": "Busca Todos os Posts (Histórico)1",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "const dados = $input.all();\nconst primeiroItem = dados[0].json;\nlet jsonParsed;\n\nif (primeiroItem.output) {\n  let textoLimpo = primeiroItem.output\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n  try {\n    jsonParsed = JSON.parse(textoLimpo);\n  } catch (error) {\n    throw new Error('Erro ao fazer JSON.parse. Conteúdo inválido: ' + error.message);\n  }\n} else {\n  jsonParsed = primeiroItem;\n}\n\nreturn [\n  {\n    json: {\n      Título: jsonParsed.Título ? jsonParsed.Título.trim() : '',\n      Resumo: jsonParsed.Resumo ? jsonParsed.Resumo.trim() : '',\n      todas_as_ideias: jsonParsed.todas_as_ideias || [],\n      Origem: \"schedule\",\n      Fonte: \"IDEIAS\"\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          16
        ],
        "id": "5deeaeea-34e0-45c7-9fbf-82cb2831f565",
        "name": "Organiza a saída da IA + Origem(schedule)"
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      ideia_post: $('Webhook').first().json.body.ideia_post,\n      horario_post: $('Webhook').first().json.body.horario_post,\n      origem: \"webhook\",\n      fonte: \"IDEIAS BMS\"\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          400
        ],
        "id": "91ee76ff-757a-483d-b76b-2ff67081a761",
        "name": "Traz a ideia e horário + Origem(webhook)"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "cadastro_clientes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "BMS"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1184,
          192
        ],
        "id": "bd70dbad-664c-4917-9e1a-d5eaf3df4852",
        "name": "Pega dados fixos do cliente",
        "alwaysOutputData": true,
        "executeOnce": false,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// CALCULA CRITÉRIO DE RELEVÂNCIA DINÂMICO (BASEADO EM DELTA)\n// Fluxo: BMS (Mercado Tributário)\n// ============================================================\n\nfunction parseDataHora(str) {\n  if (!str || str === \"-\") return null;\n  const parts = str.trim().split(\" \");\n  if (parts.length < 1) return null;\n  const datePart = parts[0];\n  const [d, m, y] = datePart.split(\"/\");\n  if (!d || !m || !y) return null;\n  const ms = Date.UTC(+y, +m - 1, +d, 0, 0, 0, 0);\n  return isNaN(ms) ? null : new Date(ms);\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction hojeStrSaoPaulo() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction deltaDias(dataFuturaStr) {\n  const hojeStr = hojeStrSaoPaulo();\n  if (dataParaNum(dataFuturaStr) <= dataParaNum(hojeStr)) return 0;\n  const [dH, mH, yH] = hojeStr.split(\"/\");\n  const [dF, mF, yF] = dataFuturaStr.split(\"/\");\n  const msHoje = Date.UTC(+yH, +mH - 1, +dH);\n  const msFut  = Date.UTC(+yF, +mF - 1, +dF);\n  return Math.round((msFut - msHoje) / (1000 * 60 * 60 * 24));\n}\n\nfunction deltaToCriterio(delta) {\n  if (delta <= 0) return 5;\n  if (delta <= 1) return 6;\n  if (delta <= 3) return 7;\n  if (delta <= 5) return 8;\n  if (delta <= 7) return 9;\n  return 10;\n}\n\n// --- Dados do cliente ---\nconst configCliente = $('Pega dados fixos do cliente').first().json;\n\n// --- Detecta plataformas ativas ---\nconst plataformasAtivas = [];\nconst configsPorPlataforma = {};\n\nfor (const chave of Object.keys(configCliente)) {\n  if (!chave.startsWith(\"config_postagem_\")) continue;\n  try {\n    const nomePlat = chave.replace(\"config_postagem_\", \"\");\n    const cfg = JSON.parse(configCliente[chave]);\n    if (!cfg.ativo) continue;\n    plataformasAtivas.push(nomePlat);\n    configsPorPlataforma[nomePlat] = cfg;\n  } catch (e) {}\n}\n\n// --- Carrega posts — tenta schedule, fallback para webhook ---\nlet todosOsPosts;\ntry {\n  todosOsPosts = $('Busca Todos os Posts (Histórico)').all().map(i => i.json);\n} catch (e) {\n  todosOsPosts = $('Busca Todos os Posts (Histórico)1').all().map(i => i.json);\n}\n\nconst fontesFiltradas = [\"IDEIAS\", \"RSS\"];\nconst postsFiltrados = todosOsPosts.filter(post =>\n  fontesFiltradas.includes((post.fonte || \"\").trim().toUpperCase())\n);\n\nconst hojeStr = hojeStrSaoPaulo();\nconst hojeNum = dataParaNum(hojeStr);\n\n// --- Para cada plataforma, encontra o último dia agendado ---\nconst deltas = [];\nconst detalhePorPlataforma = {};\n\nfor (const plat of plataformasAtivas) {\n  const cfg = configsPorPlataforma[plat];\n  let ultimaDataStr = null;\n  let ultimaDataNum = 0;\n\n  for (const post of postsFiltrados) {\n    const horario = parseDataHora(post[`horario_post_${plat}`]);\n    if (!horario) continue;\n\n    const dataStr = data4(horario);\n    const dataNum = dataParaNum(dataStr);\n\n    if (dataNum < hojeNum) continue;\n\n    if (dataNum > ultimaDataNum) {\n      ultimaDataStr = dataStr;\n      ultimaDataNum = dataNum;\n    }\n  }\n\n  const delta = ultimaDataStr ? deltaDias(ultimaDataStr) : 0;\n  deltas.push(delta);\n\n  detalhePorPlataforma[plat] = {\n    ultimo_dia_agendado: ultimaDataStr || \"-\",\n    delta_dias: delta,\n    posts_por_dia: cfg.posts_por_dia,\n    dias_ativos: cfg.dias_semana\n  };\n}\n\n// --- Pega o maior delta ---\nconst maiorDelta = deltas.length > 0 ? Math.max(...deltas) : 0;\nconst criterioDinamico = deltaToCriterio(maiorDelta);\n\nreturn [{\n  json: {\n    criterio_relevancia_dinamico: criterioDinamico,\n    maior_delta_dias: maiorDelta,\n    hoje: hojeStr,\n    plataformas_ativas: plataformasAtivas,\n    detalhe_por_plataforma: detalhePorPlataforma\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2032,
          208
        ],
        "id": "5d9da229-fd78-4afb-93d8-bd52512d8949",
        "name": "Calcula critério de relevância dinâmico"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c9a2cce-1e4b-4f37-9c24-91e5375e8efe",
                "leftValue": "={{ ($(\"Call 'Tools - 01 - Avaliação de contexto'\").isExecuted && $(\"Call 'Tools - 01 - Avaliação de contexto'\").first().json.nota_escolhida >= $json.criterio_relevancia_dinamico && $(\"Call 'Tools - 01 - Avaliação de contexto'\").first().json.Status === 'aprovada') || $('Variáveis do fluxo').first().json['Origem do fluxo'] === 'webhook' }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2240,
          208
        ],
        "id": "8c34a788-8fc5-48d1-a0ac-52cc4e75dff6",
        "name": "Filtro  de relevância1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "v2jA4E958uZQhm0p",
            "mode": "list",
            "cachedResultUrl": "/workflow/v2jA4E958uZQhm0p",
            "cachedResultName": "Tools - 01 - Avaliação de contexto"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "contexto": "=Titulo: {{ $('Organiza a saída da IA + Origem(schedule)').first().json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA + Origem(schedule)').first().json.Resumo }}",
              "ramo": "={{ $json.ramo }}",
              "target_audience": "={{ $json.target_audience }}",
              "keywords_context": "={{ $json.keywords_context }}",
              "criterios_relevancia": "={{ $json.criterios_relevancia }}",
              "contexto_anti_repeticao": "={{ $('Prepara Contexto Anti-Repetição').item.json.ideias_completas }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ramo",
                "displayName": "ramo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "target_audience",
                "displayName": "target_audience",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keywords_context",
                "displayName": "keywords_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "criterios_relevancia",
                "displayName": "criterios_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contexto_anti_repeticao",
                "displayName": "contexto_anti_repeticao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1712,
          32
        ],
        "id": "2b3602be-e6a6-48a8-a4c5-cc9822467ac5",
        "name": "Call 'Tools - 01 - Avaliação de contexto'"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a0c2facb-48f9-44d8-8404-0368c6f6b13d",
                "leftValue": "={{ $('Variáveis do fluxo').first().json['Origem do fluxo'] }}",
                "rightValue": "schedule",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1392,
          192
        ],
        "id": "efb554f4-e60d-4d2f-92cd-bc6d1facc6dd",
        "name": "Se origem é schedule avalia o contexto"
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "IA - Gera 1 Ideia para briefing",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Busca Todos os Posts (Histórico)": {
        "main": [
          [
            {
              "node": "Prepara Contexto Anti-Repetição",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Contexto Anti-Repetição": {
        "main": [
          [
            {
              "node": "IA - Gera 1 Ideia para briefing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 03 - Criador de Briefing'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 4 - Escritor artigo blog'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA - Gera 1 Ideia para briefing": {
        "main": [
          [
            {
              "node": "Organiza a saída da IA + Origem(schedule)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 4 - Escritor artigo blog'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 5 - Criador de legenda - Instagram'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 5 - Criador de legenda - Instagram'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 6 - Criador de legenda - Linkedin'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 6 - Criador de legenda - Linkedin'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 7 - Criador de legenda - X'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 7 - Criador de legenda - X'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 09 - Criador de legenda - Whatsapp'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 8 - Criador de imagens'": {
        "main": [
          [
            {
              "node": "Salva dados na planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pega status do cliente": {
        "main": [
          [
            {
              "node": "Consolida imagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolida imagens": {
        "main": [
          [
            {
              "node": "Call 'Tools - 9 - Aprovador'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 9 - Aprovador'": {
        "main": [
          [
            {
              "node": "Verifica os horários agendados a partir de hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salva dados na planilha": {
        "main": [
          [
            {
              "node": "Pega status do cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria array de imagens vazias": {
        "main": [
          [
            {
              "node": "Call 'Tools - 8 - Criador de imagens'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Toda dia 6h": {
        "main": [
          [
            {
              "node": "Busca Todos os Posts (Histórico)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 09 - Criador de legenda - Whatsapp'": {
        "main": [
          [
            {
              "node": "Cria array de imagens vazias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza status e atribui nota": {
        "main": [
          []
        ]
      },
      "Variáveis do fluxo": {
        "main": [
          [
            {
              "node": "Pega dados fixos do cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Busca Todos os Posts (Histórico)1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agendador": {
        "main": [
          [
            {
              "node": "Atualiza status e atribui nota",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica os horários agendados a partir de hoje": {
        "main": [
          [
            {
              "node": "Agendador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca Todos os Posts (Histórico)1": {
        "main": [
          [
            {
              "node": "Traz a ideia e horário + Origem(webhook)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organiza a saída da IA + Origem(schedule)": {
        "main": [
          [
            {
              "node": "Variáveis do fluxo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Traz a ideia e horário + Origem(webhook)": {
        "main": [
          [
            {
              "node": "Variáveis do fluxo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pega dados fixos do cliente": {
        "main": [
          [
            {
              "node": "Se origem é schedule avalia o contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcula critério de relevância dinâmico": {
        "main": [
          [
            {
              "node": "Filtro  de relevância1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro  de relevância1": {
        "main": [
          [
            {
              "node": "Call 'Tools - 03 - Criador de Briefing'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 01 - Avaliação de contexto'": {
        "main": [
          [
            {
              "node": "Calcula critério de relevância dinâmico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Se origem é schedule avalia o contexto": {
        "main": [
          [
            {
              "node": "Call 'Tools - 01 - Avaliação de contexto'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Calcula critério de relevância dinâmico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}