backup/bms---1.4---journal-ia---post-x-Dyfnq8LAJ4c9hYM8.json
{
  "updatedAt": "2026-01-09T18:37:57.869Z",
  "createdAt": "2025-11-25T10:16:06.834Z",
  "id": "Dyfnq8LAJ4c9hYM8",
  "name": "BMS - 1.4 - Journal IA - Post X",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8-20/4 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        304
      ],
      "id": "d6e81a6a-38c2-4d61-857c-748bd5f3bc1c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA",
          "mode": "list",
          "cachedResultName": "BMS - Controle Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status_X",
              "lookupValue": "aprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        32,
        304
      ],
      "id": "cc4a0b3e-5cab-43cc-8b78-ceabc40e9c21",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "jsCode": "// Garante 1 por execução (pega a primeira \"aprovado\")\nconst rows = items.map(i => i.json);\n\nconst isApproved = (v) =>\n  String(v || '').trim().toLowerCase() === 'aprovado';\n\nconst first = rows.find(r =>\n  isApproved(r.status_X) &&\n  r.noticia_id &&\n  (r.imagem_url || r.imagem) &&\n  r.legenda_x\n);\n\nif (!first) return []; // nada a postar neste horário\n\nconst out = { ...first };\nout.imagem_url = first.imagem_url || first.imagem;\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "id": "f3940a00-3979-498c-a982-3c2f3443eef6",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68b89233-2740-4afd-a95c-72ed537d12e5",
              "name": "noticia_id",
              "value": "={{ $json.noticia_id }}",
              "type": "string"
            },
            {
              "id": "225df266-bf29-4415-b04c-2750cef4506a",
              "name": "image_url",
              "type": "string",
              "value": "={{ $json.imagem_url }}"
            },
            {
              "id": "f35e3093-1bff-4cc6-a6c4-909dca314cc7",
              "name": "x_post_caption",
              "type": "string",
              "value": "={{ $json.legenda_x }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce52fd8d-ef47-4544-bb8f-ac5bec3fd4b6",
      "name": "X parametros",
      "type": "n8n-nodes-base.set",
      "position": [
        608,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA",
          "mode": "list",
          "cachedResultName": "BMS - Controle Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hqVrO3gl7qnmgBRDNh20zB_VJm7aGigjuJS4rN3S2yA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "noticia_id"
          ],
          "schema": [
            {
              "id": "noticia_id",
              "displayName": "noticia_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_processamento",
              "displayName": "data_processamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda",
              "displayName": "legenda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "param_2",
              "displayName": "param_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "param_3",
              "displayName": "param_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "param_4",
              "displayName": "param_4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem",
              "displayName": "imagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo_base64",
              "displayName": "arquivo_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo2_base64",
              "displayName": "arquivo2_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "arquivo3_base64",
              "displayName": "arquivo3_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem_url",
              "displayName": "imagem_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem_url2",
              "displayName": "imagem_url2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem_url3",
              "displayName": "imagem_url3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_WhatsApp",
              "displayName": "status_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_X",
              "displayName": "status_X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota",
              "displayName": "nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa",
              "displayName": "justificativa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_post_X",
              "displayName": "id_post_X",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2608,
        272
      ],
      "id": "30e5da82-16ad-4858-8a93-021a1af8f3a1",
      "name": "Update row in sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.data && $json.data.id }}",
              "rightValue": "PUBLISHED"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1a832ede-cf36-4d67-9110-80078637f365",
      "name": "If media status is finished",
      "type": "n8n-nodes-base.if",
      "position": [
        2160,
        288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $('X parametros').item.json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        288
      ],
      "id": "aaf0ecc8-9806-49e8-a5c1-58a0a34d909e",
      "name": "Baixar imagem1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        288
      ],
      "id": "d0c5513b-b28a-4579-bc84-445ff21a29b1",
      "name": "Wait",
      "webhookId": "d8e25052-c339-4ec0-aeca-8a1bbca7dc5d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "5dd5f9e1-d023-432b-bd47-b4609d1a1479",
      "name": "Sobe img 1 no X",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1200,
        288
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post no X da BMS falhou!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2400,
        480
      ],
      "id": "7c8a0dd5-457b-4360-b339-0ca518af630a",
      "name": "Envia log falha",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post no X da BMS deu certo!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2816,
        272
      ],
      "id": "31bc0520-b471-4a37-94b4-3d0c45498306",
      "name": "Envia log sucesso",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54fa4546-8262-4651-9b0e-ce3a2f66416f",
              "leftValue": "={{ $json.status_X }}",
              "rightValue": "aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        304
      ],
      "id": "c6efedb6-bfbb-4432-b3b8-7367b01ae8b0",
      "name": "Verifica se foi aprovada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        288
      ],
      "id": "e01b027a-18ee-4b5f-a88a-3a2c6f4b4074",
      "name": "Publica tweet"
    },
    {
      "parameters": {
        "content": "## Preparação dos dados da notícia do post",
        "height": 672,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "3299f5a5-c58d-407f-a594-a699eb4e2a77",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Prepara as imagens para publicação (sobre com API do X OAuth)",
        "height": 672,
        "width": 736,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "7e51c04e-7f2b-42c1-94ae-03d5336df7f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Publica e atualiza o status na planilha",
        "height": 672,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        0
      ],
      "id": "b718e6ea-4f3f-4450-887d-1a51c57c28cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Function Node - Versão simplificada\nconst caption = $('X parametros').item.json.x_post_caption;\n\nconst payload = {\n  text: caption,\n  media: {\n    media_ids: [\n      $('Sobe img 1 no X').item.json.media_id_string\n    ].filter(id => id) // Remove valores null/undefined\n  }\n};\n\n// Validação básica\nif (!payload.text) throw new Error('Texto é obrigatório');\nif (payload.media.media_ids.length === 0) throw new Error('Mídias são obrigatórias');\n\nreturn payload;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        288
      ],
      "id": "3816ef25-d552-4620-864c-864b0c1820ee",
      "name": "Prepara o JSON do Body do Call da API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c98e3a-ba6b-4df7-a0c9-96994c91a690",
              "name": "noticia_id",
              "value": "={{ $('X parametros').item.json.noticia_id }}",
              "type": "string"
            },
            {
              "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
              "name": "status_X",
              "value": "postado",
              "type": "string"
            },
            {
              "id": "245cbbdb-1d81-4613-ba00-aaf418c51157",
              "name": "id_post_X",
              "value": "={{ $json.data.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        272
      ],
      "id": "bbd54a63-92b6-4351-990d-ed038b28e218",
      "name": "Prepara os dados para atualizar a planilha"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Verifica se foi aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X parametros": {
      "main": [
        [
          {
            "node": "Baixar imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Envia log sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If media status is finished": {
      "main": [
        [
          {
            "node": "Prepara os dados para atualizar a planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia log falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar imagem1": {
      "main": [
        [
          {
            "node": "Sobe img 1 no X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Prepara o JSON do Body do Call da API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobe img 1 no X": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se foi aprovada": {
      "main": [
        [
          {
            "node": "X parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publica tweet": {
      "main": [
        [
          {
            "node": "If media status is finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o JSON do Body do Call da API": {
      "main": [
        [
          {
            "node": "Publica tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara os dados para atualizar a planilha": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba2dcc00-124e-4dbc-8eb2-f47e43d62601",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T10:16:06.834Z",
      "createdAt": "2025-11-25T10:16:06.834Z",
      "role": "workflow:owner",
      "workflowId": "Dyfnq8LAJ4c9hYM8",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}