backup/bms---6.1.3---atualizar-status-participante-MjZqUyC8DbWGpoPb.json
{
  "updatedAt": "2026-04-01T17:26:38.652Z",
  "createdAt": "2026-03-25T15:55:31.708Z",
  "id": "MjZqUyC8DbWGpoPb",
  "name": "BMS - 6.1.3 - Atualizar status participante",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "status"
            },
            {
              "name": "telefone"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "event_guests",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        352
      ],
      "id": "9b71213c-141b-462e-906e-14db4213408d",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Inputs esperados do n8n (ajuste os nomes dos campos conforme seu workflow)\nconst telefone = $('When Executed by Another Workflow').first().json.telefone; // quem aprovou/reprovou\nconst guestId = $input.first().json.id;\nconst newStatus = $('When Executed by Another Workflow').first().json.status; // \"approved\" ou \"rejected\"\nconst previousStatus = \"enrolled\";\nconst eventId = $input.first().json.event_id || null;\n\n// Mapa telefone → nome\nconst phoneToName = {\n  \"5521992081015\": \"Luciana\",\n  \"5511975055969\": \"Lucas Perito\",\n  \"5511992913606\": \"Sheila\",\n  \"5511994220172\": \"Laércio\",\n  \"5511992486507\": \"Lucas - Super Admin\",\n  \"5534992150692\": \"Taysa\",\n  \"5521981121355\": \"Rubens\"\n};\n\nconst changedByName = phoneToName[telefone] || `Desconhecido (${telefone})`;\n\n// Montar query\nconst query = `\nINSERT INTO public.event_guest_status_history (\n  guest_id,\n  event_id,\n  previous_status,\n  new_status,\n  changed_by_name,\n  source\n) VALUES (\n  '${guestId}',\n  ${eventId ? `'${eventId}'` : 'NULL'},\n  ${previousStatus ? `'${previousStatus}'` : 'NULL'},\n  '${newStatus}',\n  '${changedByName}',\n  'manual'\n);\n`;\n\nreturn [{ json: { query: query.trim(), changed_by_name: changedByName } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        352
      ],
      "id": "c29c7909-b2a9-4ff6-897c-12cdf6321b91",
      "name": "Monta Query que atualiza o registro de mudança do status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        352
      ],
      "id": "8308a2fe-d9b4-4c51-b533-1bbe5bb8a066",
      "name": "Registra o historico de alteração",
      "credentials": {
        "postgres": {
          "id": "F5GuYkVQ5eWZE44i",
          "name": "BMS-Postgres"
        }
      }
    },
    {
      "parameters": {
        "content": "## Atualiza status do participante e registra a origem da alteração para controle",
        "height": 320,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "1758550b-5a48-4897-8d0a-0cedd1c12fcb",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Monta Query que atualiza o registro de mudança do status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Query que atualiza o registro de mudança do status": {
      "main": [
        [
          {
            "node": "Registra o historico de alteração",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "7478a8e6-1160-46b2-94fb-780b4111545a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T15:55:31.708Z",
      "createdAt": "2026-03-25T15:55:31.708Z",
      "role": "workflow:owner",
      "workflowId": "MjZqUyC8DbWGpoPb",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}