backup/bms---9.3---limpar-drive-ZLXYYYdzE2LjdpSs.json
{"createdAt":"2025-11-03T17:45:28.260Z","updatedAt":"2025-11-03T18:25:43.731Z","id":"ZLXYYYdzE2LjdpSs","name":"BMS - 9.3 - Limpar Drive","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,384],"id":"2e5fdeb3-5a66-4934-8b99-b2bb651da22c","name":"Schedule Trigger1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,384],"id":"8711d460-2374-4d99-8141-6d058d7ee89b","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32581fe4-aa4b-410a-986c-aec0ffa7ece3","leftValue":"={{ $json.createdTime }}","rightValue":"={{ $now.minus({ weeks: 2 }) }}","operator":{"type":"dateTime","operation":"beforeOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[560,400],"id":"a130450f-1929-4b08-988b-c70a7a2d8487","name":"Verifica se o arquivo está a mais de uma semana no repositório"},{"parameters":{"content":"## Fluxo que apaga arquivos que estão a mais de uma semana no Drive\n(para as imagens das notícias)","height":400,"width":1264,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,256],"id":"e8efaa51-3e55-473a-b0cb-7f0bc1916e9c","name":"Sticky Note"},{"parameters":{"resource":"fileFolder","queryString":"*","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1btcyzEyzQ3TjSTJPspe7VncrTXwat-EX","mode":"list","cachedResultName":"BMS - base64","cachedResultUrl":"https://drive.google.com/drive/folders/1btcyzEyzQ3TjSTJPspe7VncrTXwat-EX"}},"options":{"fields":["*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,384],"id":"e66b690c-1993-411c-93d0-770d4035187b","name":"Search files and folders","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[800,384],"id":"e635c14e-f02d-4b12-8501-492f16119fdd","name":"Delete a file1","executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}}],"connections":{"Schedule Trigger1":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Verifica se o arquivo está a mais de uma semana no repositório","type":"main","index":0}]]},"Verifica se o arquivo está a mais de uma semana no repositório":{"main":[[{"node":"Delete a file1","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete a file1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"GbORhS24Rzw7hHlt"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d5c09bbe-b295-4995-9685-746449abe746","triggerCount":1,"tags":[]}