backup/bms---6.2.7---clima-8oWqkKiX2FiRKmu1.json
{
  "updatedAt": "2026-04-01T17:25:22.749Z",
  "createdAt": "2026-03-16T22:25:06.159Z",
  "id": "8oWqkKiX2FiRKmu1",
  "name": "BMS - 6.2.7 - Clima",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "endereco"
            },
            {
              "name": "start_date"
            },
            {
              "name": "end_date"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "url": "https://maps.googleapis.com/maps/api/geocode/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "address",
              "value": "={{ $json.endereco }}"
            },
            {
              "name": "key",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        352
      ],
      "id": "cd6ea9d4-2a5b-4ee5-9ba9-ad97d6d9c588",
      "name": "Converter Endereço em Latitude/Longitude"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ $json.results[0].geometry.location?.lat || $json.results[0].geometry.bounds?.northeast?.lat }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.results[0].geometry.location?.lng || $json.results[0].geometry.bounds?.northeast?.lng }}"
            },
            {
              "name": "daily",
              "value": "weathercode,temperature_2m_max,temperature_2m_min,precipitation_sum,precipitation_probability_max"
            },
            {
              "name": "timezone",
              "value": "America/Sao_Paulo"
            },
            {
              "name": "start_date",
              "value": "={{ $('When Executed by Another Workflow').item.json.start_date }}"
            },
            {
              "name": "end_date",
              "value": "={{ $('When Executed by Another Workflow').item.json.end_date }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        352
      ],
      "id": "f0efd944-12b3-4fc3-ad73-df3f6201d1d0",
      "name": "API open-meteo"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Converter Endereço em Latitude/Longitude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Endereço em Latitude/Longitude": {
      "main": [
        [
          {
            "node": "API open-meteo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "744baa16-e325-4f9e-9844-6df7c2e0b52b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-16T22:25:06.159Z",
      "createdAt": "2026-03-16T22:25:06.159Z",
      "role": "workflow:owner",
      "workflowId": "8oWqkKiX2FiRKmu1",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}