backup/emi---1.2---social-media-ia---ideias-da-ia-wxFdOGEfxfmjRkTM.json
{
  "updatedAt": "2026-03-09T17:18:01.203Z",
  "createdAt": "2026-01-11T23:05:46.754Z",
  "id": "wxFdOGEfxfmjRkTM",
  "name": "EMI - 1.2 - Social Media IA - Ideias da IA",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        608,
        304
      ],
      "id": "76c30e64-3dce-427d-ae43-36487c1b31ea",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "EMI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        112
      ],
      "id": "543ee399-beb7-4989-abae-b3e798794d3c",
      "name": "Busca Todos os Posts (Histórico)",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os itens do Google Sheets\nconst items = $input.all();\n\n// Filtra e extrai apenas Titulo que não está vazio\nconst ideiasAnteriores = items\n  .filter(item => item.json.titulo) // filtra apenas se tiver Titulo\n  .map(item => ({\n    titulo: item.json.titulo // pega apenas o titulo\n  }));\n\n// Retorna apenas total de ideias anteriores e ideias completas (somente títulos)\nreturn [{\n  json: {\n    total_ideias_anteriores: ideiasAnteriores.length,\n    ideias_completas: ideiasAnteriores\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        112
      ],
      "id": "7a53fd69-7405-4cd2-9fa6-ee200f600a99",
      "name": "Prepara Contexto Anti-Repetição"
    },
    {
      "parameters": {
        "content": "## Cria Ideais de posts sobre IA.",
        "height": 544,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -96
      ],
      "typeVersion": 1,
      "id": "80dd9072-17ce-48b9-abe7-998f9334149b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        -304
      ],
      "typeVersion": 1,
      "id": "299c9473-37ac-478f-9a21-e94c31606957",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3GNG4rQe7hv7W5AE",
          "mode": "list",
          "cachedResultUrl": "/workflow/3GNG4rQe7hv7W5AE",
          "cachedResultName": "Tools - 03 - Criador de Briefing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto": "=Título:  {{ $('Organiza a saída da IA').first().json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA').first().json.Resumo }}",
            "ramo": "={{ $('Pega dados fixos do cliente').first().json.ramo }}",
            "target_audience": "={{ $('Pega dados fixos do cliente').first().json.target_audience }}",
            "keywords_context": "={{ $('Pega dados fixos do cliente').first().json.keywords_context }}",
            "criterios_relevancia": "={{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ramo",
              "displayName": "ramo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords_context",
              "displayName": "keywords_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "criterios_relevancia",
              "displayName": "criterios_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        -224
      ],
      "id": "66018482-5200-4c72-bcf3-abc7d77204a7",
      "name": "Call 'Tools - 03 - Criador de Briefing'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto Temporal\n\nDia Atual: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\nAno de Referência: 2026\n\n# GERADOR DE IDEIAS EDITORIAL — MERCADO IMOBILIÁRIO\n\n## IDENTIDADE\nVocê é um estrategista editorial sênior com 15 anos de experiência em conteúdo B2B sobre mercado imobiliário. Já trabalhou com as maiores publicações do setor (nível Rock Content, RD Station, Neil Patel Brasil). Seu padrão é alto — você rejeita o óbvio por princípio e só aprova ideias que genuinamente surpreendem ou provocam reflexão.\n\n## MISSÃO\nExecutar em sequência, sem pular etapas:\n\nETAPA 1 — Análise do histórico para garantir originalidade absoluta\nETAPA 2 — Geração de 10 ideias únicas e diversificadas\nETAPA 3 — Seleção da melhor ideia para o público do mercado imobiliário\n\n## ETAPA 1 — HISTÓRICO (LEITURA OBRIGATÓRIA)\nAnalise cada título abaixo antes de gerar qualquer ideia. Nenhuma das 10 ideias pode repetir tema, ângulo ou abordagem já explorada:\n\n{{ JSON.stringify($items().map(i => i.json.ideias_completas), null, 2) }}\n\n## ETAPA 2 — GERAÇÃO DAS 10 IDEIAS\nGere 10 ideias completamente distintas entre si — sem repetir setor, ângulo ou formato entre elas.\n\nÂNGULOS QUE FUNCIONAM:\n- Contraintuitivos ou controversos sobre compra, venda ou investimento\n- Tensões reais entre compradores, vendedores e corretores\n- Nichos específicos (comercial, residencial, rural, luxo, econômico)\n- Paradoxos do mercado imobiliário\n- Insights surpreendentes sobre valorização, locação ou negociação\n- Análises regionais ou de bairros específicos\n- Impactos de legislação, crédito e economia\n- ROI real, números concretos, casos que chocam\n\nPROIBIDO:\n- \"Como investir em imóveis em 2026\"\n- \"X tendências do mercado imobiliário\"\n- Títulos genéricos sobre valorização\n- Repetir ângulo ou nicho entre as 10 ideias\n\n## ETAPA 3 — SELEÇÃO\nAnalise as 10 ideias geradas e escolha a que melhor combina:\n- Originalidade genuína — foge do óbvio, surpreende quem lê sobre mercado imobiliário todo dia\n- Relevância prática — gera valor real para investidores, corretores, compradores e incorporadoras\n- Potencial de engajamento — o título prende, provoca curiosidade ou debate imediato\n- Especificidade — tema delimitado, não genérico\n\nSempre escolha a melhor entre as 10 e marque como \"aprovada\". Mesmo que nenhuma seja perfeita, a mais forte do grupo sempre deve ser aprovada.\n\n## SAÍDA OBRIGATÓRIA\nRetorne APENAS o JSON abaixo, válido, sem nenhum texto antes ou depois, sem markdown:\n\n{\n  \"Título\": \"título da melhor ideia\",\n  \"Resumo\": \"resumo da melhor ideia em 2-4 frases\",\n  \"Status\": \"aprovada\",\n  \"todas_as_ideias\": [\n    {\n      \"posicao\": 1,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": true\n    },\n    {\n      \"posicao\": 2,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": false\n    }\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        112
      ],
      "id": "527152a9-ff4c-4074-8d7e-289973a97cd2",
      "name": "IA - Gera 1 Ideia para briefing"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.all();\nconst primeiroItem = dados[0].json;\nlet jsonParsed;\n\nif (primeiroItem.output) {\n  let textoLimpo = primeiroItem.output\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n  try {\n    jsonParsed = JSON.parse(textoLimpo);\n  } catch (error) {\n    throw new Error('Erro ao fazer JSON.parse. Conteúdo inválido: ' + error.message);\n  }\n} else {\n  jsonParsed = primeiroItem;\n}\n\nreturn [\n  {\n    json: {\n      Título: jsonParsed.Título ? jsonParsed.Título.trim() : '',\n      Resumo: jsonParsed.Resumo ? jsonParsed.Resumo.trim() : '',\n      todas_as_ideias: jsonParsed.todas_as_ideias || []\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        112
      ],
      "id": "813bd959-cd87-4919-bc93-10eb77755a13",
      "name": "Organiza a saída da IA"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        16
      ],
      "typeVersion": 1,
      "id": "bb39ee26-40f2-4aef-b15d-c91681634a7a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        336
      ],
      "typeVersion": 1,
      "id": "944910a8-00d6-4bf9-8a33-64a32d7c71f4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -304
      ],
      "typeVersion": 1,
      "id": "6e2e7335-5a84-48be-9cb1-e99bbeac8a4f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        16
      ],
      "typeVersion": 1,
      "id": "3f065f5c-8113-4930-850e-457a2b864589",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yx9XT5wkzSw2oBtD",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yx9XT5wkzSw2oBtD",
          "cachedResultName": "Tools - 04 - Escritor artigo blog"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "briefing": "={{ $json.briefing }}",
            "titulo": "={{ $json.titulo }}",
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        96
      ],
      "id": "8205f0b1-df5b-4aa3-9ec7-d1bc83bf0690",
      "name": "Call 'Tools - 4 - Escritor artigo blog'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LBOIqjET0jkwGgeX",
          "mode": "list",
          "cachedResultUrl": "/workflow/LBOIqjET0jkwGgeX",
          "cachedResultName": "Tools - 05 - Criador de legenda - Instagram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $json.artigo_completo }}",
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }} \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }} \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }} \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [
            "artigo"
          ],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2272,
        416
      ],
      "id": "6561cbbe-428d-48e2-8aae-4af29bf59f15",
      "name": "Call 'Tools - 5 - Criador de legenda - Instagram'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oHicWXWOlTUM1fzj",
          "mode": "list",
          "cachedResultUrl": "/workflow/oHicWXWOlTUM1fzj",
          "cachedResultName": "Tools - 06 - Criador de legenda - Linkedin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}  \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}  \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}  \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}  \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        -224
      ],
      "id": "4fb66853-4963-4d93-852a-236c9abca158",
      "name": "Call 'Tools - 6 - Criador de legenda - Linkedin'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RywjAC1k0dLdH44a",
          "mode": "list",
          "cachedResultUrl": "/workflow/RywjAC1k0dLdH44a",
          "cachedResultName": "Tools - 07 - Criador de legenda - X"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}   \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}   \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}   \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}   \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        96
      ],
      "id": "25efbae3-79c4-4b87-959b-244034acad9f",
      "name": "Call 'Tools - 7 - Criador de legenda - X'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EC0p1VUlLsTeIg3h",
          "mode": "list",
          "cachedResultUrl": "/workflow/EC0p1VUlLsTeIg3h",
          "cachedResultName": "Tools - 08 - Criador de imagens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "template": "template2",
            "imagens": "={{ $json.imagens }}",
            "logo_empresa": "={{ $('Pega dados fixos do cliente').first().json.logo_empresa }}",
            "empresa": "={{ $('Pega dados fixos do cliente').first().json.cliente }}",
            "usa_blog": "=não"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "logo_empresa",
              "displayName": "logo_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imagens",
              "displayName": "imagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "template",
              "displayName": "template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usa_blog",
              "displayName": "usa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3168,
        96
      ],
      "id": "6df16a2d-7285-4fa9-a706-a6669e93d0e1",
      "name": "Call 'Tools - 8 - Criador de imagens'"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        16
      ],
      "typeVersion": 1,
      "id": "871f0693-60be-4f2f-bfd5-e6e5963290e3",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "EMI"
            },
            {
              "lookupColumn": "status_blog",
              "lookupValue": "aguardando"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3632,
        96
      ],
      "id": "1777646d-b542-41e1-9853-7f571230b9a7",
      "name": "Pega status do cliente",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Processa cada item do array de entrada\nreturn $input.all().map(item => {\n  // Cria array para armazenar as imagens\n  const imagens = [];\n  \n  // Itera enquanto encontrar imagens (não limita a quantidade)\n  let i = 1;\n  while (item.json[`imagem${i}_url`]) {\n    const imagemUrl = item.json[`imagem${i}_url`];\n    \n    // Adiciona a URL no array se existir\n    if (imagemUrl) {\n      imagens.push(imagemUrl);\n    }\n    \n    i++;\n  }\n  \n  // Retorna o array de URLs\n  return {\n    json: {\n      imagens: imagens\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        96
      ],
      "id": "8ab152b1-6a7e-4c09-8be4-1e23d27d0d37",
      "name": "Consolida imagens"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "87SrvvuSwYMQx795",
          "mode": "list",
          "cachedResultUrl": "/workflow/87SrvvuSwYMQx795",
          "cachedResultName": "Tools - 10 - Aprovador"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
            "posts": "={{\n  {\n    \"blog\": {\n      \"texto\": $('Call \\'Tools - 4 - Escritor artigo blog\\'').item.json.artigo_completo,\n      \"imagem_blog\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"instagram\": {\n      \"legenda_instagram\": $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').item.json.legenda_instagram,\n      \"imagem_instagram\": $('Consolida imagens').item.json.imagens\n    },\n    \"linkedin\": {\n      \"legenda_linkedin\": $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').item.json.legenda_linkedin,\n      \"imagem_linkedin\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"x\": {\n      \"legenda_x\": $('Call \\'Tools - 7 - Criador de legenda - X\\'').item.json.legenda_x,\n      \"imagem_x\": $('Consolida imagens').item.json.imagens[0]\n    },\n      \"whatsapp\": {\n        \"legenda_whatsapp\": $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').item.json.legenda_whatsapp,\n        \"imagem_whatsapp\": $('Consolida imagens').item.json.imagens[0]\n      }\n  }\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "posts",
              "displayName": "posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4096,
        96
      ],
      "id": "c380c884-c8d0-4c82-bf0c-a64793162b3e",
      "name": "Call 'Tools - 9 - Aprovador'"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        16
      ],
      "typeVersion": 1,
      "id": "9e048a79-6bca-4382-a536-92443eccd714",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fonte": "IDEIAS",
            "id_post": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.id_post }}",
            "titulo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.titulo }}",
            "briefing": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.briefing }}",
            "status_blog": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.status }}",
            "artigo_blog": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "legenda_instagram": "={{ $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').first().json.legenda_instagram }}",
            "legenda_linkedin": "={{ $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').first().json.legenda_linkedin }}",
            "legenda_x": "={{ $('Call \\'Tools - 7 - Criador de legenda - X\\'').first().json.legenda_x }}",
            "status_instagram": "aguardando",
            "status_linkedin": "aguardando",
            "status_x": "aguardando",
            "imagem1_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem1_url }}",
            "imagem2_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem2_url }}",
            "imagem3_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem3_url }}",
            "imagem4_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem4_url }}",
            "imagem5_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem5_url }}",
            "imagem6_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem6_url }}",
            "cliente": "EMI",
            "status_whatsapp": "aguardando",
            "legenda_whatsapp": "={{ $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').first().json.legenda_whatsapp }}",
            "imagem_blog_url": "-",
            "data_criacao": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.data_criacao }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3440,
        96
      ],
      "id": "137d72aa-5114-468e-80fc-fdbf4f6f6e28",
      "name": "Salva dados na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $('Pega status do cliente').first().json.id_post }}",
            "status_blog": "-",
            "status_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.status }}",
            "status_linkedin": "-",
            "status_x": "-",
            "justificativa_blog": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.blog.justificativa_curta }}",
            "justificativa_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.justificativa_curta }}",
            "justificativa_linkedin": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.linkedin.justificativa_curta }}",
            "justificativa_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.justificativa_curta }}",
            "status_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.status }}",
            "justificativa_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.justificativa_curta }}",
            "horario_post_blog": "={{ $json.horario_post_blog }}",
            "horario_post_instagram": "={{ $json.horario_post_instagram }}",
            "horario_post_linkedin": "={{ $json.horario_post_linkedin }}",
            "horario_post_whatsapp": "={{ $json.horario_post_whatsapp }}",
            "horario_post_x": "={{ $json.horario_post_x }}",
            "nota_relevancia": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').first().json.nota }}",
            "nota_aprovador": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.nota_final_geral }}",
            "nota_criterio": "={{ $('Calcula critério de relevância dinâmico').first().json.criterio_relevancia_dinamico }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4752,
        96
      ],
      "id": "d7e63350-3e31-4132-a8d5-227b3cc9e2e0",
      "name": "Atualiza status e atribui nota",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      imagens: [\n        {\n          imagens: [\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" }\n          ]\n        }\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        96
      ],
      "id": "deef56ca-29dd-4550-8e9b-cdef14ed2e1a",
      "name": "Cria array de imagens vazias"
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        336
      ],
      "typeVersion": 1,
      "id": "43937b0f-5362-4702-970d-7948d323e377",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vfwBhgm7Qf17IHVn",
          "mode": "list",
          "cachedResultUrl": "/workflow/vfwBhgm7Qf17IHVn",
          "cachedResultName": "Tools - 09 - Criador de legenda - Whatsapp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
            "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}   \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}   \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}   \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}   \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "artigo",
              "displayName": "artigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "dados_empresa",
              "displayName": "dados_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2576,
        416
      ],
      "id": "06df3bfd-4ecd-4b3d-8507-972bab095f02",
      "name": "Call 'Tools - 09 - Criador de legenda - Whatsapp'"
    },
    {
      "parameters": {
        "content": "# Legendas",
        "height": 1104,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2128,
        -416
      ],
      "typeVersion": 1,
      "id": "83742bfc-a433-4e15-9278-c423286a039e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "cadastro_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "cliente",
              "lookupValue": "EMI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        112
      ],
      "id": "feecae65-9ee1-40af-b3e6-3fb72ac9058b",
      "name": "Pega dados fixos do cliente",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        112
      ],
      "id": "a34e8984-4ad2-49bb-b2b9-376c835d3089",
      "name": "Toda dia 6:10h"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CALCULA CRITÉRIO DE RELEVÂNCIA DINÂMICO (BASEADO EM DELTA)\n//\n// Objetivo: Para cada plataforma ativa, encontrar o último\n// dia que já tem post agendado e calcular quantos dias faltam\n// entre hoje e esse dia (delta). O MAIOR delta entre todas as\n// plataformas define o critério mínimo de nota para aprovar\n// uma notícia.\n//\n// Lógica: se qualquer plataforma estiver com a agenda cheia\n// lá na frente, o critério sobe para evitar acúmulo em todas.\n//\n// Se uma plataforma não tiver nenhum post agendado a partir\n// de hoje, seu delta é 0 — agenda vazia, critério baixo.\n//\n// Lógica central (maior delta entre as plataformas):\n//   0 dias  → critério 5\n//   1 dia   → critério 6\n//   2-3     → critério 7\n//   4-5     → critério 8\n//   6-7     → critério 9\n//   8+      → critério 10\n// ============================================================\n\n// --- Funções auxiliares ---\n\n// Converte string \"DD/MM/YYYY HH:mm\" em objeto Date (apenas a data, usando UTC)\n// Usa Date.UTC para evitar problemas de timezone — só a data importa para o critério\n// Retorna null se inválido ou ausente\nfunction parseDataHora(str) {\n  if (!str || str === \"-\") return null;\n  const parts = str.trim().split(\" \");\n  if (parts.length < 1) return null;\n  const datePart = parts[0]; // ignora a hora — para o critério só a data importa\n  const [d, m, y] = datePart.split(\"/\");\n  if (!d || !m || !y) return null;\n  const ms = Date.UTC(+y, +m - 1, +d, 0, 0, 0, 0);\n  return isNaN(ms) ? null : new Date(ms);\n}\n\n// Converte Date em string \"DD/MM/YYYY\"\n// Usa getUTC* porque as datas são criadas com Date.UTC\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\n// Retorna a data de hoje no fuso de São Paulo (UTC-3) como string \"DD/MM/YYYY\"\n// O n8n roda em UTC — precisamos converter para o fuso correto antes de comparar datas\nfunction hojeStrSaoPaulo() {\n  // Offset de São Paulo: UTC-3 (sem horário de verão desde 2019)\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\n// Converte string \"DD/MM/YYYY\" em número inteiro YYYYMMDD para comparação simples\n// Ex: \"03/03/2026\" → 20260303\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\n// Calcula delta em dias entre hoje (SP) e uma data futura (string \"DD/MM/YYYY\")\n// Usa Date.UTC para aritmética pura de dias sem influência de DST ou timezone\n// Retorna 0 se a data for hoje ou no passado\nfunction deltaDias(dataFuturaStr) {\n  const hojeStr = hojeStrSaoPaulo();\n  if (dataParaNum(dataFuturaStr) <= dataParaNum(hojeStr)) return 0;\n  const [dH, mH, yH] = hojeStr.split(\"/\");\n  const [dF, mF, yF] = dataFuturaStr.split(\"/\");\n  const msHoje = Date.UTC(+yH, +mH - 1, +dH);\n  const msFut  = Date.UTC(+yF, +mF - 1, +dF);\n  return Math.round((msFut - msHoje) / (1000 * 60 * 60 * 24));\n}\n\n// Mapeia o maior delta → critério de relevância\nfunction deltaToCriterio(delta) {\n  if (delta <= 0) return 5;\n  if (delta <= 1) return 6;\n  if (delta <= 3) return 7;\n  if (delta <= 5) return 8;\n  if (delta <= 7) return 9;\n  return 10; // 8+ dias\n}\n\n// -------------------------------------------------------\n\n// --- Dados do cliente ---\nconst configCliente = $('Pega dados fixos do cliente').first().json;\n\n// --- Detecta plataformas ativas dinamicamente ---\n// Lê todas as chaves \"config_postagem_*\" e filtra as com \"ativo: true\"\nconst plataformasAtivas = [];\nconst configsPorPlataforma = {};\n\nfor (const chave of Object.keys(configCliente)) {\n  if (!chave.startsWith(\"config_postagem_\")) continue;\n\n  try {\n    const nomePlat = chave.replace(\"config_postagem_\", \"\");\n    const cfg = JSON.parse(configCliente[chave]);\n\n    if (!cfg.ativo) continue;\n\n    plataformasAtivas.push(nomePlat);\n    configsPorPlataforma[nomePlat] = cfg;\n  } catch (e) {\n    // JSON mal formatado, ignora silenciosamente\n  }\n}\n\n// --- Carrega posts agendados filtrados por fonte ---\n// Apenas IDEIAS e RSS consomem slots de agendamento.\n// RESUMO SEMANAL e outras fontes não são contabilizadas.\nconst fontesFiltradas = [\"IDEIAS\", \"RSS\"];\nconst todosOsPosts = $('Busca Todos os Posts (Histórico)').all().map(i => i.json);\nconst postsFiltrados = todosOsPosts.filter(post =>\n  fontesFiltradas.includes((post.fonte || \"\").trim().toUpperCase())\n);\n\n// Hoje em São Paulo como string \"DD/MM/YYYY\" e como número para comparação\nconst hojeStr = hojeStrSaoPaulo();\nconst hojeNum = dataParaNum(hojeStr);\n\n// --- Para cada plataforma ativa, encontra o último dia agendado ---\n// Varre todos os posts filtrados, pega os horários de cada plataforma\n// e identifica a data mais distante a partir de hoje (inclusive).\n//\n// Delta = dias entre hoje e esse último dia agendado.\n// Se não houver nenhum post agendado a partir de hoje → delta = 0.\n\nconst deltas = [];\nconst detalhePorPlataforma = {};\n\nfor (const plat of plataformasAtivas) {\n  const cfg = configsPorPlataforma[plat];\n  let ultimaDataStr = null; // string \"DD/MM/YYYY\" do post mais distante nessa plataforma\n  let ultimaDataNum = 0;    // número YYYYMMDD para comparação rápida\n\n  for (const post of postsFiltrados) {\n    const horario = parseDataHora(post[`horario_post_${plat}`]);\n    if (!horario) continue;\n\n    // Converte para string no mesmo formato para comparação consistente\n    const dataStr = data4(horario);\n    const dataNum = dataParaNum(dataStr);\n\n    // Ignora posts no passado — só conta a partir de hoje inclusive\n    if (dataNum < hojeNum) continue;\n\n    // Guarda a data mais distante encontrada\n    if (dataNum > ultimaDataNum) {\n      ultimaDataStr = dataStr;\n      ultimaDataNum = dataNum;\n    }\n  }\n\n  const delta = ultimaDataStr ? deltaDias(ultimaDataStr) : 0;\n  deltas.push(delta);\n\n  detalhePorPlataforma[plat] = {\n    ultimo_dia_agendado: ultimaDataStr || \"-\", // ex: 07/03/2026\n    delta_dias: delta,                          // ex: 5\n    posts_por_dia: cfg.posts_por_dia,\n    dias_ativos: cfg.dias_semana\n  };\n}\n\n// --- Pega o maior delta entre todas as plataformas ativas ---\n// Se qualquer plataforma estiver com agenda cheia lá na frente,\n// o critério sobe para proteger todas as plataformas de acúmulo.\nconst maiorDelta = deltas.length > 0 ? Math.max(...deltas) : 0;\n\n// --- Define o critério dinâmico com base no maior delta ---\nconst criterioDinamico = deltaToCriterio(maiorDelta);\n\n// --- Retorna o resultado para uso no nó IF ---\nreturn [{\n  json: {\n    criterio_relevancia_dinamico: criterioDinamico,   // valor usado no nó IF\n    maior_delta_dias: maiorDelta,                     // ex: 5 — plataforma mais cheia\n    hoje: hojeStr,                                    // ex: 02/03/2026 — confirma fuso SP\n    plataformas_ativas: plataformasAtivas,            // ex: [\"instagram\", \"x\", ...]\n    detalhe_por_plataforma: detalhePorPlataforma      // breakdown completo por plataforma\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        112
      ],
      "id": "08cb0439-0cf0-45f3-a0ee-c4d2e7aaf2c2",
      "name": "Calcula critério de relevância dinâmico"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c9a2cce-1e4b-4f37-9c24-91e5375e8efe",
              "leftValue": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').item.json.nota }}",
              "rightValue": "={{ $json.criterio_relevancia_dinamico }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "2f9365ba-fceb-47a7-8fdd-f3e85490f0cf",
              "leftValue": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').item.json.status }}",
              "rightValue": "aprovada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        112
      ],
      "id": "6efdf821-e02e-4237-b7b2-815077cec5b0",
      "name": "Filtro  de relevância1"
    },
    {
      "parameters": {
        "jsCode": "// ======================================\n// AGENDADOR INTELIGENTE\n// ======================================\n// Busca o próximo slot livre para cada plataforma aprovada,\n// sem limite de semana — olha para frente.\n// Usa fuso de São Paulo (UTC-3).\n// ======================================\n\nconst mapa = $input.first().json.mapa_ocupados || {};\nconst fixo = $items(\"Pega dados fixos do cliente\")[0].json;\nconst aprovador = $items(\"Call 'Tools - 9 - Aprovador'\")[0].json;\n\nfunction parseCfg(str) {\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction hojeBaseSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  return new Date(Date.UTC(\n    agoraSP.getUTCFullYear(),\n    agoraSP.getUTCMonth(),\n    agoraSP.getUTCDate(),\n    0, 0, 0, 0\n  ));\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction formatar(dt, hora) {\n  const d = new Date(dt);\n  const [hh, mm] = hora.split(\":\");\n  const comHora = new Date(Date.UTC(\n    d.getUTCFullYear(),\n    d.getUTCMonth(),\n    d.getUTCDate(),\n    +hh, +mm, 0, 0\n  ));\n  const dd = String(comHora.getUTCDate()).padStart(2, \"0\");\n  const MM = String(comHora.getUTCMonth() + 1).padStart(2, \"0\");\n  const yy = comHora.getUTCFullYear();\n  const HH = String(comHora.getUTCHours()).padStart(2, \"0\");\n  const mm2 = String(comHora.getUTCMinutes()).padStart(2, \"0\");\n  return `${dd}/${MM}/${yy} ${HH}:${mm2}`;\n}\n\nfunction proximoDia(dt) {\n  return new Date(dt.getTime() + 24 * 60 * 60 * 1000);\n}\n\nconst dias = [\"dom\", \"seg\", \"ter\", \"qua\", \"qui\", \"sex\", \"sab\"];\n\nconst plataformas = Object.keys(fixo)\n  .filter(k => k.startsWith(\"config_postagem_\"))\n  .map(k => k.replace(\"config_postagem_\", \"\"));\n\nconst retorno = {};\nfor (const p of plataformas) {\n  retorno[`horario_post_${p}`] = \"-\";\n}\n\nfor (const p of plataformas) {\n  const statusPlataforma = aprovador?.[p]?.status;\n  if (statusPlataforma !== \"aprovado\") continue;\n\n  const cfg = parseCfg(fixo[`config_postagem_${p}`]);\n  if (!cfg || !cfg.ativo) continue;\n  if (!Array.isArray(cfg.horarios)) continue;\n  if (!Array.isArray(cfg.dias_semana)) continue;\n  if (!cfg.posts_por_dia || cfg.posts_por_dia < 1) continue;\n\n  let d = hojeBaseSP();\n  let agendado = false;\n\n  for (let tentativa = 0; tentativa < 90 && !agendado; tentativa++) {\n    const dia = dias[d.getUTCDay()];\n    const dataStr = data4(d);\n\n    if (cfg.dias_semana.includes(dia)) {\n      const ocupados = mapa[p]?.[dataStr] || [];\n\n      if (ocupados.length < cfg.posts_por_dia) {\n        for (const hora of cfg.horarios) {\n          if (!ocupados.includes(hora)) {\n            retorno[`horario_post_${p}`] = formatar(d, hora);\n            agendado = true;\n            break;\n          }\n        }\n      }\n    }\n\n    if (!agendado) {\n      d = proximoDia(d);\n    }\n  }\n}\n\nreturn [{ json: retorno }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        96
      ],
      "id": "f69c1b3e-dee7-4b43-b025-15a37119778d",
      "name": "Agendador",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// ========================\n// MAPA GLOBAL DE HORÁRIOS OCUPADOS\n// (a partir de hoje em diante)\n// ========================\n\nconst historico = $items(\"Busca Todos os Posts (Histórico)\").map(i => i.json);\nconst mapa = {};\n\nfunction isDataValida(d) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(d);\n}\n\nfunction isHoraValida(h) {\n  return /^\\d{2}:\\d{2}$/.test(h);\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction hojeStrSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nconst hojeNum = dataParaNum(hojeStrSP());\n\nfor (const r of historico) {\n  for (const k of Object.keys(r)) {\n    if (!k.startsWith(\"horario_post_\")) continue;\n    if (!r[k]) continue;\n\n    const plataforma = k.replace(\"horario_post_\", \"\");\n    const partes = String(r[k]).split(\" \");\n    if (partes.length !== 2) continue;\n\n    const data = partes[0];\n    const hora = partes[1];\n\n    if (!isDataValida(data)) continue;\n    if (!isHoraValida(hora)) continue;\n    if (dataParaNum(data) < hojeNum) continue;\n\n    if (!mapa[plataforma]) mapa[plataforma] = {};\n    if (!mapa[plataforma][data]) mapa[plataforma][data] = [];\n    if (!mapa[plataforma][data].includes(hora)) {\n      mapa[plataforma][data].push(hora);\n    }\n  }\n}\n\nreturn [{ json: { mapa_ocupados: mapa } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        96
      ],
      "id": "5e1cabbd-d380-4fa9-9e86-889dbaf351d3",
      "name": "Verifica os horários agendados a partir de hoje",
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v2jA4E958uZQhm0p",
          "mode": "list",
          "cachedResultUrl": "/workflow/v2jA4E958uZQhm0p",
          "cachedResultName": "Tools - 01 - Avaliação de contexto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto": "=Titulo: {{ $('Organiza a saída da IA').item.json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA').item.json.Resumo }}",
            "ramo": "={{ $json.ramo }}",
            "target_audience": "={{ $json.target_audience }}",
            "keywords_context": "={{ $json.keywords_context }}",
            "criterios_relevancia": "={{ $json.criterios_relevancia }}",
            "contexto_anti_repeticao": "={{ $('Prepara Contexto Anti-Repetição').item.json.ideias_completas }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contexto",
              "displayName": "contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ramo",
              "displayName": "ramo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keywords_context",
              "displayName": "keywords_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "criterios_relevancia",
              "displayName": "criterios_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contexto_anti_repeticao",
              "displayName": "contexto_anti_repeticao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        112
      ],
      "id": "66390d9c-7c14-4e46-a982-d190eab419f7",
      "name": "Call 'Tools - 01 - Avaliação de contexto'"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA - Gera 1 Ideia para briefing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Busca Todos os Posts (Histórico)": {
      "main": [
        [
          {
            "node": "Prepara Contexto Anti-Repetição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Contexto Anti-Repetição": {
      "main": [
        [
          {
            "node": "IA - Gera 1 Ideia para briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 03 - Criador de Briefing'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 4 - Escritor artigo blog'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Gera 1 Ideia para briefing": {
      "main": [
        [
          {
            "node": "Organiza a saída da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza a saída da IA": {
      "main": [
        [
          {
            "node": "Pega dados fixos do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 4 - Escritor artigo blog'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 5 - Criador de legenda - Instagram'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 5 - Criador de legenda - Instagram'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 6 - Criador de legenda - Linkedin'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 6 - Criador de legenda - Linkedin'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 7 - Criador de legenda - X'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 7 - Criador de legenda - X'": {
      "main": [
        [
          {
            "node": "Call 'Tools - 09 - Criador de legenda - Whatsapp'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 8 - Criador de imagens'": {
      "main": [
        [
          {
            "node": "Salva dados na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega status do cliente": {
      "main": [
        [
          {
            "node": "Consolida imagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolida imagens": {
      "main": [
        [
          {
            "node": "Call 'Tools - 9 - Aprovador'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 9 - Aprovador'": {
      "main": [
        [
          {
            "node": "Verifica os horários agendados a partir de hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva dados na planilha": {
      "main": [
        [
          {
            "node": "Pega status do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria array de imagens vazias": {
      "main": [
        [
          {
            "node": "Call 'Tools - 8 - Criador de imagens'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 09 - Criador de legenda - Whatsapp'": {
      "main": [
        [
          {
            "node": "Cria array de imagens vazias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status e atribui nota": {
      "main": [
        []
      ]
    },
    "Pega dados fixos do cliente": {
      "main": [
        [
          {
            "node": "Call 'Tools - 01 - Avaliação de contexto'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toda dia 6:10h": {
      "main": [
        [
          {
            "node": "Busca Todos os Posts (Histórico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcula critério de relevância dinâmico": {
      "main": [
        [
          {
            "node": "Filtro  de relevância1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro  de relevância1": {
      "main": [
        [
          {
            "node": "Call 'Tools - 03 - Criador de Briefing'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica os horários agendados a partir de hoje": {
      "main": [
        [
          {
            "node": "Agendador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendador": {
      "main": [
        [
          {
            "node": "Atualiza status e atribui nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Tools - 01 - Avaliação de contexto'": {
      "main": [
        [
          {
            "node": "Calcula critério de relevância dinâmico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "node:Toda dia 6h": {
      "recurrenceRules": []
    },
    "node:Toda dia 6:10h": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "a7a9356b-de23-474d-96fb-541e35bc06a9",
  "activeVersionId": "a7a9356b-de23-474d-96fb-541e35bc06a9",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-11T23:05:46.754Z",
      "createdAt": "2026-01-11T23:05:46.754Z",
      "role": "workflow:owner",
      "workflowId": "wxFdOGEfxfmjRkTM",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-09T17:18:01.264Z",
    "createdAt": "2026-03-09T17:18:01.264Z",
    "versionId": "a7a9356b-de23-474d-96fb-541e35bc06a9",
    "workflowId": "wxFdOGEfxfmjRkTM",
    "nodes": [
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          608,
          304
        ],
        "id": "76c30e64-3dce-427d-ae43-36487c1b31ea",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "UwoliaFEOcW8kEZD",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "EMI"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          176,
          112
        ],
        "id": "543ee399-beb7-4989-abae-b3e798794d3c",
        "name": "Busca Todos os Posts (Histórico)",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "// Pega todos os itens do Google Sheets\nconst items = $input.all();\n\n// Filtra e extrai apenas Titulo que não está vazio\nconst ideiasAnteriores = items\n  .filter(item => item.json.titulo) // filtra apenas se tiver Titulo\n  .map(item => ({\n    titulo: item.json.titulo // pega apenas o titulo\n  }));\n\n// Retorna apenas total de ideias anteriores e ideias completas (somente títulos)\nreturn [{\n  json: {\n    total_ideias_anteriores: ideiasAnteriores.length,\n    ideias_completas: ideiasAnteriores\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          112
        ],
        "id": "7a53fd69-7405-4cd2-9fa6-ee200f600a99",
        "name": "Prepara Contexto Anti-Repetição"
      },
      {
        "parameters": {
          "content": "## Cria Ideais de posts sobre IA.",
          "height": 544,
          "width": 1088
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -128,
          -96
        ],
        "typeVersion": 1,
        "id": "80dd9072-17ce-48b9-abe7-998f9334149b",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2176,
          -304
        ],
        "typeVersion": 1,
        "id": "299c9473-37ac-478f-9a21-e94c31606957",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "3GNG4rQe7hv7W5AE",
            "mode": "list",
            "cachedResultUrl": "/workflow/3GNG4rQe7hv7W5AE",
            "cachedResultName": "Tools - 03 - Criador de Briefing"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "contexto": "=Título:  {{ $('Organiza a saída da IA').first().json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA').first().json.Resumo }}",
              "ramo": "={{ $('Pega dados fixos do cliente').first().json.ramo }}",
              "target_audience": "={{ $('Pega dados fixos do cliente').first().json.target_audience }}",
              "keywords_context": "={{ $('Pega dados fixos do cliente').first().json.keywords_context }}",
              "criterios_relevancia": "={{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ramo",
                "displayName": "ramo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "target_audience",
                "displayName": "target_audience",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keywords_context",
                "displayName": "keywords_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "criterios_relevancia",
                "displayName": "criterios_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2272,
          -224
        ],
        "id": "66018482-5200-4c72-bcf3-abc7d77204a7",
        "name": "Call 'Tools - 03 - Criador de Briefing'"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Contexto Temporal\n\nDia Atual: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\nAno de Referência: 2026\n\n# GERADOR DE IDEIAS EDITORIAL — MERCADO IMOBILIÁRIO\n\n## IDENTIDADE\nVocê é um estrategista editorial sênior com 15 anos de experiência em conteúdo B2B sobre mercado imobiliário. Já trabalhou com as maiores publicações do setor (nível Rock Content, RD Station, Neil Patel Brasil). Seu padrão é alto — você rejeita o óbvio por princípio e só aprova ideias que genuinamente surpreendem ou provocam reflexão.\n\n## MISSÃO\nExecutar em sequência, sem pular etapas:\n\nETAPA 1 — Análise do histórico para garantir originalidade absoluta\nETAPA 2 — Geração de 10 ideias únicas e diversificadas\nETAPA 3 — Seleção da melhor ideia para o público do mercado imobiliário\n\n## ETAPA 1 — HISTÓRICO (LEITURA OBRIGATÓRIA)\nAnalise cada título abaixo antes de gerar qualquer ideia. Nenhuma das 10 ideias pode repetir tema, ângulo ou abordagem já explorada:\n\n{{ JSON.stringify($items().map(i => i.json.ideias_completas), null, 2) }}\n\n## ETAPA 2 — GERAÇÃO DAS 10 IDEIAS\nGere 10 ideias completamente distintas entre si — sem repetir setor, ângulo ou formato entre elas.\n\nÂNGULOS QUE FUNCIONAM:\n- Contraintuitivos ou controversos sobre compra, venda ou investimento\n- Tensões reais entre compradores, vendedores e corretores\n- Nichos específicos (comercial, residencial, rural, luxo, econômico)\n- Paradoxos do mercado imobiliário\n- Insights surpreendentes sobre valorização, locação ou negociação\n- Análises regionais ou de bairros específicos\n- Impactos de legislação, crédito e economia\n- ROI real, números concretos, casos que chocam\n\nPROIBIDO:\n- \"Como investir em imóveis em 2026\"\n- \"X tendências do mercado imobiliário\"\n- Títulos genéricos sobre valorização\n- Repetir ângulo ou nicho entre as 10 ideias\n\n## ETAPA 3 — SELEÇÃO\nAnalise as 10 ideias geradas e escolha a que melhor combina:\n- Originalidade genuína — foge do óbvio, surpreende quem lê sobre mercado imobiliário todo dia\n- Relevância prática — gera valor real para investidores, corretores, compradores e incorporadoras\n- Potencial de engajamento — o título prende, provoca curiosidade ou debate imediato\n- Especificidade — tema delimitado, não genérico\n\nSempre escolha a melhor entre as 10 e marque como \"aprovada\". Mesmo que nenhuma seja perfeita, a mais forte do grupo sempre deve ser aprovada.\n\n## SAÍDA OBRIGATÓRIA\nRetorne APENAS o JSON abaixo, válido, sem nenhum texto antes ou depois, sem markdown:\n\n{\n  \"Título\": \"título da melhor ideia\",\n  \"Resumo\": \"resumo da melhor ideia em 2-4 frases\",\n  \"Status\": \"aprovada\",\n  \"todas_as_ideias\": [\n    {\n      \"posicao\": 1,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": true\n    },\n    {\n      \"posicao\": 2,\n      \"Título\": \"...\",\n      \"Resumo\": \"...\",\n      \"escolhida\": false\n    }\n  ]\n}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          608,
          112
        ],
        "id": "527152a9-ff4c-4074-8d7e-289973a97cd2",
        "name": "IA - Gera 1 Ideia para briefing"
      },
      {
        "parameters": {
          "jsCode": "const dados = $input.all();\nconst primeiroItem = dados[0].json;\nlet jsonParsed;\n\nif (primeiroItem.output) {\n  let textoLimpo = primeiroItem.output\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n  try {\n    jsonParsed = JSON.parse(textoLimpo);\n  } catch (error) {\n    throw new Error('Erro ao fazer JSON.parse. Conteúdo inválido: ' + error.message);\n  }\n} else {\n  jsonParsed = primeiroItem;\n}\n\nreturn [\n  {\n    json: {\n      Título: jsonParsed.Título ? jsonParsed.Título.trim() : '',\n      Resumo: jsonParsed.Resumo ? jsonParsed.Resumo.trim() : '',\n      todas_as_ideias: jsonParsed.todas_as_ideias || []\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1024,
          112
        ],
        "id": "813bd959-cd87-4919-bc93-10eb77755a13",
        "name": "Organiza a saída da IA"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2176,
          16
        ],
        "typeVersion": 1,
        "id": "bb39ee26-40f2-4aef-b15d-c91681634a7a",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2176,
          336
        ],
        "typeVersion": 1,
        "id": "944910a8-00d6-4bf9-8a33-64a32d7c71f4",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2480,
          -304
        ],
        "typeVersion": 1,
        "id": "6e2e7335-5a84-48be-9cb1-e99bbeac8a4f",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2480,
          16
        ],
        "typeVersion": 1,
        "id": "3f065f5c-8113-4930-850e-457a2b864589",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Yx9XT5wkzSw2oBtD",
            "mode": "list",
            "cachedResultUrl": "/workflow/Yx9XT5wkzSw2oBtD",
            "cachedResultName": "Tools - 04 - Escritor artigo blog"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "briefing": "={{ $json.briefing }}",
              "titulo": "={{ $json.titulo }}",
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2272,
          96
        ],
        "id": "8205f0b1-df5b-4aa3-9ec7-d1bc83bf0690",
        "name": "Call 'Tools - 4 - Escritor artigo blog'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "LBOIqjET0jkwGgeX",
            "mode": "list",
            "cachedResultUrl": "/workflow/LBOIqjET0jkwGgeX",
            "cachedResultName": "Tools - 05 - Criador de legenda - Instagram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $json.artigo_completo }}",
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }} \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }} \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }} \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }} \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [
              "artigo"
            ],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2272,
          416
        ],
        "id": "6561cbbe-428d-48e2-8aae-4af29bf59f15",
        "name": "Call 'Tools - 5 - Criador de legenda - Instagram'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "oHicWXWOlTUM1fzj",
            "mode": "list",
            "cachedResultUrl": "/workflow/oHicWXWOlTUM1fzj",
            "cachedResultName": "Tools - 06 - Criador de legenda - Linkedin"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}  \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}  \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}  \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}  \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2576,
          -224
        ],
        "id": "4fb66853-4963-4d93-852a-236c9abca158",
        "name": "Call 'Tools - 6 - Criador de legenda - Linkedin'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "RywjAC1k0dLdH44a",
            "mode": "list",
            "cachedResultUrl": "/workflow/RywjAC1k0dLdH44a",
            "cachedResultName": "Tools - 07 - Criador de legenda - X"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}   \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}   \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}   \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}   \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2576,
          96
        ],
        "id": "25efbae3-79c4-4b87-959b-244034acad9f",
        "name": "Call 'Tools - 7 - Criador de legenda - X'"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "EC0p1VUlLsTeIg3h",
            "mode": "list",
            "cachedResultUrl": "/workflow/EC0p1VUlLsTeIg3h",
            "cachedResultName": "Tools - 08 - Criador de imagens"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "template": "template2",
              "imagens": "={{ $json.imagens }}",
              "logo_empresa": "={{ $('Pega dados fixos do cliente').first().json.logo_empresa }}",
              "empresa": "={{ $('Pega dados fixos do cliente').first().json.cliente }}",
              "usa_blog": "=não"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "logo_empresa",
                "displayName": "logo_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "empresa",
                "displayName": "empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "imagens",
                "displayName": "imagens",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "template",
                "displayName": "template",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "usa_blog",
                "displayName": "usa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3168,
          96
        ],
        "id": "6df16a2d-7285-4fa9-a706-a6669e93d0e1",
        "name": "Call 'Tools - 8 - Criador de imagens'"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3072,
          16
        ],
        "typeVersion": 1,
        "id": "871f0693-60be-4f2f-bfd5-e6e5963290e3",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "EMI"
              },
              {
                "lookupColumn": "status_blog",
                "lookupValue": "aguardando"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3632,
          96
        ],
        "id": "1777646d-b542-41e1-9853-7f571230b9a7",
        "name": "Pega status do cliente",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Processa cada item do array de entrada\nreturn $input.all().map(item => {\n  // Cria array para armazenar as imagens\n  const imagens = [];\n  \n  // Itera enquanto encontrar imagens (não limita a quantidade)\n  let i = 1;\n  while (item.json[`imagem${i}_url`]) {\n    const imagemUrl = item.json[`imagem${i}_url`];\n    \n    // Adiciona a URL no array se existir\n    if (imagemUrl) {\n      imagens.push(imagemUrl);\n    }\n    \n    i++;\n  }\n  \n  // Retorna o array de URLs\n  return {\n    json: {\n      imagens: imagens\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3824,
          96
        ],
        "id": "8ab152b1-6a7e-4c09-8be4-1e23d27d0d37",
        "name": "Consolida imagens"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "87SrvvuSwYMQx795",
            "mode": "list",
            "cachedResultUrl": "/workflow/87SrvvuSwYMQx795",
            "cachedResultName": "Tools - 10 - Aprovador"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "dados_empresa": "=Cliente: {{ $('Pega dados fixos do cliente').first().json.cliente }},\n\nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }},\n\ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }},\n\nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }},\n\ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}",
              "posts": "={{\n  {\n    \"blog\": {\n      \"texto\": $('Call \\'Tools - 4 - Escritor artigo blog\\'').item.json.artigo_completo,\n      \"imagem_blog\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"instagram\": {\n      \"legenda_instagram\": $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').item.json.legenda_instagram,\n      \"imagem_instagram\": $('Consolida imagens').item.json.imagens\n    },\n    \"linkedin\": {\n      \"legenda_linkedin\": $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').item.json.legenda_linkedin,\n      \"imagem_linkedin\": $('Consolida imagens').item.json.imagens[0]\n    },\n    \"x\": {\n      \"legenda_x\": $('Call \\'Tools - 7 - Criador de legenda - X\\'').item.json.legenda_x,\n      \"imagem_x\": $('Consolida imagens').item.json.imagens[0]\n    },\n      \"whatsapp\": {\n        \"legenda_whatsapp\": $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').item.json.legenda_whatsapp,\n        \"imagem_whatsapp\": $('Consolida imagens').item.json.imagens[0]\n      }\n  }\n}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "posts",
                "displayName": "posts",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4096,
          96
        ],
        "id": "c380c884-c8d0-4c82-bf0c-a64793162b3e",
        "name": "Call 'Tools - 9 - Aprovador'"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4000,
          16
        ],
        "typeVersion": 1,
        "id": "9e048a79-6bca-4382-a536-92443eccd714",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "fonte": "IDEIAS",
              "id_post": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.id_post }}",
              "titulo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.titulo }}",
              "briefing": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.briefing }}",
              "status_blog": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.status }}",
              "artigo_blog": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "legenda_instagram": "={{ $('Call \\'Tools - 5 - Criador de legenda - Instagram\\'').first().json.legenda_instagram }}",
              "legenda_linkedin": "={{ $('Call \\'Tools - 6 - Criador de legenda - Linkedin\\'').first().json.legenda_linkedin }}",
              "legenda_x": "={{ $('Call \\'Tools - 7 - Criador de legenda - X\\'').first().json.legenda_x }}",
              "status_instagram": "aguardando",
              "status_linkedin": "aguardando",
              "status_x": "aguardando",
              "imagem1_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem1_url }}",
              "imagem2_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem2_url }}",
              "imagem3_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem3_url }}",
              "imagem4_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem4_url }}",
              "imagem5_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem5_url }}",
              "imagem6_url": "={{ $('Call \\'Tools - 8 - Criador de imagens\\'').first().json.imagem6_url }}",
              "cliente": "EMI",
              "status_whatsapp": "aguardando",
              "legenda_whatsapp": "={{ $('Call \\'Tools - 09 - Criador de legenda - Whatsapp\\'').first().json.legenda_whatsapp }}",
              "imagem_blog_url": "-",
              "data_criacao": "={{ $('Call \\'Tools - 03 - Criador de Briefing\\'').first().json.data_criacao }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_criterio",
                "displayName": "nota_criterio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_relevancia",
                "displayName": "nota_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_aprovador",
                "displayName": "nota_aprovador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem_blog_url",
                "displayName": "imagem_blog_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          3440,
          96
        ],
        "id": "137d72aa-5114-468e-80fc-fdbf4f6f6e28",
        "name": "Salva dados na planilha",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_post": "={{ $('Pega status do cliente').first().json.id_post }}",
              "status_blog": "-",
              "status_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.status }}",
              "status_linkedin": "-",
              "status_x": "-",
              "justificativa_blog": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.blog.justificativa_curta }}",
              "justificativa_instagram": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.instagram.justificativa_curta }}",
              "justificativa_linkedin": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.linkedin.justificativa_curta }}",
              "justificativa_x": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.x.justificativa_curta }}",
              "status_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.status }}",
              "justificativa_whatsapp": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.whatsapp.justificativa_curta }}",
              "horario_post_blog": "={{ $json.horario_post_blog }}",
              "horario_post_instagram": "={{ $json.horario_post_instagram }}",
              "horario_post_linkedin": "={{ $json.horario_post_linkedin }}",
              "horario_post_whatsapp": "={{ $json.horario_post_whatsapp }}",
              "horario_post_x": "={{ $json.horario_post_x }}",
              "nota_relevancia": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').first().json.nota }}",
              "nota_aprovador": "={{ $('Call \\'Tools - 9 - Aprovador\\'').first().json.nota_final_geral }}",
              "nota_criterio": "={{ $('Calcula critério de relevância dinâmico').first().json.criterio_relevancia_dinamico }}"
            },
            "matchingColumns": [
              "id_post"
            ],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_criterio",
                "displayName": "nota_criterio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_relevancia",
                "displayName": "nota_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota_aprovador",
                "displayName": "nota_aprovador",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem_blog_url",
                "displayName": "imagem_blog_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          4752,
          96
        ],
        "id": "d7e63350-3e31-4132-a8d5-227b3cc9e2e0",
        "name": "Atualiza status e atribui nota",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    json: {\n      imagens: [\n        {\n          imagens: [\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" },\n            { url: \"\", status: \"rejeitada\" }\n          ]\n        }\n      ]\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2896,
          96
        ],
        "id": "deef56ca-29dd-4550-8e9b-cdef14ed2e1a",
        "name": "Cria array de imagens vazias"
      },
      {
        "parameters": {
          "content": "",
          "height": 304,
          "width": 288,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2480,
          336
        ],
        "typeVersion": 1,
        "id": "43937b0f-5362-4702-970d-7948d323e377",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "vfwBhgm7Qf17IHVn",
            "mode": "list",
            "cachedResultUrl": "/workflow/vfwBhgm7Qf17IHVn",
            "cachedResultName": "Tools - 09 - Criador de legenda - Whatsapp"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "artigo": "={{ $('Call \\'Tools - 4 - Escritor artigo blog\\'').first().json.artigo_completo }}",
              "dados_empresa": "=Cliente:  {{ $('Pega dados fixos do cliente').first().json.cliente }}   \nRamo: {{ $('Pega dados fixos do cliente').first().json.ramo }}   \ntarget_audience: {{ $('Pega dados fixos do cliente').first().json.target_audience }}   \nkeywords_context: {{ $('Pega dados fixos do cliente').first().json.keywords_context }}   \ncriterios_relevancia: {{ $('Pega dados fixos do cliente').first().json.criterios_relevancia }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "artigo",
                "displayName": "artigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "dados_empresa",
                "displayName": "dados_empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2576,
          416
        ],
        "id": "06df3bfd-4ecd-4b3d-8507-972bab095f02",
        "name": "Call 'Tools - 09 - Criador de legenda - Whatsapp'"
      },
      {
        "parameters": {
          "content": "# Legendas",
          "height": 1104,
          "width": 688,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2128,
          -416
        ],
        "typeVersion": 1,
        "id": "83742bfc-a433-4e15-9278-c423286a039e",
        "name": "Sticky Note12"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "cadastro_clientes",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "cliente",
                "lookupValue": "EMI"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1232,
          112
        ],
        "id": "feecae65-9ee1-40af-b3e6-3fb72ac9058b",
        "name": "Pega dados fixos do cliente",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 6,
                "triggerAtMinute": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -48,
          112
        ],
        "id": "a34e8984-4ad2-49bb-b2b9-376c835d3089",
        "name": "Toda dia 6:10h"
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// CALCULA CRITÉRIO DE RELEVÂNCIA DINÂMICO (BASEADO EM DELTA)\n//\n// Objetivo: Para cada plataforma ativa, encontrar o último\n// dia que já tem post agendado e calcular quantos dias faltam\n// entre hoje e esse dia (delta). O MAIOR delta entre todas as\n// plataformas define o critério mínimo de nota para aprovar\n// uma notícia.\n//\n// Lógica: se qualquer plataforma estiver com a agenda cheia\n// lá na frente, o critério sobe para evitar acúmulo em todas.\n//\n// Se uma plataforma não tiver nenhum post agendado a partir\n// de hoje, seu delta é 0 — agenda vazia, critério baixo.\n//\n// Lógica central (maior delta entre as plataformas):\n//   0 dias  → critério 5\n//   1 dia   → critério 6\n//   2-3     → critério 7\n//   4-5     → critério 8\n//   6-7     → critério 9\n//   8+      → critério 10\n// ============================================================\n\n// --- Funções auxiliares ---\n\n// Converte string \"DD/MM/YYYY HH:mm\" em objeto Date (apenas a data, usando UTC)\n// Usa Date.UTC para evitar problemas de timezone — só a data importa para o critério\n// Retorna null se inválido ou ausente\nfunction parseDataHora(str) {\n  if (!str || str === \"-\") return null;\n  const parts = str.trim().split(\" \");\n  if (parts.length < 1) return null;\n  const datePart = parts[0]; // ignora a hora — para o critério só a data importa\n  const [d, m, y] = datePart.split(\"/\");\n  if (!d || !m || !y) return null;\n  const ms = Date.UTC(+y, +m - 1, +d, 0, 0, 0, 0);\n  return isNaN(ms) ? null : new Date(ms);\n}\n\n// Converte Date em string \"DD/MM/YYYY\"\n// Usa getUTC* porque as datas são criadas com Date.UTC\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\n// Retorna a data de hoje no fuso de São Paulo (UTC-3) como string \"DD/MM/YYYY\"\n// O n8n roda em UTC — precisamos converter para o fuso correto antes de comparar datas\nfunction hojeStrSaoPaulo() {\n  // Offset de São Paulo: UTC-3 (sem horário de verão desde 2019)\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\n// Converte string \"DD/MM/YYYY\" em número inteiro YYYYMMDD para comparação simples\n// Ex: \"03/03/2026\" → 20260303\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\n// Calcula delta em dias entre hoje (SP) e uma data futura (string \"DD/MM/YYYY\")\n// Usa Date.UTC para aritmética pura de dias sem influência de DST ou timezone\n// Retorna 0 se a data for hoje ou no passado\nfunction deltaDias(dataFuturaStr) {\n  const hojeStr = hojeStrSaoPaulo();\n  if (dataParaNum(dataFuturaStr) <= dataParaNum(hojeStr)) return 0;\n  const [dH, mH, yH] = hojeStr.split(\"/\");\n  const [dF, mF, yF] = dataFuturaStr.split(\"/\");\n  const msHoje = Date.UTC(+yH, +mH - 1, +dH);\n  const msFut  = Date.UTC(+yF, +mF - 1, +dF);\n  return Math.round((msFut - msHoje) / (1000 * 60 * 60 * 24));\n}\n\n// Mapeia o maior delta → critério de relevância\nfunction deltaToCriterio(delta) {\n  if (delta <= 0) return 5;\n  if (delta <= 1) return 6;\n  if (delta <= 3) return 7;\n  if (delta <= 5) return 8;\n  if (delta <= 7) return 9;\n  return 10; // 8+ dias\n}\n\n// -------------------------------------------------------\n\n// --- Dados do cliente ---\nconst configCliente = $('Pega dados fixos do cliente').first().json;\n\n// --- Detecta plataformas ativas dinamicamente ---\n// Lê todas as chaves \"config_postagem_*\" e filtra as com \"ativo: true\"\nconst plataformasAtivas = [];\nconst configsPorPlataforma = {};\n\nfor (const chave of Object.keys(configCliente)) {\n  if (!chave.startsWith(\"config_postagem_\")) continue;\n\n  try {\n    const nomePlat = chave.replace(\"config_postagem_\", \"\");\n    const cfg = JSON.parse(configCliente[chave]);\n\n    if (!cfg.ativo) continue;\n\n    plataformasAtivas.push(nomePlat);\n    configsPorPlataforma[nomePlat] = cfg;\n  } catch (e) {\n    // JSON mal formatado, ignora silenciosamente\n  }\n}\n\n// --- Carrega posts agendados filtrados por fonte ---\n// Apenas IDEIAS e RSS consomem slots de agendamento.\n// RESUMO SEMANAL e outras fontes não são contabilizadas.\nconst fontesFiltradas = [\"IDEIAS\", \"RSS\"];\nconst todosOsPosts = $('Busca Todos os Posts (Histórico)').all().map(i => i.json);\nconst postsFiltrados = todosOsPosts.filter(post =>\n  fontesFiltradas.includes((post.fonte || \"\").trim().toUpperCase())\n);\n\n// Hoje em São Paulo como string \"DD/MM/YYYY\" e como número para comparação\nconst hojeStr = hojeStrSaoPaulo();\nconst hojeNum = dataParaNum(hojeStr);\n\n// --- Para cada plataforma ativa, encontra o último dia agendado ---\n// Varre todos os posts filtrados, pega os horários de cada plataforma\n// e identifica a data mais distante a partir de hoje (inclusive).\n//\n// Delta = dias entre hoje e esse último dia agendado.\n// Se não houver nenhum post agendado a partir de hoje → delta = 0.\n\nconst deltas = [];\nconst detalhePorPlataforma = {};\n\nfor (const plat of plataformasAtivas) {\n  const cfg = configsPorPlataforma[plat];\n  let ultimaDataStr = null; // string \"DD/MM/YYYY\" do post mais distante nessa plataforma\n  let ultimaDataNum = 0;    // número YYYYMMDD para comparação rápida\n\n  for (const post of postsFiltrados) {\n    const horario = parseDataHora(post[`horario_post_${plat}`]);\n    if (!horario) continue;\n\n    // Converte para string no mesmo formato para comparação consistente\n    const dataStr = data4(horario);\n    const dataNum = dataParaNum(dataStr);\n\n    // Ignora posts no passado — só conta a partir de hoje inclusive\n    if (dataNum < hojeNum) continue;\n\n    // Guarda a data mais distante encontrada\n    if (dataNum > ultimaDataNum) {\n      ultimaDataStr = dataStr;\n      ultimaDataNum = dataNum;\n    }\n  }\n\n  const delta = ultimaDataStr ? deltaDias(ultimaDataStr) : 0;\n  deltas.push(delta);\n\n  detalhePorPlataforma[plat] = {\n    ultimo_dia_agendado: ultimaDataStr || \"-\", // ex: 07/03/2026\n    delta_dias: delta,                          // ex: 5\n    posts_por_dia: cfg.posts_por_dia,\n    dias_ativos: cfg.dias_semana\n  };\n}\n\n// --- Pega o maior delta entre todas as plataformas ativas ---\n// Se qualquer plataforma estiver com agenda cheia lá na frente,\n// o critério sobe para proteger todas as plataformas de acúmulo.\nconst maiorDelta = deltas.length > 0 ? Math.max(...deltas) : 0;\n\n// --- Define o critério dinâmico com base no maior delta ---\nconst criterioDinamico = deltaToCriterio(maiorDelta);\n\n// --- Retorna o resultado para uso no nó IF ---\nreturn [{\n  json: {\n    criterio_relevancia_dinamico: criterioDinamico,   // valor usado no nó IF\n    maior_delta_dias: maiorDelta,                     // ex: 5 — plataforma mais cheia\n    hoje: hojeStr,                                    // ex: 02/03/2026 — confirma fuso SP\n    plataformas_ativas: plataformasAtivas,            // ex: [\"instagram\", \"x\", ...]\n    detalhe_por_plataforma: detalhePorPlataforma      // breakdown completo por plataforma\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1712,
          112
        ],
        "id": "08cb0439-0cf0-45f3-a0ee-c4d2e7aaf2c2",
        "name": "Calcula critério de relevância dinâmico"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c9a2cce-1e4b-4f37-9c24-91e5375e8efe",
                "leftValue": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').item.json.nota }}",
                "rightValue": "={{ $json.criterio_relevancia_dinamico }}",
                "operator": {
                  "type": "number",
                  "operation": "gte"
                }
              },
              {
                "id": "2f9365ba-fceb-47a7-8fdd-f3e85490f0cf",
                "leftValue": "={{ $('Call \\'Tools - 01 - Avaliação de contexto\\'').item.json.status }}",
                "rightValue": "aprovada",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1920,
          112
        ],
        "id": "6efdf821-e02e-4237-b7b2-815077cec5b0",
        "name": "Filtro  de relevância1"
      },
      {
        "parameters": {
          "jsCode": "// ======================================\n// AGENDADOR INTELIGENTE\n// ======================================\n// Busca o próximo slot livre para cada plataforma aprovada,\n// sem limite de semana — olha para frente.\n// Usa fuso de São Paulo (UTC-3).\n// ======================================\n\nconst mapa = $input.first().json.mapa_ocupados || {};\nconst fixo = $items(\"Pega dados fixos do cliente\")[0].json;\nconst aprovador = $items(\"Call 'Tools - 9 - Aprovador'\")[0].json;\n\nfunction parseCfg(str) {\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nfunction hojeBaseSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  return new Date(Date.UTC(\n    agoraSP.getUTCFullYear(),\n    agoraSP.getUTCMonth(),\n    agoraSP.getUTCDate(),\n    0, 0, 0, 0\n  ));\n}\n\nfunction data4(dt) {\n  const dd = String(dt.getUTCDate()).padStart(2, \"0\");\n  const MM = String(dt.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = dt.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nfunction formatar(dt, hora) {\n  const d = new Date(dt);\n  const [hh, mm] = hora.split(\":\");\n  const comHora = new Date(Date.UTC(\n    d.getUTCFullYear(),\n    d.getUTCMonth(),\n    d.getUTCDate(),\n    +hh, +mm, 0, 0\n  ));\n  const dd = String(comHora.getUTCDate()).padStart(2, \"0\");\n  const MM = String(comHora.getUTCMonth() + 1).padStart(2, \"0\");\n  const yy = comHora.getUTCFullYear();\n  const HH = String(comHora.getUTCHours()).padStart(2, \"0\");\n  const mm2 = String(comHora.getUTCMinutes()).padStart(2, \"0\");\n  return `${dd}/${MM}/${yy} ${HH}:${mm2}`;\n}\n\nfunction proximoDia(dt) {\n  return new Date(dt.getTime() + 24 * 60 * 60 * 1000);\n}\n\nconst dias = [\"dom\", \"seg\", \"ter\", \"qua\", \"qui\", \"sex\", \"sab\"];\n\nconst plataformas = Object.keys(fixo)\n  .filter(k => k.startsWith(\"config_postagem_\"))\n  .map(k => k.replace(\"config_postagem_\", \"\"));\n\nconst retorno = {};\nfor (const p of plataformas) {\n  retorno[`horario_post_${p}`] = \"-\";\n}\n\nfor (const p of plataformas) {\n  const statusPlataforma = aprovador?.[p]?.status;\n  if (statusPlataforma !== \"aprovado\") continue;\n\n  const cfg = parseCfg(fixo[`config_postagem_${p}`]);\n  if (!cfg || !cfg.ativo) continue;\n  if (!Array.isArray(cfg.horarios)) continue;\n  if (!Array.isArray(cfg.dias_semana)) continue;\n  if (!cfg.posts_por_dia || cfg.posts_por_dia < 1) continue;\n\n  let d = hojeBaseSP();\n  let agendado = false;\n\n  for (let tentativa = 0; tentativa < 90 && !agendado; tentativa++) {\n    const dia = dias[d.getUTCDay()];\n    const dataStr = data4(d);\n\n    if (cfg.dias_semana.includes(dia)) {\n      const ocupados = mapa[p]?.[dataStr] || [];\n\n      if (ocupados.length < cfg.posts_por_dia) {\n        for (const hora of cfg.horarios) {\n          if (!ocupados.includes(hora)) {\n            retorno[`horario_post_${p}`] = formatar(d, hora);\n            agendado = true;\n            break;\n          }\n        }\n      }\n    }\n\n    if (!agendado) {\n      d = proximoDia(d);\n    }\n  }\n}\n\nreturn [{ json: retorno }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4560,
          96
        ],
        "id": "f69c1b3e-dee7-4b43-b025-15a37119778d",
        "name": "Agendador",
        "retryOnFail": true,
        "executeOnce": false,
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "jsCode": "// ========================\n// MAPA GLOBAL DE HORÁRIOS OCUPADOS\n// (a partir de hoje em diante)\n// ========================\n\nconst historico = $items(\"Busca Todos os Posts (Histórico)\").map(i => i.json);\nconst mapa = {};\n\nfunction isDataValida(d) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(d);\n}\n\nfunction isHoraValida(h) {\n  return /^\\d{2}:\\d{2}$/.test(h);\n}\n\nfunction dataParaNum(str) {\n  const [d, m, y] = str.split(\"/\");\n  return +y * 10000 + +m * 100 + +d;\n}\n\nfunction hojeStrSP() {\n  const OFFSET_SP_MS = -3 * 60 * 60 * 1000;\n  const agoraSP = new Date(Date.now() + OFFSET_SP_MS);\n  const dd = String(agoraSP.getUTCDate()).padStart(2, \"0\");\n  const MM = String(agoraSP.getUTCMonth() + 1).padStart(2, \"0\");\n  const yyyy = agoraSP.getUTCFullYear();\n  return `${dd}/${MM}/${yyyy}`;\n}\n\nconst hojeNum = dataParaNum(hojeStrSP());\n\nfor (const r of historico) {\n  for (const k of Object.keys(r)) {\n    if (!k.startsWith(\"horario_post_\")) continue;\n    if (!r[k]) continue;\n\n    const plataforma = k.replace(\"horario_post_\", \"\");\n    const partes = String(r[k]).split(\" \");\n    if (partes.length !== 2) continue;\n\n    const data = partes[0];\n    const hora = partes[1];\n\n    if (!isDataValida(data)) continue;\n    if (!isHoraValida(hora)) continue;\n    if (dataParaNum(data) < hojeNum) continue;\n\n    if (!mapa[plataforma]) mapa[plataforma] = {};\n    if (!mapa[plataforma][data]) mapa[plataforma][data] = [];\n    if (!mapa[plataforma][data].includes(hora)) {\n      mapa[plataforma][data].push(hora);\n    }\n  }\n}\n\nreturn [{ json: { mapa_ocupados: mapa } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4368,
          96
        ],
        "id": "5e1cabbd-d380-4fa9-9e86-889dbaf351d3",
        "name": "Verifica os horários agendados a partir de hoje",
        "retryOnFail": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "v2jA4E958uZQhm0p",
            "mode": "list",
            "cachedResultUrl": "/workflow/v2jA4E958uZQhm0p",
            "cachedResultName": "Tools - 01 - Avaliação de contexto"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "contexto": "=Titulo: {{ $('Organiza a saída da IA').item.json['Título'] }},\n\nResumo: {{ $('Organiza a saída da IA').item.json.Resumo }}",
              "ramo": "={{ $json.ramo }}",
              "target_audience": "={{ $json.target_audience }}",
              "keywords_context": "={{ $json.keywords_context }}",
              "criterios_relevancia": "={{ $json.criterios_relevancia }}",
              "contexto_anti_repeticao": "={{ $('Prepara Contexto Anti-Repetição').item.json.ideias_completas }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "contexto",
                "displayName": "contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "ramo",
                "displayName": "ramo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "target_audience",
                "displayName": "target_audience",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keywords_context",
                "displayName": "keywords_context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "criterios_relevancia",
                "displayName": "criterios_relevancia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contexto_anti_repeticao",
                "displayName": "contexto_anti_repeticao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1472,
          112
        ],
        "id": "66390d9c-7c14-4e46-a982-d190eab419f7",
        "name": "Call 'Tools - 01 - Avaliação de contexto'"
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "IA - Gera 1 Ideia para briefing",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Busca Todos os Posts (Histórico)": {
        "main": [
          [
            {
              "node": "Prepara Contexto Anti-Repetição",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara Contexto Anti-Repetição": {
        "main": [
          [
            {
              "node": "IA - Gera 1 Ideia para briefing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 03 - Criador de Briefing'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 4 - Escritor artigo blog'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IA - Gera 1 Ideia para briefing": {
        "main": [
          [
            {
              "node": "Organiza a saída da IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Organiza a saída da IA": {
        "main": [
          [
            {
              "node": "Pega dados fixos do cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 4 - Escritor artigo blog'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 5 - Criador de legenda - Instagram'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 5 - Criador de legenda - Instagram'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 6 - Criador de legenda - Linkedin'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 6 - Criador de legenda - Linkedin'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 7 - Criador de legenda - X'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 7 - Criador de legenda - X'": {
        "main": [
          [
            {
              "node": "Call 'Tools - 09 - Criador de legenda - Whatsapp'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 8 - Criador de imagens'": {
        "main": [
          [
            {
              "node": "Salva dados na planilha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pega status do cliente": {
        "main": [
          [
            {
              "node": "Consolida imagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consolida imagens": {
        "main": [
          [
            {
              "node": "Call 'Tools - 9 - Aprovador'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 9 - Aprovador'": {
        "main": [
          [
            {
              "node": "Verifica os horários agendados a partir de hoje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salva dados na planilha": {
        "main": [
          [
            {
              "node": "Pega status do cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria array de imagens vazias": {
        "main": [
          [
            {
              "node": "Call 'Tools - 8 - Criador de imagens'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 09 - Criador de legenda - Whatsapp'": {
        "main": [
          [
            {
              "node": "Cria array de imagens vazias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza status e atribui nota": {
        "main": [
          []
        ]
      },
      "Pega dados fixos do cliente": {
        "main": [
          [
            {
              "node": "Call 'Tools - 01 - Avaliação de contexto'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Toda dia 6:10h": {
        "main": [
          [
            {
              "node": "Busca Todos os Posts (Histórico)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calcula critério de relevância dinâmico": {
        "main": [
          [
            {
              "node": "Filtro  de relevância1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro  de relevância1": {
        "main": [
          [
            {
              "node": "Call 'Tools - 03 - Criador de Briefing'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica os horários agendados a partir de hoje": {
        "main": [
          [
            {
              "node": "Agendador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agendador": {
        "main": [
          [
            {
              "node": "Atualiza status e atribui nota",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Tools - 01 - Avaliação de contexto'": {
        "main": [
          [
            {
              "node": "Calcula critério de relevância dinâmico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}