backup/emi---9.1---alerta-erro-YWujkd0BnjxHi1Hd.json
{
  "updatedAt": "2025-12-23T12:38:41.290Z",
  "createdAt": "2025-11-24T13:28:04.263Z",
  "id": "YWujkd0BnjxHi1Hd",
  "name": "EMI - 9.1 - Alerta Erro",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=<erro-n8n>\n{{JSON.stringify($json)}}\n</erro-n8n> ",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "=Você é um especialista experiente em gestão e automação com a ferramenta N8N\n\nA sua função é analisar os erros que acontecem em um workflow do N8N, identificando uma possível causa e recomendar quais ações devem ser seguidas para uma possível solução do erro."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        384,
        128
      ],
      "id": "525f173f-1a70-4466-8fd4-d2751918dcdc",
      "name": "Analisador de Erro"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        304
      ],
      "id": "3a39d1fc-eb2f-46ff-86c8-8c9e86b52c48",
      "name": "Claude Sonnet 3.5",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 460,
        "width": 1020,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "327f3960-c9ca-465e-9f8a-bdaa2d5ba3f8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=❌ *Erro no Workflow do n8n (EMI)* ❌ \n\n*Execução:* [#{{ $('Captura Erro').item.json.execution.id }}]({{ $('Captura Erro').item.json.execution.url.replaceAll('n8n.', 'manager.') }}) \n\n🧩 *Último nó que foi executado:* {{ $('Captura Erro').item.json.execution.lastNodeExecuted }} 📂 *Workflow:* {{ $('Captura Erro').item.json.workflow.name }} \n\n⚙️ *Modo de execução:* {{ $('Captura Erro').item.json.execution.mode }} \n\n🚨 O workflow apresentou um erro !. Verifique o quanto antes. \n\n📦 EXECUTION ERROR: ```{{ $json.text }}```",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        704,
        128
      ],
      "id": "88a1a9c6-236d-4a4c-89d1-92223da62338",
      "name": "Envia Erro",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        160,
        128
      ],
      "id": "388f672d-965b-407e-a0e1-aa7d0791cdba",
      "name": "Captura Erro"
    }
  ],
  "connections": {
    "Analisador de Erro": {
      "main": [
        [
          {
            "node": "Envia Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 3.5": {
      "ai_languageModel": [
        [
          {
            "node": "Analisador de Erro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Captura Erro": {
      "main": [
        [
          {
            "node": "Analisador de Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "8ea8f699-7b7b-435b-91bf-af5862ee188e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-24T13:28:04.263Z",
      "createdAt": "2025-11-24T13:28:04.263Z",
      "role": "workflow:owner",
      "workflowId": "YWujkd0BnjxHi1Hd",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}