backup/emi---2.4---sdr-emi-ia---calendar-YYAC7I2195NeeKZy.json
{
  "updatedAt": "2025-12-23T12:58:28.517Z",
  "createdAt": "2025-11-26T23:19:23.470Z",
  "id": "YYAC7I2195NeeKZy",
  "name": "EMI - 2.4 - SDR EMI IA - Calendar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Preparacao de valores",
        "height": 736,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        640
      ],
      "typeVersion": 1,
      "id": "036dca0f-abf2-4eeb-8871-12c3a967361c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes\": 30,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"SAB\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": []\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        944
      ],
      "id": "c8a82cbd-7853-4f5e-bb16-82fa35157e50",
      "name": "Definir Agenda"
    },
    {
      "parameters": {
        "content": "## Mudar Evento",
        "height": 384,
        "width": 1872,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1216
      ],
      "typeVersion": 1,
      "id": "d8ae1df1-18d3-4c7f-8dd9-c52a521d9708",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@monteferrario.com.br",
          "mode": "list",
          "cachedResultName": "contato@monteferrario.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        1360
      ],
      "id": "06c88d6e-9455-4b75-a28d-2341947a4999",
      "name": "Listar Eventos4",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Email vindo do node \"trigger\" (flat) ou do próprio item atual como fallback\nconst emailTrigger = String(\n  $node[\"trigger\"]?.json?.email ?? $json?.email ?? \"\"\n).trim().toLowerCase();\n\nif (!emailTrigger) {\n  return [{ json: { error: \"email ausente no trigger\" } }];\n}\n\n// --- Todos os items que chegam neste Code (devem ser os eventos)\nconst items = await $input.all();\n\n// --- Mantém só eventos onde attendees contém o e-mail do trigger\nconst filtrados = items.filter(it => {\n  const attendees = it.json?.attendees;\n  return Array.isArray(attendees) &&\n    attendees.some(a => String(a.email || \"\").trim().toLowerCase() === emailTrigger);\n});\n\n// --- Saída\nreturn filtrados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1360
      ],
      "id": "aad2bcfc-4ad4-4895-9d9f-72b13a9c488f",
      "name": "Filtrar Eventos"
    },
    {
      "parameters": {
        "jsCode": "// Entram aqui os eventos já filtrados (cada item = 1 evento)\nconst items = await $input.all();\n\nif (!items.length) {\n  return [{ json: { mensagem: \"Não encontrei eventos para esse e-mail.\", eventos: [] } }];\n}\n\nconst TZ = \"America/Sao_Paulo\";\n\n// helpers\nconst toDate = (d) => d ? new Date(d) : null;\nconst sameYmd = (a, b) => a.toLocaleString(\"sv-SE\", { timeZone: TZ }).slice(0,10) === b.toLocaleString(\"sv-SE\", { timeZone: TZ }).slice(0,10);\n\n// hoje (SP)\nconst agora = new Date();\nconst hojeSP = new Date(new Date().toLocaleString(\"en-US\", { timeZone: TZ }));\n\n// normaliza -> filtra inválidos -> filtra futuros e não-hoje -> ordena\nconst normalizados = items\n  .map((it) => it.json)\n  .map((ev) => {\n    const start = toDate(ev.start?.dateTime || ev.start);\n    const end   = toDate(ev.end?.dateTime   || ev.end);\n    return { ev, start, end, tz: ev.start?.timeZone || TZ };\n  })\n  .filter(x => x.ev?.id && x.start instanceof Date && !isNaN(x.start))\n  .filter(x => x.start > agora && !sameYmd(x.start, hojeSP))\n  .sort((a, b) => a.start - b.start);\n\nif (!normalizados.length) {\n  return [{ json: { mensagem: \"Não há eventos futuros (exceto hoje).\", eventos: [] } }];\n}\n\nfunction fmtLinha(x, i) {\n  const ev = x.ev;\n  const tz = x.tz;\n  const s = x.start;\n  const e = x.end instanceof Date && !isNaN(x.end) ? x.end : null;\n\n  const dia   = s.toLocaleDateString(\"pt-BR\", { timeZone: tz });\n  const hIni  = s.toLocaleTimeString(\"pt-BR\", { timeZone: tz, hour: \"2-digit\", minute: \"2-digit\" });\n  const hFim  = e ? e.toLocaleTimeString(\"pt-BR\", { timeZone: tz, hour: \"2-digit\", minute: \"2-digit\" }) : null;\n\n  return {\n    numero: i + 1,\n    id: ev.id,\n    assunto: ev.summary || \"Sem título\",\n    dia,\n    horaInicio: hIni,\n    horaFim: hFim,\n    timezone: tz,\n    link: ev.htmlLink || ev.hangoutLink || null,\n  };\n}\n\nconst essenciais = normalizados.map(fmtLinha);\n\n// monta mensagem (limita a 10 linhas para não estourar UI)\nconst linhasMsg = essenciais.slice(0, 10).map(e =>\n  `${e.numero} - ${e.assunto}, ${e.dia}, ${e.horaInicio}${e.horaFim ? \"-\" + e.horaFim : \"\"}, id ${e.id}`\n);\n\nconst mensagem =\n  `Temos os seguintes eventos nesse e-mail:\\n\\n` +\n  linhasMsg.join(\"\\n\") +\n  `\\n\\nMe informe o número do evento que você deseja alterar ou cancelar.`;\n\nreturn [{\n  json: {\n    mensagem,\n    eventos: essenciais,\n    numeroParaId: Object.fromEntries(essenciais.map(e => [String(e.numero), e.id]))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1360
      ],
      "id": "e49e5c46-4e36-4ca0-8123-ad06333d16d3",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        64,
        1792
      ],
      "id": "38a6063d-bbec-4115-acf9-197f225fbc48",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Reagendar Consulta",
        "height": 352,
        "width": 1872,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1648
      ],
      "typeVersion": 1,
      "id": "6a02f293-46f3-40f2-aba3-09db67e5dbe3",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Cancelar Consulta",
        "height": 352,
        "width": 1872,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2032
      ],
      "typeVersion": 1,
      "id": "535700d6-490b-4ead-a704-0458f63d23ea",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "383df707-d58b-4770-a5d8-aa14b37d6d3d",
              "name": "response",
              "value": "Como você sabe, sou a Emi, uma agente de IA 😊. Ainda não me treinaram para reagendar ou cancelar reuniões por aqui. Pode fazer direto no Google Calendar ou falar com o especialista por e-mail — você consegue sugerir as mudanças por lá. Tenho certeza de que logo, logo chega o meu treinamento pra eu fazer isso por você por aqui!  Quer que eu te ajude com mais alguma coisa agora?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        1360
      ],
      "id": "0cf97b18-b884-4b84-8e49-c312585f2f38",
      "name": "response2"
    },
    {
      "parameters": {
        "content": "## Buscar Horarios",
        "height": 352,
        "width": 1856,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        320
      ],
      "typeVersion": 1,
      "id": "94d075aa-4a99-4813-bf22-3d3d42e2a3a7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Marcar Consulta",
        "height": 496,
        "width": 1856,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        688
      ],
      "typeVersion": 1,
      "id": "3d21aa14-8959-4edd-8b60-8a4f5b400aad",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"type\": \"listarHorarios\",\n\"tema\": \"funding imobiliario\",\n\"dia\": \"2025-09-10\",\n\"horario\": \"2025-09-10\",\n\"email\": \"usuario@email.com\",\n\"telefone\": \"5511999999999\",\n\"nome\": \"João da Silva\",\n\"empresa\": \"Empresa X\",\n\"descricao\": \"Falou que está buscando funding para um projeto de 40 unidades e quer entender como a imersão pode acelerar sua captação\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        944
      ],
      "id": "c0621bc1-94c0-49ec-b09b-94d6db952789",
      "name": "trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "listarHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d821077-bb35-4636-ac10-7ad6c459876b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listarHorarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c971151-b71a-4f4e-9e2a-222c8047ce1a",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "agendarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c547c9e1-f130-4390-9088-65fd9282edfc",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "encontrarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encontrarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de18d8e3-b6df-4754-940b-2b534d4e4ce1",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "mudarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mudarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4260bfd0-cf2f-4f30-a395-69e4e4bc95be",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "cancelarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelarReuniao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        896
      ],
      "id": "46a8b423-aa71-4551-8de6-18a8f2b2b2d6",
      "name": "Decisão de Ação"
    },
    {
      "parameters": {
        "jsCode": "// === Pega a agenda (objeto único) ===\nconst agenda = $node[\"Definir Agenda\"].json;\n\n// === Timezone configurado na agenda ===\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\n\n// === Pega todos os eventos (array de items) ===\nconst eventosRaw = $items(\"Disponibilidade do Google Calendar\").map(item => item.json);\n\n// ---- Função correta para normalizar datas no fuso horário certo ----\nfunction toTZ(dateString, tz) {\n  return new Date(\n    new Date(dateString).toLocaleString(\"en-US\", { timeZone: tz })\n  );\n}\n\n// Normaliza eventos garantindo timezone coerente\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .map(ev => ({\n    start: toTZ(ev.start.dateTime, tz),\n    end: toTZ(ev.end.dateTime, tz),\n  }));\n\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\n// TZ e string do dia corrente (YYYY-MM-DD) no fuso da agenda\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n// Função auxiliar: próxima data para um dia da semana (pode retornar hoje)\nfunction getProximaData(dia) {\n  const hoje = new Date();\n  let data = toTZ(hoje, tz);\n  while (data.getDay() !== diasSemana[dia]) {\n    data.setDate(data.getDate() + 1);\n  }\n  return data;\n}\n\n// === Geração dos slots disponíveis ===\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataAlvo = getProximaData(dia.day);\n\n  // Garante que hours seja sempre array\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    const [hIni, mIni] = faixa.after.split(\":\").map(Number);\n    const [hFim, mFim] = faixa.before.split(\":\").map(Number);\n\n    // Ajusta datas com o fuso correto\n    const inicioDia = toTZ(dataAlvo, tz);\n    inicioDia.setHours(hIni, mIni, 0, 0);\n\n    const fimDia = toTZ(dataAlvo, tz);\n    fimDia.setHours(hFim, mFim, 0, 0);\n\n    let current = new Date(inicioDia);\n\n    while (current < fimDia) {\n      const next = new Date(current.getTime() + intervaloMin * 60000);\n      if (next > fimDia) break;\n\n      // --- Libera slots de hoje apenas se faltarem >= 30 minutos ---\n      const currentDiaStr = current.toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n      if (currentDiaStr === hojeStr) {\n        const agora = new Date();\n        const agoraTZ = toTZ(agora, tz);\n        const limite = new Date(agoraTZ.getTime() + 30 * 60000);\n\n        if (current < limite) {\n          current = next;\n          continue;\n        }\n      }\n\n      // Checa conflito com eventos\n      const ocupado = eventos.some(ev => current < ev.end && next > ev.start);\n\n      if (!ocupado) {\n        slotsLivres.push({\n          day: dia.day,\n          start: current.toISOString(),\n          end: next.toISOString(),\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\nreturn slotsLivres;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        480
      ],
      "id": "e1e69b62-b8c9-4a80-8c89-76e89b4ae279",
      "name": "Gerar Horários Livres"
    },
    {
      "parameters": {
        "jsCode": "// === Pega a agenda (objeto único) ===\nconst agenda = $node[\"Definir Agenda\"].json;\n\n// === Timezone configurado na agenda ===\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\n\n// === Pega todos os eventos (array de items) ===\nconst eventosRaw = $items(\"Obter Eventos do Google Calendar\").map(item => item.json);\n\n// ---- Função correta para normalizar datas no fuso horário certo ----\nfunction toTZ(dateString, tz) {\n  return new Date(\n    new Date(dateString).toLocaleString(\"en-US\", { timeZone: tz })\n  );\n}\n\n// Normaliza eventos garantindo timezone coerente\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .map(ev => ({\n    start: toTZ(ev.start.dateTime, tz),\n    end: toTZ(ev.end.dateTime, tz),\n  }));\n\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\n// TZ e string do dia corrente (YYYY-MM-DD) no fuso da agenda\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n// Função auxiliar: próxima data para um dia da semana (pode retornar hoje)\nfunction getProximaData(dia) {\n  const hoje = new Date();\n  let data = toTZ(hoje, tz);\n  while (data.getDay() !== diasSemana[dia]) {\n    data.setDate(data.getDate() + 1);\n  }\n  return data;\n}\n\n// === Geração dos slots disponíveis ===\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataAlvo = getProximaData(dia.day);\n\n  // Garante que hours seja sempre array\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    const [hIni, mIni] = faixa.after.split(\":\").map(Number);\n    const [hFim, mFim] = faixa.before.split(\":\").map(Number);\n\n    // Ajusta datas com o fuso correto\n    const inicioDia = toTZ(dataAlvo, tz);\n    inicioDia.setHours(hIni, mIni, 0, 0);\n\n    const fimDia = toTZ(dataAlvo, tz);\n    fimDia.setHours(hFim, mFim, 0, 0);\n\n    let current = new Date(inicioDia);\n\n    while (current < fimDia) {\n      const next = new Date(current.getTime() + intervaloMin * 60000);\n      if (next > fimDia) break;\n\n      // --- Libera slots de hoje apenas se faltarem >= 30 minutos ---\n      const currentDiaStr = current.toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n      if (currentDiaStr === hojeStr) {\n        const agora = new Date();\n        const agoraTZ = toTZ(agora, tz);\n        const limite = new Date(agoraTZ.getTime() + 30 * 60000);\n\n        if (current < limite) {\n          current = next;\n          continue;\n        }\n      }\n\n      // Checa conflito com eventos\n      const ocupado = eventos.some(ev => current < ev.end && next > ev.start);\n\n      if (!ocupado) {\n        slotsLivres.push({\n          day: dia.day,\n          start: current.toISOString(),\n          end: next.toISOString(),\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\nreturn slotsLivres;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        912
      ],
      "id": "44af0d0e-6bbe-41d4-9042-9839625cf6c5",
      "name": "Gerar Slots Livres"
    },
    {
      "parameters": {
        "jsCode": "// === Pega o 1º item do trigger (se o Code estiver em \"Run Once for All Items\")\nconst input = $items(\"trigger\")[0].json;\n// Se seu Code estiver em \"Run Once for Each Item\", use:\n// const input = $json;\n\nconst { dia, horario, nome, empresa, email, telefone, descricao } = input;\n\n// === TZ e \"hoje\" no fuso de SP ===\nconst tz = \"America/Sao_Paulo\";\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10); // YYYY-MM-DD\n\n// === Pega a lista de slots disponíveis e remove os de hoje ===\nconst slots = $items(\"Gerar Slots Livres\")\n  .map(item => item.json)\n  .filter(slot => {\n    const slotInicio = new Date(slot.start.replace(\"T\", \" \").replace(\":00.000Z\", \"\"));\n    const slotDia = String(slot.start).slice(0, 10);\n\n    const agora = new Date();\n    const agoraTZ = new Date(agora.toLocaleString(\"en-US\", { timeZone: tz }));\n    const limite = new Date(agoraTZ.getTime() + 30 * 60000); // agora + 30min\n\n    if (slotDia === hojeStr) {\n      return slotInicio >= limite;\n    }\n\n    return slotDia > hojeStr;\n  });\n\n// Normaliza slot solicitado\nconst solicitadoKey = `${dia}T${horario}`;\n\n// Procura o slot solicitado\nconst encontrado = slots.find(slot => {\n  const sKey = String(slot.start).substring(0, 16);\n  return sKey === solicitadoKey;\n});\n\n// Garante formato \"YYYY-MM-DDTHH:MM:SS\"\nfunction toYYYYMMDDTHHMMSS(s) {\n  return String(s).substring(0, 19);\n}\n\n// ======================================================\n// == DEBUG PARA APARECER NO OUTPUT =====================\n// ======================================================\n\nconst debug = {\n  agora: new Date().toISOString(),\n  hojeStr,\n  solicitadoKey,\n  slotsDepoisDoFiltro: slots.map(s => s.start),\n  totalSlotsDepoisDoFiltro: slots.length,\n  motivo: encontrado ? \"slot encontrado\" : \"slot NAO encontrado\"\n};\n\n// ======================================================\n// == SE ENCONTROU O SLOT ===============================\n// ======================================================\n\nif (encontrado) {\n  return [{\n    json: {\n      status: \"ok\",\n      message: `Horário disponível: ${dia} ${horario}. Pode agendar.`,\n      debug,  // <----- aparece no output\n      dados: {\n        nome,\n        empresa,\n        email,\n        telefone,\n        descricao,\n        inicio: { dateTime: toYYYYMMDDTHHMMSS(encontrado.start), timeZone: tz },\n        fim:    { dateTime: toYYYYMMDDTHHMMSS(encontrado.end),   timeZone: tz }\n      }\n    }\n  }];\n}\n\n// ======================================================\n// == SE NAO ENCONTROU, GERAR ALTERNATIVAS ==============\n// ======================================================\n\n// Agrupa slots por dia\nconst slotsPorDia = {};\nfor (const slot of slots) {\n  const d = String(slot.start).split(\"T\")[0];\n  (slotsPorDia[d] ||= []).push(slot);\n}\n\n// Ordena dentro de cada dia\nfor (const d in slotsPorDia) {\n  slotsPorDia[d].sort((a, b) => new Date(a.start) - new Date(b.start));\n}\n\n// Dias adjacentes\nconst solicitadoDia = dia;\nconst diaAnterior = new Date(`${dia}T00:00:00`);\ndiaAnterior.setDate(diaAnterior.getDate() - 1);\nconst diaSeguinte = new Date(`${dia}T00:00:00`);\ndiaSeguinte.setDate(diaSeguinte.getDate() + 1);\n\nconst prev = diaAnterior.toISOString().split(\"T\")[0];\nconst next = diaSeguinte.toISOString().split(\"T\")[0];\n\n// Pega alternativas básicas\nlet alternativas = [\n  ...(slotsPorDia[prev]?.slice(0, 2) || []),\n  ...(slotsPorDia[solicitadoDia]?.slice(0, 2) || []),\n  ...(slotsPorDia[next]?.slice(0, 2) || []),\n];\n\n// Expande até 7 dias\nlet offset = 2;\nwhile (alternativas.length < 2 && offset <= 7) {\n  const before = new Date(`${dia}T00:00:00`); before.setDate(before.getDate() - offset);\n  const after  = new Date(`${dia}T00:00:00`); after.setDate(after.getDate() + offset);\n\n  alternativas = [\n    ...alternativas,\n    ...(slotsPorDia[before.toISOString().split(\"T\")[0]]?.slice(0, 2) || []),\n    ...(slotsPorDia[after.toISOString().split(\"T\")[0]]?.slice(0, 2) || []),\n  ];\n  offset++;\n}\n\nalternativas = alternativas.slice(0, 6).map(slot => ({\n  inicio: { dateTime: toYYYYMMDDTHHMMSS(slot.start), timeZone: tz },\n  fim:    { dateTime: toYYYYMMDDTHHMMSS(slot.end),   timeZone: tz }\n}));\n\nreturn [{\n  json: {\n    status: \"indisponivel\",\n    message: `O horário ${dia} ${horario} não está disponível.`,\n    debug,     // <----- debug aparece no output\n    alternativas\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        912
      ],
      "id": "5f60487c-652e-4ca6-9094-b88772a9d9f1",
      "name": "Verificar Disponibilidade e Gerar Alternativas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad1726fe-95a3-42ab-8b6c-836f7b37668e",
              "name": "status",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "50e62759-8242-4df9-b4f7-b3891e645ff8",
              "name": "alternativas",
              "value": "={{ $json.alternativas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        800
      ],
      "id": "590f8046-a559-4b0a-bc5a-1e6a64db9494",
      "name": "Resposta: Horário Indisponível"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "contato@monteferrario.com.br",
          "mode": "list",
          "cachedResultName": "contato@monteferrario.com.br"
        },
        "start": "={{ $json.dados.inicio.dateTime }}",
        "end": "={{ $json.dados.fim.dateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.dados.email }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Whatsapp  {{ $json.dados.nome }}: {{ $json.dados.telefone }}\n--- {{ $json.dados.descricao }} ---",
          "guestsCanInviteOthers": true,
          "guestsCanModify": true,
          "summary": "=Reunião SDR EMI {{ $json.dados.nome }} - {{ $json.dados.empresa }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1072,
        992
      ],
      "id": "44c73fe0-df52-4eae-9f14-b8645f60b0b4",
      "name": "Agendar Reunião no Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@monteferrario.com.br",
          "mode": "list",
          "cachedResultName": "contato@monteferrario.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        480
      ],
      "id": "b5b695cd-1837-4b5b-9afb-911ecce2f708",
      "name": "Disponibilidade do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "597f2e89-0383-4155-ab3b-1a26a5037fc0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "indisponivel",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        912
      ],
      "id": "bbda5203-20a5-4d27-b3e6-9937171fd199",
      "name": "Condição de Disponibilidade"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421884092746@g.us",
        "messageText": "=Reunião agendada com  {{ $('trigger').first().json.nome }} da {{ $('trigger').first().json.empresa }} para {{ new Date($json.start.dateTime).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1312,
        992
      ],
      "id": "a211d36a-7400-47fa-9746-c071a0703665",
      "name": "Enviar log de sucesso no WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "contato@monteferrario.com.br",
          "mode": "list",
          "cachedResultName": "contato@monteferrario.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        96,
        912
      ],
      "id": "e236ae78-8ee3-40b8-821c-9a68616e98e4",
      "name": "Obter Eventos do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    }
  ],
  "connections": {
    "Definir Agenda": {
      "main": [
        [
          {
            "node": "Decisão de Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Eventos4": {
      "main": [
        [
          {
            "node": "Filtrar Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Eventos": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger": {
      "main": [
        [
          {
            "node": "Definir Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão de Ação": {
      "main": [
        [
          {
            "node": "Disponibilidade do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gerar Slots Livres": {
      "main": [
        [
          {
            "node": "Verificar Disponibilidade e Gerar Alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Disponibilidade e Gerar Alternativas": {
      "main": [
        [
          {
            "node": "Condição de Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Reunião no Google Calendar": {
      "main": [
        [
          {
            "node": "Enviar log de sucesso no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade do Google Calendar": {
      "main": [
        [
          {
            "node": "Gerar Horários Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condição de Disponibilidade": {
      "main": [
        [
          {
            "node": "Resposta: Horário Indisponível",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Reunião no Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Horários Livres": {
      "main": [
        []
      ]
    },
    "Obter Eventos do Google Calendar": {
      "main": [
        [
          {
            "node": "Gerar Slots Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "26ce4420-cabe-489e-931b-ae0b48e455da",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-26T23:19:23.470Z",
      "createdAt": "2025-11-26T23:19:23.470Z",
      "role": "workflow:owner",
      "workflowId": "YYAC7I2195NeeKZy",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}