backup/emi---6.4---social-media-ia---post-no-instagram-cEUNyG8t0OPbYkTE.json
{
  "updatedAt": "2026-01-11T23:20:14.416Z",
  "createdAt": "2025-12-15T10:09:38.818Z",
  "id": "cEUNyG8t0OPbYkTE",
  "name": "EMI - 6.4 - Social Media IA - Post no Instagram",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "content": "Here we have all parameters for posting in instagram image url, caption and instagram business profile id",
        "height": 310,
        "width": 188,
        "color": 3
      },
      "id": "3cd75bbf-3978-4148-8522-3666a6c927e0",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "FINISHED"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "544b4ed9-c6d9-47da-9667-341a9d0148fb",
      "name": "If media status is finished",
      "type": "n8n-nodes-base.if",
      "position": [
        1024,
        224
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "content": "You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node",
        "height": 102.11100456713636,
        "color": 3
      },
      "id": "fe4d7abe-1a97-4752-8ba6-b6e05bdc71f4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1232,
        400
      ],
      "id": "dc4f3c3b-0747-4008-a0c4-627c63a98815",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post Finamob deu certo!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2624,
        384
      ],
      "id": "9e8ace60-6272-4351-8f5b-075ad1534959",
      "name": "Envia log sucesso",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0",
          "mode": "list",
          "cachedResultName": "Finamob - Controle Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 253230450,
          "mode": "list",
          "cachedResultName": "social-media-emi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0/edit#gid=253230450"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "Aprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1056,
        400
      ],
      "id": "e03fbf4b-47b5-42ad-8bdc-65f619ce35f8",
      "name": "Captura as notícias aprovadas"
    },
    {
      "parameters": {
        "jsCode": "// Pega todas as linhas\nconst rows = items.map(i => i.json);\n\n// Função para checar se está aprovado\nconst isApproved = (v) => String(v || '').trim().toLowerCase() === 'aprovado';\n\n// Procura o primeiro item aprovado\nconst first = rows.find(r => \n  isApproved(r.status) && r.id_post && r.blog\n);\n\nif (!first) return []; // Nenhum aprovado encontrado\n\n// Prepara a saída\nconst out = { \n  ...first,\n  status_retorno: first.status // retorna o status\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        400
      ],
      "id": "87d4e28c-667e-46a9-aaa1-b1a0a999d6ab",
      "name": "Escolha da notícia aprovada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54fa4546-8262-4651-9b0e-ce3a2f66416f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        400
      ],
      "id": "8a27e30a-fc19-45d1-8241-33562a43d52e",
      "name": "Confirma status aprovado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68b89233-2740-4afd-a95c-72ed537d12e5",
              "name": "id_post",
              "value": "={{ $json.id_post }}",
              "type": "string"
            },
            {
              "id": "225df266-bf29-4415-b04c-2750cef4506a",
              "name": "imagem1_url",
              "type": "string",
              "value": "={{ $json.imagem1_url }}"
            },
            {
              "id": "42e44a66-490d-453f-8746-87e201e58f6c",
              "name": "imagem2_url",
              "value": "={{ $json.imagem2_url }}",
              "type": "string"
            },
            {
              "id": "f64af4b7-c2de-4003-9076-51df6440cf84",
              "name": "imagem3_url",
              "value": "={{ $json.imagem3_url }}",
              "type": "string"
            },
            {
              "id": "4d7a3761-fe9b-4fc3-94ea-232f3c7b3076",
              "name": "imagem4_url",
              "value": "={{ $json.imagem4_url }}",
              "type": "string"
            },
            {
              "id": "cbce1c25-d0d5-406d-9c83-b66953b85438",
              "name": "imagem5_url",
              "value": "={{ $json.imagem5_url }}",
              "type": "string"
            },
            {
              "id": "f20de19b-3d19-48ea-9446-81c29aa69871",
              "name": "imagem6_url",
              "value": "={{ $json.imagem6_url }}",
              "type": "string"
            },
            {
              "id": "3c87a05d-55a0-4344-9570-4e465d0ce6e7",
              "name": "imagem7_url",
              "value": "=https://raw.githubusercontent.com/getmia-ia/finamob/main/Finamob_Final_Post_Fixo.jpg",
              "type": "string"
            },
            {
              "id": "1e380c14-e908-4eeb-90e0-957a422829d0",
              "name": "instagram_business_account_id",
              "type": "string",
              "value": "17841476909595854"
            },
            {
              "id": "f35e3093-1bff-4cc6-a6c4-909dca314cc7",
              "name": "instagram_post_caption",
              "type": "string",
              "value": "={{ $json.legenda_instagram }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ce2151ce-c1ed-4c53-939c-72988074392c",
      "name": "Preparar parâmetros do post para o Instagram",
      "type": "n8n-nodes-base.set",
      "position": [
        -368,
        384
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 7,
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        400
      ],
      "id": "09e23524-da22-40f0-8cf0-748015f1528b",
      "name": "Junta todos os posts"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "=CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{JSON.stringify([\n  $('Prepara o post para o Instagram1').first().json.id,\n  $('Prepara o post para o Instagram2').first().json.id,\n  $('Prepara o post para o Instagram3').first().json.id,\n  $('Prepara o post para o Instagram4').first().json.id,\n  $('Prepara o post para o Instagram5').first().json.id,\n  $('Prepara o post para o Instagram6').first().json.id,\n  $('Prepara o post para o Instagram7').first().json.id\n])}}\n"
              },
              {
                "name": "caption",
                "value": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_post_caption }}"
              }
            ]
          }
        }
      },
      "id": "c947c484-7f8b-4861-bcb0-4cdbb221f2ef",
      "name": "Cria o carrossel para o Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        368,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "4321cc31-059d-43f9-8d04-f273f710958f",
      "name": "Verifica status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        832,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "FINISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53932f8e-2f9a-40d2-a8bf-2abf93656808"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINISHED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7089f8c6-8c1c-482e-b30d-47e92e2753bf",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1024,
        480
      ],
      "id": "3f580258-8b30-4f38-94c1-295557f4f6e1",
      "name": "Verificação de status do upload no Instagram"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post Finamob falhou!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1280,
        608
      ],
      "id": "41c95653-3a23-463e-b5f7-013697d471dc",
      "name": "Envia log de falha no WhatsApp",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_business_account_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "870401bb-519e-4c95-abe2-4e3465f7d636",
      "name": "Publicar post no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1504,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $('Verifica status do upload no Instagram').item.json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "a2527807-e51f-4e8c-8ffc-66f3fed400ab",
      "name": "Verificar status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        1728,
        416
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c98e3a-ba6b-4df7-a0c9-96994c91a690",
              "name": "id_post",
              "value": "={{ $('Preparar parâmetros do post para o Instagram').item.json.id_post }}",
              "type": "string"
            },
            {
              "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
              "name": "status",
              "value": "postado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        384
      ],
      "id": "66071c12-bd9a-4026-871d-cbc3127a4ddc",
      "name": "Foi postado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0",
          "mode": "list",
          "cachedResultName": "Finamob - Controle Journal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 253230450,
          "mode": "list",
          "cachedResultName": "social-media-emi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0/edit#gid=253230450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $json.id_post }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog",
              "displayName": "blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota",
              "displayName": "nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem7_url",
              "displayName": "imagem7_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_postagem",
              "displayName": "data_postagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2384,
        384
      ],
      "id": "9abbda1a-72ba-4568-89eb-9e619936fd6a",
      "name": "Atualiza status e dados da notícia no Sheets"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post Finamob falhou 2!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2176,
        592
      ],
      "id": "4b2ca388-940f-4708-905b-3373879cf304",
      "name": "Envia log de falha no WhatsApp1",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac6e4fc-79b5-4afe-995e-667324f0a8cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        512
      ],
      "id": "cf285152-25e0-4bd4-8ace-d3006cc48735",
      "name": "Verifica criação do post",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "PUBLISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2399a15-6adb-41cb-84e3-ff818e57bfee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PUBLISHED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb62f523-569e-45ce-aa5b-94b411ecf4a1",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "FINISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINISHED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1920,
        400
      ],
      "id": "4e15d991-d7b5-4af7-be49-9d2c8ee0364d",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem1_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "b83154f8-87f0-409c-8a2e-56b3a902b9e1",
      "name": "Prepara o post para o Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem2_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "46b0574f-8f4b-4be2-ae8e-a8d23138ed6e",
      "name": "Prepara o post para o Instagram2",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem3_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "29cf6e5e-9b1c-42ea-9485-710930e1efac",
      "name": "Prepara o post para o Instagram3",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem4_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "b1a538e5-7082-4468-86f3-273c30f93144",
      "name": "Prepara o post para o Instagram4",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem5_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "27343f2c-810c-4247-8c64-252ece7ec420",
      "name": "Prepara o post para o Instagram5",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem6_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "68c05ac0-016e-49f4-acf5-7f2bbfd7f5ec",
      "name": "Prepara o post para o Instagram6",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem7_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "6f751ac4-c2cc-4be8-b22d-d22bceae6c81",
      "name": "Prepara o post para o Instagram7",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -64,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        416
      ],
      "id": "6a33769f-8a69-47f5-8881-aaed86e35ad0",
      "name": "Wait",
      "webhookId": "b1020971-bebb-414e-9e35-f658b0e8063e"
    },
    {
      "parameters": {
        "height": 1296,
        "width": 4080
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -128
      ],
      "typeVersion": 1,
      "id": "552fe295-420e-4612-8de9-996492ab15cd",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Captura as notícias aprovadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura as notícias aprovadas": {
      "main": [
        [
          {
            "node": "Escolha da notícia aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escolha da notícia aprovada": {
      "main": [
        [
          {
            "node": "Confirma status aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirma status aprovado": {
      "main": [
        [
          {
            "node": "Preparar parâmetros do post para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar parâmetros do post para o Instagram": {
      "main": [
        [
          {
            "node": "Prepara o post para o Instagram4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta todos os posts": {
      "main": [
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o carrossel para o Instagram": {
      "main": [
        [
          {
            "node": "Verifica criação do post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Verificação de status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia log de falha no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar post no Instagram": {
      "main": [
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi postado": {
      "main": [
        [
          {
            "node": "Atualiza status e dados da notícia no Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status e dados da notícia no Sheets": {
      "main": [
        [
          {
            "node": "Envia log sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica criação do post": {
      "main": [
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Foi postado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia log de falha no WhatsApp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram1": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram2": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepara o post para o Instagram3": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepara o post para o Instagram4": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepara o post para o Instagram5": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Prepara o post para o Instagram6": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Prepara o post para o Instagram7": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Publicar post no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "42423985-3646-4d3a-903c-e538a91295d3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-15T10:09:38.818Z",
      "createdAt": "2025-12-15T10:09:38.818Z",
      "role": "workflow:owner",
      "workflowId": "cEUNyG8t0OPbYkTE",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}