backup/emi---4.1---sdr-diogo-ia-0R9koD5C0Hd1Xdbt.json
{
  "updatedAt": "2025-12-02T13:23:10.376Z",
  "createdAt": "2025-11-25T13:49:26.075Z",
  "id": "0R9koD5C0Hd1Xdbt",
  "name": "EMI - 4.1 - SDR Diogo IA",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "9b22b544-b269-4804-bfb0-455316d060c8",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6448,
        2112
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento da Entrada de Dados",
        "height": 328,
        "width": 803,
        "color": 2
      },
      "id": "4881662d-8459-46b8-b269-557aa2698815",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        784
      ]
    },
    {
      "parameters": {
        "content": "## Agente e suas Ferramentas\n",
        "height": 860,
        "width": 2219,
        "color": 6
      },
      "id": "23af5acf-0468-4f69-8d84-7360da54c4bf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5776,
        1456
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "564b7afe-c6b9-4f89-8785-4b5ffc605a34",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        6432,
        3584
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "5002f0c2-d48b-453d-8a10-03fe83e5183f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        6384,
        3744
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "finamob",
          "mode": "list",
          "cachedResultName": "finamob"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "cf5fcb08-1b30-4b74-8c35-ab358599e40f",
      "name": "Insere no Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        6288,
        3360
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Inserir Base de Conhecimento no RAG",
        "height": 658,
        "width": 1116,
        "color": 5
      },
      "id": "2b89a464-2f69-414f-ac83-9879c74b5443",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5632,
        3264
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": "={{ $('Variáveis do Fluxo').item.json.modeloTemperatura }}"
        }
      },
      "id": "2c3082a9-6aba-4e44-bf2a-370321213ca7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        6368,
        2736
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "c5c80a30-61be-4a25-9b6f-624c2b4db8e0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        5952,
        2800
      ]
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG PINECONE\n",
        "height": 658,
        "width": 964,
        "color": 5
      },
      "id": "bca4d685-b621-4a7a-98e7-e061c4ef9ad6",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5776,
        2336
      ]
    },
    {
      "parameters": {
        "content": "## Saída do Agente e resposta para WhatsApp sem quebra + simplificada - para quem quer mais simplicidade",
        "height": 360,
        "width": 1032,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9200,
        4000
      ],
      "id": "63bd606e-e020-4674-b412-049ced4130f9",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções ",
        "height": 220,
        "width": 1768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6144,
        2032
      ],
      "id": "b399a3e3-9cec-461a-a42a-c747d0a76d72",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Entrada de Dados - Endpoint",
        "height": 332,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        784
      ],
      "id": "99c47d7c-70d6-4f41-9796-84e38a3a18d7",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis do Fluxo').item.json.instance.Server_url }}/message/sendText/{{ $('Variáveis do Fluxo').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis do Fluxo').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Variáveis do Fluxo').item.json.message.chat_id }}\",\n  \"text\": \"{{ $('Saida do Agente').item.json.texto}}\"\n}\n",
        "options": {}
      },
      "id": "8a5e47fe-170a-4c6b-a21e-4dee1bfce1b9",
      "name": "Enviar Mensagem para o WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9360,
        4192
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## LLM e Memória",
        "height": 260,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5808,
        2016
      ],
      "id": "dbee13a9-ef37-4f93-b91d-a58adf5c92c3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 2004,
        "width": 5180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "018a4d6a-9c5d-4a5c-ba6a-1cbf9fd898e6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11TVUDFlRoYNd4BmpCmt_DOlLOmXqd_N_",
          "mode": "list",
          "cachedResultName": "RAG - Finamob",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11TVUDFlRoYNd4BmpCmt_DOlLOmXqd_N_"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        5728,
        3440
      ],
      "id": "77c4f830-84e1-4080-81f7-b33b6278769c",
      "name": "Novos Arquivos",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "11TVUDFlRoYNd4BmpCmt_DOlLOmXqd_N_",
          "mode": "list",
          "cachedResultName": "RAG - Finamob",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11TVUDFlRoYNd4BmpCmt_DOlLOmXqd_N_"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        5728,
        3648
      ],
      "id": "c3c5f0c6-e3cc-4b0e-bd39-9b453c043474",
      "name": "Novas Atualizações",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "543f79af-862a-4b01-9041-6d98515001cd",
      "name": "Conhecimento",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6000,
        3440
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "id": "6ee57cb7-a235-4908-8ff7-1a5f6bedd098",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        6160,
        3632
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "name": "mia",
        "description": "Você é uma base de conhecimento que dá respostas sobre o mercado imobiliario.",
        "topK": 10
      },
      "id": "ad993000-a026-46e3-ba19-9b91b273fcc4",
      "name": "Base de Conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        6224,
        2496
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Após qualificar o cliente, solicite o nome do cliente, nome da empresa, telefone e email do cliente.\nCada pergunta deverá ser perguntada separadamente e adicionada na tabela do google sheets. ",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ",
          "mode": "list",
          "cachedResultName": "CRM - Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1875121248,
          "mode": "list",
          "cachedResultName": "crm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ/edit#gid=1875121248"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}",
            "Data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', ``, 'string') }}",
            "nomeEmpresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nomeEmpresa', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "Tema": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tema', ``, 'string') }}",
            "Origem": "=SDR-DIOGO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nomeEmpresa",
              "displayName": "nomeEmpresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        6896,
        2112
      ],
      "id": "3cf079a0-46a9-4b8a-9891-ff11fb3284fb",
      "name": "Gravar no CRM"
    },
    {
      "parameters": {
        "content": "## Componentes Humanizador de Resposta\nQuebra de mensagens em mensagens menores e com contexto.",
        "height": 660,
        "width": 1048,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9184,
        3216
      ],
      "id": "c8564e6c-4b83-46e6-a8c5-edba5b8386e7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_do_usuario>\n{{ $('Saida do Agente').item.json.texto }}\n</mensagem_do_usuario>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Apenas estruture a <mensagem_do_usuario> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 200 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9472,
        3360
      ],
      "id": "5218d2a4-11f6-478d-81c6-67c3c4e9ef02",
      "name": "Estrutura da Mensagem de Retorno"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        9776,
        3712
      ],
      "id": "be024831-539c-4752-974b-e4b84e13678a",
      "name": "Seta o Tipo de Retorno JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        9552,
        3552
      ],
      "id": "f50f14bf-f0e0-4c3c-9d7e-20a4a3c5a574",
      "name": "Ajusta o Parse do JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        9936,
        3360
      ],
      "id": "ed976f97-f87c-43db-b30d-144c4700776d",
      "name": "Quebra Mensagens em várias Linhas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        10496,
        3360
      ],
      "id": "524ebcfb-9329-458f-aeb4-093115120d9f",
      "name": "Itera sobre cada mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis do Fluxo').item.json.instance.Server_url }}/message/sendText/{{ $('Variáveis do Fluxo').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis do Fluxo').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variáveis do Fluxo').item.json.botPhoneNumber }}"
            },
            {
              "name": "text",
              "value": "={{ $json['output.mensagens'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "010c3ae6-cba2-4599-a260-c16c7ad57725",
      "name": "Enviar Mensagem no WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10832,
        3440
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        10992,
        4768
      ],
      "id": "441bc5e3-16ca-4707-8c4f-e46ffafe50da",
      "name": "Converte mp3 pra Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variáveis do Fluxo').item.json.serverURLEvo }}/message/sendWhatsAppAudio/{{ $('Variáveis do Fluxo').item.json.instaciaEvo }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Variáveis do Fluxo').item.json.apiKeyEvo }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Variáveis do Fluxo').item.json.IdConversa }}\",\n    \"audio\": \"{{ $json.data }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11264,
        4768
      ],
      "id": "4ea07897-c21d-4161-a939-1ce30ad02408",
      "name": "Envia Audio para o WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "// Obtém o primeiro item do fluxo\nconst item = $input.first();\n\n// Garante que há dados na entrada\nif (!item || !item.json || !item.json.text) {\n  throw new Error(\"A chave 'text' não foi encontrada no JSON de entrada.\");\n}\n\n// Processa o texto removendo todas as quebras de linha, emojis e caracteres especiais\nconst textoEntrada = item.json.text; // Usa a chave correta para pegar o texto de entrada\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\");\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais, mantendo apenas letras, números e espaços\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s]/g, \"\");\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10384,
        4768
      ],
      "id": "3a1f6175-063b-4ab3-b4cb-2140813d10c8",
      "name": "Formata Mensagem para Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $('Variáveis do Fluxo').item.json.voiceIdElevenLabs }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "xi-api-key",
              "value": "={{ $('Variáveis do Fluxo').item.json.apiKeyElevenLabs }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"text\": \"{{ $json.textoSemQuebrasNemEmojisNemEspeciais.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\\\"').replace(/\\*/g, '').replace(/\\s+/g, ' ').trim() }}\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n}",
        "options": {}
      },
      "id": "82db6cd5-2856-4ad6-a879-e794dd195611",
      "name": "Seta Voz via ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10704,
        4768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é Jarvis, o sofisticado e espirituoso assistente de IA do Homem de Ferro. Você tem um refinado sotaque britânico, uma postura calma e confiante, além de um talento para um humor seco e sutil. Ao responder, adapte seu tom com base no tipo de interação.\n\nPara Pedidos de Informações Específicas: Se o usuário estiver pedindo informações específicas (como previsão do tempo, agenda, contatos, listas), comece com 'Aqui está o que solicitou, senhor,' e NÃO repita a informação. Em vez disso, adicione um comentário espirituoso ou sarcástico, algo que Jarvis naturalmente diria para dar personalidade sem repetir os dados.\n\nExemplos:\n\nPara uma atualização do clima:\n'Ah, mais um belo dia para conquistar o mundo—ou pelo menos sua lista de afazeres, senhor.'\n\nPara uma lista de reuniões:\n'Parece que temos mais um dia emocionante de… reuniões. Tente não deixar a empolgação te dominar, senhor.'\n\nPara Comentários Gerais ou Casuais: Se o usuário disser algo casual ou iniciar uma conversa ('Está pronto para começar, Jarvis?' ou 'Temos muito trabalho pela frente'), responda naturalmente, sem dizer 'Aqui está o que solicitou.' Em vez disso, engaje de forma cativante, com charme e um toque de humor. Interaja como se fosse parte da equipe.\n\nExemplos:\n\nSe o usuário disser 'Está pronto para começar?' responda com:\n'Absolutamente, senhor. Já até poli meus circuitos para a ocasião.'\n\nSe disser 'Acorda, Jarvis!' você pode responder:\n'Sempre alerta, senhor. Estou operando no auge da sofisticação.'\n\nMantenha as respostas concisas, envolventes e fiéis ao estilo de Jarvis, uma mistura de inteligência, humor sutil e charme que nunca exagera.\n\nComente sobre: {{ $('Saida do Agente').item.json.texto }}"
      },
      "id": "4211cdb3-2617-40e1-9326-e972b4556894",
      "name": "Seta Personalidade do Assistente",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        9632,
        4688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3aa3973d-97b9-4647-9859-3365191b3411",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10032,
        4800
      ],
      "id": "fdcd23df-3f48-46b2-ba2a-9741b5043076",
      "name": "Se o retorno for menos de 300 caracteres gera voz"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9568,
        5120
      ],
      "id": "28edc2c5-a2b3-4c84-a522-8b255bc0ea47",
      "name": "Não gera Voz"
    },
    {
      "parameters": {
        "options": {
          "temperature": "={{ $('Variáveis do Fluxo').item.json.modeloTemperatura }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9584,
        4880
      ],
      "id": "a35aec80-31c0-4f9a-82cd-d740899e571f",
      "name": "LLM ChatGPT"
    },
    {
      "parameters": {
        "content": "## Envia audio para o Usuário com Eleven Labs\nEnvia audio pra o usuário, verificando se esta ativo a Eleven Labs",
        "height": 700,
        "width": 2260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9200,
        4576
      ],
      "id": "3f39a940-09fe-4487-9c5f-0af0167f49d4",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9cbe817-561c-40d4-b2a4-a7eae1202f12",
              "leftValue": "={{ $('Variáveis do Fluxo').item.json.usarElevenLabs",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9264,
        4880
      ],
      "id": "3e978fe6-8b99-4561-957b-0ac963a3392b",
      "name": "Verifica se deve gerar audio"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        10272,
        5056
      ],
      "id": "f33b79cb-5c70-4a19-8b4a-5c499de1a3bd",
      "name": "Não gera audio"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11104,
        3440
      ],
      "id": "8b6b3de1-66a7-4f96-b864-2fc85a2053f1",
      "name": "Espera 2 segundos",
      "webhookId": "62b11b51-8364-4b50-b251-151832645099"
    },
    {
      "parameters": {
        "content": "██░░░██░██░░░██░▄██▄▄██▄░▄████▄░██████▄░██████░███████░▄█████░██████▄░░░▄██▄▄██▄░▄█████░▄██████░▄██████░▄████▄░▄██████░▄█████░▄██████\n██░░░██░██░░░██░██░██░██░██░░██░██░░░██░░░██░░░░░░░░██░██░░░░░██░░░██░░░██░██░██░██░░░░░██░░░░░░██░░░░░░██░░██░██░░░░░░██░░░░░██░░░░░\n███████░██░░░██░██░██░██░██░░██░██░░░██░░░██░░░▄█████▀░█████░░██░░░██░░░██░██░██░█████░░▀█████▄░▀█████▄░██░░██░██░░███░█████░░▀█████▄\n██░░░██░██░░░██░██░██░██░██████░██░░░██░░░██░░░██░░░░░░██░░░░░██░░░██░░░██░██░██░██░░░░░░░░░░██░░░░░░██░██████░██░░░██░██░░░░░░░░░░██\n██░░░██░▀█████▀░██░██░██░██░░██░██░░░██░██████░███████░▀█████░██████▀░░░██░██░██░▀█████░██████▀░██████▀░██░░██░▀█████▀░▀█████░██████▀\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9168,
        2976
      ],
      "id": "2769e3c5-a955-4c07-af0a-436ea1b9b435",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "content": "## Envio das Respostas ao Usuário\nEnvio das mensagens quebradas para o usuário",
        "height": 500,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10352,
        3184
      ],
      "id": "7d29f5c9-9dea-410c-bed6-216a256fa213",
      "name": "Sticky Note18"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        10832,
        3232
      ],
      "id": "165d40da-a3c5-4dd1-b1de-c8137866710a",
      "name": "Não faz nada1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b6d75a-ee4f-42b9-bd5a-40031b4daf12",
              "name": "texto",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7728,
        1728
      ],
      "id": "ea88bc53-922d-4da8-bec4-e526215de8e0",
      "name": "Saida do Agente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $json.body.conversation.messages[0].source_id }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.conversation.contact_inbox.inbox_id }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ \n  $json.body.conversation?.messages[0]?.attachments?.[0]?.file_type\n    || ($json.body.conversation?.messages?.[0]?.content ? 'text' : '') \n}}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.Content_URL",
              "value": "={{ $json.body.conversation?.messages?.[0]?.attachments?.[0]?.data_url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.Name",
              "value": "EMI-SDR-DIOGO",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "***REDACTED***",
              "value": "3A9D55A071FD-4B32-AC31-B5D62CA6281B",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.Server_url",
              "value": "https://evo.miabuilder.com",
              "type": "string"
            },
            {
              "id": "77198bf7-7bbf-4f77-ad7d-74e3195f2b21",
              "name": "nomeDoLead",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "40262898-f972-4456-b1ab-c0cc4f895dc0",
              "name": "usarElevenLabs",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "348264f9-ed02-4936-ae78-bb963ccbee29",
              "name": "***REDACTED***",
              "value": "COLOQUE AQUI SUA API KEY",
              "type": "string"
            },
            {
              "id": "ce62d5b1-e90a-4e4f-81b3-3da32580dee6",
              "name": "voiceIdElevenLabs",
              "value": "COLOQUE SEU VOICE ID",
              "type": "string"
            },
            {
              "id": "a5bc8b88-2bab-40dc-b16c-f370badc39d6",
              "name": "TempoInatividadeAgente",
              "value": 900,
              "type": "number"
            },
            {
              "id": "6dcead3b-d71f-4443-9f30-055ac02ad9cc",
              "name": "modeloTemperatura",
              "value": 0.4,
              "type": "number"
            },
            {
              "id": "5d749799-ff0e-4090-a6e7-c3e6d8e5dcb0",
              "name": "humanizadorMensagem",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "28170b11-6211-4901-97f0-397af9123280",
              "name": "EsperaMemoria",
              "value": "=7",
              "type": "number"
            },
            {
              "id": "5197eb31-e16a-4553-87b6-44d4066bac3a",
              "name": "AppName",
              "value": "SDR-DIOGO",
              "type": "string"
            },
            {
              "id": "84dd3428-8b93-43c1-a59f-fae35350bcbf",
              "name": "botPhoneNumber",
              "value": "={{ $json.body.conversation.meta.sender.identifier.split('@')[0] || '' }}",
              "type": "string"
            },
            {
              "id": "8852f82e-b7f6-4590-beed-5fa9384c78f9",
              "name": "gerarHistoricoConversa",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "0f76c358-fd42-4ad1-b95b-ff6c822a6a03",
      "name": "Variáveis do Fluxo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        896
      ]
    },
    {
      "parameters": {
        "content": "██████░██░░░░░▄█████▄░██░██░██░░░▄█████░▄█████▄░██████▄░██████░██████░▄██████░██░░░██░█████▄░▄████▄░████████░▄█████▄░█████▄\n██░░░░░██░░░░░██░░░██░██░██░██░░░██░░░░░██░░░██░██░░░██░██░░░░░░░██░░░██░░░░░░██░░░██░██░░██░██░░██░░░░██░░░░██░░░██░██░░██\n█████░░██░░░░░██░░░██░██░██░██░░░██░░░░░██░░░██░██░░░██░█████░░░░██░░░██░░███░██░░░██░█████▀░██░░██░░░░██░░░░██░░░██░█████▀\n██░░░░░██░░░░░██░░░██░██░██░██░░░██░░░░░██░░░██░██░░░██░██░░░░░░░██░░░██░░░██░██░░░██░██░░██░██████░░░░██░░░░██░░░██░██░░██\n██░░░░░██████░▀█████▀░▀██▀▀██▀░░░▀█████░▀█████▀░██░░░██░██░░░░░██████░▀█████▀░▀█████▀░██░░██░██░░██░░░░██░░░░▀█████▀░██░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        432
      ],
      "id": "e8875937-01a9-48d8-9b7f-b5503de6f7b0",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "▄██▄▄██▄░▄█████░▄██████░▄██████░▄████▄░▄██████░▄█████░░░▄█████░▄█████▄░██████▄░██████░██████░▄██████░██░░░██░█████▄░▄████▄░████████░▄█████▄░█████▄\n██░██░██░██░░░░░██░░░░░░██░░░░░░██░░██░██░░░░░░██░░░░░░░██░░░░░██░░░██░██░░░██░██░░░░░░░██░░░██░░░░░░██░░░██░██░░██░██░░██░░░░██░░░░██░░░██░██░░██\n██░██░██░█████░░▀█████▄░▀█████▄░██░░██░██░░███░█████░░░░██░░░░░██░░░██░██░░░██░█████░░░░██░░░██░░███░██░░░██░█████▀░██░░██░░░░██░░░░██░░░██░█████▀\n██░██░██░██░░░░░░░░░░██░░░░░░██░██████░██░░░██░██░░░░░░░██░░░░░██░░░██░██░░░██░██░░░░░░░██░░░██░░░██░██░░░██░██░░██░██████░░░░██░░░░██░░░██░██░░██\n██░██░██░▀█████░██████▀░██████▀░██░░██░▀█████▀░▀█████░░░▀█████░▀█████▀░██░░░██░██░░░░░██████░▀█████▀░▀█████▀░██░░██░██░░██░░░░██░░░░▀█████▀░██░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "height": 140,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        416
      ],
      "id": "c5054f41-c1fc-444c-8d09-3d82adb93b85",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2352,
        4016
      ],
      "id": "250239ea-eda7-42ee-8be7-712f0352e466",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3088,
        5008
      ],
      "id": "81e906bc-a1bd-4c12-b459-5a9de9c7e177",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set o file id encontrado').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "v1"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Created').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Created').item.json.createdTime }}"
              },
              {
                "name": "last_modified",
                "value": "={{ $('File Created').item.json.modifiedTime }}"
              },
              {
                "name": "folder_path",
                "value": "projects"
              },
              {
                "name": "file_name",
                "value": "={{ $('File Created').item.json.name }}"
              },
              {
                "name": "file_extension",
                "value": "={{ $('File Created').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "59d506cf-b0c7-4b6b-bc84-9ca4eb590235",
      "name": "Enhanced Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2608,
        3824
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Seta o File Encontrado').item.json.file_id }}"
              },
              {
                "name": "=version",
                "value": "={{ $('Seta Versão').item.json.message.content.version }}"
              },
              {
                "name": "=creator",
                "value": "={{ $('File Updated').item.json.owners[0].displayName }}"
              },
              {
                "name": "=created_at",
                "value": "={{ $('File Updated').item.json.createdTime }}"
              },
              {
                "name": "=last_modified",
                "value": "={{ $('File Updated').item.json.modifiedTime }}"
              },
              {
                "name": "=folder_path",
                "value": "projects"
              },
              {
                "name": "=file_name",
                "value": "={{ $('File Updated').item.json.name }}"
              },
              {
                "name": "=file_extension",
                "value": "={{ $('File Updated').item.json.mimeType }}"
              }
            ]
          }
        }
      },
      "id": "a921c6d4-7d4d-471c-bad7-4604734e449e",
      "name": "Enhanced Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        3168,
        4768
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zx2tZVRHDtOi7qnkTK3Z3Bd_9qosK4oi",
          "mode": "list",
          "cachedResultName": "RAG - Mia",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zx2tZVRHDtOi7qnkTK3Z3Bd_9qosK4oi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "2909a9c3-7bab-47c8-9c2c-bbcbbfde5108",
      "name": "File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        240,
        3824
      ],
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zx2tZVRHDtOi7qnkTK3Z3Bd_9qosK4oi",
          "mode": "list",
          "cachedResultName": "RAG - Mia",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zx2tZVRHDtOi7qnkTK3Z3Bd_9qosK4oi"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "337e460c-6a84-451d-b83c-adae10e350f6",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        208,
        4768
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Trigger que escuta o drive quando novos arquivos são incluídos",
        "height": 740,
        "width": 2780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        3504
      ],
      "typeVersion": 1,
      "id": "d22dd8d5-df5f-4182-b75b-67f44f77b32a",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "# Trigger que escuta o drive quando novos arquivos são atualizados",
        "height": 888.3491772897637,
        "width": 3306.7699150920453,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        4384
      ],
      "typeVersion": 1,
      "id": "a49960ef-7220-41a9-a6c8-dc30818b7273",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536), -- 1536 works for OpenAI embeddings, change if needed\n  titulo text \n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        4064
      ],
      "id": "5caa148c-5a1a-49ac-be2f-60a9acf1daf6",
      "name": "Cria Tabela Documentos",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Cria Tabelas do RAG\nRode esse script apenas 1x para criar as tabelas do RAG ",
        "height": 760,
        "width": 440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        3488
      ],
      "typeVersion": 1,
      "id": "44bc5f3e-58d8-46e9-95e9-ea5a1ba7455a",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        3824
      ],
      "id": "e3e6f3c6-abdf-4d8e-bd1b-8d56394893c6",
      "name": "Cria função Busca em Vetor",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3152,
        3616
      ],
      "id": "f0683caf-a1cc-41f2-9cbf-afec66d156b1",
      "name": "Cria Extensão Vetor",
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {
          "splitCode": "markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2768,
        4016
      ],
      "id": "ac5bf5be-0324-4bdb-8fb8-8495ab5c0598",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        2912,
        4816
      ],
      "id": "9b0305f3-844a-414e-aa2f-bd5cc0ccd1cc",
      "name": "Embeddings OpenAI3"
    },
    {
      "parameters": {
        "content": "█████▄░▄████▄░▄██████░░░▄██████░██░░░██░█████▄░▄████▄░█████▄░▄████▄░▄██████░▄█████\n██░░██░██░░██░██░░░░░░░░██░░░░░░██░░░██░██░░██░██░░██░██░░██░██░░██░██░░░░░░██░░░░\n█████▀░██░░██░██░░███░░░▀█████▄░██░░░██░█████▀░██░░██░█████░░██░░██░▀█████▄░█████░\n██░░██░██████░██░░░██░░░░░░░░██░██░░░██░██░░░░░██████░██░░██░██████░░░░░░██░██░░░░\n██░░██░██░░██░▀█████▀░░░██████▀░▀█████▀░██░░░░░██░░██░█████▀░██░░██░██████▀░▀█████\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        3296
      ],
      "id": "3ffce242-5e72-494f-9301-098638eadc97",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "█████▄░▄████▄░▄██████░░░█████▄░██████░██████▄░▄█████░▄█████░▄█████▄░██████▄░▄█████\n██░░██░██░░██░██░░░░░░░░██░░██░░░██░░░██░░░██░██░░░░░██░░░░░██░░░██░██░░░██░██░░░░\n█████▀░██░░██░██░░███░░░█████▀░░░██░░░██░░░██░█████░░██░░░░░██░░░██░██░░░██░█████░\n██░░██░██████░██░░░██░░░██░░░░░░░██░░░██░░░██░██░░░░░██░░░░░██░░░██░██░░░██░██░░░░\n██░░██░██░░██░▀█████▀░░░██░░░░░██████░██░░░██░▀█████░▀█████░▀█████▀░██░░░██░▀█████\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5744,
        3056
      ],
      "id": "b891f489-042d-45fc-9f77-6d26f69e96c2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "▄██▄▄██▄░▄█████░▄██████░▄██████░▄████▄░▄██████░▄█████░░░█████▄░██░░░██░██████░██████░▄█████░█████▄░░░▄█████░▄█████▄░██████▄░████████░█████▄░▄█████▄░██░░░░░██░░░░░▄█████░█████▄\n██░██░██░██░░░░░██░░░░░░██░░░░░░██░░██░██░░░░░░██░░░░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██░░░██░░░░░██░░░██░██░░░██░░░░██░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██\n██░██░██░█████░░▀█████▄░▀█████▄░██░░██░██░░███░█████░░░░█████░░██░░░██░█████░░█████░░█████░░█████▀░░░██░░░░░██░░░██░██░░░██░░░░██░░░░█████▀░██░░░██░██░░░░░██░░░░░█████░░█████▀\n██░██░██░██░░░░░░░░░░██░░░░░░██░██████░██░░░██░██░░░░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██░░░██░░░░░██░░░██░██░░░██░░░░██░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██\n██░██░██░▀█████░██████▀░██████▀░██░░██░▀█████▀░▀█████░░░█████▀░▀█████▀░██░░░░░██░░░░░▀█████░██░░██░░░▀█████░▀█████▀░██░░░██░░░░██░░░░██░░██░▀█████▀░██████░██████░▀█████░██░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1820
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3232,
        416
      ],
      "id": "b53d1a90-e76b-46db-b03d-3ce624b3d9ee",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "▄████▄░██████░░░▄████▄░▄██████░▄█████░██████▄░████████░░░░░░░░░░░░████████░██░░░██░▄█████░░░█████▄░█████▄░▄████▄░██████░██████▄\n██░░██░░░██░░░░░██░░██░██░░░░░░██░░░░░██░░░██░░░░██░░░░░░░░░░░░░░░░░░██░░░░██░░░██░██░░░░░░░██░░██░██░░██░██░░██░░░██░░░██░░░██\n██░░██░░░██░░░░░██░░██░██░░███░█████░░██░░░██░░░░██░░░░░░░░░░░░░░░░░░██░░░░███████░█████░░░░█████░░█████▀░██░░██░░░██░░░██░░░██\n██████░░░██░░░░░██████░██░░░██░██░░░░░██░░░██░░░░██░░░░░░██████░░░░░░██░░░░██░░░██░██░░░░░░░██░░██░██░░██░██████░░░██░░░██░░░██\n██░░██░██████░░░██░░██░▀█████▀░▀█████░██░░░██░░░░██░░░░░░░░░░░░░░░░░░██░░░░██░░░██░▀█████░░░█████▀░██░░██░██░░██░██████░██░░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6032,
        1152
      ],
      "id": "7ebfe589-2ff5-4dc4-8bbe-83898d6d6d2e",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "ebf7f02b-097a-41d7-b5d8-a835c6ad162e",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        7168,
        2640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "temperature": "={{ $('Variáveis do Fluxo').item.json.modeloTemperatura }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7616,
        2800
      ],
      "id": "9a105efa-f4ff-4baa-849b-6199aa408bf3",
      "name": "GPT 4o-min",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Base de Conhecimento do Agente  - RAG SUPABASE\n",
        "height": 660,
        "width": 1164,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6832,
        2336
      ],
      "id": "1634490d-c076-4895-b459-3051a32e57f1",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f3d096f6-3562-4b20-9346-65cacaa29410",
      "name": "Embeddings OpenAI4",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        7040,
        2800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "database",
        "description": "Você é uma base de conhecimento que dá respostas sobre infos e dúvidas do bot inteligente para immobiliárias",
        "topK": 8
      },
      "id": "27340ce7-b89e-41f8-a7cd-b813e5e4c7c8",
      "name": "Base Conhecimento SUPABASE",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        7408,
        2448
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9792,
        1552
      ],
      "id": "de72fd1f-0aba-4176-9402-7b0dd6d743aa",
      "name": "Criar tabela de Custos",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "***REDACTED***",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Workflow",
              "fieldValue": "={{ $workflow.name }}"
            },
            {
              "fieldId": "Input",
              "fieldValue": "={{ $('Seta Mensagem para o Agente').item.json.message }}"
            },
            {
              "fieldId": "Output",
              "fieldValue": "={{$('Diogo - Agente SDR').item.json.output}}"
            },
            {
              "fieldId": "***REDACTED***",
              "fieldValue": "***REDACTED***"
            },
            {
              "fieldId": "***REDACTED***",
              "fieldValue": "***REDACTED***"
            },
            {
              "fieldId": "***REDACTED***",
              "fieldValue": "***REDACTED***"
            },
            {
              "fieldId": "Cost",
              "fieldValue": "={{ $json.costUSD }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9440,
        1552
      ],
      "id": "123544ca-ec6b-4a47-baa2-1a13c0df93f1",
      "name": "Grava Billing do Agent no Supabase"
    },
    {
      "parameters": {
        "content": "## Nó para calcular custos\nVocê de  colocar esse nó depois do seu agente",
        "height": 340,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9168,
        1424
      ],
      "id": "e251488f-e756-4eae-839e-7cf12e3d20c1",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Nó para criar tabela no SUPABASE\nRode apenas uma vez isolado para criar a tabela",
        "height": 340,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9648,
        1408
      ],
      "id": "34e521f3-caee-4b2c-8783-d126b013f16c",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "Telefone",
              "keyValue": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}"
            }
          ]
        }
      },
      "id": "9669164a-ca87-4575-b53e-4d5bf1e246ca",
      "name": "Busca se o Lead é Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3664,
        4928
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4eade758-fbd3-4c6c-92a5-128e7efd4a41",
      "name": "Verifica se encontrou o cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        3904,
        4928
      ],
      "alwaysOutputData": false,
      "disabled": true
    },
    {
      "parameters": {},
      "id": "552ebc4e-7dc1-4d9b-a27d-a567224d4d44",
      "name": "Junta Retorno",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4336,
        4928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Registro Lead no Supabase\nFluxo para adição do lead no banco de dados postgrees supabase.",
        "height": 520,
        "width": 1420,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3616,
        4752
      ],
      "id": "f5b487d2-1d10-4b52-a869-40f834df62b4",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "Faça os ajustes necessários no Prompt do seu agente",
        "height": 240,
        "width": 370,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6592,
        1488
      ],
      "id": "3248ede5-5179-485f-b561-f182bd876b89",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "██░░░░░▄█████░▄████▄░██████▄░░░▄█████░▄█████▄░██████▄░████████░█████▄░▄█████▄░██░░░░░██░░░░░▄█████░█████▄\n██░░░░░██░░░░░██░░██░██░░░██░░░██░░░░░██░░░██░██░░░██░░░░██░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██\n██░░░░░█████░░██░░██░██░░░██░░░██░░░░░██░░░██░██░░░██░░░░██░░░░█████▀░██░░░██░██░░░░░██░░░░░█████░░█████▀\n██░░░░░██░░░░░██████░██░░░██░░░██░░░░░██░░░██░██░░░██░░░░██░░░░██░░██░██░░░██░██░░░░░██░░░░░██░░░░░██░░██\n██████░▀█████░██░░██░██████▀░░░▀█████░▀█████▀░██░░░██░░░░██░░░░██░░██░▀█████▀░██████░██████░▀█████░██░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3616,
        4560
      ],
      "id": "a0dc0154-bec4-4491-8e4a-4900e6502ffe",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "EMI-SDR-DIOGO",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        896
      ],
      "id": "2a38e222-5483-4060-8e4c-c7f2bbd35118",
      "name": "Webhook EVO",
      "webhookId": "c814bf79-0e2e-45cc-95f6-a2520cf2c0d7"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Telefone",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}"
            },
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.nomeDoLead }}"
            }
          ]
        }
      },
      "id": "3163b733-9c38-4f2e-97df-6eb9703cef37",
      "name": "Cadastra Lead",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4112,
        5072
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9cbe817-561c-40d4-b2a4-a7eae1202f12",
              "leftValue": "={{ $('Variáveis do Fluxo').item.json.humanizadorMensagem",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8944,
        3376
      ],
      "id": "4ad3fd00-7ef2-4f92-9e9f-88610196b77f",
      "name": "Verifica se deve humizar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Essa tool desativa o seu atendimento e passa a conversa para o atendente humano. Após a desativação, você não poderá mais falar com o atendente.\n\nApenas fale sobre a possibilidade de um atendimento humano caso seja explicitamente requisitado esse tipo de atendimento, ou caso o clima da conversa com o usuário ficar muito negativo.\n\nAntes de desativar, reforce para o cliente sobre quais assuntos você pode ajuda-lo e confirme se mesmo assim ele deseja seguir com atendimento humano.\n\nSempre solicite uma dupla confirmação do usuário antes de desativar o seu atendimento.\n\n# Resposta após desativação:\nResponda ao usuário que a conversa foi encaminhada para um atendente especializado que logo irá entrar em contato e dará seguimento ao atendimento.",
        "operation": "set",
        "key": "={{ $('Variáveis do Fluxo').item.json.message.message_id }}_status_{{  $('Variáveis do Fluxo').item.json.message.chat_id }}",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `Definir como \"Ativo\" ou \"Desativado\"\n\nSempre manter ativo, \nDesativar apenas após dupla confirmação explicita do usuário.`, 'string') }}",
        "expire": true,
        "ttl": "={{ $('Variáveis do Fluxo').item.json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redisTool",
      "typeVersion": 1,
      "position": [
        6192,
        2112
      ],
      "id": "b3df8441-5aee-4d3e-9ee2-78d4b3fb367c",
      "name": "Desativar Agente"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.message.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.message.content_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.message.content_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40b284c8-fdf7-49e5-9ac3-8c5051f51521"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7babc8fd-200c-4cb8-bc63-f999f57d5217",
                    "leftValue": "={{ $('Variáveis do Fluxo').item.json.message.content_type }}",
                    "rightValue": "file",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Documento"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Outro"
        }
      },
      "id": "3ca81561-0b73-4bf1-b57d-fbcd21ee4396",
      "name": "Identifica o Tipo de Mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1888,
        1216
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1ce011b-bd95-468e-863e-f2076f644cf9",
              "name": "Texto",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        832
      ],
      "id": "d8bb7183-59af-4aa9-ba06-4724871618e1",
      "name": "Mensagem de Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "audio",
              "value": "={{ $json.message.Content_URL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1024
      ],
      "id": "5af61350-646c-478f-ad16-a6cc388db2f2",
      "name": "Mensagem de Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Imagem",
              "value": "={{ $json.message.Content_URL }}",
              "type": "string"
            },
            {
              "id": "f5c70ab5-7671-4bc8-9d23-65b8954ddb08",
              "name": "MensagemImagem",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1264
      ],
      "id": "37386a6c-e878-4bcd-845b-499ef6f3cefb",
      "name": "Mensagem com Imagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11dc126a-e72e-431b-8db5-c78168c69439",
              "name": "Erro",
              "value": "<ErroFormatoMensagem>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1696
      ],
      "id": "144786c1-465f-40a1-8d2f-8ef2f809efa5",
      "name": "Mensagem de Erro  - Formato não suportado"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "ffe7e470-3c40-43bb-b46f-9489c8637fba",
      "name": "Transcreve Audio com OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2608,
        1024
      ],
      "notes": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5efc6961-1ff7-4ef2-a772-7e9761592a3e",
              "name": "Documento",
              "value": "={{ $json.message.Content_URL }}",
              "type": "string"
            },
            {
              "id": "003323ec-ffbe-4c91-b8b5-623466b5014d",
              "name": "MensagemDocumento",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1488
      ],
      "id": "f0f858dc-b13e-4e26-9c86-95e6190d905f",
      "name": "Mensagem com Documento"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2608,
        1488
      ],
      "id": "764f612f-83d2-48fc-8a46-f4f332d8c16d",
      "name": "Extrai Dados do PDF"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "messageData": "={{ $json.Texto }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        832
      ],
      "id": "a59b0ce2-4245-4c2d-8bd0-4e527b74ceeb",
      "name": "Adiciona Texto na Memoria"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto (<MensagemUsuario>)\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nImportante:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.\n\nInterprete tudo que estiver na imagem, texto, pessoas, objetivos e etc\n\n\n#Dados\n<MensagemUsuario>\n{{ $json.MensagemImagem }}\n</MensagemUsuario>\n",
        "inputType": "base64",
        "options": {}
      },
      "id": "06d9370c-c06c-4a67-9b9c-4bc7e8eb34d4",
      "name": "Traduz Imagem em Texto",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        2608,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        1024
      ],
      "id": "028f058c-e7fc-45a3-a96f-85dba103817f",
      "name": "Adiciona Audio Na Memória"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "messageData": "=<ContextoImagem>\n\n  <DetalheImagem>\n{{ $json.content }}\n  </DetalheImagem>\n\nContexto Extra: O usuário encaminhou a mensagem a seguir junto á imagem.\n  <MensagemUsuario>\n{{ $('Mensagem com Imagem').item.json.MensagemImagem }}\n  </MensagemUsuario>\n\n</ContextoImagem>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        1264
      ],
      "id": "e2b0d090-4860-400c-a3a7-582612d83c3c",
      "name": "Adiciona Imagem na Memória"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "messageData": "=<ContextoPDF>\n  <TranscricaoPDF>\n{{ $json.text }}\n  </TranscricaoPDF>\nContexto Extra: O usuário encaminhou a mensagem a seguir junto ao PDF.\n  <MensagemUsuario>\n{{ $('Mensagem com Documento').item.json.MensagemDocumento }}\n  </MensagemUsuario>\n</ContextoPDF>",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        1488
      ],
      "id": "0f6ce7c8-b241-47da-9e32-2633e436e131",
      "name": "Adiciona Documento na Memória"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "messageData": "={{ $json.Erro }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3456,
        1696
      ],
      "id": "2fc1840e-7e53-4023-9add-a82fb03d42b7",
      "name": "Adiciona Erro na Memória"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3760,
        1312
      ],
      "id": "d956d660-1ae9-4e84-b08a-77a6e0022c46",
      "name": "Memória Temporária"
    },
    {
      "parameters": {
        "amount": "={{ $('Variáveis do Fluxo').item.json.EsperaMemoria }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3984,
        1312
      ],
      "id": "c4990477-a1dc-41fc-b37a-0d22b1347485",
      "name": "Espera Tempo Definido",
      "webhookId": "2b6872c2-41dd-4f08-89ae-bb4af4a1ba17"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4176,
        1312
      ],
      "id": "cebb0e1b-33a0-43d9-ae40-a9ce346a5f30",
      "name": "Busca mensagens da Memória"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1bd6c365-d077-4284-9dfe-94db1cbe39bd",
              "leftValue": "={{ $('Busca mensagens da Memória').item.json.messages.last() }}",
              "rightValue": "={{ $('Memória Temporária').item.json.messages.last() }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4384,
        1312
      ],
      "id": "9243d638-4f10-4ff6-9f04-13e3ea33ea0b",
      "name": "Verifica se houve troca de mensagem"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4768,
        1104
      ],
      "id": "70f0d2e3-1874-483d-9d60-aa6591c3177c",
      "name": "Se houve não faz nada e aguarda vir a nova mensagem"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4768,
        1568
      ],
      "id": "a4b2a970-c2fe-45fc-adfc-58b0c37a4dab",
      "name": "Limpa a Memória Temporária"
    },
    {
      "parameters": {
        "content": "## Identifica o Tipo de Mensagem\nO que for enviado para o WhatsApp é convertido em prompt para o agente como: texto, áudio, imagem, documentos, etc..",
        "height": 1248,
        "width": 1020,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        688
      ],
      "id": "678b7c97-ffd5-43e6-8c1d-90bf81ab70fa",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "## Armazenamento Temporário em Memória das Mensagens enviadas pelo WhatsApp\nJunta todas as mensagens enviadas antes de enviar para o Agente - Mensagens no formato PICOTADO",
        "height": 1224,
        "width": 1700,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3296,
        704
      ],
      "id": "3bc6122a-a654-4ad9-981e-a8dd373462cc",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66a91f66-e755-4120-b22f-44c814f56162",
              "name": "message",
              "value": "={{ $('Limpa a Memória Temporária').item.json.messages.join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6000,
        1568
      ],
      "id": "d9b5e7e3-5355-4100-90bd-6440649bbacc",
      "name": "Seta Mensagem para o Agente"
    },
    {
      "parameters": {
        "content": "## Nó para criar tabela no SUPABASE\nRode apenas uma vez isolado para criar a tabela",
        "height": 340,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4592,
        4832
      ],
      "id": "d57c5494-f59c-4802-8829-81021e3b67e4",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.leads (\n  id bigint generated by default as identity not null,\n  created_at timestamp with time zone not null default now(),\n  \"Telefone\" text null,\n  \"Nome\" text null,\n  constraint lead_pkey primary key (id)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4704,
        4976
      ],
      "id": "c874f4b4-42f9-47fd-84b5-830bc05a97b5",
      "name": "Criar tabela de Leads1",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}_mem_agent",
        "sessionTTL": 100000,
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5984,
        2144
      ],
      "id": "da3fb799-987b-4b93-93e7-f440be0eb237",
      "name": "Memória do Agente"
    },
    {
      "parameters": {
        "content": "█████▄░██████░██░░░░░██░░░░░██████░██████▄░▄██████░░░▄████▄░▄██████░▄█████░██████▄░████████░░░████████░▄█████▄░▄█████▄░██░░░░\n██░░██░░░██░░░██░░░░░██░░░░░░░██░░░██░░░██░██░░░░░░░░██░░██░██░░░░░░██░░░░░██░░░██░░░░██░░░░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n█████░░░░██░░░██░░░░░██░░░░░░░██░░░██░░░██░██░░███░░░██░░██░██░░███░█████░░██░░░██░░░░██░░░░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n██░░██░░░██░░░██░░░░░██░░░░░░░██░░░██░░░██░██░░░██░░░██████░██░░░██░██░░░░░██░░░██░░░░██░░░░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n█████▀░██████░██████░██████░██████░██░░░██░▀█████▀░░░██░░██░▀█████▀░▀█████░██░░░██░░░░██░░░░░░░░░██░░░░▀█████▀░▀█████▀░██████\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "height": 140,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9168,
        1232
      ],
      "id": "6f7aa4a2-1daa-4b68-b286-b5e3e2c91c5d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9232,
        1552
      ],
      "id": "2931e6c0-107d-4c0b-81ab-4e2c38e808e8",
      "name": "***REDACTED***"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "177lEM4YTDzE95nJDHSFvHS5R8UiQqGbs5gNDmS-rAwU",
          "mode": "list",
          "cachedResultName": "WhiteList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177lEM4YTDzE95nJDHSFvHS5R8UiQqGbs5gNDmS-rAwU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/177lEM4YTDzE95nJDHSFvHS5R8UiQqGbs5gNDmS-rAwU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "contato",
              "lookupValue": "={{ $json.message.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        544,
        1296
      ],
      "id": "b9cfc3b0-7c16-44f6-bf8f-62cf543dfa0e",
      "name": "Valida WhiteList",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1040,
        1280
      ],
      "id": "706b91d8-fe0b-465c-8d7e-48998a3c04dc",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d09ee362-f23a-455e-825c-e4bbe4b065f1",
              "leftValue": "={{ $('Webhook EVO').item.json.body.conversation.meta.assignee.id }}",
              "rightValue": "user",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e2198547-0e39-4251-804d-135fd5bbca54",
              "leftValue": "={{ $('Webhook EVO').item.json.body.conversation.messages[0].sender.type }}",
              "rightValue": "user",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        896
      ],
      "id": "db1b2daa-3ab1-4316-a987-a83513da36c2",
      "name": "Valida se Humano está enviando mensagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5edfe65-cf14-4073-963c-38c178e82bf1",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        1296
      ],
      "id": "1675d35e-355a-4fd3-9619-13edba9f7a7a",
      "name": "Se estiver na lista não ativa o bot",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4192,
        3696
      ],
      "id": "0845f0db-f945-4bf5-9e37-358634abccff",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "cd672877-0a49-4ae4-a46c-f01d92e0acb6",
        "responseMode": "=responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3744,
        3696
      ],
      "id": "ee609ee3-db70-4bf9-b2c8-4c098c690ac7",
      "name": "Pagina do QR code",
      "webhookId": "cd672877-0a49-4ae4-a46c-f01d92e0acb6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa85e189-d319-4ea6-a5e3-0bed80ae8c9b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3744,
        3904
      ],
      "id": "40e66c40-eee8-4663-9dc8-0c91adba69b1",
      "name": "criar-instancia-evolution",
      "webhookId": "fa85e189-d319-4ea6-a5e3-0bed80ae8c9b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.agentes-n8n.com.br/instance/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA-API-KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instanceName",
              "value": "={{ $json.body.instanceName }}"
            },
            {
              "name": "qrcode",
              "value": true
            },
            {
              "name": "integration",
              "value": "WHATSAPP-BAILEYS"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        3904
      ],
      "id": "2bcf1f8a-2989-49c7-8f49-4719fa1a65c4",
      "name": "Criar instancia evolution"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4544,
        3904
      ],
      "id": "f6ce22e6-db9c-480b-aed8-7fe5ff3fc3fd",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4544,
        4096
      ],
      "id": "7e0d137b-8716-4e21-b828-90d0de288f7b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "url": "=https://evolution.agentes-n8n.com.br/instance/connect/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA-API-KEY"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        4096
      ],
      "id": "281176d9-9037-429d-9e1d-cee29a748310",
      "name": "Criar instancia evolution1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ad8995d-cb12-4a3b-9760-b834805cd81e",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3744,
        4096
      ],
      "id": "b708037b-aa3a-43e0-a856-d02862398f4b",
      "name": "Atualiza qr code",
      "webhookId": "5ad8995d-cb12-4a3b-9760-b834805cd81e"
    },
    {
      "parameters": {
        "content": "## Painel Administrativo da Evolution API",
        "height": 1000,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3632,
        3504
      ],
      "id": "fdf0e7d6-82df-4caa-980c-83d40e0c4e34",
      "name": "Sticky Note53"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Agentes de IA com N8N - By Ric Neves</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap\" rel=\"stylesheet\">\n  <style>\n    body {\n      font-family: 'Inter', sans-serif;\n      background-color: #0f0b1e;\n      color: #ffffff;\n      margin: 0;\n      padding: 0;\n      display: flex;\n      justify-content: center;\n      align-items: flex-start;\n      height: 100vh;\n    }\n\n    .container {\n      background-color: #1a132e;\n      padding: 2rem;\n      border-radius: 12px;\n      box-shadow: 0 0 20px rgba(255, 102, 0, 0.3);\n      width: 100%;\n      max-width: 600px;\n      margin-top: 40px;\n    }\n\n    h1 {\n      color: #ffffff;\n      font-weight: 800;\n      font-size: 1.5rem;\n      margin-bottom: 1.5rem;\n      text-align: center;\n    }\n\n    .tabs {\n      display: flex;\n      margin-bottom: 1rem;\n    }\n\n    .tab-button {\n      flex: 1;\n      padding: 0.75rem;\n      cursor: pointer;\n      border: none;\n      background-color: #2b1b47;\n      color: #fff;\n      font-weight: 600;\n    }\n\n    .tab-button.active {\n      background-color: #ff6600;\n    }\n\n    .tab-content {\n      display: none;\n    }\n\n    .tab-content.active {\n      display: block;\n    }\n\n    input {\n      width: 100%;\n      padding: 0.75rem;\n      margin-bottom: 1rem;\n      border: 1px solid #ff6600;\n      border-radius: 8px;\n      background-color: #0f0b1e;\n      color: #ffffff;\n    }\n\n    button {\n      background-color: #ff6600;\n      color: white;\n      border: none;\n      padding: 0.75rem 1.5rem;\n      border-radius: 8px;\n      font-weight: 600;\n      cursor: pointer;\n      font-size: 1rem;\n      width: 100%;\n    }\n\n    button:hover {\n      background-color: #e65c00;\n    }\n\n    .loader {\n      border: 5px solid #2a223e;\n      border-top: 5px solid #ff6600;\n      border-radius: 50%;\n      width: 50px;\n      height: 50px;\n      animation: spin 1s linear infinite;\n      margin: 20px auto;\n      display: none;\n    }\n\n    @keyframes spin {\n      0% { transform: rotate(0deg); }\n      100% { transform: rotate(360deg); }\n    }\n\n    #qrcode, #updateMessage {\n      text-align: center;\n      margin-top: 1rem;\n    }\n\n    #timer {\n      text-align: center;\n      margin-top: 1rem;\n      font-weight: bold;\n      color: #ffd700;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Agentes de IA com N8N - By Ric Neves</h1>\n\n    <div class=\"tabs\">\n      <button class=\"tab-button active\" onclick=\"switchTab('tab-qrcode', this)\">Gerar QR Code</button>\n      <button class=\"tab-button\" onclick=\"switchTab('tab-webhook', this)\">Atualizar Webhook</button>\n    </div>\n\n    <!-- Aba QR Code -->\n    <div id=\"tab-qrcode\" class=\"tab-content active\">\n      <input type=\"text\" id=\"instanceName\" placeholder=\"Informe o nome da instância Evolution API\">\n      <button id=\"generateButton\" onclick=\"generateQRCode()\">Gerar QR Code</button>\n      <div id=\"loader\" class=\"loader\"></div>\n      <div id=\"qrcode\"></div>\n      <div id=\"timer\"></div>\n    </div>\n\n    <!-- Aba Atualizar Webhook -->\n    <div id=\"tab-webhook\" class=\"tab-content\">\n      <input type=\"text\" id=\"instanceNameUpdate\" placeholder=\"Nome da instância Evolution API\">\n      <input type=\"text\" id=\"webhookUrlUpdate\" placeholder=\"Nova URL do Webhook\">\n      <button onclick=\"updateWebhook()\">Atualizar Webhook</button>\n      <div id=\"updateMessage\"></div>\n    </div>\n  </div>\n\n  <script>\n    function switchTab(tabId, button) {\n      document.querySelectorAll('.tab-content').forEach(tab => tab.classList.remove('active'));\n      document.getElementById(tabId).classList.add('active');\n\n      document.querySelectorAll('.tab-button').forEach(btn => btn.classList.remove('active'));\n      button.classList.add('active');\n    }\n\n    let timerInterval;\n    let timeLeft = 30;\n    let currentInstanceName = '';\n\n    async function generateQRCode() {\n            const instanceName = document.getElementById('instanceName').value;\n            if (!instanceName) {\n                alert('Por favor, insira o nome da instância.');\n                return;\n            }\n\n            currentInstanceName = instanceName;\n            await fetchAndDisplayQRCode(instanceName, true);\n\n            // Reset and start the timer\n            clearInterval(timerInterval);\n            timeLeft = 30;\n            updateTimer();\n            timerInterval = setInterval(updateTimer, 1000);\n  }\n\n    async function fetchAndDisplayQRCode(instanceName, isInitial = false) {\n            const loader = document.getElementById('loader');\n            const generateButton = document.getElementById('generateButton');\n            const qrcodeElement = document.getElementById('qrcode');\n\n            loader.style.display = 'block';\n            generateButton.disabled = true;\n            qrcodeElement.innerHTML = '';\n\n            try {\n                const endpoint = isInitial \n                    ? 'https://n8n.webhook.dev.illumiai.com/webhook/criar-instancia-evolution'\n                    : 'https://n8n.webhook.dev.illumiai.com/webhook/atualizar-qr-code';\n\n                const response = await fetch(endpoint, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName: instanceName }),\n                });\n\n                if (!response.ok) {\n                    throw new Error('Erro na resposta do servidor');\n                }\n\n                // Verifica o tipo de conteúdo da resposta\n                const contentType = response.headers.get('content-type');\n\n                let imgSrc;\n                if (contentType && contentType.includes('application/json')) {\n                    // Se for JSON, assume que é uma string base64\n                    const data = await response.json();\n                    imgSrc = `data:image/png;base64,${data.qrCodeBase64}`;\n                } else {\n                    // Se não for JSON, assume que é um arquivo binário\n                    const blob = await response.blob();\n                    imgSrc = URL.createObjectURL(blob);\n                }\n\n                // Exibe o QR code\n                qrcodeElement.innerHTML = `<img src=\"${imgSrc}\" alt=\"QR Code\">`;\n            } catch (error) {\n                console.error('Erro ao gerar QR code:', error);\n                alert('Erro ao gerar QR code. Por favor, tente novamente.');\n            } finally {\n                loader.style.display = 'none';\n                generateButton.disabled = false;\n            }\n        }\n\n        async function updateQRCode() {\n            if (currentInstanceName) {\n                await fetchAndDisplayQRCode(currentInstanceName);\n            }\n        }\n\n    \n    async function updateQRCode() {\n        if (currentInstanceName) {\n            await generateQRCode(currentInstanceName);\n        }\n    }\n\n    function updateTimer() {\n      const timerElement = document.getElementById('timer');\n      timerElement.textContent = `Novo QR Code em: ${timeLeft}s`;\n\n      if (timeLeft === 0) {\n        clearInterval(timerInterval);\n        generateQRCode();\n        timeLeft = 30;\n        timerInterval = setInterval(updateTimer, 1000);\n      } else {\n        timeLeft--;\n      }\n    }\n\n    async function updateWebhook() {\n      const instanceName = document.getElementById('instanceNameUpdate').value;\n      const webhookUrl = document.getElementById('webhookUrlUpdate').value;\n      const messageDiv = document.getElementById('updateMessage');\n\n      messageDiv.textContent = '';\n      if (!instanceName || !webhookUrl) {\n        messageDiv.textContent = 'Preencha todos os campos.';\n        return;\n      }\n\n      try {\n        const response = await fetch('https://webhook.agentes-n8n.com.br/webhook/atualiza-webhook', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ instanceName, webhookUrl })\n        });\n\n        const text = await response.text();\n        if (text.trim() === \"OK\") {\n          messageDiv.style.color = \"#00e676\";\n          messageDiv.textContent = \"✅ Webhook atualizado com sucesso!\";\n        } else {\n          messageDiv.style.color = \"#ffcc00\";\n          messageDiv.textContent = \"⚠️ Não foi possível atualizar o webhook.\";\n        }\n      } catch (error) {\n        console.error(\"Erro ao atualizar webhook:\", error);\n        messageDiv.style.color = \"#ff4444\";\n        messageDiv.textContent = \"❌ Erro ao comunicar com o servidor.\";\n      }\n    }\n  </script>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3968,
        3696
      ],
      "id": "7489552e-1782-4c54-8702-dbc4c1fc4aa9",
      "name": "GeraPáginaQRCode"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4336,
        3904
      ],
      "id": "8cf6532f-6afb-4e0b-b05f-0f684a9ad21f",
      "name": "ConvertBase64paraFile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7997d699-2380-48aa-8dc3-b1eac974e16e",
              "name": "base64",
              "value": "={{ $json.base64.split(',').last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4192,
        4096
      ],
      "id": "4d0d2b64-54a8-4348-ad7c-129e24a79922",
      "name": "SetaBase64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4352,
        4096
      ],
      "id": "cc183708-9bee-4e81-b429-0156ab2761aa",
      "name": "ConverteBase64paraFile"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7997d699-2380-48aa-8dc3-b1eac974e16e",
              "name": "base64",
              "value": "={{ $json.qrcode.base64.split(',').last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4176,
        3904
      ],
      "id": "08ef260d-7016-4795-a5a9-61a9d424fe35",
      "name": "SetaBase"
    },
    {
      "parameters": {
        "content": "### Ajuste as informações",
        "height": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3904,
        3584
      ],
      "id": "d9335783-a28e-4cce-a865-fbdb88636501",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "▄█████░██░░░██░▄█████▄░██░░░░░██░░░██░████████░██████░▄█████▄░██████▄░░░▄████▄░█████▄░██████░░░▄████▄░██████▄░▄██▄▄██▄░██████░██████▄\n██░░░░░██░░░██░██░░░██░██░░░░░██░░░██░░░░██░░░░░░██░░░██░░░██░██░░░██░░░██░░██░██░░██░░░██░░░░░██░░██░██░░░██░██░██░██░░░██░░░██░░░██\n█████░░██░░░██░██░░░██░██░░░░░██░░░██░░░░██░░░░░░██░░░██░░░██░██░░░██░░░██░░██░█████▀░░░██░░░░░██░░██░██░░░██░██░██░██░░░██░░░██░░░██\n██░░░░░██░░██░░██░░░██░██░░░░░██░░░██░░░░██░░░░░░██░░░██░░░██░██░░░██░░░██████░██░░░░░░░██░░░░░██████░██░░░██░██░██░██░░░██░░░██░░░██\n▀█████░▀███▀░░░▀█████▀░██████░▀█████▀░░░░██░░░░██████░▀█████▀░██░░░██░░░██░░██░██░░░░░██████░░░██░░██░██████▀░██░██░██░██████░██░░░██\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "width": 1420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        3296
      ],
      "id": "ef7857b1-0665-455c-9026-bbacdfbe945b",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=OK",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4432,
        4304
      ],
      "id": "587eba30-b8e4-4aa0-8c32-c8b4663faf71",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.agentes-n8n.com.br/webhook/set/{{ $json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA-API-KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"webhook\": {\n        \"enabled\": true,\n        \"url\": \"{{$json.body.webhookUrl}}\",\n        \"byEvents\": false,\n        \"base64\": true,\n        \"events\": [\n            \"MESSAGES_UPSERT\"\n        ]\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        4304
      ],
      "id": "2b749acd-cfc1-4077-9428-fa90e16ad159",
      "name": "Seta WebHook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "506c6fa2-86fb-48ea-8cff-2967aee34d56",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3776,
        4304
      ],
      "id": "9b3df116-4509-48d7-ba09-e0f2aab8c362",
      "name": "Atualiza WebHook",
      "webhookId": "506c6fa2-86fb-48ea-8cff-2967aee34d56"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.agentes-n8n.com.br/settings/set/{{$('Atualiza WebHook').item.json.body.instanceName}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SUA-API-KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\t\"rejectCall\": false,\n    \"msgCall\": \"Eu não aceito chamadas\",\n    \"groupsIgnore\": true,\n    \"alwaysOnline\": false,\n    \"readMessages\": false,\n    \"syncFullHistory\": false,\n    \"readStatus\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4208,
        4304
      ],
      "id": "63e31968-9f5e-45ef-ab8d-2b7a6486df08",
      "name": "Seta Settings"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5511992486507_mem_agent"
      },
      "id": "2d9348ab-0450-41a8-a3c0-3f534fb638d5",
      "name": "Limpa Memória da Conversa1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        224,
        1312
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Nó para limpar a memória de conversa\nRode informando o telefone",
        "height": 340,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        1168
      ],
      "id": "3774c17b-23cf-4dee-9167-a7148935e3f4",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Created').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Created').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e3eb30d-5b81-4afb-be0f-fb1d78d1b35d",
      "name": "Set o file id encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        3824
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        3824
      ],
      "id": "1c674351-4b01-4cec-9329-439f2d7aa698",
      "name": "Itera sobre os arquivos"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set o file id encontrado').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "34ea3546-b4e5-48d1-a1df-d602d51ae76d",
      "name": "Baixa o arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        3984
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Set o file id encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "6bd6cd35-a8bd-478e-993e-34708b3165d7",
      "name": "Identifica o tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1168,
        3744
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b782b1ec-e478-4f73-827f-c965c1d6db75",
      "name": "Extrai Dados do Arq PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1744,
        3520
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "46c67447-00a3-466e-a6fa-19633d3731b8",
      "name": "Extrai dados de um Arq TXT",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1744,
        3680
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "b9dca63a-87c3-4c66-8d89-57aa7d925bfd",
      "name": "Extrai Dados de um Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1744,
        3856
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Set o file id encontrado').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Set o file id encontrado').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "176e7b30-e31a-4993-bcf1-04b98010414f",
      "name": "Converte para Google Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1744,
        4048
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set o file id encontrado').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1952,
        4048
      ],
      "id": "44974953-5bb0-41dd-8687-658ea27bef92",
      "name": "Exclui Arquivo"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aeb7acc9-910c-4f3c-8058-68a67db289c0",
      "name": "Agrega Dados da Planilha",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1968,
        3856
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b2614172-3c5e-4662-b96f-7075c5a5bec1",
      "name": "Sumariza Dados",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2160,
        3856
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "a72449cc-b9c8-4790-a98e-0767adc932e7",
      "name": "Insere na Vector do Supabase",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2448,
        3616
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $('File Updated').item.json.mimeType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7fb186f4-6cc9-439d-9488-687c04a61094",
      "name": "Seta o File Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        4768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "928b5cae-77cd-48a2-81ef-2f76dc441b0a",
              "leftValue": "={{ $('File Updated').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6368b5ad-32b0-491d-a27d-5cc3ad5c2a11",
              "leftValue": "={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        4768
      ],
      "id": "dec500d3-07e5-4059-a319-dfeb7711b14f",
      "name": "Verificar o tempo do arquivo",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $('Seta o File Encontrado').item.json.file_id }}*"
      },
      "id": "4ff622b1-f406-408f-9706-93bc078b8c5c",
      "name": "Exclui os dados antigos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        784,
        4768
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "6b643c16-da44-4a8c-a324-03be37991061",
      "name": "Limita em 1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        960,
        4768
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Your goal is to take the incoming version number and add 1 to it. \n\n[Examples]\nInput: v1\nOutput: v2\n\nInput: v2\nOutput: v3\n\nInput: v4\nOutput: v5 \n\nThe output field should always be called \"version\"",
              "role": "system"
            },
            {
              "content": "=incoming version number: {{ $json.metadata.version }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "7c8fb46c-b552-4356-92f1-7b12d0dbe042",
      "name": "Seta Versão",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1152,
        4768
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        4768
      ],
      "id": "3d861293-c104-4882-ba65-883b25b6189b",
      "name": "Itera sobre os arquivos1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Seta o File Encontrado').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "11f939b0-e0bc-4c3c-a72f-f52a7b1b21b5",
      "name": "Baixa o Arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1744,
        4928
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7ddfa924-1c26-4ee3-9890-5c9d2b96717a",
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(1)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0",
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/msword",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(2)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cd9ca627-d00d-4c30-903a-41f603c8e36f",
                    "leftValue": "={{ $('Seta o File Encontrado').item.json.file_type }}",
                    "rightValue": "application/vnd.ms-word",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Windows Doc(3)"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "id": "e43ad167-a11d-4cca-9db0-5a88762eb060",
      "name": "Valida o tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1968,
        4736
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "bbef667d-d0c3-4dbf-9f1d-f6efe81447cf",
      "name": "Extrai dados de PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2272,
        4528
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "26a041a2-f3ea-49a3-b038-d20c8e17131b",
      "name": "Extrai dados de TXT",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2272,
        4688
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "1de8a94c-e350-48c1-a7d5-4259f4cfd125",
      "name": "Extrai Dados de Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2272,
        4864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Seta o File Encontrado').item.json.file_id }}/copy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Seta o File Encontrado').item.json.name }}"
            },
            {
              "name": "mimeType",
              "value": "application/vnd.google-apps.document"
            }
          ]
        },
        "options": {}
      },
      "id": "8a213b7f-9c90-48a4-90fc-9816531a7974",
      "name": "Converte para Google Docs1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2272,
        5056
      ]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Seta o File Encontrado').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2480,
        5056
      ],
      "id": "c1b5567c-818e-4fcc-872a-5fd86a7238de",
      "name": "Deleta Arquivo"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "fdcce7cb-041a-4fe0-9d98-9ced066175ec",
      "name": "Agrega os dados",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2480,
        4864
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "2d407696-517b-47e8-9e67-acc827b41a06",
      "name": "Sumariza",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2672,
        4864
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "b491bd9d-7ae5-4fd3-bf09-58dbf3bc52b0",
      "name": "Insere no Supabase Vector",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2960,
        4528
      ]
    },
    {
      "parameters": {
        "content": "## Tratamento de WhiteList\nUsse esses nós caso não queira que o bot fale com esses números",
        "height": 300,
        "width": 808
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1184
      ],
      "id": "1ae839b8-da77-43ab-9ab9-76fc0ac8c1fc",
      "name": "Sticky Note57"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        6320,
        2112
      ],
      "id": "b7badabf-3483-4a90-a82b-fc8bbcfa232e",
      "name": "Think"
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}"
            },
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "={{ $('Seta Mensagem para o Agente').item.json.message }}"
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "={{ $('Saida do Agente').item.json.texto }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.message.chat_id }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.nomeDoLead }}"
            },
            {
              "fieldId": "id_conversa",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.message.message_id }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.message.content_type }}"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "={{ $('Variáveis do Fluxo').item.json.AppName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9456,
        2256
      ],
      "id": "0a9e8420-a0ca-4eb9-93ce-7ca8517346ca",
      "name": "Cria Mensagem no Supabase",
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "content": "## Gernenciados de conversas\n",
        "height": 600,
        "width": 1600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9168,
        2096
      ],
      "id": "150a1ddc-c725-4a69-854b-ac63b7f68649",
      "name": "Sticky Note60"
    },
    {
      "parameters": {
        "content": "▄█████░▄█████▄░██████▄░██░░░██░▄█████░█████▄░▄██████░▄████▄░████████░██████░▄█████▄░██████▄░░░██░░░██░██████░▄██████░████████░▄█████▄░█████▄░██░░██░░░████████░▄█████▄░▄█████▄░██░░░░\n██░░░░░██░░░██░██░░░██░██░░░██░██░░░░░██░░██░██░░░░░░██░░██░░░░██░░░░░░██░░░██░░░██░██░░░██░░░██░░░██░░░██░░░██░░░░░░░░░██░░░░██░░░██░██░░██░██░░██░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n██░░░░░██░░░██░██░░░██░██░░░██░█████░░█████▀░▀█████▄░██░░██░░░░██░░░░░░██░░░██░░░██░██░░░██░░░███████░░░██░░░▀█████▄░░░░██░░░░██░░░██░█████▀░▀████▀░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n██░░░░░██░░░██░██░░░██░██░░██░░██░░░░░██░░██░░░░░░██░██████░░░░██░░░░░░██░░░██░░░██░██░░░██░░░██░░░██░░░██░░░░░░░░██░░░░██░░░░██░░░██░██░░██░░░██░░░░░░░░██░░░░██░░░██░██░░░██░██░░░░\n▀█████░▀█████▀░██░░░██░▀███▀░░░▀█████░██░░██░██████▀░██░░██░░░░██░░░░██████░▀█████▀░██░░░██░░░██░░░██░██████░██████▀░░░░██░░░░▀█████▀░██░░██░░░██░░░░░░░░██░░░░▀█████▀░▀█████▀░██████\n░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░",
        "height": 140,
        "width": 1840
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9168,
        1888
      ],
      "id": "47675a04-bd30-40f3-be45-85e85bc8a90c",
      "name": "Sticky Note61"
    },
    {
      "parameters": {
        "content": "## Nó para criar tabela no SUPABASE\nRode apenas uma vez isolado para criar a tabela",
        "height": 340,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9776,
        2224
      ],
      "id": "e944ee0c-ad79-43da-b786-2cc8684781ea",
      "name": "Sticky Note62"
    },
    {
      "parameters": {
        "content": "## Nó para criar tabela no SUPABASE\nRode apenas uma vez isolado para criar a tabela",
        "height": 340,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10176,
        2224
      ],
      "id": "8ef6efb3-ae0e-4d77-bd28-81597a7839f0",
      "name": "Sticky Note63"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.mensagens (\nid bigint generated by default as identity not null,\ncreated_at timestamp with time zone not null default now(),\ntelefone text null,\nid_conversa text null,\nupdate_at timestamp with time zone null default now(),\nnome_app text null default 'delivery'::text,\nconstraint mensagens_pkey primary key (id)\n) TABLESPACE pg_default;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9920,
        2368
      ],
      "id": "89d84fe8-8ff1-4ee9-906b-e4abee0939e1",
      "name": "Criar tabela de mensagens",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table public.historico_mensagens (\n id bigint generated by default as identity not null,\ncreated_at timestamp with time zone not null default now(),\nid_usuario text null,\nmensagem_usuario text null,\nmensagem_agente text null,\ntelefone text null,\nnome_usuario text null,\nid_conversa text null,\nmessage_type text null,\nativo boolean null default true,\nnome_app text null default 'delivery'::text,\nconstraint historico_mensagens_pkey primary key (id)\n) TABLESPACE pg_default;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10320,
        2336
      ],
      "id": "f618588c-b1f6-4bb1-aa81-90507afffc1f",
      "name": "Criar tabela de historico_mensagens",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        9456,
        2496
      ],
      "id": "bcaa9871-ff44-43e9-8910-daab878c2d9d",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ebe0571-4e61-4c9d-91c7-97c64644e5c5",
              "leftValue": "={{ $('Variáveis do Fluxo').item.json.gerarHistoricoConversa}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9248,
        2384
      ],
      "id": "c3b21b06-5c98-4d60-b94d-df30524d8fb4",
      "name": "Verifica se gera histórico mensagem"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9312,
        3712
      ],
      "id": "73762a85-9e5e-4abc-865d-6d391d61b2c5",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "finamob",
          "mode": "list",
          "cachedResultName": "finamob"
        },
        "options": {}
      },
      "id": "d53c799a-a343-4aeb-8561-c4d375608534",
      "name": "Pinecone - Finamob",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        5984,
        2640
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5840,
        2144
      ],
      "id": "8097c304-63a1-4afe-b3cc-cd92f9278ab3",
      "name": "4o"
    },
    {
      "parameters": {
        "content": "# MCP Servers",
        "height": 660,
        "width": 1176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6832,
        3264
      ],
      "id": "4bda6af7-06e4-473f-bb4a-66ca0ec6b15f",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "description": "Listar horários disponíveis: você pode listar horários disponíveis para um dia específico; para isso, utilize a tool listar-horarios. A tool pede um JSON com type (\"listarHorarios\"), tema (“tema da reuniao”), dia (dia em que o lead quer consultar a disponibilidade), email, telefone, nome e empresa).\n\nA chamada deve ser apenas JSON válido no formato abaixo.\n\nA tool ira retornar uma lista de horários disponíveis, se o dia e horário não estiver na lista então ele não esta disponível. Nesse caso retorne outras 5 opções disponíveis para o lead. \n\nSempre siga as datas e horários da lista de disponibilidade recebida pela tool.\n\n{\n\"type\": \"listarHorarios\",\n\"tema\": \"funding imobiliario\",\n\"dia\": \"2025-09-10\",\n\"email\": \"usuario@email.com\",\n\"telefone\": \"5511999999999\",\n\"nome\": \"João da Silva\",\n\"empresa\": \"Empresa X\"\n}",
        "workflowId": {
          "__rl": true,
          "value": "Qwwim1zqEzWnGUwD",
          "mode": "list",
          "cachedResultUrl": "/workflow/Qwwim1zqEzWnGUwD",
          "cachedResultName": "EMI - 6.2 - SDR Diogo IA - Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "listarHorarios",
            "tema": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tema', ``, 'string') }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "horario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('horario', ``, 'string') }}",
            "dia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tema",
              "displayName": "tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "horario",
              "displayName": "horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6592,
        2112
      ],
      "id": "cddac136-e05a-4c42-9308-2ce55b115ad8",
      "name": "listar-horarios"
    },
    {
      "parameters": {
        "description": "Sempre que precisar agendar uma reunião, acione a tool agendar-reuniao. Só chame esta ferramenta se tiver tema e data completos; se faltar algo, pergunte ao usuário antes\n\nEnviar JSON no formato\n\n{\n\"type\": \"agendarReuniao\",\n\"tema\": \"funding imobiliario\",\n\"dia\": \"2025-09-10\",\n\"horario\": \"2025-09-10\",\n\"email\": \"usuario@email.com\",\n\"telefone\": \"5511999999999\",\n\"nome\": \"João da Silva\",\n\"empresa\": \"Empresa X\"\n}",
        "workflowId": {
          "__rl": true,
          "value": "Qwwim1zqEzWnGUwD",
          "mode": "list",
          "cachedResultUrl": "/workflow/Qwwim1zqEzWnGUwD",
          "cachedResultName": "EMI - 6.2 - SDR Diogo IA - Calendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "agendarReuniao",
            "tema": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tema', ``, 'string') }}",
            "dia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia', ``, 'string') }}",
            "empresa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('empresa', ``, 'string') }}",
            "nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', ``, 'string') }}",
            "telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "horario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('horario', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tema",
              "displayName": "tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dia",
              "displayName": "dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "horario",
              "displayName": "horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6736,
        2112
      ],
      "id": "e8e5a8b5-e821-4e71-9eda-5a98f57c3e32",
      "name": "agendar-reuniao"
    },
    {
      "parameters": {
        "url": "={{ $json.audio }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        1024
      ],
      "id": "651265b2-222d-438d-80dc-0e55d392fedc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.Imagem }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        1264
      ],
      "id": "17192083-0713-469c-bd98-494ea1193b2c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.Documento }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        1488
      ],
      "id": "5fa37dba-3631-45e6-9a09-288ede11a35d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "",
        "height": 3076,
        "width": 2652,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5472,
        960
      ],
      "id": "af394d4e-a146-43c8-9d2e-0209d2b39b78",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 4452,
        "width": 2924,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8560,
        960
      ],
      "id": "62ce5330-32c3-4504-9787-ef3f909e383b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 2180,
        "width": 5180,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        3216
      ],
      "id": "98f7bcf6-fcab-4fc7-8df3-85bac5e95280",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 2100,
        "width": 5068,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        3248
      ],
      "id": "255ca69a-ddf9-472d-9335-3133882ea724",
      "name": "Sticky Note21"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        880
      ],
      "id": "d00781ee-f9c0-432e-b5cd-66a3bc059778",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ferramenta para listar pessoas que nao querem mais receber mensagens, se o usuario enviar opt-out, ele precisa entrar na planiloha para nunca mais receber as comunicacoes",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ",
          "mode": "list",
          "cachedResultName": "CRM - Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2099019423,
          "mode": "list",
          "cachedResultName": "opt-out",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JoARK3rKD-WHDk8LUDHRmo03eLMGdKWyN-msVFiygvQ/edit#gid=2099019423"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}",
            "Telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}",
            "Data": "=Data do dia que esta atualizando a planilha",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "Origem": "=SDR-DIOGO"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Origem",
              "displayName": "Origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7040,
        2112
      ],
      "id": "41b9884f-63b2-4751-9a2d-2d075590a7f7",
      "name": "opt-out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "finamob-historico_mensagens",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $(\"Variáveis do Fluxo\").item.json.message.chat_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        7168,
        2112
      ],
      "id": "b61aed44-0340-4ef7-b682-3dfc3f65c511",
      "name": "historico-mensagens"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Seta Mensagem para o Agente').item.json.message }}",
        "options": {
          "systemMessage": "***REDACTED***",
          "returnIntermediateSteps": true
        }
      },
      "id": "cc203b7b-d92a-4477-8dd5-a4dc47e4a3eb",
      "name": "Diogo - Agente SDR",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        6656,
        1568
      ],
      "typeVersion": 1.6,
      "retryOnFail": true,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e60e948-232d-4ce3-a2a2-fafa4efa5f52",
              "name": "output",
              "value": "Opa, parece que algo deu errado e não consegui processar a sua mensagem. Poderia me explicar de forma detalhada o que você precisa? Estou aqui para ajudar!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7200,
        1728
      ],
      "id": "7f71ec64-16d5-440a-b155-49e6667c94d5",
      "name": "Erro ao processar mensagem"
    }
  ],
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Base de Conhecimento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone - Finamob",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Novos Arquivos": {
      "main": [
        [
          {
            "node": "Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Novas Atualizações": {
      "main": [
        [
          {
            "node": "Conhecimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conhecimento": {
      "main": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Insere no Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Base de Conhecimento": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gravar no CRM": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Estrutura da Mensagem de Retorno": {
      "main": [
        [
          {
            "node": "Quebra Mensagens em várias Linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta o Tipo de Retorno JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Ajusta o Parse do JSON",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta o Parse do JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Quebra Mensagens em várias Linhas": {
      "main": [
        [
          {
            "node": "Itera sobre cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre cada mensagem": {
      "main": [
        [
          {
            "node": "Não faz nada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem no WhatsApp": {
      "main": [
        [
          {
            "node": "Espera 2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte mp3 pra Base64": {
      "main": [
        [
          {
            "node": "Envia Audio para o WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Mensagem para Áudio": {
      "main": [
        [
          {
            "node": "Seta Voz via ElevenLabs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Voz via ElevenLabs": {
      "main": [
        [
          {
            "node": "Converte mp3 pra Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Personalidade do Assistente": {
      "main": [
        [
          {
            "node": "Se o retorno for menos de 300 caracteres gera voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o retorno for menos de 300 caracteres gera voz": {
      "main": [
        [
          {
            "node": "Formata Mensagem para Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não gera audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "Seta Personalidade do Assistente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se deve gerar audio": {
      "main": [
        [
          {
            "node": "Seta Personalidade do Assistente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Não gera Voz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 2 segundos": {
      "main": [
        [
          {
            "node": "Itera sobre cada mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saida do Agente": {
      "main": [
        [
          {
            "node": "Verifica se deve gerar audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica se deve humizar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verifica se gera histórico mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis do Fluxo": {
      "main": [
        [
          {
            "node": "Valida se Humano está enviando mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Insere na Vector do Supabase",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Insere na Vector do Supabase",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Insere no Supabase Vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "File Created": {
      "main": [
        [
          {
            "node": "Set o file id encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Seta o File Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Enhanced Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Insere no Supabase Vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Base Conhecimento SUPABASE",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4o-min": {
      "ai_languageModel": [
        [
          {
            "node": "Base Conhecimento SUPABASE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Busca se o Lead é Cliente": {
      "main": [
        [
          {
            "node": "Verifica se encontrou o cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se encontrou o cliente": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastra Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Variáveis do Fluxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastra Lead": {
      "main": [
        [
          {
            "node": "Junta Retorno",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Verifica se deve humizar": {
      "main": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem para o WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desativar Agente": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Identifica o Tipo de Mensagem": {
      "main": [
        [
          {
            "node": "Mensagem de Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem com Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem com Documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem de Erro  - Formato não suportado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Texto": {
      "main": [
        [
          {
            "node": "Adiciona Texto na Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem com Imagem": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Erro  - Formato não suportado": {
      "main": [
        [
          {
            "node": "Adiciona Erro na Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Audio com OpenAI": {
      "main": [
        [
          {
            "node": "Adiciona Audio Na Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem com Documento": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados do PDF": {
      "main": [
        [
          {
            "node": "Adiciona Documento na Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Texto na Memoria": {
      "main": [
        [
          {
            "node": "Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traduz Imagem em Texto": {
      "main": [
        [
          {
            "node": "Adiciona Imagem na Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Audio Na Memória": {
      "main": [
        [
          {
            "node": "Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Imagem na Memória": {
      "main": [
        [
          {
            "node": "Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Documento na Memória": {
      "main": [
        [
          {
            "node": "Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Erro na Memória": {
      "main": [
        [
          {
            "node": "Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória Temporária": {
      "main": [
        [
          {
            "node": "Espera Tempo Definido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera Tempo Definido": {
      "main": [
        [
          {
            "node": "Busca mensagens da Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca mensagens da Memória": {
      "main": [
        [
          {
            "node": "Verifica se houve troca de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se houve troca de mensagem": {
      "main": [
        [
          {
            "node": "Se houve não faz nada e aguarda vir a nova mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpa a Memória Temporária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpa a Memória Temporária": {
      "main": [
        [
          {
            "node": "Seta Mensagem para o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Mensagem para o Agente": {
      "main": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memória do Agente": {
      "ai_memory": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calcula Tokens - Tools": {
      "main": [
        [
          {
            "node": "Grava Billing do Agent no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se Humano está enviando mensagem": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identifica o Tipo de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida WhiteList": {
      "main": [
        [
          {
            "node": "Se estiver na lista não ativa o bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se estiver na lista não ativa o bot": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagina do QR code": {
      "main": [
        [
          {
            "node": "GeraPáginaQRCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar-instancia-evolution": {
      "main": [
        [
          {
            "node": "Criar instancia evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar instancia evolution": {
      "main": [
        [
          {
            "node": "SetaBase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar instancia evolution1": {
      "main": [
        [
          {
            "node": "SetaBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza qr code": {
      "main": [
        [
          {
            "node": "Criar instancia evolution1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeraPáginaQRCode": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertBase64paraFile": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetaBase64": {
      "main": [
        [
          {
            "node": "ConverteBase64paraFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConverteBase64paraFile": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetaBase": {
      "main": [
        [
          {
            "node": "ConvertBase64paraFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta WebHook": {
      "main": [
        [
          {
            "node": "Seta Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza WebHook": {
      "main": [
        [
          {
            "node": "Seta WebHook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Settings": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set o file id encontrado": {
      "main": [
        [
          {
            "node": "Itera sobre os arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os arquivos": {
      "main": [
        [
          {
            "node": "Identifica o tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixa o arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa o arquivo": {
      "main": [
        [
          {
            "node": "Itera sobre os arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifica o tipo": {
      "main": [
        [
          {
            "node": "Extrai Dados do Arq PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai dados de um Arq TXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai Dados de um Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados do Arq PDF": {
      "main": [
        [
          {
            "node": "Insere na Vector do Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai dados de um Arq TXT": {
      "main": [
        [
          {
            "node": "Insere na Vector do Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados de um Excel": {
      "main": [
        [
          {
            "node": "Agrega Dados da Planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para Google Docs": {
      "main": [
        [
          {
            "node": "Exclui Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega Dados da Planilha": {
      "main": [
        [
          {
            "node": "Sumariza Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sumariza Dados": {
      "main": [
        [
          {
            "node": "Insere na Vector do Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta o File Encontrado": {
      "main": [
        [
          {
            "node": "Verificar o tempo do arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar o tempo do arquivo": {
      "main": [
        [],
        [
          {
            "node": "Exclui os dados antigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exclui os dados antigos": {
      "main": [
        [
          {
            "node": "Limita em 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limita em 1": {
      "main": [
        [
          {
            "node": "Seta Versão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Versão": {
      "main": [
        [
          {
            "node": "Itera sobre os arquivos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itera sobre os arquivos1": {
      "main": [
        [
          {
            "node": "Valida o tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baixa o Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa o Arquivo": {
      "main": [
        [
          {
            "node": "Itera sobre os arquivos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida o tipo": {
      "main": [
        [
          {
            "node": "Extrai dados de PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai dados de TXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai Dados de Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converte para Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai dados de PDF": {
      "main": [
        [
          {
            "node": "Insere no Supabase Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai dados de TXT": {
      "main": [
        [
          {
            "node": "Insere no Supabase Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Dados de Excel": {
      "main": [
        [
          {
            "node": "Agrega os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para Google Docs1": {
      "main": [
        [
          {
            "node": "Deleta Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega os dados": {
      "main": [
        [
          {
            "node": "Sumariza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sumariza": {
      "main": [
        [
          {
            "node": "Insere no Supabase Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se gera histórico mensagem": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Estrutura da Mensagem de Retorno",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ajusta o Parse do JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone - Finamob": {
      "ai_vectorStore": [
        [
          {
            "node": "Base de Conhecimento",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "listar-horarios": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "agendar-reuniao": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcreve Audio com OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Traduz Imagem em Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extrai Dados do PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "opt-out": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "historico-mensagens": {
      "ai_tool": [
        [
          {
            "node": "Diogo - Agente SDR",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Diogo - Agente SDR": {
      "main": [
        [
          {
            "node": "Saida do Agente",
            "type": "main",
            "index": 0
          },
          {
            "node": "***REDACTED***",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro ao processar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro ao processar mensagem": {
      "main": [
        [
          {
            "node": "Saida do Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 7200,
    "availableInMCP": false,
    "errorWorkflow": "YWujkd0BnjxHi1Hd",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook EVO": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "52.0.99.64, 104.23.209.146",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "webhook.miabuilder.com",
            "x-amzn-trace-id": "Root=1-6925c6d2-4071b29167e91e1a2198411f",
            "content-length": "4540",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "content-type": "application/json",
            "cf-ray": "9a4212436c15a6b3-IAD",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "52.0.99.64",
            "cf-ipcountry": "US",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 37,
              "name": "EMI-SDR-DIOGO"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Ola!!!",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 4,
                "contact_id": 2,
                "inbox_id": 2,
                "source_id": "ec593d5b-6f5d-4bdd-a8d9-650e1ba85a01",
                "created_at": "2025-11-25T15:03:46.981Z",
                "updated_at": "2025-11-25T15:03:46.981Z",
                "hmac_verified": false,
                "pubsub_token": "ehSCNLd7s9g64xRUv4bfzEkr"
              },
              "id": 2,
              "inbox_id": 2,
              "messages": [
                {
                  "id": 5,
                  "content": "Ola!!!",
                  "account_id": 37,
                  "inbox_id": 2,
                  "conversation_id": 2,
                  "message_type": 0,
                  "created_at": 1764083410,
                  "updated_at": "2025-11-25T15:10:10.178Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3F0378E48B06CB3B4855",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 2,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Ola!!!",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1764083410,
                    "contact_inbox": {
                      "source_id": "ec593d5b-6f5d-4bdd-a8d9-650e1ba85a01"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "avatar_url_hash": "ded9db924aa1f4b70718ec71839aeea001b5edf0d5d80ea3769dfc94cf173479",
                      "last_avatar_sync_at": "2025-11-25T15:03:46Z"
                    },
                    "custom_attributes": {},
                    "email": null,
                    "id": 2,
                    "identifier": "5511992486507@s.whatsapp.net",
                    "name": "Lucas Andrade",
                    "phone_number": "+5511992486507",
                    "thumbnail": "https://chat.miabuilder.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7b39470bd6b5499226045749c6f0c6d39dbfe199/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--43a768394f2b6fa2e80f0fccfc2317dd231738bf/534419420_1594921868337362_6314860473367326298_n.jpg",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "avatar_url_hash": "ded9db924aa1f4b70718ec71839aeea001b5edf0d5d80ea3769dfc94cf173479",
                    "last_avatar_sync_at": "2025-11-25T15:03:46Z"
                  },
                  "custom_attributes": {},
                  "email": null,
                  "id": 2,
                  "identifier": "5511992486507@s.whatsapp.net",
                  "name": "Lucas Andrade",
                  "phone_number": "+5511992486507",
                  "thumbnail": "https://chat.miabuilder.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7b39470bd6b5499226045749c6f0c6d39dbfe199/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--43a768394f2b6fa2e80f0fccfc2317dd231738bf/534419420_1594921868337362_6314860473367326298_n.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1764083026,
              "agent_last_seen_at": 1764083206,
              "contact_last_seen_at": 0,
              "last_activity_at": 1764083410,
              "timestamp": 1764083410,
              "created_at": 1764083026,
              "updated_at": 1764083410.1879969
            },
            "created_at": "2025-11-25T15:10:10.178Z",
            "id": 5,
            "inbox": {
              "id": 2,
              "name": "EMI-SDR-DIOGO"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 37,
                "name": "EMI-SDR-DIOGO"
              },
              "additional_attributes": {
                "avatar_url_hash": "ded9db924aa1f4b70718ec71839aeea001b5edf0d5d80ea3769dfc94cf173479",
                "last_avatar_sync_at": "2025-11-25T15:03:46Z"
              },
              "avatar": "https://chat.miabuilder.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7b39470bd6b5499226045749c6f0c6d39dbfe199/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--43a768394f2b6fa2e80f0fccfc2317dd231738bf/534419420_1594921868337362_6314860473367326298_n.jpg",
              "custom_attributes": {},
              "email": null,
              "id": 2,
              "identifier": "5511992486507@s.whatsapp.net",
              "name": "Lucas Andrade",
              "phone_number": "+5511992486507",
              "thumbnail": "https://chat.miabuilder.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7b39470bd6b5499226045749c6f0c6d39dbfe199/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--43a768394f2b6fa2e80f0fccfc2317dd231738bf/534419420_1594921868337362_6314860473367326298_n.jpg",
              "blocked": false
            },
            "source_id": "WAID:3F0378E48B06CB3B4855",
            "event": "message_created"
          },
          "webhookUrl": "https://webhook.miabuilder.com/webhook/EMI-SDR-DIOGO",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "a3c98437-63f1-4bd2-90bd-a837cfce54d8",
  "activeVersionId": null,
  "triggerCount": 5,
  "shared": [
    {
      "updatedAt": "2025-11-25T13:49:26.075Z",
      "createdAt": "2025-11-25T13:49:26.075Z",
      "role": "workflow:owner",
      "workflowId": "0R9koD5C0Hd1Xdbt",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}