backup/enviar-proposta-no-whatsapp-ojniSc26H2XTwZt3.json
{"createdAt":"2025-11-14T16:34:51.935Z","updatedAt":"2025-11-17T23:47:17.665Z","id":"ojniSc26H2XTwZt3","name":"Enviar proposta no whatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Gerador de Doc","formDescription":"Olá seja bem vindo ao gerador de DOC","formFields":{"values":[{"fieldLabel":"Nome","placeholder":"Informe o nome","requiredField":true},{"fieldLabel":"Empresa","placeholder":"Informe a Empresa","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"Informe o Email","requiredField":true},{"fieldLabel":"Telefone","fieldType":"number","placeholder":"Informe o telefone (Ex:551199882228)","requiredField":true}]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Gerar Proposta","path":"mentoria","respondWithOptions":{"values":{"formSubmittedText":"Sua Proposta foi encaminhada para o telefone informado!!"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1792,208],"id":"9d6abed8-fdd3-4e89-9d93-bd978f951dbe","name":"Formulario","webhookId":"f12e628d-6adf-484e-b459-0155aff2e800"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1mOjrf1NalPM_y2ssBvv_oYfIXfCxEtxZBL5BIP8cnRI","mode":"list","cachedResultName":"Proposta ","cachedResultUrl":"https://docs.google.com/document/d/1mOjrf1NalPM_y2ssBvv_oYfIXfCxEtxZBL5BIP8cnRI/edit?usp=drivesdk"},"name":"=Proposta - {{ $json.nome_cliente }} - {{ $json.data_atual }}","options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1104,208],"id":"8ab8d8b9-12f1-4b08-8ed8-71720064b672","name":"Copia Arquivo de Proposta","credentials":{"googleDriveOAuth2Api":{"id":"n63CeyJsXfkzgBEa","name":"Google Drive account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"71a72ce6-9b66-4d5b-9d1e-a88d1df29d7d","name":"nome_cliente","value":"={{ $('Formulario').item.json.Nome }}","type":"string"},{"id":"773facac-3a72-4ea4-8d3b-028e541d0277","name":"empresa_cliente","value":"={{ $('Formulario').item.json.Empresa }}","type":"string"},{"id":"2eb7a6da-4bfe-403d-86a3-869d85e2b9f4","name":"email_cliente","value":"={{ $('Formulario').item.json.Email }}","type":"string"},{"id":"e560498d-b154-4ada-9ba4-aa814274a370","name":"telefone_cliente","value":"={{ $('Formulario').item.json.Telefone }}","type":"number"},{"id":"befd2aa5-cdfb-4682-a520-225e3e4bd3b8","name":"data_atual","value":"={{$now.format('dd/LL/yyyy')}}","type":"string"},{"id":"e2af2940-be54-418f-aab0-912a2c40efcd","name":"data_validade","value":"={{ $json.data_vallidade.toDateTime().format('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,208],"id":"11d4d2d2-ecfb-4a6c-9028-76f57a154824","name":"Trata Dados do Form"},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"replaceAll","text":"{nome_cliente}","replaceText":"={{ $('Trata Dados do Form').item.json.nome_cliente }}"},{"action":"replaceAll","text":"{empresa_cliente}","replaceText":"={{ $('Trata Dados do Form').item.json.empresa_cliente }}"},{"action":"replaceAll","text":"{email_cliente}","replaceText":"={{ $('Trata Dados do Form').item.json.email_cliente }}"},{"action":"replaceAll","text":"{telefone_cliente}","replaceText":"={{ $('Trata Dados do Form').item.json.telefone_cliente.toString() }}"},{"action":"replaceAll","text":"{data_atual}","replaceText":"={{ $('Trata Dados do Form').item.json.data_atual }}"},{"action":"replaceAll","text":"{data_validade}","replaceText":"={{ $('Trata Dados do Form').item.json.data_validade }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-896,208],"id":"e4b03372-5f1c-4331-876d-1cbe4546b2c8","name":"Replace de Campos","credentials":{"googleDocsOAuth2Api":{"id":"e1l6H8BvqByY55uG","name":"Google Docs account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-688,208],"id":"7dfa7b5f-72aa-47fa-80a7-edc527a35f73","name":"Download do novo arquivo","credentials":{"googleDriveOAuth2Api":{"id":"n63CeyJsXfkzgBEa","name":"Google Drive account 2"}}},{"parameters":{"setAllData":false,"destinationKey":"data-base64","options":{"encoding":"base64"}},"id":"02233c1d-fad7-4776-b694-ec3bfcfd9393","name":"Convert de Binário para Base64","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-496,208]},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"pessoal-herik","remoteJid":"=+{{ $('Formulario').item.json.Telefone }}","media":"={{ $json['data-base64'] }}","caption":"Segue a proposta de Mentoria","fileName":"=proposta-{{ $('Trata Dados do Form').item.json.nome_cliente }}.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-192,208],"id":"3f874dc5-4424-4842-89d9-657c58d81397","name":"Envia via WhatsApp","credentials":{"evolutionApi":{"id":"vvhHatUlPnjBzec6","name":"Evolution account"}}},{"parameters":{"content":"## Entrada","height":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1872,144],"id":"5ee77127-042b-4f01-81d3-eed632d12771","name":"Sticky Note"},{"parameters":{"content":"## Trata os dados","height":220,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1616,144],"id":"acea7a47-5590-4e61-b20e-0626a8d4e9a2","name":"Sticky Note1"},{"parameters":{"content":"## Processamento","height":260,"width":860,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,128],"id":"52d6e5b5-76bb-41d2-9f2a-3717cf4d179b","name":"Sticky Note2"},{"parameters":{"content":"## Saída","height":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,144],"id":"3fc2e790-91a4-412a-9ab9-5263729385de","name":"Sticky Note3"},{"parameters":{"operation":"addToDate","magnitude":"={{ $now }}","duration":7,"outputFieldName":"data_vallidade","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1568,208],"id":"236fcbca-b4bb-44c8-82b4-ef82ecefd29c","name":"Adicionar Validade"}],"connections":{"Formulario":{"main":[[{"node":"Adicionar Validade","type":"main","index":0}]]},"Trata Dados do Form":{"main":[[{"node":"Copia Arquivo de Proposta","type":"main","index":0}]]},"Copia Arquivo de Proposta":{"main":[[{"node":"Replace de Campos","type":"main","index":0}]]},"Replace de Campos":{"main":[[{"node":"Download do novo arquivo","type":"main","index":0}]]},"Download do novo arquivo":{"main":[[{"node":"Convert de Binário para Base64","type":"main","index":0}]]},"Convert de Binário para Base64":{"main":[[{"node":"Envia via WhatsApp","type":"main","index":0}]]},"Adicionar Validade":{"main":[[{"node":"Trata Dados do Form","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f35a05fe-1eff-4a09-9bf7-1d8673febc92","triggerCount":1,"tags":[{"createdAt":"2025-07-20T15:45:29.310Z","updatedAt":"2025-07-20T15:45:29.310Z","id":"wRUSTJ6mfrXjoMjo","name":"formacao-agentes-n8n"},{"createdAt":"2025-08-15T17:34:53.452Z","updatedAt":"2025-08-15T17:34:53.452Z","id":"Y1g65Dys0Cbd8w57","name":"google-drive"},{"createdAt":"2025-08-15T17:35:24.405Z","updatedAt":"2025-08-15T17:35:24.405Z","id":"zVYDTsum20GGDoCQ","name":"evolution-api"},{"createdAt":"2025-11-14T04:30:17.200Z","updatedAt":"2025-11-14T04:30:17.200Z","id":"yJ9l1omgoBkvGKAr","name":"automacao"}]}