backup/evolution-disconect-wI3bBcjDOx2teNPV.json
{
  "updatedAt": "2026-02-23T02:38:49.639Z",
  "createdAt": "2026-02-22T02:34:24.649Z",
  "id": "wI3bBcjDOx2teNPV",
  "name": "Evolution disconect",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-notification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        208
      ],
      "id": "3a4fa37f-f9d0-4f33-baf1-f63196d46de5",
      "name": "Webhook",
      "webhookId": "bb639321-45ce-4bb5-b947-c9977e2f62e4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a4ac5b-4000-4112-bd72-ead71fa204de",
              "name": "ignoreNames",
              "value": "=[\"\"] ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        208
      ],
      "id": "4e7d4e2c-6535-4ca4-b31c-f96d1b68d138",
      "name": "Ignorar Instancias",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Pega ignoreNames do node \"Ignorar Instancias\" (pode não existir)\nlet IGNORE = $('Ignorar Instancias').first()?.json?.ignoreNames;\n\n// Normaliza IGNORE para array de strings\nif (typeof IGNORE === 'string') {\n  const s = IGNORE.trim();\n\n  if (s.startsWith('[') && s.endsWith(']')) {\n    try { IGNORE = JSON.parse(s); } catch { IGNORE = [s]; }\n  } else {\n    IGNORE = s.split(',').map(x => x.trim()).filter(Boolean);\n  }\n} else if (!Array.isArray(IGNORE)) {\n  IGNORE = IGNORE ? [IGNORE] : [];\n}\n\n// Se for array de objetos, extrai \"name\"\nIGNORE = IGNORE.map(v => {\n  if (v && typeof v === 'object') return v.name ?? String(v);\n  return String(v);\n}).map(s => s.trim()).filter(Boolean);\n\nconst ignoreSet = new Set(IGNORE.map(s => s.toLowerCase()));\n\n// ============================\n// NOVO: só 1 instância (Webhook)\n// ============================\nconst instanceNameRaw = $('Webhook').first()?.json?.body?.instance;\nconst instanceName = String(instanceNameRaw || '').trim();\n\nif (!instanceName) return []; // sem instância, não segue\n\n// Se estiver na lista de ignorados, não segue\nif (ignoreSet.has(instanceName.toLowerCase())) return [];\n\n// Se NÃO estiver ignorada, segue (retorna algo útil)\nreturn [{\n  instance: instanceName,\n  ignored: IGNORE, // opcional (pode remover depois)\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        208
      ],
      "id": "3acc11c3-a832-49ab-b67c-01c5ef1fada2",
      "name": "Lista Instancias OFF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49257da7-c8ed-4d97-96a8-7529678a5ced",
              "name": "Numeros",
              "value": "[5511954187344]",
              "type": "array"
            },
            {
              "id": "5116cc4f-1074-4d10-a3d8-7c56754f6e37",
              "name": "Mensagem",
              "value": "=⚠️ EVOLUTION API\n>> {{ $('Webhook').item.json.body.instance }} OFF\n>> {{ $('Webhook').item.json.body.sender.replace(/\\D/g,'') }} OFF\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        208
      ],
      "id": "1220e2ca-d421-44cf-8d60-b804e76b3a9f",
      "name": "Números e Mensagem"
    },
    {
      "parameters": {
        "sender": "ServiceSMS",
        "phone": "={{ $json.Numeros }}",
        "content": "={{ $('Números e Mensagem').item.json.Mensagem }}\n"
      },
      "type": "@infobip/n8n-nodes-infobip-api.infobipApi",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "823f68cc-dc41-471d-9bd8-a056dabde6c4",
      "name": "InfobipApi1",
      "credentials": {
        "infobipApi": {
          "id": "yBfdOm5QWMXuxJ3R",
          "name": "Infobip account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Numeros",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        208
      ],
      "id": "524bdd7f-6b15-4527-bcda-fe5369acfc7a",
      "name": "Split Out1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ignorar Instancias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignorar Instancias": {
      "main": [
        [
          {
            "node": "Lista Instancias OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista Instancias OFF": {
      "main": [
        [
          {
            "node": "Números e Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Números e Mensagem": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "InfobipApi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "28187532-c8c8-4bd3-a6fb-03ab2d3cdd50",
  "activeVersionId": "28187532-c8c8-4bd3-a6fb-03ab2d3cdd50",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:34:24.649Z",
      "createdAt": "2026-02-22T02:34:24.649Z",
      "role": "workflow:owner",
      "workflowId": "wI3bBcjDOx2teNPV",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-23T02:38:49.641Z",
    "createdAt": "2026-02-23T02:38:49.641Z",
    "versionId": "28187532-c8c8-4bd3-a6fb-03ab2d3cdd50",
    "workflowId": "wI3bBcjDOx2teNPV",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "evolution-notification",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -512,
          208
        ],
        "id": "3a4fa37f-f9d0-4f33-baf1-f63196d46de5",
        "name": "Webhook",
        "webhookId": "bb639321-45ce-4bb5-b947-c9977e2f62e4"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "77a4ac5b-4000-4112-bd72-ead71fa204de",
                "name": "ignoreNames",
                "value": "=[\"\"] ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -272,
          208
        ],
        "id": "4e7d4e2c-6535-4ca4-b31c-f96d1b68d138",
        "name": "Ignorar Instancias",
        "executeOnce": true
      },
      {
        "parameters": {
          "jsCode": "// Pega ignoreNames do node \"Ignorar Instancias\" (pode não existir)\nlet IGNORE = $('Ignorar Instancias').first()?.json?.ignoreNames;\n\n// Normaliza IGNORE para array de strings\nif (typeof IGNORE === 'string') {\n  const s = IGNORE.trim();\n\n  if (s.startsWith('[') && s.endsWith(']')) {\n    try { IGNORE = JSON.parse(s); } catch { IGNORE = [s]; }\n  } else {\n    IGNORE = s.split(',').map(x => x.trim()).filter(Boolean);\n  }\n} else if (!Array.isArray(IGNORE)) {\n  IGNORE = IGNORE ? [IGNORE] : [];\n}\n\n// Se for array de objetos, extrai \"name\"\nIGNORE = IGNORE.map(v => {\n  if (v && typeof v === 'object') return v.name ?? String(v);\n  return String(v);\n}).map(s => s.trim()).filter(Boolean);\n\nconst ignoreSet = new Set(IGNORE.map(s => s.toLowerCase()));\n\n// ============================\n// NOVO: só 1 instância (Webhook)\n// ============================\nconst instanceNameRaw = $('Webhook').first()?.json?.body?.instance;\nconst instanceName = String(instanceNameRaw || '').trim();\n\nif (!instanceName) return []; // sem instância, não segue\n\n// Se estiver na lista de ignorados, não segue\nif (ignoreSet.has(instanceName.toLowerCase())) return [];\n\n// Se NÃO estiver ignorada, segue (retorna algo útil)\nreturn [{\n  instance: instanceName,\n  ignored: IGNORE, // opcional (pode remover depois)\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -48,
          208
        ],
        "id": "3acc11c3-a832-49ab-b67c-01c5ef1fada2",
        "name": "Lista Instancias OFF"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "49257da7-c8ed-4d97-96a8-7529678a5ced",
                "name": "Numeros",
                "value": "[5511954187344]",
                "type": "array"
              },
              {
                "id": "5116cc4f-1074-4d10-a3d8-7c56754f6e37",
                "name": "Mensagem",
                "value": "=⚠️ EVOLUTION API\n>> {{ $('Webhook').item.json.body.instance }} OFF\n>> {{ $('Webhook').item.json.body.sender.replace(/\\D/g,'') }} OFF\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          208
        ],
        "id": "1220e2ca-d421-44cf-8d60-b804e76b3a9f",
        "name": "Números e Mensagem"
      },
      {
        "parameters": {
          "sender": "ServiceSMS",
          "phone": "={{ $json.Numeros }}",
          "content": "={{ $('Números e Mensagem').item.json.Mensagem }}\n"
        },
        "type": "@infobip/n8n-nodes-infobip-api.infobipApi",
        "typeVersion": 1,
        "position": [
          656,
          208
        ],
        "id": "823f68cc-dc41-471d-9bd8-a056dabde6c4",
        "name": "InfobipApi1",
        "credentials": {
          "infobipApi": {
            "id": "yBfdOm5QWMXuxJ3R",
            "name": "Infobip account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "Numeros",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          432,
          208
        ],
        "id": "524bdd7f-6b15-4527-bcda-fe5369acfc7a",
        "name": "Split Out1"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Ignorar Instancias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ignorar Instancias": {
        "main": [
          [
            {
              "node": "Lista Instancias OFF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lista Instancias OFF": {
        "main": [
          [
            {
              "node": "Números e Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Números e Mensagem": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "InfobipApi1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}