backup/finamob---2.2---opt-in-RwFZQ3VuyYd3MvOl.json
{"createdAt":"2025-08-29T17:34:16.680Z","updatedAt":"2025-10-06T14:39:13.760Z","id":"RwFZQ3VuyYd3MvOl","name":"Finamob - 2.2 - Opt-in","active":true,"isArchived":false,"nodes":[{"parameters":{"events":["customer.subscription.created"]},"type":"n8n-nodes-base.stripeTrigger","typeVersion":1,"position":[0,0],"id":"50e40068-8994-4661-b2d8-c4b61a439ee3","name":"Stripe Trigger","webhookId":"87d167dd-3787-460e-9bbb-686c68eea893","credentials":{"stripeApi":{"id":"RPpOKqftHzinuztN","name":"Stripe account"}}},{"parameters":{"jsCode":"const s = $json.data.object || {};\nreturn [{ json: { event_id: $json.id, customer_id: s.customer, sub_id: s.id } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"09620780-0d20-416e-b52c-88beccbdb13b","name":"Code"},{"parameters":{"url":"=https://api.stripe.com/v1/customers/{{$json.customer_id}}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"078d1b6b-eab1-40a7-a7f0-376f2e1e22c7","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"PVN6vyGsqfocZ4rZ","name":"Stripe"}}},{"parameters":{"jsCode":"const c = items[0].json;\nconst raw = String(c.phone || (c.metadata && c.metadata.whatsapp) || '').trim();\nconst digits = raw.replace(/\\D/g, ''); // E.164 sem '+'\n\nif (!digits) {\n  // sem telefone: não envia, só loga\n  return [{ json: { skip: true, reason: 'no_phone', customer_id: c.id, sub_id: $json.sub_id || null } }];\n}\n\nconst first = (c.name || '').split(/\\s+/)[0] || '';\nconst text = `Oi ${first}, sua assinatura foi criada ✅\nVocê começará a receber o Journal por WhatsApp. Qualquer coisa, pode me chamar!`;\n\nreturn [{ json: { number: digits, text } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"84d05033-52b1-4c8f-8dae-91c8f96a25c5","name":"Code1"},{"parameters":{"resource":"messages-api","instanceName":"social-media-finamob-oficial","remoteJid":"={{$json.number}}","messageText":"={{$json.text}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[832,0],"id":"070ada9c-4044-458f-b3b0-07c89f3a7c6a","name":"Enviar texto","credentials":{"evolutionApi":{"id":"4JfTThlwBUF4KuNE","name":"Evolution - social-media-finamob-oficial"}}}],"connections":{"Stripe Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Cem9y3zmcggUQhrp"},"staticData":{"node:Stripe Trigger":{"webhookId":"we_1SFFZGRuKlw6o0HgfTqzyGQs","webhookEvents":["customer.subscription.created"],"webhookSecret":"whsec_xVc406Ja3PYbSMLZdJDiJqqIRo4P1r0B"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f34cdc08-45d1-47b8-af1d-155603793a7a","triggerCount":1,"tags":[]}