backup/finamob---6.01---sdr-finamob---disparo-fups-atrasados-wtUAsYYZyCHjqCGk.json
{
  "updatedAt": "2026-06-09T04:18:26.337Z",
  "createdAt": "2026-06-09T03:20:25.080Z",
  "id": "wtUAsYYZyCHjqCGk",
  "name": "Finamob - 6.01 - SDR Finamob - Disparo FUPs Atrasados",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        432
      ],
      "id": "25a2643a-b991-4f4d-8948-55fac5402f2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 10;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        0
      ],
      "id": "42fd8560-d1c6-4bec-b331-4417c26eb8f4",
      "name": "Execute a SQL query2",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_1_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        16
      ],
      "id": "7a4ae95a-01c3-402b-9e6f-d4c9ad9199ee",
      "name": "Enviar Template 1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 1').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 1').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        16
      ],
      "id": "a2e49bbf-4061-40f3-9bd6-d1e3711b05ad",
      "name": "Cria Mensagem no Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"1º Tentativa de Reativação\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        16
      ],
      "id": "ba9c13c0-d228-48e1-a7d8-ada85eda6ff4",
      "name": "API Finamob",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "3acf51ae-b8a3-4f69-8210-bb94cf36d98d",
      "name": "Iterar envio por lead2"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        16
      ],
      "id": "0ba040b5-6ae7-4da1-a608-107d9bfe51b2",
      "name": "Intervalo entre mensagens1",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '1º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        272
      ],
      "id": "0c1fe0b5-c532-4614-aa91-42d5f8f2317d",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        288
      ],
      "id": "eb70bb5b-08ec-4241-9599-a3d92ccbe083",
      "name": "Cria Mensagem no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"2º Tentativa de Reativação\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        288
      ],
      "id": "fe42dd1e-ca16-4b77-a710-9900cf112496",
      "name": "API Finamob1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        272
      ],
      "id": "9f9c113a-4209-4f4e-93d2-38e684907629",
      "name": "Iterar envio por lead"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        288
      ],
      "id": "12c838c1-54cb-4c67-9f52-05d2405b03fe",
      "name": "Intervalo entre mensagens",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '2º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        544
      ],
      "id": "546bf27a-ef14-424b-8577-1cd33e8fe8fb",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        560
      ],
      "id": "f930c5e6-e8e7-48c3-a630-13e1a6185167",
      "name": "Cria Mensagem no Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"3º Tentativa de Reativação\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        560
      ],
      "id": "86981c04-4c18-48d7-be07-6d5a6fde4836",
      "name": "API Finamob2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        544
      ],
      "id": "43e47416-ff0d-4170-bd3f-ec2ba59172a5",
      "name": "Iterar envio por lead1"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        560
      ],
      "id": "b62ea991-c819-4e7f-bfdd-01d0239e3dc8",
      "name": "Intervalo entre mensagens2",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '3º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        192,
        832
      ],
      "id": "d368ea4e-1596-452d-a5fb-9144570c007f",
      "name": "Execute a SQL query3",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        848
      ],
      "id": "5c765097-0f84-4989-bc1e-1e99050006c8",
      "name": "Cria Mensagem no Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"fup\": \"{{ $now.plus({ days: 90 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"Retrabalhar no futuro\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        848
      ],
      "id": "9723ae22-6d9a-45ea-b30f-b95f712657e9",
      "name": "API Finamob3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        832
      ],
      "id": "8b8058e2-8b20-4377-b82b-1b458a87d668",
      "name": "Iterar envio por lead3"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        848
      ],
      "id": "ab2d94b6-8822-4e39-8b6a-7313c292df09",
      "name": "Intervalo entre mensagens3",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_2_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        288
      ],
      "id": "6f323d18-3c59-4e2a-beed-75aaad14e913",
      "name": "Enviar Template 2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_3_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        560
      ],
      "id": "b49924f2-2b74-4c07-9f48-7c77bdb8eb79",
      "name": "Enviar Template 3",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Iterar envio por lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 1": {
      "main": [
        [
          {
            "node": "API Finamob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead2": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens1": {
      "main": [
        [
          {
            "node": "Enviar Template 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase2": {
      "main": [
        [
          {
            "node": "Iterar envio por lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob1": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens": {
      "main": [
        [
          {
            "node": "Enviar Template 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Iterar envio por lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase1": {
      "main": [
        [
          {
            "node": "Iterar envio por lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob2": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead1": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens2": {
      "main": [
        [
          {
            "node": "Enviar Template 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Iterar envio por lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase3": {
      "main": [
        [
          {
            "node": "Iterar envio por lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob3": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead3": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens3": {
      "main": [
        [
          {
            "node": "API Finamob3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 2": {
      "main": [
        [
          {
            "node": "API Finamob1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 3": {
      "main": [
        [
          {
            "node": "API Finamob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "58365279-eefa-4990-8db7-83ce439216c3",
  "activeVersionId": "58365279-eefa-4990-8db7-83ce439216c3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-09T03:20:25.080Z",
      "createdAt": "2026-06-09T03:20:25.080Z",
      "role": "workflow:owner",
      "workflowId": "wtUAsYYZyCHjqCGk",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-09T04:18:26.340Z",
    "createdAt": "2026-06-09T04:18:26.340Z",
    "versionId": "58365279-eefa-4990-8db7-83ce439216c3",
    "workflowId": "wtUAsYYZyCHjqCGk",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -64,
          432
        ],
        "id": "25a2643a-b991-4f4d-8948-55fac5402f2c",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 10;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          192,
          0
        ],
        "id": "42fd8560-d1c6-4bec-b331-4417c26eb8f4",
        "name": "Execute a SQL query2",
        "credentials": {
          "mySql": {
            "id": "8ItpiHe2joMjz6qf",
            "name": "Finamob database"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_1_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          16
        ],
        "id": "7a4ae95a-01c3-402b-9e6f-d4c9ad9199ee",
        "name": "Enviar Template 1",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "tableId": "finamob-historico_mensagens",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "mensagem_usuario",
                "fieldValue": "="
              },
              {
                "fieldId": "mensagem_agente",
                "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Enviar Template 1').item.json.contacts[0].input }}"
              },
              {
                "fieldId": "nome_usuario",
                "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
              },
              {
                "fieldId": "message_type",
                "fieldValue": "text"
              },
              {
                "fieldId": "ativo",
                "fieldValue": "true"
              },
              {
                "fieldId": "nome_app",
                "fieldValue": "SDR-FINAMOB"
              },
              {
                "fieldId": "id_usuario",
                "fieldValue": "={{ $('Enviar Template 1').item.json.contacts[0].input }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1280,
          16
        ],
        "id": "a2e49bbf-4061-40f3-9bd6-d1e3711b05ad",
        "name": "Cria Mensagem no Supabase2",
        "credentials": {
          "supabaseApi": {
            "id": "J2ITvTeT2ru3SEdo",
            "name": "EMI - Supabase"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://finamob.com.br/api/update_mailing_api.php",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "***REMOVIDO***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"1º Tentativa de Reativação\"\n  } ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          16
        ],
        "id": "ba9c13c0-d228-48e1-a7d8-ada85eda6ff4",
        "name": "API Finamob",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "batchSize": "=1",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          400,
          0
        ],
        "id": "3acf51ae-b8a3-4f69-8210-bb94cf36d98d",
        "name": "Iterar envio por lead2"
      },
      {
        "parameters": {
          "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          640,
          16
        ],
        "id": "0ba040b5-6ae7-4da1-a608-107d9bfe51b2",
        "name": "Intervalo entre mensagens1",
        "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '1º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          192,
          272
        ],
        "id": "0c1fe0b5-c532-4614-aa91-42d5f8f2317d",
        "name": "Execute a SQL query",
        "credentials": {
          "mySql": {
            "id": "8ItpiHe2joMjz6qf",
            "name": "Finamob database"
          }
        }
      },
      {
        "parameters": {
          "tableId": "finamob-historico_mensagens",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "mensagem_usuario",
                "fieldValue": "="
              },
              {
                "fieldId": "mensagem_agente",
                "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
              },
              {
                "fieldId": "nome_usuario",
                "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
              },
              {
                "fieldId": "message_type",
                "fieldValue": "text"
              },
              {
                "fieldId": "ativo",
                "fieldValue": "true"
              },
              {
                "fieldId": "nome_app",
                "fieldValue": "SDR-FINAMOB"
              },
              {
                "fieldId": "id_usuario",
                "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1280,
          288
        ],
        "id": "eb70bb5b-08ec-4241-9599-a3d92ccbe083",
        "name": "Cria Mensagem no Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "J2ITvTeT2ru3SEdo",
            "name": "EMI - Supabase"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://finamob.com.br/api/update_mailing_api.php",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "***REMOVIDO***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"2º Tentativa de Reativação\"\n  } ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          288
        ],
        "id": "fe42dd1e-ca16-4b77-a710-9900cf112496",
        "name": "API Finamob1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "batchSize": "=1",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          400,
          272
        ],
        "id": "9f9c113a-4209-4f4e-93d2-38e684907629",
        "name": "Iterar envio por lead"
      },
      {
        "parameters": {
          "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          640,
          288
        ],
        "id": "12c838c1-54cb-4c67-9f52-05d2405b03fe",
        "name": "Intervalo entre mensagens",
        "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '2º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          192,
          544
        ],
        "id": "546bf27a-ef14-424b-8577-1cd33e8fe8fb",
        "name": "Execute a SQL query1",
        "credentials": {
          "mySql": {
            "id": "8ItpiHe2joMjz6qf",
            "name": "Finamob database"
          }
        }
      },
      {
        "parameters": {
          "tableId": "finamob-historico_mensagens",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "mensagem_usuario",
                "fieldValue": "="
              },
              {
                "fieldId": "mensagem_agente",
                "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
              },
              {
                "fieldId": "nome_usuario",
                "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
              },
              {
                "fieldId": "message_type",
                "fieldValue": "text"
              },
              {
                "fieldId": "ativo",
                "fieldValue": "true"
              },
              {
                "fieldId": "nome_app",
                "fieldValue": "SDR-FINAMOB"
              },
              {
                "fieldId": "id_usuario",
                "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1280,
          560
        ],
        "id": "f930c5e6-e8e7-48c3-a630-13e1a6185167",
        "name": "Cria Mensagem no Supabase1",
        "credentials": {
          "supabaseApi": {
            "id": "J2ITvTeT2ru3SEdo",
            "name": "EMI - Supabase"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://finamob.com.br/api/update_mailing_api.php",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "***REMOVIDO***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"3º Tentativa de Reativação\"\n  } ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          560
        ],
        "id": "86981c04-4c18-48d7-be07-6d5a6fde4836",
        "name": "API Finamob2",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "batchSize": "=1",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          400,
          544
        ],
        "id": "43e47416-ff0d-4170-bd3f-ec2ba59172a5",
        "name": "Iterar envio por lead1"
      },
      {
        "parameters": {
          "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          640,
          560
        ],
        "id": "b62ea991-c819-4e7f-bfdd-01d0239e3dc8",
        "name": "Intervalo entre mensagens2",
        "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = '3º Tentativa de Reativação'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          192,
          832
        ],
        "id": "d368ea4e-1596-452d-a5fb-9144570c007f",
        "name": "Execute a SQL query3",
        "credentials": {
          "mySql": {
            "id": "8ItpiHe2joMjz6qf",
            "name": "Finamob database"
          }
        }
      },
      {
        "parameters": {
          "tableId": "finamob-historico_mensagens",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "mensagem_usuario",
                "fieldValue": "="
              },
              {
                "fieldId": "mensagem_agente",
                "fieldValue": "=Olá, {{ $('Edit Fields').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
              },
              {
                "fieldId": "telefone",
                "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
              },
              {
                "fieldId": "nome_usuario",
                "fieldValue": "={{ $('Edit Fields').item.json.clientes }}"
              },
              {
                "fieldId": "message_type",
                "fieldValue": "text"
              },
              {
                "fieldId": "ativo",
                "fieldValue": "true"
              },
              {
                "fieldId": "nome_app",
                "fieldValue": "SDR-FINAMOB"
              },
              {
                "fieldId": "id_usuario",
                "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1280,
          848
        ],
        "id": "5c765097-0f84-4989-bc1e-1e99050006c8",
        "name": "Cria Mensagem no Supabase3",
        "credentials": {
          "supabaseApi": {
            "id": "J2ITvTeT2ru3SEdo",
            "name": "EMI - Supabase"
          }
        },
        "onError": "continueRegularOutput",
        "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://finamob.com.br/api/update_mailing_api.php",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "***REMOVIDO***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"phone\": \"{{ $json.contacts[0].input }}\",\n    \"fup\": \"{{ $now.plus({ days: 90 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"Retrabalhar no futuro\"\n  } ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1072,
          848
        ],
        "id": "9723ae22-6d9a-45ea-b30f-b95f712657e9",
        "name": "API Finamob3",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "batchSize": "=1",
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          400,
          832
        ],
        "id": "8b8058e2-8b20-4377-b82b-1b458a87d668",
        "name": "Iterar envio por lead3"
      },
      {
        "parameters": {
          "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          640,
          848
        ],
        "id": "ab2d94b6-8822-4e39-8b6a-7313c292df09",
        "name": "Intervalo entre mensagens3",
        "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_2_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          288
        ],
        "id": "6f323d18-3c59-4e2a-beed-75aaad14e913",
        "name": "Enviar Template 2",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
          "authentication": "***REMOVIDO***",
          "genericAuthType": "***REMOVIDO***",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_3_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          864,
          560
        ],
        "id": "b49924f2-2b74-4c07-9f48-7c77bdb8eb79",
        "name": "Enviar Template 3",
        "retryOnFail": true,
        "credentials": {
          "httpBearerAuth": "***REMOVIDO***"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query2": {
        "main": [
          [
            {
              "node": "Iterar envio por lead2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API Finamob": {
        "main": [
          [
            {
              "node": "Cria Mensagem no Supabase2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Template 1": {
        "main": [
          [
            {
              "node": "API Finamob",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iterar envio por lead2": {
        "main": [
          [],
          [
            {
              "node": "Intervalo entre mensagens1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intervalo entre mensagens1": {
        "main": [
          [
            {
              "node": "Enviar Template 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Mensagem no Supabase2": {
        "main": [
          [
            {
              "node": "Iterar envio por lead2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Mensagem no Supabase": {
        "main": [
          [
            {
              "node": "Iterar envio por lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API Finamob1": {
        "main": [
          [
            {
              "node": "Cria Mensagem no Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iterar envio por lead": {
        "main": [
          [],
          [
            {
              "node": "Intervalo entre mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intervalo entre mensagens": {
        "main": [
          [
            {
              "node": "Enviar Template 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query1": {
        "main": [
          [
            {
              "node": "Iterar envio por lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Mensagem no Supabase1": {
        "main": [
          [
            {
              "node": "Iterar envio por lead1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API Finamob2": {
        "main": [
          [
            {
              "node": "Cria Mensagem no Supabase1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iterar envio por lead1": {
        "main": [
          [],
          [
            {
              "node": "Intervalo entre mensagens2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intervalo entre mensagens2": {
        "main": [
          [
            {
              "node": "Enviar Template 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query3": {
        "main": [
          [
            {
              "node": "Iterar envio por lead3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria Mensagem no Supabase3": {
        "main": [
          [
            {
              "node": "Iterar envio por lead3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "API Finamob3": {
        "main": [
          [
            {
              "node": "Cria Mensagem no Supabase3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iterar envio por lead3": {
        "main": [
          [],
          [
            {
              "node": "Intervalo entre mensagens3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intervalo entre mensagens3": {
        "main": [
          [
            {
              "node": "API Finamob3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Template 2": {
        "main": [
          [
            {
              "node": "API Finamob1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Template 3": {
        "main": [
          [
            {
              "node": "API Finamob2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}