backup/finamob---6.04---sdr-inbound---mudanca-de-status-3STvvZH5K5PAOMTD.json
{
  "updatedAt": "2026-07-21T21:05:47.895Z",
  "createdAt": "2026-06-09T11:09:35.664Z",
  "id": "3STvvZH5K5PAOMTD",
  "name": "Finamob - 6.04 - SDR Inbound - Mudança de Status",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"nome\": \"Nome Lead\",\n    \"phone\": \"5511992486507\",\n    \"status_plano_acao\": \"Call Agendado\",\n    \"fup\": \"2026-06-11\",\n    \"obs\": \"Motivo da mudança\"\n  } "
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        544
      ],
      "id": "7a9c398b-b290-4e68-8d03-00a2f8924430",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.status_plano_acao }}",
                    "rightValue": "em atendimento",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c32f7d75-b7e1-4763-af52-2ff10075681d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Atendendo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a420d154-b49f-4c6f-b2ad-040d5257a6d5",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.status_plano_acao }}",
                    "rightValue": "retrabalharnofuturo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retrabalhar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "67e0940a-5ab8-4ba2-8c1c-b7d73e0e428a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.status_plano_acao }}",
                    "rightValue": "encaminhar advisor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Advisor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1296f26d-8908-4a87-92ea-127f7c1c2789",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.status_plano_acao }}",
                    "rightValue": "naoeoICP",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Não ICP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7ad1c0a8-804e-4adf-b59e-8682cd1f7a4a",
                    "leftValue": "={{ $('When Executed by Another Workflow').item.json.status_plano_acao }}",
                    "rightValue": "encaminhar parcerias",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encaminhar parcerias"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        480
      ],
      "id": "e07c74ad-1b44-495f-b010-f8f5d22f5235",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    phone: $json.phone,\n    ultimo_contato: $now.toFormat('yyyy-MM-dd'),\n    status_plano_acao: $json.status_plano_acao,\n    ...($json.fup ? { fup: $json.fup } : {})\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -560,
        544
      ],
      "id": "ae8cc367-1658-4880-9c8d-d4a62b764308",
      "name": "Atualiza Status",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/mailing_trash_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"phone\": \"{{ $('When Executed by Another Workflow').item.json.phone }}\",\n\"reason\":\"{{ $('When Executed by Another Workflow').item.json.obs }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        560
      ],
      "id": "235ee907-5465-494c-b4fe-6d635cc53cd3",
      "name": "API Delete Mailing",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('When Executed by Another Workflow').item.json.phone, produtos_tag: \"Advisor\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        320
      ],
      "id": "c8653583-73e3-4b4b-9854-ce66fb3c44a0",
      "name": "API Classifica Advisor",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=Novo lead p/ Advisor\nNome: {{ $('When Executed by Another Workflow').item.json.nome }}\nTelefone: {{ $('When Executed by Another Workflow').item.json.phone }}",
        "options_message": {
          "mentions": {
            "mentionsSettings": {
              "mentioned": "11985030203,11977511281"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        176,
        320
      ],
      "id": "fec05d49-9710-454d-b350-ebeb446cf336",
      "name": "Mensagem de Confirmação",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6b0f1ca-8678-4993-80b4-e237b0eadcd4",
              "name": "ok",
              "value": "={ \"ok\": true\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        128
      ],
      "id": "e168f3a7-c957-4d26-87fb-bad5306b410e",
      "name": "Resposta Válido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6b0f1ca-8678-4993-80b4-e237b0eadcd4",
              "name": "ok",
              "value": "={ \"ok\": false, \"message\": \"status inválido: {{ $('When Executed by Another Workflow').item.json.status_plano_acao }}\" }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        944
      ],
      "id": "97d442bd-8465-4b36-b1b5-930bc32660be",
      "name": "Resposta Inválido"
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "EMI-SDR-DIOGO",
        "searchMethod": "fetchAll"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -608,
        144
      ],
      "id": "22c5993a-137f-4ead-8597-1edb75597c87",
      "name": "Mensagem de Confirmação1",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=Novo lead p/ Parcerias\nNome: {{ $('When Executed by Another Workflow').item.json.nome }}\nTelefone: {{ $('When Executed by Another Workflow').item.json.phone }}",
        "options_message": {
          "mentions": {
            "mentionsSettings": {
              "mentioned": "11970116771"
            }
          }
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        176,
        752
      ],
      "id": "9132b271-0d5a-49e6-a5b5-902fdcb36b48",
      "name": "Mensagem de Confirmação2",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('When Executed by Another Workflow').item.json.phone, dono_do_lead: \"217\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        752
      ],
      "id": "7f504e90-e9b3-41ae-a5dc-9dc7bac445f9",
      "name": "API Classifica Parcerias",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Atualiza Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Resposta Válido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Válido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Classifica Advisor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Delete Mailing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API Classifica Parcerias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Delete Mailing": {
      "main": [
        []
      ]
    },
    "API Classifica Advisor": {
      "main": [
        [
          {
            "node": "Mensagem de Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Confirmação": {
      "main": [
        [],
        []
      ]
    },
    "API Classifica Parcerias": {
      "main": [
        [
          {
            "node": "Mensagem de Confirmação2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Confirmação2": {
      "main": [
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "9de8e3ad-4fe7-4cea-b97b-9fbffb76c56b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-09T11:09:35.664Z",
      "createdAt": "2026-06-09T11:09:35.664Z",
      "role": "workflow:owner",
      "workflowId": "3STvvZH5K5PAOMTD",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}