backup/finamob---6.03---sdr-finamob---calendar1-SZ0ko4bJ8ZLgIw7s.json
{
  "updatedAt": "2026-07-22T18:55:00.732Z",
  "createdAt": "2026-07-20T18:40:06.227Z",
  "id": "SZ0ko4bJ8ZLgIw7s",
  "name": "Finamob - 6.03 - SDR Finamob - Calendar1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Preparacao de valores",
        "height": 384,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        1232
      ],
      "typeVersion": 1,
      "id": "25e70d86-02a8-40bd-911f-948e935a48b2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes\": 30,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"17:00\" }\n      ]\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"17:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"17:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"17:00\" }\n      ]\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"17:00\" }\n      ]\n    },\n{\n      \"day\": \"SAB\",\n      \"available\": false,\n      \"hours\": []\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": []\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        1360
      ],
      "id": "7ed789bd-6de4-4e6b-abcd-6510d45c7df5",
      "name": "Definir Agenda"
    },
    {
      "parameters": {
        "content": "## Buscar reunião",
        "height": 320,
        "width": 2400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        1280
      ],
      "typeVersion": 1,
      "id": "0161d614-a022-41df-a8c9-077e86511894",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Reagendar Reunião",
        "height": 336,
        "width": 2400,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        1616
      ],
      "typeVersion": 1,
      "id": "cf8ca149-b14e-4aac-a53e-396a75c5d0c5",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Cancelar Reunião",
        "height": 320,
        "width": 2400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        2000
      ],
      "typeVersion": 1,
      "id": "ea3e8559-9223-4cf1-83f6-d4287a1daffa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Buscar Horarios",
        "height": 400,
        "width": 2384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        304
      ],
      "typeVersion": 1,
      "id": "6a550ede-05dd-4a28-8756-e0e919c5c0d7",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Marcar Reunião",
        "height": 512,
        "width": 2688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        736
      ],
      "typeVersion": 1,
      "id": "55ce1128-a454-42f4-9de5-3efb68990230",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        432,
        480
      ],
      "id": "26c9cc61-9d90-42ce-ae6e-7cb2efba28ee",
      "name": "Disponibilidade do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const agenda = $node[\"Definir Agenda\"].json;\nconst eventosRaw = $items(\"Disponibilidade do Google Calendar\").map(item => item.json);\nconst trigger = $node[\"trigger\"].json || {};\n\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\n// Normaliza eventos: pega só YYYY-MM-DDTHH:MM\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .map(ev => ({\n    start: ev.start.dateTime.substring(0, 16),\n    end:   ev.end.dateTime.substring(0, 16),\n  }));\n\n// -------------------------\n// Datas relativas (SP)\n// -------------------------\n\nfunction getDataOffset(dias) {\n  const hojeLocalStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10);\n  const d = new Date(hojeLocalStr + \"T00:00:00Z\");\n  d.setUTCDate(d.getUTCDate() + dias);\n  return d.toISOString().slice(0, 10);\n}\n\nconst hojeStr = getDataOffset(0);\nconst amanhaStr = getDataOffset(1);\nconst depoisAmanhaStr = getDataOffset(2);\n\nconst agoraSP = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(11, 16);\n\n// -------------------------\n// Próxima data para o dia da semana\n// -------------------------\n\nfunction getProximaData(diaNome) {\n  const hojeLocalStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10);\n  let cursor = new Date(hojeLocalStr + \"T00:00:00Z\");\n  let tentativas = 0;\n\n  while (cursor.getUTCDay() !== diasSemana[diaNome]) {\n    cursor.setUTCDate(cursor.getUTCDate() + 1);\n    if (++tentativas > 7) break;\n  }\n\n  return cursor.toISOString().slice(0, 10);\n}\n\n// -------------------------\n// Helpers\n// -------------------------\n\nfunction somaMinutos(hhmm, min) {\n  const [h, m] = hhmm.split(\":\").map(Number);\n  const total = h * 60 + m + min;\n  return String(Math.floor(total / 60)).padStart(2, \"0\") + \":\" + String(total % 60).padStart(2, \"0\");\n}\n\nfunction menorQue(a, b) {\n  return a < b;\n}\n\n// -------------------------\n// Geração dos Slots\n// -------------------------\n\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataStr = getProximaData(dia.day);\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    let current = faixa.after;\n    const fim = faixa.before;\n\n    while (menorQue(current, fim)) {\n      const next = somaMinutos(current, intervaloMin);\n\n      if (!menorQue(next, fim) && next !== fim) break;\n      if (next > fim) break;\n\n      const currentDT = `${dataStr}T${current}`;\n      const nextDT = `${dataStr}T${next}`;\n\n      // Bloqueia slots passados de hoje (+30 min margem)\n      if (dataStr === hojeStr) {\n        const limite = somaMinutos(agoraSP, 30);\n        if (menorQue(current, limite)) {\n          current = next;\n          continue;\n        }\n      }\n\n      const ocupado = eventos.some(ev => currentDT < ev.end && nextDT > ev.start);\n\n      if (!ocupado) {\n\n        let relative = null;\n\n        if (dataStr === hojeStr) {\n          relative = \"hoje\";\n        } else if (dataStr === amanhaStr) {\n          relative = \"amanha\";\n        } else if (dataStr === depoisAmanhaStr) {\n          relative = \"depois_amanha\";\n        }\n\n        slotsLivres.push({\n          day: dia.day,\n          date: dataStr,\n          start: currentDT,\n          end: nextDT,\n          relativeDay: relative,\n          isToday: dataStr === hojeStr,\n          isTomorrow: dataStr === amanhaStr,\n          isDayAfterTomorrow: dataStr === depoisAmanhaStr\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\n// -------------------------\n// 🔎 Validação COMPLETA do horário solicitado\n// -------------------------\n\nlet horarioSolicitadoDisponivel = null;\nlet motivoIndisponivel = null;\n\nif (trigger.horario) {\n\n  // -------------------------\n  // 🔎 Normaliza horário solicitado\n  // -------------------------\n\n  let inicioSolicitado = null;\n\n  if (trigger.horario.includes(\"T\")) {\n    // Formato completo: 2026-03-05T19:00\n    inicioSolicitado = trigger.horario.substring(0, 16);\n  } else if (trigger.dia) {\n    // Formato separado: dia + horario\n    inicioSolicitado = `${trigger.dia}T${trigger.horario}`;\n  }\n\n  if (!inicioSolicitado) {\n    horarioSolicitadoDisponivel = null;\n  } else {\n\n    const dataSolicitada = inicioSolicitado.slice(0, 10);\n    const horaSolicitada = inicioSolicitado.slice(11);\n\n  const fimSolicitado = dataSolicitada + \"T\" +\n    somaMinutos(horaSolicitada, intervaloMin);\n\n  // 1️⃣ Verifica se o dia existe na agenda\n  const dataObj = new Date(dataSolicitada + \"T00:00:00\");\n  const diaSemanaNumero = dataObj.getDay();\n\n  const diaAgenda = agenda.schedule.find(d =>\n    diasSemana[d.day] === diaSemanaNumero\n  );\n\n  if (!diaAgenda || !diaAgenda.available) {\n    horarioSolicitadoDisponivel = false;\n    motivoIndisponivel = \"dia_nao_disponivel\";\n  } else {\n\n    const faixas = Array.isArray(diaAgenda.hours)\n      ? diaAgenda.hours\n      : [diaAgenda.hours];\n\n    // 2️⃣ Verifica se está dentro de alguma faixa permitida\n    const dentroDeAlgumaFaixa = faixas.some(faixa => {\n      return horaSolicitada >= faixa.after &&\n             somaMinutos(horaSolicitada, intervaloMin) <= faixa.before;\n    });\n\n    if (!dentroDeAlgumaFaixa) {\n      horarioSolicitadoDisponivel = false;\n      motivoIndisponivel = \"fora_do_horario\";\n    } else {\n\n      // 3️⃣ Verifica conflito com eventos\n      const ocupado = eventos.some(ev =>\n        inicioSolicitado < ev.end && fimSolicitado > ev.start\n      );\n\n      if (ocupado) {\n        horarioSolicitadoDisponivel = false;\n        motivoIndisponivel = \"conflito_evento\";\n      } else {\n\n        // 4️⃣ Verifica se é horário passado (regra hoje +30min)\n        if (dataSolicitada === hojeStr) {\n          const limite = somaMinutos(agoraSP, 30);\n          if (horaSolicitada < limite) {\n            horarioSolicitadoDisponivel = false;\n            motivoIndisponivel = \"horario_passado\";\n          } else {\n            horarioSolicitadoDisponivel = true;\n          }\n        } else {\n          horarioSolicitadoDisponivel = true;\n        }\n\n      }\n    }\n  }\n}\n}\n\n// Ordena slots pela data/hora real\nslotsLivres.sort((a, b) => new Date(a.start) - new Date(b.start));\n// -------------------------\n// Output final\n// -------------------------\n\nreturn [{\n  slotsLivres,\n  horarioSolicitado: trigger.horario || null,\n  horarioSolicitadoDisponivel\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        496
      ],
      "id": "4a45c91c-6469-4b4c-bd8b-83bc8c4bfc2d",
      "name": "Gerar Horários Livres"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "listarHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d821077-bb35-4636-ac10-7ad6c459876b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listarHorarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c971151-b71a-4f4e-9e2a-222c8047ce1a",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "agendarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c547c9e1-f130-4390-9088-65fd9282edfc",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "encontrarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encontrarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de18d8e3-b6df-4754-940b-2b534d4e4ce1",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "reagendarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4260bfd0-cf2f-4f30-a395-69e4e4bc95be",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "cancelarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dc01dde-deaa-4687-b410-520253b45098",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "adicionarConvidado",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "adicionarConvidado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        1312
      ],
      "id": "88e395ef-82e0-43aa-8b3b-0999be28ecd3",
      "name": "Decisão de Ação"
    },
    {
      "parameters": {
        "jsCode": "const agenda = $node[\"Definir Agenda\"].json;\nconst eventosRaw = $items(\"Obter Eventos do Google Calendar\").map(item => item.json);\n\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\nconst leadEmail = ($('trigger').first().json.email || \"\").trim().toLowerCase();\n\n// Normaliza eventos: pega só YYYY-MM-DDTHH:MM do dateTime de SP\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .filter(ev => !(ev.attendees || []).some(a => (a.email || \"\").trim().toLowerCase() === leadEmail))\n  .map(ev => ({\n    start: ev.start.dateTime.substring(0, 16),\n    end:   ev.end.dateTime.substring(0, 16),\n  }));\n\n// \"Hoje\" em SP\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10);\nconst agoraSP = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(11, 16); // \"HH:MM\"\n\n// Próxima data para um dia da semana, calculada em SP\nfunction getProximaData(diaNome) {\n  const hojeLocalStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10);\n  let cursor = new Date(hojeLocalStr + \"T00:00:00Z\");\n  let tentativas = 0;\n  while (cursor.getUTCDay() !== diasSemana[diaNome]) {\n    cursor.setUTCDate(cursor.getUTCDate() + 1);\n    if (++tentativas > 7) break;\n  }\n  return cursor.toISOString().slice(0, 10); // \"YYYY-MM-DD\"\n}\n\n// Soma minutos em \"HH:MM\"\nfunction somaMinutos(hhmm, min) {\n  const [h, m] = hhmm.split(\":\").map(Number);\n  const total = h * 60 + m + min;\n  return String(Math.floor(total / 60)).padStart(2, \"0\") + \":\" + String(total % 60).padStart(2, \"0\");\n}\n\n// Compara \"HH:MM\" como string\nfunction menorQue(a, b) {\n  return a < b;\n}\n\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataStr = getProximaData(dia.day); // \"YYYY-MM-DD\" em SP\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    let current = faixa.after;   // \"HH:MM\"\n    const fim   = faixa.before;  // \"HH:MM\"\n\n    while (menorQue(current, fim)) {\n      const next = somaMinutos(current, intervaloMin);\n      if (!menorQue(next, fim) && next !== fim) break;\n      if (next > fim) break;\n\n      const currentDT = `${dataStr}T${current}`; // \"YYYY-MM-DDTHH:MM\"\n      const nextDT    = `${dataStr}T${next}`;\n\n      // Bloqueia slots passados de hoje (+ 30 min de margem)\n      if (dataStr === hojeStr) {\n        const limite = somaMinutos(agoraSP, 30);\n        if (menorQue(current, limite)) {\n          current = next;\n          continue;\n        }\n      }\n\n      // Checa conflito: compara strings \"YYYY-MM-DDTHH:MM\" diretamente\n      const ocupado = eventos.some(ev => currentDT < ev.end && nextDT > ev.start);\n\n      if (!ocupado) {\n        slotsLivres.push({\n          day:   dia.day,\n          start: currentDT,  // \"2026-02-23T11:00\" — SP, sem Z, sem conversão\n          end:   nextDT,\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\nreturn slotsLivres;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        944
      ],
      "id": "09ad1efd-30f1-4976-88f8-24acd2f9d5ab",
      "name": "Gerar Slots Livres"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus({week:2}) }}",
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        432,
        928
      ],
      "id": "f4bb6f47-e8ec-44dd-8e74-be6a28d53de2",
      "name": "Obter Eventos do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// INPUT\n// ===============================\nconst input = $items(\"trigger\")[0].json;\nconst { dia, horario, nome, empresa, email, telefone, descricao, convidados } = input; // <-- NOVO: adicionado \"convidados\"\n\nconst convidadosNormalizados = (convidados || [])                                   // <-- NOVO\n  .filter(c => c?.email)                                                            // <-- NOVO\n  .map(c => ({ nome: c.nome || \"\", email: c.email.trim().toLowerCase() }))          // <-- NOVO\n  .filter(c => c.email !== (email || \"\").trim().toLowerCase())                      // <-- NOVO\n  .filter((c, i, arr) => arr.findIndex(x => x.email === c.email) === i);            // <-- NOVO\n\nconst tz = \"America/Sao_Paulo\";\n\n// ===============================\n// DATA ATUAL EM SP\n// ===============================\nconst agora = new Date().toLocaleString(\"sv-SE\", { timeZone: tz });\nconst hojeStr = agora.slice(0, 10);\nconst agoraSP = agora.slice(11, 16);\n\nfunction somaMinutos(hhmm, min) {\n  const [h, m] = hhmm.split(\":\").map(Number);\n  const total = h * 60 + m + min;\n  return String(Math.floor(total / 60)).padStart(2, \"0\") + \":\" +\n         String(total % 60).padStart(2, \"0\");\n}\n\nconst limite = somaMinutos(agoraSP, 30);\n\n// ===============================\n// PEGAR TODOS OS SLOTS (FORMATO REAL)\n// ===============================\nconst slotsBase = $items(\"Gerar Slots Livres\").map(item => item.json);\n\nif (!slotsBase.length) {\n  throw new Error(\"Nenhum slot retornado pelo node 'Gerar Slots Livres'.\");\n}\n\n// ===============================\n// FILTRAR PASSADO E < 30 MIN\n// ===============================\nconst slots = slotsBase.filter(slot => {\n  const slotDia  = slot.start.slice(0, 10);\n  const slotHora = slot.start.slice(11, 16);\n\n  if (slotDia === hojeStr) return slotHora >= limite;\n  return slotDia > hojeStr;\n});\n\n// ===============================\n// VERIFICAR HORÁRIO SOLICITADO\n// ===============================\nlet solicitadoKey;\n\nif (horario.includes(\"T\")) {\n  solicitadoKey = horario.slice(0, 16);\n} else {\n  solicitadoKey = `${dia}T${horario}`;\n}\nconst encontrado = slots.find(slot => slot.start === solicitadoKey);\n\nif (encontrado) {\n  return [{\n    json: {\n      status: \"ok\",\n      message: `Horário disponível: ${dia} ${horario}. Pode agendar.`,\n      dados: {\n        nome,\n        empresa,\n        email,\n        telefone,\n        descricao,\n        convidados: convidadosNormalizados, // <-- NOVO\n        inicio: { dateTime: `${encontrado.start}:00`, timeZone: tz },\n        fim:    { dateTime: `${encontrado.end}:00`,   timeZone: tz }\n      }\n    }\n  }];\n}\n\n// ===============================\n// AGRUPAR POR DIA\n// ===============================\nconst slotsPorDia = {};\n\nfor (const slot of slots) {\n  const d = slot.start.slice(0, 10);\n  if (!slotsPorDia[d]) slotsPorDia[d] = [];\n  slotsPorDia[d].push(slot);\n}\n\nfor (const d in slotsPorDia) {\n  slotsPorDia[d].sort((a, b) => a.start.localeCompare(b.start));\n}\n\n// ===============================\n// FUNÇÃO PARA SOMAR DIAS\n// ===============================\nfunction addDias(dataStr, n) {\n  const d = new Date(dataStr + \"T00:00:00Z\");\n  d.setUTCDate(d.getUTCDate() + n);\n  return d.toISOString().slice(0, 10);\n}\n\n// ===============================\n// BUSCAR ALTERNATIVAS\n// ===============================\nlet alternativas = [];\n\nconst prev = addDias(dia, -1);\nconst next = addDias(dia, +1);\n\nalternativas.push(...(slotsPorDia[prev]?.slice(0, 2) || []));\nalternativas.push(...(slotsPorDia[dia]?.slice(0, 2)  || []));\nalternativas.push(...(slotsPorDia[next]?.slice(0, 2) || []));\n\nlet offset = 2;\n\nwhile (alternativas.length < 2 && offset <= 7) {\n  alternativas.push(...(slotsPorDia[addDias(dia, -offset)]?.slice(0, 2) || []));\n  alternativas.push(...(slotsPorDia[addDias(dia, +offset)]?.slice(0, 2) || []));\n  offset++;\n}\n\nalternativas = alternativas\n  .slice(0, 6)\n  .map(slot => ({\n    inicio: { dateTime: `${slot.start}:00`, timeZone: tz },\n    fim:    { dateTime: `${slot.end}:00`,   timeZone: tz }\n  }));\n\n// ===============================\n// RETORNO INDISPONÍVEL\n// ===============================\nreturn [{\n  json: {\n    status: \"indisponivel\",\n    message: `O horário ${dia} ${horario} não está disponível.`,\n    alternativas\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        944
      ],
      "id": "fcabc27c-0e53-41e9-b93e-2e9adfef68f5",
      "name": "Verificar Disponibilidade e Gerar Alternativas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad1726fe-95a3-42ab-8b6c-836f7b37668e",
              "name": "status",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "50e62759-8242-4df9-b4f7-b3891e645ff8",
              "name": "alternativas",
              "value": "={{ $json.alternativas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        832
      ],
      "id": "07239c6c-def3-40d2-a302-7c6ad0d2b770",
      "name": "Resposta: Horário Indisponível"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list"
        },
        "start": "={{ $json.input[0].json.dados.inicio.dateTime }}",
        "end": "={{ $json.input[0].json.dados.fim.dateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ [$json.input[0].json.dados.email, ...($json.input[0].json.dados.convidados || []).map(c => c.email)] }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Whatsapp  {{ $json.input[0].json.dados.nome }}: {{ $json.input[0].json.dados.telefone }}\n--- {{ $json.input[0].json.dados.descricao }} ---\n\nid:  {{ $('trigger').first().json.id }}",
          "guestsCanInviteOthers": true,
          "guestsCanModify": true,
          "guestsCanSeeOtherGuests": true,
          "summary": "=Finamob <> {{ $json.input[0].json.dados.nome }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2112,
        1072
      ],
      "id": "3c492f26-f7de-444f-a29c-7943a279d2a2",
      "name": "Agendar Reunião no Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        2112
      ],
      "id": "ac7c4f95-9c91-4898-ab9c-1b751f723f09",
      "name": "Obter Eventos do Google Calendar1",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const leadEmail = $('trigger').item.json.email ? $('trigger').item.json.email.trim().toLowerCase() : '';\nconst now = new Date();\n\n// 1. Filtra eventos onde o lead está presente\nconst matches = items.filter(item => {\n  const event = item.json;\n  if (event.attendees && Array.isArray(event.attendees)) {\n    return event.attendees.some(attendee => \n      attendee.email && attendee.email.trim().toLowerCase() === leadEmail\n    );\n  }\n  return false;\n});\n\n// 2. Filtra apenas eventos futuros e ordena por data\nconst futureMeetings = matches\n  .filter(item => new Date(item.json.start.dateTime) > now) // Apenas datas futuras\n  .sort((a, b) => new Date(a.json.start.dateTime) - new Date(b.json.start.dateTime)); // Ordena do mais próximo para o mais distante\n\n// Retorna a reunião futura mais próxima. Se não houver futura, retorna a última encontrada.\nreturn futureMeetings.length > 0 ? [futureMeetings[0]] : matches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        2112
      ],
      "id": "8a8a82e2-e124-4eac-88e9-b1822d573fa2",
      "name": "Identificar reunião com email do lead"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        864,
        2112
      ],
      "id": "d4a1652d-a8a6-4882-b103-237a59ebddeb",
      "name": "Cancela a reunião",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus({week:2}) }}",
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        1744
      ],
      "id": "5900dfce-435c-4318-b7ab-1ee6069e35af",
      "name": "Obter Eventos do Google Calendar2",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus({week:1}) }}",
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        1360
      ],
      "id": "926c9efe-f4f5-4917-a481-1d108fda3783",
      "name": "Obter Eventos do Google Calendar3",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const TIMEZONE = \"America/Sao_Paulo\";\n\nconst leadEmailRaw = $('trigger').first().json.email; \n\nif (!leadEmailRaw) {\n    return [{ json: { error: \"Dados incompletos\", found: false } }];\n}\n\nconst leadEmail = leadEmailRaw.trim().toLowerCase();\n\n// Use UTC mesmo (mais seguro)\nconst now = new Date();\n\n// Função pra pegar dateTime com fallback (caso seja all-day)\nfunction getEventDate(item) {\n  const start = item.json.start;\n  if (!start) return null;\n\n  // Eventos com hora\n  if (start.dateTime) return new Date(start.dateTime);\n\n  // Eventos all-day (date)\n  if (start.date) return new Date(start.date + \"T00:00:00\");\n\n  return null;\n}\n\n// Filtra eventos do lead\nconst matches = items.filter(item => {\n  const event = item.json;\n\n  return event.attendees?.some(attendee =>\n    attendee.email?.trim().toLowerCase() === leadEmail\n  );\n});\n\n// Separa eventos futuros e passados\nconst futureMeetings = matches\n  .map(item => ({ item, date: getEventDate(item) }))\n  .filter(e => e.date && e.date >= now)\n  .sort((a, b) => a.date - b.date);\n\nconst pastMeetings = matches\n  .map(item => ({ item, date: getEventDate(item) }))\n  .filter(e => e.date && e.date < now)\n  .sort((a, b) => b.date - a.date);\n\n// Pega os candidatos\nconst nextMeeting = futureMeetings[0] || null;\nconst lastMeeting = pastMeetings[0] || null;\n\n// Formatação correta com timezone\nfunction formatDateTime(date) {\n  return {\n    date: date.toLocaleDateString(\"pt-BR\", {\n      timeZone: TIMEZONE\n    }),\n    time: date.toLocaleTimeString(\"pt-BR\", {\n      timeZone: TIMEZONE,\n      hour: '2-digit',\n      minute: '2-digit'\n    })\n  };\n}\n\nreturn [{\n  json: {\n    found: !!(nextMeeting || lastMeeting),\n\n    nextMeeting: nextMeeting ? {\n      eventId: nextMeeting.item.json.id,\n      summary: nextMeeting.item.json.summary,\n      ...formatDateTime(nextMeeting.date)\n    } : null,\n\n    lastMeeting: lastMeeting ? {\n      eventId: lastMeeting.item.json.id,\n      summary: lastMeeting.item.json.summary,\n      ...formatDateTime(lastMeeting.date)\n    } : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        1360
      ],
      "id": "540dcede-27af-4158-840b-36b5204e2d0b",
      "name": "Identificar todas as reuniões agendadas daquele lead"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "end": "={{ $json.updatePayload.end.dateTime }}",
          "start": "={{ $json.updatePayload.start.dateTime }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        864,
        1744
      ],
      "id": "0a626355-8ad5-4c9c-9696-91be1eaf7da8",
      "name": "Reagenda a reunião",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const TIMEZONE_OFFSET = '-03:00'; \nconst MEETING_DURATION_MINUTES = 30;\n\nconst leadEmailRaw = $('trigger').item.json.email; \nconst newDateStr = $('trigger').item.json.dia;\nconst newTimeStr = $('trigger').item.json.horario;\n\nif (!leadEmailRaw || !newDateStr || !newTimeStr) {\n    return [{ json: { error: \"Dados incompletos\", found: false } }];\n}\n\nconst leadEmail = leadEmailRaw.trim().toLowerCase();\nconst nowBrasil = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" }));\n\nconst matches = items.filter(item => {\n  const event = item.json;\n  if (event.attendees && Array.isArray(event.attendees)) {\n    return event.attendees.some(attendee => \n      attendee.email && attendee.email.trim().toLowerCase() === leadEmail\n    );\n  }\n  return false;\n});\n\n// Pega o mais próximo de hoje, passado ou futuro\nconst meetingsSorted = matches\n  .filter(item => item.json.start.dateTime)\n  .sort((a, b) => {\n    const diffA = Math.abs(new Date(a.json.start.dateTime) - nowBrasil);\n    const diffB = Math.abs(new Date(b.json.start.dateTime) - nowBrasil);\n    return diffA - diffB;\n  });\n\nif (meetingsSorted.length === 0) {\n    return [{ json: { error: \"Nenhuma reunião encontrada para reagendar.\", found: false } }];\n}\n\nconst meetingToReschedule = meetingsSorted[0];\n\nconst isoStringBrasil = `${newDateStr}T${newTimeStr}:00${TIMEZONE_OFFSET}`;\nconst startDate = new Date(isoStringBrasil);\nconst endDate = new Date(startDate.getTime() + MEETING_DURATION_MINUTES * 60000);\n\nreturn [{\n    json: {\n        found: true,\n        eventId: meetingToReschedule.json.id,\n        calendarId: \"primary\",\n        summary: meetingToReschedule.json.summary,\n        updatePayload: {\n            start: {\n                dateTime: startDate.toISOString(), \n                timeZone: \"America/Sao_Paulo\"\n            },\n            end: {\n                dateTime: endDate.toISOString(),\n                timeZone: \"America/Sao_Paulo\"\n            }\n        },\n        debug_check: `Entrada: ${isoStringBrasil} -> Gerado UTC: ${startDate.toISOString()}`\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        1744
      ],
      "id": "9a2f3e7b-53fc-47f1-a99d-79445fe70599",
      "name": "Identificar reunião com email do lead e preparar horário de inicio e fim"
    },
    {
      "parameters": {
        "jsCode": "const TIMEZONE_OFFSET = '-03:00';\nconst MEETING_DURATION_MINUTES = 30;\n\nconst leadEmailRaw = $('trigger').first().json.email;\nconst newDateStr = $('trigger').first().json.dia;\nconst newTimeStr = $('trigger').first().json.horario;\n\nconst eventos = $items(\"Obter Eventos do Google Calendar\").map(e => e.json);\n\nif (!leadEmailRaw || !newDateStr || !newTimeStr) {\n  return [{ json: { error: \"Dados incompletos\" } }];\n}\n\nconst leadEmail = leadEmailRaw.trim().toLowerCase();\n\nconst nowBrasil = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" }));\n\n// ===========================================================\n// 1️⃣ FILTRAR EVENTOS DO LEAD\n// ===========================================================\nconst matches = eventos.filter(event => {\n  if (!event.attendees) return false;\n  return event.attendees.some(att =>\n    att.email && att.email.trim().toLowerCase() === leadEmail\n  );\n});\n\n// Pega a mais próxima de hoje, passada ou futura\nconst meetingsSorted = matches\n  .filter(ev => ev.start.dateTime)\n  .sort((a, b) => {\n    const diffA = Math.abs(new Date(a.start.dateTime) - nowBrasil);\n    const diffB = Math.abs(new Date(b.start.dateTime) - nowBrasil);\n    return diffA - diffB; // menor diferença primeiro\n  });\n\n// ===========================================================\n// 2️⃣ DEFINIR SE É REAGENDAMENTO\n// ===========================================================\nlet isReschedule = false;\nlet meetingToReschedule = null;\n\nif (meetingsSorted.length > 0) {\n  isReschedule = true;\n  meetingToReschedule = meetingsSorted[0];\n}\n\n// ===========================================================\n// 3️⃣ CALCULAR NOVO HORÁRIO\n// ===========================================================\nconst isoStringBrasil = `${newDateStr}T${newTimeStr}:00${TIMEZONE_OFFSET}`;\nconst startDate = new Date(isoStringBrasil);\nconst endDate = new Date(startDate.getTime() + MEETING_DURATION_MINUTES * 60000);\n\n// ===========================================================\n// 4️⃣ RETORNO\n// ===========================================================\nreturn [{\n  json: {\n    input: $input.all(),\n    isReschedule,\n    eventId: meetingToReschedule ? meetingToReschedule.id : null,\n    summary: meetingToReschedule ? meetingToReschedule.summary : null,\n    payload: {\n      start: {\n        dateTime: startDate.toISOString(),\n        timeZone: \"America/Sao_Paulo\"\n      },\n      end: {\n        dateTime: endDate.toISOString(),\n        timeZone: \"America/Sao_Paulo\"\n      }\n    },\n    debug: {\n      entrada: isoStringBrasil,\n      startUTC: startDate.toISOString(),\n      leadEmail\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        1024
      ],
      "id": "2ec19417-4693-4912-99ba-0de70c689e2f",
      "name": "Identificar reunião com email do lead e preparar horário de inicio e fim1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4dbe0888-afd1-411b-be6a-006aa0619d2b",
              "leftValue": "={{ $json.isReschedule }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1856,
        1024
      ],
      "id": "09da36b9-6444-4bb0-92d8-2c80877f5013",
      "name": "eh reagendamento?"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "end": "={{ $json.input[0].json.dados.fim.dateTime }}",
          "start": "={{ $json.input[0].json.dados.inicio.dateTime }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2112,
        912
      ],
      "id": "b89c39e8-669c-4abd-906f-675f282e3b2d",
      "name": "Reagenda a reunião1",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "597f2e89-0383-4155-ab3b-1a26a5037fc0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "indisponivel",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        944
      ],
      "id": "11c44d37-cd14-4bd4-a22a-4ffa3686ced1",
      "name": "Condição de Disponibilidade"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"type\": \"agendarReuniao\",\n\"tema\": \"funding imobiliario\",\n\"dia\": \"2026-06-15\",\n\"horario\": \"15:00\",\n\"email\": \"usuario@email.com\",\n\"telefone\": \"5511999999999\",\n\"nome\": \"João da Silva\",\n\"empresa\": \"Empresa X\",\n\"descricao\": \"Falou que está buscando funding para um projeto de 40 unidades e quer entender como a imersão pode acelerar sua captação\",\n\"id\": \"8100\",\n\"convidados\": [\n  { \"nome\": \"Maria Souza\", \"email\": \"maria@empresa.com\" }\n]\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        1360
      ],
      "id": "8a9f59e0-1df0-47e7-b6a5-796ad6212842",
      "name": "trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim1').item.json.input[0].json.dados.telefone }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim1').item.json.input[0].json.dados.inicio.dateTime.split('T')[0] }}\",\n    \"status_plano_acao\": \"call agendado\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2320,
        976
      ],
      "id": "5a3a9aa2-9e22-42d7-ac2d-f74864156818",
      "name": "API Finamob",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=Reunião com *{{ $('trigger').first().json.nome }}* agendada para *{{\n  (() => {\n    let dateTime = null;\n\n    try {\n      dateTime = $('Agendar Reunião no Google Calendar').item.json.start?.dateTime;\n    } catch (e) {}\n\n    if (!dateTime) {\n      try {\n        dateTime = $('Reagenda a reunião1').item.json.start?.dateTime;\n      } catch (e) {}\n    }\n\n    return DateTime\n      .fromISO(dateTime)\n      .setZone('America/Sao_Paulo')\n      .setLocale('pt-BR')\n      .toFormat(\"cccc, dd/MM/yyyy 'às' HH:mm\");\n  })()\n}}*\n\nAssunto: {{ $('trigger').first().json.descricao }}{{\n  (() => {\n    const convs = $('trigger').first().json.convidados || [];\n    if (!convs.length) return '';\n    const lista = convs.map(c => c.nome ? `${c.nome} (${c.email})` : c.email).join(', ');\n    return `\\n\\nConvidado(s) no invite: ${lista}`;\n  })()\n}}\n\nID: {{ $('trigger').first().json.id }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2720,
        976
      ],
      "id": "c126674e-90c4-4cc4-b21f-b73e84208238",
      "name": "Mensagem de Confirmação",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim').item.json.input[0].json.dados.telefone }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim').item.json.input[0].json.dados.inicio.dateTime.split('T')[0] }}\",\n    \"status_plano_acao\": \"call agendado\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        1648
      ],
      "id": "ee191962-0561-4792-8078-bd38028687dd",
      "name": "API Finamob1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=Reunião com *{{ $('trigger').first().json.nome }}* reagendada para *{{\n  (() => {\n    let dateTime = null;\n\n    try {\n      dateTime = $('Reagenda a reunião').item.json.start?.dateTime;\n    } catch (e) {}\n\n    if (!dateTime) {\n      try {\n        dateTime = $('Reagenda a reunião1').item.json.start?.dateTime;\n      } catch (e) {}\n    }\n\n    return DateTime\n      .fromISO(dateTime)\n      .setZone('America/Sao_Paulo')\n      .setLocale('pt-BR')\n      .toFormat(\"cccc, dd/MM/yyyy 'às' HH:mm\");\n  })()\n}}*\n\nId: {{ $('trigger').first().json.id }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1232,
        1648
      ],
      "id": "480cf959-1e1a-4fcc-bd29-b5529413811a",
      "name": "Mensagem de Confirmação1",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ $('Identificar reunião com email do lead').item.json.input[0].json.dados.telefone }}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $('Identificar reunião com email do lead').item.json.input[0].json.dados.inicio.dateTime.split('T')[0] }}\",\n    \"status_plano_acao\": \"em atendimento\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        2112
      ],
      "id": "932aea0a-1d58-4d85-998f-b84c08752bb4",
      "name": "API Finamob2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=Reunião com *{{ $('trigger').first().json.nome }}* cancelada era *{{\n  (() => {\n    let dateTime = null;\n\n    try {\n      dateTime = $('Agendar Reunião no Google Calendar').item.json.start?.dateTime;\n    } catch (e) {}\n\n    if (!dateTime) {\n      try {\n        dateTime = $('Reagenda a reunião1').item.json.start?.dateTime;\n      } catch (e) {}\n    }\n\n    return DateTime\n      .fromISO(dateTime)\n      .setZone('America/Sao_Paulo')\n      .setLocale('pt-BR')\n      .toFormat(\"cccc, dd/MM/yyyy 'às' HH:mm\");\n  })()\n}}*\n\nAssunto: {{ $('trigger').first().json.descricao }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        2112
      ],
      "id": "ad35558e-295e-4c58-95ae-feb2fa934ca1",
      "name": "Mensagem de Confirmação2",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55e48be0-67f3-41fc-83d2-7b98b7fd7ef1",
              "name": "response",
              "value": "Horário confirmado e invite enviado!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2912,
        976
      ],
      "id": "573da6b6-88db-4945-8a18-c9547556d1ed",
      "name": "Response"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Verificar Reunião Futura do Lead\n// Colocar logo após o node de getAll de eventos do Google Calendar\n// ============================================================\n\nconst TIMEZONE = \"America/Sao_Paulo\";\nconst MARGEM_HORAS = 0;\n\nconst trigger = $('trigger').first().json;\nconst leadEmailRaw = trigger.email;\nconst leadEmail = (leadEmailRaw || \"\").trim().toLowerCase();\n\nif (!leadEmail) {\n  return [{ json: { temReuniaoFutura: false, duplicado: false, motivo: \"sem_email\" } }];\n}\n\nconst agora = new Date();\nconst limite = new Date(agora.getTime() + MARGEM_HORAS * 60 * 60 * 1000);\n\nconst futuras = items\n  .map(i => i.json)\n  .filter(ev => ev.start?.dateTime)\n  .filter(ev => (ev.attendees || []).some(a => (a.email || \"\").trim().toLowerCase() === leadEmail))\n  .filter(ev => new Date(ev.start.dateTime) >= limite)\n  .sort((a, b) => new Date(a.start.dateTime) - new Date(b.start.dateTime));\n\nif (futuras.length === 0) {\n  return [{ json: { temReuniaoFutura: false, duplicado: false } }];\n}\n\nconst proxima = futuras[0];\nconst inicio = new Date(proxima.start.dateTime);\n\nconst dataAgendadaISO = inicio.toLocaleString(\"sv-SE\", { timeZone: TIMEZONE }).slice(0, 10);\nconst horaAgendada = inicio.toLocaleTimeString(\"pt-BR\", { timeZone: TIMEZONE, hour: \"2-digit\", minute: \"2-digit\" });\n\n// ============================================================\n// Comparar com o que veio no trigger (pedido atual)\n// ============================================================\nconst diaSolicitado = (trigger.dia || \"\").trim();       // \"YYYY-MM-DD\"\nconst horarioSolicitadoRaw = (trigger.horario || \"\").trim();\nconst horarioSolicitado = horarioSolicitadoRaw.includes(\"T\")\n  ? horarioSolicitadoRaw.slice(11, 16)\n  : horarioSolicitadoRaw.slice(0, 5); // normaliza \"HH:MM\"\n\nconst mesmoDia = diaSolicitado === dataAgendadaISO;\nconst mesmaHora = horarioSolicitado === horaAgendada;\nconst duplicado = mesmoDia && mesmaHora;\n\nreturn [{\n  json: {\n    temReuniaoFutura: true,\n    duplicado,\n    eventId: proxima.id,\n    resumo: proxima.summary || null,\n    dataAgendadaISO,\n    dataAgendada: inicio.toLocaleDateString(\"pt-BR\", { timeZone: TIMEZONE }),\n    horaAgendada\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        928
      ],
      "id": "bece5657-7e0f-4a99-a3f8-692867e418f1",
      "name": "Verificar Reunião Futura do Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6b8b810-3ebc-4e15-a052-65dcd35c508f",
              "leftValue": "={{ $json.duplicado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        928
      ],
      "id": "bedca5e6-e80e-4d03-992e-95db21ed1c35",
      "name": "É duplicado?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e575ada5-b049-4ae3-afcf-85c6d85e0f51",
              "name": "response",
              "value": "={\n  \"status\": \"ja_confirmado\",\n  \"message\": \"Reunião já confirmada, nenhuma ação necessária.\",\n  \"dia\": \"{{ $('Verificar Reunião Futura do Lead').item.json.dataAgendadaISO }}\",\n  \"horario\": \"{{ $('Verificar Reunião Futura do Lead').item.json.horaAgendada }}\",\n  \"eventId\": \"{{ $('Verificar Reunião Futura do Lead').item.json.eventId }}\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        784
      ],
      "id": "a64ecc3a-7716-418f-8c57-ebbbd8f6e801",
      "name": "Resposta: Já Confirmada"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Verificar Reunião Futura do Lead\n// Colocar logo após o node de getAll de eventos do Google Calendar\n// ============================================================\n\nconst TIMEZONE = \"America/Sao_Paulo\";\nconst MARGEM_HORAS = 0;\n\nconst trigger = $('trigger').first().json;\nconst leadEmailRaw = trigger.email;\nconst leadEmail = (leadEmailRaw || \"\").trim().toLowerCase();\n\nif (!leadEmail) {\n  return [{ json: { temReuniaoFutura: false, duplicado: false, motivo: \"sem_email\" } }];\n}\n\nconst agora = new Date();\nconst limite = new Date(agora.getTime() + MARGEM_HORAS * 60 * 60 * 1000);\n\nconst futuras = items\n  .map(i => i.json)\n  .filter(ev => ev.start?.dateTime)\n  .filter(ev => (ev.attendees || []).some(a => (a.email || \"\").trim().toLowerCase() === leadEmail))\n  .filter(ev => new Date(ev.start.dateTime) >= limite)\n  .sort((a, b) => new Date(a.start.dateTime) - new Date(b.start.dateTime));\n\nif (futuras.length === 0) {\n  return [{ json: { temReuniaoFutura: false, duplicado: false } }];\n}\n\nconst proxima = futuras[0];\nconst inicio = new Date(proxima.start.dateTime);\n\nconst dataAgendadaISO = inicio.toLocaleString(\"sv-SE\", { timeZone: TIMEZONE }).slice(0, 10);\nconst horaAgendada = inicio.toLocaleTimeString(\"pt-BR\", { timeZone: TIMEZONE, hour: \"2-digit\", minute: \"2-digit\" });\n\n// ============================================================\n// Comparar com o que veio no trigger (pedido atual)\n// ============================================================\nconst diaSolicitado = (trigger.dia || \"\").trim();       // \"YYYY-MM-DD\"\nconst horarioSolicitadoRaw = (trigger.horario || \"\").trim();\nconst horarioSolicitado = horarioSolicitadoRaw.includes(\"T\")\n  ? horarioSolicitadoRaw.slice(11, 16)\n  : horarioSolicitadoRaw.slice(0, 5); // normaliza \"HH:MM\"\n\nconst mesmoDia = diaSolicitado === dataAgendadaISO;\nconst mesmaHora = horarioSolicitado === horaAgendada;\nconst duplicado = mesmoDia && mesmaHora;\n\nreturn [{\n  json: {\n    temReuniaoFutura: true,\n    duplicado,\n    eventId: proxima.id,\n    resumo: proxima.summary || null,\n    dataAgendadaISO,\n    dataAgendada: inicio.toLocaleDateString(\"pt-BR\", { timeZone: TIMEZONE }),\n    horaAgendada\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        480
      ],
      "id": "e21dc3f7-f015-42d4-8f50-11f6506a882e",
      "name": "Verificar Reunião Futura do Lead1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6b8b810-3ebc-4e15-a052-65dcd35c508f",
              "leftValue": "={{ $json.duplicado }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        480
      ],
      "id": "0a086512-bf2c-4038-9f22-486dc0c40b86",
      "name": "É duplicado?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e575ada5-b049-4ae3-afcf-85c6d85e0f51",
              "name": "response",
              "value": "={\n  \"status\": \"ja_confirmado\",\n  \"message\": \"Reunião já confirmada, nenhuma ação necessária.\",\n  \"dia\": \"{{ $('Verificar Reunião Futura do Lead1').item.json.dataAgendadaISO }}\",\n  \"horario\": \"{{ $('Verificar Reunião Futura do Lead1').item.json.horaAgendada }}\",\n  \"eventId\": \"{{ $('Verificar Reunião Futura do Lead1').item.json.eventId }}\"\n}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        336
      ],
      "id": "85175f98-a940-4086-bc9c-7c67533935da",
      "name": "Resposta: Já Confirmada1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/calls_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "FINA_API_2026_9f7c2b4e8a1d6c3f0b92e71a54d8c6aa3f19b0e427c85d6f921ce4a0b7d3f8c2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"action\": \"upsert\",\n    \"phone\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim1').item.json.input[0].json.dados.telefone }}\",\n    \"dt_call\": \"{{ $('Identificar reunião com email do lead e preparar horário de inicio e fim1').item.json.input[0].json.dados.inicio.dateTime.replace('T',' ').substring(0,16) }}\",\n    \"obs\": \"Reuniao agendada automaticamente via n8n\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2528,
        976
      ],
      "id": "23279d88-b20f-4265-aa94-69fc5d7909d1",
      "name": "Upsert Call - Pipeline Finamob"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/calls_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "FINA_API_2026_9f7c2b4e8a1d6c3f0b92e71a54d8c6aa3f19b0e427c85d6f921ce4a0b7d3f8c2"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"upsert\",\n  \"phone\": \"{{ $('trigger').first().json.telefone }}\",\n  \"dt_call\": \"{{ $('trigger').first().json.dia }} {{ $('trigger').first().json.horario }}\",\n  \"obs\": \"Reuniao agendada automaticamente via n8n\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        1808
      ],
      "id": "54b887dd-7eab-4be3-94b7-24422232f990",
      "name": "Upsert Call - Pipeline Finamob1"
    },
    {
      "parameters": {
        "content": "## ADICIONAR CONVIDADO",
        "height": 320,
        "width": 2400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        2352
      ],
      "typeVersion": 1,
      "id": "daed0330-be34-44ce-ba6f-8a53b32be40d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "luizakrum@gmail.com",
          "mode": "list",
          "cachedResultName": "luizakrum@gmail.com"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        448,
        2464
      ],
      "id": "4795a7c2-19e2-443d-9393-9fade8cca0c3",
      "name": "Obter Eventos do Google Calendar4",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "const leadEmail = ($('trigger').first().json.email || '').trim().toLowerCase();\nconst now = new Date();\n\nconst matches = items.filter(item => {\n  const event = item.json;\n  if (event.attendees && Array.isArray(event.attendees)) {\n    return event.attendees.some(attendee =>\n      attendee.email && attendee.email.trim().toLowerCase() === leadEmail\n    );\n  }\n  return false;\n});\n\nconst futureMeetings = matches\n  .filter(item => item.json.start?.dateTime && new Date(item.json.start.dateTime) > now)\n  .sort((a, b) => new Date(a.json.start.dateTime) - new Date(b.json.start.dateTime));\n\nif (!futureMeetings.length) {\n  return [{ json: { found: false } }];\n}\n\nconst evento = futureMeetings[0].json;\n\nreturn [{\n  json: {\n    found: true,\n    eventId: evento.id,\n    attendeesAtuais: evento.attendees || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        2464
      ],
      "id": "c0f5a64a-f8a6-474b-974d-729989bc0ef9",
      "name": "Identificar Reunião para Adicionar Convidado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "325a0641-9aab-434d-8649-7e60d4638112",
              "name": "response",
              "value": "Não encontrei nenhuma reunião futura marcada para esse e-mail, então não consegui adicionar o convidado",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        2528
      ],
      "id": "43fbeca5-564e-4ece-919a-d4ea1bb52549",
      "name": "Resposta: Reunião Não Encontrada"
    },
    {
      "parameters": {
        "jsCode": "const evento = $input.first().json;\n\nconst novosConvidados = ($('trigger').first().json.convidados || [])\n  .filter(c => c?.email)\n  .map(c => ({\n    email: c.email.trim().toLowerCase(),\n    displayName: c.nome || \"\"\n  }));\n\nconst existentes = (evento.attendeesAtuais || []).map(a => ({\n  email: (a.email || \"\").trim().toLowerCase(),\n  displayName: a.displayName || \"\"\n}));\n\nconst combinados = [...existentes];\nfor (const novo of novosConvidados) {\n  if (!combinados.some(a => a.email === novo.email)) {\n    combinados.push(novo);\n  }\n}\n\nreturn [{\n  json: {\n    eventId: evento.eventId,\n    attendeesFinal: combinados,\n    nomesAdicionados: novosConvidados.map(c => c.displayName || c.email).join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2384
      ],
      "id": "708f059b-7257-418f-a0a9-2627f33d27ba",
      "name": "Montar Lista de Convidados Atualizada"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "EMI-SDR-DIOGO",
        "remoteJid": "120363425631150537@g.us",
        "messageText": "=MENSAGEM TESTE\n\n\nConvidado(s) adicionado(s) com sucesso: *{{ $('Montar Lista de Convidados Atualizada').item.json.nomesAdicionados }}*\n\nA reunião com *{{ $('trigger').first().json.nome }}* segue confirmada, sem mudança de data/horário.\n\nID: {{ $('trigger').first().json.id }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1536,
        2384
      ],
      "id": "59084ab9-4b6a-442c-b279-a4069880b709",
      "name": "Mensagem de Confirmação3",
      "credentials": {
        "evolutionApi": {
          "id": "keWx5OuE8n8WEbw0",
          "name": "EMI-SDR-DIOGO"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/calendar/v3/calendars/luizakrum%40gmail.com/events/{{ $json.eventId }}",
        "authentication": "***REMOVIDO***",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ attendees: $json.attendeesFinal }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        2384
      ],
      "id": "c5b65e21-1a4b-4d6d-a7a7-1aa43bd975b0",
      "name": "Atualizar Convidados do Evento",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93b2c756-d5e2-417e-8097-4ed82995ed36",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        2464
      ],
      "id": "10554b6d-8f91-4d30-9a1d-7c19bcadd8e9",
      "name": "Reunião Encontrada?"
    }
  ],
  "connections": {
    "Definir Agenda": {
      "main": [
        [
          {
            "node": "Decisão de Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade do Google Calendar": {
      "main": [
        [
          {
            "node": "Verificar Reunião Futura do Lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão de Ação": {
      "main": [
        [
          {
            "node": "Disponibilidade do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Slots Livres": {
      "main": [
        [
          {
            "node": "Verificar Disponibilidade e Gerar Alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar": {
      "main": [
        [
          {
            "node": "Verificar Reunião Futura do Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Disponibilidade e Gerar Alternativas": {
      "main": [
        [
          {
            "node": "Condição de Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Reunião no Google Calendar": {
      "main": [
        [
          {
            "node": "API Finamob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar1": {
      "main": [
        [
          {
            "node": "Identificar reunião com email do lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar reunião com email do lead": {
      "main": [
        [
          {
            "node": "Cancela a reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancela a reunião": {
      "main": [
        [
          {
            "node": "API Finamob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar2": {
      "main": [
        [
          {
            "node": "Identificar reunião com email do lead e preparar horário de inicio e fim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar3": {
      "main": [
        [
          {
            "node": "Identificar todas as reuniões agendadas daquele lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagenda a reunião": {
      "main": [
        [
          {
            "node": "API Finamob1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Call - Pipeline Finamob1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar reunião com email do lead e preparar horário de inicio e fim": {
      "main": [
        [
          {
            "node": "Reagenda a reunião",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar reunião com email do lead e preparar horário de inicio e fim1": {
      "main": [
        [
          {
            "node": "eh reagendamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eh reagendamento?": {
      "main": [
        [
          {
            "node": "Reagenda a reunião1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Reunião no Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagenda a reunião1": {
      "main": [
        [
          {
            "node": "API Finamob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condição de Disponibilidade": {
      "main": [
        [
          {
            "node": "Resposta: Horário Indisponível",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identificar reunião com email do lead e preparar horário de inicio e fim1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger": {
      "main": [
        [
          {
            "node": "Definir Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob": {
      "main": [
        [
          {
            "node": "Upsert Call - Pipeline Finamob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob1": {
      "main": [
        [
          {
            "node": "Mensagem de Confirmação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob2": {
      "main": [
        []
      ]
    },
    "Mensagem de Confirmação": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reunião Futura do Lead": {
      "main": [
        [
          {
            "node": "É duplicado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É duplicado?": {
      "main": [
        [
          {
            "node": "Resposta: Já Confirmada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Slots Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É duplicado?1": {
      "main": [
        [
          {
            "node": "Resposta: Já Confirmada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Horários Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Reunião Futura do Lead1": {
      "main": [
        [
          {
            "node": "É duplicado?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Call - Pipeline Finamob": {
      "main": [
        [
          {
            "node": "Mensagem de Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar4": {
      "main": [
        [
          {
            "node": "Identificar Reunião para Adicionar Convidado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Reunião para Adicionar Convidado": {
      "main": [
        [
          {
            "node": "Reunião Encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Lista de Convidados Atualizada": {
      "main": [
        [
          {
            "node": "Atualizar Convidados do Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Convidados do Evento": {
      "main": [
        [
          {
            "node": "Mensagem de Confirmação3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reunião Encontrada?": {
      "main": [
        [
          {
            "node": "Montar Lista de Convidados Atualizada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta: Reunião Não Encontrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "0a9e0dc8-8bbf-42e6-8c1a-a92e6fdc7666",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-20T18:40:06.227Z",
      "createdAt": "2026-07-20T18:40:06.227Z",
      "role": "workflow:owner",
      "workflowId": "SZ0ko4bJ8ZLgIw7s",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}