backup/finamob---7.2---agente-trafego-pago-w9gOqHvjEHT5GrVG.json
{"createdAt":"2025-10-09T18:07:10.010Z","updatedAt":"2025-10-09T19:37:22.341Z","id":"w9gOqHvjEHT5GrVG","name":"Finamob - 7.2 - Agente Trafego Pago","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,208],"id":"416ca936-a52f-4394-a813-1da5fcbf2819","name":"Todo Dia 10h"},{"parameters":{"documentId":{"__rl":true,"value":"1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38","mode":"list","cachedResultName":"Campanhas Marketing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1347777240,"mode":"list","cachedResultName":"Relatório - Finamob","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit#gid=1347777240"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:K8"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,0],"id":"db200320-0d7e-48af-bf38-ff4ef472bb61","name":"Relatório - Ler Dados","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,0],"id":"6be1c801-9365-46c7-b68c-b29b5426187e","name":"Organiza Dados"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,208],"id":"7d6a2282-4d82-47f2-8704-1b7737246509","name":"Organiza Dados1"},{"parameters":{"documentId":{"__rl":true,"value":"1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38","mode":"list","cachedResultName":"Campanhas Marketing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845928620,"mode":"list","cachedResultName":"MelhoresAnuncios - Finamob","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit#gid=845928620"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:E11"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,208],"id":"74095176-bc62-4b0c-b379-ec2f5964e7c7","name":"Melhores Anuncios - Ler Dados","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"assignments":{"assignments":[{"id":"7f826625-8454-49f0-ad8a-8959c6c69f83","name":"prompt","value":"=Analise as métricas do funil de tráfego comparando os dados dos últimos 7 dias com os dados de ontem.\n\n## *Dados para análise:*\n- CPM (Custo por Mil Impressões)\n-- Últimos 7 dias: {{ $json.data[2].CPM.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n-- Ontem: {{ $json.data[3].CPM.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n- CTR (Taxa de Cliques)\n-- Últimos 7 dias: {{ $json.data[2].CTR.format('PT-BR', {'style': 'percent', 'maximumFractionDigits': '2'}) }}\n-- Ontem: {{ $json.data[3].CTR.format('PT-BR', {'style': 'percent', 'maximumFractionDigits': '2'}) }}\n- Conversion Rate (Leads por Cliques)\n-- Últimos 7 dias: {{ $json.data[2]['Conversion'].format('PT-BR', {'style': 'percent', 'maximumFractionDigits': '2'}) }}\n-- Ontem: {{ $json.data[3]['Conversion'].format('PT-BR', {'style': 'percent', 'maximumFractionDigits': '2'}) }}\n\n\n## *Instruções:*\n1. **Compare cada métrica** entre os dois períodos e calcule a variação percentual.\n2. **Identifique qual métrica teve a maior piora** (maior queda percentual ou maior aumento no CPM).\n3. **Forneça 3 ideias práticas** para melhorar a métrica que mais piorou.\n\n## *Formato da resposta:*\n\n### *Análise Comparativa:*\n\n- CPM: [valor 7 dias] → [valor ontem] ([variação %])\n- CTR: [valor 7 dias] → [valor ontem] ([variação %])\n- Conversion: [valor 7 dias] → [valor ontem] ([variação %])\n\n### *Métrica com maior piora:*\n\n[Nome da métrica e explicação do impacto]\n\n### *3 Ideias para melhoria:*\n\n1. [Ideia específica e acionável]\n2. [Ideia específica e acionável]\n3. [Ideia específica e acionável]","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,400],"id":"74b50d69-e036-4c45-bf47-a99d440a75e0","name":"Prompt com Dados para IA"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"={{ $('Prompt com Dados para IA').item.json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[640,400],"id":"37e58f03-03a5-45a4-a6c7-458bae98615e","name":"Envia para IA","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38","mode":"list","cachedResultName":"Campanhas Marketing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1347777240,"mode":"list","cachedResultName":"Relatório - Finamob","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit#gid=1347777240"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:K8"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,400],"id":"db0beb5b-a209-42ac-9561-df1d619419a9","name":"Relatório - Ler Dados1","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,400],"id":"d8b97753-35a1-43ec-88a8-11593500c10e","name":"Organiza Dados2"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_1","value":"=*RELATÓRIO TRÁFEGO PAGO - Finamob*\n\n- *ONTEM*\nValor Gasto: {{ $json.data[2].Gasto.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nNúm. Leads:  {{ $json.data[2].Leads }}\nCusto Lead:  {{ $json.data[2].CPA.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n\n- *ÚLTIMOS 7 DIAS*\nValor Gasto: {{ $json.data[3].Gasto.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nNúm. Leads:  {{ $json.data[3].Leads }}\nCusto Lead:  {{ $json.data[3].CPA.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n\n- *ÚLTIMOS 30 DIAS*\nValor Gasto: {{ $json.data[4].Gasto.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nNúm. Leads:  {{ $json.data[4].Leads }}\nCusto Lead:  {{ $json.data[4].CPA.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,0],"id":"5c5674f1-4d67-4fc3-9777-b795550f1bf9","name":"Monta Mensagem 1"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_2","value":"=*MELHORES ANÚNCIOS - Finamob*\n\n*1. {{ $json.data[0]['Anúncio'] }}*\nGasto: {{ $json.data[0]['Gasto total'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLeads: {{ $json.data[0].Leads }}\nCPA: {{ $json.data[0]['CPA'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLink: {{ $json.data[0].Link }}\n\n*2. {{ $json.data[1]['Anúncio'] }}*\nGasto: {{ $json.data[1]['Gasto total'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLeads: {{ $json.data[1].Leads }}\nCPA: {{ $json.data[1]['CPA'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLink: {{ $json.data[1].Link }}\n\n*3. {{ $json.data[2]['Anúncio'] }}*\nGasto: {{ $json.data[2]['Gasto total'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLeads: {{ $json.data[2].Leads }}\nCPA: {{ $json.data[2]['CPA'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLink: {{ $json.data[2].Link }}\n\n*4. {{ $json.data[3]['Anúncio'] }}*\nGasto: {{ $json.data[3]['Gasto total'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLeads: {{ $json.data[3].Leads }}\nCPA: {{ $json.data[3]['CPA'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLink: {{ $json.data[3].Link }}\n\n*5. {{ $json.data[4]['Anúncio'] }}*\nGasto: {{ $json.data[4]['Gasto total'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLeads: {{ $json.data[4].Leads }}\nCPA: {{ $json.data[4]['CPA'].format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\nLink: {{ $json.data[4].Link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,208],"id":"44cca0d7-e7ac-49ce-97d3-346c0c0e4013","name":"Monta Mensagem 2"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_3","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,400],"id":"39041c1b-7170-4f8b-9def-d1f960871c9f","name":"Monta Mensagem 3"},{"parameters":{"documentId":{"__rl":true,"value":"1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38","mode":"list","cachedResultName":"Campanhas Marketing","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":798708939,"mode":"list","cachedResultName":"Monitoramento - Finamob","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1U4u219cQXw4yKOI9eO7WJ5GuQ1GrQK9u8-DLq9FGv38/edit#gid=798708939"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:B12"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,784],"id":"4b3f35f1-1170-41ef-9b35-0e00ecc5f07c","name":"Monitoramento - Ler Dados","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.data[1].VALOR }}","rightValue":"={{ $json.data[2].VALOR }}","operator":{"type":"number","operation":"gt"},"id":"bd330ae2-31c5-4743-bed2-ea42c79f5765"}],"combinator":"and"},"renameOutput":true,"outputKey":"GASTO HOJE"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"32137de3-c4fd-4281-9f7c-81c2acbb5b67","leftValue":"={{ $json.data[5].VALOR }}","rightValue":"={{ $json.data[6].VALOR }}","operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEADS HOJE"}]},"looseTypeValidation":true,"options":{"ignoreCase":true,"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[432,784],"id":"6c35c170-f282-4f18-bb07-7705c7f7b510","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_aviso_1","value":"=🚨 *ATENÇÃO* 🚨\n\n*VALOR GASTO ABAIXO* DO ESPERADO\n\n*Gasto médio diário*: {{ $('Organiza Dados3').item.json.data[0].VALOR.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n\n*Gasto mínimo* esperado às 10h: {{ $('Organiza Dados3').item.json.data[1].VALOR.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n*Valor Gasto atual*: {{ $('Organiza Dados3').item.json.data[2].VALOR.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n\n_Verificação feita em {{ $now.format('dd/MM/yyyy HH:mm:ss') }}._","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,608],"id":"af5c51a3-a93f-4f95-8ccb-7480b0cd89b0","name":"Mensagem - Gasto abaixo do esperado"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[208,784],"id":"20a35db3-6d09-4c7c-97cf-039976fc32f6","name":"Organiza Dados3"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_aviso_2","value":"=🚨 *ATENÇÃO* 🚨\n\nNÚMERO DE *LEADS ESTÁ CAINDO.*\n\nNúmero de *leads médio diário*: {{ $('Organiza Dados3').item.json.data[4].VALOR.toFixed(0) }}\n\nNúmero *mínimo de leads* esperado às 10h: {{ $('Organiza Dados3').item.json.data[5].VALOR.toFixed(0) }}\n*Número atual* de leads: {{ $('Organiza Dados3').item.json.data[6].VALOR.toFixed(0) }}\n\n_Verificação feita em {{ $now.format('dd/MM/yyyy HH:mm:ss') }}._","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,800],"id":"d0be9087-2a3b-45f4-84f1-dc194e264406","name":"Mensagem - Leads abaixo do esperado"},{"parameters":{"assignments":{"assignments":[{"id":"c3254c7a-75f6-4b5d-96bc-1ca7974eed0a","name":"mensagem_aviso_3","value":"=🚨 *ATENÇÃO* 🚨\n\n*SALDO ABAIXO* DO ESPERADO\n\n*Gasto Médio Diário:* {{ $('Organiza Dados3').item.json.data[0].VALOR.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n*Saldo Atual:* {{ $('Organiza Dados3').item.json.data[8].VALOR.format('PT-BR', {'style': 'currency', 'currency': 'BRL'}) }}\n\nSaldo estimado para *acabar em {{ $('Organiza Dados3').item.json.data[9].VALOR.toFixed(0) }} dias*\n\n_Verificação feita em {{ $now.format('dd/MM/yyyy HH:mm:ss') }}._","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,976],"id":"9b817316-4d5d-461e-962a-58f5d94bd6fc","name":"Mensagem - Saldo abaixo do esperado"},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_1 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,0],"id":"c5c9e755-f4a3-47c5-9823-f4b16ade3bd0","name":"Enviar texto","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}},{"parameters":{"resource":"groups-api","operation":"fetch-groups","instanceName":"finamob-sdr-diogo","searchMethod":"fetchAll"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-496,-32],"id":"f33ae013-580e-438c-8cd5-e38f4d199f9c","name":"Buscar grupos","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}},"disabled":true},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_2 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,208],"id":"761730dc-288e-4e98-bc8b-9da94c74d04b","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_3 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,400],"id":"dd7b8b8f-7237-468e-90dc-f19ec50ab4e3","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_aviso_1 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,608],"id":"507831e6-83db-4133-96a9-0934ec8b2a26","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_aviso_2 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,800],"id":"3991c51d-7a93-4a7e-be1f-0e1b158386ec","name":"Enviar texto4","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}},{"parameters":{"resource":"messages-api","instanceName":"finamob-sdr-diogo","remoteJid":"120363400358534141@g.us","messageText":"={{ $json.mensagem_aviso_3 }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1200,976],"id":"b4799b03-021c-4023-b330-5f3c1e67e7dd","name":"Enviar texto5","credentials":{"evolutionApi":{"id":"j82pkEtO22SNtgh3","name":"finamob-sdr-diogo"}}}],"connections":{"Todo Dia 10h":{"main":[[{"node":"Melhores Anuncios - Ler Dados","type":"main","index":0},{"node":"Relatório - Ler Dados","type":"main","index":0},{"node":"Relatório - Ler Dados1","type":"main","index":0},{"node":"Monitoramento - Ler Dados","type":"main","index":0}]]},"Relatório - Ler Dados":{"main":[[{"node":"Organiza Dados","type":"main","index":0}]]},"Organiza Dados":{"main":[[{"node":"Monta Mensagem 1","type":"main","index":0}]]},"Melhores Anuncios - Ler Dados":{"main":[[{"node":"Organiza Dados1","type":"main","index":0}]]},"Organiza Dados1":{"main":[[{"node":"Monta Mensagem 2","type":"main","index":0}]]},"Prompt com Dados para IA":{"main":[[{"node":"Envia para IA","type":"main","index":0}]]},"Envia para IA":{"main":[[{"node":"Monta Mensagem 3","type":"main","index":0}]]},"Relatório - Ler Dados1":{"main":[[{"node":"Organiza Dados2","type":"main","index":0}]]},"Organiza Dados2":{"main":[[{"node":"Prompt com Dados para IA","type":"main","index":0}]]},"Monta Mensagem 1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Monta Mensagem 2":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Monta Mensagem 3":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Monitoramento - Ler Dados":{"main":[[{"node":"Organiza Dados3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Mensagem - Gasto abaixo do esperado","type":"main","index":0}],[{"node":"Mensagem - Leads abaixo do esperado","type":"main","index":0}]]},"Mensagem - Gasto abaixo do esperado":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Organiza Dados3":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Mensagem - Leads abaixo do esperado":{"main":[[{"node":"Enviar texto4","type":"main","index":0}]]},"Mensagem - Saldo abaixo do esperado":{"main":[[{"node":"Enviar texto5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Todo Dia 10h":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"55dc3f52-1576-4d5f-8343-f305b0adeae7","triggerCount":1,"tags":[]}