backup/finamob---6.01---sdr-finamob---disparo-fups-atrasados-wtUAsYYZyCHjqCGk.json
{
  "updatedAt": "2026-07-03T18:48:25.286Z",
  "createdAt": "2026-06-09T03:20:25.080Z",
  "id": "wtUAsYYZyCHjqCGk",
  "name": "Finamob - 6.01 - SDR Finamob - Disparo FUPs Atrasados",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        864
      ],
      "id": "25a2643a-b991-4f4d-8948-55fac5402f2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\n  AND (\n    status_plano_acao IS NULL\n    OR status_plano_acao = ''\n    OR status_plano_acao NOT IN (\n      'ptentativaderreativaçãor',\n      'stentativadereativaçãor',\n      'ttentativadereativaçãor',\n      'encaminhar advisor',\n      'naoeoICP'\n    )\n  )\nORDER BY DATE(fup) ASC\nLIMIT 100;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        16
      ],
      "id": "42fd8560-d1c6-4bec-b331-4417c26eb8f4",
      "name": "Execute a SQL query2",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($('Intervalo entre mensagens1').item.json.whatsapp|| \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_1_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($('Intervalo entre mensagens1').item.json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        16
      ],
      "id": "7a4ae95a-01c3-402b-9e6f-d4c9ad9199ee",
      "name": "Enviar Template 1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Iterar envio por lead2').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Iterar envio por lead2').item.json.clientes }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Iterar envio por lead2').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 1').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        208
      ],
      "id": "a2e49bbf-4061-40f3-9bd6-d1e3711b05ad",
      "name": "Cria Mensagem no Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular com 9 dígitos, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, NÃO adiciona o 9\n    // Ex: 1188888888 vira 551188888888\n    if (phone.length === 10) {\n      return \"55\" + phone;\n    }\n\n    return phone;\n  })()\n}}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"ptentativaderreativaçãor\",\n    \"midia\": \"15\",\n    \"dono_do_lead\": \"162\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        32
      ],
      "id": "ba9c13c0-d228-48e1-a7d8-ada85eda6ff4",
      "name": "API Finamob",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        16
      ],
      "id": "3acf51ae-b8a3-4f69-8210-bb94cf36d98d",
      "name": "Iterar envio por lead2"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        32
      ],
      "id": "0ba040b5-6ae7-4da1-a608-107d9bfe51b2",
      "name": "Intervalo entre mensagens1",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = 'ptentativaderreativaçãor'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        432
      ],
      "id": "0c1fe0b5-c532-4614-aa91-42d5f8f2317d",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Iterar envio por lead').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Iterar envio por lead').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 2').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        624
      ],
      "id": "eb70bb5b-08ec-4241-9599-a3d92ccbe083",
      "name": "Cria Mensagem no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular com 9 dígitos, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, NÃO adiciona o 9\n    // Ex: 1188888888 vira 551188888888\n    if (phone.length === 10) {\n      return \"55\" + phone;\n    }\n\n    return phone;\n  })()\n}}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"stentativadereativaçãor\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        448
      ],
      "id": "fe42dd1e-ca16-4b77-a710-9900cf112496",
      "name": "API Finamob1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        432
      ],
      "id": "9f9c113a-4209-4f4e-93d2-38e684907629",
      "name": "Iterar envio por lead"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        448
      ],
      "id": "12c838c1-54cb-4c67-9f52-05d2405b03fe",
      "name": "Intervalo entre mensagens",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = 'stentativadereativaçãor'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC\nLIMIT 25;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        176,
        864
      ],
      "id": "546bf27a-ef14-424b-8577-1cd33e8fe8fb",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "tableId": "finamob-historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_usuario",
              "fieldValue": "="
            },
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "=Olá, {{ $('Iterar envio por lead1').item.json.clientes }}! Tudo bem?\nAqui é o Rafael, da Finamob. Vi que você se inscreveu na nossa campanha sobre Funding Imobiliário.\nVocês têm alguma operação em andamento ou em planejamento para os próximos meses que esteja precisando de funding?\nAbs!"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Iterar envio por lead1').item.json.clientes }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "SDR-FINAMOB"
            },
            {
              "fieldId": "id_usuario",
              "fieldValue": "={{ $('Enviar Template 3').item.json.contacts[0].input }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        1056
      ],
      "id": "f930c5e6-e8e7-48c3-a630-13e1a6185167",
      "name": "Cria Mensagem no Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular com 9 dígitos, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, NÃO adiciona o 9\n    // Ex: 1188888888 vira 551188888888\n    if (phone.length === 10) {\n      return \"55\" + phone;\n    }\n\n    return phone;\n  })()\n}}\",\n    \"ultimo_contato\": \"{{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"fup\": \"{{ $now.plus({ days: 2 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"ttentativadereativaçãor\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        880
      ],
      "id": "86981c04-4c18-48d7-be07-6d5a6fde4836",
      "name": "API Finamob2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        864
      ],
      "id": "43e47416-ff0d-4170-bd3f-ec2ba59172a5",
      "name": "Iterar envio por lead1"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        880
      ],
      "id": "b62ea991-c819-4e7f-bfdd-01d0239e3dc8",
      "name": "Intervalo entre mensagens2",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM (\n  SELECT\n    m.*,\n    CASE\n      WHEN EXISTS (\n        SELECT 1\n        FROM operacao o\n        WHERE o.mailing_id = m.id\n      )\n      THEN 'Sim'\n      ELSE 'Não'\n    END AS tem_operacao\n  FROM mailing m\n) AS mailing_com_operacao\nWHERE\n  lixeira = 0\n  AND tem_operacao = 'Não'\n  AND status_plano_acao = 'ttentativadereativaçãor'\n  AND fup IS NOT NULL\n  AND fup <> ''\n  AND DATE(fup) < CURDATE()\nORDER BY DATE(fup) ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        160,
        1264
      ],
      "id": "d368ea4e-1596-452d-a5fb-9144570c007f",
      "name": "Execute a SQL query3",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular com 9 dígitos, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, NÃO adiciona o 9\n    // Ex: 1188888888 vira 551188888888\n    if (phone.length === 10) {\n      return \"55\" + phone;\n    }\n\n    return phone;\n  })()\n}}\",\n    \"fup\": \"{{ $now.plus({ days: 90 }).toFormat('yyyy-MM-dd') }}\",\n    \"status_plano_acao\": \"retrabalharnofuturo\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        1280
      ],
      "id": "9723ae22-6d9a-45ea-b30f-b95f712657e9",
      "name": "API Finamob3",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        1264
      ],
      "id": "8b8058e2-8b20-4377-b82b-1b458a87d668",
      "name": "Iterar envio por lead3"
    },
    {
      "parameters": {
        "amount": "={{ 3 + Math.floor(Math.random() * 5) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        608,
        1280
      ],
      "id": "ab2d94b6-8822-4e39-8b6a-7313c292df09",
      "name": "Intervalo entre mensagens3",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($('Intervalo entre mensagens').item.json.whatsapp|| \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_2_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($('Intervalo entre mensagens').item.json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        432
      ],
      "id": "6f323d18-3c59-4e2a-beed-75aaad14e913",
      "name": "Enviar Template 2",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1202871396233612/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ \n  (() => {\n    let phone = String($('Intervalo entre mensagens2').item.json.whatsapp|| \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, adiciona o 9\n    // Ex: 1189342471 vira 5511989342471\n    if (phone.length === 10) {\n      return \"55\" + phone.slice(0, 2) + \"9\" + phone.slice(2);\n    }\n\n    return phone;\n  })()\n}}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"mensagem_2_sem_incorporadora\",\n    \"language\": { \"code\": \"pt_BR\" },\n    \"components\": [\n      {\n        \"type\": \"body\",\n        \"parameters\": {{ JSON.stringify([\n  { \"type\": \"text\", \"text\": String($('Intervalo entre mensagens2').item.json.clientes || \"\") }\n]) }}\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        864
      ],
      "id": "b49924f2-2b74-4c07-9f48-7c77bdb8eb79",
      "name": "Enviar Template 3",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KCm91mF91CPx1ysU",
          "mode": "list",
          "cachedResultUrl": "/workflow/KCm91mF91CPx1ysU",
          "cachedResultName": "Finamob - 8.02 - Atualização Bases Sistema Finamob"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        384,
        1696
      ],
      "id": "481a35dd-46f6-47d2-82a2-cb6d7ccea404",
      "name": "Call 'Dash - Finamob'",
      "alwaysOutputData": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "=30"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        176,
        1696
      ],
      "id": "f34f1a6a-87ea-468e-ab60-8669225e3e1f",
      "name": "Intervalo entre mensagens4",
      "webhookId": "6686e364-432c-466f-ac33-321c79f8a8a1"
    },
    {
      "parameters": {
        "height": 1744,
        "width": 1712,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -96
      ],
      "typeVersion": 1,
      "id": "02eb7e36-e7cd-4a52-9743-2e405c18e6d4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Atualizar Database",
        "height": 208,
        "width": 1712,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        1664
      ],
      "typeVersion": 1,
      "id": "052a9b27-4a48-424c-82d4-c398278a72e9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM\nmailing\n\nWHERE clientes = \"Lucas Andrade\"",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -416,
        864
      ],
      "id": "e0f52d78-e5a8-48d4-87b4-e19971f76567",
      "name": "Execute a SQL query4",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419636200,
          "mode": "list",
          "cachedResultName": "validar_erros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=1419636200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "clientes": "={{ $json.clientes }}",
            "plano_de_acao": "={{ $json.plano_de_acao }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "email": "={{ $json.email }}",
            "ultimo_contato": "={{ $json.ultimo_contato }}",
            "fup": "={{ $json.fup }}",
            "datacriacao": "={{ $json.datacriacao }}",
            "lixeira": "={{ $json.lixeira }}",
            "observacao": "={{ $json.observacao }}",
            "status_plano_acao": "={{ $json.status_plano_acao }}",
            "error": "={{ $json.error }}",
            "Status": "Aguardando Tratativa",
            "Etapa do Fluxo": "Retrabalhar no Futuro"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa do Fluxo",
              "displayName": "Etapa do Fluxo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1408
      ],
      "id": "d25251ae-e5c0-4ec9-9509-76c8e2330c21",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "content": "## Select no DB",
        "height": 320,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        752
      ],
      "typeVersion": 1,
      "id": "207325b7-3525-460b-a98c-b7f4bb0acc01",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        -480
      ],
      "id": "700ecaf2-e8cf-4992-a5f9-984441a1572e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "disparos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Intervalo entre mensagens1').item.json.id }}",
            "clientes": "={{ $('Intervalo entre mensagens1').item.json.clientes }}",
            "plano_de_acao": "={{ $('Intervalo entre mensagens1').item.json.plano_de_acao }}",
            "whatsapp": "={{ $('Intervalo entre mensagens1').item.json.whatsapp }}",
            "email": "={{ $('Intervalo entre mensagens1').item.json.email }}",
            "ultimo_contato": "={{ $('Intervalo entre mensagens1').item.json.ultimo_contato }}",
            "fup": "={{ $('Intervalo entre mensagens1').item.json.fup }}",
            "datacriacao": "={{ $('Intervalo entre mensagens1').item.json.datacriacao }}",
            "lixeira": "={{ $('Intervalo entre mensagens1').item.json.lixeira }}",
            "observacao": "={{ $('Intervalo entre mensagens1').item.json.observacao }}",
            "status_plano_acao": "={{ $('Intervalo entre mensagens1').item.json.status_plano_acao }}",
            "Template": "mensagem_1_sem_incorporadora"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Template",
              "displayName": "Template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        16
      ],
      "id": "d9c0b497-3311-4b1d-91d4-94ec20d6fac3",
      "name": "Atualiza Controle de Disparos",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419636200,
          "mode": "list",
          "cachedResultName": "validar_erros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=1419636200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "clientes": "={{ $json.clientes }}",
            "plano_de_acao": "={{ $json.plano_de_acao }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "email": "={{ $json.email }}",
            "ultimo_contato": "={{ $json.ultimo_contato }}",
            "fup": "={{ $json.fup }}",
            "datacriacao": "={{ $json.datacriacao }}",
            "lixeira": "={{ $json.lixeira }}",
            "observacao": "={{ $json.observacao }}",
            "status_plano_acao": "={{ $json.status_plano_acao }}",
            "error": "={{ $json.error }}",
            "Status": "Aguardando Tratativa",
            "Etapa do Fluxo": "1º Tentativa de Reativação"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa do Fluxo",
              "displayName": "Etapa do Fluxo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        208
      ],
      "id": "0626c6f8-49e2-4c7d-9417-3c85715fa002",
      "name": "Atualiza Controle de Erros",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419636200,
          "mode": "list",
          "cachedResultName": "validar_erros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=1419636200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "clientes": "={{ $json.clientes }}",
            "plano_de_acao": "={{ $json.plano_de_acao }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "email": "={{ $json.email }}",
            "ultimo_contato": "={{ $json.ultimo_contato }}",
            "fup": "={{ $json.fup }}",
            "datacriacao": "={{ $json.datacriacao }}",
            "lixeira": "={{ $json.lixeira }}",
            "observacao": "={{ $json.observacao }}",
            "status_plano_acao": "={{ $json.status_plano_acao }}",
            "error": "={{ $json.error }}",
            "Status": "Aguardando Tratativa",
            "Etapa do Fluxo": "2º Tentativa de Reativação"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa do Fluxo",
              "displayName": "Etapa do Fluxo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        624
      ],
      "id": "1676e700-92cf-4ff0-9eb2-05ea72a9933d",
      "name": "Atualiza Controle de Erros 2",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1419636200,
          "mode": "list",
          "cachedResultName": "validar_erros",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=1419636200"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "clientes": "={{ $json.clientes }}",
            "plano_de_acao": "={{ $json.plano_de_acao }}",
            "whatsapp": "={{ $json.whatsapp }}",
            "email": "={{ $json.email }}",
            "ultimo_contato": "={{ $json.ultimo_contato }}",
            "fup": "={{ $json.fup }}",
            "datacriacao": "={{ $json.datacriacao }}",
            "lixeira": "={{ $json.lixeira }}",
            "observacao": "={{ $json.observacao }}",
            "status_plano_acao": "={{ $json.status_plano_acao }}",
            "error": "={{ $json.error }}",
            "Status": "Aguardando Tratativa",
            "Etapa do Fluxo": "3º Tentativa de Reativação"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etapa do Fluxo",
              "displayName": "Etapa do Fluxo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        1056
      ],
      "id": "8164eafa-ad4b-41e9-b5da-a7dfdb415626",
      "name": "Atualiza Controle de Erros 3",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.*,\n  CASE\n    WHEN EXISTS (\n      SELECT 1\n      FROM operacao o\n      WHERE o.mailing_id = m.id\n    )\n    THEN 'Sim'\n    ELSE 'Não'\n  END AS tem_operacao\nFROM mailing m\nWHERE m.id = 8605;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -400,
        368
      ],
      "id": "126902d0-cca3-496b-955c-06b8f00bb736",
      "name": "Execute a SQL query5",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://finamob.com.br/api/update_mailing_api.php",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"phone\": \"{{ \n  (() => {\n    let phone = String($json.whatsapp || \"\").replace(/\\D/g, \"\");\n\n    // Remove prefixo internacional com 00, ex: 005511989342471\n    if (phone.startsWith(\"00\")) {\n      phone = phone.slice(2);\n    }\n\n    // Se vier com 0 antes do DDD, ex: 011989342471\n    if (phone.startsWith(\"0\") && phone.length >= 11) {\n      phone = phone.slice(1);\n    }\n\n    // Se já vier com 55, mantém\n    if (phone.startsWith(\"55\")) {\n      return phone;\n    }\n\n    // Se vier DDD + número celular com 9 dígitos, ex: 11989342471\n    if (phone.length === 11) {\n      return \"55\" + phone;\n    }\n\n    // Se vier DDD + número com 8 dígitos, NÃO adiciona o 9\n    // Ex: 1188888888 vira 551188888888\n    if (phone.length === 10) {\n      return \"55\" + phone;\n    }\n\n    return phone;\n  })()\n}}\",\n    \"midia\": \"15\",\n    \"dono_do_lead\": \"162\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -464
      ],
      "id": "ebc23527-0f98-4580-a494-15ef4f61ec9a",
      "name": "API Finamob4",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "disparos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Obs",
              "lookupValue": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        -480
      ],
      "id": "81d32e81-d495-414a-b477-4c634c751dba",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        576,
        -480
      ],
      "id": "145765a3-0e08-4103-8403-4fa888b9d938",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        -400
      ],
      "id": "a04edfdf-27d3-46cb-8aaf-c40a55cf626f",
      "name": "Wait",
      "webhookId": "67acbfae-12cf-42f5-8db2-816f125ea80f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM",
          "mode": "list",
          "cachedResultName": "Disparos SDR Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "disparos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14iz2CCrBpQc8kYX9tKDXIiVupELulc0M1mvmrLPEtlM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}",
            "Obs": "1"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fup",
              "displayName": "fup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "observacao",
              "displayName": "observacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_plano_acao",
              "displayName": "status_plano_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Template",
              "displayName": "Template",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Obs",
              "displayName": "Obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -400
      ],
      "id": "3fb2d1d7-7ca9-4b63-a72f-eaed8c039b83",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Intervalo entre mensagens4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Iterar envio por lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob": {
      "main": [
        [
          {
            "node": "Enviar Template 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Controle de Erros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 1": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Controle de Disparos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead2": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens1": {
      "main": [
        [
          {
            "node": "API Finamob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase2": {
      "main": [
        [
          {
            "node": "Iterar envio por lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob1": {
      "main": [
        [
          {
            "node": "Enviar Template 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Controle de Erros 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens": {
      "main": [
        [
          {
            "node": "API Finamob1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Iterar envio por lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase1": {
      "main": [
        [
          {
            "node": "Iterar envio por lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob2": {
      "main": [
        [
          {
            "node": "Enviar Template 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Controle de Erros 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead1": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens2": {
      "main": [
        [
          {
            "node": "API Finamob2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Iterar envio por lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob3": {
      "main": [
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar envio por lead3": {
      "main": [
        [],
        [
          {
            "node": "Intervalo entre mensagens3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens3": {
      "main": [
        [
          {
            "node": "API Finamob3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 2": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template 3": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervalo entre mensagens4": {
      "main": [
        [
          {
            "node": "Call 'Dash - Finamob'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        []
      ]
    },
    "Append row in sheet3": {
      "main": [
        [
          {
            "node": "Iterar envio por lead3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Controle de Erros": {
      "main": [
        [
          {
            "node": "Iterar envio por lead2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Controle de Erros 2": {
      "main": [
        [
          {
            "node": "Iterar envio por lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Controle de Erros 3": {
      "main": [
        [
          {
            "node": "Iterar envio por lead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query5": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "API Finamob4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Finamob4": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "executionTimeout": 7200
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "a830264c-0764-4887-9ef1-e08770800805",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-09T03:20:25.080Z",
      "createdAt": "2026-06-09T03:20:25.080Z",
      "role": "workflow:owner",
      "workflowId": "wtUAsYYZyCHjqCGk",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}