backup/mia---1.3---journal---post-instagram-VSkLBmqDBUQjuOPv.json
{"createdAt":"2025-08-26T20:55:49.660Z","updatedAt":"2025-11-20T15:06:28.135Z","id":"VSkLBmqDBUQjuOPv","name":"Mia - 1.3 - Journal - Post Instagram","active":true,"isArchived":false,"nodes":[{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v22.0","node":"={{ $('Instagram params1').item.json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"media_type","value":"=CAROUSEL"},{"name":"children","value":"={{ JSON.stringify([\n  $(\"Instagram prepare media (img1)\").first().json.id,\n  $(\"Instagram prepare media (img2)\").first().json.id,\n  $(\"Instagram prepare media (img3)\").first().json.id,\n  $(\"Instagram prepare media (img4)\").first().json.id\n]) }}\n"},{"name":"caption","value":"={{ $('Instagram params1').item.json.instagram_post_caption }}"}]}}},"id":"5d9bfe1d-7d27-4a1b-a6fb-b2ea8a8a162f","name":"Instagram create carousel","type":"n8n-nodes-base.facebookGraphApi","position":[1472,2736],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url || $json.imagem_url }}"},{"name":"is_carousel_item","value":"true"}]}}},"id":"ce4d9877-4821-4b91-b9a8-cffb87b51093","name":"Instagram prepare media (img1)","type":"n8n-nodes-base.facebookGraphApi","position":[1056,2432],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url2 || $json.imagem_url2 }}"},{"name":"is_carousel_item","value":"true"}]}}},"id":"d133f43b-ee36-41a8-aec7-8694d7f4f6f8","name":"Instagram prepare media (img2)","type":"n8n-nodes-base.facebookGraphApi","position":[1056,2592],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"mode":"chooseBranch","numberInputs":4,"useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,2704],"id":"f8b8bf7c-17aa-4955-a7fa-9e1d92679ef5","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1ac6e4fc-79b5-4afe-995e-667324f0a8cf","leftValue":"={{ $json.id }}","rightValue":"0","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1680,2816],"id":"0084c687-4b80-4dc7-abe5-d5c6e8444b17","name":"If","retryOnFail":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED","operator":{"type":"string","operation":"equals"},"id":"53932f8e-2f9a-40d2-a8bf-2abf93656808"}],"combinator":"and"},"renameOutput":true,"outputKey":"FINISHED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7089f8c6-8c1c-482e-b30d-47e92e2753bf","leftValue":"={{ $json.status_code }}","rightValue":"IN_PROGRESS","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN_PROGRESS"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2128,2784],"id":"7eb8e319-eb9a-4a72-b607-9553496e6cd5","name":"Switch"},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url3 || $json.imagem_url3 }}"},{"name":"is_carousel_item","value":"true"}]}}},"id":"4e3837d5-7d20-42ba-bb00-20f6741e2a48","name":"Instagram prepare media (img3)","type":"n8n-nodes-base.facebookGraphApi","position":[1056,2784],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url4 || $json.imagem_url4 }}"},{"name":"is_carousel_item","value":"true"}]}}},"id":"4c8479cb-9720-44e3-94b0-b2ac1973ec0e","name":"Instagram prepare media (img4)","type":"n8n-nodes-base.facebookGraphApi","position":[1056,2976],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params1').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"c10adfc5-423b-460e-b1f5-559ea8e77400","name":"Instagram publish media1","type":"n8n-nodes-base.facebookGraphApi","position":[2400,2720],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"content":"Add your credential","height":910,"width":2738},"id":"41089162-9167-49a8-a823-c4211a8ff894","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[912,2352],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"68b89233-2740-4afd-a95c-72ed537d12e5","name":"noticia_id","value":"={{ $json.noticia_id }}","type":"string"},{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"={{ $json.imagem_url }}"},{"id":"42e44a66-490d-453f-8746-87e201e58f6c","name":"image_url2","value":"={{ $json.imagem_url2 }}","type":"string"},{"id":"f64af4b7-c2de-4003-9076-51df6440cf84","name":"image_url3","value":"={{ $json.imagem_url3 }}","type":"string"},{"id":"3c87a05d-55a0-4344-9570-4e465d0ce6e7","name":"image_url4","value":"https://raw.githubusercontent.com/getmia-ia/Mia/main/MIA_Final_Post_Fixo.jpg","type":"string"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841475443525557"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $json.legenda }}"}]},"options":{}},"id":"9639f14f-1753-4272-a919-9228278b77fe","name":"Instagram params1","type":"n8n-nodes-base.set","position":[736,2688],"typeVersion":3.4},{"parameters":{"graphApiVersion":"v20.0","node":"=me","options":{"fields":{"field":[{"name":"name"},{"name":"connected_instagram_account"}]}}},"id":"15a1dffb-5600-40db-a7a2-aa16e4f05e59","name":"Node just for retrive id of instagram page1","type":"n8n-nodes-base.facebookGraphApi","position":[304,2352],"typeVersion":1,"disabled":true},{"parameters":{"content":"You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually","height":289,"width":318},"id":"3e00ffad-2f3c-4799-9489-21d0ad9818b1","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[192,2240],"typeVersion":1},{"parameters":{"content":"Here we have all parameters for posting in instagram image url, caption and instagram business profile id","height":310,"width":188,"color":3},"id":"778ae2f5-186e-4249-bbbb-c927153f5d4e","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[688,2544],"typeVersion":1},{"parameters":{"content":"## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.","height":792,"width":439.10253951549294,"color":7},"id":"660e5b41-02a6-4f77-969b-66d08eae5f6e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[224,2896],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}],"combinator":"and"},"options":{}},"id":"5cd8b160-0945-41de-bc96-2b0713c8f4e9","name":"If media status is finished2","type":"n8n-nodes-base.if","position":[2128,2528],"typeVersion":2.2,"disabled":true},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before1').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"21296a42-1c9c-46c1-a729-929655430154","name":"Instagram check status of media published before1","type":"n8n-nodes-base.facebookGraphApi","position":[2608,2720],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"2201a5e3-e1b7-4942-8430-6973b1b58ce1","name":"If media status is finished3","type":"n8n-nodes-base.if","position":[2800,2720],"typeVersion":2.2},{"parameters":{"content":"You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node","height":102.11100456713636,"color":3},"id":"b5e170ce-b9a6-4a2c-b0c6-0d465ba5b0f2","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1936,3072],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54fa4546-8262-4651-9b0e-ce3a2f66416f","leftValue":"={{ $json.status_Instagram }}","rightValue":"aprovado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,2704],"id":"af953d6d-1e85-4816-bffe-d6f716f5858b","name":"If9"},{"parameters":{"content":"# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece","height":1696,"width":3936,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-192,2048],"typeVersion":1,"id":"6d23ca18-22f4-438d-82bf-1be3a17e53c5","name":"Sticky Note15"},{"parameters":{"assignments":{"assignments":[{"id":"f2c98e3a-ba6b-4df7-a0c9-96994c91a690","name":"noticia_id","value":"={{ $('Instagram params1').item.json.noticia_id }}","type":"string"},{"id":"a95682ad-ea9c-4d88-a370-0ffad2b3eea5","name":"status_Instagram","value":"postado","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,2704],"id":"76565395-9b56-406a-b7ee-d20c8ffec551","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-128,2704],"id":"43a6c2ea-0723-485f-bce2-d18efac88484","name":"Schedule Trigger1"},{"parameters":{"documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status_Instagram","lookupValue":"aprovado"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[48,2704],"id":"8281d62a-7927-45e8-bc39-998c50ec1e3a","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"jsCode":"// Garante 1 por execução (pega a primeira \"aprovado\")\nconst rows = items.map(i => i.json);\n\nconst isApproved = (v) =>\n  String(v || '').trim().toLowerCase() === 'aprovado';\n\nconst first = rows.find(r =>\n  isApproved(r.status_Instagram) &&\n  r.noticia_id &&\n  (r.imagem_url || r.imagem) &&\n  r.legenda\n);\n\nif (!first) return []; // nada a postar neste horário\n\nconst out = { ...first };\nout.imagem_url = first.imagem_url || first.imagem;\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,2704],"id":"cb20e23a-d7a7-4866-993d-6494126ac83f","name":"Code1"},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"df914c76-0519-4520-9862-8765ad1c4b80","name":"Instagram check status of media uploaded before1","type":"n8n-nodes-base.facebookGraphApi","position":[1936,2800],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["noticia_id"],"schema":[{"id":"data_processamento","displayName":"data_processamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"legenda_x","displayName":"legenda_x","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"arquivo2_base64","displayName":"arquivo2_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"arquivo3_base64","displayName":"arquivo3_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"imagem_url2","displayName":"imagem_url2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagem_url3","displayName":"imagem_url3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_Instagram","displayName":"status_Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_X","displayName":"status_X","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"justificativa","displayName":"justificativa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3216,2704],"id":"cecf8f63-4b01-43ec-800c-724777648eaa","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"resource":"messages-api","instanceName":"social-media-mia","remoteJid":"120363421402105782@g.us","messageText":"=Post MIA falhou!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2400,2928],"id":"6ecf8505-2bea-4282-9093-8ce2cda8a6c3","name":"Envia log falha","retryOnFail":true,"credentials":{"evolutionApi":{"id":"MuW4REP1kIrolv7W","name":"social-media-mia"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"social-media-mia","remoteJid":"120363421402105782@g.us","messageText":"=Post MIA falhou 2!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3024,2896],"id":"580371a4-a586-4488-b83d-f12eb4abb73a","name":"Envia log falha1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"MuW4REP1kIrolv7W","name":"social-media-mia"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"social-media-mia","remoteJid":"120363421402105782@g.us","messageText":"=Post MIA deu certo!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3424,2704],"id":"03fe831c-ca2e-41cf-a968-17533a94f00e","name":"Envia log sucesso","retryOnFail":true,"credentials":{"evolutionApi":{"id":"MuW4REP1kIrolv7W","name":"social-media-mia"}},"onError":"continueRegularOutput"}],"connections":{"Instagram create carousel":{"main":[[{"node":"If","type":"main","index":0}]]},"Instagram prepare media (img1)":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Instagram prepare media (img2)":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Instagram create carousel","type":"main","index":0}]]},"If":{"main":[[{"node":"Instagram check status of media uploaded before1","type":"main","index":0}],[{"node":"Instagram create carousel","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Instagram publish media1","type":"main","index":0}],[{"node":"Instagram check status of media uploaded before1","type":"main","index":0}],[{"node":"Envia log falha","type":"main","index":0}]]},"Instagram prepare media (img3)":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Instagram prepare media (img4)":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Instagram publish media1":{"main":[[{"node":"Instagram check status of media published before1","type":"main","index":0}]]},"Instagram params1":{"main":[[{"node":"Instagram prepare media (img1)","type":"main","index":0},{"node":"Instagram prepare media (img2)","type":"main","index":0},{"node":"Instagram prepare media (img3)","type":"main","index":0},{"node":"Instagram prepare media (img4)","type":"main","index":0}]]},"Instagram check status of media published before1":{"main":[[{"node":"If media status is finished3","type":"main","index":0}]]},"If media status is finished3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Envia log falha1","type":"main","index":0}]]},"If9":{"main":[[{"node":"Instagram params1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If9","type":"main","index":0}]]},"Instagram check status of media uploaded before1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Envia log sucesso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1,"errorWorkflow":"QdC9qh9DPcT2xcoq"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek","sheetId":0,"lastRevision":764,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1Ze1MFqVlu21qakfTTE5ECfAu4iFOoeQMygOCjPW5nek&revision=764&exportFormat=xlsx"},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Trigger nova noticia no sheets":{"documentId":"1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0","sheetId":0,"lastRevision":271,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1fWo0JNzTrseQubx5O31tEJ5Yd4jHKUCGp_9xZMPfec0&revision=271&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2025-11-18T11:50:22.002-03:00","Readable date":"November 18th 2025, 11:50:22 am","Readable time":"11:50:22 am","Day of week":"Tuesday","Year":"2025","Month":"November","Day of month":"18","Hour":"11","Minute":"50","Second":"22","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"9f38e481-46f5-4ff7-959c-20d533fcb1ee","triggerCount":1,"tags":[]}