backup/mia---4.1---prospeccao---enriquecer-leads-vindos-da-lusha-kpY57Ru8IinHDsi5.json
{
  "updatedAt": "2026-03-12T13:06:10.484Z",
  "createdAt": "2026-01-12T18:34:25.569Z",
  "id": "kpY57Ru8IinHDsi5",
  "name": "Mia - 4.1 - Prospecção - Enriquecer leads vindos da lusha",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        0
      ],
      "id": "08af4b7c-d651-4c0a-b7fe-d8afbae996c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "***REMOVIDO***",
        "projectId": {
          "__rl": true,
          "value": "n8n-bigquery-484311",
          "mode": "list",
          "cachedResultName": "n8n-bigquery",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=n8n-bigquery-484311"
        },
        "sqlQuery": "DECLARE start_date DATE DEFAULT DATE_SUB(CURRENT_DATE('America/Sao_Paulo'), INTERVAL {{ $json.janela_de_dias || 7 }} DAY);\nDECLARE end_date   DATE DEFAULT CURRENT_DATE('America/Sao_Paulo');\n\nWITH src AS (\n  SELECT\n    CONCAT(e.cnpj_basico, e.cnpj_ordem, e.cnpj_dv)                       AS cnpj,\n    SAFE.PARSE_DATE('%Y-%m-%d', CAST(e.data_inicio_atividade AS STRING)) AS data_inicio_atividade,\n    CAST(e.cnae_fiscal_principal AS STRING)                               AS cnae_fiscal_principal,\n    e.sigla_uf                                                            AS uf,\n    m.nome                                                                AS municipio,\n    em.razao_social,\n    em.porte                                                              AS porte_da_empresa,\n    e.cep, e.ddd_1, e.telefone_1, e.ddd_2, e.telefone_2, e.email,\n    CASE WHEN LENGTH(e.cep) = 8 THEN CONCAT(SUBSTR(e.cep,1,5), '-', SUBSTR(e.cep,6,3)) ELSE e.cep END AS cep_formatado,\n    CASE WHEN e.ddd_1 IS NOT NULL AND e.telefone_1 IS NOT NULL THEN CONCAT('(', e.ddd_1, ') ', e.telefone_1) END AS telefone1_formatado,\n    CASE WHEN e.ddd_2 IS NOT NULL AND e.telefone_2 IS NOT NULL THEN CONCAT('(', e.ddd_2, ') ', e.telefone_2) END AS telefone2_formatado,\n    ARRAY_TO_STRING(\n      ARRAY(\n        SELECT tel FROM UNNEST([\n          CASE WHEN e.ddd_1 IS NOT NULL AND e.telefone_1 IS NOT NULL THEN CONCAT('(', e.ddd_1, ') ', e.telefone_1) ELSE NULL END,\n          CASE WHEN e.ddd_2 IS NOT NULL AND e.telefone_2 IS NOT NULL THEN CONCAT('(', e.ddd_2, ') ', e.telefone_2) ELSE NULL END\n        ]) tel\n        WHERE tel IS NOT NULL\n      ), ' / '\n    ) AS telefones\n  FROM `basedosdados.br_me_cnpj.estabelecimentos` e\n  JOIN `basedosdados.br_me_cnpj.empresas` em USING (cnpj_basico)\n  LEFT JOIN `basedosdados.br_bd_diretorios_brasil.municipio` m ON e.id_municipio = m.id_municipio\n)\nSELECT\n  cnpj,\n  FORMAT_DATE('%Y-%m-%d', data_inicio_atividade) AS data_inicio_atividade,\n  cnae_fiscal_principal, uf, municipio, razao_social, porte_da_empresa,\n  cep, ddd_1, telefone_1, ddd_2, telefone_2, email,\n  cep_formatado, telefone1_formatado, telefone2_formatado, telefones\nFROM src\nWHERE data_inicio_atividade BETWEEN start_date AND end_date\n  AND cnae_fiscal_principal = '{{ $json.CNAE }}'\nORDER BY data_inicio_atividade DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "df0d2ae7-12db-48cf-9bd0-d28748803d3c",
      "name": "Execute a SQL query",
      "credentials": {
        "googleApi": {
          "id": "sRN7OgTfRRQEFiLz",
          "name": "Google BigQuery account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c172d403-9d98-45b2-82f2-c887520f0498",
              "name": "CNAE",
              "value": "5611201",
              "type": "string"
            },
            {
              "id": "f8f6822f-41b4-4060-8476-558370ac0d5c",
              "name": "janela_de_dias",
              "value": 7,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        0
      ],
      "id": "a91976b8-c9d1-481e-85e9-2babdae297a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FWP7qQgOqT8GVA8zJUoh7syx5YzoOxPxFeFXOisw7w8",
          "mode": "list",
          "cachedResultName": "cnpj_aberto_ultimos7d",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FWP7qQgOqT8GVA8zJUoh7syx5YzoOxPxFeFXOisw7w8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FWP7qQgOqT8GVA8zJUoh7syx5YzoOxPxFeFXOisw7w8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cnpj": "={{ $json.cnpj }}",
            "data_inicio_atividade": "={{ $json.data_inicio_atividade }}",
            "cnae_fiscal_principal": "={{ $json.cnae_fiscal_principal }}",
            "uf": "={{ $json.uf }}",
            "municipio": "={{ $json.municipio }}",
            "razao_social": "={{ $json.razao_social }}",
            "porte_da_empresa": "={{ $json.porte_da_empresa }}",
            "cep": "={{ $json.cep }}",
            "ddd_1": "={{ $json.ddd_1 }}",
            "telefone_1": "={{ $json.telefone_1 }}",
            "ddd_2": "={{ $json.ddd_2 }}",
            "telefone_2": "={{ $json.telefone_2 }}",
            "email": "={{ $json.email }}",
            "cep_formatado": "={{ $json.cep_formatado }}",
            "telefone1_formatado": "={{ $json.telefone1_formatado }}",
            "telefone2_formatado": "={{ $json.telefone2_formatado }}",
            "telefones": "={{ $json.telefones }}"
          },
          "matchingColumns": [
            "cnpj"
          ],
          "schema": [
            {
              "id": "cnpj",
              "displayName": "cnpj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_inicio_atividade",
              "displayName": "data_inicio_atividade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cnae_fiscal_principal",
              "displayName": "cnae_fiscal_principal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uf",
              "displayName": "uf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "municipio",
              "displayName": "municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "razao_social",
              "displayName": "razao_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "porte_da_empresa",
              "displayName": "porte_da_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cep",
              "displayName": "cep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ddd_1",
              "displayName": "ddd_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone_1",
              "displayName": "telefone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ddd_2",
              "displayName": "ddd_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone_2",
              "displayName": "telefone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cep_formatado",
              "displayName": "cep_formatado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone1_formatado",
              "displayName": "telefone1_formatado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone2_formatado",
              "displayName": "telefone2_formatado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefones",
              "displayName": "telefones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        112
      ],
      "id": "3a5d17c6-54e0-4ae3-88f3-5ac3609995dd",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "bc3e235f-92e9-4a01-9519-0e8a253d62a1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Entendimento\n\n- **Executa automaticamente toda semana às 6h da manhã**\n\n- **Define parâmetros dinâmicos**\n  - **CNAE**: código da atividade econômica que será filtrada.\n  - **janela_de_dias**: quantidade de dias para trás usada na busca de empresas recém-abertas.\n\n- **Consulta o BigQuery (Base dos Dados – CNPJ) buscando empresas que:**\n  - Iniciaram atividade dentro da janela de dias configurada.\n  - Possuem exatamente o CNAE informado.\n  - Realiza joins entre tabelas de estabelecimentos, empresas e municípios.\n\n- **Retorna dados completos e tratados da empresa:**\n  - CNPJ completo\n  - Data de início da atividade\n  - CNAE fiscal principal\n  - UF e município\n  - Razão social\n  - Porte da empresa\n  - CEP (cru e formatado)\n  - Telefones (crus, formatados e consolidados)\n  - Email\n\n- **Divide os resultados em lotes de 300 registros**\n  - Evita sobrecarga e limites da API do Google Sheets.\n  - Processa os dados em loop controlado.\n\n- **Atualiza automaticamente uma planilha no Google Sheets**\n  - Usa o **CNPJ como chave única**.\n  - **SE o CNPJ já existir:** atualiza a linha.\n  - **SE o CNPJ não existir:** adiciona uma nova linha.\n  - Mantém a planilha sempre atualizada com novos leads.\n\n- **Funciona como um captador automático de leads por CNAE**\n  - Base sempre atualizada\n  - Processo 100% automatizado\n  - Pronto para integração com CRM, vendas ou automações de marketing\n",
        "height": 928,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -32
      ],
      "typeVersion": 1,
      "id": "8dca813f-6b20-4795-a1b0-ce4ec6fb52f5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 1072,
        "width": 1936,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -112
      ],
      "typeVersion": 1,
      "id": "17bfcade-55a5-4d6c-9cdb-b464ff45c192",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "searchContacts",
        "jobTitles": "Doctor, Physician, Dentist",
        "departments": [
          "Health Care & Medical"
        ],
        "seniorities": [
          10,
          9,
          6,
          5
        ],
        "countries": [
          "Brazil"
        ],
        "contactSearchFilters": {
          "contactSearchCompanyCountries": [
            "Brazil"
          ]
        },
        "searchAdditionalOptions": {
          "pageSize": 10
        }
      },
      "type": "@lusha-org/n8n-nodes-lusha.lusha",
      "typeVersion": 1,
      "position": [
        128,
        1408
      ],
      "id": "c76b903b-62de-4215-bfb5-0a0419cbcf15",
      "name": "Search for contacts",
      "credentials": {
        "lushaApi": {
          "id": "9G4VkciXO651Si7V",
          "name": "Lusha account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        1408
      ],
      "id": "18e16ae7-c3ff-41f8-82ff-ebbe3ddec8dc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "enrichFromSearch",
        "requestId": "={{ $('Search for contacts').first().json.requestId }}",
        "contactSelectionType": "specific",
        "contactIds": "={{ $json.contactId }}"
      },
      "type": "@lusha-org/n8n-nodes-lusha.lusha",
      "typeVersion": 1,
      "position": [
        944,
        1376
      ],
      "id": "b5a179a8-ce14-4604-8b91-effb64294562",
      "name": "Enrich contacts from search results",
      "credentials": {
        "lushaApi": {
          "id": "9G4VkciXO651Si7V",
          "name": "Lusha account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        336,
        1408
      ],
      "id": "b6edbef5-9119-4323-85e7-b61c0b6cc7cd",
      "name": "Split leads"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a5965a2-63d0-44a0-9884-c0a8625a75a4",
              "name": "Nome",
              "value": "={{ $json.contacts[0].data.fullName }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000001",
              "name": "Cargo",
              "value": "={{ $json.contacts[0].data.jobTitle }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000002",
              "name": "Empresa",
              "value": "={{ $json.contacts[0].data.companyName }}",
              "type": "string"
            },
            {
              "id": "5a11229e-255f-4c08-9c44-8942891d5430",
              "name": "Descrição da empresa",
              "value": "={{ $json.contacts[0].data.company.description }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000003",
              "name": "Email",
              "value": "={{ $json.contacts[0].data.emailAddresses[0].email }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000004",
              "name": "Telefone",
              "value": "={{ (() => {\n  const raw = $json.contacts[0].data.phoneNumbers[0].number.replace(/\\D/g, '');\n  const ddi = raw.substring(0, 2);\n  const ddd = raw.substring(2, 4);\n  let numero = raw.substring(4);\n  if (numero.length === 8) numero = '9' + numero;\n  return `${ddi}${ddd}${numero}`;\n})() }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000005",
              "name": "LinkedIn",
              "value": "={{ $json.contacts[0].data.socialLinks.linkedin }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000006",
              "name": "Cidade",
              "value": "={{ $json.contacts[0].data.company.location.city }}",
              "type": "string"
            },
            {
              "id": "b1c2d3e4-0001-0001-0001-000000000007",
              "name": "Setor",
              "value": "={{ $json.contacts[0].data.company.mainIndustry }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        1376
      ],
      "id": "52f93fd5-5400-4c1d-9e67-bea94e4c02b4",
      "name": "Dados importantes"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        1152
      ],
      "id": "f8c3f173-6fcb-4d58-9ecb-bfe4cf7c7565",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "content": "### Aqui pode passar também se tiver celuar OU email.\n\n### Porque pelo visto, todos que vieram tem email, então da pra mandar mensagem no email se não tiver celular\n\n### Tem que avaliar se compensa, pois pra enriquecer um lead são 6 creditos, aparentemente ",
        "height": 288,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        1696
      ],
      "typeVersion": 1,
      "id": "0dba4dd2-b86b-43ac-9a0e-5b9c8b0c09d2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "searchContacts",
        "seniorities": [
          10,
          9,
          8,
          7,
          6,
          5
        ],
        "countries": [
          "Brazil"
        ],
        "contactSearchFilters": {
          "contactSearchCompanyEmployeeMin": "11",
          "contactSearchCompanyCountries": [
            "Brazil"
          ]
        },
        "searchAdditionalOptions": {
          "pageSize": 49
        }
      },
      "type": "@lusha-org/n8n-nodes-lusha.lusha",
      "typeVersion": 1,
      "position": [
        48,
        1152
      ],
      "id": "c25d4144-6531-4a44-9f58-e4ea12b203c5",
      "name": "Search for contacts1",
      "credentials": {
        "lushaApi": {
          "id": "9G4VkciXO651Si7V",
          "name": "Lusha account"
        }
      }
    },
    {
      "parameters": {
        "operation": "searchContacts",
        "seniorities": [
          10,
          9,
          8,
          7,
          6,
          5
        ],
        "countries": [
          "Brazil"
        ],
        "contactSearchFilters": {
          "contactSearchCompanyEmployeeMin": "11",
          "contactSearchCompanyCountries": [
            "Brazil"
          ]
        },
        "searchAdditionalOptions": {
          "pageSize": 49
        }
      },
      "type": "@lusha-org/n8n-nodes-lusha.lusha",
      "typeVersion": 1,
      "position": [
        256,
        1152
      ],
      "id": "59489842-4d6e-4601-af43-64a68de33452",
      "name": "Search for contacts2",
      "credentials": {
        "lushaApi": {
          "id": "9G4VkciXO651Si7V",
          "name": "Lusha account"
        }
      }
    },
    {
      "parameters": {
        "content": "### - Pra enriquecer quem tem celular são 5 créditos. \n\n### - para enriquecer quem tem email é 1 crédito.",
        "height": 144,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        1696
      ],
      "typeVersion": 1,
      "id": "41656956-5c1c-4257-b4cf-a95126a2bb6a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d734e512-0012-41c0-87ad-3b2cf2e22eda",
              "leftValue": "={{ $('Search for contacts').first().json.newContactIds.includes($json.contactId) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        1152
      ],
      "id": "720c7e95-fbd5-4b35-b618-4c7653bb78c5",
      "name": "Lead novo?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "205e2326-d648-4293-b552-0c3dcf2cb8a2",
              "leftValue": "={{ $json.hasMobilePhone }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d255b652-d171-4b16-8142-a544b55b1b2f",
              "leftValue": "={{ $json.hasWorkEmail }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        1408
      ],
      "id": "0e25c929-9071-49a0-977b-4d048d48ff1b",
      "name": "Tem celular e email?"
    },
    {
      "parameters": {
        "operation": "enrichFromSearch",
        "requestId": "={{ $('Search for contacts').first().json.requestId }}",
        "contactSelectionType": "specific",
        "contactIds": "3bb7eeeb-4628-5fe1-a497-f6ea5597fe4b"
      },
      "type": "@lusha-org/n8n-nodes-lusha.lusha",
      "typeVersion": 1,
      "position": [
        928,
        1168
      ],
      "id": "63db94b3-e462-4bab-b5bd-ce3c76913f55",
      "name": "Enrich contacts from search results1",
      "credentials": {
        "lushaApi": {
          "id": "9G4VkciXO651Si7V",
          "name": "Lusha account"
        }
      }
    },
    {
      "parameters": {
        "content": "### - Aqui tem que salvar na planilha. \n\n### - Salvar também direto no crm do lovable ou no supabase (salvando no supabase tem que ter um mecanismo para puxar os dados de lá e criar o card corretamente.\n\n## Acredito que salvar direto no crm, por API, é melhor",
        "height": 384,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1568,
        1248
      ],
      "typeVersion": 1,
      "id": "4e85d139-e2ce-45a5-8c3e-8ec17a76a2ae",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search for contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for contacts": {
      "main": [
        [
          {
            "node": "Split leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split leads": {
      "main": [
        [
          {
            "node": "Tem celular e email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich contacts from search results": {
      "main": [
        [
          {
            "node": "Dados importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        []
      ]
    },
    "Lead novo?": {
      "main": [
        []
      ]
    },
    "Tem celular e email?": {
      "main": [
        [
          {
            "node": "Enrich contacts from search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "1bbd06eb-e507-4d38-8d68-ca4a7b44c08c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-12T18:34:25.569Z",
      "createdAt": "2026-01-12T18:34:25.569Z",
      "role": "workflow:owner",
      "workflowId": "kpY57Ru8IinHDsi5",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}