backup/mia---9.3---limpar-s3-y4thsz32D76xt2uC.json
{
  "updatedAt": "2026-01-31T14:43:51.081Z",
  "createdAt": "2025-11-25T09:48:27.122Z",
  "id": "y4thsz32D76xt2uC",
  "name": "MIA - 9.3 - Limpar S3",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        512,
        720
      ],
      "id": "4cdc7c74-1e0a-417c-8663-da7e5d24687a",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        80
      ],
      "id": "43821c71-ca50-4ed0-b577-f20ec37ce308",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b7bdbdf-14bd-4be2-a2fe-d91f59bfaf9f",
              "name": "Owner",
              "value": "getmia-ia",
              "type": "string"
            },
            {
              "id": "7ea8ddff-c64d-4978-b2e3-ac2cd706bf13",
              "name": "Repository",
              "value": "Mia",
              "type": "string"
            },
            {
              "id": "3d4ab93f-fa96-4c8d-a2ae-4bfc70be4550",
              "name": "path",
              "value": "images/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        80
      ],
      "id": "3d79ae4c-bb9d-4f78-a8a8-ba8175a0e8c3",
      "name": "Dados para o GitHub",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "***REMOVIDO***",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $json.Owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.Repository }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        816,
        80
      ],
      "id": "5cee96c8-ae40-4903-b505-f4cb726d5682",
      "name": "Lista todos os arquivos do repositório",
      "webhookId": "24f3f417-0893-43a3-bec1-16341ead7ada",
      "credentials": {
        "githubOAuth2Api": "***REMOVIDO***"
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Dados para o GitHub').item.json.Owner }}/{{ $('Dados para o GitHub').item.json.Repository }}/contents/{{ $('Lista todos os arquivos do repositório').item.json.path }}",
        "authentication": "***REMOVIDO***",
        "nodeCredentialType": "githubOAuth2Api",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"Removendo arquivo antigo automaticamente\",\n  \"sha\": \"{{ $('Lista todos os arquivos do repositório').item.json.sha }}\",\n  \"committer\": {\n    \"name\": \"{{ $json.commit.committer.name }}\",\n    \"email\": \"{{ $json.commit.committer.email }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        80
      ],
      "id": "6dfacc70-baa5-445b-9b59-93774863c706",
      "name": "Deleta o arquivo do repositório",
      "executeOnce": true,
      "credentials": {
        "githubOAuth2Api": "***REMOVIDO***"
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32581fe4-aa4b-410a-986c-aec0ffa7ece3",
              "leftValue": "={{ $json.commit.author.date }}",
              "rightValue": "={{ $now.minus({ weeks: 1 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        96
      ],
      "id": "2b18ad2e-95c2-468b-803f-c14f459b2499",
      "name": "Verifica se o arquivo está a mais de uma semana no repositório",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Dados para o GitHub').item.json.Owner }}/{{ $('Dados para o GitHub').item.json.Repository }}/commits",
        "authentication": "***REMOVIDO***",
        "nodeCredentialType": "githubOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "={{ $('Lista todos os arquivos do repositório').item.json.path }}"
            },
            {
              "name": "per_page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        96
      ],
      "id": "d11d1292-1ba0-4d5c-b4c0-67b7bc6d8ec2",
      "name": "Busca o último commit de cada arquivo",
      "executeOnce": true,
      "credentials": {
        "githubOAuth2Api": "***REMOVIDO***"
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Fluxo que apaga arquivos que estão a mais de uma semana no repositório do GitHub\n(para as imagens das notícias)",
        "height": 640,
        "width": 1920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        528
      ],
      "id": "254e9505-118a-4887-8183-11cca0bbd5bc",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        80
      ],
      "id": "f501b18d-55c6-4798-ab7a-d0a5554acf5b",
      "name": "Wait",
      "webhookId": "fbf41b00-01a5-419f-8c4d-8f34e497e1c6",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        272
      ],
      "id": "d3014d71-3eb8-4914-89bc-50936742802a",
      "name": "Wait1",
      "webhookId": "b87f314c-b8f8-4051-929f-3c6f3180060a",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        416,
        80
      ],
      "id": "707824e0-279e-4ad7-8467-62fc15280d5a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "={{ $json.BucketName }}",
        "returnAll": true,
        "options": {
          "folderKey": "={{ $json.path }}"
        }
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        928,
        720
      ],
      "id": "d0f99a6f-2308-4480-8b8c-a55cb271dbc8",
      "name": "Get many files1",
      "credentials": {
        "aws": {
          "id": "KyR5PQOVQNntbGPv",
          "name": "MIA CDN AWS S3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obter configurações - com debug\nconst configNode = $('Configurações do S3').first().json;\nconst maxAgeDays = parseInt(configNode.maxAgeDays) || parseInt(configNode.MaxAgeDays) || 7;\n\n// Obter item atual\nconst item = $input.item;\nconst fileKey = item.json.Key;\n\n// Extrair a data do nome do arquivo\n// Formato esperado: MIA/1.1/20251217083238912.png\n// Extrair apenas os 8 primeiros dígitos da data (YYYYMMDD)\nconst regex = /\\/(\\d{8})\\d+\\./;\nconst match = fileKey.match(regex);\n\nif (!match) {\n  // Se não conseguir extrair a data, retorna que não é antigo\n  return {\n    json: {\n      ...item.json,\n      isOld: false,\n      error: 'Não foi possível extrair a data do nome do arquivo',\n      dateExtracted: null,\n      ageInDays: null,\n      cutoffDate: null\n    }\n  };\n}\n\n// Pegar a data extraída (YYYYMMDD)\nconst dateString = match[1]; // Ex: \"20251217\"\nconst year = parseInt(dateString.substring(0, 4));\nconst month = parseInt(dateString.substring(4, 6));\nconst day = parseInt(dateString.substring(6, 8));\n\n// Criar objeto Date da data do arquivo\nconst fileDate = new Date(year, month - 1, day);\nfileDate.setHours(0, 0, 0, 0);\n\n// Calcular data de corte (hoje - maxAgeDays)\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst cutoffDate = new Date(today);\ncutoffDate.setDate(today.getDate() - maxAgeDays);\n\n// Calcular diferença em dias\nconst diffTime = today.getTime() - fileDate.getTime();\nconst ageInDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n\n// Verificar se o arquivo é antigo\n// MANTER arquivos com maxAgeDays ou menos\n// DELETAR arquivos com mais de maxAgeDays\nconst isOld = ageInDays > maxAgeDays;\n\n// Formatar datas para exibição\nconst formatDate = (date) => {\n  const y = date.getFullYear();\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const d = String(date.getDate()).padStart(2, '0');\n  return `${y}-${m}-${d}`;\n};\n\n// Retornar resultado com informações detalhadas\nreturn {\n  json: {\n    ...item.json,\n    isOld: isOld,\n    dateExtracted: formatDate(fileDate),\n    cutoffDate: formatDate(cutoffDate),\n    ageInDays: ageInDays,\n    maxAgeDaysUsed: maxAgeDays,\n    fileName: fileKey.split('/').pop()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        736
      ],
      "id": "5a9ef70e-c5bf-40fa-acfe-58b6efeaa283",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0f8cfcd-f9ad-4754-8531-ba94b6fcf804",
              "leftValue": "={{ $json.isOld }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        736
      ],
      "id": "0d880a95-0f90-4fb1-8733-0811633118f6",
      "name": "Verifica se o arquivo está a mais de uma semana no repositório2"
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        720
      ],
      "id": "b0ccf645-a25f-43a3-b932-007d967f01e0",
      "name": "Wait4",
      "webhookId": "7a9527b8-d58f-43ea-91e5-4d2e35d24bbe"
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        944
      ],
      "id": "4a483bcf-dd88-4f2d-9940-3e3aea178da5",
      "name": "Wait5",
      "webhookId": "f9c2d756-1695-43f8-9ba4-c6c07c0b4805"
    },
    {
      "parameters": {
        "operation": "delete",
        "bucketName": "=cdn.miabuilder.com",
        "fileKey": "={{ $json.Key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        2160,
        720
      ],
      "id": "ab129446-7898-419f-a169-19f5e4687ff4",
      "name": "Delete a file1",
      "credentials": {
        "aws": {
          "id": "KyR5PQOVQNntbGPv",
          "name": "MIA CDN AWS S3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        720
      ],
      "id": "1521f3ee-d7a7-4e7f-88fa-1b600869790c",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31a1f4c9-8959-4b0b-812b-aeac69f56e91",
              "name": "BucketName",
              "value": "cdn.miabuilder.com",
              "type": "string"
            },
            {
              "id": "e7635f70-4785-4820-81e9-232729e0ed50",
              "name": "path",
              "value": "MIA/1.08/",
              "type": "string"
            },
            {
              "id": "8036cfe1-77ed-4a15-96f2-559acf0f1574",
              "name": "maxAgeDays",
              "value": "21",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        720
      ],
      "id": "dd61c2b7-9c19-42b6-a579-bfbe19d2f98e",
      "name": "Configurações do S3"
    },
    {
      "parameters": {
        "content": "## Antigo fluxo que limpava o Github",
        "height": 512,
        "width": 2112
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        0
      ],
      "typeVersion": 1,
      "id": "4eee87db-95b4-4fed-a8fe-40f2fc51b80a",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Configurações do S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Busca o último commit de cada arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados para o GitHub": {
      "main": [
        [
          {
            "node": "Lista todos os arquivos do repositório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista todos os arquivos do repositório": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta o arquivo do repositório": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o arquivo está a mais de uma semana no repositório": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca o último commit de cada arquivo": {
      "main": [
        [
          {
            "node": "Verifica se o arquivo está a mais de uma semana no repositório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Deleta o arquivo do repositório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Dados para o GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Verifica se o arquivo está a mais de uma semana no repositório2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o arquivo está a mais de uma semana no repositório2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurações do S3": {
      "main": [
        [
          {
            "node": "Get many files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "49c1c30a-7f53-4d6a-ab84-7f3a2dc61977",
  "activeVersionId": "49c1c30a-7f53-4d6a-ab84-7f3a2dc61977",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-25T09:48:27.122Z",
      "createdAt": "2025-11-25T09:48:27.122Z",
      "role": "workflow:owner",
      "workflowId": "y4thsz32D76xt2uC",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-07T12:45:38.377Z",
    "createdAt": "2026-02-07T12:45:38.377Z",
    "versionId": "49c1c30a-7f53-4d6a-ab84-7f3a2dc61977",
    "workflowId": "y4thsz32D76xt2uC",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          512,
          720
        ],
        "id": "4cdc7c74-1e0a-417c-8663-da7e5d24687a",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1040,
          80
        ],
        "id": "43821c71-ca50-4ed0-b577-f20ec37ce308",
        "name": "Loop Over Items",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3b7bdbdf-14bd-4be2-a2fe-d91f59bfaf9f",
                "name": "Owner",
                "value": "getmia-ia",
                "type": "string"
              },
              {
                "id": "7ea8ddff-c64d-4978-b2e3-ac2cd706bf13",
                "name": "Repository",
                "value": "Mia",
                "type": "string"
              },
              {
                "id": "3d4ab93f-fa96-4c8d-a2ae-4bfc70be4550",
                "name": "path",
                "value": "images/",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          624,
          80
        ],
        "id": "3d79ae4c-bb9d-4f78-a8a8-ba8175a0e8c3",
        "name": "Dados para o GitHub",
        "disabled": true
      },
      {
        "parameters": {
          "authentication": "***REMOVIDO***",
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "={{ $json.Owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $json.Repository }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          816,
          80
        ],
        "id": "5cee96c8-ae40-4903-b505-f4cb726d5682",
        "name": "Lista todos os arquivos do repositório",
        "webhookId": "24f3f417-0893-43a3-bec1-16341ead7ada",
        "credentials": {
          "githubOAuth2Api": "***REMOVIDO***"
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.github.com/repos/{{ $('Dados para o GitHub').item.json.Owner }}/{{ $('Dados para o GitHub').item.json.Repository }}/contents/{{ $('Lista todos os arquivos do repositório').item.json.path }}",
          "authentication": "***REMOVIDO***",
          "nodeCredentialType": "githubOAuth2Api",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"message\": \"Removendo arquivo antigo automaticamente\",\n  \"sha\": \"{{ $('Lista todos os arquivos do repositório').item.json.sha }}\",\n  \"committer\": {\n    \"name\": \"{{ $json.commit.committer.name }}\",\n    \"email\": \"{{ $json.commit.committer.email }}\"\n  }\n} ",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2032,
          80
        ],
        "id": "6dfacc70-baa5-445b-9b59-93774863c706",
        "name": "Deleta o arquivo do repositório",
        "executeOnce": true,
        "credentials": {
          "githubOAuth2Api": "***REMOVIDO***"
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "32581fe4-aa4b-410a-986c-aec0ffa7ece3",
                "leftValue": "={{ $json.commit.author.date }}",
                "rightValue": "={{ $now.minus({ weeks: 1 }) }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "beforeOrEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1472,
          96
        ],
        "id": "2b18ad2e-95c2-468b-803f-c14f459b2499",
        "name": "Verifica se o arquivo está a mais de uma semana no repositório",
        "disabled": true
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{ $('Dados para o GitHub').item.json.Owner }}/{{ $('Dados para o GitHub').item.json.Repository }}/commits",
          "authentication": "***REMOVIDO***",
          "nodeCredentialType": "githubOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "path",
                "value": "={{ $('Lista todos os arquivos do repositório').item.json.path }}"
              },
              {
                "name": "per_page",
                "value": "1"
              }
            ]
          },
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/vnd.github.v3+json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1264,
          96
        ],
        "id": "d11d1292-1ba0-4d5c-b4c0-67b7bc6d8ec2",
        "name": "Busca o último commit de cada arquivo",
        "executeOnce": true,
        "credentials": {
          "githubOAuth2Api": "***REMOVIDO***"
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "## Fluxo que apaga arquivos que estão a mais de uma semana no repositório do GitHub\n(para as imagens das notícias)",
          "height": 640,
          "width": 1920,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          448,
          528
        ],
        "id": "254e9505-118a-4887-8183-11cca0bbd5bc",
        "name": "Sticky Note",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1760,
          80
        ],
        "id": "f501b18d-55c6-4798-ab7a-d0a5554acf5b",
        "name": "Wait",
        "webhookId": "fbf41b00-01a5-419f-8c4d-8f34e497e1c6",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1728,
          272
        ],
        "id": "d3014d71-3eb8-4914-89bc-50936742802a",
        "name": "Wait1",
        "webhookId": "b87f314c-b8f8-4051-929f-3c6f3180060a",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          416,
          80
        ],
        "id": "707824e0-279e-4ad7-8467-62fc15280d5a",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "getAll",
          "bucketName": "={{ $json.BucketName }}",
          "returnAll": true,
          "options": {
            "folderKey": "={{ $json.path }}"
          }
        },
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          928,
          720
        ],
        "id": "d0f99a6f-2308-4480-8b8c-a55cb271dbc8",
        "name": "Get many files1",
        "credentials": {
          "aws": {
            "id": "KyR5PQOVQNntbGPv",
            "name": "MIA CDN AWS S3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obter configurações - com debug\nconst configNode = $('Configurações do S3').first().json;\nconst maxAgeDays = parseInt(configNode.maxAgeDays) || parseInt(configNode.MaxAgeDays) || 7;\n\n// Obter item atual\nconst item = $input.item;\nconst fileKey = item.json.Key;\n\n// Extrair a data do nome do arquivo\n// Formato esperado: MIA/1.1/20251217083238912.png\n// Extrair apenas os 8 primeiros dígitos da data (YYYYMMDD)\nconst regex = /\\/(\\d{8})\\d+\\./;\nconst match = fileKey.match(regex);\n\nif (!match) {\n  // Se não conseguir extrair a data, retorna que não é antigo\n  return {\n    json: {\n      ...item.json,\n      isOld: false,\n      error: 'Não foi possível extrair a data do nome do arquivo',\n      dateExtracted: null,\n      ageInDays: null,\n      cutoffDate: null\n    }\n  };\n}\n\n// Pegar a data extraída (YYYYMMDD)\nconst dateString = match[1]; // Ex: \"20251217\"\nconst year = parseInt(dateString.substring(0, 4));\nconst month = parseInt(dateString.substring(4, 6));\nconst day = parseInt(dateString.substring(6, 8));\n\n// Criar objeto Date da data do arquivo\nconst fileDate = new Date(year, month - 1, day);\nfileDate.setHours(0, 0, 0, 0);\n\n// Calcular data de corte (hoje - maxAgeDays)\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nconst cutoffDate = new Date(today);\ncutoffDate.setDate(today.getDate() - maxAgeDays);\n\n// Calcular diferença em dias\nconst diffTime = today.getTime() - fileDate.getTime();\nconst ageInDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n\n// Verificar se o arquivo é antigo\n// MANTER arquivos com maxAgeDays ou menos\n// DELETAR arquivos com mais de maxAgeDays\nconst isOld = ageInDays > maxAgeDays;\n\n// Formatar datas para exibição\nconst formatDate = (date) => {\n  const y = date.getFullYear();\n  const m = String(date.getMonth() + 1).padStart(2, '0');\n  const d = String(date.getDate()).padStart(2, '0');\n  return `${y}-${m}-${d}`;\n};\n\n// Retornar resultado com informações detalhadas\nreturn {\n  json: {\n    ...item.json,\n    isOld: isOld,\n    dateExtracted: formatDate(fileDate),\n    cutoffDate: formatDate(cutoffDate),\n    ageInDays: ageInDays,\n    maxAgeDaysUsed: maxAgeDays,\n    fileName: fileKey.split('/').pop()\n  }\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1424,
          736
        ],
        "id": "5a9ef70e-c5bf-40fa-acfe-58b6efeaa283",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c0f8cfcd-f9ad-4754-8531-ba94b6fcf804",
                "leftValue": "={{ $json.isOld }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1648,
          736
        ],
        "id": "0d880a95-0f90-4fb1-8733-0811633118f6",
        "name": "Verifica se o arquivo está a mais de uma semana no repositório2"
      },
      {
        "parameters": {
          "amount": 2.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1888,
          720
        ],
        "id": "b0ccf645-a25f-43a3-b932-007d967f01e0",
        "name": "Wait4",
        "webhookId": "7a9527b8-d58f-43ea-91e5-4d2e35d24bbe"
      },
      {
        "parameters": {
          "amount": 2.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1888,
          944
        ],
        "id": "4a483bcf-dd88-4f2d-9940-3e3aea178da5",
        "name": "Wait5",
        "webhookId": "f9c2d756-1695-43f8-9ba4-c6c07c0b4805"
      },
      {
        "parameters": {
          "operation": "delete",
          "bucketName": "=cdn.miabuilder.com",
          "fileKey": "={{ $json.Key }}",
          "options": {}
        },
        "type": "n8n-nodes-base.awsS3",
        "typeVersion": 2,
        "position": [
          2160,
          720
        ],
        "id": "ab129446-7898-419f-a169-19f5e4687ff4",
        "name": "Delete a file1",
        "credentials": {
          "aws": {
            "id": "KyR5PQOVQNntbGPv",
            "name": "MIA CDN AWS S3"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1184,
          720
        ],
        "id": "1521f3ee-d7a7-4e7f-88fa-1b600869790c",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "31a1f4c9-8959-4b0b-812b-aeac69f56e91",
                "name": "BucketName",
                "value": "cdn.miabuilder.com",
                "type": "string"
              },
              {
                "id": "e7635f70-4785-4820-81e9-232729e0ed50",
                "name": "path",
                "value": "MIA/1.08/",
                "type": "string"
              },
              {
                "id": "8036cfe1-77ed-4a15-96f2-559acf0f1574",
                "name": "maxAgeDays",
                "value": "21",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          720
        ],
        "id": "dd61c2b7-9c19-42b6-a579-bfbe19d2f98e",
        "name": "Configurações do S3"
      },
      {
        "parameters": {
          "content": "## Antigo fluxo que limpava o Github",
          "height": 512,
          "width": 2112
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          256,
          0
        ],
        "typeVersion": 1,
        "id": "4eee87db-95b4-4fed-a8fe-40f2fc51b80a",
        "name": "Sticky Note1"
      }
    ],
    "connections": {
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Configurações do S3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Busca o último commit de cada arquivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dados para o GitHub": {
        "main": [
          [
            {
              "node": "Lista todos os arquivos do repositório",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lista todos os arquivos do repositório": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deleta o arquivo do repositório": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se o arquivo está a mais de uma semana no repositório": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca o último commit de cada arquivo": {
        "main": [
          [
            {
              "node": "Verifica se o arquivo está a mais de uma semana no repositório",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Deleta o arquivo do repositório",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Dados para o GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many files1": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Verifica se o arquivo está a mais de uma semana no repositório2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se o arquivo está a mais de uma semana no repositório2": {
        "main": [
          [
            {
              "node": "Wait4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait4": {
        "main": [
          [
            {
              "node": "Delete a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait5": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file1": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Configurações do S3": {
        "main": [
          [
            {
              "node": "Get many files1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}