backup/mia---5.3---post-no-linkedin---post-no-linkedin-FbeOCHYqhpiS6zNm.json
{
  "updatedAt": "2025-12-17T00:48:37.729Z",
  "createdAt": "2025-12-16T11:32:25.147Z",
  "id": "FbeOCHYqhpiS6zNm",
  "name": "MIA - 5.3 - Post no Linkedin - Post no Linkedin",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a330d984-2021-4c84-9508-c1694da52f1b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM",
          "mode": "list",
          "cachedResultName": "Controle Posts - Mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1197910267,
          "mode": "list",
          "cachedResultName": "social_media_mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=1197910267"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status_linkedin",
              "lookupValue": "Aprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "80438060-71a7-47b3-9d52-7cdcf9588b0c",
      "name": "Pega status de aprovado para linkedin",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todas as linhas\nconst rows = items.map(i => i.json);\n\n// Função pra checar se está aprovado\nconst isApproved = v => String(v || '').trim().toLowerCase() === 'aprovado';\n\n// Acha o primeiro item aprovado\nconst first = rows.find(r => isApproved(r.status_linkedin));\n\nif (!first) return [];\n\nreturn [{ json: { ...first, status_retorno: first.status_linkedin } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "261e2832-6b4b-408f-98d8-37d8d73e32a6",
      "name": "Pega primeiro item aprovado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "910ef173-5738-4408-b1b8-b02d17df6606",
              "name": "id_post",
              "value": "={{ $json.id_post }}",
              "type": "string"
            },
            {
              "id": "5ef1517f-0920-4fc0-ba33-1ad7d31c767f",
              "name": "imagem_linkedin",
              "value": "={{ $json.imagem_linkedin }}",
              "type": "string"
            },
            {
              "id": "7a598cd2-ad45-4541-bf71-4cecc599b395",
              "name": "post_linkedin",
              "value": "={{ $json.post_linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "5d0d9893-fea5-47fa-b2fa-467037f1d0f4",
      "name": "Define parâmetros para post"
    },
    {
      "parameters": {
        "url": "={{ $json.imagem_linkedin }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imagem_final_linkedin"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "c330cf54-ddc3-42ef-9ca5-b9a089a0f2a5",
      "name": "Baixa a imagem"
    },
    {
      "parameters": {
        "person": "gsk8fJVjru",
        "text": "={{ $json.post_linkedin }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "imagem_final_linkedin",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "ea5ac597-dd00-49eb-83fd-faee2886d91e",
      "name": "Cria o post no linkedin",
      "credentials": {
        "linkedInOAuth2Api": "***REMOVIDO***"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pega status de aprovado para linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega status de aprovado para linkedin": {
      "main": [
        [
          {
            "node": "Pega primeiro item aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega primeiro item aprovado": {
      "main": [
        [
          {
            "node": "Define parâmetros para post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define parâmetros para post": {
      "main": [
        [
          {
            "node": "Baixa a imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa a imagem": {
      "main": [
        [
          {
            "node": "Cria o post no linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o post no linkedin": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "c400d57c-a516-497a-b862-eb3d0f8761d2",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T11:32:25.147Z",
      "createdAt": "2025-12-16T11:32:25.147Z",
      "role": "workflow:owner",
      "workflowId": "FbeOCHYqhpiS6zNm",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}