backup/mia---5.2---insercao-do-post-na-planilha-dzmvfXfpQiF1ezI7.json
{
  "updatedAt": "2026-05-26T02:04:57.155Z",
  "createdAt": "2026-05-21T13:25:53.016Z",
  "id": "dzmvfXfpQiF1ezI7",
  "name": "Mia - 5.2 - Inserção do post na planilha",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -16,
        16
      ],
      "id": "8c81f320-7018-4a84-9067-0c0685b1f29b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "function sanitizarJSON(str) {\n  if (typeof str !== \"string\") return str;\n  return str\n    .replace(/\\n/g, \"\\\\n\")\n    .replace(/\\r/g, \"\\\\r\")\n    .replace(/\\t/g, \"\\\\t\");\n}\n\nfunction desempacotar(valor, maxTentativas = 15) {\n  let atual = valor;\n  for (let i = 0; i < maxTentativas; i++) {\n    if (typeof atual === \"string\") {\n      try { atual = JSON.parse(atual); continue; } catch (e) {}\n      try { atual = JSON.parse(sanitizarJSON(atual)); continue; } catch (e) { break; }\n    }\n    if (atual && typeof atual === \"object\" && !Array.isArray(atual)) {\n      const temDadosReais = atual.fonte !== undefined || atual.dados_post !== undefined || atual.horario !== undefined;\n      if (temDadosReais) break;\n      if (atual.query !== undefined) { atual = atual.query; continue; }\n    }\n    break;\n  }\n  return atual;\n}\n\n// ─── Ponto de entrada ─────────────────────────────────────────────────────────\nconst entrada = items[0].json;\n\nlet parsed;\nif (entrada.fonte !== undefined || entrada.dados_post !== undefined) {\n  parsed = entrada;\n} else if (entrada.query !== undefined) {\n  parsed = desempacotar(entrada.query);\n} else if (typeof entrada === \"string\") {\n  parsed = desempacotar(entrada);\n} else {\n  parsed = entrada;\n}\n\nif (!parsed || typeof parsed !== \"object\" || (parsed.fonte === undefined && parsed.dados_post === undefined)) {\n  return [{ json: {\n    erro: true,\n    mensagem: \"Falha ao desempacotar dados\",\n    raw: JSON.stringify(items[0].json).slice(0, 500),\n  }}];\n}\n\n// ─── Extração dos campos ──────────────────────────────────────────────────────\nconst fonte         = parsed.fonte         ?? null;\nconst horario       = parsed.horario       ?? null;\nconst dados_post    = parsed.dados_post    ?? {};\nconst dados_cliente = parsed.dados_cliente ?? {};\n\n// ─── Detectar tipo pelo campo \"video\" ─────────────────────────────────────────\nconst campoVideo = dados_post.video ?? null;\nlet tipo = \"desconhecido\";\nlet post_conteudo = {};\n\nif (campoVideo !== null) {\n  // Tenta fazer parse caso seja JSON stringificado (slides)\n  let videoParseado = null;\n  if (typeof campoVideo === \"string\") {\n    try { videoParseado = JSON.parse(campoVideo); } catch (e) {}\n    if (!videoParseado) {\n      try { videoParseado = JSON.parse(sanitizarJSON(campoVideo)); } catch (e) {}\n    }\n  } else if (typeof campoVideo === \"object\") {\n    videoParseado = campoVideo;\n  }\n\n  if (videoParseado && typeof videoParseado === \"object\") {\n    // É um objeto com slides → carrossel\n    tipo = \"carrossel\";\n    const slide_urls = [\n      videoParseado.slide_1,\n      videoParseado.slide_2,\n      videoParseado.slide_3,\n      videoParseado.slide_4,\n      videoParseado.slide_5,\n      videoParseado.slide_6,\n    ].filter(u => !!u);\n\n    post_conteudo = {\n      slides: videoParseado,\n      slide_urls,\n      total_slides: slide_urls.length,\n      caption: dados_post.video_caption ?? null,\n    };\n  } else if (typeof campoVideo === \"string\" && campoVideo.trim().endsWith(\".mp4\")) {\n    // É uma URL de vídeo\n    tipo = \"video\";\n    post_conteudo = {\n      video_url: campoVideo,\n      caption: dados_post.video_caption ?? null,\n    };\n  }\n}\n\n// ─── Campos base do post ──────────────────────────────────────────────────────\nconst CAMPOS_BASE_POST = [\"id\", \"client\", \"user\", \"user_number_phone\", \"created_at\", \"status\"];\nconst post_base = {};\nfor (const campo of CAMPOS_BASE_POST) {\n  post_base[campo] = dados_post[campo] ?? null;\n}\n\n// ─── Dados do cliente ─────────────────────────────────────────────────────────\nconst CAMPOS_CONHECIDOS_CLIENTE = [\"cliente\", \"ramo\", \"target_audience\", \"keywords_context\", \"criterios_relevancia\"];\nconst cliente = {\n  nome:                 dados_cliente.cliente              ?? null,\n  ramo:                 dados_cliente.ramo                 ?? null,\n  target_audience:      dados_cliente.target_audience      ?? null,\n  keywords:             dados_cliente.keywords_context     ?? null,\n  criterios_relevancia: dados_cliente.criterios_relevancia ?? null,\n};\nfor (const campo of Object.keys(dados_cliente)) {\n  if (!CAMPOS_CONHECIDOS_CLIENTE.includes(campo)) cliente[campo] = dados_cliente[campo];\n}\n\n// ─── Resultado final ──────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    tipo,\n    fonte,\n    horario,\n    post: {\n      ...post_base,\n      ...post_conteudo,\n    },\n    cliente,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "id": "93831d1c-3e38-41ab-a68e-f053aec440e7",
      "name": "Organiza dados para inserir na planilha"
    },
    {
      "parameters": {
        "content": "### Insere o vídeo e suas informações na planilha, também vai com o horário definido pelo usuário.",
        "height": 320,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -256
      ],
      "typeVersion": 1,
      "id": "d17e6cb5-75be-4f3f-ab86-b7cfd0f7d530",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fonte": "={{ $json.fonte }}",
            "cliente": "={{ $json.post.client }}",
            "data_criacao": "={{ DateTime.fromISO($json.post.created_at).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}",
            "horario_post_blog": "-",
            "horario_post_instagram": "={{ $json.horario }}",
            "horario_post_linkedin": "-",
            "horario_post_x": "-",
            "horario_post_whatsapp": "-",
            "id_post": "={{ $json.post.id }}",
            "titulo": "-",
            "briefing": "-",
            "artigo_blog": "-",
            "legenda_instagram": "={{ $json.post.caption }}",
            "legenda_linkedin": "-",
            "legenda_x": "-",
            "legenda_whatsapp": "-",
            "status_blog": "-",
            "status_instagram": "={{ $json.post.status.toLowerCase() }}",
            "status_linkedin": "-",
            "status_x": "-",
            "status_whatsapp": "-",
            "nota_criterio": "-",
            "nota_relevancia": "-",
            "nota_aprovador": "-",
            "imagem_blog_url": "-",
            "imagem1_url": "={{ $json.post.video_url }}",
            "justificativa_blog": "-",
            "justificativa_instagram": "-",
            "justificativa_linkedin": "-",
            "justificativa_x": "-",
            "justificativa_whatsapp": "-",
            "origem": "-",
            "template_whatsapp": "-",
            "imagem2_url": "-",
            "imagem3_url": "-",
            "imagem4_url": "-",
            "imagem5_url": "-",
            "imagem6_url": "-"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -128
      ],
      "id": "8ebc0580-9032-4bfb-933e-fb23a4aea3f9",
      "name": "Insere vídeo na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "=video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "addf023b-209e-4b90-a9bd-c05f18470a91"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vídeo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ffa4b5e-1300-4318-9c3c-5653c8bbf393",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "carrossel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagens"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        16
      ],
      "id": "77640bb5-9949-4658-b100-6b6af1444846",
      "name": "Verifica se usa vídeo ou imagem"
    },
    {
      "parameters": {
        "content": "### Insere o carrossel e suas informações na planilha, também vai com o horário definido pelo usuário.",
        "height": 320,
        "width": 352,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        80
      ],
      "typeVersion": 1,
      "id": "a817e750-2b02-436d-90ea-4d34a0bd2eb8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fonte": "={{ $json.fonte }}",
            "cliente": "={{ $json.post.client }}",
            "data_criacao": "={{ DateTime.fromISO($json.post.created_at).setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy HH:mm') }}",
            "horario_post_blog": "-",
            "horario_post_instagram": "={{ $json.horario }}",
            "horario_post_linkedin": "-",
            "horario_post_x": "-",
            "horario_post_whatsapp": "-",
            "id_post": "={{ $json.post.id }}",
            "titulo": "-",
            "briefing": "-",
            "artigo_blog": "-",
            "legenda_instagram": "={{ $json.post.caption }}",
            "legenda_linkedin": "-",
            "legenda_x": "-",
            "legenda_whatsapp": "-",
            "status_blog": "-",
            "status_instagram": "={{ $json.post.status.toLowerCase() }}",
            "status_linkedin": "-",
            "status_x": "-",
            "status_whatsapp": "-",
            "nota_criterio": "-",
            "nota_relevancia": "-",
            "nota_aprovador": "-",
            "imagem_blog_url": "-",
            "imagem1_url": "={{ $json.post.slides.slide_1 }}",
            "justificativa_blog": "-",
            "justificativa_instagram": "-",
            "justificativa_linkedin": "-",
            "justificativa_x": "-",
            "justificativa_whatsapp": "-",
            "origem": "-",
            "template_whatsapp": "-",
            "imagem2_url": "={{ $json.post.slides.slide_2 }}",
            "imagem3_url": "={{ $json.post.slides.slide_3 }}",
            "imagem4_url": "={{ $json.post.slides.slide_4 }}",
            "imagem5_url": "={{ $json.post.slides.slide_5 }}",
            "imagem6_url": "={{ $json.post.slides.slide_6 }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_criterio",
              "displayName": "nota_criterio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_relevancia",
              "displayName": "nota_relevancia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nota_aprovador",
              "displayName": "nota_aprovador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem_blog_url",
              "displayName": "imagem_blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        208
      ],
      "id": "609e76d3-62ad-47a9-981e-3f653d4d3794",
      "name": "Insere carrossel na planilha",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "content": "## Organização de dados e decisão do tipo de mídia",
        "height": 656,
        "width": 688,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -256
      ],
      "typeVersion": 1,
      "id": "719323ab-d7a3-4e08-ab97-f66b1087c5bf",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Organiza dados para inserir na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza dados para inserir na planilha": {
      "main": [
        [
          {
            "node": "Verifica se usa vídeo ou imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se usa vídeo ou imagem": {
      "main": [
        [
          {
            "node": "Insere vídeo na planilha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insere carrossel na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "a85aefe8-29f6-4341-9383-101d012a727e",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-21T13:25:53.016Z",
      "createdAt": "2026-05-21T13:25:53.016Z",
      "role": "workflow:owner",
      "workflowId": "dzmvfXfpQiF1ezI7",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}