backup/mia---4.4---social-media-ia---post-no-instagram-OlI9LQ4PnmDf22Ht.json
{
  "updatedAt": "2026-01-10T20:51:24.318Z",
  "createdAt": "2025-12-09T11:03:26.268Z",
  "id": "OlI9LQ4PnmDf22Ht",
  "name": "MIA - 4.4 - Social Media IA - Post no Instagram",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "content": "Here we have all parameters for posting in instagram image url, caption and instagram business profile id",
        "height": 310,
        "width": 188,
        "color": 3
      },
      "id": "0444292c-347e-47a4-8a97-ff3c31b9e00e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node",
        "height": 102.11100456713636,
        "color": 3
      },
      "id": "1b6f9608-de0d-4105-878b-f70c7c0220e7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        144
      ],
      "id": "4687356a-5c3c-4ade-ad6c-4af7b173aa0f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post Mia deu certo!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1792,
        112
      ],
      "id": "c1eeaa7f-5a56-4dd4-b7e6-3721a96ced90",
      "name": "Envia log sucesso",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM",
          "mode": "list",
          "cachedResultName": "Controle Posts - Mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1197910267,
          "mode": "list",
          "cachedResultName": "social_media_mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=1197910267"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status_instagram",
              "lookupValue": "Aprovado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2096,
        144
      ],
      "id": "36f5280a-5c5c-4a47-8c22-eaff34540d24",
      "name": "Captura as notícias aprovadas",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todas as linhas\nconst rows = items.map(i => i.json);\n\n// Função para checar se está aprovado\nconst isApproved = (v) => String(v || '').trim().toLowerCase() === 'aprovado';\n\n// Procura o primeiro item aprovado\nconst first = rows.find(r => \n  isApproved(r.status_instagram) && r.id_post && r.blog\n);\n\nif (!first) return []; // Nenhum aprovado encontrado\n\n// Prepara a saída\nconst out = { \n  ...first,\n  status_retorno: first.Status // retorna o status\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        144
      ],
      "id": "6fac1abe-658e-47de-b5e8-96f649eb534a",
      "name": "Escolha da notícia aprovada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54fa4546-8262-4651-9b0e-ce3a2f66416f",
              "leftValue": "={{ $json.status_instagram }}",
              "rightValue": "Aprovado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1728,
        144
      ],
      "id": "5ac9bb38-5d7b-4f97-857c-63dd278a19d7",
      "name": "Confirma status aprovado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68b89233-2740-4afd-a95c-72ed537d12e5",
              "name": "id_post",
              "value": "={{ $json.id_post }}",
              "type": "string"
            },
            {
              "id": "225df266-bf29-4415-b04c-2750cef4506a",
              "name": "imagem1_url",
              "type": "string",
              "value": "={{ $json.imagem1_url }}"
            },
            {
              "id": "42e44a66-490d-453f-8746-87e201e58f6c",
              "name": "imagem2_url",
              "value": "={{ $json.imagem2_url }}",
              "type": "string"
            },
            {
              "id": "f64af4b7-c2de-4003-9076-51df6440cf84",
              "name": "imagem3_url",
              "value": "={{ $json.imagem3_url }}",
              "type": "string"
            },
            {
              "id": "4d7a3761-fe9b-4fc3-94ea-232f3c7b3076",
              "name": "imagem4_url",
              "value": "={{ $json.imagem4_url }}",
              "type": "string"
            },
            {
              "id": "cbce1c25-d0d5-406d-9c83-b66953b85438",
              "name": "imagem5_url",
              "value": "={{ $json.imagem5_url }}",
              "type": "string"
            },
            {
              "id": "f20de19b-3d19-48ea-9446-81c29aa69871",
              "name": "imagem6_url",
              "value": "={{ $json.imagem6_url }}",
              "type": "string"
            },
            {
              "id": "3c87a05d-55a0-4344-9570-4e465d0ce6e7",
              "name": "imagem7_url",
              "value": "=https://raw.githubusercontent.com/getmia-ia/Mia/main/MIA_Final_Post_Fixo.jpg",
              "type": "string"
            },
            {
              "id": "1e380c14-e908-4eeb-90e0-957a422829d0",
              "name": "instagram_business_account_id",
              "type": "string",
              "value": "17841475443525557"
            },
            {
              "id": "f35e3093-1bff-4cc6-a6c4-909dca314cc7",
              "name": "instagram_post_caption",
              "type": "string",
              "value": "={{ $json.legenda_Instagram }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a8bada1-2c6b-4a4f-b0af-ead26a599d1b",
      "name": "Preparar parâmetros do post para o Instagram",
      "type": "n8n-nodes-base.set",
      "position": [
        -1488,
        128
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 7,
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -928,
        144
      ],
      "id": "fc93b12a-e04f-40d1-bb72-d7bb1bc62448",
      "name": "Junta todos os posts"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "=CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{JSON.stringify([\n  $('Prepara o post para o Instagram1').first().json.id,\n  $('Prepara o post para o Instagram2').first().json.id,\n  $('Prepara o post para o Instagram3').first().json.id,\n  $('Prepara o post para o Instagram4').first().json.id,\n  $('Prepara o post para o Instagram5').first().json.id,\n  $('Prepara o post para o Instagram6').first().json.id,\n  $('Prepara o post para o Instagram7').first().json.id\n])}}\n"
              },
              {
                "name": "caption",
                "value": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_post_caption }}"
              }
            ]
          }
        }
      },
      "id": "40ed5c03-255d-4084-b156-a26b8c6ed17b",
      "name": "Cria o carrossel para o Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -704,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "8ec4c4bb-0f4e-437a-af8e-eaab47410401",
      "name": "Verifica status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -224,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "FINISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53932f8e-2f9a-40d2-a8bf-2abf93656808"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINISHED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7089f8c6-8c1c-482e-b30d-47e92e2753bf",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        272
      ],
      "id": "de85b22c-66f1-4bb2-a2e7-2d248c4bdfeb",
      "name": "Verificação de status do upload no Instagram"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post Mia falhou!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        272,
        416
      ],
      "id": "b5e76d82-8729-458f-bc2e-49afd60a82b4",
      "name": "Envia log de falha no WhatsApp",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $('Preparar parâmetros do post para o Instagram').item.json.instagram_business_account_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "2164cf27-6420-400c-9078-3d1e142cfd8a",
      "name": "Publicar post no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        480,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $('Verifica status do upload no Instagram').item.json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "655617df-f888-4553-9816-a3189826bb17",
      "name": "Verificar status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        704,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c98e3a-ba6b-4df7-a0c9-96994c91a690",
              "name": "id_post",
              "value": "={{ $('Preparar parâmetros do post para o Instagram').item.json.id_post }}",
              "type": "string"
            },
            {
              "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
              "name": "status",
              "value": "postado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        112
      ],
      "id": "a52c4f6b-f45e-48c8-8e65-a39ac66905f7",
      "name": "Foi postado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM",
          "mode": "list",
          "cachedResultName": "Controle Posts - Mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1197910267,
          "mode": "list",
          "cachedResultName": "social_media_mia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=1197910267"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $json.id_post }}",
            "status_instagram": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog",
              "displayName": "blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_Instagram",
              "displayName": "legenda_Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_linkedin",
              "displayName": "post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "post_x",
              "displayName": "post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota",
              "displayName": "nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem7_url",
              "displayName": "imagem7_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1568,
        112
      ],
      "id": "205b8f58-1893-4b88-8cd8-50c59bbaa73b",
      "name": "Atualiza status e dados da notícia no Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac6e4fc-79b5-4afe-995e-667324f0a8cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        304
      ],
      "id": "86e5e8c0-2c5f-45fd-bdd9-33ee6b035389",
      "name": "Verifica criação do post",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem1_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "9151fb79-da24-49df-85dc-f48229acce06",
      "name": "Prepara o post para o Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        -272
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem2_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "c59e22d2-844b-44cc-8ff5-29371173fbea",
      "name": "Prepara o post para o Instagram2",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        -112
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem3_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "dccc4d30-8439-40b8-b6e6-4c2fd1c4264c",
      "name": "Prepara o post para o Instagram3",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem4_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "5bb17521-cc84-4b68-884b-b0043cbae1eb",
      "name": "Prepara o post para o Instagram4",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        208
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem5_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "bcc8af1c-d916-4a35-8a6b-662d15ae8df2",
      "name": "Prepara o post para o Instagram5",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        368
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem6_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "444ed432-9f0e-41c1-890a-6c58731fea32",
      "name": "Prepara o post para o Instagram6",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        512
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.instagram_business_account_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imagem7_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "401cdd1c-ddd0-434a-8bbe-db0f53cd1ab6",
      "name": "Prepara o post para o Instagram7",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1184,
        672
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece",
        "height": 1792,
        "width": 4128,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        -560
      ],
      "typeVersion": 1,
      "id": "d38e7379-75d5-4e1c-8afa-465d9a153a12",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.",
        "height": 792,
        "width": 439.10253951549294,
        "color": 7
      },
      "id": "1e1afd87-0c29-4266-9a27-26dcf8df969c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "=me",
        "options": {
          "fields": {
            "field": [
              {
                "name": "name"
              },
              {
                "name": "connected_instagram_account"
              }
            ]
          }
        }
      },
      "id": "eac037ef-6b92-4248-8ca3-5ba0f3384520",
      "name": "Node just for retrive id of instagram page1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        -1920,
        -176
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually",
        "height": 289,
        "width": 318
      },
      "id": "0658dcfe-fdde-4838-89ef-83176ccb02b3",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        -288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        128
      ],
      "id": "79a85693-e95d-45bd-9bec-f5591a616aa7",
      "name": "Wait",
      "webhookId": "99551ad5-d2bc-4dfe-9980-3669fda1988d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "PUBLISHED"
            }
          ]
        },
        "options": {}
      },
      "id": "1b23a962-633a-4486-adbf-c4269c4cfcdd",
      "name": "If media status is finished3",
      "type": "n8n-nodes-base.if",
      "position": [
        1120,
        128
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        256,
        128
      ],
      "id": "e8f6f76d-b338-4052-a0f3-d17eff195d1e",
      "name": "Wait1",
      "webhookId": "9aea1372-27eb-4485-9753-365e7542907a"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Captura as notícias aprovadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura as notícias aprovadas": {
      "main": [
        [
          {
            "node": "Escolha da notícia aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escolha da notícia aprovada": {
      "main": [
        [
          {
            "node": "Confirma status aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirma status aprovado": {
      "main": [
        [
          {
            "node": "Preparar parâmetros do post para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar parâmetros do post para o Instagram": {
      "main": [
        [
          {
            "node": "Prepara o post para o Instagram4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Junta todos os posts": {
      "main": [
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o carrossel para o Instagram": {
      "main": [
        [
          {
            "node": "Verifica criação do post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Verificação de status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia log de falha no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar post no Instagram": {
      "main": [
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi postado": {
      "main": [
        [
          {
            "node": "Atualiza status e dados da notícia no Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status e dados da notícia no Sheets": {
      "main": [
        [
          {
            "node": "Envia log sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica criação do post": {
      "main": [
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram1": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram2": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepara o post para o Instagram3": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepara o post para o Instagram4": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepara o post para o Instagram5": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Prepara o post para o Instagram6": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Prepara o post para o Instagram7": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If media status is finished3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If media status is finished3": {
      "main": [
        [
          {
            "node": "Foi postado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Publicar post no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "versionId": "b60280ce-e4ec-48cc-a3a5-c75b006540f7",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-09T11:03:26.268Z",
      "createdAt": "2025-12-09T11:03:26.268Z",
      "role": "workflow:owner",
      "workflowId": "OlI9LQ4PnmDf22Ht",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}