backup/mia---3.04---atlas---calendar-GrHXx9Tz9dCekhhW.json
{
  "updatedAt": "2026-04-06T07:50:25.467Z",
  "createdAt": "2025-12-06T06:02:00.156Z",
  "id": "GrHXx9Tz9dCekhhW",
  "name": "MIA - 3.04 - Atlas - Calendar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Preparacao de valores",
        "height": 768,
        "width": 816,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        384
      ],
      "typeVersion": 1,
      "id": "5ff74ae7-4526-42bf-8df5-e021c6743a4a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"timezone\": \"America/Sao_Paulo\",\n  \"timeBetweenMeetingsMinutes\": 30,\n  \"schedule\": [\n    {\n      \"day\": \"SEG\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"TER\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUA\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"QUI\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"SEX\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"SAB\",\n      \"available\": true,\n      \"hours\": [\n        { \"after\": \"10:00\", \"before\": \"12:00\" },\n        { \"after\": \"14:00\", \"before\": \"19:00\" }\n      ]\n    },\n    {\n      \"day\": \"DOM\",\n      \"available\": false,\n      \"hours\": []\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        944
      ],
      "id": "038aedb7-4fd1-4a7f-b48b-6f3cca3215e0",
      "name": "Definir Agenda"
    },
    {
      "parameters": {
        "content": "## Mudar Evento",
        "height": 384,
        "width": 1872,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        544
      ],
      "typeVersion": 1,
      "id": "d720d0ef-2e32-4f6a-acc2-024bc8bc4e02",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lucas@getmia.com.br",
          "mode": "list",
          "cachedResultName": "lucas@getmia.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        128,
        688
      ],
      "id": "1bb71685-8a24-4a76-8401-457bd9ae766b",
      "name": "Listar Eventos4",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Email vindo do node \"trigger\" (flat) ou do próprio item atual como fallback\nconst emailTrigger = String(\n  $node[\"trigger\"]?.json?.email ?? $json?.email ?? \"\"\n).trim().toLowerCase();\n\nif (!emailTrigger) {\n  return [{ json: { error: \"email ausente no trigger\" } }];\n}\n\n// --- Todos os items que chegam neste Code (devem ser os eventos)\nconst items = await $input.all();\n\n// --- Mantém só eventos onde attendees contém o e-mail do trigger\nconst filtrados = items.filter(it => {\n  const attendees = it.json?.attendees;\n  return Array.isArray(attendees) &&\n    attendees.some(a => String(a.email || \"\").trim().toLowerCase() === emailTrigger);\n});\n\n// --- Saída\nreturn filtrados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        688
      ],
      "id": "fd752447-4d99-4470-8076-07aa80aa0735",
      "name": "Filtrar Eventos"
    },
    {
      "parameters": {
        "jsCode": "// Entram aqui os eventos já filtrados (cada item = 1 evento)\nconst items = await $input.all();\n\nif (!items.length) {\n  return [{ json: { mensagem: \"Não encontrei eventos para esse e-mail.\", eventos: [] } }];\n}\n\nconst TZ = \"America/Sao_Paulo\";\n\n// helpers\nconst toDate = (d) => d ? new Date(d) : null;\nconst sameYmd = (a, b) => a.toLocaleString(\"sv-SE\", { timeZone: TZ }).slice(0,10) === b.toLocaleString(\"sv-SE\", { timeZone: TZ }).slice(0,10);\n\n// hoje (SP)\nconst agora = new Date();\nconst hojeSP = new Date(new Date().toLocaleString(\"en-US\", { timeZone: TZ }));\n\n// normaliza -> filtra inválidos -> filtra futuros e não-hoje -> ordena\nconst normalizados = items\n  .map((it) => it.json)\n  .map((ev) => {\n    const start = toDate(ev.start?.dateTime || ev.start);\n    const end   = toDate(ev.end?.dateTime   || ev.end);\n    return { ev, start, end, tz: ev.start?.timeZone || TZ };\n  })\n  .filter(x => x.ev?.id && x.start instanceof Date && !isNaN(x.start))\n  .filter(x => x.start > agora && !sameYmd(x.start, hojeSP))\n  .sort((a, b) => a.start - b.start);\n\nif (!normalizados.length) {\n  return [{ json: { mensagem: \"Não há eventos futuros (exceto hoje).\", eventos: [] } }];\n}\n\nfunction fmtLinha(x, i) {\n  const ev = x.ev;\n  const tz = x.tz;\n  const s = x.start;\n  const e = x.end instanceof Date && !isNaN(x.end) ? x.end : null;\n\n  const dia   = s.toLocaleDateString(\"pt-BR\", { timeZone: tz });\n  const hIni  = s.toLocaleTimeString(\"pt-BR\", { timeZone: tz, hour: \"2-digit\", minute: \"2-digit\" });\n  const hFim  = e ? e.toLocaleTimeString(\"pt-BR\", { timeZone: tz, hour: \"2-digit\", minute: \"2-digit\" }) : null;\n\n  return {\n    numero: i + 1,\n    id: ev.id,\n    assunto: ev.summary || \"Sem título\",\n    dia,\n    horaInicio: hIni,\n    horaFim: hFim,\n    timezone: tz,\n    link: ev.htmlLink || ev.hangoutLink || null,\n  };\n}\n\nconst essenciais = normalizados.map(fmtLinha);\n\n// monta mensagem (limita a 10 linhas para não estourar UI)\nconst linhasMsg = essenciais.slice(0, 10).map(e =>\n  `${e.numero} - ${e.assunto}, ${e.dia}, ${e.horaInicio}${e.horaFim ? \"-\" + e.horaFim : \"\"}, id ${e.id}`\n);\n\nconst mensagem =\n  `Temos os seguintes eventos nesse e-mail:\\n\\n` +\n  linhasMsg.join(\"\\n\") +\n  `\\n\\nMe informe o número do evento que você deseja alterar ou cancelar.`;\n\nreturn [{\n  json: {\n    mensagem,\n    eventos: essenciais,\n    numeroParaId: Object.fromEntries(essenciais.map(e => [String(e.numero), e.id]))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        688
      ],
      "id": "33335593-d14f-4d37-a7cc-f1253b6fd5ee",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        128,
        1120
      ],
      "id": "3404b341-4713-4289-b718-caeb5535e510",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Reagendar Consulta",
        "height": 352,
        "width": 1872,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        976
      ],
      "typeVersion": 1,
      "id": "c5730794-1424-4917-ad2b-c468e992840c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Cancelar Consulta",
        "height": 352,
        "width": 1872,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        1360
      ],
      "typeVersion": 1,
      "id": "1095e720-5496-491b-a7a7-8100f099c1db",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "383df707-d58b-4770-a5d8-aa14b37d6d3d",
              "name": "response",
              "value": "Como você sabe, sou a Emi, uma agente de IA 😊. Ainda não me treinaram para reagendar ou cancelar reuniões por aqui. Pode fazer direto no Google Calendar ou falar com o especialista por e-mail — você consegue sugerir as mudanças por lá. Tenho certeza de que logo, logo chega o meu treinamento pra eu fazer isso por você por aqui!  Quer que eu te ajude com mais alguma coisa agora?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        688
      ],
      "id": "5b5a1cdb-81a5-4bee-8ba8-63e0ff599c3d",
      "name": "response2"
    },
    {
      "parameters": {
        "content": "## Buscar Horarios",
        "height": 352,
        "width": 1856,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -336
      ],
      "typeVersion": 1,
      "id": "7f004d7b-f4b7-4b24-acc2-598c36393bbe",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Marcar Consulta",
        "height": 464,
        "width": 1856,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        48
      ],
      "typeVersion": 1,
      "id": "26dde83c-49f5-491a-b7bf-cddb58d8152a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"type\": \"listarHorarios\",\n\"tema\": \"funding imobiliario\",\n\"dia\": \"2025-09-10\",\n\"horario\": \"2025-09-10\",\n\"email\": \"usuario@email.com\",\n\"telefone\": \"5511999999999\",\n\"nome\": \"João da Silva\",\n\"empresa\": \"Empresa X\",\n\"descricao\": \"Falou que está buscando funding para um projeto de 40 unidades e quer entender como a imersão pode acelerar sua captação\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        944
      ],
      "id": "5943aa02-43ef-47b2-936a-dd089a314bbc",
      "name": "trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lucas@getmia.com.br",
          "mode": "id"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        144,
        -176
      ],
      "id": "0ab9bb12-a244-4c78-a9e4-880b7f1e294e",
      "name": "Disponibilidade do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// === Pega a agenda (objeto único) ===\nconst agenda = $node[\"Definir Agenda\"].json;\n\n// === Pega todos os eventos (array de items) ===\nconst eventosRaw = $items(\"Disponibilidade do Google Calendar\").map(item => item.json);\n\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\n\n// ---- Função correta para normalizar datas no fuso horário certo ----\nfunction toTZ(dateString, tz) {\n  return new Date(\n    new Date(dateString).toLocaleString(\"en-US\", { timeZone: tz })\n  );\n}\n\n// Normaliza eventos garantindo timezone coerente\n// ✅ Garante que só eventos com dateTime serão mapeados\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .map(ev => ({\n    start: toTZ(ev.start.dateTime, tz),\n    end: toTZ(ev.end.dateTime, tz),\n  }));\n\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\n// TZ e string do dia corrente (YYYY-MM-DD) no fuso da agenda\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n// Função auxiliar: próxima data para um dia da semana (pode retornar hoje)\nfunction getProximaData(dia) {\n  const hoje = new Date();\n  let data = new Date(hoje);\n  while (data.getDay() !== diasSemana[dia]) {\n    data.setDate(data.getDate() + 1);\n  }\n  return data;\n}\n\n// === Geração dos slots disponíveis ===\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataAlvo = getProximaData(dia.day);\n\n  // Garante que hours seja sempre array\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    const [hIni, mIni] = faixa.after.split(\":\").map(Number);\n    const [hFim, mFim] = faixa.before.split(\":\").map(Number);\n\n    const inicioDia = toTZ(dataAlvo, tz);\n    inicioDia.setHours(hIni, mIni, 0, 0);\n\n    const fimDia = toTZ(dataAlvo, tz);\n    fimDia.setHours(hFim, mFim, 0, 0);\n\n    let current = new Date(inicioDia);\n\n    while (current < fimDia) {\n      const next = new Date(current.getTime() + intervaloMin * 60000);\n      if (next > fimDia) break;\n\n// --- Libera slots de hoje apenas se faltarem >= 30 minutos ---\nconst currentDiaStr = current.toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\nif (currentDiaStr === hojeStr) {\n  const agora = new Date();\n  const agoraTZ = new Date(agora.toLocaleString(\"en-US\", { timeZone: tz }));\n  const limite = new Date(agoraTZ.getTime() + 30 * 60000); // agora + 30 min\n\n  if (current < limite) {\n    current = next;\n    continue;\n  }\n}\n\n\n      // Checa conflito com eventos\n      const ocupado = eventos.some(ev => current < ev.end && next > ev.start);\n\n      if (!ocupado) {\n        slotsLivres.push({\n          day: dia.day,\nstart: current.toISOString(),\nend:   next.toISOString(),\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\nreturn slotsLivres;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -176
      ],
      "id": "ba593ea7-1ab4-4e9f-8358-200ce15b6d0a",
      "name": "Gerar Horários Livres"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "listarHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d821077-bb35-4636-ac10-7ad6c459876b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listarHorarios"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c971151-b71a-4f4e-9e2a-222c8047ce1a",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "agendarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c547c9e1-f130-4390-9088-65fd9282edfc",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "encontrarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encontrarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de18d8e3-b6df-4754-940b-2b534d4e4ce1",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "mudarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mudarReuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4260bfd0-cf2f-4f30-a395-69e4e4bc95be",
                    "leftValue": "={{ $('trigger').item.json.type }}",
                    "rightValue": "cancelarReuniao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelarReuniao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        896
      ],
      "id": "a81a6e48-250d-4006-b1ef-928c38cff38a",
      "name": "Decisão de Ação"
    },
    {
      "parameters": {
        "jsCode": "// === Pega a agenda (objeto único) ===\nconst agenda = $node[\"Definir Agenda\"].json;\n\n// === Pega todos os eventos (array de items) ===\nconst eventosRaw = $items(\"Obter Eventos do Google Calendar\").map(item => item.json);\n\nconst tz = agenda.timezone || \"America/Sao_Paulo\";\n\n// ---- Função para normalizar datas no fuso correto ----\nfunction toTZ(dateString, tz) {\n  return new Date(\n    new Date(dateString).toLocaleString(\"en-US\", { timeZone: tz })\n  );\n}\n\n// Normaliza eventos garantindo timezone coerente\n// ✅ Garante que só eventos com dateTime serão mapeados\nconst eventos = (eventosRaw || [])\n  .filter(ev => ev?.start?.dateTime && ev?.end?.dateTime)\n  .map(ev => ({\n    start: toTZ(ev.start.dateTime, tz),\n    end: toTZ(ev.end.dateTime, tz),\n  }));\n\nconst intervaloMin = agenda.timeBetweenMeetingsMinutes;\nconst diasSemana = { DOM: 0, SEG: 1, TER: 2, QUA: 3, QUI: 4, SEX: 5, SAB: 6 };\n\n// TZ e string do dia corrente (YYYY-MM-DD) no fuso da agenda\n\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\n// Função auxiliar: próxima data para um dia da semana (pode retornar hoje)\nfunction getProximaData(dia) {\n  const hoje = new Date();\n  let data = new Date(hoje);\n  while (data.getDay() !== diasSemana[dia]) {\n    data.setDate(data.getDate() + 1);\n  }\n  return data;\n}\n\n// === Geração dos slots disponíveis ===\nlet slotsLivres = [];\n\nfor (const dia of agenda.schedule) {\n  if (!dia.available) continue;\n\n  const dataAlvo = getProximaData(dia.day);\n\n  // Garante que hours seja sempre array\n  const faixas = Array.isArray(dia.hours) ? dia.hours : [dia.hours];\n\n  for (const faixa of faixas) {\n    const [hIni, mIni] = faixa.after.split(\":\").map(Number);\n    const [hFim, mFim] = faixa.before.split(\":\").map(Number);\n\n    const inicioDia = toTZ(dataAlvo, tz);\n    inicioDia.setHours(hIni, mIni, 0, 0);\n\n    const fimDia = toTZ(dataAlvo, tz);\n    fimDia.setHours(hFim, mFim, 0, 0);\n\n    let current = new Date(inicioDia);\n\n    while (current < fimDia) {\n      const next = new Date(current.getTime() + intervaloMin * 60000);\n      if (next > fimDia) break;\n\n// --- Libera slots de hoje apenas se faltarem >= 30 minutos ---\nconst currentDiaStr = current.toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0,10);\n\nif (currentDiaStr === hojeStr) {\n  const agora = new Date();\n  const agoraTZ = new Date(agora.toLocaleString(\"en-US\", { timeZone: tz }));\n  const limite = new Date(agoraTZ.getTime() + 30 * 60000); // agora + 30 min\n\n  if (current < limite) {\n    current = next;\n    continue;\n  }\n}\n\n\n      // Checa conflito com eventos\n      const ocupado = eventos.some(ev => current < ev.end && next > ev.start);\n\n      if (!ocupado) {\n        slotsLivres.push({\n          day: dia.day,\nstart: current.toISOString(),\nend:   next.toISOString(),\n        });\n      }\n\n      current = next;\n    }\n  }\n}\n\nreturn slotsLivres;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        240
      ],
      "id": "28126e8a-0397-43a4-ab92-521a1b31ab0b",
      "name": "Gerar Slots Livres"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "lucas@getmia.com.br",
          "mode": "list",
          "cachedResultName": "lucas@getmia.com.br"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ week: 2 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        128,
        240
      ],
      "id": "4b10dd92-bc02-4f2a-ae30-752c60b09f58",
      "name": "Obter Eventos do Google Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "jsCode": "// === Pega o 1º item do trigger (se o Code estiver em \"Run Once for All Items\")\nconst input = $items(\"trigger\")[0].json;\n// Se seu Code estiver em \"Run Once for Each Item\", use:\n// const input = $json;\n\nconst { dia, horario, nome, empresa, email, telefone, descricao } = input;\n\n// === TZ e \"hoje\" no fuso de SP ===\nconst tz = \"America/Sao_Paulo\";\nconst hojeStr = new Date().toLocaleString(\"sv-SE\", { timeZone: tz }).slice(0, 10); // YYYY-MM-DD\n\n// === Pega a lista de slots disponíveis e remove os de hoje ===\nconst slots = $items(\"Gerar Slots Livres\")\n  .map(item => item.json)\n  .filter(slot => {\n    const slotInicio = new Date(slot.start.replace(\"T\", \" \").replace(\":00.000Z\", \"\"));\n    const slotDia = String(slot.start).slice(0, 10);\n\n    const agora = new Date();\n    const agoraTZ = new Date(agora.toLocaleString(\"en-US\", { timeZone: tz }));\n    const limite = new Date(agoraTZ.getTime() + 30 * 60000); // agora + 30min\n\n    if (slotDia === hojeStr) {\n      return slotInicio >= limite;\n    }\n\n    return slotDia > hojeStr;\n  });\n\n// Normaliza slot solicitado\nconst solicitadoKey = `${dia}T${horario}`;\n\n// Procura o slot solicitado\nconst encontrado = slots.find(slot => {\n  const sKey = String(slot.start).substring(0, 16);\n  return sKey === solicitadoKey;\n});\n\n// Garante formato \"YYYY-MM-DDTHH:MM:SS\"\nfunction toYYYYMMDDTHHMMSS(s) {\n  return String(s).substring(0, 19);\n}\n\n// ======================================================\n// == DEBUG PARA APARECER NO OUTPUT =====================\n// ======================================================\n\nconst debug = {\n  agora: new Date().toISOString(),\n  hojeStr,\n  solicitadoKey,\n  slotsDepoisDoFiltro: slots.map(s => s.start),\n  totalSlotsDepoisDoFiltro: slots.length,\n  motivo: encontrado ? \"slot encontrado\" : \"slot NAO encontrado\"\n};\n\n// ======================================================\n// == SE ENCONTROU O SLOT ===============================\n// ======================================================\n\nif (encontrado) {\n  return [{\n    json: {\n      status: \"ok\",\n      message: `Horário disponível: ${dia} ${horario}. Pode agendar.`,\n      debug,  // <----- aparece no output\n      dados: {\n        nome,\n        empresa,\n        email,\n        telefone,\n        descricao,\n        inicio: { dateTime: toYYYYMMDDTHHMMSS(encontrado.start), timeZone: tz },\n        fim:    { dateTime: toYYYYMMDDTHHMMSS(encontrado.end),   timeZone: tz }\n      }\n    }\n  }];\n}\n\n// ======================================================\n// == SE NAO ENCONTROU, GERAR ALTERNATIVAS ==============\n// ======================================================\n\n// Agrupa slots por dia\nconst slotsPorDia = {};\nfor (const slot of slots) {\n  const d = String(slot.start).split(\"T\")[0];\n  (slotsPorDia[d] ||= []).push(slot);\n}\n\n// Ordena dentro de cada dia\nfor (const d in slotsPorDia) {\n  slotsPorDia[d].sort((a, b) => new Date(a.start) - new Date(b.start));\n}\n\n// Dias adjacentes\nconst solicitadoDia = dia;\nconst diaAnterior = new Date(`${dia}T00:00:00`);\ndiaAnterior.setDate(diaAnterior.getDate() - 1);\nconst diaSeguinte = new Date(`${dia}T00:00:00`);\ndiaSeguinte.setDate(diaSeguinte.getDate() + 1);\n\nconst prev = diaAnterior.toISOString().split(\"T\")[0];\nconst next = diaSeguinte.toISOString().split(\"T\")[0];\n\n// Pega alternativas básicas\nlet alternativas = [\n  ...(slotsPorDia[prev]?.slice(0, 2) || []),\n  ...(slotsPorDia[solicitadoDia]?.slice(0, 2) || []),\n  ...(slotsPorDia[next]?.slice(0, 2) || []),\n];\n\n// Expande até 7 dias\nlet offset = 2;\nwhile (alternativas.length < 2 && offset <= 7) {\n  const before = new Date(`${dia}T00:00:00`); before.setDate(before.getDate() - offset);\n  const after  = new Date(`${dia}T00:00:00`); after.setDate(after.getDate() + offset);\n\n  alternativas = [\n    ...alternativas,\n    ...(slotsPorDia[before.toISOString().split(\"T\")[0]]?.slice(0, 2) || []),\n    ...(slotsPorDia[after.toISOString().split(\"T\")[0]]?.slice(0, 2) || []),\n  ];\n  offset++;\n}\n\nalternativas = alternativas.slice(0, 6).map(slot => ({\n  inicio: { dateTime: toYYYYMMDDTHHMMSS(slot.start), timeZone: tz },\n  fim:    { dateTime: toYYYYMMDDTHHMMSS(slot.end),   timeZone: tz }\n}));\n\nreturn [{\n  json: {\n    status: \"indisponivel\",\n    message: `O horário ${dia} ${horario} não está disponível.`,\n    debug,     // <----- debug aparece no output\n    alternativas\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        240
      ],
      "id": "45976609-829b-4ff5-b0e4-5abce4ed850f",
      "name": "Verificar Disponibilidade e Gerar Alternativas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "597f2e89-0383-4155-ab3b-1a26a5037fc0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "indisponivel",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        240
      ],
      "id": "3bace948-46db-4604-8a4c-a0f5c50f5fad",
      "name": "Condição de Disponibilidade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad1726fe-95a3-42ab-8b6c-836f7b37668e",
              "name": "status",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "50e62759-8242-4df9-b4f7-b3891e645ff8",
              "name": "alternativas",
              "value": "={{ $json.alternativas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        128
      ],
      "id": "ac1f6391-faa2-4443-babf-04ce3087e456",
      "name": "Resposta: Horário Indisponível"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "lucas@getmia.com.br",
          "mode": "list",
          "cachedResultName": "lucas@getmia.com.br"
        },
        "start": "={{ $json.dados.inicio.dateTime }}",
        "end": "={{ $json.dados.fim.dateTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.dados.email }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Whatsapp  {{ $json.dados.nome }}: {{ $json.dados.telefone }}\n--- {{ $json.dados.descricao }} ---",
          "guestsCanInviteOthers": true,
          "guestsCanModify": true,
          "summary": "=Reunião com {{ $json.dados.nome }} - {{ $json.dados.empresa }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1104,
        320
      ],
      "id": "f4d7f6fd-3aa2-485b-ac1f-020c70268714",
      "name": "Agendar Reunião no Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "5511992486507",
        "messageText": "=Reunião agendada com  {{ $('trigger').first().json.nome }} da {{ $('trigger').first().json.empresa }} para {{ new Date($json.property_data_de_reuni_o.start).toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1408,
        320
      ],
      "id": "de878059-fea2-4413-9965-bba54dcfb069",
      "name": "Log no whats",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Definir Agenda": {
      "main": [
        [
          {
            "node": "Decisão de Ação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Eventos4": {
      "main": [
        [
          {
            "node": "Filtrar Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Eventos": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger": {
      "main": [
        [
          {
            "node": "Definir Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade do Google Calendar": {
      "main": [
        [
          {
            "node": "Gerar Horários Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão de Ação": {
      "main": [
        [
          {
            "node": "Disponibilidade do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter Eventos do Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gerar Slots Livres": {
      "main": [
        [
          {
            "node": "Verificar Disponibilidade e Gerar Alternativas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Eventos do Google Calendar": {
      "main": [
        [
          {
            "node": "Gerar Slots Livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Disponibilidade e Gerar Alternativas": {
      "main": [
        [
          {
            "node": "Condição de Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condição de Disponibilidade": {
      "main": [
        [
          {
            "node": "Resposta: Horário Indisponível",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agendar Reunião no Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Reunião no Google Calendar": {
      "main": [
        [
          {
            "node": "Log no whats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log no whats": {
      "main": [
        [],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "bd9026bb-5b99-486b-b51a-fee441e2ff7f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-06T06:02:00.156Z",
      "createdAt": "2025-12-06T06:02:00.156Z",
      "role": "workflow:owner",
      "workflowId": "GrHXx9Tz9dCekhhW",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}