backup/monteiro-ramalho---3.6---assiste-assinatura-de-contratos-8eaHwsIERJChCDZo.json
{
  "updatedAt": "2026-07-20T11:49:00.731Z",
  "createdAt": "2026-07-06T13:09:58.987Z",
  "id": "8eaHwsIERJChCDZo",
  "name": "Monteiro Ramalho - 3.6 - Assiste assinatura de Contratos",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f7c27fe2-ea07-4d68-99f5-461e7a9083ff",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        128
      ],
      "id": "5de972e4-1a60-4d9d-bf82-c0d7f11abd86",
      "name": "Webhook1",
      "webhookId": "f7c27fe2-ea07-4d68-99f5-461e7a9083ff"
    },
    {
      "parameters": {
        "url": "=https://api.assinafy.com.br/v1/documents/{{ $json.body.object.id }}/download/certificated",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "a86qtfJJQ58hURxiJvufMEiUFGZhSk_rS51wgW-KV7c0gKnWZ891xHfh92BYwjfm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        128
      ],
      "id": "b511eca2-b67f-426d-9172-17ca372651d2",
      "name": "Baixa o doc assinado",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "## Doc Assinado",
        "height": 304,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        16
      ],
      "id": "fd804628-e322-410d-b012-69d673b3777a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://monteiroramalho.getmia.com.br/api/public/n8n-contrato-assinado",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-callback-secret",
              "value": "Mia@2025"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_contrato_assinafy",
              "value": "={{ $json.body.object.id }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        128
      ],
      "id": "c90f3d37-876e-4944-8a5b-4e02e3d94c93",
      "name": "Envia o contrato assinado para o sistema"
    },
    {
      "parameters": {
        "content": "Precisa resolver o problema de q tem q ter a assinatura do monteiro tbm, mas o doc final só é gerado quando todos assinam",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -416,
        400
      ],
      "id": "dac318ea-6d04-40f6-b264-ca9bd2969403",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Baixa o doc assinado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa o doc assinado": {
      "main": [
        [
          {
            "node": "Envia o contrato assinado para o sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia o contrato assinado para o sistema": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "e6eae981-0d28-4801-9694-4e20fa8538a4",
  "activeVersionId": "e6eae981-0d28-4801-9694-4e20fa8538a4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-06T13:09:58.987Z",
      "createdAt": "2026-07-06T13:09:58.987Z",
      "role": "workflow:owner",
      "workflowId": "8eaHwsIERJChCDZo",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-20T11:49:00.733Z",
    "createdAt": "2026-07-20T11:49:00.733Z",
    "versionId": "e6eae981-0d28-4801-9694-4e20fa8538a4",
    "workflowId": "8eaHwsIERJChCDZo",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "f7c27fe2-ea07-4d68-99f5-461e7a9083ff",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -368,
          128
        ],
        "id": "5de972e4-1a60-4d9d-bf82-c0d7f11abd86",
        "name": "Webhook1",
        "webhookId": "f7c27fe2-ea07-4d68-99f5-461e7a9083ff"
      },
      {
        "parameters": {
          "url": "=https://api.assinafy.com.br/v1/documents/{{ $json.body.object.id }}/download/certificated",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Api-Key",
                "value": "a86qtfJJQ58hURxiJvufMEiUFGZhSk_rS51wgW-KV7c0gKnWZ891xHfh92BYwjfm"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -160,
          128
        ],
        "id": "b511eca2-b67f-426d-9172-17ca372651d2",
        "name": "Baixa o doc assinado",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "content": "## Doc Assinado",
          "height": 304,
          "width": 688,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -416,
          16
        ],
        "id": "fd804628-e322-410d-b012-69d673b3777a",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://monteiroramalho.getmia.com.br/api/public/n8n-contrato-assinado",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "x-callback-secret",
                "value": "Mia@2025"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_contrato_assinafy",
                "value": "={{ $json.body.object.id }}"
              },
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          64,
          128
        ],
        "id": "c90f3d37-876e-4944-8a5b-4e02e3d94c93",
        "name": "Envia o contrato assinado para o sistema"
      },
      {
        "parameters": {
          "content": "Precisa resolver o problema de q tem q ter a assinatura do monteiro tbm, mas o doc final só é gerado quando todos assinam",
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -416,
          400
        ],
        "id": "dac318ea-6d04-40f6-b264-ca9bd2969403",
        "name": "Sticky Note3"
      }
    ],
    "connections": {
      "Webhook1": {
        "main": [
          [
            {
              "node": "Baixa o doc assinado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixa o doc assinado": {
        "main": [
          [
            {
              "node": "Envia o contrato assinado para o sistema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia o contrato assinado para o sistema": {
        "main": [
          []
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}