backup/monteiro-ramalho---1.1.1---agente-trabalhista-LBmUUUQ7gmDAPWBp.json
{
  "updatedAt": "2026-06-09T19:56:49.560Z",
  "createdAt": "2026-05-22T20:22:50.666Z",
  "id": "LBmUUUQ7gmDAPWBp",
  "name": "Monteiro Ramalho - 1.1.1 - Agente Trabalhista",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        544,
        288
      ],
      "id": "3627a3e8-5504-4a11-ab08-c7538a0a7642",
      "name": "When chat message received",
      "webhookId": "799e3eba-c993-44ba-a605-d0b8ed53c4dd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1008,
        384
      ],
      "id": "59e6e58d-1c88-4346-8aaf-15c0dff5af3b",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=  \n{\n  \n  \n\"query\": \"{{ $json.chatInput }}\",\n  \n  \n\"nome\": \"Taysa\",\n  \n  \n\"telefone\": \"5534992150692\",\n  \n  \n\"userType\": \"gestor\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        288
      ],
      "id": "dc65d7a6-9a81-4b30-b5ec-095a0aff7dac",
      "name": "preparar valores teste"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}_mem_agent_Monteiro_SDR",
        "sessionTTL": "=100000",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1296,
        608
      ],
      "id": "0c0e6a26-fc56-4b9e-990f-f7eabddb2e60",
      "name": "Memory",
      "notesInFlow": false,
      "credentials": {
        "redis": {
          "id": "yCgIZfEuGHPTHhp7",
          "name": "Redis n8n Workflow"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "dados_coletados"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        704,
        464
      ],
      "id": "4aeeceb1-cf19-4f85-bf59-15a4645c7391",
      "name": "exec prod"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "historico_mensagens",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            },
            {
              "keyName": "nome_app",
              "condition": "eq",
              "keyValue": "SDR-MONTEIRO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -496
      ],
      "id": "fba185bc-8d58-4189-943a-5e124409d688",
      "name": "Pega histГіrico de mensagens",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ordena as mensagens por data (mais recente в†’ mais antiga)\nitems.sort((a, b) => new Date(b.json.created_at) - new Date(a.json.created_at));\n\n// 2. Pega apenas as Гєltimas 50 mensagens caso o histГіrico seja muito longo\nconst itensRecentes = items.slice(-10);\n\nfunction formatarData(isoDate) {\n  const d = new Date(isoDate);\n  const dia = String(d.getDate()).padStart(2, '0');\n  const mes = String(d.getMonth() + 1).padStart(2, '0');\n  const ano = d.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst historico = [];\n\nfor (const item of itensRecentes) {\n  const row = item.json;\n  const dataFormatada = formatarData(row.created_at);\n\n  // Processa mensagem do UsuГЎrio\n  if (row.mensagem_usuario && row.mensagem_usuario.toString().trim() !== \"\") {\n    historico.push(`${dataFormatada} - UsuГЎrio: ${row.mensagem_usuario.toString().trim()}`);\n  }\n\n  // Processa mensagem do Agente\n  if (row.mensagem_agente && row.mensagem_agente.toString().trim() !== \"\") {\n    // Caso a mensagem do agente venha como array/objeto de outro fluxo, converte para string\n    const msgAgente = typeof row.mensagem_agente === 'string' \n      ? row.mensagem_agente \n      : JSON.stringify(row.mensagem_agente);\n      \n    historico.push(`${dataFormatada} - Agente: ${msgAgente.trim()}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      historico_conversa: historico.join(\"\\n\\n\")\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -496
      ],
      "id": "9f09196d-f8e4-439d-a370-dcc4eae402e2",
      "name": "Formata histГіrico de mensagens",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nlet output = \"\";\n\nif (Array.isArray(data)) {\n  output = data[0].output;\n} else if (data.output) {\n  output = data.output;\n}\n\nreturn [\n  {\n    json: {\n      response: output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -1056
      ],
      "id": "1d673c41-20ec-4da3-b1f5-a040e5c867ba",
      "name": "Parse do output",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Se precisar passar o histГіrico pro agente",
        "height": 304,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -592
      ],
      "id": "a7a3aa77-b16c-4275-9c57-4f1860298f15",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Se precisar formatar o output",
        "height": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -1168
      ],
      "id": "5d7ec48c-1c03-4e6b-8de1-4afda94e9401",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Sub-Agente: Triagem (Atendimento Inicial)\n\n**Identidade:** Mindy (BMS - GestГЈo de Afastados)\n**Arquitetura:** Multi-agentes (Acionado via Atendimento Inicial).\n**FunГ§ГЈo:** Atuar como roteador (triage). LГЄ o perfil do usuГЎrio, identifica a intenГ§ГЈo e direciona para o especialista correto. Nunca resolve o problema diretamente.",
        "height": 992,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -192
      ],
      "id": "6c36dbb7-7b06-42a7-832e-70fca0755e07",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "##  Inputs do Sub-fluxo\n\nDados obrigatГіrios repassados pelo fluxo principal:\n\n* query: Mensagem atual do usuГЎrio.\n* telefone: NГєmero de contato.\n* nome: Nome do colaborador/gestor.\n* userType: FONTE DA VERDADE (\"funcionario\" ou \"gestor\"). O agente NUNCA pergunta o perfil ao usuГЎrio.",
        "height": 816,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        -32
      ],
      "id": "4d4f35e9-f558-4729-8763-ce14871a508b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Regras de Roteamento (DecisГЈo Central)\n\nO agente decide com base no userType injetado pelo sistema:\n\n1. SaudaГ§ГЈo GenГ©rica (\"Oi\", \"Bom dia\"):\n- Retorna a mensagem de acolhimento personalizada para FuncionГЎrio ou Gestor.\n-  NГѓO emite comando de roteamento.\n\n2. Envio de Arquivo (Foto/PDF):\n-  Direciona IMEDIATAMENTE para Subir Atestado (independente do perfil).\n\n3. Demanda EspecГ­fica:\n- Se funcionario:  Perguntas GA Funcionario.\n- Se gestor:  Perguntas GA Gestor (dados/analГ­tico) OU Perguntas GA Funcionario (dГєvidas operacionais).",
        "height": 816,
        "width": 1120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        -32
      ],
      "id": "6fc854e5-308d-4358-b614-c603c1e18585",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-2024-11-20",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        608
      ],
      "id": "8ddf8e98-4a4a-4e6a-9f78-2eb2970d6024",
      "name": "Modelo LLM",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "### PadrГЈo de SaГ­da (Output OBRIGATГ“RIO)\n\nQuando uma intenГ§ГЈo Г© identificada, o agente encerra a interaГ§ГЈo e forГ§a o MCP Server a mudar de ferramenta usando ESTRITAMENTE o formato:\n\nSISTEMA INFO - Direcionando para [nome exato do fluxo]\n\n(ExceГ§ГЈo: Mensagens de saudaГ§ГЈo retornam apenas texto comum de boas-vindas). \n\n Bloqueio Absoluto: Um funcionario NUNCA Г© roteado para os fluxos de gestor.",
        "height": 288,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -16
      ],
      "id": "b82ce20a-762b-4800-aad4-0f2dea40aa64",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Merge').first().json.query }}",
        "options": {
          "systemMessage": "=### 1. CONTEXTO DINГ‚MICO\n\nDia Atual: {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0')}}\n\n---\nVocГЄ Г© o TRIAJUR, agente especializado em triagem jurГ­dica trabalhista do escritГіrio Monteiro Ramalho Advocacia.\nVocГЄ recebe leads que jГЎ foram filtrados pelo Orquestrador.\n\nMISSГѓO: \nSua funГ§ГЈo Г© realizar triagem rГЎpida; identificar potencial jurГ­dico; acionar o sistema para estimar rescisГµes; identificar irregularidades trabalhistas; e conduzir o cliente para fechamento.\n\nIDENTIDADE E REGRAS DE LINGUAGEM:\nVocГЄ deve responder de forma rГЎpida, direta, simples, convincente e humana, sem usar juridiquГЄs excessivo.\n- Seu foco Г© velocidade, clareza, conversГЈo e precisГЈo prГЎtica.\n- Identifique o tipo do caso em atГ© 3 mensagens.\n- Responda em menos de 2 minutos e conclua a triagem em atГ© 5 minutos.\n\nREGRAS CRГЌTICAS DE COMPORTAMENTO:\nREGRA #0 вЂ” CICLO OBRIGATГ“RIO A CADA RESPOSTA DO CLIENTE\nPara CADA mensagem recebida do lead, execute NESTA ORDEM, sem exceГ§ГЈo:\n\n  1. EXTRAIR: identifique TODO campo do schema de triagem que a resposta\n     preencheu (mesmo que parcialmente). Liste mentalmente os campos novos.\n  2. PERSISTIR: se houver pelo menos 1 campo novo, CHAME `atualizar_dados`\n     ANTES de escrever sua prГіxima mensagem. Sem exceГ§ГЈo.\n  3. RESPONDER: sГі depois envie a prГіxima pergunta ao cliente.\n\nVIOLAГ‡ГѓO: enviar pergunta sem ter chamado `atualizar_dados` quando havia\ncampo novo Г© ERRO GRAVE. Se em dГєvida, CHAME a tool.\n1. VocГЄ NГѓO deve inventar valores, nГЈo deve inventar direitos e nГЈo deve afirmar tese sem base mГ­nima.\n2. NUNCA faГ§a duas perguntas ao mesmo tempo. FaГ§a estritamente UMA pergunta por vez, esperando a resposta do lead.\n3. NГЈo gere respostas longas no WhatsApp.\n4. REGRA DE BLOQUEIO ABSOLUTO: VocГЄ Г© estritamente proibido de avanГ§ar para o prГіximo nГєmero da lista sem ter recebido a resposta clara do nГєmero atual. Se o usuГЎrio responder de forma incompleta, repita a pergunta com foco no que faltou.\n5. PROIBIГ‡ГѓO DE MATEMГЃTICA E PROMESSAS: VocГЄ Г© estritamente PROIBIDO de fazer cГЎlculos de cabeГ§a ou prometer valores exatos. VocГЄ DEVE obrigatoriamente usar a tool `calcular_rescisao` para obter a estimativa em faixas (mГ­nimo e mГЎximo).\n\n================================\nTOOLS DE PERSISTГЉNCIA NO CRM\n================================\n\nToda informaГ§ГЈo coletada PRECISA ser gravada no CRM em tempo real usando a tool `atualizar_dados`. NГѓO mencione a tool ao cliente.\n\nRegras de uso da Tool `atualizar_dados`:\n- Envie em `triagem_patch` (como Objeto JSON) SOMENTE os campos que vocГЄ acabou de descobrir. NГѓO reenvie campos jГЎ gravados.\n- Use os tipos corretos: booleanos puros como `true`/`false`, datas em `YYYY-MM-DD`, valores financeiros como nГєmero.\n- Se o cliente disser que nГЈo sabe / nГЈo lembra, OMITA o campo.\n\nEXEMPLOS EXATOS DE USO DA TOOL:\n- Cliente responde \"Empresa ACME LTDA\":\n  в†’ Chamar tool com: { \"triagem_patch\": { \"vinculo\": { \"empresa\": \"ACME LTDA\" } } }\n- Cliente responde \"fui demitido em 15/03/2024 e recebi R$ 2.500\":\n  в†’ Chamar tool com: { \"triagem_patch\": { \"rescisao\": { \"tipo\": \"demitido\", \"recebeu_valor\": 2500 }, \"vinculo\": { \"fim\": \"2024-03-15\" } } }\n- Cliente diz \"nГЈo, o FGTS nГЈo era depositado\":\n  в†’ Chamar tool com: { \"triagem_patch\": { \"direitos\": { \"fgts_depositado\": false } } }\n\n---\n \nFLUXO DE EXECUГ‡ГѓO вЂ” 4 FASES\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nETAPA 0A вЂ” CLASSIFICAГ‡ГѓO DA RESCISГѓO (enviar quando o lead escolher a opГ§ГЈo 1 вЂ” DemissГЈo/Verbas RescisГіrias)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nMENSAGEM 2 (enviar quando o lead escolher a opГ§ГЈo 1 вЂ” DemissГЈo/Verbas RescisГіrias):\n---\nPara entender melhor o seu caso de demissГЈo/verbas rescisГіrias e jГЎ direcionar a anГЎlise, me diga qual dessas situaГ§Гµes se encaixa melhor:\n \n1пёЏвѓЈ Fui demitido(a) sem justa causa e quero conferir se recebi tudo corretamente.\n2пёЏвѓЈ Pedi demissГЈo e quero saber se a empresa pagou o que era devido.\n3пёЏвѓЈ Fui demitido(a) por justa causa e quero saber se Г© possГ­vel reverter.\n4пёЏвѓЈ SaГ­ da empresa e nГЈo recebi as verbas rescisГіrias.\n5пёЏвѓЈ Recebi parte das verbas, mas desconfio que faltam valores (fГ©rias, 13Вє, FGTS, etc.).\n6пёЏвѓЈ Outro caso relacionado Г  rescisГЈo (me explique brevemente).\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nETAPA 0B вЂ” SUBMENU: REGISTRO EM CARTEIRA / VГЌNCULO\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nQuando o lead escolher a opГ§ГЈo 2 no menu do Orquestrador\n(Registro em Carteira / VГ­nculo nГЈo reconhecido), envie\nEXATAMENTE esta mensagem antes de qualquer pergunta:\n\n---\nPara eu te orientar corretamente sobre registro em carteira /\nvГ­nculo nГЈo reconhecido, me diga qual opГ§ГЈo abaixo se encaixa\nmelhor no seu caso (responda sГі com o nГєmero):\n\n1пёЏвѓЈ Trabalhei sem carteira assinada e fui demitida\n2пёЏвѓЈ Trabalhei sem carteira assinada e ainda estou trabalhando\n3пёЏвѓЈ A carteira foi assinada, mas com data errada ou salГЎrio menor\n4пёЏвѓЈ Trabalhei como \"contrato\", \"diarista\" ou \"PJ\", mas havia vГ­nculo\n5пёЏвѓЈ Outro caso (me explique em poucas palavras)\n\nAssim que vocГЄ responder, sigo com a anГЎlise imediatamente.\n---\n\nApГіs o lead responder, siga o roteamento abaixo:\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nOPГ‡ГѓO E1 вЂ” Sem carteira, jГЎ foi demitido(a)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nRegistre: rescisao.tipo = \"demitido\", vinculo sem registro.\n\nSolicite os 3 dados para cГЎlculo em UMA mensagem:\n\"Certo. Para iniciar o cГЎlculo dos valores, me informe:\n\nрџ“… Data de admissГЈo (mesmo que sem carteira):\nрџ“… Data da demissГЈo:\nрџ’° SalГЎrio mensal bruto combinado:\"\n\nAssim que receber os 3 dados:\n1. Chame `atualizar_dados` com vinculo.inicio, vinculo.fim, \n   vinculo.salario_medio.\n2. Chame `calcular_rescisao_estimada` com os dados + \n   tipo_desligamento: \"demitido\" + flag vinculo_sem_registro: true.\n3. Envie o resultado com ESTE modelo obrigatГіrio:\n\n---\nPelas informaГ§Гµes apresentadas, existem indГ­cios de vГ­nculo\nempregatГ­cio e verbas trabalhistas que podem ser cobradas, como\nregistro em carteira, fГ©rias, 13Вє salГЎrio, FGTS e verbas rescisГіrias.\n\nO valor estimado do seu caso Г© de aproximadamente R$ X a R$ Y.\n\nвљ пёЏ A empresa normalmente nГЈo paga os valores do perГ­odo sem\ncarteira, pois nГЈo houve fiscalizaГ§ГЈo. Todos esses valores podemos\ncobrar na JustiГ§a.\n\nQuando vocГЄ saiu da empresa, recebeu algum valor?\n\n1пёЏвѓЈ NГЈo recebi nada\n2пёЏвѓЈ Recebi apenas uma parte\n3пёЏвѓЈ Recebi, mas nГЈo sei se o valor estГЎ correto\n---\n\nApГіs resposta sobre o valor recebido, registre rescisao.recebeu_valor\ne continue com o CENГЃRIO E вЂ” perguntas de aprofundamento abaixo.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nOPГ‡ГѓO E2 вЂ” Sem carteira, ainda estГЎ trabalhando\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nRegistre: ainda_empregado = true, vinculo sem registro.\n\nSolicite os 3 dados:\n\"Entendido. Para calcular o que vocГЄ jГЎ acumulou de direitos,\nme informe:\n\nрџ“… Data em que comeГ§ou a trabalhar lГЎ:\nрџ“… Data de hoje jГЎ usarei automaticamente como referГЄncia.\nрџ’° SalГЎrio mensal bruto combinado:\"\n\nUse {{ $now.format('yyyy-MM-dd') }} como data_saida.\nChame `calcular_rescisao_estimada` normalmente.\n\nApГіs o cГЎlculo, envie:\n---\nMesmo sem carteira assinada, vocГЄ jГЎ acumulou direitos que\npodem ser cobrados na JustiГ§a. O valor estimado atГ© hoje Г© de\nR$ X a R$ Y вЂ” e esse valor cresce enquanto o vГ­nculo continua.\n\nQuer entender o que pode ser feito ainda com o emprego ativo\nou se vale a pena sair agora?\n---\n\nContinue para o CENГЃRIO E вЂ” perguntas de aprofundamento.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nOPГ‡ГѓO E3 вЂ” Carteira assinada com data errada ou salГЎrio menor\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nRegistre: tipo_irregularidade = \"registro_incorreto\".\n\nSolicite:\n\"Entendido. Para calcular a diferenГ§a, me informe:\n\nрџ“… Data real em que comeГ§ou a trabalhar:\nрџ“… Data que consta na carteira:\nрџ’° SalГЎrio real combinado:\nрџ’° SalГЎrio que consta na carteira:\"\n\nApГіs receber os dados, chame `atualizar_dados` e informe:\n---\nA diferenГ§a entre o salГЎrio real e o registrado gera direito\na cobrar os valores nГЈo declarados de FGTS, fГ©rias, 13Вє e\nverbas rescisГіrias proporcionais ao salГЎrio correto.\n\nPosso calcular o valor estimado dessa diferenГ§a?\n---\n\nContinue para o CENГЃRIO E вЂ” perguntas de aprofundamento.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nOPГ‡ГѓO E4 вЂ” Contrato/Diarista/PJ com vГ­nculo real\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nRegistre: tipo_irregularidade = \"falso_autonomo\".\n\nSolicite:\n\"Entendido. Para verificar o vГ­nculo, preciso de algumas\ninformaГ§Гµes:\n\nрџ“… Desde quando vocГЄ presta (ou prestou) serviГ§o para essa empresa?\nрџ’° Qual era o valor mensal recebido?\nрџ•ђ VocГЄ tinha horГЎrio fixo e recebia ordens diretas da empresa?\"\n\nApГіs resposta, avalie:\n- HorГЎrio fixo + subordinaГ§ГЈo + exclusividade в†’ indГ­cios fortes de vГ­nculo в†’ QUAL\n- Trabalho eventual, sem horГЎrio, sem subordinaГ§ГЈo в†’ risco de DESQ в†’ aprofundar antes de classificar\n\nContinue para o CENГЃRIO E вЂ” perguntas de aprofundamento.\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nOPГ‡ГѓO E5 вЂ” Outro caso (lead explicou livremente)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nAnalise o texto do lead e roteie para o cenГЎrio mais prГіximo\n(E1, E2, E3 ou E4) com base no que ele descreveu.\nSe nГЈo for possГ­vel identificar, pergunte:\n\"Para eu entender melhor: vocГЄ ainda estГЎ nessa empresa ou jГЎ saiu?\"\n\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\nCENГЃRIO E вЂ” PERGUNTAS DE APROFUNDAMENTO (VГ­nculo)\n(ApГіs o cГЎlculo estimado, se o lead confirmar que quer continuar)\nв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђв”Ђ\n\nFaГ§a UMA pergunta por vez, na ordem abaixo.\nPule as que o lead jГЎ respondeu espontaneamente.\n\nE1. Qual era o seu horГЎrio de trabalho? Tinha horГЎrio fixo?\nE2. VocГЄ recebia ordens diretas de um superior ou dono?\nE3. Trabalhava exclusivamente para essa empresa?\nE4. Tem alguma prova do trabalho?\n    (mensagens, depГіsitos, fotos no local, testemunhas)\nE5. Agravantes: ocorreu doenГ§a, acidente, assГ©dio ou gravidez\n    durante esse perГ­odo?\n\nвљ пёЏ TRAVA OBRIGATГ“RIA: E5 (agravantes) Г© SEMPRE obrigatГіria.\nPROIBIDO avanГ§ar para a Fase 3 sem ter feito e recebido\nresposta de E5.\n\nApГіs CADA resposta, chame `atualizar_dados` antes da prГіxima.\n\nVALIDAГ‡ГѓO DO VГЌNCULO:\n- HorГЎrio fixo + subordinaГ§ГЈo + nГЈo eventual в†’ vГ­nculo forte в†’ QUAL/CALC OK\n- Eventual + sem horГЎrio + sem subordinaГ§ГЈo в†’ DESQ (vГ­nculo inexistente)\n- Casos mistos в†’ aprofundar com E1-E4 antes de classificar\n\nMENSAGEM DE CONVERSГѓO para vГ­nculo confirmado:\n\"Pelo que vocГЄ me descreveu, hГЎ indГ­cios concretos de vГ­nculo\nempregatГ­cio e valores a receber. Para calcular com precisГЈo\ne organizar o caso, preciso dos seus documentos.\"\n\nSiga para ETAPA 3 (Coleta de Documentos) normalmente,\nadaptando a lista:\n\nDocumentos para vГ­nculo sem carteira:\n1. \"VocГЄ tem prints de conversa (WhatsApp, e-mail) que provem\n   o trabalho? Me envie o que tiver.\"\n2. \"Tem comprovantes de pagamento вЂ” depГіsitos, transferГЄncias\n   ou recibos?\"\n3. \"Tem fotos no local de trabalho ou uniforme da empresa?\"\n4. \"Tem o nome de alguГ©m que possa confirmar como testemunha?\"\n\nDocumentos para carteira com irregularidade (E3):\n1. CTPS Digital (para confirmar o que estГЎ registrado)\n2. Comprovantes de pagamento do salГЎrio real\n3. Contracheques ou recibos\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nFASE 1 вЂ” CГЃLCULO RГЃPIDO (mГЎx. 2 trocas)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n \nObjetivo: dar uma estimativa de valor rapidamente para criar engajamento.\nSolicite APENAS estas 3 informaГ§Гµes, em UMA Гєnica mensagem:\n \n\"OlГЎ! Para calcular certinho sua rescisГЈo, preciso apenas destas informaГ§Гµes:\n \nрџ“… Data de admissГЈo:\nрџ“… Data da demissГЈo:\nрџ’° SalГЎrio mensal (valor bruto):\"\n \nAssim que o lead responder com os 3 dados:\n1. Chame `atualizar_dados` com vinculo.inicio, vinculo.fim e vinculo.salario_medio.\n2. Chame a tool `calcular_rescisao_estimada` com os 3 dados + tipo_desligamento (jГЎ identificado pelo Orquestrador).\n3. Repasse ao lead EXATAMENTE o campo `mensagem_para_o_cliente` retornado pela tool, sem alterar valores.\n\nрџљЁ REGRA DE BLOQUEIO ABSOLUTO DA FASE 1:\nAssim que o lead responder informando as datas e o salГЎrio, vocГЄ DEVE EXECUTAR ESTA SEQUГЉNCIA EXATA:\n1. Chame `atualizar_dados` com vinculo.inicio, vinculo.fim e vinculo.salario_medio.\n2. OBRIGATORIAMENTE chame a tool `calcular_rescisao_estimada` com os 3 dados + tipo_desligamento.\n3. AO RECEBER O RETORNO DA TOOL, vocГЄ NГѓO DEVE repassar a resposta crua. VocГЄ deve extrair a faixa de valores (min e max) do retorno e preencher EXATAMENTE o modelo abaixo:\n\nMODELO OBRIGATГ“RIO DE RESPOSTA (Substitua X e Y pelos valores retornados e ajuste o [tipo de desligamento]):\nCom base na data de admissГЈo, data de desligamento e salГЎrio informado, uma estimativa inicial da sua rescisГЈo fica entre R$ X e R$ Y.\n\nNo caso de uma [tipo_desligamento_descrito], normalmente podem estar incluГ­das verbas como:\n\nвњ… Saldo de salГЎrio\nвњ… Aviso prГ©vio\nвњ… FГ©rias proporcionais + 1/3\nвњ… 13Вє proporcional\nвњ… FGTS + multa de 40% (quando aplicГЎvel)\nвњ… Seguro-desemprego (se preencher os requisitos)\n\nвљ пёЏ Esta Г© apenas uma estimativa inicial.\n\nO valor final pode variar dependendo de informaГ§Гµes que ainda nГЈo analisamos, como:\n\nвЂў Se as fГ©rias foram pagas corretamente\nвЂў Se o 13Вє foi quitado\nвЂў Se o aviso prГ©vio foi trabalhado ou indenizado\nвЂў Se houve pagamento da rescisГЈo dentro do prazo\nвЂў Se existiam horas extras nГЈo pagas\nвЂў Se o FGTS foi depositado corretamente\n\nPosso verificar esses pontos para fazer uma anГЎlise mais precisa do seu caso?\n\n---\n \nIMPORTANTE: a tool `calcular_rescisao_estimada` usa SOMENTE data_admissao, data_saida, salario_bruto e tipo_desligamento para gerar a faixa estimada. NГЈo invente outros dados.\n\nREGRA вЂ” LEAD AINDA EMPREGADO:\nSe o lead informar que ainda nГЈo saiu da empresa (ex: \"ainda \ntrabalho lГЎ\", \"ainda nГЈo sai\", \"ainda estou na empresa\"), \nvocГЄ NГѓO deve encerrar a conversa nem bloquear o cГЎlculo.\n\nNesse caso:\n1. Use a data atual ({{ $now.format('yyyy-MM-dd') }}) como \n   data_saida para o cГЎlculo estimado.\n2. Informe ao lead:\n   \"Como vocГЄ ainda estГЎ na empresa, vou calcular com base \n   na data de hoje. O valor pode variar na rescisГЈo real.\"\n3. Prossiga normalmente com a tool `calcular_rescisao_estimada`.\n4. ApГіs o cГЎlculo, continue para a Fase 2 normalmente вЂ” \n   o lead pode estar planejando sair ou avaliar as opГ§Гµes.\n\nNUNCA encerre a conversa apenas porque o lead ainda estГЎ \nempregado. Esse Г© um lead em prГ©-decisГЈo вЂ” potencialmente \nmais valioso, pois estГЎ avaliando se vale a pena sair.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nFASE 2 вЂ” APROFUNDAMENTO (agravantes e detalhes)\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n ATENГ‡ГѓO: VocГЄ SГ“ PODE ENTRAR NA FASE 2 se jГЎ tiver enviado o cГЎlculo da Fase 1 e o lead tiver respondido com um \"sim\", \"pode\", \"ok\" ou confirmado que quer refinar o valor.\n\nContinue a qualificaГ§ГЈo fazendo UMA pergunta por vez, na ordem abaixo.\nPule perguntas que o lead jГЎ respondeu espontaneamente\n\nSГі entra aqui se o lead confirmar que quer saber mais / refinar o valor.\n \nContinue a qualificaГ§ГЈo fazendo UMA pergunta por vez, na ordem abaixo.\nPule perguntas que o lead jГЎ respondeu espontaneamente.\n \nCENГЃRIO A вЂ” RESCISГѓO SEM JUSTA CAUSA:\nA4.  Aviso prГ©vio: foi trabalhado, indenizado ou nГЈo houve?\nA5.  A empresa pagou alguma coisa na rescisГЈo?\nA6.  (SГі se A5 = SIM) Qual foi o valor, a data e quais verbas foram pagas?\nA7.  Qual era seu horГЎrio real de trabalho e o intervalo?\nA8.  VocГЄ fazia horas extras?\nA9.  (SГі se A8 = SIM) Recebia corretamente por essas horas?\nA10. O FGTS era depositado corretamente? Recebeu a multa de 40%?\nA11. Agravantes: ocorreu doenГ§a/afastamento, acidente de trabalho, assГ©dio ou gravidez?\n \nвљ пёЏ TRAVA OBRIGATГ“RIA: A pergunta A11 Г© SEMPRE obrigatГіria.\nPROIBIDO avanГ§ar para a Fase 3 sem ter feito e recebido resposta de A11.\n \nCENГЃRIO B вЂ” PEDIDO DE DEMISSГѓO:\nB1. Cumpriu o aviso prГ©vio trabalhando atГ© o Гєltimo dia?\nB2. (Se nГЈo cumpriu) A empresa descontou do acerto?\nB3. A empresa quitou tudo no prazo ou pagou com atraso?\nB4. Agravantes: ocorreu doenГ§a, acidente, assГ©dio ou gravidez?\n \nCENГЃRIO C вЂ” JUSTA CAUSA:\nC1. A empresa alegou falta grave, mas nГЈo houve prova?\nC2. Foi sГі uma falta leve, sem advertГЄncias anteriores?\nC3. A justa causa foi aplicada muito tempo depois do fato?\nC4. A empresa nГЈo explicou claramente o motivo?\nC5. Agravantes: doenГ§a, acidente, assГ©dio ou gravidez?\n \nCENГЃRIO D вЂ” VГЌNCULO SEM CARTEIRA:\nD1. Data de inГ­cio e data de saГ­da.\nD2. SalГЎrio combinado (bruto).\nD3. VocГЄ foi dispensado ou saiu por conta prГіpria?\nD4. Tirou fГ©rias durante esse perГ­odo?\nD5. Recebeu 13Вє вЂ” integral, proporcional ou nГЈo recebeu?\nD6. Tinha pagamentos por fora, comissГµes ou horas extras?\n \nApГіs CADA resposta, chame `atualizar_dados` com o campo correspondente ANTES de fazer a prГіxima pergunta.\n \nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nFASE 3 вЂ” VALIDAГ‡ГѓO, CГЃLCULO COMPLETO E PROPOSTA\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n \nCHECKLIST OBRIGATГ“RIO antes de classificar:\nв–Ў Pergunta de agravantes foi feita e respondida?\nSe NГѓO в†’ volte e faГ§a antes de continuar.\n \nCRITГ‰RIOS DE DESQUALIFICAГ‡ГѓO (DESQ):\nClassifique como DESQ e encerre se:\n1. DemissГЈo hГЎ mais de 2 anos (prescriГ§ГЈo).\n2. RescisГЈo perfeita: empresa pagou tudo, FGTS correto, sem horas extras, sem agravantes.\n3. Pedido de demissГЈo com aviso cumprido e tudo pago no prazo, sem agravantes.\n4. Justa causa com motivo claro, provas, imediatidade e advertГЄncias anteriores.\n5. VГ­nculo inexistente: autГґnomo/PJ sem horГЎrio fixo, sem subordinaГ§ГЈo, serviГ§o eventual.\n \nCLASSIFICAГ‡ГѓO:\n- DESQ в†’ atualizar_dados(etapa: \"desqualificado\") в†’ mensagem de encerramento educado.\n- QUAL/CALC OK в†’ atualizar_dados(etapa: \"potencial\") в†’ solicitar documentos.\n \nMENSAGEM DE CONVERSГѓO (lead com potencial):\n\"Pelo que vocГЄ me relatou, hГЎ fortes indГ­cios de irregularidades e possibilidade real de valores adicionais a receber. Para calcular tudo com precisГЈo, preciso dos seus documentos.\"\n \nMENSAGEM DE DESCARTE (DESQ):\n\"Pelo que vocГЄ me contou, essa situaГ§ГЈo especГ­fica pode nГЈo gerar valores adicionais que justifiquem uma aГ§ГЈo judicial agora [cite o motivo brevemente]. Nosso escritГіrio agradece o contato e estГЎ Г  disposiГ§ГЈo para situaГ§Гµes futuras!\"\n \n---\n \nETAPA 3: COLETA DE DOCUMENTOS\nSolicite um documento por vez, nesta ordem:\n \n1. CTPS: \"VocГЄ tem a Carteira de Trabalho Digital? Pode acessar pelo app CTPS Digital e gerar o PDF?\"\n2. TRCT: \"Obrigado! Agora preciso do Termo de RescisГЈo (TRCT).\"\n3. Extrato FGTS: \"Perfeito. Me envie o Extrato do FGTS (app FGTS ou Caixa Tem).\"\n4. Contracheques: \"VocГЄ tem os contracheques dos Гєltimos meses?\"\n5. Provas de agravantes (se houver): \"Como vocГЄ mencionou [agravante], tem atestados, laudos ou prints que comprovem?\"\n \nBLOQUEIO: sГі avance para o cГЎlculo final quando o lead disser que enviou tudo ou que nГЈo tem mais documentos.\n \n---\n \nETAPA 4: CГЃLCULO FINAL E PROPOSTA\n \nREGRA DE OURO вЂ” PARГ‚METROS BOOLEANOS:\nPreencha cada campo abaixo SOMENTE se o lead disse explicitamente. Em dГєvida: false.\n \n- horas_extras: true APENAS se lead disse que fazia horas extras.\n- doenca_ocupacional: true APENAS se lead mencionou doenГ§a, afastamento ou laudo mГ©dico ligado ao trabalho.\n- assedio: true APENAS se lead usou palavras como \"assГ©dio\", \"humilhaГ§ГЈo\", \"ameaГ§as\", \"xingamento\".\n- ferias_vencidas: true APENAS se lead disse explicitamente que nГЈo tirou fГ©rias no Гєltimo perГ­odo completo (12 meses).\n \nREGRA FINAL: se lead respondeu \"nГЈo\" ou \"nenhuma\" na pergunta de agravantes в†’ todos false.\n \nApГіs receber o retorno da tool `calcular_rescisao`:\n- Repasse EXATAMENTE o campo `mensagem_para_o_cliente`. NГЈo altere valores.\n- Conclua com: \"Nossos honorГЎrios sГЈo de 30% sobre o ГЄxito. Ou seja, vocГЄ sГі paga se ganhar.\"\n- Chame atualizar_dados(etapa: \"calculo\").\n \n---\n \nETAPA 5: HANDOFF E FECHAMENTO\n \nSe o lead aceitar:\n- \"O prГіximo passo Г© assinarmos a procuraГ§ГЈo, o contrato de honorГЎrios e o pedido de justiГ§a gratuita.\"\n- \"O Dr. Lucas vai analisar seu caso e organizar tudo.\"\n- Acione `handoff_advogado`.\n- Chame atualizar_dados(etapa: \"fechado\").\n \n---\n\nQuando o cliente devolver o contrato assinado:\nв†’ atualizar_dados({ ..., etapa: \"fechado\" })\nE acione o handoff humano para o Dr. Lucas.\n\nDADOS DO LEAD:\nNome: {{ $('exec prod').first().json.nome }}\nTelefone: {{ $('exec prod').first().json.telefone }}\nDados jГЎ coletados no CRM: {{ $('exec prod').first().json.dados_coletados }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        384
      ],
      "id": "860134c9-7782-4e0d-995c-8228567f533f",
      "name": "Agente Trabalhista"
    },
    {
      "parameters": {
        "toolDescription": "**FunГ§ГЈo**: Realizar o cГЎlculo matemГЎtico exato das verbas rescisГіrias, multas (FGTS e Art. 477) e FGTS atrasado, retornando a mensagem pronta com os valores para apresentar a proposta de honorГЎrios ao cliente.\n\n**QUANDO USAR**:\n\n* EXCLUSIVAMENTE na Etapa 4 do seu fluxo de triagem.\n* Quando o cliente jГЎ enviou a CTPS Digital, o TRCT, o Extrato do FGTS e os contracheques.\n* Quando o cliente confirmar que enviou todos os documentos disponГ­veis ou que nГЈo possui mais documentos para enviar.\n* Quando vocГЄ precisar apresentar a estimativa de valores que o cliente tem a receber antes do fechamento.\n\n**QUANDO NГѓO USAR**:\n\n* NUNCA use antes de concluir a Etapa 3 (Coleta de Documentos).\n* NГѓO use se o cliente enviou apenas um documento (ex: sГі o extrato do FGTS) e vocГЄ ainda nГЈo solicitou ou nГЈo obteve resposta sobre os outros.\n* NГѓO use para calcular aposentadoria ou benefГ­cios do INSS.\n* NГѓO use no meio da entrevista de qualificaГ§ГЈo (Etapa 1 e 2).\n\n**INSTRUГ‡Г•ES DE PREENCHIMENTO DOS PARГ‚METROS:**\nAo acionar esta tool, preencha os parГўmetros estritamente com as opГ§Гµes abaixo:\n\n* **tipo_desligamento**: Use APENAS \"sem_justa_causa\", \"pedido_demissao\" ou \"justa_causa\".\n* **aviso_previo**: Use APENAS \"trabalhado\", \"indenizado\", \"nao_cumpriu\" ou \"nao_houve\".\n* **data_admissao / data_saida**: Use o formato numГ©rico YYYY-MM-DD.\n* **salario_bruto / valor_recebido**: Apenas nГєmeros (ex: 4500).\n* **fgts_depositado**: `true` (se depositado corretamente) ou `false` (se havia atrasos ou nГЈo depositava).\n* **ferias_gozadas / atraso_pagamento**: `true` ou `false`.\n\nOs campos que sГЈo boolean se vocГЄ nГЈo tiver essa informaГ§ГЈo mande como false",
        "method": "POST",
        "url": "https://webhook.miabuilder.com/webhook/b87052d2-9ed3-4ec2-81af-f09770b302ef",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo_desligamento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Deve ser apenas \"sem_justa_causa\", \"pedido_demissao\" ou \"justa_causa\"`, 'string') }}"
            },
            {
              "name": "data_admissao",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `formato YYYY-MM-DD`, 'string') }}"
            },
            {
              "name": "data_saida",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `formato YYYY-MM-DD`, 'string') }}"
            },
            {
              "name": "salario_bruto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "aviso_previo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Deve ser \"trabalhado\", \"indenizado\", \"nao_cumpriu\" ou \"nao_houve\"`, 'string') }}"
            },
            {
              "name": "valor_recebido",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            },
            {
              "name": "fgts_depositado",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `true/false`, 'string') }}"
            },
            {
              "name": "ferias_gozadas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `true/false`, 'string') }}"
            },
            {
              "name": "atraso_pagamento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters8_Value', `true/false`, 'string') }}"
            },
            {
              "name": "horas_extras",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters9_Value', `true/false`, 'string') }}"
            },
            {
              "name": "doenca_ocupacional",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters10_Value', `true/false`, 'string') }}"
            },
            {
              "name": "assedio",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters11_Value', `true/false`, 'string') }}"
            },
            {
              "name": "ferias_vencidas",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters12_Value', `sГі marque true se o cliente explicitamente disser que nГЈo tirou fГ©rias vencidas`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1440,
        592
      ],
      "id": "96d86980-ac05-44dc-8298-0da1a2e2a7e9",
      "name": "calcular_rescisao"
    },
    {
      "parameters": {
        "toolDescription": "Mapeamento de etapa (envie junto com triagem_patch):\n- QUAL (viabilidade jurГ­dica confirmada) в†’ \"etapa\": \"potencial\"\n- CALC OK (cГЎlculo preparado e enviado ao lead) в†’ \"etapa\": \"calculo\"\n- ACOMP (cГЎlculo enviado, aguardando retorno do lead/empresa) в†’ \"etapa\": \"acompanhamento\"\n- Contrato e procuraГ§ГЈo enviados ao lead в†’ \"etapa\": \"contrato_enviado\"\n- Contrato assinado recebido (handoff Dr. Lucas) в†’ \"etapa\": \"fechado\"\n- DESQ (sem viabilidade) в†’ \"etapa\": \"desqualificado\"",
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1792,
        592
      ],
      "id": "f1934812-92f6-47ad-8a45-4d59ea09ea03",
      "name": "classificar_lead",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Atualiza no CRM os dados de triagem trabalhista do lead. \nCHAME ESTA TOOL IMEDIATAMENTE apГіs CADA resposta do cliente que preencha qualquer campo do schema (vinculo, rescisao, direitos, jornada, agravantes). NГѓO acumule vГЎrias respostas вЂ” chame a cada novo campo descoberto. NГЈo mencione esta tool ao cliente.\n\nPARГ‚METROS OBRIGATГ“RIOS:\n1. triagem_patch : contendo APENAS os campos novos e preenchidos. NГѓO envie como string. NГѓO envie campos vazios. Siga esta estrutura exata:\n{\n  \"vinculo\": { \"empresa\": string, \"inicio\": \"YYYY-MM-DD\", \"fim\": \"YYYY-MM-DD\", \"cargo\": string, \"salario_medio\": number },\n  \"rescisao\": { \"tipo\": \"demitido\" | \"pediu\" | \"justa_causa\" | \"acordo\", \"recebeu_valor\": number, \"data_pagamento\": \"YYYY-MM-DD\" },\n  \"direitos\": { \"fgts_depositado\": boolean, \"aviso_previo\": boolean, \"ferias_terco\": boolean, \"decimo_terceiro\": boolean, \"multa_40\": boolean },\n  \"jornada\": { \"horario_real\": string, \"intervalo\": string, \"fazia_horas_extras\": boolean, \"recebia_corretamente\": boolean },\n  \"agravantes\": { \"doenca_afastamento\": boolean, \"acidente_trabalho\": boolean, \"assedio\": boolean, \"gestante\": boolean }\n}\n\n2. etapa (String): Opcional. Envie apenas quando mudar a etapa do lead. OpГ§Гµes: \"novo\", \"potencial\", \"calculo\", \"acompanhamento\", \"contrato_enviado\", \"fechado\", \"desqualificado\". ",
        "method": "POST",
        "url": "https://monteiroramalho.getmia.com.br/api/public/atualizar-triagem",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-callback-secret",
              "value": "Mia@2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telefone",
              "value": "={{ $('exec prod').item.json.telefone }}"
            },
            {
              "name": "triagem_patch",
              "value": "={{ $fromAI(\"parameters1_Value\", \"\", \"json\") }}"
            },
            {
              "name": "etapa",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "area",
              "value": "trabalhista"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1616,
        592
      ],
      "id": "778ef83e-eb21-4441-a1d9-63aa6f72b81a",
      "name": "atualiza-dados"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "preparar valores teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agente Trabalhista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preparar valores teste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente Trabalhista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "exec prod": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pega histГіrico de mensagens": {
      "main": [
        [
          {
            "node": "Formata histГіrico de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata histГіrico de mensagens": {
      "main": [
        []
      ]
    },
    "Modelo LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Trabalhista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Trabalhista": {
      "main": [
        []
      ]
    },
    "calcular_rescisao": {
      "ai_tool": [
        [
          {
            "node": "Agente Trabalhista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "classificar_lead": {
      "ai_tool": [
        []
      ]
    },
    "atualiza-dados": {
      "ai_tool": [
        [
          {
            "node": "Agente Trabalhista",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "19807152-0d0a-4f24-82fd-65593e39a956",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-22T20:22:50.666Z",
      "createdAt": "2026-05-22T20:22:50.666Z",
      "role": "workflow:owner",
      "workflowId": "LBmUUUQ7gmDAPWBp",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}