backup/monteiro-ramalho---4.3---follow-up-entrevista-dcN0Fsk3TUEmbihO.json
{
  "updatedAt": "2026-07-14T21:25:12.601Z",
  "createdAt": "2026-07-14T18:21:47.395Z",
  "id": "dcN0Fsk3TUEmbihO",
  "name": "Monteiro Ramalho - 4.3 - Follow up Entrevista",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        128
      ],
      "typeVersion": 1,
      "id": "0daaf2a2-16cf-40c8-ae91-ff36f067982e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        400
      ],
      "id": "60eeca11-2c5b-4f32-a8a0-4be6af5ed999",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_crm",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "etapa",
              "condition": "eq",
              "keyValue": "entrevista"
            },
            {
              "keyName": "atualizado_em",
              "condition": "lt",
              "keyValue": "={{ $now.minus({ hours: 24 }).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        400
      ],
      "id": "eef7e48d-5373-4a58-b2ba-98b05892db7c",
      "name": "Pega todos da etapa entrevista",
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        400
      ],
      "id": "d911bb42-178b-4fa1-8a30-d223b8b04ac2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1037049099499145/messages",
        "authentication": "***REMOVIDO***",
        "genericAuthType": "***REMOVIDO***",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.resultado }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        400
      ],
      "id": "63153fcd-5af7-478d-85d8-d0a9b4809823",
      "name": "Enviar mensagem no WhatsApp1",
      "retryOnFail": true,
      "credentials": {
        "httpBearerAuth": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "=5511992486507",
        "messageText": "=Erro ao realizar Monteiro Ramalho - 3.3 - Follow up (Dados Contrato Pendente) com {{ $('Loop Over Items').first().json.nome }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1600,
        608
      ],
      "id": "18058b5e-79c0-4f66-8fb0-17e18b871956",
      "name": "Aviso de erro ao disparar mensagem",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Disparo para leads que ainda tem campos pendentes para a elaboração da petição",
        "height": 768,
        "width": 2000,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        128
      ],
      "typeVersion": 1,
      "id": "a249e2cf-3f48-46e3-be30-9fe8d9ba01ec",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b5296455-2292-4b5d-8e75-0b156471af30",
              "leftValue": "={{ $json.messages[0].message_status }}",
              "rightValue": "accepted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        400
      ],
      "id": "7f49ab92-1283-4ff8-8c97-c3ea17b5de14",
      "name": "Verificar status do envio"
    },
    {
      "parameters": {
        "tableId": "historico_mensagens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "mensagem_agente",
              "fieldValue": "={{ $('Monta mensagem de fup da entrevista').first().json.mensagem_completa }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Monta mensagem de fup da entrevista').first().json.telefone }}"
            },
            {
              "fieldId": "nome_usuario",
              "fieldValue": "={{ $('Monta mensagem de fup da entrevista').first().json.nome }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "=text"
            },
            {
              "fieldId": "ativo",
              "fieldValue": "true"
            },
            {
              "fieldId": "nome_app",
              "fieldValue": "=SDR-MONTEIRO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1792,
        384
      ],
      "id": "acb30b27-dbe8-4c0d-aa4d-95f285290591",
      "name": "Cria Mensagem no Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Este fluxo é de propriedade da FORMAÇÃO AGENTES DE IA COM N8N -BY RICNEVES"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Monta mensagem de fup da entrevista').first().json.telefone }}_mem_agent_Monteiro_SDR",
        "messageData": "={{ $('Monta mensagem de fup da entrevista').first().json.redis_memory_message }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1984,
        384
      ],
      "id": "8765b150-a623-4306-b904-df93411d98a2",
      "name": "Adiciona Texto na Memoria",
      "credentials": {
        "redis": {
          "id": "yCgIZfEuGHPTHhp7",
          "name": "Redis n8n Workflow"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  l.id,\n  l.nome,\n  l.telefone,\n  l.cliente_nome_completo,\n  l.triagem,\n  COALESCE(\n    (\n      SELECT json_agg(DISTINCT d.tipo_documento)\n      FROM lead_documentos d\n      WHERE d.lead_id = l.id AND d.tipo_documento IS NOT NULL\n    ),\n    '[]'::json\n  ) AS tipos_documento_recebidos\nFROM leads_crm l\nWHERE l.id = $1;",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        416
      ],
      "id": "9fe2ba03-34db-4f7f-97bc-31bcac91192c",
      "name": "Identifica os dados pendentes",
      "credentials": {
        "postgres": {
          "id": "Hr0gqOEXHC8efR0Q",
          "name": "Monteiro - Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d675be54-3494-4af2-9cf2-c42f47719dd9",
              "leftValue": "={{ $json.pendentes }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthGte",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        416
      ],
      "id": "f57e8b26-2d76-41cd-9034-3c70c8d45699",
      "name": "Verifica se tem campos pendentes"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads_crm",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "peticao_em_producao"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        592
      ],
      "id": "dc37d48d-2b83-4446-bbc5-ab76344b10c3",
      "name": "Atualiza a etapa do lead se já tem todos os dados",
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\n\nfunction getPath(obj, path) {\n  return path.split('.').reduce((acc, key) => (acc == null ? undefined : acc[key]), obj);\n}\n\n// mesmo schema completo usado na extração da entrevista — inclui os\n// campos \"órfãos\" que a Monique simplificada não coleta mais, além\n// dos campos específicos de petição\nconst schemaCampos = {\n  tipo_rescisao:      { label: \"tipo de rescisão\",                  path: \"rescisao.tipo\" },\n  fgts_depositado:    { label: \"se o FGTS foi depositado corretamente\", path: \"direitos.fgts_depositado\" },\n  ferias_vencidas:    { label: \"férias vencidas\",                    path: \"direitos.ferias_terco\" },\n  assedio:            { label: \"se houve assédio moral\",            path: \"direitos.assedio\" },\n  desvio_funcao:      { label: \"se exercia outra função na prática\", path: \"vinculo.desvio_funcao\" },\n  trabalho_fds:       { label: \"trabalho nos finais de semana\",      path: \"jornada.trabalho_fim_semana\" },\n  controle_ponto:     { label: \"o controle de ponto\",                path: \"jornada.controle_ponto\" },\n  outros_direitos:    { label: \"outras situações não conversadas\",   path: \"outros_direitos_mencionados\" },\n};\n\nconst schemaDocumentos = [\"ctps\", \"trct\", \"extrato_fgts\", \"contracheque\", \"prova_agravante\"];\n\nconst perguntas = {\n  tipo_rescisao:      \"Como foi o fim do seu contrato: demitido(a), pediu demissão, justa causa ou acordo?\",\n  fgts_depositado:    \"O FGTS foi depositado corretamente durante todo o período?\",\n  ferias_vencidas:    \"Na época da sua saída, você tinha férias vencidas — um período que já podia tirar mas não tirou?\",\n  assedio:            \"Você sofreu algum tipo de assédio moral ou cobrança excessiva no trabalho?\",\n  desvio_funcao:      \"Você trabalhava só na função registrada, ou também exercia outra função na prática?\",\n  trabalho_fds:       \"Você trabalhava aos sábados, domingos ou feriados?\",\n  controle_ponto:     \"Você assinava folha de ponto ou batia ponto?\",\n  outros_direitos:    \"Teve alguma outra situação no trabalho que acha importante eu registrar?\",\n  jornada_detalhada:  \"Qual era o seu horário de trabalho — entrada, intervalo e saída?\",\n  ctps:               \"Pode me enviar o PDF da sua Carteira de Trabalho Digital (CTPS)?\",\n  trct:               \"Pode me enviar o Termo de Rescisão (TRCT), se já tiver recebido?\",\n  extrato_fgts:       \"Pode me enviar o Extrato do FGTS (app FGTS ou Caixa Tem)?\",\n  contracheque:       \"Pode me enviar os contracheques dos últimos meses trabalhados?\",\n  prova_agravante:    \"Você tem algum atestado, laudo ou print que comprove o que relatou?\",\n};\n\nconst dados = item.triagem || {};\nconst tiposRecebidos = new Set(item.tipos_documento_recebidos || []);\n\nconst pendentesKeys = [];\n\nfor (const [chave, info] of Object.entries(schemaCampos)) {\n  const valor = getPath(dados, info.path);\n  // === undefined/null (não !valor) — booleano \"false\" é resposta válida, não pendência\n  if (valor === undefined || valor === null || valor === \"\") {\n    pendentesKeys.push(chave);\n  }\n}\n\nconst horarioReal = getPath(dados, \"jornada.horario_real\");\nconst intervalo = getPath(dados, \"jornada.intervalo\");\nif (!horarioReal || !intervalo) {\n  pendentesKeys.push(\"jornada_detalhada\");\n}\n\nfor (const tipo of schemaDocumentos) {\n  if (!tiposRecebidos.has(tipo)) {\n    pendentesKeys.push(tipo);\n  }\n}\n\nconst nome = item.cliente_nome_completo || item.nome || \"\";\n\nconst listaPerguntasCompleta = pendentesKeys\n  .map((chave, i) => `${i + 1}) ${perguntas[chave] || chave}`)\n  .join(\"\\n\");\n\nconst LIMITE_PREVIEW = 4;\nconst previewKeys = pendentesKeys.slice(0, LIMITE_PREVIEW);\nconst restantes = pendentesKeys.length - previewKeys.length;\n\nlet previewTexto = previewKeys\n  .map((chave, i) => `${i + 1}) ${perguntas[chave] || chave}`)\n  .join(\" \");\n\nif (restantes > 0) {\n  previewTexto += ` E mais ${restantes} ${restantes === 1 ? \"item\" : \"itens\"}, que retomamos na conversa.`;\n}\n\nconst mensagemCompleta = `Olá, ${nome}! Passando para lembrar que ainda precisamos de algumas informações para dar andamento à sua ação:\\n\\n${previewTexto}\\n\\nAssim que puder, me envia por aqui. Qualquer dúvida, é só chamar!`;\n\nconst redisMemoryMessage = JSON.stringify({\n  type: \"ai\",\n  data: {\n    content: mensagemCompleta,\n    tool_calls: [],\n    invalid_tool_calls: [],\n    additional_kwargs: {},\n    response_metadata: {}\n  }\n});\n\nconst body = {\n  messaging_product: \"whatsapp\",\n  to: String(item.telefone),\n  type: \"template\",\n  template: {\n    name: \"followup_entrevista_peticao\",\n    language: { code: \"pt_BR\" },\n    components: [\n      {\n        type: \"body\",\n        parameters: [\n          { type: \"text\", text: nome },\n          { type: \"text\", text: previewTexto },\n        ],\n      },\n    ],\n  },\n};\n\nreturn [{\n  json: {\n    id: item.id,\n    telefone: item.telefone,\n    nome,\n    pendentes: pendentesKeys,\n    lista_perguntas_completa: listaPerguntasCompleta,\n    mensagem_completa: mensagemCompleta,\n    redis_memory_message: redisMemoryMessage,\n    resultado: body,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        416
      ],
      "id": "20812e31-6eb0-4b68-9358-896dbb4242dd",
      "name": "Monta mensagem de fup da entrevista"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Pega todos da etapa entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega todos da etapa entrevista": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Identifica os dados pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem no WhatsApp1": {
      "main": [
        [
          {
            "node": "Verificar status do envio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso de erro ao disparar mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status do envio": {
      "main": [
        [
          {
            "node": "Cria Mensagem no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de erro ao disparar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Mensagem no Supabase": {
      "main": [
        [
          {
            "node": "Adiciona Texto na Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona Texto na Memoria": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifica os dados pendentes": {
      "main": [
        [
          {
            "node": "Monta mensagem de fup da entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem campos pendentes": {
      "main": [
        [
          {
            "node": "Enviar mensagem no WhatsApp1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza a etapa do lead se já tem todos os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza a etapa do lead se já tem todos os dados": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta mensagem de fup da entrevista": {
      "main": [
        [
          {
            "node": "Verifica se tem campos pendentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "8d614ee9-c020-4e3d-85d2-e909fdb8938f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-14T18:21:47.395Z",
      "createdAt": "2026-07-14T18:21:47.395Z",
      "role": "workflow:owner",
      "workflowId": "dcN0Fsk3TUEmbihO",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}