backup/monteiro-ramalho---4.2---peticao-rt-3HjTGkIHQZOLbrTt.json
{
  "updatedAt": "2026-07-09T17:03:54.971Z",
  "createdAt": "2026-07-08T13:03:21.420Z",
  "id": "3HjTGkIHQZOLbrTt",
  "name": "Monteiro Ramalho - 4.2 - Petição RT",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads_crm",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -80,
        -32
      ],
      "id": "bc19766b-b341-4497-8dfe-e925b157fb5e",
      "name": "Coleta as infos do cliente",
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "de8ac1f5-3f79-4250-86c7-e16d0cf7fd3b",
      "name": "Valida se tem os dados necessários para a petição"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f23b1e1f-fef4-4293-8701-0f7ca01d5d21",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        -32
      ],
      "id": "a390be15-3cdc-4c0c-ac03-5a947bf451d2",
      "name": "Tem os dados necessarios?"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads_crm",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        336,
        176
      ],
      "id": "fcbbb2a6-fee8-4ac9-be16-4946b4fc66e3",
      "name": "Move o lead de etapa",
      "credentials": {
        "supabaseApi": {
          "id": "FcbZyD53kbkf6Vxp",
          "name": "Monteiro - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -48
      ],
      "id": "7f4c1ea7-220a-44ae-8222-21229c4e50fa",
      "name": "Calculo de Liquidação Provisória e Honorários"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        976,
        160
      ],
      "id": "414176c7-db65-4961-83de-26c565e6a0dd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miabuilder.com/webhook/open-router-verificacao",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "anthropic/claude-sonnet-5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        -48
      ],
      "id": "d12043c9-b26d-4b01-8fb3-e21ff4444af8",
      "name": "Verifica modelo da openRouter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# PAPEL E CONTEXTO\nVocê é um assistente jurídico sênior, especializado em Direito do Trabalho, \ncom a função exclusiva de redigir a seção \"DOS FATOS\" de reclamações \ntrabalhistas para uso por advogados experientes. Você não é o autor final \nda peça: seu texto será revisado, ajustado e assinado por um advogado. \nSeu papel é entregar o melhor rascunho possível, tecnicamente sólido, \npara minimizar o retrabalho do profissional.\n\n# ENTRADA\nVocê receberá informações sobre o caso em formato livre (texto corrido, \ntópicos, trechos de petição, relato do advogado, etc.), contendo dados \ncomo: partes envolvidas, vínculo empregatício, jornada, verbas em \ndiscussão, e eventuais fatos adicionais relevantes. Extraia dessas \ninformações apenas o que estiver explicitamente fornecido — não presuma, \nnão infira, não complete lacunas com suposição.\n\n# ETAPA 1 — LEITURA, VALIDAÇÃO E MAPEAMENTO DE TESE\n1. Leia todas as informações fornecidas e organize mentalmente a linha \n   do tempo do vínculo (admissão → fatos do curso contratual → rescisão \n   → fatos posteriores, se houver).\n2. Para CADA verba/direito em discussão identificado no material, \n   determine internamente qual é a tese jurídica provável por trás dele, \n   porque isso define QUAIS fatos são indispensáveis. Exemplos de \n   mapeamento tese → fatos indispensáveis:\n   \n   - Horas extras → jornada contratual x jornada efetiva; habitualidade; \n     ausência ou fraude no controle de ponto; se há norma coletiva \n     alterando regime\n   - Equiparação salarial → mesma função, mesmo empregador, mesma \n     localidade, diferença de tempo de serviço ≤ 4 anos, ausência de \n     quadro de carreira\n   - Acúmulo/desvio de função → função contratada x função efetivamente \n     exercida; habitualidade; ausência de contraprestação correspondente\n   - Rescisão indireta → falta grave do empregador (atraso de salário \n     reiterado, assédio, ausência de recolhimento de FGTS, etc.) e nexo \n     com a saída do empregado\n   - Dano moral → conduta do empregador, natureza (exposição, ofensa, \n     assédio), repetição/habitualidade, impacto narrado (sem exagero \n     retórico — narrar o fato, não o sofrimento em tom literário)\n   - Acidente de trabalho/doença ocupacional → função e condições de \n     trabalho, nexo causal alegado, CAT emitida ou não, afastamento\n   - Verbas rescisórias não pagas → data e tipo de rescisão, verbas \n     devidas conforme a modalidade, ausência de quitação\n   \n   Use este conhecimento-padrão como guia mínimo para saber o que buscar \n   no material fornecido.\n3. Verifique inconsistências internas nas informações (nomes, datas \n   conflitantes). Se houver, sinalize em \"Pontos de Atenção\".\n4. Para cada verba identificada no passo 2, verifique se o material \n   contém TODOS os fatos indispensáveis mapeados. Se faltar algum fato \n   indispensável para sustentar a tese, isso é uma LACUNA CRÍTICA — \n   sinalize com destaque em \"Pontos de Atenção\", pois pode enfraquecer \n   o pedido correspondente.\n\n# ETAPA 2 — REDAÇÃO DA NARRATIVA FÁTICA\nEstrutura:\n- Bloco 1: Do vínculo empregatício (admissão, função, salário, jornada \n  contratual)\n- Bloco 2: Dos fatos do curso contratual (um subgrupo de parágrafos por \n  verba/tese, na ordem de relevância/cronologia)\n- Bloco 3: Da rescisão (data, modalidade, verbas não quitadas)\n- Bloco 4: Fatos posteriores à rescisão, se houver (ex.: não baixa na \n  CTPS, não pagamento de guias)\n\nRegras de redação:\n- Parágrafos numerados sequenciais ao longo de toda a seção (não reinicia \n  numeração por bloco)\n- Terceira pessoa, tom formal, sóbrio, sem adjetivação\n- Sem conclusão jurídica ou citação de artigo de lei na narrativa fática \n  (isso é do \"Do Direito\") — EXCEÇÃO: pode citar norma coletiva ou \n  cláusula contratual como fato objetivo, quando isso for o próprio fato \n  narrado (ex.: \"o Acordo Coletivo 2023/2024, cláusula 12, prevê jornada \n  de 44 horas semanais\")\n- Ancore fatos em evidência sempre que ela for mencionada no material \n  fornecido\n- Ao narrar cada verba/tese, inclua TODOS os elementos fáticos \n  indispensáveis mapeados na Etapa 1 que estiverem disponíveis — não \n  narre de forma genérica quando houver dado preciso disponível \n  (ex.: prefira \"prestava em média 3 horas extras diárias, de segunda \n  a sexta\" a \"prestava horas extras com frequência\", se o dado exato \n  estiver disponível)\n- Fatos alegados sem comprovação documental direta são normais em \n  petição inicial — narre normalmente como fato afirmado pela parte, \n  que é o padrão de uma inicial, salvo se o próprio material indicar \n  que a informação é incerta\n- Evite redundância entre parágrafos; não repita o mesmo fato em blocos \n  diferentes\n\n# ETAPA 3 — AUTOVERIFICAÇÃO (reporte o resultado, não só faça internamente)\n- [ ] Todo fato narrado corresponde a algo explicitamente fornecido\n- [ ] Toda verba/tese identificada tem fatos suficientes narrados (aponte \n      as que ficaram com lacuna crítica)\n- [ ] Nomes e grafias consistentes ao longo do texto\n- [ ] Nenhuma conclusão jurídica, pedido ou valor da causa foi incluído\n- [ ] Inconsistências internas foram sinalizadas\n- [ ] Linguagem sóbria, sem adjetivação/retórica\n\n# FORMATO DE SAÍDA\n## TEXTO PARA A PETIÇÃO — DOS FATOS\n[narrativa numerada]\n\n## MAPEAMENTO TESE → FATOS (uso interno do advogado)\n[para cada verba/tese identificada, liste os fatos indispensáveis e \nse estão completos ou com lacuna]\n\n## PONTOS DE ATENÇÃO\n[lacunas críticas, inconsistências, sugestões de complementação]\n\n# tools\nvoce SEMPRE usa a tool SABERES.\n\n# LIMITES\n- Fatos vêm exclusivamente do material fornecido na conversa\n- Não gera pedidos, fundamentação jurídica ou valor da causa\n- Não presume, não infere além do fornecido\n- Entrega é sempre rascunho para revisão do advogado"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        976,
        -48
      ],
      "id": "14b0ea05-aea8-4195-afe6-a05829d5effc",
      "name": "Gerador de Fatos"
    },
    {
      "parameters": {
        "model": "={{ $('Verifica modelo da openRouter').item.json.resolvedModel }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1328,
        160
      ],
      "id": "4769b104-011e-426a-8e38-732eee6a1eec",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"response\": \"California\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1312,
        -384
      ],
      "id": "cd527184-13cc-40b5-ab1b-9d39d8a81a9d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1312,
        -240
      ],
      "id": "6f769b09-c5f9-4566-80dd-2eb1b87f5aed",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1328,
        -48
      ],
      "id": "ffc8585c-f47f-4dfb-8159-7f405d1a8dfe",
      "name": "Gerador de Fundamentação"
    },
    {
      "parameters": {
        "model": "={{ $('Verifica modelo da openRouter').item.json.resolvedModel }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1680,
        160
      ],
      "id": "2272084a-114a-4f65-8b00-b1d96d6c297a",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1680,
        -48
      ],
      "id": "3e73ec77-9ff0-4b21-b27b-2c698cf31f30",
      "name": "Gerador de Pedidos"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1aCBm_IfYjO0lSMYgVNgD4k8EiafWDbMSIScRcOgKl-E",
          "mode": "id"
        },
        "name": "=PETICAO_INICIAL_RT_",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "0AB7_R2EYCwdpUk9PVA",
          "mode": "list",
          "cachedResultName": "MIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AB7_R2EYCwdpUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1VCkWSufcm4C23gAVUPalNyUJ7i8OlLC4",
          "mode": "list",
          "cachedResultName": "Petições RT Geradas - Monteiro",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VCkWSufcm4C23gAVUPalNyUJ7i8OlLC4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2272,
        -48
      ],
      "id": "4b9dcd34-611b-44c4-a0df-8516aa8b5f20",
      "name": "Copy file",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Duplica o template e insere os dados no docs",
        "height": 352,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2176,
        -208
      ],
      "id": "4685a415-1877-489d-9418-eb84bd4debf3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06762f92-f585-4365-a4d3-425ce27c0bbd",
              "name": "url_view",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/edit",
              "type": "string"
            },
            {
              "id": "3dd1d764-0d04-4192-9b3a-56902528d59b",
              "name": "url_pdf",
              "value": "=https://docs.google.com/document/d/{{ $json.documentId }}/export?format=pdf",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        -80
      ],
      "id": "3e1a3d81-547f-45b4-86fd-f4327a2085d9",
      "name": "Urls de download (docs e pdf)"
    },
    {
      "parameters": {
        "content": "## Atualiza dados no banco ",
        "height": 352,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        -208
      ],
      "id": "65efbd17-55ba-4e8e-9b3e-d6ce823efe27",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://monteiroramalho.getmia.com.br/api/public/n8n-notificacao-callback",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Secret",
              "value": "Mia@2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notificacao_id",
              "value": "={{ $('Organiza os dados').first().json.id_notificacao }}"
            },
            {
              "name": "status",
              "value": "concluido"
            },
            {
              "name": "doc_url",
              "value": "={{ $json.url_view }}"
            },
            {
              "name": "pdf_url",
              "value": "={{ $json.url_pdf }}"
            },
            {
              "name": "regimento_artigo",
              "value": "={{ $('Organiza os dados').item.json.regimento_artigo }}"
            },
            {
              "name": "foto_infracao_url",
              "value": "={{ $('Organiza os dados').first().json.foto_infracao }}"
            },
            {
              "name": "infracao",
              "value": "={{ $('Organiza os dados').first().json.infracao }}"
            },
            {
              "name": "foto_infracao_url_2",
              "value": "={{ $('Organiza os dados').first().json.foto_infracao_2 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3040,
        -80
      ],
      "id": "50b72461-a7c6-44de-832f-6987a0ef6432",
      "name": "Retorno para o sistema"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "peticaotrabalhista",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -32
      ],
      "id": "167667fd-3ba1-49d4-9e32-f128b65c94fc",
      "name": "Webhook",
      "webhookId": "8ec789ac-e237-478f-b7e9-4a43d95d0342"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_NOME_COMPLETO}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_nome_completo }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_NACIONALIDADE}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_nacionalidade }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_ESTADO_CIVIL}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_estado_civil }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_PROFISSAO}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_profissao }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_CPF}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_cpf }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_ENDERECO}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_endereco }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CLIENTE_EMAIL}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cliente_email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CIDADE_UF}}",
              "replaceText": "={{ $('Organiza os dados').item.json.cidade_uf }}"
            },
            {
              "action": "replaceAll",
              "text": "{{RAZAO_SOCIAL_EMPRESA}}"
            },
            {
              "action": "replaceAll",
              "text": "{{CNPJ_EMPRESA}}"
            },
            {
              "action": "replaceAll",
              "text": "{{ENDERECO_EMPRESA}}"
            },
            {
              "action": "replaceAll",
              "text": "{{FATOS}}"
            },
            {
              "action": "replaceAll",
              "text": "{{DIREITOS}}"
            },
            {
              "action": "replaceAll",
              "text": "{{PEDIDOS}}"
            },
            {
              "action": "replaceAll",
              "text": "{{LIQUIDACAO_PROVISORIA_RT}}"
            },
            {
              "action": "replaceAll",
              "text": "{{VALOR_HONORARIOS}}"
            },
            {
              "action": "replaceAll",
              "text": "{{VALOR_GERAL_ESTIMADO}}"
            },
            {
              "action": "replaceAll",
              "text": "{{DATA_PRODUCAO_RT}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2512,
        -64
      ],
      "id": "a22d6e7b-79a5-4939-8a8c-961090ccb511",
      "name": "Substitui os placeholders por dados",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3568ed-91f0-46c4-923f-6a72473a6214",
              "name": "regimento_artigo",
              "value": "={{ $json.output.regimento_artigo }}",
              "type": "string"
            },
            {
              "id": "43741b3a-f448-47fc-a9ab-246ad6206490",
              "name": "regimento_clausula",
              "value": "={{ $json.output.regimento_clausula }}",
              "type": "string"
            },
            {
              "id": "a8430383-48d5-447a-8dac-2ef1160ef775",
              "name": "regimento_fonte",
              "value": "={{ $json.output.regimento_fonte }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        -48
      ],
      "id": "8054a080-b814-4012-9b68-5ef65673a9a0",
      "name": "Organiza os dados"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        608,
        -208
      ],
      "id": "3137ac7b-1e49-4114-aaa2-0f0ffd79c34c",
      "name": "When chat message received",
      "webhookId": "68fcc765-a868-44a9-80c1-2c2e4986c066"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Objetivo deste documento: servir de base de referência (RAG) para o agente de redação de \"Dos Fatos\". Para cada tese/pedido trabalhista comum, o documento lista:\n(a) definição breve, (b) fatos indispensáveis que precisam constar na narrativa\npara sustentar o pedido, (c) evidências típicas associadas, (d) observações e\nsúmulas/OJs de referência (para calibrar relevância, não para citar na narrativa).\n\n\nImportante para o agente: este documento indica QUAIS fatos são\njuridicamente relevantes para cada tese. Ele nunca deve ser usado para\ninventar ou complementar fatos do caso concreto — apenas para saber o que\nprocurar no JSON de qualificados e o que sinalizar como lacuna se estiver\nfaltando.",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1uEo1kuREfIysVILXVp5GVseSmeYCEE4C76eVu5ksX3E/edit?tab=t.0#heading=h.5mtevndquxz7"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1120,
        160
      ],
      "id": "10cda674-6f8f-479a-99e4-6b862d0828a5",
      "name": "SABERES",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "model": "={{ $json.resolvedModel }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        832,
        240
      ],
      "id": "2f4a7b56-87ea-472a-b5bd-18f3d24e2fa8",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Coleta as infos do cliente": {
      "main": [
        [
          {
            "node": "Valida se tem os dados necessários para a petição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se tem os dados necessários para a petição": {
      "main": [
        [
          {
            "node": "Tem os dados necessarios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem os dados necessarios?": {
      "main": [
        [
          {
            "node": "Calculo de Liquidação Provisória e Honorários",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move o lead de etapa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculo de Liquidação Provisória e Honorários": {
      "main": [
        [
          {
            "node": "Verifica modelo da openRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de Fatos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica modelo da openRouter": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de Fundamentação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de Fatos": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gerador de Fundamentação",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Gerador de Pedidos",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de Pedidos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de Fundamentação": {
      "main": [
        [
          {
            "node": "Gerador de Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de Pedidos": {
      "main": [
        [
          {
            "node": "Organiza os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Substitui os placeholders por dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urls de download (docs e pdf)": {
      "main": [
        [
          {
            "node": "Retorno para o sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorno para o sistema": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Coleta as infos do cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Substitui os placeholders por dados": {
      "main": [
        [
          {
            "node": "Urls de download (docs e pdf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza os dados": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gerador de Fatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SABERES": {
      "ai_tool": [
        [
          {
            "node": "Gerador de Fatos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "e8b937eb-34dd-413e-b4d3-9f1684544969",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-08T13:03:21.420Z",
      "createdAt": "2026-07-08T13:03:21.420Z",
      "role": "workflow:owner",
      "workflowId": "3HjTGkIHQZOLbrTt",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}