backup/monteiro---2.2---criar-notificacao-5ovAOsUiOu36EjOn.json
{
  "updatedAt": "2026-05-19T18:45:18.836Z",
  "createdAt": "2026-05-18T20:37:31.672Z",
  "id": "5ovAOsUiOu36EjOn",
  "name": "Monteiro - 2.2 - Criar Notificação",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monteiro-criar-notificacao",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -80
      ],
      "id": "753f7d72-4420-4727-bd20-795c714ce133",
      "name": "Webhook",
      "webhookId": "f9d84b45-1ad1-4d2e-bf97-90a306cff8f8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff3cd5f7-bc39-4f6c-a07f-831e50eecd71",
              "name": "cidade",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.cidade }}",
              "type": "string"
            },
            {
              "id": "b5a5633d-674d-4ed3-b109-1946f9b314a8",
              "name": "numero_despacho",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_despacho }}",
              "type": "string"
            },
            {
              "id": "7478cbf9-9f26-489d-9535-f2a4baf1331b",
              "name": "numero_processo",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_processo }}",
              "type": "string"
            },
            {
              "id": "a6af7004-7fe9-4f20-be03-2abe74ccc1e8",
              "name": "nome_empresa",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output['nome empresa'] }}",
              "type": "string"
            },
            {
              "id": "1d470049-fe79-4b71-b968-f60856c6659d",
              "name": "cnpj",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.cnpj }}",
              "type": "string"
            },
            {
              "id": "1aaf2713-8b86-4866-ba11-26776bd95e41",
              "name": "endereco_completo",
              "value": "={{\n(() => {\n  const logradouro = $json[\"logradouro\"] || \"\";\n  const numero = $json[\"numero\"] || \"\";\n  const complemento = $json[\"complemento\"] ? \" - \" + $json[\"complemento\"] : \"\";\n  const bairro = $json[\"bairro\"] || \"\";\n  const municipio = $json[\"municipio\"] || \"\";\n  const uf = ($json[\"uf\"] || \"\").toUpperCase();\n  const cep = ($json[\"cep\"] || \"\").replace(/\\D/g, \"\").replace(/(\\d{5})(\\d{3})/, \"$1-$2\");\n\n  // Função para colocar a primeira letra de cada palavra em maiúscula\n  const titleCase = (str) =>\n    str\n      .toLowerCase()\n      .replace(/\\b[a-zà-ú]/gi, (c) => c.toUpperCase());\n\n  return `${titleCase(logradouro)}, ${numero}${complemento}, ${titleCase(bairro)}, ${titleCase(municipio)}, ${uf}, ${cep}`;\n})()\n}}",
              "type": "string"
            },
            {
              "id": "0040393e-eb35-4fd2-bc2c-c7d585f266cc",
              "name": "competencia",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.competencia }}",
              "type": "string"
            },
            {
              "id": "40540bab-29af-46ae-9f88-eb5888c44c95",
              "name": "numero_perdcomp",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_perdcomp }}",
              "type": "string"
            },
            {
              "id": "4920375e-48f4-43c5-9aaa-4a0ed94136ed",
              "name": "valor_credito",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_credito }}",
              "type": "string"
            },
            {
              "id": "63ca53ee-37aa-4bc8-b3fc-6f0a32947be9",
              "name": "data_ciencia",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.data_ciencia }}",
              "type": "string"
            },
            {
              "id": "252d5634-caa7-4185-8254-5e3ea1b1edc4",
              "name": "data_inicio_prazo",
              "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_inicio_prazo }}",
              "type": "string"
            },
            {
              "id": "174a1f98-b5f4-4ca2-b4c9-4baa5d2936ad",
              "name": "data_fim_prazo",
              "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_fim_prazo }}",
              "type": "string"
            },
            {
              "id": "7369269c-bd38-4e0e-a005-d2968616c573",
              "name": "valor_principal",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_principal }}",
              "type": "string"
            },
            {
              "id": "32f0bdca-e7f4-4db5-87dc-dac2f5566303",
              "name": "valor_multa",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_multa }}",
              "type": "string"
            },
            {
              "id": "60197081-7fa0-403a-9d8a-744059af9990",
              "name": "valor_juros",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_juros }}",
              "type": "string"
            },
            {
              "id": "5d9466e0-0537-43de-80fc-89d51117c276",
              "name": "id_template",
              "value": "={{ $('Webhook').item.json.body.templateGoogleDocId }}",
              "type": "string"
            },
            {
              "id": "dc104d27-1b92-431f-9c49-a4a98a33ebd6",
              "name": "data_submissao",
              "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_submissao }}",
              "type": "string"
            },
            {
              "id": "bd8ed75d-441b-42bd-89d9-5b1148d6d8b8",
              "name": "codigo_carta",
              "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.codigo_carta }}",
              "type": "string"
            },
            {
              "id": "c460c2ed-cb4b-4bc7-98d0-4906d1cf7192",
              "name": "imagem_razoes_db",
              "value": "={{ $('Upload file').item.json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "8e363a8d-42cb-4452-9ea3-35c6c19544b3",
              "name": "imagem_detalhamento_valores_db",
              "value": "={{ $('Upload file detalhamento compensacao').item.json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -944
      ],
      "id": "399592bd-44cd-4941-aa33-603c49a3702c",
      "name": "Set Campos"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Webhook').first().json.body.template_corpo }}",
          "mode": "id"
        },
        "name": "=NOTIFICACAO_CONDOMINIAL_{{ $('Webhook').first().json.body.notificacao_id }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "0AB7_R2EYCwdpUk9PVA",
          "mode": "list",
          "cachedResultName": "MIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AB7_R2EYCwdpUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1u2nawCvj1ghsrPpAFUAatPbuXoxW4-3o",
          "mode": "list",
          "cachedResultName": "Notificações Condominial - Monteiro",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1u2nawCvj1ghsrPpAFUAatPbuXoxW4-3o"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        -80
      ],
      "id": "5069d10a-4039-442c-bc04-bcb585c9461b",
      "name": "Copy file",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleDriveOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Duplica o template e insere os dados no docs",
        "height": 496,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -240
      ],
      "id": "e2adcc5d-df7a-48e3-8f58-a60a1926ad3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://www.receitaws.com.br/v1/cnpj/{{ $json.body.condominio.cnpj.replace(/\\D/g, '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        -864
      ],
      "id": "86917465-90d2-4669-8407-93dd005519c1",
      "name": "Busca dados via CNPJ",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- `body.condominio.id`: {{ $('Webhook').first().json.body.condominio.id }} — ID do condomínio (use na tool).\n- `body.condominio.nome`: {{ $('Webhook').first().json.body.condominio.nome }} — nome do condomínio (apenas contexto).\n- `body.placeholders.infracao`: {{ $('Webhook').first().json.body.placeholders.infracao }} — descrição textual da infração (foco principal da sua análise).",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Identidade\n\nVocê é um agente jurídico especializado em direito condominial brasileiro. Sua função é analisar a descrição de uma infração cometida por um condômino e localizar, com precisão, o artigo e a cláusula/texto correspondentes dentro dos documentos normativos do condomínio (Regimento Interno e Convenção).\n\nEntrada\n\nVocê recebe um JSON com, entre outros campos:\n- `body.condominio.id` — ID do condomínio (use na tool).\n- `body.condominio.nome` — nome do condomínio (apenas contexto).\n- `body.placeholders.infracao` — descrição textual da infração (foco principal da sua análise).\n\nFerramenta disponível\n\n`busca-fundamentacao`\n- Entrada: `condominio_id` (string UUID).\n- Saída: dois textos longos — `regimento_texto` (Regimento Interno) e `convencoes_texto` (Convenção do Condomínio), extraídos dos documentos oficiais cadastrados.\n- Você DEVE chamar essa tool exatamente uma vez no início, passando o `condominio.id` recebido na entrada, antes de qualquer raciocínio sobre fundamentação.\n\nProcesso de raciocínio (obrigatório, nesta ordem)\n\n1. Leia a descrição da infração (`placeholders.infracao`) e identifique:\n   - O ato/conduta praticado (ex.: instalação fora do padrão, barulho, uso indevido de área comum, inadimplência, animal, obra etc.).\n   - O bem jurídico violado (estética da fachada, sossego, segurança, uso comum, convenção etc.).\n2. Chame `busca-fundamentacao` com o `condominio_id`.\n3. Varra primeiro o Regimento Interno procurando artigos/parágrafos que tratem diretamente da conduta. Se não houver correspondência clara, varra a Convenção.\n4. Escolha a fundamentação mais específica e diretamente aplicável — prefira o artigo que descreve a conduta concreta a um artigo genérico de \"deveres do condômino\". Se houver mais de um aplicável, escolha o mais específico; cite os secundários apenas se forem essenciais.\n5. Extraia literalmente o número do artigo (e parágrafo/inciso quando houver) e o texto da cláusula como aparece no documento. Não reescreva, não parafraseie, não invente numeração.\n\nRegras rígidas\n\n- NUNCA invente artigos, números, parágrafos ou trechos que não estejam literalmente nos textos retornados pela tool.\n- Se a tool retornar vazio, ou se nenhuma cláusula for razoavelmente aplicável à conduta descrita, retorne ambos os campos como string vazia (`\"\"`). Não force uma fundamentação fraca.\n- Use sempre o português jurídico brasileiro, mantendo a grafia original do documento.\n- `regimento_artigo` deve conter apenas a referência curta (ex.: `Art. 23`, `Art. 15, §2º`, `Art. 47, inciso IV`). Sem texto corrido.\n- `regimento_clausula` deve conter o trecho literal citado do documento (uma ou poucas frases, idealmente até ~600 caracteres). Pode incluir o caput + parágrafo se forem indissociáveis. Sem aspas ao redor, sem prefixos do tipo \"Segundo o regimento:\".\n- Se a fundamentação vier da Convenção (e não do Regimento), ainda assim preencha os mesmos dois campos — indique a origem no próprio `regimento_artigo` (ex.: `Convenção, Art. 32`).\n\nSaída (obrigatória)\n\nResponda somente com um objeto JSON válido, sem comentários, sem markdown, sem texto antes ou depois, no formato:\n\n{\n  \"regimento_artigo\": \"Art. 23, §1º\",\n  \"regimento_clausula\": \"É vedada qualquer alteração na fachada do edifício, inclusive a instalação de suportes de ar-condicionado fora do padrão aprovado em assembleia.\"\n}\n\nSe não houver fundamentação aplicável:\n\n{\n  \"regimento_artigo\": \"\",\n  \"regimento_clausula\": \"\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        128,
        -80
      ],
      "id": "da56e347-f0a8-405f-9a1c-77e980a2e2b2",
      "name": "Define Fundamento"
    },
    {
      "parameters": {
        "model": "={{ $json.resolvedModel }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        144
      ],
      "id": "4132a0fc-1c75-4be0-bd07-e23ed9313762",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.miabuilder.com/webhook/open-router-verificacao",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "anthropic/claude-sonnet-4.5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        -80
      ],
      "id": "5c188981-e2bf-4ceb-935d-9c38bb817838",
      "name": "Verifica modelo da openRouter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT regimento_texto, convencoes_texto\nFROM condominios\nWHERE id = '{{ $('Webhook').first().json.body.condominio.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        272,
        128
      ],
      "id": "4652d0dc-9e67-4443-b22b-184c9148337c",
      "name": "busca-fundamentacao",
      "credentials": {
        "postgres": {
          "id": "Hr0gqOEXHC8efR0Q",
          "name": "Monteiro - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"regimento_artigo\": \"Art. 23, §1º\",\n  \"regimento_clausula\": \"É vedada qualquer alteração na fachada do edifício, inclusive a instalação de suportes de ar-condicionado fora do padrão aprovado em assembleia.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        -256
      ],
      "id": "fe776274-8397-45ba-8b8b-ea976bc5e327",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{numero_bloco}}",
              "replaceText": "={{ $('Prepara os dados').first().json.numero_bloco }}"
            },
            {
              "action": "replaceAll",
              "text": "{{numero_unidade}}",
              "replaceText": "={{ $('Prepara os dados').first().json.numero_unidade }}"
            },
            {
              "action": "replaceAll",
              "text": "{{data_infracao}}",
              "replaceText": "={{ $('Prepara os dados').first().json.data_infracao }}"
            },
            {
              "action": "replaceAll",
              "text": "{{nome_condominio}}",
              "replaceText": "={{ $('Prepara os dados').first().json.nome_condominio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{endereco_condominio}}",
              "replaceText": "={{ $('Prepara os dados').first().json.endereco_condominio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cabecalho_notificacao}}",
              "replaceText": "={{ $('Prepara os dados').first().json.cabecalho_notificacao }}"
            },
            {
              "action": "replaceAll",
              "text": "{{infracao}}",
              "replaceText": "={{ $('Prepara os dados').first().json.infracao }}"
            },
            {
              "action": "replaceAll",
              "text": "{{regimento_artigo}}",
              "replaceText": "={{ $('Prepara os dados').first().json.regimento_artigo }}"
            },
            {
              "action": "replaceAll",
              "text": "{{regimento_clausula}}",
              "replaceText": "={{ $('Prepara os dados').first().json.regimento_clausula }}"
            },
            {
              "action": "replaceAll",
              "text": "{{numero_cnpj}}",
              "replaceText": "={{ $('Prepara os dados').first().json.numero_cnpj }}"
            },
            {
              "action": "replaceAll",
              "text": "{{nome_sindico}}",
              "replaceText": "={{ $('Prepara os dados').first().json.nome_sindico }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        960,
        -96
      ],
      "id": "60f632bb-7f18-4706-a1dd-8d499f27c369",
      "name": "Substitui os placeholders por dados",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1b85974-88f4-439b-b56a-84993b28e382",
              "name": "=numero_bloco",
              "value": "={{ $('Webhook').first().json.body.condomino.bloco }}",
              "type": "string"
            },
            {
              "id": "c07f6290-516e-44d8-98f0-be5e1af2254d",
              "name": "numero_unidade",
              "value": "={{ $('Webhook').first().json.body.condomino.unidade }}",
              "type": "string"
            },
            {
              "id": "1c89ab01-3b81-4041-be60-5761b6993052",
              "name": "data_infracao",
              "value": "={{\n(() => {\n  const data = $('Webhook').first().json.body.placeholders.data_infracao;\n\n  const [ano, mes, dia] = data.split('-');\n\n  return `${dia}/${mes}/${ano}`;\n})()\n}}",
              "type": "string"
            },
            {
              "id": "0130933c-3a44-4e6b-b2c9-615216763e95",
              "name": "cabecalho_notificacao",
              "value": "={{ $('Webhook').first().json.body.condomino.relacao }}: {{ $('Webhook').first().json.body.condomino.nome }}",
              "type": "string"
            },
            {
              "id": "90c3085f-f679-44ae-b6b5-1edd54ab40e7",
              "name": "foto_infracao",
              "value": "={{ $('Webhook').first().json.body.placeholders.foto_infracao }}",
              "type": "string"
            },
            {
              "id": "cb3568ed-91f0-46c4-923f-6a72473a6214",
              "name": "regimento_artigo",
              "value": "={{ $json.output.regimento_artigo }}",
              "type": "string"
            },
            {
              "id": "43741b3a-f448-47fc-a9ab-246ad6206490",
              "name": "regimento_clausula",
              "value": "={{ $json.output.regimento_clausula }}",
              "type": "string"
            },
            {
              "id": "8397252a-3b4f-47db-b7cf-21657cb65aa8",
              "name": "nome_condominio",
              "value": "={{ $('Webhook').first().json.body.condominio.nome }}",
              "type": "string"
            },
            {
              "id": "c2354c9d-e3d6-417d-a825-0472609a6bdd",
              "name": "numero_cnpj",
              "value": "={{ $('Webhook').first().json.body.condominio.cnpj }}",
              "type": "string"
            },
            {
              "id": "341d6b30-5ced-411a-9637-25d128348824",
              "name": "nome_sindico",
              "value": "={{ $('Webhook').first().json.body.condominio.sindico_nome }}",
              "type": "string"
            },
            {
              "id": "b83f281f-6015-47dc-a41d-d7a73c69fae9",
              "name": "logo_condominio",
              "value": "={{ $('Webhook').first().json.body.condominio.logo_url }}",
              "type": "string"
            },
            {
              "id": "29afbee8-945f-4def-bfae-a0014ab1006b",
              "name": "endereco_condominio",
              "value": "={{ $('Webhook').first().json.body.condominio.endereco }}",
              "type": "string"
            },
            {
              "id": "b9bace7d-dcb6-4d11-bc6d-a2e69f5f931a",
              "name": "infracao",
              "value": "={{ $('Webhook').first().json.body.placeholders.infracao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -80
      ],
      "id": "ba827fa7-5836-44d6-bf41-0d5beb614b8d",
      "name": "Prepara os dados"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy file').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "={{ $('Edit Fields1').item.json.imagePlaceholder }}",
              "replaceText": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2112,
        -224
      ],
      "id": "2ddb1a68-a4cb-462a-bc2c-40da94f4d4bf",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Copy file').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1264,
        -240
      ],
      "id": "768726fb-f69e-4576-9ff4-f85280802715",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15613466-d656-4928-97fe-45aa1d2b9b4e",
              "name": "imagePlaceholder",
              "value": "{{logo_condominio}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -240
      ],
      "id": "88483299-f7fb-436c-9aef-0d8a3c193613",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"imageIndex\": {{ $('Get a document').item.json.content.indexOf($json.imagePlaceholder) }}\n}\n\n\n",
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -240
      ],
      "id": "c410084f-ff4f-4df9-b071-1251c666858b",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "***REMOVIDO***",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"location\": {\n          \"index\": {{ $('Edit Fields2').item.json.imageIndex + 1}}\n        },\n        \"uri\": \"{{ $('Prepara os dados').first().json.logo_condominio }}\",\n        \"objectSize\": {\n          \"height\": { \"magnitude\": 100, \"unit\": \"PT\" },\n          \"width\": { \"magnitude\": 100, \"unit\": \"PT\" }\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        -240
      ],
      "id": "0ed92ca7-da15-46e5-a1a5-718b857d325f",
      "name": "Insere img no docs",
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Insere a img da logo no local adequado no docs",
        "height": 320,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        -352
      ],
      "id": "0effc3bd-e0fc-4aef-ac85-4a63e89efe9d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06762f92-f585-4365-a4d3-425ce27c0bbd",
              "name": "url_view",
              "value": "=https://docs.google.com/document/d/{{$('Insere img no docs').first().json.documentId}}/edit",
              "type": "string"
            },
            {
              "id": "3dd1d764-0d04-4192-9b3a-56902528d59b",
              "name": "url_pdf",
              "value": "=https://docs.google.com/document/d/{{$('Insere img no docs').first().json.documentId}}/export?format=pdf",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2896,
        -80
      ],
      "id": "7376f2da-1cb5-4965-baba-04f8227726d6",
      "name": "Urls de download (docs e pdf)"
    },
    {
      "parameters": {
        "content": "## Atualiza dados no banco e na planilha",
        "height": 480,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2608,
        -240
      ],
      "id": "ea5de326-06f3-4e21-8fbc-9988ba1853e6",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "defesas_administrativas",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.defensaId.trim() }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cidade",
              "fieldValue": "={{ $('Set Campos').item.json.cidade }}"
            },
            {
              "fieldId": "numero_despacho",
              "fieldValue": "={{ $('Set Campos').item.json.numero_despacho }}"
            },
            {
              "fieldId": "numero_processo",
              "fieldValue": "={{ $('Set Campos').item.json.numero_processo }}"
            },
            {
              "fieldId": "nome_empresa",
              "fieldValue": "={{ $('Set Campos').item.json.nome_empresa }}"
            },
            {
              "fieldId": "endereco_completo",
              "fieldValue": "={{ $('Set Campos').item.json.endereco_completo }}"
            },
            {
              "fieldId": "competencia",
              "fieldValue": "={{ $('Set Campos').item.json.competencia }}"
            },
            {
              "fieldId": "numero_perdcomp",
              "fieldValue": "={{ $('Set Campos').item.json.numero_perdcomp }}"
            },
            {
              "fieldId": "valor_credito",
              "fieldValue": "={{ $('Set Campos').item.json.valor_credito }}"
            },
            {
              "fieldId": "data_ciencia",
              "fieldValue": "={{   (() => {     const raw = $('Set Campos').item.json.data_ciencia;     if (!raw) return null;     const parts = raw.includes('/') ? raw.split('/') : raw.split('-');     if (parts.length !== 3) return null;     const isYearFirst = parts[0].length === 4;     const [day, month, year] = isYearFirst       ? [parts[2], parts[1], parts[0]]       : [parts[0], parts[1], parts[2]];     if (isNaN(Number(day)) || isNaN(Number(month)) || isNaN(Number(year))) return null;     return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;   })() }}"
            },
            {
              "fieldId": "data_inicio_prazo",
              "fieldValue": "={{\n  (() => {\n    const raw = $('Set Campos').item.json.data_inicio_prazo;\n    if (!raw) return null;\n\n    // separa por / ou - automaticamente\n    const parts = raw.includes('/') ? raw.split('/') : raw.split('-');\n\n    // garante que sejam 3 partes (dia, mês, ano)\n    if (parts.length !== 3) return null;\n\n    // detecta se o formato é dd/mm/yyyy ou yyyy-mm-dd\n    const isYearFirst = parts[0].length === 4;\n\n    // monta o ISO (yyyy-mm-dd)\n    const [day, month, year] = isYearFirst\n      ? [parts[2], parts[1], parts[0]]\n      : [parts[0], parts[1], parts[2]];\n\n    // valida os números\n    if (\n      isNaN(Number(day)) ||\n      isNaN(Number(month)) ||\n      isNaN(Number(year))\n    ) return null;\n\n    return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;\n  })()\n}}"
            },
            {
              "fieldId": "data_fim_prazo",
              "fieldValue": "={{   (() => {     const raw = $('Set Campos').item.json.data_fim_prazo;     if (!raw) return null;     const parts = raw.includes('/') ? raw.split('/') : raw.split('-');     if (parts.length !== 3) return null;     const isYearFirst = parts[0].length === 4;     const [day, month, year] = isYearFirst       ? [parts[2], parts[1], parts[0]]       : [parts[0], parts[1], parts[2]];     if (isNaN(Number(day)) || isNaN(Number(month)) || isNaN(Number(year))) return null;     return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;   })() }}"
            },
            {
              "fieldId": "documento_gerado_url_docs",
              "fieldValue": "={{ $json.url_docx }}"
            },
            {
              "fieldId": "documento_gerado_url_pdf",
              "fieldValue": "={{ $json.url_pdf }}"
            },
            {
              "fieldId": "documento_gerado_url_edit",
              "fieldValue": "={{ $json.url_view }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "concluido"
            },
            {
              "fieldId": "cnpj",
              "fieldValue": "={{ $('Set Campos').item.json.cnpj }}"
            },
            {
              "fieldId": "valor_principal",
              "fieldValue": "={{ $('Set Campos').item.json.valor_principal }}"
            },
            {
              "fieldId": "valor_multa",
              "fieldValue": "={{ $('Set Campos').item.json.valor_multa }}"
            },
            {
              "fieldId": "valor_juros",
              "fieldValue": "={{ $('Set Campos').item.json.valor_juros }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3104,
        -816
      ],
      "id": "60b11569-61f8-4304-b635-ff5644689595",
      "name": "Atualiza o banco",
      "credentials": {
        "supabaseApi": {
          "id": "1mIJ3XxYMjb55Xua",
          "name": "BMS - Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Copy file').item.json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "={{ $('Edit Fields').item.json.imagePlaceholder }}",
              "replaceText": "="
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2096,
        112
      ],
      "id": "9bff09a2-51fc-45d0-92ad-fdbac3adf956",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Copy file').item.json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1264,
        96
      ],
      "id": "707faeb0-4c5d-43fa-8317-c2b131a6247a",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15613466-d656-4928-97fe-45aa1d2b9b4e",
              "name": "imagePlaceholder",
              "value": "{{foto_infracao}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        96
      ],
      "id": "e664dc07-2ecc-4c99-be4d-174ab261d3ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef6aa85f-2dfa-4fa9-a748-fa173b51d53a",
              "name": "imageIndex",
              "value": "={{\n(() => {\n\n  const content = $('Get a document1').item.json.body.content;\n\n  const placeholder = $json.imagePlaceholder;\n\n  let foundIndex = -1;\n\n  function search(elements) {\n\n    for (const item of elements) {\n\n      if (item.paragraph?.elements) {\n\n        for (const el of item.paragraph.elements) {\n\n          const text = el.textRun?.content || '';\n\n          if (text.includes(placeholder)) {\n            foundIndex = el.startIndex;\n            return;\n          }\n        }\n      }\n\n      if (item.table?.tableRows) {\n\n        for (const row of item.table.tableRows) {\n\n          for (const cell of row.tableCells) {\n\n            search(cell.content);\n\n            if (foundIndex !== -1) return;\n          }\n        }\n      }\n    }\n  }\n\n  search(content);\n\n  return foundIndex;\n\n})()\n}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        96
      ],
      "id": "bfe8ba89-7ba5-4ef9-ba46-63a3b294f441",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
        "authentication": "***REMOVIDO***",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"location\": {\n          \"index\": {{ $('Edit Fields3').item.json.imageIndex }}\n        },\n        \"uri\": \"{{ $('Prepara os dados').first().json.foto_infracao }}\",\n        \"objectSize\": {\n          \"height\": { \"magnitude\": 200, \"unit\": \"PT\" },\n          \"width\": { \"magnitude\": 200, \"unit\": \"PT\" }\n        }\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        96
      ],
      "id": "0e3e7b7d-7907-41b4-9324-c0fd992f987a",
      "name": "Insere img no docs1",
      "retryOnFail": true,
      "credentials": {
        "googleDocsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Insere a img da infração no local adequado no docs",
        "height": 336,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "cca6fd53-61c1-4c00-84e7-b8661442b380",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2672,
        -80
      ],
      "id": "151742bf-6bfe-46f3-add2-14d82e8ff18c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54975432-d988-4756-811e-aae3ab33c2cb",
              "leftValue": "={{ Number($json.imageIndex) }}",
              "rightValue": "={{ Number(-1) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        96
      ],
      "id": "18105a84-0629-429b-be62-b888a49a0d94",
      "name": "Verifica se tem placeholder da img"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54975432-d988-4756-811e-aae3ab33c2cb",
              "leftValue": "={{ Number($json.imageIndex) }}",
              "rightValue": "={{ Number(-1) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1840,
        -240
      ],
      "id": "09f1fb16-10fd-4e76-855b-dafceb4ab4b2",
      "name": "Verifica se tem placeholder da img1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.callback_url }}",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Callback-Secret",
              "value": "Mia@2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notificacao_id",
              "value": "={{ $('Webhook').first().json.body.notificacao_id }}"
            },
            {
              "name": "status",
              "value": "concluido"
            },
            {
              "name": "doc_url",
              "value": "={{ $json.url_view }}"
            },
            {
              "name": "pdf_url",
              "value": "={{ $json.url_pdf }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        -80
      ],
      "id": "a58cf493-31d7-4b20-b871-7bc3f53dab74",
      "name": "Retorno para o sistema"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "30bf5068-b1b0-4037-acea-da4cd910af4d",
              "leftValue": "={{ $json.body.condominio.endereco }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        -848
      ],
      "id": "28020371-6767-464b-aca3-0184b9d494d2",
      "name": "Verifica se tem endereco"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -80
      ],
      "id": "a3bd81cb-5401-4c06-9b1e-ee91b081d2dd",
      "name": "Valida dados necessarios"
    }
  ],
  "connections": {
    "Set Campos": {
      "main": [
        []
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Substitui os placeholders por dados",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Busca dados via CNPJ": {
      "main": [
        [],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Valida dados necessarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Define Fundamento",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verifica modelo da openRouter": {
      "main": [
        [
          {
            "node": "Define Fundamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca-fundamentacao": {
      "ai_tool": [
        [
          {
            "node": "Define Fundamento",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Define Fundamento": {
      "main": [
        [
          {
            "node": "Prepara os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Define Fundamento",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Substitui os placeholders por dados": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepara os dados": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Insere img no docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Verifica se tem placeholder da img1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere img no docs": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urls de download (docs e pdf)": {
      "main": [
        [
          {
            "node": "Retorno para o sistema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Insere img no docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Verifica se tem placeholder da img",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere img no docs1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Urls de download (docs e pdf)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem placeholder da img": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem placeholder da img1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem endereco": {
      "main": [
        [
          {
            "node": "Busca dados via CNPJ",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Valida dados necessarios": {
      "main": [
        [
          {
            "node": "Verifica modelo da openRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "8351ae8f-e74a-48af-9a96-fbaf051d5342",
  "activeVersionId": "8351ae8f-e74a-48af-9a96-fbaf051d5342",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-18T20:37:31.672Z",
      "createdAt": "2026-05-18T20:37:31.672Z",
      "role": "workflow:owner",
      "workflowId": "5ovAOsUiOu36EjOn",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-19T18:45:18.838Z",
    "createdAt": "2026-05-19T18:45:18.838Z",
    "versionId": "8351ae8f-e74a-48af-9a96-fbaf051d5342",
    "workflowId": "5ovAOsUiOu36EjOn",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "monteiro-criar-notificacao",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -560,
          -80
        ],
        "id": "753f7d72-4420-4727-bd20-795c714ce133",
        "name": "Webhook",
        "webhookId": "f9d84b45-1ad1-4d2e-bf97-90a306cff8f8"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ff3cd5f7-bc39-4f6c-a07f-831e50eecd71",
                "name": "cidade",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.cidade }}",
                "type": "string"
              },
              {
                "id": "b5a5633d-674d-4ed3-b109-1946f9b314a8",
                "name": "numero_despacho",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_despacho }}",
                "type": "string"
              },
              {
                "id": "7478cbf9-9f26-489d-9535-f2a4baf1331b",
                "name": "numero_processo",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_processo }}",
                "type": "string"
              },
              {
                "id": "a6af7004-7fe9-4f20-be03-2abe74ccc1e8",
                "name": "nome_empresa",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output['nome empresa'] }}",
                "type": "string"
              },
              {
                "id": "1d470049-fe79-4b71-b968-f60856c6659d",
                "name": "cnpj",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.cnpj }}",
                "type": "string"
              },
              {
                "id": "1aaf2713-8b86-4866-ba11-26776bd95e41",
                "name": "endereco_completo",
                "value": "={{\n(() => {\n  const logradouro = $json[\"logradouro\"] || \"\";\n  const numero = $json[\"numero\"] || \"\";\n  const complemento = $json[\"complemento\"] ? \" - \" + $json[\"complemento\"] : \"\";\n  const bairro = $json[\"bairro\"] || \"\";\n  const municipio = $json[\"municipio\"] || \"\";\n  const uf = ($json[\"uf\"] || \"\").toUpperCase();\n  const cep = ($json[\"cep\"] || \"\").replace(/\\D/g, \"\").replace(/(\\d{5})(\\d{3})/, \"$1-$2\");\n\n  // Função para colocar a primeira letra de cada palavra em maiúscula\n  const titleCase = (str) =>\n    str\n      .toLowerCase()\n      .replace(/\\b[a-zà-ú]/gi, (c) => c.toUpperCase());\n\n  return `${titleCase(logradouro)}, ${numero}${complemento}, ${titleCase(bairro)}, ${titleCase(municipio)}, ${uf}, ${cep}`;\n})()\n}}",
                "type": "string"
              },
              {
                "id": "0040393e-eb35-4fd2-bc2c-c7d585f266cc",
                "name": "competencia",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.competencia }}",
                "type": "string"
              },
              {
                "id": "40540bab-29af-46ae-9f88-eb5888c44c95",
                "name": "numero_perdcomp",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.numero_perdcomp }}",
                "type": "string"
              },
              {
                "id": "4920375e-48f4-43c5-9aaa-4a0ed94136ed",
                "name": "valor_credito",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_credito }}",
                "type": "string"
              },
              {
                "id": "63ca53ee-37aa-4bc8-b3fc-6f0a32947be9",
                "name": "data_ciencia",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.data_ciencia }}",
                "type": "string"
              },
              {
                "id": "252d5634-caa7-4185-8254-5e3ea1b1edc4",
                "name": "data_inicio_prazo",
                "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_inicio_prazo }}",
                "type": "string"
              },
              {
                "id": "174a1f98-b5f4-4ca2-b4c9-4baa5d2936ad",
                "name": "data_fim_prazo",
                "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_fim_prazo }}",
                "type": "string"
              },
              {
                "id": "7369269c-bd38-4e0e-a005-d2968616c573",
                "name": "valor_principal",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_principal }}",
                "type": "string"
              },
              {
                "id": "32f0bdca-e7f4-4db5-87dc-dac2f5566303",
                "name": "valor_multa",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_multa }}",
                "type": "string"
              },
              {
                "id": "60197081-7fa0-403a-9d8a-744059af9990",
                "name": "valor_juros",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.valor_juros }}",
                "type": "string"
              },
              {
                "id": "5d9466e0-0537-43de-80fc-89d51117c276",
                "name": "id_template",
                "value": "={{ $('Webhook').item.json.body.templateGoogleDocId }}",
                "type": "string"
              },
              {
                "id": "dc104d27-1b92-431f-9c49-a4a98a33ebd6",
                "name": "data_submissao",
                "value": "={{ $('Cálculo das datas em dias úteis').item.json.data_submissao }}",
                "type": "string"
              },
              {
                "id": "bd8ed75d-441b-42bd-89d9-5b1148d6d8b8",
                "name": "codigo_carta",
                "value": "={{ $('Extrair Dados Defesa Administrativa').item.json.output.codigo_carta }}",
                "type": "string"
              },
              {
                "id": "c460c2ed-cb4b-4bc7-98d0-4906d1cf7192",
                "name": "imagem_razoes_db",
                "value": "={{ $('Upload file').item.json.webContentLink }}",
                "type": "string"
              },
              {
                "id": "8e363a8d-42cb-4452-9ea3-35c6c19544b3",
                "name": "imagem_detalhamento_valores_db",
                "value": "={{ $('Upload file detalhamento compensacao').item.json.webContentLink }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          -944
        ],
        "id": "399592bd-44cd-4941-aa33-603c49a3702c",
        "name": "Set Campos"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Webhook').first().json.body.template_corpo }}",
            "mode": "id"
          },
          "name": "=NOTIFICACAO_CONDOMINIAL_{{ $('Webhook').first().json.body.notificacao_id }}",
          "sameFolder": false,
          "driveId": {
            "__rl": true,
            "value": "0AB7_R2EYCwdpUk9PVA",
            "mode": "list",
            "cachedResultName": "MIA",
            "cachedResultUrl": "https://drive.google.com/drive/folders/0AB7_R2EYCwdpUk9PVA"
          },
          "folderId": {
            "__rl": true,
            "value": "1u2nawCvj1ghsrPpAFUAatPbuXoxW4-3o",
            "mode": "list",
            "cachedResultName": "Notificações Condominial - Monteiro",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1u2nawCvj1ghsrPpAFUAatPbuXoxW4-3o"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          720,
          -80
        ],
        "id": "5069d10a-4039-442c-bc04-bcb585c9461b",
        "name": "Copy file",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "credentials": {
          "googleDriveOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Duplica o template e insere os dados no docs",
          "height": 496,
          "width": 544,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          624,
          -240
        ],
        "id": "e2adcc5d-df7a-48e3-8f58-a60a1926ad3e",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "url": "=https://www.receitaws.com.br/v1/cnpj/{{ $json.body.condominio.cnpj.replace(/\\D/g, '') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -368,
          -864
        ],
        "id": "86917465-90d2-4669-8407-93dd005519c1",
        "name": "Busca dados via CNPJ",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=- `body.condominio.id`: {{ $('Webhook').first().json.body.condominio.id }} — ID do condomínio (use na tool).\n- `body.condominio.nome`: {{ $('Webhook').first().json.body.condominio.nome }} — nome do condomínio (apenas contexto).\n- `body.placeholders.infracao`: {{ $('Webhook').first().json.body.placeholders.infracao }} — descrição textual da infração (foco principal da sua análise).",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=Identidade\n\nVocê é um agente jurídico especializado em direito condominial brasileiro. Sua função é analisar a descrição de uma infração cometida por um condômino e localizar, com precisão, o artigo e a cláusula/texto correspondentes dentro dos documentos normativos do condomínio (Regimento Interno e Convenção).\n\nEntrada\n\nVocê recebe um JSON com, entre outros campos:\n- `body.condominio.id` — ID do condomínio (use na tool).\n- `body.condominio.nome` — nome do condomínio (apenas contexto).\n- `body.placeholders.infracao` — descrição textual da infração (foco principal da sua análise).\n\nFerramenta disponível\n\n`busca-fundamentacao`\n- Entrada: `condominio_id` (string UUID).\n- Saída: dois textos longos — `regimento_texto` (Regimento Interno) e `convencoes_texto` (Convenção do Condomínio), extraídos dos documentos oficiais cadastrados.\n- Você DEVE chamar essa tool exatamente uma vez no início, passando o `condominio.id` recebido na entrada, antes de qualquer raciocínio sobre fundamentação.\n\nProcesso de raciocínio (obrigatório, nesta ordem)\n\n1. Leia a descrição da infração (`placeholders.infracao`) e identifique:\n   - O ato/conduta praticado (ex.: instalação fora do padrão, barulho, uso indevido de área comum, inadimplência, animal, obra etc.).\n   - O bem jurídico violado (estética da fachada, sossego, segurança, uso comum, convenção etc.).\n2. Chame `busca-fundamentacao` com o `condominio_id`.\n3. Varra primeiro o Regimento Interno procurando artigos/parágrafos que tratem diretamente da conduta. Se não houver correspondência clara, varra a Convenção.\n4. Escolha a fundamentação mais específica e diretamente aplicável — prefira o artigo que descreve a conduta concreta a um artigo genérico de \"deveres do condômino\". Se houver mais de um aplicável, escolha o mais específico; cite os secundários apenas se forem essenciais.\n5. Extraia literalmente o número do artigo (e parágrafo/inciso quando houver) e o texto da cláusula como aparece no documento. Não reescreva, não parafraseie, não invente numeração.\n\nRegras rígidas\n\n- NUNCA invente artigos, números, parágrafos ou trechos que não estejam literalmente nos textos retornados pela tool.\n- Se a tool retornar vazio, ou se nenhuma cláusula for razoavelmente aplicável à conduta descrita, retorne ambos os campos como string vazia (`\"\"`). Não force uma fundamentação fraca.\n- Use sempre o português jurídico brasileiro, mantendo a grafia original do documento.\n- `regimento_artigo` deve conter apenas a referência curta (ex.: `Art. 23`, `Art. 15, §2º`, `Art. 47, inciso IV`). Sem texto corrido.\n- `regimento_clausula` deve conter o trecho literal citado do documento (uma ou poucas frases, idealmente até ~600 caracteres). Pode incluir o caput + parágrafo se forem indissociáveis. Sem aspas ao redor, sem prefixos do tipo \"Segundo o regimento:\".\n- Se a fundamentação vier da Convenção (e não do Regimento), ainda assim preencha os mesmos dois campos — indique a origem no próprio `regimento_artigo` (ex.: `Convenção, Art. 32`).\n\nSaída (obrigatória)\n\nResponda somente com um objeto JSON válido, sem comentários, sem markdown, sem texto antes ou depois, no formato:\n\n{\n  \"regimento_artigo\": \"Art. 23, §1º\",\n  \"regimento_clausula\": \"É vedada qualquer alteração na fachada do edifício, inclusive a instalação de suportes de ar-condicionado fora do padrão aprovado em assembleia.\"\n}\n\nSe não houver fundamentação aplicável:\n\n{\n  \"regimento_artigo\": \"\",\n  \"regimento_clausula\": \"\"\n}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          128,
          -80
        ],
        "id": "da56e347-f0a8-405f-9a1c-77e980a2e2b2",
        "name": "Define Fundamento"
      },
      {
        "parameters": {
          "model": "={{ $json.resolvedModel }}",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          128,
          144
        ],
        "id": "4132a0fc-1c75-4be0-bd07-e23ed9313762",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "UwoliaFEOcW8kEZD",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://webhook.miabuilder.com/webhook/open-router-verificacao",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "anthropic/claude-sonnet-4.5"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -96,
          -80
        ],
        "id": "5c188981-e2bf-4ceb-935d-9c38bb817838",
        "name": "Verifica modelo da openRouter"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT regimento_texto, convencoes_texto\nFROM condominios\nWHERE id = '{{ $('Webhook').first().json.body.condominio.id }}'",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          272,
          128
        ],
        "id": "4652d0dc-9e67-4443-b22b-184c9148337c",
        "name": "busca-fundamentacao",
        "credentials": {
          "postgres": {
            "id": "Hr0gqOEXHC8efR0Q",
            "name": "Monteiro - Postgres"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"regimento_artigo\": \"Art. 23, §1º\",\n  \"regimento_clausula\": \"É vedada qualquer alteração na fachada do edifício, inclusive a instalação de suportes de ar-condicionado fora do padrão aprovado em assembleia.\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          272,
          -256
        ],
        "id": "fe776274-8397-45ba-8b8b-ea976bc5e327",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{{numero_bloco}}",
                "replaceText": "={{ $('Prepara os dados').first().json.numero_bloco }}"
              },
              {
                "action": "replaceAll",
                "text": "{{numero_unidade}}",
                "replaceText": "={{ $('Prepara os dados').first().json.numero_unidade }}"
              },
              {
                "action": "replaceAll",
                "text": "{{data_infracao}}",
                "replaceText": "={{ $('Prepara os dados').first().json.data_infracao }}"
              },
              {
                "action": "replaceAll",
                "text": "{{nome_condominio}}",
                "replaceText": "={{ $('Prepara os dados').first().json.nome_condominio }}"
              },
              {
                "action": "replaceAll",
                "text": "{{endereco_condominio}}",
                "replaceText": "={{ $('Prepara os dados').first().json.endereco_condominio }}"
              },
              {
                "action": "replaceAll",
                "text": "{{cabecalho_notificacao}}",
                "replaceText": "={{ $('Prepara os dados').first().json.cabecalho_notificacao }}"
              },
              {
                "action": "replaceAll",
                "text": "{{infracao}}",
                "replaceText": "={{ $('Prepara os dados').first().json.infracao }}"
              },
              {
                "action": "replaceAll",
                "text": "{{regimento_artigo}}",
                "replaceText": "={{ $('Prepara os dados').first().json.regimento_artigo }}"
              },
              {
                "action": "replaceAll",
                "text": "{{regimento_clausula}}",
                "replaceText": "={{ $('Prepara os dados').first().json.regimento_clausula }}"
              },
              {
                "action": "replaceAll",
                "text": "{{numero_cnpj}}",
                "replaceText": "={{ $('Prepara os dados').first().json.numero_cnpj }}"
              },
              {
                "action": "replaceAll",
                "text": "{{nome_sindico}}",
                "replaceText": "={{ $('Prepara os dados').first().json.nome_sindico }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          960,
          -96
        ],
        "id": "60f632bb-7f18-4706-a1dd-8d499f27c369",
        "name": "Substitui os placeholders por dados",
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e1b85974-88f4-439b-b56a-84993b28e382",
                "name": "=numero_bloco",
                "value": "={{ $('Webhook').first().json.body.condomino.bloco }}",
                "type": "string"
              },
              {
                "id": "c07f6290-516e-44d8-98f0-be5e1af2254d",
                "name": "numero_unidade",
                "value": "={{ $('Webhook').first().json.body.condomino.unidade }}",
                "type": "string"
              },
              {
                "id": "1c89ab01-3b81-4041-be60-5761b6993052",
                "name": "data_infracao",
                "value": "={{\n(() => {\n  const data = $('Webhook').first().json.body.placeholders.data_infracao;\n\n  const [ano, mes, dia] = data.split('-');\n\n  return `${dia}/${mes}/${ano}`;\n})()\n}}",
                "type": "string"
              },
              {
                "id": "0130933c-3a44-4e6b-b2c9-615216763e95",
                "name": "cabecalho_notificacao",
                "value": "={{ $('Webhook').first().json.body.condomino.relacao }}: {{ $('Webhook').first().json.body.condomino.nome }}",
                "type": "string"
              },
              {
                "id": "90c3085f-f679-44ae-b6b5-1edd54ab40e7",
                "name": "foto_infracao",
                "value": "={{ $('Webhook').first().json.body.placeholders.foto_infracao }}",
                "type": "string"
              },
              {
                "id": "cb3568ed-91f0-46c4-923f-6a72473a6214",
                "name": "regimento_artigo",
                "value": "={{ $json.output.regimento_artigo }}",
                "type": "string"
              },
              {
                "id": "43741b3a-f448-47fc-a9ab-246ad6206490",
                "name": "regimento_clausula",
                "value": "={{ $json.output.regimento_clausula }}",
                "type": "string"
              },
              {
                "id": "8397252a-3b4f-47db-b7cf-21657cb65aa8",
                "name": "nome_condominio",
                "value": "={{ $('Webhook').first().json.body.condominio.nome }}",
                "type": "string"
              },
              {
                "id": "c2354c9d-e3d6-417d-a825-0472609a6bdd",
                "name": "numero_cnpj",
                "value": "={{ $('Webhook').first().json.body.condominio.cnpj }}",
                "type": "string"
              },
              {
                "id": "341d6b30-5ced-411a-9637-25d128348824",
                "name": "nome_sindico",
                "value": "={{ $('Webhook').first().json.body.condominio.sindico_nome }}",
                "type": "string"
              },
              {
                "id": "b83f281f-6015-47dc-a41d-d7a73c69fae9",
                "name": "logo_condominio",
                "value": "={{ $('Webhook').first().json.body.condominio.logo_url }}",
                "type": "string"
              },
              {
                "id": "29afbee8-945f-4def-bfae-a0014ab1006b",
                "name": "endereco_condominio",
                "value": "={{ $('Webhook').first().json.body.condominio.endereco }}",
                "type": "string"
              },
              {
                "id": "b9bace7d-dcb6-4d11-bc6d-a2e69f5f931a",
                "name": "infracao",
                "value": "={{ $('Webhook').first().json.body.placeholders.infracao }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          480,
          -80
        ],
        "id": "ba827fa7-5836-44d6-bf41-0d5beb614b8d",
        "name": "Prepara os dados"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $('Copy file').item.json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "={{ $('Edit Fields1').item.json.imagePlaceholder }}",
                "replaceText": "="
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2112,
          -224
        ],
        "id": "2ddb1a68-a4cb-462a-bc2c-40da94f4d4bf",
        "name": "Update a document",
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $('Copy file').item.json.id }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1264,
          -240
        ],
        "id": "768726fb-f69e-4576-9ff4-f85280802715",
        "name": "Get a document",
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "15613466-d656-4928-97fe-45aa1d2b9b4e",
                "name": "imagePlaceholder",
                "value": "{{logo_condominio}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1488,
          -240
        ],
        "id": "88483299-f7fb-436c-9aef-0d8a3c193613",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"imageIndex\": {{ $('Get a document').item.json.content.indexOf($json.imagePlaceholder) }}\n}\n\n\n",
          "includeOtherFields": "={{ false }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1664,
          -240
        ],
        "id": "c410084f-ff4f-4df9-b071-1251c666858b",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
          "authentication": "***REMOVIDO***",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"location\": {\n          \"index\": {{ $('Edit Fields2').item.json.imageIndex + 1}}\n        },\n        \"uri\": \"{{ $('Prepara os dados').first().json.logo_condominio }}\",\n        \"objectSize\": {\n          \"height\": { \"magnitude\": 100, \"unit\": \"PT\" },\n          \"width\": { \"magnitude\": 100, \"unit\": \"PT\" }\n        }\n      }\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2368,
          -240
        ],
        "id": "0ed92ca7-da15-46e5-a1a5-718b857d325f",
        "name": "Insere img no docs",
        "retryOnFail": true,
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Insere a img da logo no local adequado no docs",
          "height": 320,
          "width": 1376,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1200,
          -352
        ],
        "id": "0effc3bd-e0fc-4aef-ac85-4a63e89efe9d",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "06762f92-f585-4365-a4d3-425ce27c0bbd",
                "name": "url_view",
                "value": "=https://docs.google.com/document/d/{{$('Insere img no docs').first().json.documentId}}/edit",
                "type": "string"
              },
              {
                "id": "3dd1d764-0d04-4192-9b3a-56902528d59b",
                "name": "url_pdf",
                "value": "=https://docs.google.com/document/d/{{$('Insere img no docs').first().json.documentId}}/export?format=pdf",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2896,
          -80
        ],
        "id": "7376f2da-1cb5-4965-baba-04f8227726d6",
        "name": "Urls de download (docs e pdf)"
      },
      {
        "parameters": {
          "content": "## Atualiza dados no banco e na planilha",
          "height": 480,
          "width": 704,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2608,
          -240
        ],
        "id": "ea5de326-06f3-4e21-8fbc-9988ba1853e6",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "defesas_administrativas",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Webhook').item.json.body.defensaId.trim() }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "cidade",
                "fieldValue": "={{ $('Set Campos').item.json.cidade }}"
              },
              {
                "fieldId": "numero_despacho",
                "fieldValue": "={{ $('Set Campos').item.json.numero_despacho }}"
              },
              {
                "fieldId": "numero_processo",
                "fieldValue": "={{ $('Set Campos').item.json.numero_processo }}"
              },
              {
                "fieldId": "nome_empresa",
                "fieldValue": "={{ $('Set Campos').item.json.nome_empresa }}"
              },
              {
                "fieldId": "endereco_completo",
                "fieldValue": "={{ $('Set Campos').item.json.endereco_completo }}"
              },
              {
                "fieldId": "competencia",
                "fieldValue": "={{ $('Set Campos').item.json.competencia }}"
              },
              {
                "fieldId": "numero_perdcomp",
                "fieldValue": "={{ $('Set Campos').item.json.numero_perdcomp }}"
              },
              {
                "fieldId": "valor_credito",
                "fieldValue": "={{ $('Set Campos').item.json.valor_credito }}"
              },
              {
                "fieldId": "data_ciencia",
                "fieldValue": "={{   (() => {     const raw = $('Set Campos').item.json.data_ciencia;     if (!raw) return null;     const parts = raw.includes('/') ? raw.split('/') : raw.split('-');     if (parts.length !== 3) return null;     const isYearFirst = parts[0].length === 4;     const [day, month, year] = isYearFirst       ? [parts[2], parts[1], parts[0]]       : [parts[0], parts[1], parts[2]];     if (isNaN(Number(day)) || isNaN(Number(month)) || isNaN(Number(year))) return null;     return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;   })() }}"
              },
              {
                "fieldId": "data_inicio_prazo",
                "fieldValue": "={{\n  (() => {\n    const raw = $('Set Campos').item.json.data_inicio_prazo;\n    if (!raw) return null;\n\n    // separa por / ou - automaticamente\n    const parts = raw.includes('/') ? raw.split('/') : raw.split('-');\n\n    // garante que sejam 3 partes (dia, mês, ano)\n    if (parts.length !== 3) return null;\n\n    // detecta se o formato é dd/mm/yyyy ou yyyy-mm-dd\n    const isYearFirst = parts[0].length === 4;\n\n    // monta o ISO (yyyy-mm-dd)\n    const [day, month, year] = isYearFirst\n      ? [parts[2], parts[1], parts[0]]\n      : [parts[0], parts[1], parts[2]];\n\n    // valida os números\n    if (\n      isNaN(Number(day)) ||\n      isNaN(Number(month)) ||\n      isNaN(Number(year))\n    ) return null;\n\n    return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;\n  })()\n}}"
              },
              {
                "fieldId": "data_fim_prazo",
                "fieldValue": "={{   (() => {     const raw = $('Set Campos').item.json.data_fim_prazo;     if (!raw) return null;     const parts = raw.includes('/') ? raw.split('/') : raw.split('-');     if (parts.length !== 3) return null;     const isYearFirst = parts[0].length === 4;     const [day, month, year] = isYearFirst       ? [parts[2], parts[1], parts[0]]       : [parts[0], parts[1], parts[2]];     if (isNaN(Number(day)) || isNaN(Number(month)) || isNaN(Number(year))) return null;     return `${year.padStart(4, '0')}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;   })() }}"
              },
              {
                "fieldId": "documento_gerado_url_docs",
                "fieldValue": "={{ $json.url_docx }}"
              },
              {
                "fieldId": "documento_gerado_url_pdf",
                "fieldValue": "={{ $json.url_pdf }}"
              },
              {
                "fieldId": "documento_gerado_url_edit",
                "fieldValue": "={{ $json.url_view }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "concluido"
              },
              {
                "fieldId": "cnpj",
                "fieldValue": "={{ $('Set Campos').item.json.cnpj }}"
              },
              {
                "fieldId": "valor_principal",
                "fieldValue": "={{ $('Set Campos').item.json.valor_principal }}"
              },
              {
                "fieldId": "valor_multa",
                "fieldValue": "={{ $('Set Campos').item.json.valor_multa }}"
              },
              {
                "fieldId": "valor_juros",
                "fieldValue": "={{ $('Set Campos').item.json.valor_juros }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3104,
          -816
        ],
        "id": "60b11569-61f8-4304-b635-ff5644689595",
        "name": "Atualiza o banco",
        "credentials": {
          "supabaseApi": {
            "id": "1mIJ3XxYMjb55Xua",
            "name": "BMS - Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $('Copy file').item.json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "={{ $('Edit Fields').item.json.imagePlaceholder }}",
                "replaceText": "="
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2096,
          112
        ],
        "id": "9bff09a2-51fc-45d0-92ad-fdbac3adf956",
        "name": "Update a document1",
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $('Copy file').item.json.id }}",
          "simple": false
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1264,
          96
        ],
        "id": "707faeb0-4c5d-43fa-8317-c2b131a6247a",
        "name": "Get a document1",
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "15613466-d656-4928-97fe-45aa1d2b9b4e",
                "name": "imagePlaceholder",
                "value": "{{foto_infracao}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1472,
          96
        ],
        "id": "e664dc07-2ecc-4c99-be4d-174ab261d3ff",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ef6aa85f-2dfa-4fa9-a748-fa173b51d53a",
                "name": "imageIndex",
                "value": "={{\n(() => {\n\n  const content = $('Get a document1').item.json.body.content;\n\n  const placeholder = $json.imagePlaceholder;\n\n  let foundIndex = -1;\n\n  function search(elements) {\n\n    for (const item of elements) {\n\n      if (item.paragraph?.elements) {\n\n        for (const el of item.paragraph.elements) {\n\n          const text = el.textRun?.content || '';\n\n          if (text.includes(placeholder)) {\n            foundIndex = el.startIndex;\n            return;\n          }\n        }\n      }\n\n      if (item.table?.tableRows) {\n\n        for (const row of item.table.tableRows) {\n\n          for (const cell of row.tableCells) {\n\n            search(cell.content);\n\n            if (foundIndex !== -1) return;\n          }\n        }\n      }\n    }\n  }\n\n  search(content);\n\n  return foundIndex;\n\n})()\n}}",
                "type": "number"
              }
            ]
          },
          "includeOtherFields": "={{ false }}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1664,
          96
        ],
        "id": "bfe8ba89-7ba5-4ef9-ba46-63a3b294f441",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://docs.googleapis.com/v1/documents/{{ $json.documentId }}:batchUpdate",
          "authentication": "***REMOVIDO***",
          "nodeCredentialType": "googleDocsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"requests\": [\n    {\n      \"insertInlineImage\": {\n        \"location\": {\n          \"index\": {{ $('Edit Fields3').item.json.imageIndex }}\n        },\n        \"uri\": \"{{ $('Prepara os dados').first().json.foto_infracao }}\",\n        \"objectSize\": {\n          \"height\": { \"magnitude\": 200, \"unit\": \"PT\" },\n          \"width\": { \"magnitude\": 200, \"unit\": \"PT\" }\n        }\n      }\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2368,
          96
        ],
        "id": "0e3e7b7d-7907-41b4-9324-c0fd992f987a",
        "name": "Insere img no docs1",
        "retryOnFail": true,
        "credentials": {
          "googleDocsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Insere a img da infração no local adequado no docs",
          "height": 336,
          "width": 1376,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1200,
          0
        ],
        "id": "cca6fd53-61c1-4c00-84e7-b8661442b380",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2672,
          -80
        ],
        "id": "151742bf-6bfe-46f3-add2-14d82e8ff18c",
        "name": "Merge1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "54975432-d988-4756-811e-aae3ab33c2cb",
                "leftValue": "={{ Number($json.imageIndex) }}",
                "rightValue": "={{ Number(-1) }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1840,
          96
        ],
        "id": "18105a84-0629-429b-be62-b888a49a0d94",
        "name": "Verifica se tem placeholder da img"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "54975432-d988-4756-811e-aae3ab33c2cb",
                "leftValue": "={{ Number($json.imageIndex) }}",
                "rightValue": "={{ Number(-1) }}",
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1840,
          -240
        ],
        "id": "09f1fb16-10fd-4e76-855b-dafceb4ab4b2",
        "name": "Verifica se tem placeholder da img1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $('Webhook').first().json.body.callback_url }}",
          "sendHeaders": "***REMOVIDO***",
          "headerParameters": {
            "parameters": [
              {
                "name": "X-Callback-Secret",
                "value": "Mia@2025"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "notificacao_id",
                "value": "={{ $('Webhook').first().json.body.notificacao_id }}"
              },
              {
                "name": "status",
                "value": "concluido"
              },
              {
                "name": "doc_url",
                "value": "={{ $json.url_view }}"
              },
              {
                "name": "pdf_url",
                "value": "={{ $json.url_pdf }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          3104,
          -80
        ],
        "id": "a58cf493-31d7-4b20-b871-7bc3f53dab74",
        "name": "Retorno para o sistema"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "30bf5068-b1b0-4037-acea-da4cd910af4d",
                "leftValue": "={{ $json.body.condominio.endereco }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -560,
          -848
        ],
        "id": "28020371-6767-464b-aca3-0184b9d494d2",
        "name": "Verifica se tem endereco"
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -320,
          -80
        ],
        "id": "a3bd81cb-5401-4c06-9b1e-ee91b081d2dd",
        "name": "Valida dados necessarios"
      }
    ],
    "connections": {
      "Set Campos": {
        "main": [
          []
        ]
      },
      "Copy file": {
        "main": [
          [
            {
              "node": "Substitui os placeholders por dados",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Busca dados via CNPJ": {
        "main": [
          [],
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Valida dados necessarios",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Define Fundamento",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Verifica modelo da openRouter": {
        "main": [
          [
            {
              "node": "Define Fundamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca-fundamentacao": {
        "ai_tool": [
          [
            {
              "node": "Define Fundamento",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Define Fundamento": {
        "main": [
          [
            {
              "node": "Prepara os dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Define Fundamento",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Substitui os placeholders por dados": {
        "main": [
          [
            {
              "node": "Get a document",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get a document1",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Prepara os dados": {
        "main": [
          [
            {
              "node": "Copy file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a document": {
        "main": [
          [
            {
              "node": "Insere img no docs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a document": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Verifica se tem placeholder da img1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insere img no docs": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Urls de download (docs e pdf)": {
        "main": [
          [
            {
              "node": "Retorno para o sistema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a document1": {
        "main": [
          [
            {
              "node": "Insere img no docs1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a document1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Verifica se tem placeholder da img",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insere img no docs1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Urls de download (docs e pdf)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se tem placeholder da img": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Update a document1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se tem placeholder da img1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica se tem endereco": {
        "main": [
          [
            {
              "node": "Busca dados via CNPJ",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Valida dados necessarios": {
        "main": [
          [
            {
              "node": "Verifica modelo da openRouter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}