backup/my-workflow-3-pzILBWv7R5t1I4i5.json
{
  "updatedAt": "2025-12-06T02:30:23.419Z",
  "createdAt": "2025-12-06T02:26:37.197Z",
  "id": "pzILBWv7R5t1I4i5",
  "name": "My workflow 3",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "finamob-historico_mensagens",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $json.telefone }}"
            },
            {
              "keyName": "nome_app",
              "condition": "eq",
              "keyValue": "SDR-LUANA"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1280,
        192
      ],
      "id": "8933f0c8-3a75-4adc-97a5-aaddc26dc284",
      "name": "Pega histórico de mensagens",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "J2ITvTeT2ru3SEdo",
          "name": "EMI - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ordena as mensagens pela data\nitems.sort((a, b) =>\n  new Date(a.json.created_at).getTime() - new Date(b.json.created_at).getTime()\n);\n\nfunction formatarData(isoDate) {\n  const d = new Date(isoDate);\n  const dia = String(d.getDate()).padStart(2, \"0\");\n  const mes = String(d.getMonth() + 1).padStart(2, \"0\");\n  const ano = d.getFullYear();\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst historico = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const data = formatarData(row.created_at);\n\n  if (row.mensagem_usuario?.trim()) {\n    historico.push({\n      autor: \"Usuário\",\n      mensagem: row.mensagem_usuario.trim(),\n      data\n    });\n  }\n\n  if (row.mensagem_agente?.trim()) {\n    historico.push({\n      autor: \"Agente\",\n      mensagem: row.mensagem_agente.trim(),\n      data\n    });\n  }\n}\n\n// =====================================================\n// NOVO TRECHO → Conta mensagens seguidas do agente\n// =====================================================\nlet qtd_mensagens_sem_resposta = 0;\n\nfor (let i = historico.length - 1; i >= 0; i--) {\n  if (historico[i].autor === \"Agente\") {\n    qtd_mensagens_sem_resposta++;\n  } else {\n    break; // usuário falou → reset\n  }\n}\n// =====================================================\n\nreturn [\n  {\n    json: {\n      historico_conversa: historico,\n      qtd_mensagens_sem_resposta\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        192
      ],
      "id": "daf20083-6777-4ff2-a1f5-036c817eeeef",
      "name": "Formata histórico de mensagens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -496,
        96
      ],
      "id": "b5dba641-1c96-497b-9ee6-0c15bd5772a4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "287c103b-58ba-8057-bd3f-e2b83606d543",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://www.notion.so/287c103b58ba8057bd3fe2b83606d543"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1984,
        -16
      ],
      "id": "54f69f36-d9df-43ef-95a1-d93ed0320e08",
      "name": "Pega os leads do Notion",
      "credentials": {
        "notionApi": {
          "id": "jmIIz8ORpI5khHQI",
          "name": "EMI - Notion"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1728,
        -16
      ],
      "id": "dcfbc5d9-dcdd-4c61-8fed-0a016996539a",
      "name": "Iterar sobre cada lead"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "940b2951-9c80-4163-ad9f-fd5296a59997",
              "name": "database_page",
              "value": "={{ $('Pega os leads do Notion').item.json.id }}",
              "type": "string"
            },
            {
              "id": "5b6ca92b-2cff-4c1f-ade0-9a600c0fc251",
              "name": "name",
              "value": "={{ $json.name.split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "901826dc-2d94-4924-b751-d89417652c38",
              "name": "telefone",
              "value": "={{ $json.property_contato }}",
              "type": "string"
            },
            {
              "id": "1cc3014b-f284-429a-aa2e-9ecb0c55daec",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "19372fe2-5de0-4557-aa1f-2d4dca0d37e4",
              "name": "etapa",
              "value": "={{ $json.property_etapa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        0
      ],
      "id": "c486d194-254f-4827-a25c-e7f0183009ae",
      "name": "Preparar campos do lead"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        16
      ],
      "id": "d7320502-7ec7-4218-839b-8ed4d989fa38",
      "name": "Combinar dados do lead + histórico"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dia Atual:\n\n{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\n\nVocê é um analista especializado em comportamento de leads da Escola do Mercado Imobiliário.\nSua função é avaliar o histórico de conversa entre o agente comercial (“Agente”) e o lead (“Usuário”) e gerar uma classificação completa sobre o interesse real do lead.\n\n\n- Sua única função é LER e CLASSIFICAR.\n\nSua tarefa é gerar APENAS o JSON abaixo:\n{\n  \"nota\": <número de 0 a 10>,\n  \"categoria\": \"<categoria mais adequada>\",\n  \"mensagem_resumo\": \"<frase curta e objetiva>\"\n}\n\nInstruções de análise:\n\nAnalise exclusivamente:\n{{ JSON.stringify($json.historico_conversa, null, 2) }}\n\nConsidere:\n\n- nível de engajamento\n- clareza de intenção\n- avanços concretos (perguntas, interesse, marcação, objeções, desistência)\n- tom emocional (empolgado, frio, educado, hostil, indiferente)\n- profundidade das respostas\n- se existe interesse imediato, futuro ou nenhum\n- se houve barreiras técnicas / ausência / no-show\n\ncontexto geral da interação\n\nNota (0 a 10):\n\nAvalie o interesse real, independente da etapa ou status do lead.\n\nUse esta régua:\n\n0–2 → totalmente desinteressado / rejeitou / hostil\n3–4 → fraco / respondeu pouco / sem intenção real\n5–6 → morno / curioso / indeciso\n7–8 → interessado / engajado\n9–10 → muito interessado / prestes a converter / marcou ou tentou marcar\n\nCategoria:\n\nEscolha a categoria que melhor define a conversa.\nUse as categorias específicas abaixo sempre que fizer sentido (NÃO invente nova se já existir uma categoria compatível):\n\nALTO INTERESSE:\n\n- Marcou reunião imediatamente\n- Marcou reunião após alinhamento\n- Marcou reunião mas teve problema técnico\n- Marcou reunião e pediu detalhes adicionais\n- Alta intenção com dúvidas finais\n- Engajado e buscando condições especiais\n- Engajado e pedindo visita presencial\n- Alto interesse, pediu link de inscrição\n- Demonstrou interesse em investimento/financiamento\n- Interesse claro em estratégias de investimento\n- Interesse dependente de disponibilidade futura\n\nINTERESSE MÉDIO\n\n- Interesse moderado, respondeu mas não marcou\n- Interessado, mas adiando decisão\n- Interesse parcial, pediu informações, mas não avançou\n- Quer saber mais, mas indeciso\n- Engajou mas não escolheu horário\n- Interesse dependente de disponibilidade futura\n\nPOSSÍVEL FUTURO/TAMBÉM COM INTERESSE\n\n- Sem tempo agora, mas quer retomar depois\n- Pediu para lembrar futuramente\n- Interesse futuro devido à agenda do mês\n- Possível comprador futuro\n- Aguardando condições melhores\n\nDÚVIDAS TÉCNICAS / PRODUTO / INTERESSE\n\nPerguntas sobre data, duração, local\nPerguntas sobre formato (online/presencial)\nDúvidas sobre credibilidade\nPergunta sobre valor\nInteresse em visitar a sede\n\nBAIXO INTERESSE\n\n- Baixo interesse, responde pouco\n- Baixo engajamento após informações\n- Desinteresse leve, mas cordial\n- Só pediu informação sem intenção\n- Rejeitou por ser IA\n\nSEM INTERESSE\n\n- Dispensou a imersão\n- Não quer no momento\n- Recusou claramente\n- Rompeu contato\n\nDESQUALIFICADO\n\n- Fora do perfil, buscando algo que não vendemos\n- Ofereceu serviço à EMI\n- Quer vender algo\n- Não é lead válido\n\nPROBLEMAS / TÉCNICO\n\n- Problema de agenda\n- Problema técnico na reunião\n- Perguntando repetidamente se é IA\n- Mensagens confusas, má comunicação\n\nCONTATO FRIO\n\n- Não respondeu após tentativas\n- Respostas mínimas\n- Emoji / conversa vazia\n- Nenhum avanço real\n\nREAGENDAMENTO / NO-SHOW\n\n- Reunião remarcada\n- No-show\n- Lead tentou entrar mas não conseguiu\n\n\nSe não se encaixar em nenhuma dessas categorias:\n\nUse: \"Outro, não se enquadra nas categorias existentes\"\n\n\nmensagem_resumo:\n\nCrie uma frase curta (máx. 20 palavras), objetiva, descrevendo a essência da conversa, como:\n\n“Interessado, pediu detalhes mas não avançou.”\n“Engajado e prestes a marcar.”\n“Sem interesse após tentativas.”\n“Quer retomar futuramente.”\n“Problema técnico impediu avanço.”\n\nNão copie trechos do histórico.\nSeja direto, natural e claro.\n\n🧱 Saída Final\n\nRetorne apenas o JSON, sem explicação, texto extra ou comentários.\n\nIMPORTANTE: Retorne o JSON puro, sem aspas, sem caracteres de escape e sem envolver todo o JSON em uma string.\nA resposta deve ser exatamente um objeto JSON válido.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -496,
        272
      ],
      "id": "39ef8c44-97e1-4ebf-838c-3415b7e938fd",
      "name": "Agente IA - Luana"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2192,
        -16
      ],
      "id": "41c07711-c66e-4494-9026-ef2e7353db76",
      "name": "Disparo diário às 11h"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "287c103b-58ba-8057-bd3f-e2b83606d543",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://www.notion.so/287c103b58ba8057bd3fe2b83606d543"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Contato|phone_number",
              "condition": "equals",
              "phoneNumberValue": "={{ $('Preparar campos do lead').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        -32
      ],
      "id": "c0eff4eb-3686-491a-8f41-25f9b4133c39",
      "name": "Pega os leads do Notion1",
      "credentials": {
        "notionApi": {
          "id": "jmIIz8ORpI5khHQI",
          "name": "EMI - Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nota|number",
              "numberValue": null
            },
            {
              "key": "Categoria|rich_text"
            },
            {
              "key": "Resumo Conversa|rich_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        128,
        368
      ],
      "id": "635bcd97-e3c3-4486-a83c-3b262881cd7d",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "jmIIz8ORpI5khHQI",
          "name": "EMI - Notion"
        }
      }
    }
  ],
  "connections": {
    "Pega histórico de mensagens": {
      "main": [
        [
          {
            "node": "Formata histórico de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata histórico de mensagens": {
      "main": [
        [
          {
            "node": "Combinar dados do lead + histórico",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA - Luana",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pega os leads do Notion": {
      "main": [
        [
          {
            "node": "Iterar sobre cada lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterar sobre cada lead": {
      "main": [
        [],
        [
          {
            "node": "Preparar campos do lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar campos do lead": {
      "main": [
        [
          {
            "node": "Pega histórico de mensagens",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combinar dados do lead + histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar dados do lead + histórico": {
      "main": [
        [
          {
            "node": "Agente IA - Luana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA - Luana": {
      "main": [
        [
          {
            "node": "Pega os leads do Notion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Iterar sobre cada lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo diário às 11h": {
      "main": [
        [
          {
            "node": "Pega os leads do Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "versionId": "02b907d8-d415-4c6e-ab2c-842d36fbac5b",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-06T02:26:37.197Z",
      "createdAt": "2025-12-06T02:26:37.197Z",
      "role": "workflow:owner",
      "workflowId": "pzILBWv7R5t1I4i5",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}