backup/my-workflow-22-KCm91mF91CPx1ysU.json
{
  "updatedAt": "2026-04-23T18:48:20.818Z",
  "createdAt": "2026-04-23T14:02:07.399Z",
  "id": "KCm91mF91CPx1ysU",
  "name": "My workflow 22",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -64
      ],
      "id": "7e92cc65-55f5-40d3-8b14-e7d8208abb90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
          "mode": "list",
          "cachedResultName": "Database - Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1458216537,
          "mode": "list",
          "cachedResultName": "calls_pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        -64
      ],
      "id": "804b41d3-dcf0-41a9-becd-b954697bd42f",
      "name": "Consultar quantiidade de linhas",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
          "mode": "list",
          "cachedResultName": "Database - Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1458216537,
          "mode": "list",
          "cachedResultName": "calls_pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
        },
        "numberToDelete": "={{ $items().length }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -64
      ],
      "id": "8ab41572-4c6b-471e-95d7-2367eba037bd",
      "name": "Excluir linhas",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
          "mode": "list",
          "cachedResultName": "Database - Finamob",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1458216537,
          "mode": "list",
          "cachedResultName": "calls_pipeline",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente_nome",
              "displayName": "cliente_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "responsavel_id",
              "displayName": "responsavel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dt_call",
              "displayName": "dt_call",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dt_realizacao",
              "displayName": "dt_realizacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "grupo_id",
              "displayName": "grupo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mailing_id",
              "displayName": "mailing_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "card_id",
              "displayName": "card_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs",
              "displayName": "obs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idcliente",
              "displayName": "idcliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clientes",
              "displayName": "clientes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idincorporadora",
              "displayName": "idincorporadora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "plano_de_acao",
              "displayName": "plano_de_acao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_contato",
              "displayName": "ultimo_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dono_do_lead",
              "displayName": "dono_do_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uf",
              "displayName": "uf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cargo",
              "displayName": "cargo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "proximidade",
              "displayName": "proximidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipocliente",
              "displayName": "tipocliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "midia",
              "displayName": "midia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ordem",
              "displayName": "ordem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "datacriacao",
              "displayName": "datacriacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discard_pending",
              "displayName": "discard_pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "prime_pending",
              "displayName": "prime_pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira",
              "displayName": "lixeira",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira_em",
              "displayName": "lixeira_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira_por",
              "displayName": "lixeira_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lixeira_motivo",
              "displayName": "lixeira_motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        -64
      ],
      "id": "5c75b719-8381-4975-8e7d-5dbc8563c6a7",
      "name": "Adicionar linhas novas",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM calls_pipeline\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        -64
      ],
      "id": "792c5fad-44f7-4236-90f7-d5424f3cc978",
      "name": "Consulta calls_pipeline",
      "credentials": {
        "mySql": {
          "id": "8ItpiHe2joMjz6qf",
          "name": "Finamob database"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Consultar quantiidade de linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar quantiidade de linhas": {
      "main": [
        [
          {
            "node": "Excluir linhas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excluir linhas": {
      "main": [
        [
          {
            "node": "Consulta calls_pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta calls_pipeline": {
      "main": [
        [
          {
            "node": "Adicionar linhas novas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "76c9c274-ad58-474d-9b4f-bd4d853e2fdb",
  "activeVersionId": "76c9c274-ad58-474d-9b4f-bd4d853e2fdb",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-23T14:02:07.399Z",
      "createdAt": "2026-04-23T14:02:07.399Z",
      "role": "workflow:owner",
      "workflowId": "KCm91mF91CPx1ysU",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-23T18:48:20.821Z",
    "createdAt": "2026-04-23T18:48:20.821Z",
    "versionId": "76c9c274-ad58-474d-9b4f-bd4d853e2fdb",
    "workflowId": "KCm91mF91CPx1ysU",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 6
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -352,
          -64
        ],
        "id": "7e92cc65-55f5-40d3-8b14-e7d8208abb90",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
            "mode": "list",
            "cachedResultName": "Database - Finamob",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1458216537,
            "mode": "list",
            "cachedResultName": "calls_pipeline",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -144,
          -64
        ],
        "id": "804b41d3-dcf0-41a9-becd-b954697bd42f",
        "name": "Consultar quantiidade de linhas",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
            "mode": "list",
            "cachedResultName": "Database - Finamob",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1458216537,
            "mode": "list",
            "cachedResultName": "calls_pipeline",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
          },
          "numberToDelete": "={{ $items().length }}"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          80,
          -64
        ],
        "id": "8ab41572-4c6b-471e-95d7-2367eba037bd",
        "name": "Excluir linhas",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs",
            "mode": "list",
            "cachedResultName": "Database - Finamob",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1458216537,
            "mode": "list",
            "cachedResultName": "calls_pipeline",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xEEd4wJOk379AaZR4cZ2mpBk7tJR8TKIy3PWowRT9Xs/edit#gid=1458216537"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cliente_nome",
                "displayName": "cliente_nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "telefone",
                "displayName": "telefone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "responsavel_id",
                "displayName": "responsavel_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "dt_call",
                "displayName": "dt_call",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "dt_realizacao",
                "displayName": "dt_realizacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "grupo_id",
                "displayName": "grupo_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mailing_id",
                "displayName": "mailing_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "card_id",
                "displayName": "card_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "obs",
                "displayName": "obs",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "updated_at",
                "displayName": "updated_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "idcliente",
                "displayName": "idcliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "clientes",
                "displayName": "clientes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "idincorporadora",
                "displayName": "idincorporadora",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "empresa",
                "displayName": "empresa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tipo",
                "displayName": "tipo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "plano_de_acao",
                "displayName": "plano_de_acao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "whatsapp",
                "displayName": "whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "site",
                "displayName": "site",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ultimo_contato",
                "displayName": "ultimo_contato",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "dono_do_lead",
                "displayName": "dono_do_lead",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cidade",
                "displayName": "cidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "uf",
                "displayName": "uf",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cargo",
                "displayName": "cargo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "proximidade",
                "displayName": "proximidade",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tipocliente",
                "displayName": "tipocliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "midia",
                "displayName": "midia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "ordem",
                "displayName": "ordem",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "datacriacao",
                "displayName": "datacriacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "discard_pending",
                "displayName": "discard_pending",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "prime_pending",
                "displayName": "prime_pending",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lixeira",
                "displayName": "lixeira",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lixeira_em",
                "displayName": "lixeira_em",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lixeira_por",
                "displayName": "lixeira_por",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "lixeira_motivo",
                "displayName": "lixeira_motivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          528,
          -64
        ],
        "id": "5c75b719-8381-4975-8e7d-5dbc8563c6a7",
        "name": "Adicionar linhas novas",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM calls_pipeline\n",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          288,
          -64
        ],
        "id": "792c5fad-44f7-4236-90f7-d5424f3cc978",
        "name": "Consulta calls_pipeline",
        "credentials": {
          "mySql": {
            "id": "8ItpiHe2joMjz6qf",
            "name": "Finamob database"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Consultar quantiidade de linhas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar quantiidade de linhas": {
        "main": [
          [
            {
              "node": "Excluir linhas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Excluir linhas": {
        "main": [
          [
            {
              "node": "Consulta calls_pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consulta calls_pipeline": {
        "main": [
          [
            {
              "node": "Adicionar linhas novas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}