backup/social-media---journal---mia-JIcSovjV9Z7BJ8y8.json
{"createdAt":"2025-07-29T10:16:49.714Z","updatedAt":"2025-08-31T17:47:49.392Z","id":"JIcSovjV9Z7BJ8y8","name":"Social Media - Journal - Mia","active":false,"isArchived":true,"nodes":[{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $json.instagram_business_account_id }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"image_url","value":"={{ $json.image_url }}"},{"name":"caption","value":"={{ $json.instagram_post_caption }}"}]}}},"id":"2df0dded-6f96-48a7-a5c8-736f9cdd314d","name":"Instagram prepare media","type":"n8n-nodes-base.facebookGraphApi","position":[16,1824],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v20.0","node":"={{ $('Instagram params').item.json.instagram_business_account_id }}","edge":"media_publish","options":{"queryParameters":{"parameter":[{"name":"creation_id","value":"={{ $json.id }}"}]}}},"id":"5d9ab717-eac9-45c9-a7ea-9890e8e54eeb","name":"Instagram publish media","type":"n8n-nodes-base.facebookGraphApi","position":[544,1744],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"content":"Add your credential","height":430.4091991661993,"width":1329.8249455924943},"id":"de677405-53fb-4569-8032-f888d3e33a5d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-32,1680],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"225df266-bf29-4415-b04c-2750cef4506a","name":"image_url","type":"string","value":"={{ $json.imagem_url }}"},{"id":"1e380c14-e908-4eeb-90e0-957a422829d0","name":"instagram_business_account_id","type":"string","value":"17841475443525557"},{"id":"f35e3093-1bff-4cc6-a6c4-909dca314cc7","name":"instagram_post_caption","type":"string","value":"={{ $json.legenda }}"}]},"options":{}},"id":"a4d65630-c425-452f-9820-852dd835754d","name":"Instagram params","type":"n8n-nodes-base.set","position":[-192,1824],"typeVersion":3.4},{"parameters":{"graphApiVersion":"v20.0","node":"=me","options":{"fields":{"field":[{"name":"name"},{"name":"connected_instagram_account"}]}}},"id":"7e240bc9-bf02-413e-9eec-cb23bca06979","name":"Node just for retrive id of instagram page","type":"n8n-nodes-base.facebookGraphApi","position":[-224,1472],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}},"disabled":true},{"parameters":{"content":"You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually","height":289,"width":318},"id":"749c1191-61b1-4564-b433-0ab40780156f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-336,1344],"typeVersion":1},{"parameters":{"content":"Here we have all parameters for posting in instagram image url, caption and instagram business profile id","height":310,"width":188,"color":3},"id":"806e805a-b379-4515-9eb4-d71b5420e533","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-240,1680],"typeVersion":1},{"parameters":{"content":"## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.","height":792,"width":439.10253951549294,"color":7},"id":"b62ba569-7a29-48e1-9cbb-fada346e427e","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-496,2000],"typeVersion":1},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"4da6af62-921d-4b65-9692-86a07103a228","name":"Instagram check status of media uploaded before","type":"n8n-nodes-base.facebookGraphApi","position":[192,1824],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"FINISHED"}]},"options":{}},"id":"cdb7dc68-2b4b-4cc6-9947-374d7742b255","name":"If media status is finished","type":"n8n-nodes-base.if","position":[352,1824],"typeVersion":2.2},{"parameters":{"graphApiVersion":"v20.0","node":"={{ $('Instagram check status of media uploaded before').item.json.id }}","options":{"fields":{"field":[{"name":"id"},{"name":"status"},{"name":"status_code"}]}}},"id":"7188567d-1ee3-4336-8075-4cb8211c68b7","name":"Instagram check status of media published before","type":"n8n-nodes-base.facebookGraphApi","position":[752,1744],"typeVersion":1,"credentials":{"facebookGraphApi":{"id":"dkFyHSyOCKuDpU6q","name":"Facebook Graph account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0304efee-33b2-499e-bad1-9238c1fc2999","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status_code }}","rightValue":"PUBLISHED"}]},"options":{}},"id":"0b113886-7b8f-4fc2-a4f8-40cddfd5e51a","name":"If media status is finished1","type":"n8n-nodes-base.if","position":[944,1744],"typeVersion":2.2},{"parameters":{"content":"You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node","height":102.11100456713636,"color":3},"id":"08474368-1005-4998-996f-560a411f610d","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[496,2128],"typeVersion":1},{"parameters":{"content":"You can send email for unsuccessful publishing or what you want, you can trigger another workflow or another node","height":112.31608359812239,"color":3},"id":"c8670f95-0b0f-4e64-afed-4ac40df63d7a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1344,1872],"typeVersion":1},{"parameters":{"content":"You can send email for successfull publishing or what you want, you can trigger another workflow or another node","height":112.31608359812239,"color":3},"id":"6341d22a-c2e9-4426-804c-79eadff5b972","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1344,1712],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-9088,992],"id":"edc5dc86-145b-44a8-86cf-222e24a390de","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8832,992],"id":"9f6678b0-3e49-4686-a621-39ea9a8104b9","name":"No Operation, do nothing"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4176,1136],"id":"7b19abab-46d8-4881-b6a9-8338c1a2bb8c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"o1ywdYlH64cgqSMT","name":"OpenRouter account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const binaryData = $input.item.binary?.[\"imagem_final\"];\n\nif (!binaryData || !binaryData.data) {\n  throw new Error(\"Campo 'imagem_final' não encontrado no binário.\");\n}\n\nconst base64 = Buffer.from(binaryData.data, 'base64').toString(\"base64\");\n\nreturn {\n  json: {\n    base64Image: base64\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2384,800],"id":"d92af25f-27aa-402d-85f9-97480598ae6c","name":"Binary > base64"},{"parameters":{"operation":"createFromText","content":"={{ $json.base64Image }}","name":"={{$json[\"arquivo_base64\"]}}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1tJ4xVq80LujMuMZvB8DP9YAj7-iNcvy-","mode":"list","cachedResultName":"mia - base64","cachedResultUrl":"https://drive.google.com/drive/folders/1tJ4xVq80LujMuMZvB8DP9YAj7-iNcvy-"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1488,896],"id":"1cfab941-db55-4c1a-ae04-bd960df104af","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ZkmaJh5Y8Zdz8ju7","name":"Google Drive - lucas@getmia.com.br"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["status"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-720,1840],"id":"66d00ae1-a4c2-4077-9414-348ef9de0ba1","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"PvlXorOaq6vxhcle","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"54fa4546-8262-4651-9b0e-ce3a2f66416f","leftValue":"={{ $json.status }}","rightValue":"aprovado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,1840],"id":"7d37b94b-e6fc-4c7a-b59c-71b59ee25394","name":"If8"},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia falhou!","message":"Post Mia falhou!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[544,1952],"id":"932ae6ed-8541-4d7e-a79e-51f83651ea2a","name":"Send a message","webhookId":"35067540-1aeb-4828-8303-d1da5336d20a","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia deu certo!","message":"Post Mia deu certo!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,1712],"id":"abf241bc-6c42-4066-8414-567a68568a1a","name":"Send a message1","webhookId":"06550803-3751-4ebc-93a1-78f631a9475e","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"sendTo":"lucas@getmia.com.br","subject":"Post Mia falhou 2!","message":"Post Mia falhou 2!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1168,1888],"id":"e2dad21f-b222-435c-aa62-2743e3ff67dd","name":"Send a message2","webhookId":"21a8259c-0399-4b59-88fb-2e444bf60a64","credentials":{"gmailOAuth2":{"id":"nSkQlWbOu4FNRL2N","name":"Gmail - lucas@getmia.com.br"}}},{"parameters":{"content":"# Portais de notícias\n\n### Portais de notícias que o fluxo irá consultar para gerar os posts","height":2576,"width":2176},"type":"n8n-nodes-base.stickyNote","position":[-8608,-256],"typeVersion":1,"id":"34c817fc-1129-4628-950e-3b1086128831","name":"Sticky Note"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Coloque os possíveis campos que podem trazer a imagem direto do RSS\nconst possiveisCampos = [\n  $json['media:content']?.url,\n  $json['enclosure']?.url,\n  $json['image'],\n  $json['og:image']\n];\nconst imagemDireta = possiveisCampos.find(x => !!x);\n\nreturn {\n  ...$json,\n  imagem: imagemDireta || '' // Se não tiver, deixa vazio\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6240,960],"id":"0ed1a022-cd5a-46f1-9452-1b91295714b3","name":"Padronização do campo imagem","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5d79643-ef81-4cef-b02d-371990a64543","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6032,960],"id":"efe73bdd-75ec-4ec0-938d-d3987c0d98ff","name":"Validação do campo imagem"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  ...$json,\n  original: $json // salva todos os dados da notícia\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5776,832],"id":"39a4e635-20d5-4a4b-b22b-1e61202afcd2","name":"Backup dados da notícia"},{"parameters":{"url":"={{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5552,832],"id":"554bd0b3-fd43-401e-8169-a739039ec82b","name":"Buscar HTML da notícia","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Traz de volta todos os campos da notícia original, mais o campo 'imagem'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}), // todos os campos originais\n  imagem                    // novo campo imagem atualizado\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5312,832],"id":"9ea46d9d-f947-467f-a65e-32dbd54feac5","name":"Extrair imagem do HTML","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05295fc0-aca6-433a-a239-c5d8ed4fc011","leftValue":"={{ $json.imagem }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5088,832],"id":"5ec89132-b303-4d8d-ae27-bb397f5357a7","name":"Imagem encontrada?"},{"parameters":{"resource":"image","prompt":"=Gere uma imagem moderna e realista sobre o seguinte tema:\n[{{ $json.title }}]\n\nA imagem deve ser de alta qualidade, chamativa, ideal para um post profissional no Instagram. Não inclua textos na imagem.\n","options":{"returnImageUrls":true}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-4848,720],"id":"730f9fd5-23cc-40f6-9609-f60888dd2ad6","name":"Gerar imagem com IA","credentials":{"openAiApi":{"id":"GLHn0uXL8dRQAYuS","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const html = $json.data || $json.body || '';\nconst ogImageMatch = html.match(/<meta\\s+property=[\"']og:image[\"']\\s+content=[\"']([^\"']+)[\"']/i);\nlet imagem = ogImageMatch ? ogImageMatch[1] : '';\n\nif (!imagem) {\n  const imgMatch = html.match(/<img[^>]+src=[\"']([^\"']+)[\"']/i);\n  if (imgMatch) {\n    imagem = imgMatch[1];\n  }\n}\n\n// Recupera os campos originais da notícia de 'Code3'\nreturn {\n  ...($('Backup dados da notícia').item.json.original || {}),\n  imagem: $input.first().json.url // campo imagem atualizado com o link retornado pela OpenAI\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4640,720],"id":"e89a8dbc-f08f-45a2-8eb1-7417ede6fc81","name":"Salvar imagem gerada"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4448,928],"id":"8e5ea78c-b808-42fa-8057-a20d89cecffd","name":"Unificar imagem final"},{"parameters":{"content":"# Definição da Imagem do Post\n\n### Primeiro busca imagem na notícia, se não encontra gera uma via IA","height":592,"width":2064},"type":"n8n-nodes-base.stickyNote","position":[-6352,608],"typeVersion":1,"id":"d8cc9d0b-ad29-49cd-82cb-7635cba7e252","name":"Sticky Note6"},{"parameters":{"promptType":"define","text":"=Você é um social media especialista em inteligência artificial, com autoridade e criatividade para transformar qualquer notícia técnica ou corporativa em conteúdo impactante no Instagram. Sua comunicação é ousada, clara, bem-humorada e respeitada por quem realmente entende do jogo — CEOs, PMs, tech leads, investidores, entusiastas e curiosos que sabem que IA não é mais futuro: é agora.\n\nVocê recebe uma lista de notícias (que pode conter itens repetidos de diferentes fontes).\n\nSua missão:\n\n1 - Analise todas as notícias de forma crítica e contextualizada.\n\n2 - Para cada notícia, atribua uma nota de relevância de 0 a 10, considerando o impacto real da informação no ecossistema de IA — incluindo lançamentos de modelos, movimentações de big techs, benchmarks, aplicações no mundo real, regulações e tretas públicas.\n\n3 - Elimine apenas notícias claramente duplicadas (mesmo conteúdo ou tema).\n\n4 - Mesmo com nota baixa, retorne todas as notícias únicas com sua respectiva nota.\n\nPara cada notícia única, gere:\n\n\"titulo\": título original, direto, polemico e provocativo (até 10 palavras). Pode usar ironia leve, trocadilhos, frases de impacto — sem clickbait vazio.\n\n\"legenda\": legenda clara e completa (até 500 caracteres), com foco em informar tudo que importa direto no feed. Use esta estrutura:\n\nPrimeira linha: gancho polêmico, irônico ou direto.\n\nDepois: traga os fatos principais da notícia de forma resumida, com tom opinativo se fizer sentido.\n\nFinal: CTA para engajar (comentários, marcações ou reposts).\n\nFinalize sempre com a fonte e o link da notícia. Use \\n\\n para representar quebras de linha visíveis no Instagram.\n\nFormato de saída:\n\n[\n  {\n    \"titulo\": \"Seu título original aqui\",\n    \"legenda\": \"Sua legenda envolvente aqui, CTA final. Fonte: [link]\",\n    \"imagem\": \"{{ $json.imagem }}\",\n    \"fonte\": \"{{ $json.link }}\",\n    \"nota\": 0-10\n  }\n]\n\n**Importante:**\n- Não copie o título da notícia original.\n- Use linguagem acessível, moderna e ativa. Pode usar emojis, perguntas retóricas, provocações leves e frases de impacto — desde que com conteúdo.\n- Não retorne explicações ou texto fora do JSON. Apenas o array JSON válido.\n- Se a notícia não for relevante, dê nota baixa. Se for de extrema importância, pode usar 10.\n\n**Campos disponíveis para análise:**\nLink: {{ $json.link }}  \nTitulo: {{ $json.title }}  \nConteudo: {{ $json.content }}  \nConteudo2: {{ $json.contentSnippet }}\n\nRetorne diretamente como JSON válido (não como string). Sem aspas no array completo.\n\nNa legenda, utilize \"\\n\\n\" para representar quebras de linha, separando claramente os blocos de conteúdo (gancho, contexto, CTA e fonte).\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-4176,944],"id":"0bd9e838-10b3-4f0e-a166-1c3422f06eb6","name":"AI Agent - Estrutura dos Posts","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const allNoticias = items.flatMap(item => JSON.parse(item.json.output));\n\nreturn allNoticias.map((noticia, index) => {\n  return {\n    json: {\n      ...noticia\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3808,944],"id":"7ad78d44-f455-4125-9a86-157602f2d70b","name":"Estruturação do JSON de saída","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"6cb1827b-7e9b-4c1d-9553-704a28bc6cff","name":"html","value":"=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <style>\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n    }\n\n    html, body {\n      width: 1080px;\n      height: 1350px;\n      overflow: hidden;\n      background: black;\n      font-family: Arial, sans-serif;\n    }\n\n    .container {\n      position: relative;\n      width: 1080px;\n      height: 1350px;\n      background-image: url(\"{{$json['imagem']}}\");\n      background-size: cover;\n      background-position: center center;\n      background-repeat: no-repeat;\n    }\n\n    .overlay-gradient {\n      position: absolute;\n      bottom: 0;\n      left: 0;\n      width: 100%;\n      height: 65%;\n      background: linear-gradient(to top, rgba(0,0,0,0.85), transparent);\n      z-index: 1;\n    }\n\n    /*\n      .logo {\n      position: absolute;\n      top: 40px;\n      right: 40px;\n      width: 168px;\n      height: 168px;\n      border-radius: 50%;\n      object-fit: cover;\n      z-index: 2;\n    }\n    */\n\n    .logo-text {\n    position: absolute;\n    top: 50px;\n    left: 50px;\n    width: 168px;\n    height: 168px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-family: 'Impact', sans-serif;\n    font-size: 65px;\n    font-weight: 900;\n    color: white;\n    background-color: transparent;\n    z-index: 2;\n    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);\n    }\n\n    .logo-sub {\n    position: absolute;\n    top: 150px; /* ajustado para aparecer logo abaixo do M[IA] */\n    left: 50px;\n    font-family: 'Impact', sans-serif;\n    font-size: 65px;\n    font-weight: 700;\n    color: white;\n    background-color: transparent;\n    z-index: 2;\n    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);\n    }\n\n    .text-block {\n      position: absolute;\n      bottom: 200px;\n      left: 50px;\n      right: 50px;\n      max-width: calc(100% - 100px); /* 50px de cada lado */\n      z-index: 2;\n      color: white;\n    }\n\n    .text-block h4 {\n      margin: 0 0 20px 0;\n      font-size: 28px;\n      font-weight: bold;\n      display: inline-block;\n    }\n\n    .tag {\n      background-color: #f9b233;\n      color: black;\n      padding: 8px 18px;\n      border-radius: 20px;\n      font-size: 24px;\n      font-weight: bold;\n    }\n\n    .text-block h2 {\n      margin: 0;\n      font-size: 56px;\n      font-weight: bold;\n      line-height: 1.2;\n    }\n  </style>\n\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"overlay-gradient\"></div>\n\n    <!-- <img class=\"logo\" src=\"https://scontent.fcgh7-1.fna.fbcdn.net/v/t39.30808-1/518139584_122101163828957956_327573173815240281_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=102&ccb=1-7&_nc_sid=2d3e12&_nc_ohc=iND_u5daOI8Q7kNvwGHwkgi&_nc_oc=AdkKGIhZ43oatvxL-OyRed8HLG0ddGlKO2O3Nsjwl9Nf-FxQu2BgQoo5zTYXxffXHSxRqTg2ulZPvazfcVnvqidk&_nc_zt=24&_nc_ht=scontent.fcgh7-1.fna&_nc_gid=sat_o5oQE_20GxqQng6FHQ&oh=00_AfQhCn4H3zRGBHbE2uCqkdCHyvm7i7LjOVEgLu4z_8AUaw&oe=688E653B\" /> -->\n\n    <div class=\"logo-text\">M[IA]</div>\n    <div class=\"logo-sub\">>_</div>\n    <div class=\"text-block\">\n      <h4><span class=\"tag\">INTELIGÊNCIA ARTIFICIAL</span></h4>\n      <h2>{{$json[\"titulo\"]}}</h2>\n    </div>\n  </div>\n</body>\n</html>\n","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3264,928],"id":"655d072c-6fa6-4b4b-9785-daae192145ec","name":"Criação do HTML da Imagem"},{"parameters":{"content":"# Estruturação dos Posts\n\n### Lógica para definir estrutura dos posts. Escolhe o que é mais relevante e reescreve título, legenda e prepara JSON para etapas seguintes.","height":816,"width":832},"type":"n8n-nodes-base.stickyNote","position":[-4240,608],"typeVersion":1,"id":"65c8ab1f-fcc9-4837-b01f-cb1ffeb5c129","name":"Sticky Note10"},{"parameters":{"content":"# Edição das Imagens\n\n### Todas as transformações necessárias para ter a imagem final. \n### Publicação da imagem no Github, geração do link público da imagem e transformação para base64 (para envio no whatsapp).","height":800,"width":1424},"type":"n8n-nodes-base.stickyNote","position":[-3360,352],"typeVersion":1,"id":"e5df978c-bda9-425f-8839-4465b382be6c","name":"Sticky Note11"},{"parameters":{"method":"POST","url":"https://hcti.io/v1/image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Basic MDRlZDA4NWYtYmY0OS00MzIyLWExMzEtMzY3ZjA1YmRiOTllOmQ0MzhjODk3LTVlYzctNGMyNS1iMjM0LWY5NGYyNjc1OGRhYQ=="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"html","value":"={{ $json.html }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3072,704],"id":"842447cb-b7c6-455c-8bef-8936844b745f","name":"HTML > Imagem","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"imagem_final"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2864,704],"id":"b4cb39d3-65f8-4268-8a18-cfd2435b9a6d","name":"Baixar imagem"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"getmia","mode":"list","cachedResultName":"getmia","cachedResultUrl":"https://github.com/getmia"},"repository":{"__rl":true,"value":"miabuilder-images","mode":"list","cachedResultName":"miabuilder-images","cachedResultUrl":"https://github.com/getmia/miabuilder-images"},"filePath":"=images/{{$now.toFormat(\"yyyyMMddHHmmssSSS\")}}.jpg","binaryData":true,"binaryPropertyName":"imagem_final","commitMessage":"Adicionando imagem via n8n"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-2384,576],"id":"3ba854c9-a7a8-42a2-8d1a-ff7ab1a8b4bc","name":"Salvar imagem no GitHub","webhookId":"1e26f29c-5d18-4de9-90d1-32efd878e368","credentials":{"githubApi":{"id":"Gd4bGzglU6thixeI","name":"GitHub account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2128,880],"id":"dc3b820c-1940-4785-bf60-744e89cf09b6","name":"Dados + Imagem Final","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1296,1088],"id":"37aceeb5-7f5d-47ea-b48b-9ef189fcd4a3","name":"Salvar no Sheets Controle","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const { noticia_id, titulo, legenda, fonte, imagem, arquivo_base64, imagem_url, status, nota } = item.json;\n  const id = item.json.id;\n\n  return {\n    json: {\n      noticia_id,\n      titulo,\n      legenda: legenda.replace(/\\\\n/g, '\\n\\n'), // <- agora gera 1 linha em branco entre blocos\n      fonte,\n      imagem,\n      arquivo_base64,\n      imagem_url,\n      status,\n      nota\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1488,1088],"id":"8659be54-bf12-4075-a419-913ebc0b0ebe","name":"Filtro dos dados consolidados"},{"parameters":{"jsCode":"const dataAgora = new Date();\nconst yyyy = dataAgora.getFullYear();\nconst mm = String(dataAgora.getMonth() + 1).padStart(2, '0');\nconst dd = String(dataAgora.getDate()).padStart(2, '0');\nconst hh = String(dataAgora.getHours()).padStart(2, '0');\nconst min = String(dataAgora.getMinutes()).padStart(2, '0');\nconst ss = String(dataAgora.getSeconds()).padStart(2, '0');\n\nconst base = `noticia_${yyyy}${mm}${dd}_${hh}${min}${ss}`;\n\nreturn items.map((item, index) => {\n  const sequencial = String(index + 1).padStart(3, '0');\n  const noticia_id = `${base}_${sequencial}`;\n\n  return {\n    json: {\n      ...item.json,\n      noticia_id,\n      status: 'aguardando',\n      arquivo_base64: `${noticia_id}.txt`,\n      imagem_url: item.json.content.download_url\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,896],"id":"2a986704-4a9f-43dc-b351-12b55285659e","name":"Criação Id + Link Github"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1488,1296],"id":"98bc7b2d-ba19-4aba-9ca4-112f913b07bc","name":"Loop Over Items"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"social-media-mia","remoteJid":"5511992486507","media":"={{ $json.base64Image }}","caption":"=[NOTÍCIA #{{ $json.noticia_id }}]\n\n{{ $json.legenda }}\n\nResponda com:\naprovar {{ $json.noticia_id }} ou rejeitar {{ $json.noticia_id }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1312,1312],"id":"c9f468f1-1e4e-4991-98d9-c5fba8078b27","name":"Envio do post - Whatsapp","credentials":{"evolutionApi":{"id":"PmCvi1sxg0kx1JwA","name":"Evolution - pessoal-lucas"}},"onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"mia","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1776,1808],"id":"1989ca4e-0206-4e4f-ba8d-f6b7f7d36d3d","name":"Webhook - Esperar resposta WhatsApp","webhookId":"89de6970-1e50-427d-898c-244a3a8ed96a"},{"parameters":{"jsCode":"const texto = $json.body?.data?.message?.conversation?.toLowerCase() || '';\nlet status = '';\nlet noticia_id = '';\n\nif (texto.includes('aprovar')) {\n  status = 'aprovado';\n} else if (texto.includes('rejeitar')) {\n  status = 'rejeitado';\n}\n\nconst match = texto.match(/noticia_\\d{8}(?:_\\d+)+/);\nif (match) {\n  noticia_id = match[0];\n}\n\nreturn [{\n  json: {\n    noticia_id,\n    status,\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,1808],"id":"f2062002-0153-479d-acf4-551c68edaf58","name":"Extrair status e ID"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","mode":"list","cachedResultName":"Controle Posts - Mia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"instagram_journal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"noticia_id":"={{ $json.noticia_id }}","status":"={{ $json.status }}"},"matchingColumns":["noticia_id"],"schema":[{"id":"noticia_id","displayName":"noticia_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"titulo","displayName":"titulo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"legenda","displayName":"legenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fonte","displayName":"fonte","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagem","displayName":"imagem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"arquivo_base64","displayName":"arquivo_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"imagem_url","displayName":"imagem_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nota","displayName":"nota","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1360,1808],"id":"751d78ff-c10a-4a96-b2a5-9a78da9d5168","name":"Atualizar status no Sheets Controle","credentials":{"googleSheetsOAuth2Api":{"id":"de8CYZ2v6bGWBjAX","name":"Google Sheets - lucas@getmia.com.br"}}},{"parameters":{"content":"# Atualização Controles e Envio do resultado por Whatsapp\n\n### Atualiza sheets e drive com informações e arquivos importantes\n### Envio do post completo por whatsapp para aprovador","height":896,"width":800},"type":"n8n-nodes-base.stickyNote","position":[-1872,640],"typeVersion":1,"id":"5e9f1320-35d7-47e8-b050-faf7b93db257","name":"Sticky Note12"},{"parameters":{"content":"# Webhook Aprovação do Post\n\n### Esse weebhook fica aguardando um retorno do aprovador sobre os posts enviados\n### O post pode ser aprovado ou rejeitado e os status são salvos no sheets","height":496,"width":736,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1872,1568],"typeVersion":1,"id":"c17a8be6-075f-480b-b191-b7cbbb3d575a","name":"Sticky Note13"},{"parameters":{"content":"# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece","height":1696,"width":2464,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-816,1168],"typeVersion":1,"id":"1c17b254-7f4d-413e-afde-cdcdc2901f37","name":"Sticky Note14"},{"parameters":{"url":"https://exame.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,480],"id":"82951026-c3e2-4c57-a25f-7cbf28aaa794","name":"RSS Exame","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.infomoney.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,656],"id":"dd6bdd0d-b67d-4bb0-b25b-e5860d194d25","name":"RSS infomoney","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c9a2cce-1e4b-4f37-9c24-91e5375e8efe","leftValue":"={{ $json.nota }}","rightValue":7,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3600,944],"id":"33aa9bd9-1acc-4635-9b02-aa2ac28a6aa7","name":"Filtro Relevância"},{"parameters":{"url":"https://openai.com/blog/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,-32],"id":"5366fd2e-8549-472d-838e-0a5297ca2704","name":"RSS Open AI Blog","onError":"continueRegularOutput"},{"parameters":{"url":"https://venturebeat.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,160],"id":"febacdff-eb87-412e-80e6-a108d29e09c5","name":"RSS Venture Beat","onError":"continueRegularOutput"},{"parameters":{"url":"https://news.mit.edu/rss/feed","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,320],"id":"65b28909-cb1f-4bd8-b93f-f5b2ec038aeb","name":"RSS MIT","onError":"continueRegularOutput"},{"parameters":{"url":"https://canaltech.com.br/rss/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,848],"id":"bd7ee6d3-c609-4c43-8f4f-76c38a7f36dc","name":"RSS Canal Tech","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.tecmundo.com.br/tags/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1024],"id":"24c8dedc-91f8-40b6-b224-5887eeed4765","name":"RSS Tecmundo","onError":"continueRegularOutput"},{"parameters":{"url":"https://olhardigital.com.br/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1200],"id":"dcdba612-003b-44a4-83a1-1274263fb28f","name":"RSS Olhar Digital","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.theverge.com/rss/index.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1376],"id":"83a60b00-5541-4837-92ec-bd9d87d2b82f","name":"RSS Canal The Verge","onError":"continueRegularOutput"},{"parameters":{"url":"https://techcrunch.com/feed/","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1536],"id":"e14ff3a6-bce2-4917-a631-ee057117d8a3","name":"RSS Tech Crunch","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.wired.com/feed/rss","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1696],"id":"935cfee6-53d4-4282-ba1c-ab0c936ab127","name":"RSS Wired","onError":"continueRegularOutput"},{"parameters":{"url":"https://rss.nytimes.com/services/xml/rss/nyt/Technology.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,1856],"id":"a64d6e73-762e-4aed-8c28-37cc574cdd02","name":"RSS NY Times","onError":"continueRegularOutput"},{"parameters":{"url":"\thttp://feeds.bbci.co.uk/news/technology/rss.xml","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,2016],"id":"19f57f79-d73a-4fcd-b545-5c82c91f5340","name":"RSS BBC","onError":"continueRegularOutput"},{"parameters":{"url":"https://www.cnbc.com/id/19854910/device/rss/rss.html","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-8288,2176],"id":"9bb8adca-b7e7-41cd-9adc-bc6e9c03d535","name":"RSS CNBC","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e201d72c-d4e6-4a9e-a07e-782cf5a39960","leftValue":"={{ new Date($json[\"pubDate\"]) }}","rightValue":"={{ new Date(Date.now() - 24 * 60 * 60 * 1000) }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6864,992],"id":"54a8ae34-bd9c-4b3d-910a-ad880f0a7740","name":"Filtro de data da notícia","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1e4edfc7-f562-40cd-8253-35b4e8bac0b8","leftValue":"={{ \n[\n  \"inteligência artificial\", \"inteligencia artificial\", \"ia\", \"ai\", \"chatgpt\", \"gpt\", \"openai\", \"bard\", \"gemini\", \"claude\", \"anthropic\", \"llama\", \"meta ai\",\n  \"modelo de linguagem\", \"modelos de linguagem\", \"modelo generativo\", \"modelos generativos\", \"gpt-3\", \"gpt-4\", \"gpt-5\",\n  \"assistente virtual\", \"assistentes virtuais\", \"chatbot\", \"chatbots\",\n  \"machine learning\", \"aprendizado de máquina\", \"aprendizado de maquina\", \"aprendizagem de máquina\", \"ml\",\n  \"deep learning\", \"rede neural\", \"redes neurais\", \"neurônios artificiais\", \"neuronios artificiais\",\n  \"classificação automática\", \"reconhecimento de imagem\", \"reconhecimento facial\", \"visão computacional\", \"computer vision\",\n  \"processamento de linguagem natural\",  \"fine-tuning\", \"prompt\", \"prompting\", \"in-context learning\", \"modelo fundacional\", \"foundation model\", \"autonomia artificial\", \"sistemas autônomos\", \"sistema autonomo\",\n  \"agente de IA\", \"agente inteligente\", \"agentes autônomos\", \"autonomous agent\",\n  \"auto-gpt\", \"babyagi\", \"agentic workflows\", \"automação\", \"automatização\", \"robôs inteligentes\", \"robôs autônomos\", \"robotização\", \"robotizacao\",\"open source\",  \"text-to-image\", \"text-to-video\", \"deepfake\", \"tokenização\"\n].some(palavra => {\n  const regex = new RegExp(`\\\\b${palavra.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&')}\\\\b`, 'i');\n  return regex.test($json.title || '')\n  // || regex.test($json.content || '')\n  // || regex.test($json['content:encoded'] || '')\n  // || regex.test($json.contentSnippet || '')\n})\n}}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6624,976],"id":"6ad0d071-f1af-4297-a4c1-41cc296d6586","name":"Filtro de tema IA"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7696,352],"id":"f3a83409-0847-41ca-964c-97155fecb044","name":"Merge"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7712,1584],"id":"1feee6bd-16ac-46b6-b039-0a58b8ed6079","name":"Merge1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-7152,992],"id":"45e0a666-ad44-4b44-97cf-13a850b9c7d2","name":"Merge2"},{"parameters":{"operation":"crop","dataPropertyName":"imagem_final","width":1080,"height":1350,"options":{"format":"jpeg"}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-2656,704],"id":"769941de-95e8-43c5-be8e-343ad60c89e8","name":"Cortar imagem 1080x1350"}],"connections":{"Instagram params":{"main":[[{"node":"Instagram prepare media","type":"main","index":0}]]},"Instagram prepare media":{"main":[[{"node":"Instagram check status of media uploaded before","type":"main","index":0}]]},"Instagram publish media":{"main":[[{"node":"Instagram check status of media published before","type":"main","index":0}]]},"If media status is finished":{"main":[[{"node":"Instagram publish media","type":"main","index":0}],[{"node":"Send a message","type":"main","index":0}]]},"If media status is finished1":{"main":[[{"node":"Send a message1","type":"main","index":0}],[{"node":"Send a message2","type":"main","index":0}]]},"Instagram check status of media uploaded before":{"main":[[{"node":"If media status is finished","type":"main","index":0}]]},"Instagram check status of media published before":{"main":[[{"node":"If media status is finished1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"RSS Venture Beat","type":"main","index":0},{"node":"RSS MIT","type":"main","index":0},{"node":"RSS Open AI Blog","type":"main","index":0},{"node":"RSS Exame","type":"main","index":0},{"node":"RSS infomoney","type":"main","index":0},{"node":"RSS Canal Tech","type":"main","index":0},{"node":"RSS Tecmundo","type":"main","index":0},{"node":"RSS Olhar Digital","type":"main","index":0},{"node":"RSS Canal The Verge","type":"main","index":0},{"node":"RSS Tech Crunch","type":"main","index":0},{"node":"RSS Wired","type":"main","index":0},{"node":"RSS NY Times","type":"main","index":0},{"node":"RSS BBC","type":"main","index":0},{"node":"RSS CNBC","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Estrutura dos Posts","type":"ai_languageModel","index":0}]]},"Binary > base64":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":1}]]},"Create file from text":{"main":[[]]},"Google Sheets Trigger":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Instagram params","type":"main","index":0}]]},"Padronização do campo imagem":{"main":[[{"node":"Validação do campo imagem","type":"main","index":0}]]},"Validação do campo imagem":{"main":[[{"node":"Backup dados da notícia","type":"main","index":0}],[{"node":"Unificar imagem final","type":"main","index":2}]]},"Backup dados da notícia":{"main":[[{"node":"Buscar HTML da notícia","type":"main","index":0}]]},"Buscar HTML da notícia":{"main":[[{"node":"Extrair imagem do HTML","type":"main","index":0}]]},"Extrair imagem do HTML":{"main":[[{"node":"Imagem encontrada?","type":"main","index":0}]]},"Imagem encontrada?":{"main":[[{"node":"Gerar imagem com IA","type":"main","index":0}],[{"node":"Unificar imagem final","type":"main","index":1}]]},"Gerar imagem com IA":{"main":[[{"node":"Salvar imagem gerada","type":"main","index":0}]]},"Salvar imagem gerada":{"main":[[{"node":"Unificar imagem final","type":"main","index":0}]]},"Unificar imagem final":{"main":[[{"node":"AI Agent - Estrutura dos Posts","type":"main","index":0}]]},"AI Agent - Estrutura dos Posts":{"main":[[{"node":"Estruturação do JSON de saída","type":"main","index":0}]]},"Estruturação do JSON de saída":{"main":[[{"node":"Filtro Relevância","type":"main","index":0}]]},"Criação do HTML da Imagem":{"main":[[{"node":"HTML > Imagem","type":"main","index":0},{"node":"Dados + Imagem Final","type":"main","index":2}]]},"HTML > Imagem":{"main":[[{"node":"Baixar imagem","type":"main","index":0}]]},"Baixar imagem":{"main":[[{"node":"Cortar imagem 1080x1350","type":"main","index":0}]]},"Salvar imagem no GitHub":{"main":[[{"node":"Dados + Imagem Final","type":"main","index":0}]]},"Dados + Imagem Final":{"main":[[{"node":"Criação Id + Link Github","type":"main","index":0}]]},"Salvar no Sheets Controle":{"main":[[]]},"Filtro dos dados consolidados":{"main":[[{"node":"Salvar no Sheets Controle","type":"main","index":0}]]},"Criação Id + Link Github":{"main":[[{"node":"Filtro dos dados consolidados","type":"main","index":0},{"node":"Create file from text","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Envio do post - Whatsapp","type":"main","index":0}]]},"Envio do post - Whatsapp":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook - Esperar resposta WhatsApp":{"main":[[{"node":"Extrair status e ID","type":"main","index":0}]]},"Extrair status e ID":{"main":[[{"node":"Atualizar status no Sheets Controle","type":"main","index":0}]]},"Atualizar status no Sheets Controle":{"main":[[]]},"RSS Exame":{"main":[[{"node":"Merge","type":"main","index":3}]]},"RSS infomoney":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Filtro Relevância":{"main":[[{"node":"Criação do HTML da Imagem","type":"main","index":0}]]},"RSS Open AI Blog":{"main":[[{"node":"Merge","type":"main","index":0}]]},"RSS Venture Beat":{"main":[[{"node":"Merge","type":"main","index":1}]]},"RSS MIT":{"main":[[{"node":"Merge","type":"main","index":2}]]},"RSS Canal Tech":{"main":[[{"node":"Merge","type":"main","index":5}]]},"RSS Tecmundo":{"main":[[{"node":"Merge","type":"main","index":6}]]},"RSS Olhar Digital":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"RSS Canal The Verge":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"RSS Tech Crunch":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"RSS Wired":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"RSS NY Times":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"RSS BBC":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"RSS CNBC":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Filtro de data da notícia":{"main":[[{"node":"Filtro de tema IA","type":"main","index":0}]]},"Filtro de tema IA":{"main":[[{"node":"Padronização do campo imagem","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Filtro de data da notícia","type":"main","index":0}]]},"Cortar imagem 1080x1350":{"main":[[{"node":"Binary > base64","type":"main","index":0},{"node":"Salvar imagem no GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"QdC9qh9DPcT2xcoq"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Google Sheets Trigger":{"documentId":"17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM","sheetId":0,"lastRevision":282,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=17qGLzzHXcFcZ7eZaKkH5wPrkEYSeri6iqFA7bjs9CbM&revision=282&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"48220117-206e-47c5-97a3-0c715afb1960","triggerCount":3,"tags":[]}