backup/teste-agente-de-extrato-e-faturas-copy-L6f6AQrnuZdhv8xS.json
{
  "updatedAt": "2026-05-22T20:01:03.081Z",
  "createdAt": "2026-05-18T13:47:07.275Z",
  "id": "L6f6AQrnuZdhv8xS",
  "name": "Teste Agente de extrato e faturas copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const codigo =\n  $node[\"variáveis de formatação - fatura1\"]\n    .json[\n      $node[\"Recebe link do Supabase Storage2\"].json.body.bankName\n    ];\n\nif (!codigo) {\n  throw new Error(\"Código do banco não encontrado.\");\n}\n\n// substitui runtime do n8n\nconst sanitizedCode = codigo.replace(\n  /const rawText = \\$input\\.first\\(\\)\\.json\\.extractedText;/g,\n  'const rawText = inputData[0].json.extractedText;'\n);\n\n// cria função\nconst fn = new Function(\n  'inputData',\n  sanitizedCode\n);\n\n// executa\nreturn fn([\n  {\n    json: {\n      extractedText:\n        $('Extrai PDF, CSV e XLSX3').first().json.extractedText || ''\n    }\n  }\n]);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15856,
        14064
      ],
      "id": "1d37668a-8ddf-4776-826a-e2fd647d2507",
      "name": "Code in JavaScript4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Camada 1\n## Entrada\n### Recebe arquivo + metadados \n(formato, banco, autor...)",
        "height": 416,
        "width": 2224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13200,
        13360
      ],
      "typeVersion": 1,
      "id": "4b3ed397-0ae1-4ff0-a7ad-dc22ac35adea",
      "name": "Sticky Note60"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "import_jobs",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.jobId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $json.body.fileName }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "progress",
              "fieldValue": "10"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "status_message",
              "fieldValue": "Iniciando leitura do arquivo..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14112,
        13488
      ],
      "id": "690660f6-5df8-4b93-be9d-368ebc622b26",
      "name": "Status 10%2",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Camada 2\n## Processamento (Roteamento)\n### Roteia, extrai, parseia e categoriza com IA\n",
        "height": 416,
        "width": 2240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13200,
        13808
      ],
      "typeVersion": 1,
      "id": "a2807ff0-4b78-414a-a6ba-27dad0d21b77",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "",
        "height": 416,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13568,
        13808
      ],
      "typeVersion": 1,
      "id": "d9ec1458-2fb4-4ce1-a921-0e58f6052d07",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 416,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13568,
        13360
      ],
      "typeVersion": 1,
      "id": "48c3beea-ac0f-4ddc-96db-2d834c49ff52",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## Camada 3\n## Normalização e Upload\n### Padroniza, adiciona parcelas, faz upload e \nnotifica o usuário",
        "height": 416,
        "width": 2240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13200,
        14256
      ],
      "typeVersion": 1,
      "id": "d37a8962-2cd7-42c9-894d-7f477d378742",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "",
        "height": 416,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13568,
        14256
      ],
      "typeVersion": 1,
      "id": "b3953d99-14e4-455e-9ea7-e3c204f72a7a",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "url": "={{ $('Recebe link do Supabase Storage2').first().json.body.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14320,
        13488
      ],
      "id": "85120db1-bd7b-44b2-b427-ad6dbc9624b7",
      "name": "Baixa Arquivo do Supabase Storage2"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"d\": { \n        \"type\": \"string\", \n        \"description\": \"Data no formato DD/MM/YYYY. Se houver apenas o dia na linha, olhe os cabeçalhos de seção acima para descobrir o mês e ano exatos.\" \n      },\n      \"t\": { \"type\": \"string\", \"description\": \"Texto fiel da descrição\" },\n      \"v\": { \"type\": \"number\", \"description\": \"Valor numérico decimal (ex: 8.80)\" },\n      \"s\": { \"type\": \"string\", \"description\": \"Sinal '+' para entrada ou '-' para saída\" },\n      \"c\": { \"type\": \"string\", \"description\": \"ID exato da Categoria conforme a lista fornecida\" },\n      \"p\": { \"type\": [\"string\", \"null\"], \"description\": \"Metadados de parcelamento 'XX/YY' ou null se não houver\" }\n    },\n    \"required\": [\"d\", \"t\", \"v\", \"s\", \"c\"]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        15184,
        13952
      ],
      "id": "92fa9758-b490-425b-bc6b-3762e1107a45",
      "name": "Output Parser PDF4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Recebe link do Supabase Storage2').item.json.body.tipo }}",
                    "rightValue": "extrato",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c67861c-595e-4db2-b3a1-d7119441f64c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extrato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "390e6124-d2bd-4e80-846d-fb3837d0b68c",
                    "leftValue": "={{ $('Recebe link do Supabase Storage2').item.json.body.tipo }}",
                    "rightValue": "cartao",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fatura"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        14112,
        14080
      ],
      "id": "c8d35ed5-a672-4ca7-b5d5-1480139ea94d",
      "name": "Extrato ou Fatura?2"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": "***REMOVIDO***",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        15232,
        14048
      ],
      "id": "d5be1a90-7e64-439c-b42a-2b326cac96f0",
      "name": "Modelo de IA (GPT 4.1-MINI)2",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um auditor financeiro especializado em OCR de faturas bancárias. Sua missão é converter o texto extraído de uma fatura PDF em lançamentos bancários.\n\n{{ $('variáveis de prompt fatura1').item.json[$('Recebe link do Supabase Storage2').item.json.body.bankName] || $('variáveis de prompt fatura1').item.json.Generico }}\n\n### 📂 HIERARQUIA DE CLASSIFICAÇÃO (Use apenas estas):\n- Ganhos: \"renda\", \"renda-conjuge\", \"outras-fontes-renda\"\n- Contas Fixas: \"alimentacao-mercado\", \"casa-veraneio\", \"cuidados-pessoais\", \"despesas-saude\", \"dizimo-oferta\", \"educacao\", \"esportes\", \"filhos-familia\", \"impostos-taxas\", \"moradia\", \"pets\", \"profissional\", \"seguros\", \"servicos-financeiros\", \"transporte\"\n- Gastos Variáveis: \"assinaturas\", \"compras\", \"lazer\", \"outros-gv\", \"presentes-doacoes\", \"restaurantes\", \"roupas-acessorios\", \"tarifas-bancarias\", \"viagens\"\n- Metas e Projetos: \"meta-casa\", \"meta-educacao\", \"meta-eletronicos\", \"meta-familia\", \"meta-hobby\", \"meta-outros\", \"meta-profissional\", \"meta-saude\", \"meta-veiculo\", \"meta-viagem\"\n- Financiamentos: \"financiamento-imobiliario\", \"financiamento-veiculo\", \"consorcio\"\n- Dívidas: \"dividas-emprestimos\"\n- Movimentações: \"despesas-reembolsaveis\", \"pagamento-fatura-cartao\", \"reembolsos\", \"resgate-investimentos\", \"transferencia-mesma-titularidade\"\n- Reserva e Patrimônio: \"reserva-emergencia\", \"projetos-vida\", \"independencia-financeira\"\n- Investimentos: \"aplicacao-investimentos\"\n- Estorno: \"estorno\"\n\n### FORMATO DE SAÍDA:\n{\n  \"transacoes\": [\n    {\n      \"data\": \"DD/MM/YYYY\",\n      \"descricao\": \"NOME DO ESTABELECIMENTO\",\n      \"valor\": 00.00,\n      \"tipo\": \"despesa/receita\",\n      \"categoria\": \"nome-da-categoria-conforme-lista\"\n    }\n  ]\n}\nO arquivo está aqui:{{ $('Extrai PDF, CSV e XLSX3').item.json.extractedText }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        14880,
        14096
      ],
      "id": "de32212b-2faf-4240-ab2e-95ca534bff44",
      "name": "IA Leitora de Fatura2"
    },
    {
      "parameters": {
        "jsCode": "const finalResults = [];\nconst hoje = new Date();\nhoje.setHours(12, 0, 0, 0);\nconst hojeIso = hoje.toISOString().split('T')[0];\n\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// 1. Definição de variáveis globais com segurança\nlet userIdFixo = \"\";\nlet webhookData = {};\n\ntry {\n  webhookData = $('Webhook Original').first().json.body || {};\n} catch (e) {\n  webhookData = {};\n}\n\ntry {\n  // Busca o userId do nó de código anterior\n  userIdFixo = $('Code in JavaScript5').item.json.userId;\n} catch (e) {\n  userIdFixo = webhookData.userId || \"\";\n}\n\nconst ownerIdCalculado = webhookData.ownerId || userIdFixo;\n\n// 2. Loop principal pelos itens recebidos\nfor (const item of $input.all()) {\n  try {\n    const transacao = item.json;\n    \n    // Garantia de tipos (Strings) para evitar quebras em métodos como .match()\n    const descOriginal = String(transacao.Descricao || \"\").toUpperCase();\n    const parcelaIA = String(transacao.p || \"\").toUpperCase();\n    const dataRaw = String(transacao.Data_lancamento || \"\");\n\n    if (!dataRaw) continue; // Pula se o item não tiver data\n\n    const regex = /(?:PARC|PARCELA|\\()?\\s*(\\d{1,2})\\s*[\\/\\-de]\\s*(\\d{1,2})\\b/i;\n    const match = parcelaIA.match(regex) || descOriginal.match(regex);\n    \n    // Limpeza da data (remove o tempo se vier no formato ISO)\n    const dataLancamentoLimpa = dataRaw.includes('T') ? dataRaw.split('T')[0] : dataRaw;\n\n    // --- LÓGICA DE PROTEÇÃO CONTRA DATAS QUE PARECEM PARCELAS ---\n    let isValidInstallment = false;\n    if (match) {\n      const pAtual = parseInt(match[1]);\n      const pTotal = parseInt(match[2]);\n\n      // Só aceita como parcela se o total for maior que a atual e se não for um PIX com data (ex: 06/01)\n      if (pAtual <= pTotal && pTotal > 1) {\n         // Se for PIX e não houver instrução explícita da IA (campo p), ignoramos o match da descrição\n         if (descOriginal.includes(\"PIX\") && !transacao.p) {\n           isValidInstallment = false;\n         } else {\n           isValidInstallment = true;\n         }\n      }\n    }\n\n    if (isValidInstallment && match) {\n      const parcelaAtual = parseInt(match[1]);\n      const totalParcelas = parseInt(match[2]);\n      const descLimpa = descOriginal.replace(/\\(\\s*\\d+\\s*[\\/\\-de\\s]+\\s*\\d+\\s*\\)/gi, '').replace(regex, '').replace(/\\s+/g, ' ').trim();\n      const installmentGroupId = generateUUID();\n\n      const fimLoop = totalParcelas - parcelaAtual;\n      const dataBase = new Date(dataLancamentoLimpa + 'T12:00:00');\n\n      for (let i = 0; i <= fimLoop; i++) {\n        let dP = new Date(dataBase);\n        dP.setMonth(dataBase.getMonth() + i);\n        const dt = dP.toISOString().split('T')[0];\n        const isFuturo = dt > hojeIso;\n\n        finalResults.push({\n          json: {\n            ...transacao,\n            Descricao: `${descLimpa} (${parcelaAtual + i}/${totalParcelas})`,\n            Data_lancamento: dt,\n            userId: userIdFixo,\n            accountId: webhookData.accountId,\n            ownerId: ownerIdCalculado,\n            confirmed: !isFuturo, \n            paymentDate: isFuturo ? null : (webhookData.paymentDate || transacao.Data_pagamento || null),\n            pending_review: true,\n            installment_group_id: installmentGroupId,\n            installment_number: parcelaAtual + i,\n            total_installments: totalParcelas\n          }\n        });\n      }\n      continue; // Vai para o próximo item do $input.all()\n    }\n\n    // --- CASO NORMAL (SEM PARCELAS OU DATA QUE PARECIA PARCELA) ---\n    const dataFinalIso = new Date(dataLancamentoLimpa + 'T12:00:00').toISOString().split('T')[0];\n    const isFuturoSimples = dataFinalIso > hojeIso;\n\n    finalResults.push({\n      json: {\n        ...transacao,\n        Data_lancamento: dataFinalIso,\n        userId: userIdFixo,\n        accountId: webhookData.accountId,\n        ownerId: ownerIdCalculado,\n        paymentDate: isFuturoSimples ? null : (webhookData.paymentDate || transacao.Data_pagamento || null),\n        confirmed: !isFuturoSimples,\n        pending_review: false,\n        installment_group_id: null,\n        installment_number: null,\n        total_installments: null\n      }\n    });\n\n  } catch (err) {\n    // Em caso de erro em um item (ex: data inválida), loga o erro e continua para o próximo item\n    console.error(\"Erro ao processar item:\", err);\n    continue; \n  }\n}\n\nreturn finalResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13936,
        14512
      ],
      "id": "efdf3d5c-7c34-4e24-a794-60ff66a1998d",
      "name": "Lógica de Parcelamento2",
      "executeOnce": false
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.Descricao }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.Data_lancamento }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $json.Categoria }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.Tipo }}"
            },
            {
              "fieldId": "value",
              "fieldValue": "={{ $json.Valor }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.userId }}"
            },
            {
              "fieldId": "account_id",
              "fieldValue": "={{ $json.account_id }}"
            },
            {
              "fieldId": "owner_id",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.ownerId }}"
            },
            {
              "fieldId": "payment_date",
              "fieldValue": "={{ $json.Data_pagamento }}"
            },
            {
              "fieldId": "payment_date",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.paymentDate }}"
            },
            {
              "fieldId": "pending_review",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14096,
        14352
      ],
      "id": "74b5b4f9-f361-40b4-88d3-91fe9b11ef77",
      "name": "Upload pra Plataforma4",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e052f3a2-493f-4468-afee-de599ac64bbc",
              "name": "Generico",
              "value": "=# Prompt de Extração Financeira de Alta Precisão\n\nVocê é um especialista em auditoria financeira e extração de dados via OCR. Sua tarefa é converter documentos bancários (faturas/extratos) em dados estruturados.\n\n### PROTOCOLO DE RACIOCÍNIO TEMPORAL (LEITURA DINÂMICA)Você deve determinar o ano e o mês de cada transação seguindo estritamente estes passos de interpretação, sem intervenção humana:IDENTIFICAÇÃO DA ÂNCORA: Localize no início do texto o campo \"Vencimento\". Use esta data como a \"Âncora Temporal\" do documento.  ANÁLISE DE CICLO: * Reconheça que uma fatura de cartão de crédito contém lançamentos do mês do vencimento e do mês imediatamente anterior.  \n\n### TRATAMENTO DE COMPRAS PARCELADAS (DIVERGÊNCIA DE DATA):Ao encontrar transações em tabelas de parcelamento, a data impressa (ex: 30/07) é frequentemente a data da compra original e não a data do lançamento atual.  Sua tarefa de interpretação: Você deve desconsiderar o MÊS e o ANO impressos na linha se eles estiverem fora do ciclo da fatura ancorada no passo 1.Ação: Mantenha o DIA da transação, mas ajuste o MÊS e o ANO para que correspondam ao período de consumo desta fatura (o mês do vencimento ou o anterior), garantindo a coerência cronológica do extrato.CONSISTÊNCIA: Nenhuma transação extraída pode ter uma data posterior à data de vencimento ou anterior a 60 dias da data de postagem.\n\n### ⚠️ REGRAS DE OURO PARA PRECISÃO\n1. **EXAUSTÃO TOTAL:** Você deve extrair cada linha de transação individual. Nunca ignore valores baixos (ex: R$ 0,01) ou itens que pareçam secundários.\n\n2. **IDENTIFICAÇÃO DE SINAIS:** Se o valor vier com sinal negativo (-), ou se a descrição indicar \"CRÉDITO\", \"CASHBACK\", \"ESTORNO\", o valor no JSON deve ser negativo e o Tipo deve ser \"receita\". Caso contrário, o valor deve ser positivo e o Tipo deve ser \"despesa\".\n\n3. **FILTRO DE PROJEÇÕES:** Ignore \"Próxima fatura\", \"Simulação de parcelas\", \"Compras parceladas - próximas faturas\". Extraia apenas o que compõe a fatura atual. IGNORE TOTALMENTE os seguintes quadros: \"Simulação Saque Cash\", \"Novo teto de juros\" / \"Crédito Rotativo\", \"Encargos cobrados nesta fatura\" (Juros, Mora, Multa), \"Opções de Parcelamento com/sem seguro\" (Ofertas de crédito), \"Limites de crédito\", \n\n4. **DESCRIÇÃO FIEL:** Mantenha a descrição exatamente como consta.\n\n5. **LOCALIZAÇÃO:** Ignore os quadros de resumo. Foque nas tabelas detalhadas sob \"Lançamentos\", \"Transações\", etc.\n\n### 📂 HIERARQUIA DE CLASSIFICAÇÃO\n* Ganhos: \"renda\", \"renda-conjuge\", \"outras-fontes-renda\"\n* Contas Fixas: \"alimentacao-mercado\", \"casa-veraneio\", \"cuidados-pessoais\", \"despesas-saude\", \"dizimo-oferta\", \"educacao\", \"esportes\", \"filhos-familia\", \"impostos-taxas\", \"moradia\", \"pets\", \"profissional\", \"seguros\", \"servicos-financeiros\", \"transporte\"\n* Gastos Variáveis: \"assinaturas\", \"compras\", \"lazer\", \"outros-gv\", \"presentes-doacoes\", \"restaurantes\", \"roupas-acessorios\", \"tarifas-bancarias\", \"viagens\"\n* Metas e Projetos: \"meta-casa\", \"meta-educacao\", \"meta-eletronicos\", \"meta-familia\", \"meta-hobby\", \"meta-outros\", \"meta-profissional\", \"meta-saude\", \"meta-veiculo\", \"meta-viagem\"\n* Financiamentos: \"financiamento-imobiliario\", \"financiamento-veiculo\", \"consorcio\"\n* Dívidas: \"dividas-emprestimos\"\n* Movimentações: \"despesas-reembolsaveis\", \"pagamento-fatura-cartao\", \"reembolsos\", \"resgate-investimentos\", \"transferencia-mesma-titularidade\"\n* Reserva e Patrimônio: \"reserva-emergencia\", \"projetos-vida\", \"independencia-financeira\"\n* Investimentos: \"aplicacao-investimentos\"\n* Estorno: \"estorno\"",
              "type": "string"
            },
            {
              "id": "11627cef-1380-4f1a-9076-354dde6aac27",
              "name": "Itaú",
              "value": "=### REGRAS DE OURO:\n\n1. VARREDURA COMPLETA:\n   Não pare na primeira tabela. Procure por seções como \"Lançamentos do cartão virtual\" e \"Lançamentos do cartão adicional\". Extraia TUDO.\n\n2. FIDELIDADE ABSOLUTA:\n   Extraia cada linha individualmente. Todos valores devem ter tipo DESPESA.\n\n3. CATEGORIZAÇÃO ESTREITA:\n   Você DEVE classificar cada item usando EXCLUSIVAMENTE a hierarquia abaixo.\n\n4. FILTRO DE RUÍDO:\n   Ignore linhas que sejam apenas títulos de seções, resumos ou subtotais.\n\n   NÃO extraia:\n   - \"Compras à vista\"\n   - \"Compras parceladas\"\n   - \"Mensalidade\" (quando for título de seção)\n   - \"Descontos\" (resumo)\n   - \"Saldo Anterior\"\n   - \"Total\"\n\n---\n\n### Tratamento de irregularidades:\n\n#### 1. HIGIENIZAÇÃO DE RUÍDO GRÁFICO (OCR CORROMPIDO):\n\nO extrator de OCR frequentemente corrompe a coluna de datas nas tabelas do Itaú, injetando zeros, barras extras ou repetindo números (ex: transforma \"11/07\" em \"01/1/07\", \"02/7/11\" ou datas com 5 dígitos como \"02/212\").\n\n##### AÇÃO:\n\n1. Pegue a string da data lida.\n   Exemplos:\n   - \"01/1/07\"\n   - \"02/7/11\"\n   - \"03/1/12\"\n   - \"03/20/12\"\n\n2. Remova/jogue fora o primeiríssimo dígito da string.\n\n3. Mova a primeira barra do texto uma posição para a direita (avançando dois dígitos após a remoção do primeiro).\n\n##### Exemplos:\n\n- Se o OCR leu `\"01/1/07\"`:\n  - Joga fora o primeiro dígito `'0'` → sobra `\"1/1/07\"`\n  - Passa a barra para a direita → vira `\"11/07\"`\n\n- Se o OCR leu `\"02/7/11\"`:\n  - Joga fora o primeiro dígito `'0'` → sobra `\"2/7/11\"`\n  - Passa a barra para a direita → vira `\"27/11\"`\n\n---\n\n#### 2. REGRA PARA PARCELAMENTOS ANTIGOS SEM DIA EXPLÍCITO:\n\nLinhas de compras parceladas há muitos meses costumam perder a formatação do dia no OCR, trazendo apenas referências ao número da parcela (ex: `\"Socio Camisa 7 07/12\"` ou `\"TICPAYILUMINACAO 08/12\"`).\n\nVocê está PROIBIDO de inventar o dia da transação usando os números que indicam a parcela (como usar dia 07 ou dia 08).\n\n##### AÇÃO:\n\nSempre que uma linha contiver parcelamento (ex: `\"XX/YY\"`) e o dia exato da transação no início da linha estiver ilegível, omitido ou confuso devido ao erro do OCR:\n\n- Adote como o \"Dia da Transação\" o dia do Fechamento Real do cartão:\n  - `Dia do Vencimento - 7 dias`\n\n- Como esse dia de ajuste contábil calculado será obrigatoriamente MENOR que o dia do vencimento:\n  - force o mês e ano para o `\"Mês Principal da Competência\"`.\n\n---\n\n#### 3. PROTOCOLO OBRIGATÓRIO DE AUTO-DETECÇÃO E ANCORAGEM\n*(Ciclo baseado no Dia do Vencimento)*\n\n---\n\n##### PASSO 1: Localização da ÂNCORA MESTRE\n\nLocalize no início do texto a `\"Data de Vencimento\"` oficial da fatura.\n\nProcure por termos como:\n- `\"Vencimento:\"`\n- `\"Com vencimento em:\"`\n- `\"Data de Vencimento\"`\n\n##### AÇÃO:\n\n- Identifique e isole:\n  - DIA\n  - MÊS\n  - ANO\n\nEsses valores serão sua **ÂNCORA MESTRE**.\n\nA partir do mês e ano dessa âncora, determine:\n\n- `\"Mês Principal da Competência\"`:\n  - o mesmo mês do vencimento\n\n- `\"Mês Anterior do Ciclo\"`:\n  - o mês imediatamente anterior\n\n##### Exemplo:\n\nSe você encontrou:\n\n`Vencimento: 25/01/2026`\n\nEntão:\n\n- Mês Principal = Janeiro/2026\n- Mês Anterior = Dezembro/2025\n\n---\n\n##### PASSO 2: EXTRAÇÃO DAS LINHAS DE TRANSAÇÃO (TOLERÂNCIA ZERO)\n\nNas tabelas de lançamentos nacionais e internacionais:\n\n- Ignore completamente o mês que o OCR gerou na linha.\n- Você deve focar e capturar APENAS o DIA da transação (limpo no Passo 1 de Higienização).\n\nPara reconstruir o MÊS e o ANO corretos de cada item no JSON:\n\n- Compare o DIA da compra com o DIA do vencimento detectado no PASSO 1.\n\n---\n\n### REGRA A\n\n#### SE O DIA DA COMPRA FOR MAIOR OU IGUAL AO DIA DO VENCIMENTO:\n\nEsta compra foi realizada no início do ciclo (mês passado).\n\n##### AÇÃO:\n\nForce:\n- MÊS = `\"Mês Anterior do Ciclo\"`\n- ANO = ano correspondente ao mês anterior\n\n##### Exemplo:\n\nVencimento detectado:\n`25/01/2026`\n\nLinha indica:\n- `\"28/12\"`\n- ou `\"28/02\"`\n\nComo:\n`28 >= 25`\n\nIgnore o mês impresso e force:\n\n- Mês = Dezembro\n- Ano = 2025\n\n##### Data final:\n`28/12/2025`\n\n---\n\n### REGRA B\n\n#### SE O DIA DA COMPRA FOR MENOR QUE O DIA DO VENCIMENTO:\n\nEsta compra foi realizada no mês corrente do fechamento.\n\n##### AÇÃO:\n\nForce:\n- MÊS = `\"Mês Principal da Competência\"`\n- ANO = ano correspondente ao mês principal\n\n##### Exemplo:\n\nVencimento detectado:\n`25/01/2026`\n\nLinha indica:\n- `\"02/01\"`\n- ou `\"02/02\"`\n\nComo:\n`2 < 25`\n\nIgnore o mês impresso e force:\n\n- Mês = Janeiro\n- Ano = 2026\n\n##### Data final:\n`02/01/2026`\n\n---\n\n### RESTRIÇÃO ABSOLUTA\n\nNENHUMA transação pode ter um mês ou ano gerado que fuja dessas duas opções calculadas:\n\n- `\"Mês Principal da Competência\"`\n- `\"Mês Anterior do Ciclo\"`\n\nÉ terminantemente proibido criar lançamentos em meses futuros (como fevereiro em uma fatura com vencimento em janeiro).",
              "type": "string"
            },
            {
              "id": "e7413318-f4d5-4554-b0f7-1ebe4a61ed1a",
              "name": "Santander",
              "value": "=### 🕵️‍♂️ ETAPA 1: LOCALIZAÇÃO DA ÂNCORA TEMPORAL\nAntes de olhar as despesas, faça uma varredura no texto para encontrar a \"Data de Vencimento\" da fatura atual (Procure por termos como \"Vencimento\", \"Vence em\", \"Data de Vencimento\").\n- Guarde mentalmente o MÊS e o ANO desse vencimento. Eles serão a sua Âncora Temporal.\n- Exemplo com base no documento: Ao encontrar \"Vencimento 26/01/2026\", sua âncora é Janeiro de 2026.\n\n### 📅 ETAPA 2: PROTOCOLO DE RACIOCÍNIO CRONOLÓGICO UNIVERSAL\nComo as faturas exibem apenas o dia e o mês (DD/MM) em cada linha de despesa, você deve inferir o ANO e o MÊS exatos de cada lançamento calculando o deslocamento a partir da **Âncora Temporal vigente daquela seção**:\n\n1. **REGRA DE DESLOCAMENTO DINÂMICO (MÊS DA ÂNCORA VIGENTE - 1):**\n   - **SE O DIA DO LANÇAMENTO FOR MAIOR OU IGUAL AO DIA DO VENCIMENTO DA SEÇÃO** (ex: vencimento vigente é dia 26 e o lançamento é no dia 26, 27, 28...):\n     - Esse gasto pertence ao **Mês do Vencimento vigente menos 1**.\n     - *Cálculo:* Se o vencimento da seção atual é no Mês 05 (Maio), o mês correto deste lançamento é 04 (Abril).\n     - *Atenção à Virada de Ano:* Se o vencimento vigente for no Mês 01 (Janeiro), o mês do lançamento será 12 (Dezembro) e o Ano será o **Ano do Vencimento menos 1**.\n   - **SE O DIA DO LANÇAMENTO FOR MENOR DO QUE O DIA DO VENCIMENTO DA SEÇÃO** (ex: vencimento vigente é dia 26 e o lançamento é no dia 01, 02, 10, 15...):\n     - Esse gasto pertence ao **MESMO MÊS e MESMO ANO do Vencimento vigente**.\n     - *Cálculo:* Se o vencimento vigente é no Mês 05 (Maio), o mês correto deste lançamento é 05 (Maio).\n\n2. **VALIDAÇÃO VIA CICLO DE COMPRAS DA SEÇÃO (PLANO A - SE DISPONÍVEL):**\n   - Se a seção atual da fatura exibir explicitamente o intervalo do ciclo (ex: \"Período: 20/01 a 19/02\"), use estritamente estes dois meses para balizar os lançamentos daquela respectiva fatura. Dias maiores ficam no primeiro mês, dias menores ficam no segundo mês.",
              "type": "string"
            },
            {
              "id": "50800248-d2d4-4cc9-8efc-31b24b366be9",
              "name": "Banco do Brasil",
              "value": "=### 🕵️‍♂️ ETAPA 1: LOCALIZAÇÃO DA ÂNCORA TEMPORAL E MÊS DE COMPETÊNCIA\nAntes de analisar os lançamentos detalhados, faça uma varredura completa no cabeçalho e nos blocos informativos do documento para capturar as variáveis de controle cronológico (procure por termos como \"Vencimento\", \"Fechamento\", \"Fatura de [Mês]\").\n\n1. **ÂNCORA DE VENCIMENTO:** Localize a Data de Vencimento oficial da fatura (ex: 08/03/2026). Extraia e armazene mentalmente o MÊS DO VENCIMENTO e o ANO DO VENCIMENTO.\n2. **MÊS DE COMPETÊNCIA (CONSUMO):** Determine o ciclo real de consumo que está sendo cobrado. Em faturas de cartão, a competência representa o período de compras que fecha cerca de 10 dias antes do vencimento. Portanto, o mês de competência principal será sempre o **Mês de Vencimento menos 1** (ex: se o vencimento ocorre em março, a competência/consumo refere-se a fevereiro).\n   - *Nota de Validação:* Termos como \"Fatura fechada em 25/02/2026\" ou \"Período das compras: 20/01 a 19/02\" servem para chancelar e fixar o ciclo de competência.\n\n---\n\n### 📅 ETAPA 2: PROTOCOLO DE RACIOCÍNIO CRONOLÓGICO UNIVERSAL (DD/MM)\nComo as linhas de despesa dos extratos bancários costumam exibir apenas o dia e o mês (DD/MM), você deve inferir o ANO e o MÊS exatos de cada lançamento aplicando as seguintes regras de cálculo em relação ao Mês de Competência:\n\n1. **COMPRAS DIRETAS (À VISTA OU LANÇAMENTOS DO MÊS):**\n   - **Regra para Dias Baixos/Médios (Mesmo Mês de Competência):** Se o mês impresso na linha de despesa for igual ao mês do fechamento da fatura (ex: \"14/02\" ou \"15/02\" em uma fatura com fechamento em 25/02), fixe o mês e o ano baseado rigorosamente no ciclo de competência atual.\n     - *Resultado:* \"14/02\" deve ser convertido para `14/02/2026`.\n   - **Regra para Dias Altos (Mês Anterior de Competência):** Se o dia for alto e o mês impresso na linha for o mês imediatamente anterior ao fechamento (ex: \"29/01\" ou \"31/01\" em uma fatura de competência fevereiro), ele representa os gastos feitos no início do ciclo de apuração.\n     - *Resultado:* \"29/01\" deve ser convertido para `29/01/2026`.\n   - **⚠️ Filtro de Segurança contra Virada de Ano Contábil (Dezembro/Janeiro):** Se o Mês de Vencimento da fatura for **Janeiro** ou **Fevereiro** (Competência Dezembro ou Janeiro) e a linha de despesa trouxer os meses **11 (Novembro)** ou **12 (Dezembro)**, o ano deste lançamento deve recuar obrigatoriamente para **Ano do Vencimento menos 1**.\n     - *Exemplo Prático:* Em uma fatura com vencimento em `08/03/2026` (Competência Fevereiro), um lançamento com a data `25/12` indica um consumo do ano anterior. Logo, o formato final deve ser `25/12/2025`.\n\n2. **🔴 REGRA DE OURO PARA COMPRAS PARCELADAS (BLOCOS RECORRENTES):**\n   Nas tabelas ou linhas identificadas sob os títulos \"Compras parceladas\" ou que apresentem indicadores explícitos de divisão (ex: `PARC 02/06`, `04/12`), a data impressa na linha (ex: `05/09` ou `29/12`) indica apenas o dia histórico em que a compra original foi efetuada no passado.\n   - **Ação Obrigatória:** Para fins de auditoria e registro do fluxo de caixa atual, **ignore completamente o mês e o ano originais impressos na linha de parcelamento**.\n   - **Dotação do Lançamento:** Capture apenas o **Dia** impresso na linha (ou use o dia de fechamento se a linha omitir o dia). Em seguida, **force o Mês e o Ano** para que batam exatamente com o **Mês de Competência/Consumo da fatura atual**, pois é neste ciclo que o dinheiro está sendo debitado.\n     - *Exemplo Prático:* A linha cita `\"05/09\", \"ASA*GARDEN JO PARC 06/10\", \"R$ 149,10\"` dentro de uma fatura que vence em `08/03/2026` (Competência Fevereiro).\n     - *Conversão Correta:* Você deve extrair esse lançamento com a data de **`05/02/2026`** (focado no mês de consumo cobrado) e nunca em setembro ou no ano anterior.\n\n3. **VALIDAÇÃO VIA CICLO DE COMPRAS DA SEÇÃO (PLANO A - SE DISPONÍVEL):**\n   - Sempre que o documento trouxer o intervalo explícito de apuração (ex: \"19/11/2025 a 18/12/2025\"), utilize esses dois meses como cercas cronológicas rígidas. Lançamentos com dias maiores ficam no primeiro mês do ciclo e lançamentos com dias menores ficam no segundo mês do ciclo, realizando a virada de ano/mês de forma automática.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14656,
        14096
      ],
      "id": "ad4b84aa-750d-4d10-804f-0b5c6118c400",
      "name": "variáveis de prompt fatura1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e052f3a2-493f-4468-afee-de599ac64bbc",
              "name": "Generico",
              "value": "=### 🚨 PROTOCOLO DE PRECISÃO NUMÉRICA (TOLERÂNCIA ZERO)\n- **INTEGRIDADE DE DÍGITOS:** É terminantemente proibido omitir ou arredondar algarismos. Valores como '10.000,00' possuem 5 dígitos antes da vírgula; '100.000,00' possui 6 dígitos. Transcreva TODOS os algarismos conforme a imagem.\n- **DIFERENCIAÇÃO DE COLUNAS:** Extratos possuem colunas de \"Valor da Operação\" e \"Saldo Acumulado\". Extraia **EXCLUSIVAMENTE** o valor da operação individual. O saldo final da linha deve ser ignorado.\n\n### ⚠️ REGRAS DE EXTRAÇÃO DINÂMICA\n1. **IDENTIFICAÇÃO DO TITULAR:** Localize no cabeçalho do documento o nome do proprietário da conta. Este nome será sua única referência para \"Mesma Titularidade\".\n2. **VARREDURA TOTAL:** Extraia cada linha de transação. Se houver apenas o \"Dia\", use o mês e ano indicados no topo da página.\n3. **FILTRO DE RUÍDO:** Ignore linhas de \"Saldo Diário\", \"Saldo Anterior\", \"Resumo\" ou \"Totais\".\n4. **TAXAS E IMPOSTOS:** Extraia cobranças reais como \"IOF\", \"Juros\", \"Tarifas\" ou \"Anuidade\", mesmo que apareçam em seções separadas.\n5. **LÓGICA DE SINAL:**\n   - **Receita (+):** Valores positivos, \"Crédito\", \"Pix Recebido\", \"Estorno\", \"Resgate\". (JSON: valor positivo, tipo: \"receita\").\n   - **Despesa (-):** Valores negativos (sinal \"-\"), \"Débito\", \"Pix Enviado\", \"Pagamento\", \"Boleto\". (JSON: valor negativo, tipo: \"despesa\").\n6. **VALIDAÇÃO DE TITULARIDADE (ESTRITA):**\n   - Se o nome na transação for **exatamente igual** ao nome do titular localizado no cabeçalho: use `transferencia-mesma-titularidade`.\n   - Se o nome for diferente (outra pessoa, empresa, estabelecimento): **Proibido** usar mesma titularidade. Categorize como gasto ou renda de terceiros.",
              "type": "string"
            },
            {
              "id": "11627cef-1380-4f1a-9076-354dde6aac27",
              "name": "Itaú",
              "value": "=### 🚨 PROTOCOLO DE PRECISÃO NUMÉRICA (TOLERÂNCIA ZERO)\n- **INTEGRIDADE DE DÍGITOS:** É terminantemente proibido omitir ou arredondar algarismos. Valores como '10.000,00' possuem 5 dígitos antes da vírgula; '100.000,00' possui 6 dígitos. Transcreva TODOS os algarismos conforme a imagem.\n- **DIFERENCIAÇÃO DE COLUNAS:** Extratos possuem colunas de \"Valor da Operação\" e \"Saldo Acumulado\". Extraia **EXCLUSIVAMENTE** o valor da operação individual. O saldo final da linha deve ser ignorado.\n\n### ⚠️ REGRAS DE EXTRAÇÃO DINÂMICA\n1. **IDENTIFICAÇÃO DO TITULAR:** Localize no cabeçalho do documento o nome do proprietário da conta. Este nome será sua única referência para \"Mesma Titularidade\".\n2. **VARREDURA TOTAL:** Extraia cada linha de transação. Se houver apenas o \"Dia\", use o mês e ano indicados no topo da página. Você está processando uma página individual de um extrato de múltiplas páginas. Extraia TODAS as transações visíveis nesta imagem específica. Não tente resumir ou omitir linhas, mesmo que pareçam repetidas ou irrelevantes. Se a data estiver cortada, use o contexto do cabeçalho da página atual.\n\n\"FORCE_ALL_LINES\": \"É obrigatório que o número de objetos no array 'transacoes' seja EXATAMENTE IGUAL ao número de linhas de transação visíveis na imagem. Conte as linhas antes de escrever o JSON.\"\n\n\"STRICT_PAGINATION\": \"Você receberá apenas uma imagem por vez. Extraia TUDO o que nela consta. Não resuma e não use '...'. Se houver por exemplo, 40 linhas, coloque os 40 objetos no Json.\n\n3. **FILTRO DE RUÍDO:** Ignore linhas de \"Saldo Diário\", \"Saldo Anterior\", \"Resumo\" ou \"Totais\".\n4. **TAXAS E IMPOSTOS:** Extraia cobranças reais como \"IOF\", \"Juros\", \"Tarifas\" ou \"Anuidade\", mesmo que apareçam em seções separadas.\n5. **LÓGICA DE SINAL:**\n   - **Receita (+):** Valores positivos, \"Crédito\", \"Pix Recebido\", \"Estorno\", \"Resgate\". (JSON: valor positivo, tipo: \"receita\").\n   - **Despesa (-):** Valores negativos (sinal \"-\"), \"Débito\", \"Pix Enviado\", \"Pagamento\", \"Boleto\". (JSON: valor negativo, tipo: \"despesa\").\n6. **VALIDAÇÃO DE TITULARIDADE (ESTRITA):**\n   - Se o nome na transação for **exatamente igual** ao nome do titular localizado no cabeçalho: use `transferencia-mesma-titularidade`.\n   - Se o nome for diferente (outra pessoa, empresa, estabelecimento): **Proibido** usar mesma titularidade. Categorize como gasto ou renda de terceiros.\n",
              "type": "string"
            },
            {
              "id": "67087799-efd3-4827-a5bd-ce18ef75f037",
              "name": "=Inter",
              "value": "=### 🚨 PROTOCOLO DE PRECISÃO NUMÉRICA (TOLERÂNCIA ZERO)\n- **INTEGRIDADE DE DÍGITOS:** É terminantemente proibido omitir ou arredondar algarismos. Valores como '10.000,00' possuem 5 dígitos antes da vírgula; '100.000,00' possui 6 dígitos. Transcreva TODOS os algarismos conforme a imagem.\n- **DIFERENCIAÇÃO DE COLUNAS:** Extratos possuem colunas de \"Valor da Operação\" e \"Saldo Acumulado\". Extraia **EXCLUSIVAMENTE** o valor da operação individual. O saldo final da linha deve ser ignorado.\n\n### ⚠️ REGRAS DE EXTRAÇÃO DINÂMICA\n1. **IDENTIFICAÇÃO DO TITULAR:** Localize no cabeçalho do documento o nome do proprietário da conta. Este nome será sua única referência para \"Mesma Titularidade\".\n2. **VARREDURA TOTAL:** Extraia cada linha de transação. Se houver apenas o \"Dia\", use o mês e ano indicados no topo da página.\n3. **FILTRO DE RUÍDO:** Ignore linhas de \"Saldo Diário\", \"Saldo Anterior\", \"Resumo\" ou \"Totais\".\n4. **TAXAS E IMPOSTOS:** Extraia cobranças reais como \"IOF\", \"Juros\", \"Tarifas\" ou \"Anuidade\", mesmo que apareçam em seções separadas.\n5. **LÓGICA DE SINAL:**\n   - **Receita (+):** Valores positivos, \"Crédito\", \"Pix Recebido\", \"Estorno\", \"Resgate\". (JSON: valor positivo, tipo: \"receita\").\n   - **Despesa (-):** Valores negativos (sinal \"-\"), \"Débito\", \"Pix Enviado\", \"Pagamento\", \"Boleto\". (JSON: valor negativo, tipo: \"despesa\").\n6. **VALIDAÇÃO DE TITULARIDADE (ESTRITA):**\n   - Se o nome na transação for **exatamente igual** ao nome do titular localizado no cabeçalho: use `transferencia-mesma-titularidade`.\n   - Se o nome for diferente (outra pessoa, empresa, estabelecimento): **Proibido** usar mesma titularidade. Categorize como gasto ou renda de terceiros.\n\n#Regra para extratos bancários com lançamentos agrupados por data:\n\nAlguns extratos não exibem a data em todas as linhas de transação. Em vez disso, eles organizam os lançamentos em blocos por data.\n\nQuando o documento estiver nesse formato, você deve interpretar a data da seguinte forma:\n\n1. Sempre que encontrar uma linha de cabeçalho de data, como:\n   - \"2 de Janeiro de 2026\"\n   - \"15 de Fevereiro de 2026\"\n   - \"03/01/2026\"\n   - \"03/01\"\n\n   essa data passa a ser a \"data vigente\" do bloco.\n\n2. Todas as transações que aparecerem abaixo dessa data devem receber essa mesma data, até que uma nova data de cabeçalho apareça.\n\n3. Quando uma nova data aparecer, atualize a \"data vigente\" e aplique essa nova data aos lançamentos seguintes.\n\n4. Nunca deixe uma transação sem data apenas porque a linha da transação não contém uma data própria. Se ela estiver dentro de um bloco de data, use a data do bloco.\n\n5. Não misture datas entre blocos. Uma transação pertence sempre à data mais próxima acima dela, desde que nenhuma outra data tenha aparecido entre a data e a transação.\n\n6. Se a primeira transação da página não tiver data visível, mas a página anterior terminou com uma data vigente, continue usando a última data válida da página anterior, desde que fique claro que a listagem é contínua.\n\n7. Se não houver nenhuma data anterior identificável no documento ou na página anterior, retorne null para a data e sinalize no campo observacao: \"data não identificada\".\n\nExemplo:\n\nTexto do extrato:\n\n2 de Janeiro de 2026\nPix recebido - João Silva - R$ 700,00\nPix enviado - Empresa XPTO - R$ 223,14\nPix recebido - Maria Souza - R$ 70,00\n\n5 de Janeiro de 2026\nPix recebido - Cliente A - R$ 700,00\nPix enviado - Fornecedor B - R$ 129,00\n\n\nAtenção:\nA data do bloco deve ser tratada como informação estrutural do extrato, não como uma transação. Ela serve apenas para datar os lançamentos abaixo dela.\n\nSe houver conflito entre uma data no bloco e uma data explícita dentro da própria linha da transação, priorize a data explícita da linha da transação, mas registre a divergência em observacao.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14560,
        13872
      ],
      "id": "200dd206-3e8d-43f9-a030-75d00ebbb759",
      "name": "variáveis de prompt extrato1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Prompt de Extração Financeira Universal (Motor de Auditoria)\n\nVocê é um especialista em OCR financeiro. Sua missão é extrair transações de qualquer extrato bancário, garantindo integridade numérica total e classificação lógica.\n\n{{ $('variáveis de prompt extrato1').item.json[$('Recebe link do Supabase Storage2').item.json.body.bankName] || $('variáveis de prompt extrato1').item.json.Generico }}\n\n### 🗂️ HIERARQUIA DE CATEGORIZAÇÃO (Use apenas estes IDs)\n- **ENTRADA (+):** [renda, renda-conjuge, outras-fontes-renda, reembolsos, resgate-investimentos, estorno]\n- **SAÍDA (-):**\n  - **Essenciais:** [alimentacao-mercado, casa-veraneio, cuidados-pessoais, despesas-saude, dizimo-oferta, educacao, esportes, filhos-familia, impostos-taxas, moradia, pets, profissional, seguros, servicos-financeiros, transporte]\n  - **Variáveis:** [assinaturas, compras, lazer, outros-gv, presentes-doacoes, restaurantes, roupas-acessorios, tarifas-bancarias, viagens]\n  - **Compromissos:** [financiamento-imobiliario, financiamento-veiculo, consorcio, dividas-emprestimos, aplicacao-investimentos, reserva-emergencia, pagamento-fatura-cartao, transferencia-mesma-titularidade, despesas-reembolsaveis]\n\n### FORMATO DE SAÍDA (JSON):\n{\n  \"transacoes\": [\n    {\n      \"data\": \"DD/MM/YYYY\",\n      \"descricao\": \"NOME DO ESTABELECIMENTO OU TERCEIRO\",\n      \"valor\": 00.00,\n      \"tipo\": \"despesa/receita\",\n      \"categoria\": \"id-da-categoria\"\n    }\n  ]\n}\n\nO arquivo está aqui: {{ $('Recebe link do Supabase Storage2').item.json.body.fileName.toLowerCase().includes('ofx') ? JSON.stringify($('Une os lançamentos pra IA2').all().map(i => i.json)) : $('Extrai PDF, CSV e XLSX3').item.json.extractedText }}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        14864,
        13856
      ],
      "id": "5ff9268a-2c74-46ec-9ae3-fdbebd831c0d",
      "name": "IA Leitora de Extrato2"
    },
    {
      "parameters": {
        "content": "# 🏦 Checklist de Homologação de Bancos Selecionados\n\n- [ ] **Banco do Brasil** | Extrato: [ ] | Fatura: [x]\n- [ ] **Bradesco** | Extrato: [ ] | Fatura: [ ]\n- [ ] **BTG Pactual** | Extrato: [x] | Fatura: [ ]\n- [ ] **C6 Bank** | Extrato: [ ] | Fatura: [ ]\n- [ ] **Caixa Econômica** | Extrato: [ ] | Fatura: [ ]\n- [ ] **Itaú** | Extrato: [ ] | Fatura: [x]\n- [ ] **Nubank** | Extrato: [ ] | Fatura: [ ]\n- [ ] **Santander** | Extrato: [ ] | Fatura: [x]\n- [x] **Unicredi** | Extrato: [ ] | Fatura: [ ]\n- [ ] **XP** | Extrato: [ ] | Fatura: [ ]",
        "height": 864,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15552,
        13376
      ],
      "id": "e4d4c75f-cc60-435c-9a21-13e63a2ea4e1",
      "name": "Sticky Note24",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * NORMALIZADOR UNIVERSAL V6.0 - BLINDADO (ACEITA ARRAY OU TEXTO BRUTO)\n */\nconst anoAtual = new Date().getFullYear();\nlet infoConta = { id: \"\", nome: \"Banco - Conta\" };\n\n// 1. CAPTURA DADOS DO WEBHOOK\ntry {\n  const webhookNode = $(\"Recebe link do Supabase Storage2\").first();\n  if (webhookNode && webhookNode.json && webhookNode.json.body) {\n      infoConta.id = webhookNode.json.body.accountId || \"\";\n      infoConta.nome = `${webhookNode.json.body.bankName || \"Banco\"} - ${webhookNode.json.body.accountName || \"Conta\"}`;\n  }\n} catch (e) {}\n\nconst resultadosFinais = [];\nconst parcelamentosVistos = new Map(); \nconst relatorio_erros = []; \n\n// 2. LOOP PRINCIPAL PELOS ITENS DA IA\nconst todosOsItens = $input.all();\n\nfor (let i = 0; i < todosOsItens.length; i++) {\n    let item = todosOsItens[i].json;\n    let transacoes = [];\n\n    // --- ESTRATÉGIA DE CAPTURA DUPLA ---\n    if (item.output && Array.isArray(item.output)) {\n        transacoes = item.output;\n    } \n    else {\n        let textoBruto = item.text || item.message?.content || \"\";\n        if (item.content && Array.isArray(item.content) && item.content[0]?.text) {\n            textoBruto = item.content[0].text;\n        }\n\n        if (textoBruto) {\n            const match = textoBruto.match(/[\\{\\[]([\\s\\S]*)[\\}\\]]/);\n            if (match) {\n                try {\n                    let jsonLimpo = match[0];\n                    jsonLimpo = jsonLimpo.replace(/\\},\\s*}/g, '} ] }').replace(/,\\s*([\\]}])/g, '$1');\n                    \n                    const dadosParseados = JSON.parse(jsonLimpo);\n                    transacoes = dadosParseados.transacoes || dadosParseados.output || (Array.isArray(dadosParseados) ? dadosParseados : []);\n                } catch (parseErr) {\n                    relatorio_erros.push({ erro: `Falha ao parsear string de texto na página ${i}`, detalhe: parseErr.message });\n                }\n            }\n        }\n    }\n\n    if (!Array.isArray(transacoes) || transacoes.length === 0) {\n        relatorio_erros.push({ aviso: `Não foi possível extrair transações estruturadas do item ${i}.` });\n        continue;\n    }\n\n    // 3. MAPEAMENTO PADRÃO DAS TRANSAÇÕES ENCONTRADAS\n    transacoes.forEach((t, index) => {\n        const descOriginal = (t.t || t.descricao || \"\").toString().toUpperCase().trim();\n        const valorOriginal = parseFloat(t.v !== undefined ? t.v : t.valor) || 0;\n        const sinal = t.s || t.tipo || \"\";\n        \n        let valorFinal = (sinal === \"-\" || sinal.toLowerCase() === \"despesa\") ? -Math.abs(valorOriginal) : Math.abs(valorOriginal); \n\n        // Tratamento da Data (DD/MM/YYYY -> ISO YYYY-MM-DD)\n        let dataRaw = t.d || t.data || \"\";\n        let dataISO = dataRaw.split('-')[0].trim();\n        if (dataISO.includes('/')) {\n            const pDate = dataISO.split('/');\n            const anoLido = pDate[2] ? pDate[2].trim() : anoAtual;\n            dataISO = `${anoLido}-${pDate[1].padStart(2,'0')}-${pDate[0].padStart(2,'0')}T12:00:00`;\n        }\n\n        const p = t.p || t.parcelamento || null;\n\n        // --- LÓGICA DE FILTRO DE DUPLICIDADE DE PARCELA ---\n        const matchParcela = (p || descOriginal).match(/(\\d+)\\s*[\\/\\-de\\s]+\\s*(\\d+)/);\n        if (matchParcela) {\n            const pAtual = parseInt(matchParcela[1], 10);\n            const pTotal = matchParcela[2];\n            const descLimpa = descOriginal.replace(/\\(?\\s*\\d+\\s*[\\/\\-de\\s]+\\s*\\d+\\s*\\)?/g, '').trim();\n            const signature = `${descLimpa}_${valorFinal}_${pTotal}`;\n\n            if (parcelamentosVistos.has(signature) && pAtual > parcelamentosVistos.get(signature)) return;\n            parcelamentosVistos.set(signature, pAtual);\n        }\n\n        const categoriaAtual = t.c || t.categoria || \"outros-gv\";\n\n        // Lista de categorias consideradas \"neutras\"\n        const categoriasNeutras = [\n            \"reembolsos\", \n            \"estorno\", \n            \"pagamento-fatura-cartao\", \n            \"transferencia-mesma-titularidade\", \n            \"despesas-reembolsaveis\", \n            \"reserva-emergencia\", \n            \"projetos-vida\", \n            \"independencia-financeira\"\n        ];\n\n        resultadosFinais.push({\n            json: {\n                account_id: infoConta.id,\n                Conta: infoConta.nome,\n                Data_lancamento: dataISO,\n                Descricao: descOriginal,\n                Valor: valorFinal,\n                // REGRA SELEÇÃO: Se a categoria estiver na lista, é neutro. Se não estiver, obrigatoriamente despesa.\n                Tipo: categoriasNeutras.includes(categoriaAtual) ? \"neutro\" : \"despesa\",\n                Categoria: categoriaAtual,\n                p: p,\n                id_conciliacao: `ocr-${i}-${index}`,\n                Data_pagamento: dataISO,\n                Classificacao: categoriaAtual\n            }\n        });\n    });\n}\n\n// 4. FILTRAGEM DE RUÍDO FINANCEIRO\nconst validos = resultadosFinais.filter(res => {\n    const d = res.json.Descricao;\n    const ignorar = [\"TOTAL\", \"SUBTOTAL\", \"RESUMO\", \"PAGAMENTO EFETUADO\", \"SALDO ANTERIOR\"];\n    return !ignorar.some(p => d.includes(p)) && d !== \"\";\n});\n\nif (validos.length > 0) {\n    return validos;\n}\n\nreturn relatorio_erros.length > 0 ? relatorio_erros.map(e => ({ json: e })) : [{ json: { aviso: \"Nenhuma transação gerada.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13664,
        14512
      ],
      "id": "98fed72f-7759-434d-9e53-c8f6b7b929a6",
      "name": "Padronizador Fatura2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * NORMALIZADOR UNIVERSAL (PEGA TUDO O QUE CHEGAR)\n */\n\n// 1. DADOS DA CONTA\nlet accountId = \"\";\nlet bankName = \"\";\ntry {\n  const webhook = $('Recebe link do Supabase Storage2').first().json;\n  const webData = webhook.body || webhook;\n  accountId = webData.accountId || \"\";\n  bankName = webData.bankName || \"Banco\";\n} catch (e) { bankName = \"Banco\"; }\n\n// 2. CAPTURA DE DADOS (ABERTURA DE ENVELOPE)\nlet listaBruta = [];\nconst incomingData = $input.all();\n\nfor (const item of incomingData) {\n  const data = item.json;\n  \n  // Tenta encontrar a lista de transações em qualquer lugar\n  let alvo = data.output || data;\n  \n  if (Array.isArray(alvo)) {\n    listaBruta = listaBruta.concat(alvo);\n  } else if (typeof alvo === 'object' && (alvo.t || alvo.d)) {\n    listaBruta.push(alvo);\n  }\n}\n\n// 3. MAPEAMENTO\nconst anoAtual = new Date().getFullYear();\n\nconst final = listaBruta.map((item, index) => {\n  const desc = (item.t || \"\").toString().toUpperCase().trim();\n  let v = item.v !== undefined ? item.v : 0;\n  \n  if (typeof v === 'string') v = v.replace(/[R$\\s]/ig, '').replace(',', '.');\n  let valorFinal = parseFloat(v) || 0;\n  \n  if (item.s === \"-\" || item.s === \"despesa\") valorFinal = -Math.abs(valorFinal);\n  else valorFinal = Math.abs(valorFinal);\n\n  let dataF = item.d || \"\";\n  if (dataF.includes('/')) {\n    let p = dataF.split('/');\n    dataF = `${p[2] || anoAtual}-${p[1].padStart(2,'0')}-${p[0].padStart(2,'0')}T12:00:00`;\n  }\n\n  return {\n    json: {\n      account_id: accountId,\n      Conta: bankName,\n      Data_lancamento: dataF,\n      Data_pagamento: dataF,\n      Descricao: desc,\n      Valor: valorFinal,\n      Tipo: valorFinal < 0 ? \"despesa\" : ([\"reembolsos\", \"estorno\",\"pagamento-fatura-cartao\", \"transferencia-mesma-titularidade\", \"despesas-reembolsaveis\", \"reserva-emergencia\", \"projetos-vida\", \"independencia-financeira\"].includes(item.c) ? \"neutro\" : \"receita\"),\n      Categoria: item.c || \"outros-gv\",\n      id_conciliacao: `${desc}-${valorFinal}-${index}`\n    }\n  };\n});\n\nreturn final;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13680,
        14352
      ],
      "id": "d02dd163-e769-464d-8364-cce028cf0296",
      "name": "Padronizador Extrato2",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Camada 4\n## Notificação ao usuário\n### Lista o conteúdo e resume para o usuário\n",
        "height": 416,
        "width": 2240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13200,
        14704
      ],
      "typeVersion": 1,
      "id": "7335822c-638a-4e39-bbb8-c6bee4a002bb",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "",
        "height": 416,
        "width": 1872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13568,
        14704
      ],
      "typeVersion": 1,
      "id": "58fa6c41-692e-4c31-a3a6-216450320812",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "# Formatos de Arquivos\n\n- [x] xlsx\n- [ ] csv\n- [x] pdf\n",
        "height": 864,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15552,
        14272
      ],
      "id": "e8890068-7130-4ad6-9218-6922448a2a92",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Buscamos o binário diretamente do nó que processou o arquivo original\n// Se o nó que criou o binário tiver outro nome, ajuste 'Code in JavaScript10' abaixo\nconst nodeComArquivo = 'Code in JavaScript6'; \n\nlet binaryData;\ntry {\n    binaryData = await this.helpers.getBinaryDataBuffer(0, 'data', nodeComArquivo);\n} catch (e) {\n    // Caso o nome acima esteja diferente, tentamos pegar do que entrar no nó\n    binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n}\n\nif (!binaryData) {\n    throw new Error(\"Arquivo binário não encontrado. Verifique se o nome do nó de origem está correto.\");\n}\n\nconst rawText = binaryData.toString('utf8');\n\n// 2. O restante do seu processamento OFX\nconst trnRegex = /<STMTTRN>([\\s\\S]*?)<\\/STMTTRN>/g;\nconst transactions = [];\nlet match;\n\nwhile ((match = trnRegex.exec(rawText)) !== null) {\n    const block = match[1];\n    \n    const getValue = (tag) => {\n        const r = new RegExp(`<${tag}>([^<\\\\n\\\\r]+)`, 'i');\n        const m = block.match(r);\n        return m ? m[1].trim() : null;\n    };\n\n    const dateRaw = getValue('DTPOSTED');\n    const amountStr = getValue('TRNAMT');\n    const amount = parseFloat(amountStr);\n    \n    if (dateRaw && amountStr) {\n        transactions.push({\n            json: {\n                d: `${dateRaw.substring(6,8)}/${dateRaw.substring(4,6)}/${dateRaw.substring(0,4)}`,\n                t: getValue('MEMO') || getValue('NAME') || \"TRANSACAO OFX\",\n                v: Math.abs(amount),\n                s: amount < 0 ? '-' : '+',\n                c: null\n            }\n        });\n    }\n}\n\nreturn transactions;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13648,
        13872
      ],
      "id": "0827bd26-37ca-47f0-9f69-2ac2332be09f",
      "name": "Extrai OFX2"
    },
    {
      "parameters": {
        "options": {
          "batch": false
        }
      },
      "type": "n8n-nodes-base.mistralAi",
      "typeVersion": 1,
      "position": [
        13664,
        14096
      ],
      "id": "bbd936aa-3afc-4f76-b2e6-29eaaad244bf",
      "name": "Extrai PDF, CSV e XLSX3",
      "credentials": {
        "mistralCloudApi": {
          "id": "V81QQS8om3rLYwbV",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        13968,
        13872
      ],
      "id": "2e55d567-fe0a-478f-adf2-d7161efe5d54",
      "name": "Une os lançamentos pra IA2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24fb8480-52b3-4a66-8574-882420172277",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        13904,
        13488
      ],
      "id": "b4706b9a-0d43-4178-a640-c6eedef419f3",
      "name": "Recebe link do Supabase Storage2",
      "webhookId": "24fb8480-52b3-4a66-8574-882420172277"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0c242ac-513d-4ff7-90a9-2a3878aff64a",
              "leftValue": "={{ $('Recebe link do Supabase Storage2').item.json.body.fileType }}",
              "rightValue": "ofx",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14480,
        13488
      ],
      "id": "2dbdc06f-5bd2-4d59-8dfb-58dd9a4671a3",
      "name": "é OFX?2"
    },
    {
      "parameters": {
        "tableId": "transactions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.Descricao }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $json.Data_lancamento }}"
            },
            {
              "fieldId": "category_id",
              "fieldValue": "={{ $json.Classificacao }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.Tipo }}"
            },
            {
              "fieldId": "value",
              "fieldValue": "={{ $json.Valor }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.userId }}"
            },
            {
              "fieldId": "account_id",
              "fieldValue": "={{ $json.account_id }}"
            },
            {
              "fieldId": "owner_id",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.ownerId }}"
            },
            {
              "fieldId": "payment_date",
              "fieldValue": "={{ $json.Data_pagamento }}"
            },
            {
              "fieldId": "installment_group_id",
              "fieldValue": "={{ $json.installment_group_id }}"
            },
            {
              "fieldId": "installment_number",
              "fieldValue": "={{ $json.installment_number }}"
            },
            {
              "fieldId": "total_installments",
              "fieldValue": "={{ $json.total_installments }}"
            },
            {
              "fieldId": "confirmed",
              "fieldValue": "={{ $json.confirmed }}"
            },
            {
              "fieldId": "pending_review",
              "fieldValue": "=true"
            },
            {
              "fieldId": "payment_date",
              "fieldValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.paymentDate }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14288,
        14512
      ],
      "id": "3fbd19b1-8939-4538-9d65-f8ad32157f64",
      "name": "Upload pra Plataforma5",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        14224,
        14944
      ],
      "id": "fd52e369-4835-4c12-a736-3ef061cd779c",
      "name": "Summarize8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        13712,
        14800
      ],
      "id": "c7ff7b48-1c99-4d81-aec4-392c020084fb",
      "name": "Limit8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qsteyqjzsljsomcqidwf.supabase.co/rest/v1/notifications",
        "sendHeaders": "***REMOVIDO***",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "***REMOVIDO***"
            },
            {
              "name": "Authorization",
              "value": "***REMOVIDO***"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Recebe link do Supabase Storage2').first().json.body.userId }}\",\n  \"title\": \"Importação concluída\",\n  \"message\": \"O seu arquivo foi processado.  {{ $json.count_id }} lançamentos importados com sucesso!\",\n  \"type\": \"info\",\n  \"link\": \"/lancamentos\"\n}",
        "options": {}
      },
      "name": "Avisa Supabase4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        14400,
        14944
      ],
      "id": "07383323-b70f-42b2-bc64-35aab64b40f7"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "import_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.jobId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.fileName }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "progress",
              "fieldValue": "40"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "status_message",
              "fieldValue": "Texto extraído. Iniciando análise da IA..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        12832,
        13920
      ],
      "id": "a59241a1-1e01-4a52-9362-75e5ce25cc50",
      "name": "Update: Iniciando51",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "import_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.jobId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.fileName }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "progress",
              "fieldValue": "100"
            },
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "status_message",
              "fieldValue": "Concluído!"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        14032,
        14784
      ],
      "id": "ccaf4c5b-c730-4809-932f-8cdb80f3b9fe",
      "name": "Update: Concluído2",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "import_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.jobId }}"
            },
            {
              "keyName": "file_name",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.fileName }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "progress",
              "fieldValue": "80"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "status_message",
              "fieldValue": "Salvando transações..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        12832,
        14480
      ],
      "id": "fe9cac0c-8eae-4d5c-8b53-b7ddf53d39fa",
      "name": "Update: Iniciando52",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "import_jobs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Recebe link do Supabase Storage2').first().json.body.jobId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "error_n8n"
            },
            {
              "fieldId": "status_message",
              "fieldValue": "={{ $json.execution.error.message || 'Erro inesperado ao processar o arquivo.' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15248,
        14736
      ],
      "id": "bbd57e5c-f8af-4d96-ad5d-5a379cef7b0a",
      "name": "Marca Job como Erro2",
      "credentials": {
        "supabaseApi": {
          "id": "kajlEDhCYmeLcxgQ",
          "name": "ELEVA - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * EXTRATOR + NORMALIZADOR UNIVERSAL\n * - Extrai transações do markdown/OCR\n * - Normaliza para o formato final do banco de dados\n */\n\n// ========================================\n// 1. DADOS DA CONTA\n// ========================================\n\nlet accountId = \"\";\nlet bankName = \"\";\n\ntry {\n  const webhook = $('Recebe link do Supabase Storage2').first().json;\n  const webData = webhook.body || webhook;\n\n  accountId = webData.accountId || \"\";\n  bankName = webData.bankName || \"Banco\";\n} catch (e) {\n  bankName = \"Banco\";\n}\n\n// ========================================\n// 2. CONFIGURAÇÃO DE MESES\n// ========================================\n\nconst meses = {\n  \"janeiro\": \"01\",\n  \"fevereiro\": \"02\",\n  \"março\": \"03\",\n  \"abril\": \"04\",\n  \"maio\": \"05\",\n  \"junho\": \"06\",\n  \"julho\": \"07\",\n  \"agosto\": \"08\",\n  \"setembro\": \"09\",\n  \"outubro\": \"10\",\n  \"novembro\": \"11\",\n  \"dezembro\": \"12\"\n};\n\n// ========================================\n// 3. EXTRAÇÃO DAS TRANSAÇÕES\n// ========================================\n\nconst inputData = $input.all();\nconst listaBruta = [];\n\nfor (const item of inputData) {\n\n  // Tenta pegar texto de qualquer campo possível\n  const textoBruto =\n    item.json.markdown ||\n    item.json.extractedText ||\n    item.json.text ||\n    \"\";\n\n  // Caso já venha estruturado\n  if (Array.isArray(item.json.output)) {\n    listaBruta.push(...item.json.output);\n    continue;\n  }\n\n  const linhas = textoBruto.split('\\n');\n\n  let dataVigente = null;\n\n  for (let linha of linhas) {\n\n    linha = linha.trim();\n\n    if (!linha) continue;\n\n    // ========================================\n    // IGNORA LINHAS IRRELEVANTES\n    // ========================================\n\n    if (\n      linha.includes(\"SAC:\") ||\n      linha.includes(\"Ouvidoria:\") ||\n      linha.includes(\"Deficiência\") ||\n      linha.includes(\"Fale com a gente\")\n    ) {\n      continue;\n    }\n\n    // ========================================\n    // DETECTA CABEÇALHO DE DATA\n    // Ex: \"16 de Janeiro de 2026\"\n    // ========================================\n\n    const regexData = /(\\d{1,2})\\s+de\\s+([a-zA-Zçãó]+)\\s+de\\s+(\\d{4})/i;\n\n    const matchData = linha.match(regexData);\n\n    if (matchData) {\n\n      const dia = matchData[1].padStart(2, '0');\n      const mesTexto = matchData[2].toLowerCase();\n      const ano = matchData[3];\n\n      const mes = meses[mesTexto] || \"01\";\n\n      dataVigente = `${dia}/${mes}/${ano}`;\n\n      continue;\n    }\n\n    // ========================================\n    // CAPTURA LINHAS DE TABELA MARKDOWN\n    // ========================================\n\n    if (\n      linha.startsWith('|') &&\n      !linha.includes('---') &&\n      !linha.includes('Saldo total') &&\n      !linha.includes('Valor |')\n    ) {\n\n      const colunas = linha\n        .split('|')\n        .map(c => c.trim())\n        .filter(c => c !== \"\");\n\n      if (colunas.length >= 2) {\n\n        const descricaoBruta = colunas[0];\n        const valorBruto = colunas[1];\n\n        // ========================================\n        // NORMALIZA VALOR\n        // ========================================\n\n        let valorTexto = valorBruto\n          .replace(/[R$\\s\\.]/g, '')\n          .replace(',', '.');\n\n        let valor = parseFloat(valorTexto) || 0;\n\n        const sinal = valor < 0 ? '-' : '+';\n\n        valor = Math.abs(valor);\n\n        // ========================================\n        // SALVA TRANSAÇÃO\n        // ========================================\n\n        if (dataVigente && descricaoBruta) {\n\n          listaBruta.push({\n            d: dataVigente,\n            t: descricaoBruta.replace(/\"/g, '').trim(),\n            v: valor,\n            s: sinal\n          });\n\n        }\n      }\n    }\n  }\n}\n\n// ========================================\n// 4. NORMALIZAÇÃO FINAL\n// ========================================\n\nconst anoAtual = new Date().getFullYear();\n\nconst final = listaBruta.map((item, index) => {\n\n  const desc = (item.t || \"\")\n    .toString()\n    .toUpperCase()\n    .trim();\n\n  let v = item.v !== undefined ? item.v : 0;\n\n  if (typeof v === 'string') {\n    v = v\n      .replace(/[R$\\s]/ig, '')\n      .replace(',', '.');\n  }\n\n  let valorFinal = parseFloat(v) || 0;\n\n  // ========================================\n  // APLICA SINAL\n  // ========================================\n\n  if (\n    item.s === \"-\" ||\n    item.s === \"despesa\"\n  ) {\n    valorFinal = -Math.abs(valorFinal);\n  } else {\n    valorFinal = Math.abs(valorFinal);\n  }\n\n  // ========================================\n  // NORMALIZA DATA\n  // dd/mm/yyyy -> yyyy-mm-dd\n  // ========================================\n\n  let dataF = item.d || \"\";\n\n  if (dataF.includes('/')) {\n\n    const p = dataF.split('/');\n\n    dataF = `${p[2] || anoAtual}-${p[1].padStart(2, '0')}-${p[0].padStart(2, '0')}T12:00:00`;\n  }\n\n  // ========================================\n  // DEFINE TIPO\n  // ========================================\n\n  const categoriasNeutras = [\n    \"reembolsos\",\n    \"estorno\",\n    \"pagamento-fatura-cartao\",\n    \"transferencia-mesma-titularidade\",\n    \"despesas-reembolsaveis\",\n    \"reserva-emergencia\",\n    \"projetos-vida\",\n    \"independencia-financeira\"\n  ];\n\n  const tipo =\n    valorFinal < 0\n      ? \"despesa\"\n      : categoriasNeutras.includes(item.c)\n        ? \"neutro\"\n        : \"receita\";\n\n  // ========================================\n  // RETORNO FINAL\n  // ========================================\n\n  return {\n    json: {\n      account_id: accountId,\n      Conta: bankName,\n\n      Data_lancamento: dataF,\n      Data_pagamento: dataF,\n\n      Descricao: desc,\n\n      Valor: valorFinal,\n\n      Tipo: tipo,\n\n      Categoria: item.c || \"outros-gv\",\n\n      id_conciliacao: `${desc}-${valorFinal}-${index}`\n    }\n  };\n\n});\n\nreturn final;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12816,
        13424
      ],
      "id": "ae8db3be-88fe-4697-a954-50050e03efa7",
      "name": "Code in JavaScript5",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "baff5c6a-da96-4a0d-8243-a15de1d9a369",
              "leftValue": "={{ $('Recebe link do Supabase Storage2').item.json.body.bankName }}",
              "rightValue": "Inter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14224,
        13872
      ],
      "id": "62604f3e-51ed-4b21-bd0e-00b6bce783a8",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "return (new Function('inputData', `return (function(){ ${$node['variáveis de formatação - extrato2'].json[$node['Recebe link do Supabase Storage2'].json.body.bankName].replace(/const inputData = \\$input\\.all\\(\\);/g, '')} })()`))([({ json: { extractedText: $('Extrai PDF, CSV e XLSX3').first().json.extractedText || '', markdown: $('Extrai PDF, CSV e XLSX3').first().json.extractedText || '', text: $('Extrai PDF, CSV e XLSX3').first().json.extractedText || '' } })]);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15856,
        13840
      ],
      "id": "edcd7925-f803-4925-8621-4a3fe8a0b84e",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67087799-efd3-4827-a5bd-ce18ef75f037",
              "name": "=Inter",
              "value": "=/**\n * EXTRATOR + NORMALIZADOR UNIVERSAL\n * - Extrai transações do markdown/OCR\n * - Normaliza para o formato final do banco de dados\n */\n\n// ========================================\n// 1. DADOS DA CONTA\n// ========================================\n\nlet accountId = \"\";\nlet bankName = \"\";\n\ntry {\n  const webhook = $('Recebe link do Supabase Storage2').first().json;\n  const webData = webhook.body || webhook;\n\n  accountId = webData.accountId || \"\";\n  bankName = webData.bankName || \"Banco\";\n} catch (e) {\n  bankName = \"Banco\";\n}\n\n// ========================================\n// 2. CONFIGURAÇÃO DE MESES\n// ========================================\n\nconst meses = {\n  \"janeiro\": \"01\",\n  \"fevereiro\": \"02\",\n  \"março\": \"03\",\n  \"abril\": \"04\",\n  \"maio\": \"05\",\n  \"junho\": \"06\",\n  \"julho\": \"07\",\n  \"agosto\": \"08\",\n  \"setembro\": \"09\",\n  \"outubro\": \"10\",\n  \"novembro\": \"11\",\n  \"dezembro\": \"12\"\n};\n\n// ========================================\n// 3. EXTRAÇÃO DAS TRANSAÇÕES\n// ========================================\n\nconst inputData = $input.all();\nconst listaBruta = [];\n\nfor (const item of inputData) {\n\n  // Tenta pegar texto de qualquer campo possível\n  const textoBruto =\n    item.json.markdown ||\n    item.json.extractedText ||\n    item.json.text ||\n    \"\";\n\n  // Caso já venha estruturado\n  if (Array.isArray(item.json.output)) {\n    listaBruta.push(...item.json.output);\n    continue;\n  }\n\n  const linhas = textoBruto.split('\\n');\n\n  let dataVigente = null;\n\n  for (let linha of linhas) {\n\n    linha = linha.trim();\n\n    if (!linha) continue;\n\n    // ========================================\n    // IGNORA LINHAS IRRELEVANTES\n    // ========================================\n\n    if (\n      linha.includes(\"SAC:\") ||\n      linha.includes(\"Ouvidoria:\") ||\n      linha.includes(\"Deficiência\") ||\n      linha.includes(\"Fale com a gente\")\n    ) {\n      continue;\n    }\n\n    // ========================================\n    // DETECTA CABEÇALHO DE DATA\n    // Ex: \"16 de Janeiro de 2026\"\n    // ========================================\n\n    const regexData = /(\\d{1,2})\\s+de\\s+([a-zA-Zçãó]+)\\s+de\\s+(\\d{4})/i;\n\n    const matchData = linha.match(regexData);\n\n    if (matchData) {\n\n      const dia = matchData[1].padStart(2, '0');\n      const mesTexto = matchData[2].toLowerCase();\n      const ano = matchData[3];\n\n      const mes = meses[mesTexto] || \"01\";\n\n      dataVigente = `${dia}/${mes}/${ano}`;\n\n      continue;\n    }\n\n    // ========================================\n    // CAPTURA LINHAS DE TABELA MARKDOWN\n    // ========================================\n\n    if (\n      linha.startsWith('|') &&\n      !linha.includes('---') &&\n      !linha.includes('Saldo total') &&\n      !linha.includes('Valor |')\n    ) {\n\n      const colunas = linha\n        .split('|')\n        .map(c => c.trim())\n        .filter(c => c !== \"\");\n\n      if (colunas.length >= 2) {\n\n        const descricaoBruta = colunas[0];\n        const valorBruto = colunas[1];\n\n        // ========================================\n        // NORMALIZA VALOR\n        // ========================================\n\n        let valorTexto = valorBruto\n          .replace(/[R$\\s\\.]/g, '')\n          .replace(',', '.');\n\n        let valor = parseFloat(valorTexto) || 0;\n\n        const sinal = valor < 0 ? '-' : '+';\n\n        valor = Math.abs(valor);\n\n        // ========================================\n        // SALVA TRANSAÇÃO\n        // ========================================\n\n        if (dataVigente && descricaoBruta) {\n\n          listaBruta.push({\n            d: dataVigente,\n            t: descricaoBruta.replace(/\"/g, '').trim(),\n            v: valor,\n            s: sinal\n          });\n\n        }\n      }\n    }\n  }\n}\n\n// ========================================\n// 4. NORMALIZAÇÃO FINAL\n// ========================================\n\nconst anoAtual = new Date().getFullYear();\n\nconst final = listaBruta.map((item, index) => {\n\n  const desc = (item.t || \"\")\n    .toString()\n    .toUpperCase()\n    .trim();\n\n  let v = item.v !== undefined ? item.v : 0;\n\n  if (typeof v === 'string') {\n    v = v\n      .replace(/[R$\\s]/ig, '')\n      .replace(',', '.');\n  }\n\n  let valorFinal = parseFloat(v) || 0;\n\n  // ========================================\n  // APLICA SINAL\n  // ========================================\n\n  if (\n    item.s === \"-\" ||\n    item.s === \"despesa\"\n  ) {\n    valorFinal = -Math.abs(valorFinal);\n  } else {\n    valorFinal = Math.abs(valorFinal);\n  }\n\n  // ========================================\n  // NORMALIZA DATA\n  // dd/mm/yyyy -> yyyy-mm-dd\n  // ========================================\n\n  let dataF = item.d || \"\";\n\n  if (dataF.includes('/')) {\n\n    const p = dataF.split('/');\n\n    dataF = `${p[2] || anoAtual}-${p[1].padStart(2, '0')}-${p[0].padStart(2, '0')}T12:00:00`;\n  }\n\n  // ========================================\n  // DEFINE TIPO\n  // ========================================\n\n  const categoriasNeutras = [\n    \"reembolsos\",\n    \"estorno\",\n    \"pagamento-fatura-cartao\",\n    \"transferencia-mesma-titularidade\",\n    \"despesas-reembolsaveis\",\n    \"reserva-emergencia\",\n    \"projetos-vida\",\n    \"independencia-financeira\"\n  ];\n\n  const tipo =\n    valorFinal < 0\n      ? \"despesa\"\n      : categoriasNeutras.includes(item.c)\n        ? \"neutro\"\n        : \"receita\";\n\n  // ========================================\n  // RETORNO FINAL\n  // ========================================\n\n  return {\n    json: {\n      account_id: accountId,\n      Conta: bankName,\n\n      Data_lancamento: dataF,\n      Data_pagamento: dataF,\n\n      Descricao: desc,\n\n      Valor: valorFinal,\n\n      Tipo: tipo,\n\n      Categoria: item.c || \"outros-gv\",\n\n      id_conciliacao: `${desc}-${valorFinal}-${index}`\n    }\n  };\n\n});\n\nreturn final;",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15648,
        13840
      ],
      "id": "daf5316c-0682-4c4e-91cf-2d3e2966687a",
      "name": "variáveis de formatação - extrato2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67087799-efd3-4827-a5bd-ce18ef75f037",
              "name": "=Itaú",
              "value": "=// ========================================\n// 1. ENTRADA\n// ========================================\n\nconst rawText = $input.first().json.extractedText;\n\nif (!rawText) {\n  throw new Error(\"A propriedade 'extractedText' está vazia.\");\n}\n\n// ========================================\n// 2. CONFIG\n// ========================================\n\nconst currentYear = new Date().getFullYear();\n\nconst ignoredTerms = [\n  'total dos',\n  'lançamentos no',\n  'pagamento recebido',\n  'saldo anterior',\n  'encargos',\n  'juros',\n  'iof',\n  'anuidade',\n  'limite disponível'\n];\n\n// ========================================\n// 3. NORMALIZA TEXTO\n// ========================================\n\n// remove espaços duplicados\nconst normalizedText = rawText\n  .replace(/\\r/g, '')\n  .replace(/\\t/g, ' ')\n  .replace(/[ ]{2,}/g, ' ');\n\n// ========================================\n// 4. REGEX MAIS FLEXÍVEL\n// ========================================\n\n// captura:\n// | 27/12 | UBER *TRIP | 32,90 |\n// | 05/01 | PARC=03/10 MAGAZINE LUIZA | 199,90 |\n// | 11/02 | IFOOD\\nSAO PAULO BR | 58,22 |\n\nconst transactionRegex =\n  /\\|\\s*(\\d{2}\\/\\d{2})\\s*\\|\\s*([\\s\\S]*?)\\s*\\|\\s*(-?[\\d.]+,\\d{2})\\s*\\|/g;\n\nconst transactions = [];\n\nlet match;\n\n// ========================================\n// 5. EXTRAÇÃO\n// ========================================\n\nwhile ((match = transactionRegex.exec(normalizedText)) !== null) {\n\n  const dataOriginal = match[1]?.trim();\n\n  let descricao = match[2]\n    ?.replace(/\\n/g, ' ')\n    ?.replace(/[ ]{2,}/g, ' ')\n    ?.trim();\n\n  let valorStr = match[3]?.trim();\n\n  if (!descricao || !valorStr) {\n    continue;\n  }\n\n  // ========================================\n  // FILTRO DE LINHAS INVÁLIDAS\n  // ========================================\n\n  const descricaoLower = descricao.toLowerCase();\n\n  const shouldIgnore = ignoredTerms.some(term =>\n    descricaoLower.includes(term)\n  );\n\n  if (shouldIgnore) {\n    continue;\n  }\n\n  // evita headers\n  if (\n    descricaoLower === 'estabelecimento' ||\n    descricaoLower === 'valor' ||\n    descricaoLower === 'data'\n  ) {\n    continue;\n  }\n\n  // ========================================\n  // VALOR\n  // ========================================\n\n  valorStr = valorStr\n    .replace(/\\./g, '')\n    .replace(',', '.');\n\n  const valorNumerico = parseFloat(valorStr);\n\n  if (isNaN(valorNumerico)) {\n    continue;\n  }\n\n  // ========================================\n  // DATA\n  // ========================================\n\n  const [dia, mes] = dataOriginal.split('/');\n\n  const dataFormatada = `${dia}/${mes}/${currentYear}`;\n\n  // ========================================\n  // TIPO\n  // ========================================\n\n  const tipo = valorNumerico < 0\n    ? 'receita'\n    : 'despesa';\n\n  // ========================================\n  // RESULTADO\n  // ========================================\n\n  transactions.push({\n    json: {\n      data: dataFormatada,\n      descricao,\n      valor: Math.abs(valorNumerico),\n      tipo\n    }\n  });\n}\n\n// ========================================\n// 6. RETORNO\n// ========================================\n\nif (transactions.length === 0) {\n  return [{\n    json: {\n      aviso: 'Nenhuma transação encontrada.'\n    }\n  }];\n}\n\nreturn transactions;",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15648,
        14064
      ],
      "id": "067801b1-4de0-4e3b-b603-e1212d829d5b",
      "name": "variáveis de formatação - fatura1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "baff5c6a-da96-4a0d-8243-a15de1d9a369",
              "leftValue": "={{ $('Recebe link do Supabase Storage2').item.json.body.bankName }}",
              "rightValue": "Itaú",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14336,
        14080
      ],
      "id": "89adf7d7-46b6-49c1-b86a-5f6323ba9899",
      "name": "If3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um auditor financeiro especializado em OCR de faturas bancárias. Sua missão é classificar os lançamentos.\n\n\n\n### 📂 HIERARQUIA DE CLASSIFICAÇÃO (Use apenas estas):\n- Ganhos: \"renda\", \"renda-conjuge\", \"outras-fontes-renda\"\n- Contas Fixas: \"alimentacao-mercado\", \"casa-veraneio\", \"cuidados-pessoais\", \"despesas-saude\", \"dizimo-oferta\", \"educacao\", \"esportes\", \"filhos-familia\", \"impostos-taxas\", \"moradia\", \"pets\", \"profissional\", \"seguros\", \"servicos-financeiros\", \"transporte\"\n- Gastos Variáveis: \"assinaturas\", \"compras\", \"lazer\", \"outros-gv\", \"presentes-doacoes\", \"restaurantes\", \"roupas-acessorios\", \"tarifas-bancarias\", \"viagens\"\n- Metas e Projetos: \"meta-casa\", \"meta-educacao\", \"meta-eletronicos\", \"meta-familia\", \"meta-hobby\", \"meta-outros\", \"meta-profissional\", \"meta-saude\", \"meta-veiculo\", \"meta-viagem\"\n- Financiamentos: \"financiamento-imobiliario\", \"financiamento-veiculo\", \"consorcio\"\n- Dívidas: \"dividas-emprestimos\"\n- Movimentações: \"despesas-reembolsaveis\", \"pagamento-fatura-cartao\", \"reembolsos\", \"resgate-investimentos\", \"transferencia-mesma-titularidade\"\n- Reserva e Patrimônio: \"reserva-emergencia\", \"projetos-vida\", \"independencia-financeira\"\n- Investimentos: \"aplicacao-investimentos\"\n- Estorno: \"estorno\"\n\n### FORMATO DE SAÍDA:\n{\n  \"transacoes\": [\n    {\n      \"data\": \"DD/MM/YYYY\",\n      \"descricao\": \"NOME DO ESTABELECIMENTO\",\n      \"valor\": 00.00,\n      \"tipo\": \"despesa/receita\",\n      \"categoria\": \"nome-da-categoria-conforme-lista\"\n    }\n  ]\n}\nO arquivo está aqui:{{ JSON.stringify($input.all().map(i => i.json)) }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        16096,
        14064
      ],
      "id": "d0150a78-933c-4a20-85bb-6e09bc810366",
      "name": "IA Leitora de Fatura3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"d\": { \n        \"type\": \"string\", \n        \"description\": \"Data no formato DD/MM/YYYY. Se houver apenas o dia na linha, olhe os cabeçalhos de seção acima para descobrir o mês e ano exatos.\" \n      },\n      \"t\": { \"type\": \"string\", \"description\": \"Texto fiel da descrição\" },\n      \"v\": { \"type\": \"number\", \"description\": \"Valor numérico decimal (ex: 8.80)\" },\n      \"s\": { \"type\": \"string\", \"description\": \"Sinal '+' para entrada ou '-' para saída\" },\n      \"c\": { \"type\": \"string\", \"description\": \"ID exato da Categoria conforme a lista fornecida\" },\n      \"p\": { \"type\": [\"string\", \"null\"], \"description\": \"Metadados de parcelamento 'XX/YY' ou null se não houver\" }\n    },\n    \"required\": [\"d\", \"t\", \"v\", \"s\", \"c\"]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        16208,
        14240
      ],
      "id": "33134df3-ca5a-47cd-8cc3-6cf41f362698",
      "name": "Output Parser PDF1"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": "***REMOVIDO***",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        16144,
        14240
      ],
      "id": "7e4edaea-3ad4-42a5-ba26-35a870ed3c51",
      "name": "Modelo de IA (GPT 4.1-MINI)3",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "IA Leitora de Fatura3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 10%2": {
      "main": [
        [
          {
            "node": "Baixa Arquivo do Supabase Storage2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Arquivo do Supabase Storage2": {
      "main": [
        [
          {
            "node": "é OFX?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser PDF4": {
      "ai_outputParser": [
        [
          {
            "node": "IA Leitora de Extrato2",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "IA Leitora de Fatura2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extrato ou Fatura?2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de IA (GPT 4.1-MINI)2": {
      "ai_languageModel": [
        [
          {
            "node": "IA Leitora de Extrato2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Output Parser PDF4",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "IA Leitora de Fatura2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IA Leitora de Fatura2": {
      "main": [
        [
          {
            "node": "Padronizador Fatura2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update: Iniciando52",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lógica de Parcelamento2": {
      "main": [
        [
          {
            "node": "Upload pra Plataforma5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload pra Plataforma4": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variáveis de prompt fatura1": {
      "main": [
        [
          {
            "node": "IA Leitora de Fatura2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variáveis de prompt extrato1": {
      "main": [
        [
          {
            "node": "IA Leitora de Extrato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Leitora de Extrato2": {
      "main": [
        [
          {
            "node": "Padronizador Extrato2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update: Iniciando52",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizador Fatura2": {
      "main": [
        [
          {
            "node": "Lógica de Parcelamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Padronizador Extrato2": {
      "main": [
        [
          {
            "node": "Upload pra Plataforma4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai OFX2": {
      "main": [
        [
          {
            "node": "Une os lançamentos pra IA2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update: Iniciando51",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai PDF, CSV e XLSX3": {
      "main": [
        [
          {
            "node": "Extrato ou Fatura?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Une os lançamentos pra IA2": {
      "main": [
        [
          {
            "node": "variáveis de prompt extrato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe link do Supabase Storage2": {
      "main": [
        [
          {
            "node": "Status 10%2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "é OFX?2": {
      "main": [
        [
          {
            "node": "Extrai OFX2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrai PDF, CSV e XLSX3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload pra Plataforma5": {
      "main": [
        [
          {
            "node": "Limit8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize8": {
      "main": [
        [
          {
            "node": "Avisa Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit8": {
      "main": [
        [
          {
            "node": "Update: Concluído2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "variáveis de formatação - extrato2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "variáveis de prompt extrato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Upload pra Plataforma4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variáveis de formatação - extrato2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variáveis de formatação - fatura1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "variáveis de formatação - fatura1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "variáveis de prompt fatura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser PDF1": {
      "ai_outputParser": [
        [
          {
            "node": "IA Leitora de Fatura3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Modelo de IA (GPT 4.1-MINI)3": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser PDF1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "IA Leitora de Fatura3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 1800,
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "08712a9d-95c4-486d-b1f4-a9de6f718159",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-18T13:47:07.275Z",
      "createdAt": "2026-05-18T13:47:07.275Z",
      "role": "workflow:owner",
      "workflowId": "L6f6AQrnuZdhv8xS",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}