backup/tools---12---post-no-instagram-bNcpvlSyWcWl7mbW.json
{
  "updatedAt": "2026-03-30T15:51:40.084Z",
  "createdAt": "2026-01-02T18:23:25.870Z",
  "id": "bNcpvlSyWcWl7mbW",
  "name": "Tools - 12 - Post no instagram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "Here we have all parameters for posting in instagram image url, caption and instagram business profile id",
        "height": 294,
        "width": 188,
        "color": 3
      },
      "id": "d4379892-778a-4b2c-8b47-20e665078bd2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4672,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node",
        "height": 118,
        "color": 3
      },
      "id": "a1290b2e-1ae2-46fe-bb5a-2aed8a1fffab",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6144,
        1632
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post no Instagram da {{ $('Webhook').item.json.body.post.cliente }} deu certo!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        8544,
        1232
      ],
      "id": "ec89f21e-cbc8-4d31-8214-ad68c43f1e18",
      "name": "Envia log sucesso",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 7,
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5824,
        1248
      ],
      "id": "95b7fc51-0ef0-402a-829b-79db88e27c46",
      "name": "Junta todos os posts"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Webhook').item.json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "=CAROUSEL"
              },
              {
                "name": "children",
                "value": "={{JSON.stringify([\n  $('Prepara o post para o Instagram1').first().json.id,\n  $('Prepara o post para o Instagram2').first().json.id,\n  $('Prepara o post para o Instagram3').first().json.id,\n  $('Prepara o post para o Instagram4').first().json.id,\n  $('Prepara o post para o Instagram5').first().json.id,\n  $('Prepara o post para o Instagram6').first().json.id,\n  $('Prepara o post para o Instagram7').first().json.id\n])}}\n"
              },
              {
                "name": "caption",
                "value": "={{ $('Webhook').item.json.body.post.legenda_instagram }}"
              }
            ]
          }
        }
      },
      "id": "b6187abe-7f30-4db6-a676-486d29c05680",
      "name": "Cria o carrossel para o Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        6048,
        1344
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "91970bf5-d8b7-4e3e-a3b5-58c6b81231c8",
      "name": "Verifica status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        6528,
        1408
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "FINISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "53932f8e-2f9a-40d2-a8bf-2abf93656808"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINISHED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7089f8c6-8c1c-482e-b30d-47e92e2753bf",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        6768,
        1392
      ],
      "id": "1be6570a-f75a-4831-95df-e622e8ddef68",
      "name": "Verificação de status do upload no Instagram"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "120363421402105782@g.us",
        "messageText": "=Post no Instaram da {{ $('Webhook').item.json.body.post.cliente }} falhou!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7024,
        1536
      ],
      "id": "79154994-8b36-47fb-a501-bd7a0cea2dc0",
      "name": "Envia log de falha no WhatsApp",
      "retryOnFail": true,
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $('Webhook').item.json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "3b338b73-fbc3-47e2-83a1-de003593e1d9",
      "name": "Publicar post no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        7232,
        1248
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "={{ $('Verifica status do upload no Instagram').item.json.id }}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "status"
              },
              {
                "name": "status_code"
              }
            ]
          }
        }
      },
      "id": "f3c69038-a8d3-484d-b3db-c0f83a44c1ed",
      "name": "Verificar status do upload no Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        7456,
        1248
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c98e3a-ba6b-4df7-a0c9-96994c91a690",
              "name": "id_post",
              "value": "={{ $('Webhook').item.json.body.post.id_post }}",
              "type": "string"
            },
            {
              "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
              "name": "status",
              "value": "postado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8112,
        1232
      ],
      "id": "2c9c1a3e-6268-4c56-9adb-9ab7e0faf804",
      "name": "Foi postado"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $json.id_post }}",
            "status_instagram": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota",
              "displayName": "nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        8320,
        1232
      ],
      "id": "af29c81c-477f-4b7b-8132-bde8c909b9f5",
      "name": "Atualiza status e dados da notícia no Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ac6e4fc-79b5-4afe-995e-667324f0a8cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6272,
        1424
      ],
      "id": "5efb89be-f102-4378-83a3-36a77a2ce0d5",
      "name": "Verifica criação do post",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem1_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "78331ce3-b868-4d2e-8af1-3a03da503d65",
      "name": "Prepara o post para o Instagram1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        848
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem2_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "912f8402-cb3a-48b1-b1e9-8d54ac8a7cf1",
      "name": "Prepara o post para o Instagram2",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1008
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem3_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "ea4d44d8-e17b-4ff4-8874-b7cf0253017e",
      "name": "Prepara o post para o Instagram3",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1168
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem4_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "cb39e852-0788-4273-aedd-ae8cd3a5cb25",
      "name": "Prepara o post para o Instagram4",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1328
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem5_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "c7ce4e20-d9a9-4619-8592-2db473b8923c",
      "name": "Prepara o post para o Instagram5",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.post.imagem6_url }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "178bc714-51e4-4f8d-82c9-e166434659a5",
      "name": "Prepara o post para o Instagram6",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1632
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece",
        "height": 1792,
        "width": 4576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4192,
        560
      ],
      "typeVersion": 1,
      "id": "d365f7c7-2d30-4752-b714-a380436a87c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.",
        "height": 792,
        "width": 439.10253951549294,
        "color": 7
      },
      "id": "811cad34-6dfb-47ec-a865-337e59065969",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        1504
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "graphApiVersion": "v20.0",
        "node": "=me",
        "options": {
          "fields": {
            "field": [
              {
                "name": "name"
              },
              {
                "name": "connected_instagram_account"
              }
            ]
          }
        }
      },
      "id": "d99bcb33-f47c-426f-a00e-dcf94f76fbb7",
      "name": "Node just for retrive id of instagram page1",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        4416,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually",
        "height": 289,
        "width": 318
      },
      "id": "543713b4-e4ac-4c6a-8157-98987c97d1dc",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4304,
        832
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7664,
        1248
      ],
      "id": "89f03f3a-383b-42cd-97b9-222f7a090efd",
      "name": "Wait",
      "webhookId": "99551ad5-d2bc-4dfe-9980-3669fda1988d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "PUBLISHED"
            }
          ]
        },
        "options": {}
      },
      "id": "ef4b7309-6b7d-4982-b79e-09cb3cff69cd",
      "name": "If media status is finished3",
      "type": "n8n-nodes-base.if",
      "position": [
        7872,
        1248
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7008,
        1248
      ],
      "id": "f01046e2-fcea-454c-bc3b-378969a6b945",
      "name": "Wait1",
      "webhookId": "9aea1372-27eb-4485-9753-365e7542907a"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"id_post\": \"post_20260102_061102_152_1\",\n  \"cliente\": \"MIA\",\n  \"status\": \"aprovado\",\n  \"id_conta_instagram_empresa\": \"17841475443525557\",\n  \"imagem1\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031230322.jpg\",\n  \"imagem2\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031233007.jpg\",\n  \"imagem3\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031235533.jpg\",\n  \"imagem4\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031238206.jpg\",\n  \"imagem5\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031240404.jpg\",\n  \"imagem6\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031242515.jpg\",\n  \"imagem_final\": \"https://raw.githubusercontent.com/getmia-ia/Mia/main/MIA_Final_Post_Fixo.jpg\",\n  \"legenda_instagram\": \"A transformação da inteligência artificial está redefinindo o mercado tech. Enquanto a automação assume tarefas repetitivas, cresce a demanda por profissionais com curadoria estratégica que unem conhecimento técnico e visão de negócios. Essa nova abordagem eleva o valor do trabalho humano, promovendo ganhos significativos em produtividade e eficiência. No Brasil, o papel do desenvolvedor está mais estratégico do que nunca. Especialistas em IA e curadoria recebem até 56% mais, refletindo a alta valorização dessas competências essenciais para a inovação corporativa.Empresas que investem nesse equilíbrio entre IA e expertise humana estão prontas para liderar a revolução digital e conquistar resultados superiores. Está na hora de evoluir sua equipe e estratégia. #machinelearning #automação #IAempresarial #curadoriaestratégica #transformaçãodigital #ChatGPT #RPA #inovação\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        4032,
        384
      ],
      "id": "0f5ea37b-8761-4f33-8b0b-26b8333d9ead",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-instagram",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4656,
        1328
      ],
      "id": "1120fc27-93bc-4eea-9f6c-f49c8794ffa4",
      "name": "Webhook",
      "webhookId": "58df1925-2243-4d5d-b553-4b84f68a1833"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4896,
        1328
      ],
      "id": "0e406cf4-3a10-4511-8617-6ebf7e1b96ee",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.body.cadastro_cliente.imagem_empresa }}"
              },
              {
                "name": "is_carousel_item",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "36bf1579-c139-4f8a-8c32-ab4dbf34f81c",
      "name": "Prepara o post para o Instagram7",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        5568,
        1792
      ],
      "typeVersion": 1,
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "facebookGraphApi": {
          "id": "pX0X9BKHrVt90kwf",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "connections": {
    "Junta todos os posts": {
      "main": [
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o carrossel para o Instagram": {
      "main": [
        [
          {
            "node": "Verifica criação do post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Verificação de status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificação de status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia log de falha no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar post no Instagram": {
      "main": [
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status do upload no Instagram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi postado": {
      "main": [
        [
          {
            "node": "Atualiza status e dados da notícia no Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status e dados da notícia no Sheets": {
      "main": [
        [
          {
            "node": "Envia log sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica criação do post": {
      "main": [
        [
          {
            "node": "Verifica status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cria o carrossel para o Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram1": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram2": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepara o post para o Instagram3": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepara o post para o Instagram4": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepara o post para o Instagram5": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Prepara o post para o Instagram6": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If media status is finished3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If media status is finished3": {
      "main": [
        [
          {
            "node": "Foi postado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar status do upload no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Publicar post no Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Prepara o post para o Instagram1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepara o post para o Instagram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara o post para o Instagram7": {
      "main": [
        [
          {
            "node": "Junta todos os posts",
            "type": "main",
            "index": 6
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "d34ca45f-c69f-4552-bc93-05f76e07c154",
  "activeVersionId": "d34ca45f-c69f-4552-bc93-05f76e07c154",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T18:23:25.870Z",
      "createdAt": "2026-01-02T18:23:25.870Z",
      "role": "workflow:owner",
      "workflowId": "bNcpvlSyWcWl7mbW",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-30T15:51:40.086Z",
    "createdAt": "2026-03-30T15:51:40.086Z",
    "versionId": "d34ca45f-c69f-4552-bc93-05f76e07c154",
    "workflowId": "bNcpvlSyWcWl7mbW",
    "nodes": [
      {
        "parameters": {
          "content": "Here we have all parameters for posting in instagram image url, caption and instagram business profile id",
          "height": 294,
          "width": 188,
          "color": 3
        },
        "id": "d4379892-778a-4b2c-8b47-20e665078bd2",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4672,
          832
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "You can send email for unsuccessful upload or what you want, you can trigger another workflow or another node",
          "height": 118,
          "color": 3
        },
        "id": "a1290b2e-1ae2-46fe-bb5a-2aed8a1fffab",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          6144,
          1632
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MIA-LOGS",
          "remoteJid": "120363421402105782@g.us",
          "messageText": "=Post no Instagram da {{ $('Webhook').item.json.body.post.cliente }} deu certo!",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          8544,
          1232
        ],
        "id": "ec89f21e-cbc8-4d31-8214-ad68c43f1e18",
        "name": "Envia log sucesso",
        "retryOnFail": true,
        "credentials": {
          "evolutionApi": {
            "id": "jhxyikodw5k2TTr1",
            "name": "MIA-LOGS"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "numberInputs": 7,
          "useDataOfInput": 2
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          5824,
          1248
        ],
        "id": "95b7fc51-0ef0-402a-829b-79db88e27c46",
        "name": "Junta todos os posts"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v22.0",
          "node": "={{ $('Webhook').item.json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "media_type",
                  "value": "=CAROUSEL"
                },
                {
                  "name": "children",
                  "value": "={{JSON.stringify([\n  $('Prepara o post para o Instagram1').first().json.id,\n  $('Prepara o post para o Instagram2').first().json.id,\n  $('Prepara o post para o Instagram3').first().json.id,\n  $('Prepara o post para o Instagram4').first().json.id,\n  $('Prepara o post para o Instagram5').first().json.id,\n  $('Prepara o post para o Instagram6').first().json.id,\n  $('Prepara o post para o Instagram7').first().json.id\n])}}\n"
                },
                {
                  "name": "caption",
                  "value": "={{ $('Webhook').item.json.body.post.legenda_instagram }}"
                }
              ]
            }
          }
        },
        "id": "b6187abe-7f30-4db6-a676-486d29c05680",
        "name": "Cria o carrossel para o Instagram",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          6048,
          1344
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "graphApiVersion": "v20.0",
          "node": "={{ $json.id }}",
          "options": {
            "fields": {
              "field": [
                {
                  "name": "id"
                },
                {
                  "name": "status"
                },
                {
                  "name": "status_code"
                }
              ]
            }
          }
        },
        "id": "91970bf5-d8b7-4e3e-a3b5-58c6b81231c8",
        "name": "Verifica status do upload no Instagram",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          6528,
          1408
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status_code }}",
                      "rightValue": "FINISHED",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "53932f8e-2f9a-40d2-a8bf-2abf93656808"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "FINISHED"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7089f8c6-8c1c-482e-b30d-47e92e2753bf",
                      "leftValue": "={{ $json.status_code }}",
                      "rightValue": "IN_PROGRESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IN_PROGRESS"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          6768,
          1392
        ],
        "id": "1be6570a-f75a-4831-95df-e622e8ddef68",
        "name": "Verificação de status do upload no Instagram"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MIA-LOGS",
          "remoteJid": "120363421402105782@g.us",
          "messageText": "=Post no Instaram da {{ $('Webhook').item.json.body.post.cliente }} falhou!",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          7024,
          1536
        ],
        "id": "79154994-8b36-47fb-a501-bd7a0cea2dc0",
        "name": "Envia log de falha no WhatsApp",
        "retryOnFail": true,
        "credentials": {
          "evolutionApi": {
            "id": "jhxyikodw5k2TTr1",
            "name": "MIA-LOGS"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $('Webhook').item.json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media_publish",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "creation_id",
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "id": "3b338b73-fbc3-47e2-83a1-de003593e1d9",
        "name": "Publicar post no Instagram",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          7232,
          1248
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "graphApiVersion": "v20.0",
          "node": "={{ $('Verifica status do upload no Instagram').item.json.id }}",
          "options": {
            "fields": {
              "field": [
                {
                  "name": "id"
                },
                {
                  "name": "status"
                },
                {
                  "name": "status_code"
                }
              ]
            }
          }
        },
        "id": "f3c69038-a8d3-484d-b3db-c0f83a44c1ed",
        "name": "Verificar status do upload no Instagram",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          7456,
          1248
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f2c98e3a-ba6b-4df7-a0c9-96994c91a690",
                "name": "id_post",
                "value": "={{ $('Webhook').item.json.body.post.id_post }}",
                "type": "string"
              },
              {
                "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
                "name": "status",
                "value": "postado",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          8112,
          1232
        ],
        "id": "2c9c1a3e-6268-4c56-9adb-9ab7e0faf804",
        "name": "Foi postado"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_post": "={{ $json.id_post }}",
              "status_instagram": "={{ $json.status }}"
            },
            "matchingColumns": [
              "id_post"
            ],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota",
                "displayName": "nota",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          8320,
          1232
        ],
        "id": "af29c81c-477f-4b7b-8132-bde8c909b9f5",
        "name": "Atualiza status e dados da notícia no Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1ac6e4fc-79b5-4afe-995e-667324f0a8cf",
                "leftValue": "={{ $json.id }}",
                "rightValue": "0",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          6272,
          1424
        ],
        "id": "5efb89be-f102-4378-83a3-36a77a2ce0d5",
        "name": "Verifica criação do post",
        "retryOnFail": true
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem1_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "78331ce3-b868-4d2e-8af1-3a03da503d65",
        "name": "Prepara o post para o Instagram1",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          848
        ],
        "typeVersion": 1,
        "retryOnFail": true,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem2_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "912f8402-cb3a-48b1-b1e9-8d54ac8a7cf1",
        "name": "Prepara o post para o Instagram2",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1008
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem3_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "ea4d44d8-e17b-4ff4-8874-b7cf0253017e",
        "name": "Prepara o post para o Instagram3",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1168
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem4_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "cb39e852-0788-4273-aedd-ae8cd3a5cb25",
        "name": "Prepara o post para o Instagram4",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1328
        ],
        "typeVersion": 1,
        "retryOnFail": true,
        "waitBetweenTries": 3000,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem5_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "c7ce4e20-d9a9-4619-8592-2db473b8923c",
        "name": "Prepara o post para o Instagram5",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1488
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.post.imagem6_url }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "178bc714-51e4-4f8d-82c9-e166434659a5",
        "name": "Prepara o post para o Instagram6",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1632
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Ação de postar no Instagram\n\n### Aqui cadastramos os tokens necessários para a API do Meta\n### O post é realizado no mesmo momento em que a aprovação acontece",
          "height": 1792,
          "width": 4576,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4192,
          560
        ],
        "typeVersion": 1,
        "id": "d365f7c7-2d30-4752-b714-a380436a87c4",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Permissions\nPublishing relies on a combination of the following permissions. The exact combination depends on which endpoints your app uses. Refer to our endpoint references to determine which permissions each endpoint requires.\n\nads_management\nbusiness_management\ninstagram_basic\ninstagram_content_publish\npages_read_engagement\nIf your app will be used by app users who do not have a role on your app or a role in a Business that has claimed your app, you must request approval for each permission via App Review before non-role app users can grant them to your app.\n\n## Limitations\nJPEG is the only image format supported. Extended JPEG formats such as MPO and JPS are not supported.\nShopping tags are not supported.\nBranded content tags are not supported.\nFilters are not supported.\nPublishing to Instagram TV is not supported.\nFor additional limitations, refer to each endpoint's reference.\n\n## Rate Limit\nInstagram accounts are limited to 50 API-published posts within a rolling 24-hour period. Carousels count as a single post. This limit is enforced on the POST /{ig-user-id}/media_publish endpoint when attempting to publish a media container. We recommend that your app also enforce the publishing rate limit, especially if your app allows app users to schedule posts to be published in the future.\n\nTo check an Instagram Professional account's current rate limit usage, query the GET /{ig-user-id}/content_publishing_limit endpoint.",
          "height": 792,
          "width": 439.10253951549294,
          "color": 7
        },
        "id": "811cad34-6dfb-47ec-a865-337e59065969",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4240,
          1504
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "graphApiVersion": "v20.0",
          "node": "=me",
          "options": {
            "fields": {
              "field": [
                {
                  "name": "name"
                },
                {
                  "name": "connected_instagram_account"
                }
              ]
            }
          }
        },
        "id": "d99bcb33-f47c-426f-a00e-dcf94f76fbb7",
        "name": "Node just for retrive id of instagram page1",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          4416,
          944
        ],
        "typeVersion": 1,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "content": "You can use this node if you want to retrieve the instagram id. \n\nAdd it to the workflow ore use manually",
          "height": 289,
          "width": 318
        },
        "id": "543713b4-e4ac-4c6a-8157-98987c97d1dc",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          4304,
          832
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          7664,
          1248
        ],
        "id": "89f03f3a-383b-42cd-97b9-222f7a090efd",
        "name": "Wait",
        "webhookId": "99551ad5-d2bc-4dfe-9980-3669fda1988d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "0304efee-33b2-499e-bad1-9238c1fc2999",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.status_code }}",
                "rightValue": "PUBLISHED"
              }
            ]
          },
          "options": {}
        },
        "id": "ef4b7309-6b7d-4982-b79e-09cb3cff69cd",
        "name": "If media status is finished3",
        "type": "n8n-nodes-base.if",
        "position": [
          7872,
          1248
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "amount": 6
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          7008,
          1248
        ],
        "id": "f01046e2-fcea-454c-bc3b-378969a6b945",
        "name": "Wait1",
        "webhookId": "9aea1372-27eb-4485-9753-365e7542907a"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"id_post\": \"post_20260102_061102_152_1\",\n  \"cliente\": \"MIA\",\n  \"status\": \"aprovado\",\n  \"id_conta_instagram_empresa\": \"17841475443525557\",\n  \"imagem1\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031230322.jpg\",\n  \"imagem2\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031233007.jpg\",\n  \"imagem3\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031235533.jpg\",\n  \"imagem4\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031238206.jpg\",\n  \"imagem5\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031240404.jpg\",\n  \"imagem6\": \"https://s3.us-east-1.amazonaws.com/cdn.miabuilder.com/MIA%2F4.2%2F20260102031242515.jpg\",\n  \"imagem_final\": \"https://raw.githubusercontent.com/getmia-ia/Mia/main/MIA_Final_Post_Fixo.jpg\",\n  \"legenda_instagram\": \"A transformação da inteligência artificial está redefinindo o mercado tech. Enquanto a automação assume tarefas repetitivas, cresce a demanda por profissionais com curadoria estratégica que unem conhecimento técnico e visão de negócios. Essa nova abordagem eleva o valor do trabalho humano, promovendo ganhos significativos em produtividade e eficiência. No Brasil, o papel do desenvolvedor está mais estratégico do que nunca. Especialistas em IA e curadoria recebem até 56% mais, refletindo a alta valorização dessas competências essenciais para a inovação corporativa.Empresas que investem nesse equilíbrio entre IA e expertise humana estão prontas para liderar a revolução digital e conquistar resultados superiores. Está na hora de evoluir sua equipe e estratégia. #machinelearning #automação #IAempresarial #curadoriaestratégica #transformaçãodigital #ChatGPT #RPA #inovação\"\n}"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          4032,
          384
        ],
        "id": "0f5ea37b-8761-4f33-8b0b-26b8333d9ead",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "post-instagram",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          4656,
          1328
        ],
        "id": "1120fc27-93bc-4eea-9f6c-f49c8794ffa4",
        "name": "Webhook",
        "webhookId": "58df1925-2243-4d5d-b553-4b84f68a1833"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          4896,
          1328
        ],
        "id": "0e406cf4-3a10-4511-8617-6ebf7e1b96ee",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "httpRequestMethod": "POST",
          "graphApiVersion": "v20.0",
          "node": "={{ $json.body.cadastro_cliente.id_conta_instagram_empresa }}",
          "edge": "media",
          "options": {
            "queryParameters": {
              "parameter": [
                {
                  "name": "image_url",
                  "value": "={{ $json.body.cadastro_cliente.imagem_empresa }}"
                },
                {
                  "name": "is_carousel_item",
                  "value": "true"
                }
              ]
            }
          }
        },
        "id": "36bf1579-c139-4f8a-8c32-ab4dbf34f81c",
        "name": "Prepara o post para o Instagram7",
        "type": "n8n-nodes-base.facebookGraphApi",
        "position": [
          5568,
          1792
        ],
        "typeVersion": 1,
        "retryOnFail": true,
        "waitBetweenTries": 3000,
        "credentials": {
          "facebookGraphApi": {
            "id": "pX0X9BKHrVt90kwf",
            "name": "Facebook Graph account"
          }
        }
      }
    ],
    "connections": {
      "Junta todos os posts": {
        "main": [
          [
            {
              "node": "Cria o carrossel para o Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria o carrossel para o Instagram": {
        "main": [
          [
            {
              "node": "Verifica criação do post",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica status do upload no Instagram": {
        "main": [
          [
            {
              "node": "Verificação de status do upload no Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificação de status do upload no Instagram": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verifica status do upload no Instagram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Envia log de falha no WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Publicar post no Instagram": {
        "main": [
          [
            {
              "node": "Verificar status do upload no Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar status do upload no Instagram": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Foi postado": {
        "main": [
          [
            {
              "node": "Atualiza status e dados da notícia no Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualiza status e dados da notícia no Sheets": {
        "main": [
          [
            {
              "node": "Envia log sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verifica criação do post": {
        "main": [
          [
            {
              "node": "Verifica status do upload no Instagram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cria o carrossel para o Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara o post para o Instagram1": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara o post para o Instagram2": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Prepara o post para o Instagram3": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Prepara o post para o Instagram4": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Prepara o post para o Instagram5": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Prepara o post para o Instagram6": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 5
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "If media status is finished3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If media status is finished3": {
        "main": [
          [
            {
              "node": "Foi postado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar status do upload no Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Publicar post no Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Prepara o post para o Instagram1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram5",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram6",
              "type": "main",
              "index": 0
            },
            {
              "node": "Prepara o post para o Instagram7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara o post para o Instagram7": {
        "main": [
          [
            {
              "node": "Junta todos os posts",
              "type": "main",
              "index": 6
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}