backup/tools---13---post-no-linkedin-OIdJV9nXWCEUGUvK.json
{
  "updatedAt": "2026-02-19T13:06:39.637Z",
  "createdAt": "2026-01-02T19:50:35.967Z",
  "id": "OIdJV9nXWCEUGUvK",
  "name": "Tools - 13 - Post no Linkedin",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.body.post.imagem1_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imagem_final_linkedin"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        208
      ],
      "id": "52dfcb7c-0f7c-440b-847b-dddd2c89be14",
      "name": "Baixa a imagem"
    },
    {
      "parameters": {
        "person": "gsk8fJVjru",
        "text": "={{ $('Webhook').item.json.body.post.legenda_linkedin }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "imagem_final_linkedin",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1024,
        208
      ],
      "id": "32caf8d2-e1bb-48f8-a081-5eb32bc7c545",
      "name": "Cria o post no linkedin",
      "notesInFlow": false,
      "credentials": {
        "linkedInOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
          "mode": "list",
          "cachedResultName": "Controle Posts IA - Geral",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 850978043,
          "mode": "list",
          "cachedResultName": "informações_posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_post": "={{ $('Webhook').item.json.body.post.id_post }}",
            "status_linkedin": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id_post"
          ],
          "schema": [
            {
              "id": "fonte",
              "displayName": "fonte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cliente",
              "displayName": "cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "horario_post_blog",
              "displayName": "horario_post_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_instagram",
              "displayName": "horario_post_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_linkedin",
              "displayName": "horario_post_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_x",
              "displayName": "horario_post_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "horario_post_whatsapp",
              "displayName": "horario_post_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "briefing",
              "displayName": "briefing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "artigo_blog",
              "displayName": "artigo_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_instagram",
              "displayName": "legenda_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_linkedin",
              "displayName": "legenda_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_x",
              "displayName": "legenda_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legenda_whatsapp",
              "displayName": "legenda_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_blog",
              "displayName": "status_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_instagram",
              "displayName": "status_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_linkedin",
              "displayName": "status_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_x",
              "displayName": "status_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_whatsapp",
              "displayName": "status_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nota",
              "displayName": "nota",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem1_url",
              "displayName": "imagem1_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem2_url",
              "displayName": "imagem2_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem3_url",
              "displayName": "imagem3_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem4_url",
              "displayName": "imagem4_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem5_url",
              "displayName": "imagem5_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "imagem6_url",
              "displayName": "imagem6_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "justificativa_blog",
              "displayName": "justificativa_blog",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_instagram",
              "displayName": "justificativa_instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_linkedin",
              "displayName": "justificativa_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_x",
              "displayName": "justificativa_x",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "justificativa_whatsapp",
              "displayName": "justificativa_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "template_whatsapp",
              "displayName": "template_whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        208
      ],
      "id": "3f72a999-61f9-4925-bc12-2582fe520a09",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": "***REMOVIDO***"
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
              "name": "status",
              "value": "postado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        208
      ],
      "id": "49179f16-ebd0-474b-aa25-e29731b1af93",
      "name": "Foi postado"
    },
    {
      "parameters": {
        "height": 528,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -48
      ],
      "typeVersion": 1,
      "id": "f19786f8-2011-4fb5-af63-b2221dcba66c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "MIA-LOGS",
        "remoteJid": "5511992486507",
        "messageText": "=Post no Linkedin da {{ $('Webhook').item.json.body.post.cliente }} feito! ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1648,
        208
      ],
      "id": "3c3ac580-70f5-48c3-bddd-95a8f9739940",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "jhxyikodw5k2TTr1",
          "name": "MIA-LOGS"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-linkedin",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        208
      ],
      "id": "afe42f22-240e-42c7-84c3-b82005a0f8ac",
      "name": "Webhook",
      "webhookId": "58df1925-2243-4d5d-b553-4b84f68a1833"
    }
  ],
  "connections": {
    "Baixa a imagem": {
      "main": [
        [
          {
            "node": "Cria o post no linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o post no linkedin": {
      "main": [
        [
          {
            "node": "Foi postado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Foi postado": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Baixa a imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": null,
  "versionId": "c18ceed5-2a59-4759-9505-2cd0774020ed",
  "activeVersionId": "c18ceed5-2a59-4759-9505-2cd0774020ed",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-02T19:50:35.967Z",
      "createdAt": "2026-01-02T19:50:35.967Z",
      "role": "workflow:owner",
      "workflowId": "OIdJV9nXWCEUGUvK",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-19T13:06:39.640Z",
    "createdAt": "2026-02-19T13:06:39.640Z",
    "versionId": "c18ceed5-2a59-4759-9505-2cd0774020ed",
    "workflowId": "OIdJV9nXWCEUGUvK",
    "nodes": [
      {
        "parameters": {
          "url": "={{ $json.body.post.imagem1_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file",
                "outputPropertyName": "imagem_final_linkedin"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          208
        ],
        "id": "52dfcb7c-0f7c-440b-847b-dddd2c89be14",
        "name": "Baixa a imagem"
      },
      {
        "parameters": {
          "person": "gsk8fJVjru",
          "text": "={{ $('Webhook').item.json.body.post.legenda_linkedin }}",
          "shareMediaCategory": "IMAGE",
          "binaryPropertyName": "imagem_final_linkedin",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          1024,
          208
        ],
        "id": "32caf8d2-e1bb-48f8-a081-5eb32bc7c545",
        "name": "Cria o post no linkedin",
        "notesInFlow": false,
        "credentials": {
          "linkedInOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc",
            "mode": "list",
            "cachedResultName": "Controle Posts IA - Geral",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 850978043,
            "mode": "list",
            "cachedResultName": "informações_posts",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16FcWxp2QO4Sr0xsNFrHCYbg7vZxJMdtgchLd2_miAQc/edit#gid=850978043"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_post": "={{ $('Webhook').item.json.body.post.id_post }}",
              "status_linkedin": "={{ $json.status }}"
            },
            "matchingColumns": [
              "id_post"
            ],
            "schema": [
              {
                "id": "fonte",
                "displayName": "fonte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "cliente",
                "displayName": "cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "data_criacao",
                "displayName": "data_criacao",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "horario_post_blog",
                "displayName": "horario_post_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_instagram",
                "displayName": "horario_post_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_linkedin",
                "displayName": "horario_post_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_x",
                "displayName": "horario_post_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "horario_post_whatsapp",
                "displayName": "horario_post_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "id_post",
                "displayName": "id_post",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "titulo",
                "displayName": "titulo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "briefing",
                "displayName": "briefing",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "artigo_blog",
                "displayName": "artigo_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_instagram",
                "displayName": "legenda_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_linkedin",
                "displayName": "legenda_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_x",
                "displayName": "legenda_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "legenda_whatsapp",
                "displayName": "legenda_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status_blog",
                "displayName": "status_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_instagram",
                "displayName": "status_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_linkedin",
                "displayName": "status_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_x",
                "displayName": "status_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "status_whatsapp",
                "displayName": "status_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nota",
                "displayName": "nota",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem1_url",
                "displayName": "imagem1_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem2_url",
                "displayName": "imagem2_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem3_url",
                "displayName": "imagem3_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem4_url",
                "displayName": "imagem4_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem5_url",
                "displayName": "imagem5_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "imagem6_url",
                "displayName": "imagem6_url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "justificativa_blog",
                "displayName": "justificativa_blog",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_instagram",
                "displayName": "justificativa_instagram",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_linkedin",
                "displayName": "justificativa_linkedin",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_x",
                "displayName": "justificativa_x",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "justificativa_whatsapp",
                "displayName": "justificativa_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "template_whatsapp",
                "displayName": "template_whatsapp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1440,
          208
        ],
        "id": "3f72a999-61f9-4925-bc12-2582fe520a09",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": "***REMOVIDO***"
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a95682ad-ea9c-4d88-a370-0ffad2b3eea5",
                "name": "status",
                "value": "postado",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1232,
          208
        ],
        "id": "49179f16-ebd0-474b-aa25-e29731b1af93",
        "name": "Foi postado"
      },
      {
        "parameters": {
          "height": 528,
          "width": 1376,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          464,
          -48
        ],
        "typeVersion": 1,
        "id": "f19786f8-2011-4fb5-af63-b2221dcba66c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "MIA-LOGS",
          "remoteJid": "5511992486507",
          "messageText": "=Post no Linkedin da {{ $('Webhook').item.json.body.post.cliente }} feito! ",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          1648,
          208
        ],
        "id": "3c3ac580-70f5-48c3-bddd-95a8f9739940",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "jhxyikodw5k2TTr1",
            "name": "MIA-LOGS"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "post-linkedin",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          576,
          208
        ],
        "id": "afe42f22-240e-42c7-84c3-b82005a0f8ac",
        "name": "Webhook",
        "webhookId": "58df1925-2243-4d5d-b553-4b84f68a1833"
      }
    ],
    "connections": {
      "Baixa a imagem": {
        "main": [
          [
            {
              "node": "Cria o post no linkedin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cria o post no linkedin": {
        "main": [
          [
            {
              "node": "Foi postado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Foi postado": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Baixa a imagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "***REMOVIDO***",
    "name": null,
    "description": null
  },
  "tags": []
}