backup/tools-17---criar-templates-na-meta-Fkx7PhRMzbkZkXpk.json
{
  "updatedAt": "2026-03-31T14:44:52.841Z",
  "createdAt": "2026-02-12T11:59:30.293Z",
  "id": "Fkx7PhRMzbkZkXpk",
  "name": "Tools 17 - Criar templates na META",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "48d8d55f-9ddc-4d78-8f22-d2f6a02e5442",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{WABA_ID}}/message_templates",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        0
      ],
      "id": "392d5aa8-8ede-4c5b-b1ef-a0689e716830",
      "name": "Envia requisição para meta"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  nome_template: promocao_outono\n\ntexto_corpo: Olá {{1}}, você ganhou {{2}} de desconto!\n\nexemplos_corpo: João, 20% (Valores separados por vírgula na ordem das variáveis)\n\ntem_midia: true ou false\n\ntipo_midia: IMAGE\n\nlink_midia: URL_DA_IMAGEM (Ou o handle da Meta)\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        0
      ],
      "id": "9e0ca3f3-9a38-4bfb-b7a4-2b6c6dd2e61a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Exemplo de lógica para o nó \"Code\"\nconst input = items[0].json;\n\nlet components = [];\n\n// 1. Lógica de Header (Mídia)\nif (input.media_type && input.media_url) {\n  components.push({\n    type: \"HEADER\",\n    format: input.media_type.toUpperCase(), // IMAGE, VIDEO, DOCUMENT\n    example: {\n      header_handle: [input.media_url] // Ou link direto dependendo da versão da API\n    }\n  });\n}\n\n// 2. Lógica de Corpo (Texto e Variáveis)\nlet body = {\n  type: \"BODY\",\n  text: input.texto_principal\n};\n\n// Se houver variáveis, a Meta exige exemplos\nif (input.variaveis_exemplo) {\n  body.example = {\n    body_text: [input.variaveis_exemplo.split(',')] // Ex: \"João, 20%\"\n  };\n}\ncomponents.push(body);\n\n// 3. Lógica de Botões\nif (input.botao_texto && input.botao_url) {\n  components.push({\n    type: \"BUTTONS\",\n    buttons: [{\n      type: \"URL\",\n      text: input.botao_texto,\n      url: input.botao_url\n    }]\n  });\n}\n\nreturn {\n  name: input.nome_template.toLowerCase().replace(/ /g, \"_\"),\n  category: \"MARKETING\",\n  language: \"pt_BR\",\n  components: components\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        0
      ],
      "id": "225e3150-9c16-4744-be6d-145c212f2f5f",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Envia requisição para meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4"
  },
  "staticData": null,
  "meta": null,
  "versionId": "46b98acf-ef99-4c03-8555-2c116542a062",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-12T11:59:30.293Z",
      "createdAt": "2026-02-12T11:59:30.293Z",
      "role": "workflow:owner",
      "workflowId": "Fkx7PhRMzbkZkXpk",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}