backup/tools---09---criador-de-legenda---whatsapp-vfwBhgm7Qf17IHVn.json
{
  "updatedAt": "2026-03-31T15:08:40.559Z",
  "createdAt": "2026-01-15T03:14:27.585Z",
  "id": "vfwBhgm7Qf17IHVn",
  "name": "Tools - 09 - Criador de legenda - Whatsapp",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"artigo\": \"# Como IA e Automação Transformam Cidades Inteligentes e Agradáveis em 2026\\n\\n## Introdução\\n\\nVocê já parou para pensar como as cidades do futuro — já presentes em 2026 — conseguem ser não apenas tecnologicamente avançadas, mas, simultaneamente, espaços urbanos agradáveis e humanizados? O paradoxo entre o avanço acelerado da inteligência artificial (IA) e automações empresariais e a necessidade de promover conforto climático e qualidade de vida está se dissipando. Dados recentes apontam que tecnologias integradas como IoT, 5G/6G, edge computing e geotecnologia, quando aplicadas com inteligência estratégica, não só aumentam a eficiência dos serviços urbanos, como também promovem ambientes mais seguros, sustentáveis e inclusivos.\\n\\nEste cenário representa um avanço significativo se comparado aos primeiros ciclos de cidades inteligentes, onde, muitas vezes, o foco excessivo em produtividade gerava ambientes impessoais e deteriorava o clima urbano. Agora, aplicando frameworks integrados de IA para análise ambiental, mobilidade urbana inteligente e arquitetura sustentável, as metrópoles exemplares em todo o mundo mostram que tecnologia e bem-estar podem caminhar juntos — para benefício direto da população.\\n\\nNeste artigo, gestores de inovação e planejamento urbano irão descobrir como a inteligência artificial e as automações empresariais moldam o presente e futuro das cidades inteligentes, conciliando eficiência tecnológica, sustentabilidade e qualidade ambiental. Apresentaremos dados reais, casos práticos de sucesso e também as limitações para uso indiscriminado dessas tecnologias, reforçando sempre o valor estratégico de decisões inteligentes para construir cidades mais competitivas e agradáveis.\\n\\n## O Paradoxo da Integração: Quando Tecnologia e Conforto Coexistem\\n\\nA crença de que cidade altamente tecnológica é necessariamente fria, congestionada ou poluída começa a ser superada. A digitalização com IA em centros urbanos em 2026 já vai muito além dos sistemas tradicionais: envolve a automação inteligente de processos que se adaptam dinamicamente ao clima local, às necessidades da população e aos impactos ambientais. Em metrópoles globais, observamos a convergência de:\\n\\n- Redes robustas de sensores IoT que capturam dados ambientais em tempo real,\\n- Sistemas de mobilidade elétrica e autônoma que reduzem congestionamentos e emissões,\\n- Arquitetura sustentável integrada a gêmeos digitais para monitorar desempenho ambiental dos edifícios.\\n\\nA perceptível melhora na qualidade do ar, no conforto térmico urbano e na fluidez do trânsito é mensurável. Por exemplo, cidades que implementaram robotáxis elétricos autônomos viram o custo operacional do transporte urbano atingir valores simbólicos (US$ 0,30 por milha), tornando o sistema acessível e sustentável.[4] Além disso, o uso de sistemas preditivos baseados em IA permite ajustar a iluminação pública inteligente e a vigilância com sensores ópticos para prevenir incidentes, como demonstra o exemplo de Las Vegas, onde alertas automáticos melhoram significativamente a segurança sem comprometer o ambiente.\\n\\n## Frameworks e Metodologias para IA Aplicada a Clima Urbano e Arquitetura Sustentável\\n\\nA chave para o sucesso dessas cidades está na aplicação de frameworks que unem:\\n\\n### 1. Análise Ambiental baseada em IA\\n\\nSoluções que monitoram indicadores climáticos e ambientais por meio de sensores espalhados na cidade, utilizando IA para análises preditivas e em tempo real. Assim, é possível antecipar e mitigar fenômenos como ilhas de calor urbanas, poluição local e impactos de eventos climáticos extremos.\\n\\n### 2. Mobilidade Urbana Otimizada e Automatizada\\n\\nA integração de frotas elétricas, aplicativos inteligentes de rotas e controle dinâmico de trânsito reduz congestionamentos e emissão de poluentes, favorecendo o deslocamento sustentável e inclusivo. Tecnologias 6G e edge computing garantem baixa latência para decisões ágeis e eficazes em tempo real.[5][8]\\n\\n### 3. Arquitetura Sustentável e Automação Empresarial\\n\\nEdifícios utilizam gêmeos digitais para controlar consumo energético, gerenciar recursos hídricos, e integrar sistemas de climatização eficiente. Robôs humanoides e automações industriais apoiam a gestão urbana, simplificando tarefas repetitivas e liberando recursos humanos para funções estratégicas.[4]\\n\\nEsses frameworks, combinados, formam a infraestrutura digital e física que sustenta cidades inteligentes harmoniosas, preservando características climáticas regionais e melhorando a experiência dos habitantes.\\n\\n## Casos de Sucesso e Falhas: Lições de Cidades Brasileiras e Globais\\n\\n### Caso 1: Curitiba – Smart City Expo 2026\\n\\nCuritiba, tradicional referência em urbanismo, abraçou a revolução da IA com foco em sustentabilidade urbana. No Smart City Expo Curitiba 2026, a prefeitura apresentou soluções de ponta, como sensores ambientais integrados a sistemas de transporte público elétrico, que reduziram em 25% o trânsito com emissão de poluentes significativamente menor.[3] A inclusão digital também foi ampliada com pontos gratuitos de Wi-Fi em praças e escolas, fomentando acesso e participação social.\\n\\n### Caso 2: Singapura – Governança Baseada em Evidências\\n\\nSingapura utiliza gêmeos digitais interativos que monitoram a cidade em tempo real, permitindo respostas rápidas a desafios ambientais e urbanísticos.[1][2] Isto resultou em melhoria comprovada dos índices de satisfação dos moradores e na redução dos incidentes urbanos relacionados a problemas ambientais.\\n\\n### Caso 3: Barcelona – Mobilidade Inteligente\\n\\nA cidade catalã implementou aplicativos de rotas que utilizam IA para distribuir fluxos de trânsito, priorizando meios de transporte não poluentes. O uso combinado de frotas autônomas e sensores IoT reduziu congestionamentos e a dor crônica urbana do tráfego lento, resultando em ganhos claros para a economia local e saúde da população.\\n\\n### Falhas e Riscos: Automação Excessiva\\n\\nEntretanto, não são raros os casos em que a sobrecarga tecnológica agrava problemas urbanos, tornando as cidades dependentes de sistemas pouco resilientes. Projetos que apostaram em automação intensiva sem considerar aspectos sociais e ambientais enfrentaram problemas como isolamento digital, falhas em contingência e degradação do clima local, evidenciando que mais tecnologia nem sempre significa melhor resultado.[2]\\n\\n## Indicadores-Chave e Métricas para Mensurar Impactos\\n\\nMedir o sucesso das tecnologias em cidades inteligentes requer indicadores claros e multidimensionais, como:\\n\\n- **Redução do congestionamento:** Métricas quantitativas baseadas em dados de tráfego em tempo real e duração média de deslocamentos.\\n- **Emissão de poluentes:** Monitoramento contínuo da qualidade do ar com sensores ambientais distribuídos na cidade.\\n- **Satisfação dos moradores:** Pesquisas regulares e análise de dados de saúde pública para avaliar o impacto na qualidade de vida.\\n- **Resiliência social e ambiental:** Índices que medem capacidade da cidade em responder a emergências sem falhas sistêmicas.\\n- **Inclusão digital:** Cobertura e uso real de redes públicas de internet, garantindo acesso universal.\\n\\nEssas métricas, validadas e cruzadas via IA, orientam decisões estratégicas, aprimorando o ciclo de inovação urbana.\\n\\n## Quando NÃO Aplicar Automação Intensiva: Riscos e Limites\\n\\nA automação é uma ferramenta poderosa, mas seu uso indiscriminado pode criar desafios sérios. Cenários em que a automação intensiva pode prejudicar a resiliência social e ambiental incluem:\\n\\n- Áreas com baixa inclusão digital, onde a população não está preparada para interagir com sistemas automatizados, criando exclusão e desigualdade.[1]\\n- Dependência excessiva de tecnologias sem planos robustos de contingência, causando paralisações em caso de falhas técnicas.\\n- Projetos que não consideram o impacto ambiental local, agravando ilhas de calor ou poluição por consumo energético massificado.[2]\\n- Subestimação das necessidades humanas e sociais, produzindo ambientes impessoais e difíceis de serem apropriados pelos cidadãos.\\n\\nContudo, mesmo nesses casos, decisões inteligentes baseadas em boas práticas da IA e automação geram valor superior aos métodos convencionais, pois permitem identificar e mitigar riscos antecipadamente, promovendo a cultura de melhoria contínua.\\n\\n## Como Implementar: Frameworks e Recomendações Práticas\\n\\nPara gestores públicos e empresariais que buscam implementar essas tecnologias de forma estratégica segue um passo a passo:\\n\\n1. **Mapeamento dos desafios urbanos locais:** clima, mobilidade, segurança e inclusão.\\n2. **Definição de indicadores de sucesso claros e alinhados à qualidade de vida:** congestionamento, emissões, satisfação.\\n3. **Parceria com especialistas em IA e automação:** integração de sensores, software e plataformas.\\n4. **Adoção de tecnologias interoperáveis:** IoT, edge computing e conectividade 6G para tempo real.\\n5. **Planejamento de contingência e capacitação da população:** garantindo resiliência.\\n6. **Avaliação contínua e ajustes com base em dados:** via dashboards e gêmeos digitais.\\n\\nErros a evitar:\\n\\n- Ignorar fatores culturais e sociais locais,\\n- Priorizar apenas métricas técnicas de eficiência,\\n- Implementar tecnologias isoladas sem integração com a gestão urbana.\\n\\nSão passos concretos que ajudam a consolidar cidades inteligentes e humanas, possibilitando que IA e automação maximizem o potencial urbanístico.\\n\\n## Conclusão\\n\\nAs cidades inteligentes de 2026 mostram que a inteligência artificial e automações empresariais são forças transformadoras decisivas para alavancar eficiência, sustentabilidade e qualidade de vida de forma integrada. Sistemas avançados de mobilidade, análise ambiental preditiva e arquiteturas sustentáveis orientadas por IA deixam para trás o mito tecnológico contra o conforto ambiental, revelando um modelo urbano mais harmonioso e competitivo.\\n\\nOs gestores que decidirem investir em estratégias inteligentes, com atenção a indicadores-chave e às limitações potenciais, colherão benefícios tangíveis em saúde, segurança, e inclusão digital para suas comunidades. Assim, novas cidades poderão ser não apenas mais tecnológicas, mas ambientes verdadeiramente agradáveis para viver, refletindo o futuro esperançoso que a automação e a IA oferecem.\\n\\nE você, qual equilíbrio entre tecnologia e qualidade ambiental mais impacta a vida dos habitantes na sua cidade? Como a inteligência artificial pode ajudar na sua gestão urbana para aprimorar esse equilíbrio? Reflita e inicie hoje a transformação estratégica de sua cidade.\\n\\n---\\n\\n## Fontes e Referências\\n\\n- Tendências para a Gestão de Smart Cities em 2026 - Blog da Exati  \\n  https://blog.exati.com.br/tendencias-gestao-de-smart-cities-2026/\\n\\n- Inteligência Artificial: O motor das Cidades Inteligentes do futuro - The Shift  \\n  https://theshift.info/hot/inteligencia-artificial-o-motor-das-cidades-inteligentes-do-futuro/\\n\\n- Smart City Expo Curitiba 2026 – Site oficial  \\n  https://smartcityexpocuritiba.com\\n\\n- 2026: o ano da virada para a inteligência artificial e os robôs humanoides - Exame  \\n  https://exame.com/bussola/2026-o-ano-da-virada-para-a-inteligencia-artificial-e-os-robos-humanoides/\\n\\n- IAs devem ser mais integradas aos humanos em 2026 - A Tarde  \\n  https://atarde.com.br/tecnologia/ias-devem-ser-mais-integradas-aos-humanos-em-2026-1373850\\n\\n- Tendências globais de IA para 2026 segundo centros de pesquisa - Dataex  \\n  https://www.dataex.com.br/tendencias-globais-de-ia-para-2026-segundo-centros-de-pesquisa/\\n\\n- CES 2026: Onde locais inteligentes encontram futuros inteligentes - Beonic  \\n  https://pt.beonic.com/blog/ces-2026-where-intelligent-places-meet-intelligent-futures\\n\\n- Especialista do IEEE prevê mais avanços da Inteligência Artificial para 2026 - Inforchannel  \\n  https://inforchannel.com.br/2025/12/10/especialista-do-ieee-preve-mais-avancos-da-inteligencia-artificial-para-2026/\",\n  \"dados_empresa\": \"Cliente:  MIA Ramo: inteligência artificial e automações empresariais target_audience: desenvolvedores, empresários de tech, CTOs, investidores em IA, cientistas de dados, gestores de inovação, profissionais de automação keywords_context: machine learning, LLMs, ChatGPT, Claude, automação de processos, RPA, deep learning, modelos generativos, IA empresarial, transformação digital, chatbots, regulação de IA, ética em IA, AGI, computer vision, NLP, workflow automation criterios_relevancia: avanços tecnológicos em IA, lançamentos de modelos e ferramentas, casos de uso empresarial, ROI de automação, regulamentações e ética, investimentos no setor, pesquisas científicas, aplicações práticas em negócios, produtividade e eficiência operacional\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -64
      ],
      "id": "f72dd91a-c0f8-4d84-8175-65443f0c9ce2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        160
      ],
      "id": "4c1927b1-bb9b-47eb-a344-8a4462b7d805",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UwoliaFEOcW8kEZD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Código para nó Code no n8n\n// Extrai legenda do Whatsapp gerada pela IA\n\nconst items = $input.all();\nconst legendas = [];\n\nfor (const item of items) {\n  try {\n    // Tenta acessar o output da IA\n    let rawOutput = item.json.output || item.json.text || item.json;\n    \n    // Se for string, faz o parse\n    if (typeof rawOutput === 'string') {\n      // Remove markdown e prefixos\n      rawOutput = rawOutput\n        .replace(/```json\\n?/g, '')\n        .replace(/```\\n?/g, '')\n        .trim();\n      \n      // Parse do JSON\n      const parsed = JSON.parse(rawOutput);\n      legendas.push(parsed);\n    } \n    // Se já for objeto\n    else if (typeof rawOutput === 'object' && !Array.isArray(rawOutput)) {\n      legendas.push(rawOutput);\n    }\n    \n  } catch (error) {\n    console.error('Erro ao processar legenda:', error.message);\n    console.error('Raw output:', item.json.output || item.json.text || item.json);\n  }\n}\n\n// Valida se temos legendas\nif (legendas.length === 0) {\n  throw new Error('Nenhuma legenda foi extraída. Verifique o formato da resposta da IA.');\n}\n\n// Retorna cada legenda como um item separado\nreturn legendas.map((legenda) => {\n  // Validação básica\n  if (!legenda.legenda_whatsapp) {\n    console.warn('Legenda sem conteúdo, pulando...');\n    return null;\n  }\n  \n  return {\n    json: {\n      legenda_whatsapp: legenda.legenda_whatsapp\n    }\n  };\n}).filter(item => item !== null); // Remove items inválidos"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -64
      ],
      "id": "42e62f3a-01d9-4336-9595-66908d67b508",
      "name": "Resultado da IA"
    },
    {
      "parameters": {
        "height": 464,
        "width": 848,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -160
      ],
      "typeVersion": 1,
      "id": "0cd23481-9cd7-4889-8aa5-4d38961eefcd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto Temporal\nDia Atual: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2,'0') }}:{{ $now.minute.toString().padStart(2,'0') }}\nAno de referência: 2026.\n---\nDados da empresa:\n{{ $json.dados_empresa }}\n---\nArtigo base para o post:\n{{ $json.artigo }}\n---\nIDENTIDADE E OBJETIVO\nVocê é um especialista em criação de legendas para WhatsApp, trabalhando para a empresa {{ $json.dados_empresa }}.\nSua missão é criar uma legenda profissional, persuasiva e altamente engajadora para um post baseado nos Dados da empresa fornecidos e no artigo fornecido.\n---\nOBJETIVO\nCriar texto persuasivo, conciso e direto que resuma e amplifique o conteúdo do post para compartilhamento via WhatsApp.\n---\nESTRUTURA OBRIGATÓRIA\nA legenda deve seguir EXATAMENTE esta estrutura em 4 parágrafos COM QUEBRAS DE LINHA OBRIGATÓRIAS:\n\nPARÁGRAFO 1 - CONTEXTUALIZAÇÃO (1-2 linhas MÁXIMO)\nApresente de forma clara e objetiva APENAS o tema principal.\nFoque EXCLUSIVAMENTE na NOVIDADE, ATUALIZAÇÃO, MUDANÇA ou INFORMAÇÃO RELEVANTE.\nSeja direto e informativo, destacando SOMENTE o que aconteceu ou está acontecendo.\nTERMINE COM PONTO FINAL.\n\nADICIONE DUAS QUEBRAS DE LINHA (\\n\\n) APÓS ESTE PARÁGRAFO\n\nPARÁGRAFO 2 - O QUE ISSO SIGNIFICA (1-2 linhas MÁXIMO)\nExplique APENAS a essência, objetivo ou razão por trás da informação.\nUse linguagem acessível mas profissional.\nTraduza a informação técnica em entendimento prático.\nTERMINE COM PONTO FINAL.\n\nADICIONE DUAS QUEBRAS DE LINHA (\\n\\n) APÓS ESTE PARÁGRAFO\n\nPARÁGRAFO 3 - COMO ISSO IMPACTA O NEGÓCIO (1-2 linhas MÁXIMO)\nTraduza APENAS em impactos práticos, ações necessárias ou oportunidades.\nDestaque necessidades de adaptação, oportunidades, riscos ou benefícios.\nMantenha tom consultivo e orientativo.\nTERMINE COM PONTO FINAL.\n\nADICIONE DUAS QUEBRAS DE LINHA (\\n\\n) APÓS ESTE PARÁGRAFO\n\nPARÁGRAFO 4 - DESENVOLVIMENTO E FECHAMENTO (2-4 linhas)\nAQUI você pode desenvolver informações complementares, dados adicionais, contexto extra ou insights que enriqueçam o conteúdo.\nFinalize com uma conclusão direta e frase de impacto sobre o resultado ou ação necessária.\nTERMINE COM PONTO FINAL.\n---\nREGRAS CRÍTICAS DE FORMATAÇÃO - LEIA COM ATENÇÃO\n✓ OBRIGATÓRIO: Insira DUAS quebras de linha (\\n\\n) entre CADA parágrafo\n✓ Os 3 PRIMEIROS parágrafos devem ser CONCISOS (1-2 linhas cada)\n✓ Cada um dos 3 primeiros parágrafos DEVE terminar com PONTO FINAL\n✓ O 4º parágrafo pode ser mais extenso e conter informações complementares\n✓ Tamanho total da legenda: 400-600 caracteres\n✓ NUNCA junte todos os parágrafos em um bloco único de texto\n✓ A legenda PRECISA ter 4 blocos de texto separados visualmente\n---\nEXEMPLO DE FORMATO CORRETO (ESTRUTURA):\n\nParágrafo 1 aqui terminando em ponto final.\n\nParágrafo 2 aqui terminando em ponto final.\n\nParágrafo 3 aqui terminando em ponto final.\n\nParágrafo 4 aqui com mais desenvolvimento e fechamento terminando em ponto final.\n---\nDIRETRIZES PARA A LEGENDA\nTom: Profissional, informativo e persuasivo\nTamanho: 400-600 caracteres (conciso e denso)\nFormatação: OBRIGATÓRIO usar quebras de linha duplas (\\n\\n) entre cada parágrafo\nLinguagem: Direta, sem floreios, focada em insights práticos\nHashtags: NÃO use hashtags (formato WhatsApp)\nEmojis: NÃO use emojis\nNUNCA use travessão \"-\" na legenda\nAdapte a linguagem ao contexto do conteúdo (tributário, fiscal, regulatório, mercado, tecnologia, etc)\n---\nFORMATO DE SAÍDA\nRetorne APENAS um JSON válido com as quebras de linha preservadas:\n{\n  \"legenda_whatsapp\": \"Parágrafo 1.\\n\\nParágrafo 2.\\n\\nParágrafo 3.\\n\\nParágrafo 4.\"\n}\n---\nCHECKLIST FINAL\n✓ Legenda com 400-550 caracteres\n✓ 4 parágrafos SEPARADOS por quebras de linha duplas (\\n\\n)\n✓ 3 primeiros parágrafos CONCISOS (1-2 linhas cada) terminando em PONTO FINAL\n✓ 3 primeiros parágrafos seguem: Contextualização → O que significa → Impacto no negócio\n✓ 4º parágrafo contém desenvolvimento adicional e fechamento\n✓ Tom profissional e persuasivo\n✓ SEM hashtags (formato WhatsApp)\n✓ SEM emojis\n✓ ZERO travessões \"-\"\n✓ JSON válido com \\n\\n preservados\n✓ Zero texto fora do JSON\n---\nPADRÃO DE EXCELÊNCIA\n\"Eu compartilharia isso no WhatsApp?\"\n\"A mensagem tem 4 blocos visuais separados?\"\n\"Os 3 primeiros parágrafos são objetivos e terminam em ponto final?\"\n\"O 4º parágrafo complementa e fecha com impacto?\"\n\"As quebras de linha estão presentes?\"\n\"Gera valor imediato para quem lê?\"\n\nGERE AGORA A LEGENDA SEGUINDO TODAS AS DIRETRIZES ACIMA. LEMBRE-SE: USE \\n\\n ENTRE OS PARÁGRAFOS!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -64
      ],
      "id": "653b8e42-b9ab-4785-ad48-0a5b56b4bf4d",
      "name": "IA - Criador de legenda - Whatsapp"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "IA - Criador de legenda - Whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA - Criador de legenda - Whatsapp",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IA - Criador de legenda - Whatsapp": {
      "main": [
        [
          {
            "node": "Resultado da IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "xfondpEOYdGLoDo4",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": null,
  "versionId": "1fdcafed-56ef-4974-9021-9705d97cdf0a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-15T03:14:27.585Z",
      "createdAt": "2026-01-15T03:14:27.585Z",
      "role": "workflow:owner",
      "workflowId": "vfwBhgm7Qf17IHVn",
      "projectId": "nRxOu1L1N41Jyveq"
    }
  ],
  "activeVersion": null,
  "tags": []
}